Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

fix(runtime-vapor): hydrate missing text among element children
  packages/compiler-vapor/__tests__/__snapshots__/compile.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/expression.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformChildren.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformText.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vOnce.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/transformText.spec.ts
  packages/compiler-vapor/src/generators/template.ts
  packages/compiler-vapor/src/ir/index.ts
  packages/compiler-vapor/src/transforms/transformText.ts
  packages/runtime-vapor/__tests__/hydration/basic.spec.ts
  packages/runtime-vapor/src/dom/hydration.ts
  packages/runtime-vapor/src/dom/node.ts
Due: packages

fix(runtime-vapor): hydrate empty text blocks in place
  packages/runtime-vapor/__tests__/hydration/basic.spec.ts
  packages/runtime-vapor/__tests__/hydration/for.spec.ts
  packages/runtime-vapor/__tests__/hydration/if.spec.ts
  packages/runtime-vapor/__tests__/hydration/interopStructure.spec.ts
  packages/runtime-vapor/__tests__/hydration/slots.spec.ts
  packages/runtime-vapor/src/dom/hydration.ts
Due: packages

fix(runtime-vapor): preserve fragment ownership when hydrating empty text
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vIf.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vIf.spec.ts
  packages/compiler-vapor/src/utils.ts
  packages/runtime-vapor/__tests__/hydration/basic.spec.ts
  packages/runtime-vapor/__tests__/hydration/if.spec.ts
  packages/runtime-vapor/src/apiCreateIf.ts
  packages/runtime-vapor/src/dom/hydration.ts
Due: packages

refactor(compiler-vapor): reuse parser options for newline handling
  packages/compiler-dom/src/index.ts
  packages/compiler-dom/src/parserOptions.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
  packages/runtime-vapor/__tests__/dom/template.spec.ts
Due: packages, compiler-dom

fix(compiler-vapor): keep the leading newline of pre and textarea (#15543)
  packages/compiler-vapor/__tests__/transforms/transformElement.spec.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
  packages/runtime-vapor/__tests__/dom/template.spec.ts
Due: packages

fix(runtime-vapor): preserve hydrated slot start anchors
  packages/runtime-vapor/__tests__/hydration/interopSlots.spec.ts
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(runtime-vapor): resolve nodes of a vdom child rooted at a slot outlet (#15542)
  packages/runtime-vapor/__tests__/hydration/interopSlots.spec.ts
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

feat(compiler-sfc): support top-level patterned templates
  packages/compiler-core/__tests__/patterns.spec.ts
  packages/compiler-core/src/ast.ts
  packages/compiler-core/src/patterns.ts
  packages/compiler-core/src/transforms/transformExpression.ts
  packages/compiler-core/src/transforms/vMatch.ts
  packages/compiler-core/src/utils.ts
  packages/compiler-sfc/__tests__/vMatch.spec.ts
  packages/compiler-sfc/src/parse.ts
  packages/compiler-sfc/src/template/resolveTemplateAST.ts
  packages/compiler-sfc/src/template/templateUtils.ts
  packages/compiler-vapor/src/generators/expression.ts
  packages/runtime-vapor/__tests__/hydration/vMatch.spec.ts
  packages/runtime-vapor/__tests__/vMatch.spec.ts
Due: packages, compiler-core, compiler-sfc

fix(compiler-vapor): preserve parentheses in cached binary expressions
  packages/compiler-vapor/__tests__/transforms/expression.spec.ts
  packages/compiler-vapor/src/generators/expression.ts
Due: packages

fix(compiler-vapor): preserve parentheses in cached binary expressions (#15544)
  packages/compiler-vapor/__tests__/transforms/expression.spec.ts
  packages/compiler-vapor/src/generators/expression.ts
Due: packages

fix(compiler-vapor): preserve identifier collection for unsupported expressions
  packages/compiler-vapor/__tests__/transforms/expression.spec.ts
  packages/compiler-vapor/src/generators/expression.ts
Due: packages

fix(compiler-vapor): do not cache member expressions with unsupported keys
  packages/compiler-vapor/__tests__/transforms/__snapshots__/expression.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/expression.spec.ts
  packages/compiler-vapor/src/generators/expression.ts
Due: packages

fix(compiler-vapor): do not cache member expressions with unsupported keys (#15540)
  packages/compiler-vapor/__tests__/transforms/__snapshots__/expression.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/expression.spec.ts
  packages/compiler-vapor/src/generators/expression.ts
Due: packages

fix(compiler-vapor): keep number literals on slot outlet props (#15539)
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformSlotOutlet.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/transformSlotOutlet.spec.ts
  packages/compiler-vapor/src/transforms/vBind.ts
  packages/runtime-vapor/__tests__/componentSlots.spec.ts
  packages/runtime-vapor/__tests__/hydration/slots.spec.ts
Due: packages

fix(compiler-vapor): preserve number literals on custom element props
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vBind.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vBind.spec.ts
  packages/compiler-vapor/src/transforms/vBind.ts
  packages/runtime-vapor/__tests__/customElement.spec.ts
Due: packages

fix(compiler-vapor): replace repeated expressions only at exact AST node ranges
  packages/compiler-vapor/__tests__/transforms/__snapshots__/expression.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/expression.spec.ts
  packages/compiler-vapor/src/generators/expression.ts
Due: packages

fix(compiler-vapor): preserve template text and types during caching
  packages/compiler-vapor/__tests__/transforms/expression.spec.ts
  packages/compiler-vapor/src/generators/expression.ts
Due: packages

fix(compiler-vapor): preserve local bindings in expression caching
  packages/compiler-vapor/__tests__/transforms/expression.spec.ts
  packages/compiler-vapor/src/generators/expression.ts
Due: packages

fix(runtime-vapor): read emit listeners from the current vnode in vdom interop
  packages/runtime-core/src/index.ts
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/componentEmits.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages, runtime-core

fix(runtime-vapor): read emit listeners from the current vnode in vdom interop (#15547)
  packages/runtime-core/src/index.ts
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/componentEmits.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages, runtime-core

test(transition-group): allow zero progress at transition start
  packages/vue/__tests__/e2e/TransitionGroup.spec.ts
Due: packages, vue

fix(runtime-core): unmount v-once children after parent rerenders (#15435)
  packages/runtime-core/__tests__/rendererOptimizedMode.spec.ts
  packages/runtime-core/src/renderer.ts
  packages/runtime-core/src/vnode.ts
  packages/vue/__tests__/index.spec.ts
Due: packages, runtime-core, vue

fix(shared): preserve comment-like text in style values (#15471)
  packages/compiler-dom/__tests__/transforms/transformStyle.spec.ts
  packages/shared/__tests__/normalizeProp.spec.ts
  packages/shared/src/normalizeProp.ts
Due: packages, compiler-dom, shared

fix(compiler-sfc): reuse parsed parent configs across tsconfig walks (fix #15478) (#15480)
  packages/compiler-sfc/__tests__/compileScript/resolveType.spec.ts
  packages/compiler-sfc/src/script/resolveType.ts
Due: packages, compiler-sfc

fix(compiler-sfc): prepend semicolon for await in switch case (#15498)
  packages/compiler-sfc/__tests__/__snapshots__/compileScript.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript.spec.ts
  packages/compiler-sfc/src/compileScript.ts
Due: packages, compiler-sfc

fix(shared): handle circular references in looseEqual (#15499)
  packages/shared/__tests__/looseEqual.spec.ts
  packages/shared/src/looseEqual.ts
Due: packages, shared

fix(types): keep optional props when a runtime prop uses a generic PropType (#15523)
  packages-private/dts-test/setupHelpers.test-d.ts
  packages/runtime-core/src/componentProps.ts
Due: packages, runtime-core

ci: update pnpm action for pnpm 12 support
  .github/workflows/autofix.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/size-data.yml
  .github/workflows/size-report.yml
  .github/workflows/test.yml
Due: none

perf(reactivity): hoist readonly array wrapping checks
  packages/reactivity/__tests__/readonly.spec.ts
  packages/reactivity/src/arrayInstrumentations.ts
Due: packages, reactivity

fix(reactivity): preserve readonly wrappers in array copy methods (#15469)
  packages/reactivity/__tests__/readonly.spec.ts
  packages/reactivity/src/arrayInstrumentations.ts
Due: packages, reactivity

fix(compiler-sfc): ignore comment delimiters inside strings and url() when parsing css vars
  packages/compiler-sfc/__tests__/cssVars.spec.ts
  packages/compiler-sfc/src/style/cssVars.ts
Due: packages, compiler-sfc

chore: update
  packages/compiler-sfc/__tests__/cssVars.spec.ts
  packages/compiler-sfc/src/style/cssVars.ts
Due: packages, compiler-sfc

fix: treat an escaped CRLF inside a string as a continuation
  packages/compiler-sfc/__tests__/cssVars.spec.ts
  packages/compiler-sfc/src/style/cssVars.ts
Due: packages, compiler-sfc

fix(compiler-sfc): ignore comment delimiters inside strings and url() when parsing css vars (#15548)
  packages/compiler-sfc/__tests__/cssVars.spec.ts
  packages/compiler-sfc/src/style/cssVars.ts
Due: packages, compiler-sfc

chore: remove and ignore generated git hooks
  .gitignore
  .vite-hooks/_/commit-msg
  .vite-hooks/_/pre-commit
Due: none

release: v3.5.43
  CHANGELOG.md
  package.json
  packages/compiler-core/package.json
  packages/compiler-dom/package.json
  packages/compiler-sfc/package.json
  packages/compiler-ssr/package.json
  packages/reactivity/package.json
  packages/runtime-core/package.json
  packages/runtime-dom/package.json
  packages/server-renderer/package.json
  packages/shared/package.json
  packages/vue-compat/package.json
  packages/vue/package.json
Due: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, runtime-core, runtime-dom, server-renderer, shared, vue, vue-compat

Path conditions:
  packages: any of: packages/
  compiler-core: any of: packages/compiler-core/
  compiler-dom: any of: packages/compiler-dom/
  compiler-sfc: any of: packages/compiler-sfc/
  reactivity: any of: packages/reactivity/
  reactivity-transform: any of: packages/reactivity-transform/
  runtime-core: any of: packages/runtime-core/
  runtime-dom: any of: packages/runtime-dom/
  runtime-test: any of: packages/runtime-test/
  server-renderer: any of: packages/server-renderer/
  sfc-playground: any of: packages/sfc-playground/
  shared: any of: packages/shared/
  size-check: any of: packages/size-check/
  template-explorer: any of: packages/template-explorer/
  vue: any of: packages/vue/
  vue-compat: any of: packages/vue-compat/
