Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

fix(compiler-sfc): support as keyword with template literal types
  packages/compiler-sfc/__tests__/compileScript/resolveType.spec.ts
  packages/compiler-sfc/src/script/resolveType.ts
Due: packages, compiler-sfc

fix(compiler-sfc): support as keyword with template literal types (#11100)
  packages/compiler-sfc/__tests__/compileScript/resolveType.spec.ts
  packages/compiler-sfc/src/script/resolveType.ts
Due: packages, compiler-sfc

fix(compile-sfc): Support project reference with folder, (#10908)
  packages/compiler-sfc/__tests__/compileScript/resolveType.spec.ts
  packages/compiler-sfc/src/script/resolveType.ts
Due: packages, compiler-sfc

refactor(shared): improve handling of out-of-range start and end values in generateCodeFrame (#10883)
  packages/shared/__tests__/__snapshots__/codeframe.spec.ts.snap
  packages/shared/__tests__/codeframe.spec.ts
  packages/shared/src/codeframe.ts
Due: packages, shared

fix(npm): explicitly add `@vue/reactivity` as dependency of `@vue/runtime-dom` (#10468)
  packages/runtime-dom/package.json
  pnpm-lock.yaml
Due: packages, runtime-dom

fix(types/apiWatch): correct type inference for reactive array (#11036)
  packages/dts-test/reactivity.test-d.ts
  packages/dts-test/watch.test-d.ts
  packages/reactivity/src/index.ts
  packages/reactivity/src/reactive.ts
  packages/runtime-core/src/apiWatch.ts
  packages/runtime-core/src/index.ts
Due: packages, reactivity, runtime-core

fix(types): improve `app.provide` type checking (#10603)
  packages/dts-test/inject.test-d.ts
  packages/runtime-core/src/apiCreateApp.ts
Due: packages, runtime-core

chore: add isSlotFallback
  packages/runtime-core/src/helpers/renderSlot.ts
  packages/runtime-core/src/renderer.ts
  packages/runtime-core/src/vnode.ts
Due: packages, runtime-core

chore: typo
  packages/runtime-core/src/renderer.ts
  packages/runtime-core/src/vnode.ts
Due: packages, runtime-core

Update props.ts
  packages/runtime-dom/src/modules/props.ts
Due: packages, runtime-dom

chore: tweaks
  packages/runtime-core/src/helpers/renderSlot.ts
Due: packages, runtime-core

chore: tweaks
  packages/runtime-core/__tests__/rendererOptimizedMode.spec.ts
Due: packages, runtime-core

fix(runtime-dom): support Symbol for input value bindings (#10608)
  packages/runtime-dom/__tests__/patchAttrs.spec.ts
  packages/runtime-dom/src/modules/attrs.ts
  packages/runtime-dom/src/modules/props.ts
Due: packages, runtime-dom

chore: fix release script type
  scripts/release.js
Due: none

refactor(runtime-core): extract getComponentPublicInstance helper
  packages/runtime-core/src/apiCreateApp.ts
  packages/runtime-core/src/component.ts
  packages/runtime-core/src/componentPublicInstance.ts
  packages/runtime-core/src/directives.ts
  packages/runtime-core/src/rendererTemplateRef.ts
Due: packages, runtime-core

fix(ssr): directive binding.instance should respect exposed during ssr
  packages/runtime-core/src/index.ts
  packages/server-renderer/__tests__/ssrDirectives.spec.ts
  packages/server-renderer/src/helpers/ssrGetDirectiveProps.ts
Due: packages, runtime-core, server-renderer

docs: fix typo
  packages/runtime-core/src/apiSetupHelpers.ts
Due: packages, runtime-core

feat(runtime-vapor): slot props (#227)
  packages/runtime-vapor/__tests__/componentSlots.spec.ts
  packages/runtime-vapor/src/componentSlots.ts
  packages/runtime-vapor/src/dom/prop.ts
Due: packages

chore: update readme
  README.md
Due: none

fix: hydrate text children with new line
  packages/compiler-core/src/parser.ts
  packages/runtime-core/src/hydration.ts
Due: packages, compiler-core, runtime-core

docs: fix typo (#11105)
  packages/runtime-core/src/apiSetupHelpers.ts
Due: packages, runtime-core

feat(security): add @RedYetiDev to HoF
  SECURITY.md
Due: none

fix(runtime-core): avoid traversing static children for vnodes w/ PatchFlags.BAIL
  packages/runtime-core/__tests__/rendererFragment.spec.ts
  packages/runtime-core/src/renderer.ts
Due: packages, runtime-core

fix(rollup-plugin-dts): update warning message for missing temp/packages
  rollup.dts.config.js
Due: none

fix(rollup-plugin-dts.js): update warning message for missing `temp/packages`
  rollup.dts.config.js
Due: none

feat: support `set` and `delete`
  packages/reactivity/__tests__/ref.spec.ts
  packages/reactivity/src/ref.ts
Due: packages, reactivity

feat: support `set` and `delete`
  packages/reactivity/src/ref.ts
Due: packages, reactivity

perf: replace startsWith with ===
  packages/compiler-sfc/src/script/resolveType.ts
  scripts/size-report.ts
Due: packages, compiler-sfc

refactor(runtime-dom): use simple Position object instead of DOMRect in transition group positioning
  packages/runtime-dom/src/components/TransitionGroup.ts
Due: packages, runtime-dom

fix(runtime-core): fix unwanted warning with disabled compat flag
  packages/runtime-core/src/compat/compatConfig.ts
  packages/vue-compat/__tests__/misc.spec.ts
Due: packages, runtime-core, vue-compat

fix(compiler-sfc): support keyof for intersection types
  packages/compiler-sfc/__tests__/compileScript/resolveType.spec.ts
  packages/compiler-sfc/src/script/resolveType.ts
Due: packages, compiler-sfc

fix(complier-sfc): handle keyof operator
  packages/compiler-sfc/src/script/resolveType.ts
Due: packages, compiler-sfc

chore(perf): replace startsWith with === (#11124)
  packages/compiler-sfc/src/script/resolveType.ts
  scripts/size-report.ts
Due: packages, compiler-sfc

chore(security): add @RedYetiDev to HoF (#11114)
  SECURITY.md
Due: none

chore(build): update warning message for missing `temp/packages` (#11120)
  rollup.dts.config.js
Due: none

fix(compat): only warn ATTR_FALSE_VALUE when enabled
  packages/runtime-dom/src/modules/attrs.ts
  packages/vue-compat/__tests__/misc.spec.ts
Due: packages, runtime-dom, vue-compat

fix: also cover union type
  packages/compiler-sfc/__tests__/compileScript/resolveType.spec.ts
  packages/compiler-sfc/src/script/resolveType.ts
Due: packages, compiler-sfc

chore: improve test case
  packages/compiler-sfc/__tests__/compileScript/resolveType.spec.ts
Due: packages, compiler-sfc

Path conditions:
  packages: any of: packages/
  compiler-core: any of: packages/compiler-core/
  compiler-dom: any of: packages/compiler-dom/
  compiler-sfc: any of: packages/compiler-sfc/
  reactivity: any of: packages/reactivity/
  reactivity-transform: any of: packages/reactivity-transform/
  runtime-core: any of: packages/runtime-core/
  runtime-dom: any of: packages/runtime-dom/
  runtime-test: any of: packages/runtime-test/
  server-renderer: any of: packages/server-renderer/
  sfc-playground: any of: packages/sfc-playground/
  shared: any of: packages/shared/
  size-check: any of: packages/size-check/
  template-explorer: any of: packages/template-explorer/
  vue: any of: packages/vue/
  vue-compat: any of: packages/vue-compat/
