Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

codecov.yml:

coverage:
  status:
    project:
      default:
        # Status checks are set to be non-blocking
        informational: true
    patch:
      default:
        # Status checks are set to be non-blocking
        informational: true

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: packages
      paths:
        - packages/
    - component_id: compiler-core
      paths:
        - packages/compiler-core/
    - component_id: compiler-dom
      paths:
        - packages/compiler-dom/
    - component_id: compiler-sfc
      paths:
        - packages/compiler-sfc/
    - component_id: compiler-sfc
      paths:
        - packages/compiler-sfc/
    - component_id: reactivity
      paths:
        - packages/reactivity/
    - component_id: reactivity-transform
      paths:
        - packages/reactivity-transform/
    - component_id: runtime-core
      paths:
        - packages/runtime-core/
    - component_id: runtime-dom
      paths:
        - packages/runtime-dom/
    - component_id: runtime-test
      paths:
        - packages/runtime-test/
    - component_id: server-renderer
      paths:
        - packages/server-renderer/
    - component_id: sfc-playground
      paths:
        - packages/sfc-playground/
    - component_id: shared
      paths:
        - packages/shared/
    - component_id: size-check
      paths:
        - packages/size-check/
    - component_id: template-explorer
      paths:
        - packages/template-explorer/
    - component_id: vue
      paths:
        - packages/vue/
    - component_id: vue-compat
      paths:
        - packages/vue-compat/

fix: set fallback key
  packages/runtime-vapor/__tests__/components/Transition.spec.ts
  packages/runtime-vapor/src/fragment.ts
Due: packages

fix(runtime-vapor): apply transition hooks to slot fallbacks (#14853)
  packages/runtime-vapor/__tests__/components/Transition.spec.ts
  packages/runtime-vapor/src/fragment.ts
Due: packages

perf(compiler-vapor): use onBinding helper for reactive events (#14854)
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vOn.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vOn.spec.ts
  packages/compiler-vapor/src/generators/event.ts
  packages/runtime-vapor/__tests__/dom/event.spec.ts
  packages/runtime-vapor/__tests__/dom/prop.spec.ts
  packages/runtime-vapor/src/dom/event.ts
  packages/runtime-vapor/src/dom/prop.ts
  packages/runtime-vapor/src/index.ts
Due: packages

perf(vapor): move event invoker wrapping into runtime helpers
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformElement.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vOn.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vOn.spec.ts
  packages/compiler-vapor/src/generate.ts
  packages/compiler-vapor/src/generators/event.ts
  packages/runtime-vapor/__tests__/componentAttrs.spec.ts
  packages/runtime-vapor/__tests__/dom/event.spec.ts
  packages/runtime-vapor/__tests__/errorHandling.spec.ts
  packages/runtime-vapor/src/dom/event.ts
  packages/runtime-vapor/src/dom/prop.ts
  packages/runtime-vapor/src/index.ts
Due: packages

chore: update
  packages/compiler-vapor/src/generators/component.ts
  packages/compiler-vapor/src/generators/event.ts
  packages/runtime-vapor/src/dom/event.ts
Due: packages

fix(runtime-core): avoid repeated hydration mismatch checks
  packages/runtime-core/__tests__/hydration.spec.ts
  packages/runtime-core/src/hydration.ts
Due: packages, runtime-core

chore: update
  packages/runtime-vapor/src/dom/prop.ts
Due: packages

chore: update
  packages/runtime-vapor/__tests__/errorHandling.spec.ts
  packages/runtime-vapor/src/dom/event.ts
Due: packages

chore: update
  packages/runtime-vapor/src/dom/event.ts
  packages/runtime-vapor/src/dom/prop.ts
Due: packages

chore: update
  packages/runtime-vapor/src/dom/event.ts
Due: packages

perf(vapor): move event invoker wrapping into runtime helpers (#14856)
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformElement.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vOn.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vOn.spec.ts
  packages/compiler-vapor/src/generate.ts
  packages/compiler-vapor/src/generators/component.ts
  packages/compiler-vapor/src/generators/event.ts
  packages/runtime-vapor/__tests__/componentAttrs.spec.ts
  packages/runtime-vapor/__tests__/dom/event.spec.ts
  packages/runtime-vapor/__tests__/errorHandling.spec.ts
  packages/runtime-vapor/src/dom/event.ts
  packages/runtime-vapor/src/dom/prop.ts
  packages/runtime-vapor/src/index.ts
Due: packages

perf(vapor): reduce single binding codegen size
  packages/compiler-vapor/__tests__/__snapshots__/compile.spec.ts.snap
  packages/compiler-vapor/__tests__/__snapshots__/staticTemplate.spec.ts.snap
  packages/compiler-vapor/__tests__/compile.spec.ts
  packages/compiler-vapor/__tests__/transforms/__snapshots__/expression.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/logicalIndex.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformChildren.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformElement.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformKey.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vBind.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vFor.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vHtml.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vIf.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vModel.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vOn.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vSlot.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vText.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/transformChildren.spec.ts
  packages/compiler-vapor/__tests__/transforms/transformElement.spec.ts
  packages/compiler-vapor/__tests__/transforms/vBind.spec.ts
  packages/compiler-vapor/__tests__/transforms/vHtml.spec.ts
  packages/compiler-vapor/__tests__/transforms/vOn.spec.ts
  packages/compiler-vapor/__tests__/transforms/vText.spec.ts
  packages/compiler-vapor/src/generators/block.ts
  packages/compiler-vapor/src/generators/event.ts
  packages/compiler-vapor/src/generators/expression.ts
  packages/compiler-vapor/src/generators/html.ts
  packages/compiler-vapor/src/generators/operation.ts
  packages/compiler-vapor/src/generators/prop.ts
  packages/compiler-vapor/src/generators/text.ts
  packages/runtime-vapor/__tests__/bench/domBinding.bench.ts
  packages/runtime-vapor/__tests__/bench/textBinding.bench.ts
  packages/runtime-vapor/__tests__/renderEffect.spec.ts
  packages/runtime-vapor/src/dom/bindingEffect.ts
  packages/runtime-vapor/src/index.ts
Due: packages

perf(runtime-vapor): reduce dynamic props binding codegen size
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformElement.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/transformElement.spec.ts
  packages/compiler-vapor/src/generators/prop.ts
  packages/runtime-vapor/__tests__/bench/domBinding.bench.ts
  packages/runtime-vapor/__tests__/componentSlots.spec.ts
  packages/runtime-vapor/__tests__/renderEffect.spec.ts
  packages/runtime-vapor/src/dom/bindingEffect.ts
  packages/runtime-vapor/src/index.ts
Due: packages

chore: tweaks
  packages/runtime-vapor/__tests__/renderEffect.spec.ts
Due: packages

ci: update commit SHA
  .github/workflows/release.yml
  .github/workflows/size-report.yml
Due: none

chore: update
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vOn.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vOnce.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vOn.spec.ts
  packages/compiler-vapor/__tests__/transforms/vOnce.spec.ts
  packages/compiler-vapor/src/generators/operation.ts
Due: packages

perf(reactivity): skip type checks for cached proxies
  packages/reactivity/__benchmarks__/reactiveObject.bench.ts
  packages/reactivity/src/reactive.ts
Due: packages, reactivity

fix: avoid duplicate `processExpression` execution on `v-for` key expressions with `v-memo`
  packages/compiler-core/__tests__/transforms/__snapshots__/vMemo.spec.ts.snap
  packages/compiler-core/__tests__/transforms/vMemo.spec.ts
  packages/compiler-core/src/transforms/vFor.ts
Due: packages, compiler-core

test: update snapshot
  packages/compiler-core/__tests__/transforms/__snapshots__/vMemo.spec.ts.snap
Due: packages, compiler-core

fix(runtime-vapor): apply interop scope ids to vapor roots
  packages/runtime-vapor/__tests__/scopeId.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(runtime-vapor): align interop scope id updates with vdom
  packages/runtime-vapor/__tests__/scopeId.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(runtime-vapor): apply interop scope ids to dynamic roots
  packages/runtime-vapor/__tests__/scopeId.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(runtime-vapor): apply interop scope ids to vapor roots (#14863)
  packages/runtime-vapor/__tests__/scopeId.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(runtime-core): skip persisted transition hooks when moving kept-alive nodes (fix #14031)
  packages/runtime-core/__tests__/components/BaseTransition.spec.ts
  packages/runtime-core/src/renderer.ts
Due: packages, runtime-core

fix: without `v-memo`
  packages/compiler-core/__tests__/transforms/vFor.spec.ts
  packages/compiler-core/src/transforms/vFor.ts
Due: packages, compiler-core

ci: pin action versions (#14852)
  .github/workflows/autofix.yml
  .github/workflows/ci.yml
  .github/workflows/close-cant-reproduce-issues.yml
  .github/workflows/ecosystem-ci-trigger.yml
  .github/workflows/lock-closed-issues.yml
  .github/workflows/release.yml
  .github/workflows/size-data.yml
  .github/workflows/size-report.yml
  .github/workflows/test.yml
Due: none

fix(runtime-vapor): animate vapor component moves in TransitionGroup
  packages-private/vapor-e2e-test/__tests__/transition-group.spec.ts
  packages-private/vapor-e2e-test/transition-group/cases/vapor-transition-group/keyed-component-move-after-key-change.vue
  packages-private/vapor-e2e-test/transition-group/components/VaporExpandingItem.vue
  packages/runtime-vapor/__tests__/for.spec.ts
  packages/runtime-vapor/src/apiCreateFor.ts
  packages/runtime-vapor/src/components/TransitionGroup.ts
  packages/runtime-vapor/src/fragment.ts
Due: packages

test(runtime-vapor): cover vapor component moves in vdom TransitionGroup
  packages-private/vapor-e2e-test/__tests__/vdomInterop.spec.ts
  packages-private/vapor-e2e-test/interop/App.vue
  packages-private/vapor-e2e-test/interop/components/VdomTransitionGroup.vue
Due: none

fix(runtime-vapor): animate vdom component moves in vapor TransitionGroup
  packages-private/vapor-e2e-test/__tests__/transition-group.spec.ts
  packages-private/vapor-e2e-test/transition-group/cases/interop/keyed-vdom-component-move-after-key-change.vue
  packages-private/vapor-e2e-test/transition-group/components/VdomExpandingItem.vue
  packages/runtime-vapor/src/components/TransitionGroup.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(runtime-vapor): delegate async root slot wrappers to TransitionGroup
  packages-private/vapor-e2e-test/__tests__/transition-group.spec.ts
  packages-private/vapor-e2e-test/transition-group/cases/vapor-transition-group/async-root-slot-component-move.vue
  packages/runtime-vapor/src/components/Transition.ts
Due: packages

fix(runtime-vapor): track root slot updates in TransitionGroup
  packages-private/vapor-e2e-test/__tests__/transition-group.spec.ts
  packages-private/vapor-e2e-test/transition-group/cases/vapor-transition-group/root-slot-component-move.vue
  packages-private/vapor-e2e-test/transition-group/components/RootSlot.vue
  packages/runtime-vapor/src/components/TransitionGroup.ts
Due: packages

fix(runtime-vapor): defer TransitionGroup moves until child updates flush
  packages-private/vapor-e2e-test/__tests__/transition-group.spec.ts
  packages-private/vapor-e2e-test/transition-group/cases/vapor-transition-group/same-key-component-move-after-prop-change.vue
  packages/runtime-vapor/src/components/TransitionGroup.ts
Due: packages

wip: add tests for v-for with v-if and nested v-for scenarios
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vFor.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vFor.spec.ts
  packages/compiler-vapor/src/generators/for.ts
Due: packages

ci: allow ecosystem-ci trigger to write pull requests
  .github/workflows/ecosystem-ci-trigger.yml
Due: none

ci: allow ecosystem-ci trigger to write pull requests (#14867)
  .github/workflows/ecosystem-ci-trigger.yml
Due: none

fix(runtime-vapor): resolve empty v-for fragment anchors
  packages/runtime-vapor/__tests__/for.spec.ts
  packages/runtime-vapor/src/apiCreateFor.ts
Due: packages

perf(runtime-vapor): specialize v-for block operations (#14825)
  packages/compiler-vapor/__tests__/__snapshots__/compile.spec.ts.snap
  packages/compiler-vapor/__tests__/__snapshots__/staticTemplate.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/logicalIndex.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformKey.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformTemplateRef.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vFor.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vIf.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vOnce.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vSlot.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vFor.spec.ts
  packages/compiler-vapor/src/generators/for.ts
  packages/runtime-vapor/__tests__/bench/block.bench.ts
  packages/runtime-vapor/__tests__/block.spec.ts
  packages/runtime-vapor/__tests__/for.spec.ts
  packages/runtime-vapor/src/apiCreateFor.ts
  packages/runtime-vapor/src/block.ts
  packages/shared/src/vaporFlags.ts
Due: packages, shared

fix(runtime-vapor): avoid effect cleanup for once slot dynamic events
  packages/runtime-vapor/__tests__/componentSlots.spec.ts
  packages/runtime-vapor/src/dom/bindingEffect.ts
Due: packages

test: update snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vFor.spec.ts.snap
Due: packages

wip: save
  packages/runtime-vapor/__tests__/bench/domBinding.bench.ts
  packages/runtime-vapor/__tests__/bench/textBinding.bench.ts
  packages/runtime-vapor/src/dom/bindingEffect.ts
Due: packages
