Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

fix(runtime-vapor): mount interop directives on a nested root once its async setup resolves
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(runtime-vapor): drop the directive record of a root torn down before its setup settles
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(runtime-vapor): queue vnode mounted after the mount a pending async setup completes
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(runtime-vapor): register interop directive hooks once a pending setup has settled
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

refactor(runtime-vapor): trim the pending-setup paths of interop directive mounting
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(runtime-vapor): queue vnode mounted after the mount a pending async setup completes (#15614)
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(runtime-vapor): mount interop directives on a nested root once its async setup resolves (#15615)
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(compiler-sfc): reuse the props destructure scope analysis for the defineModel check
  packages/compiler-sfc/__tests__/compileScript/__snapshots__/defineModel.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript/defineModel.spec.ts
  packages/compiler-sfc/src/compileScript.ts
  packages/compiler-sfc/src/script/definePropsDestructure.ts
Due: packages, compiler-sfc

fix(vapor): hydrate the children of a custom element or plain template
  packages/compiler-vapor/__tests__/__snapshots__/staticTemplate.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformElement.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformText.spec.ts.snap
  packages/compiler-vapor/src/generators/operation.ts
  packages/compiler-vapor/src/generators/template.ts
  packages/compiler-vapor/src/ir/index.ts
  packages/compiler-vapor/src/transforms/transformChildren.ts
  packages/runtime-vapor/__tests__/hydration/basic.spec.ts
  packages/runtime-vapor/src/dom/hydration.ts
  packages/runtime-vapor/src/dom/template.ts
Due: packages

refactor(vapor): reuse InsertionState on the node insert IR node
  packages/compiler-vapor/src/generators/operation.ts
  packages/compiler-vapor/src/ir/index.ts
  packages/compiler-vapor/src/transforms/transformChildren.ts
  packages/runtime-vapor/src/dom/hydration.ts
  packages/runtime-vapor/src/dom/template.ts
Due: packages

test(vapor): hydrate a custom element and a multi-child template
  packages/runtime-vapor/__tests__/hydration/_helpers.ts
  packages/runtime-vapor/__tests__/hydration/basic.spec.ts
Due: packages

refactor(runtime-vapor): scope the children hydration fix to custom elements
  packages/runtime-vapor/__tests__/hydration/basic.spec.ts
  packages/runtime-vapor/src/dom/hydration.ts
Due: packages

fix(runtime-vapor): seed an initially empty text child during hydration
  packages/runtime-vapor/__tests__/hydration/basic.spec.ts
  packages/runtime-vapor/src/dom/hydration.ts
  packages/runtime-vapor/src/dom/template.ts
Due: packages

test(runtime-vapor): cover more custom element children hydration shapes
  packages/compiler-vapor/src/transforms/transformChildren.ts
  packages/runtime-vapor/__tests__/hydration/basic.spec.ts
  packages/runtime-vapor/src/dom/hydration.ts
  packages/runtime-vapor/src/dom/template.ts
Due: packages

fix(vapor): hydrate custom element children (#15595)
  packages/compiler-vapor/__tests__/__snapshots__/staticTemplate.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformElement.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformText.spec.ts.snap
  packages/compiler-vapor/src/generators/operation.ts
  packages/compiler-vapor/src/generators/template.ts
  packages/compiler-vapor/src/ir/index.ts
  packages/compiler-vapor/src/transforms/transformChildren.ts
  packages/runtime-vapor/__tests__/hydration/_helpers.ts
  packages/runtime-vapor/__tests__/hydration/basic.spec.ts
  packages/runtime-vapor/src/dom/hydration.ts
  packages/runtime-vapor/src/dom/template.ts
Due: packages

fix(runtime-dom): keep injected css vars when style binding becomes nullish
  packages/runtime-dom/__tests__/helpers/useCssVars.spec.ts
  packages/runtime-dom/__tests__/patchStyle.spec.ts
  packages/runtime-dom/src/modules/style.ts
  packages/runtime-vapor/__tests__/helpers/useCssVars.spec.ts
Due: packages, runtime-dom

fix(vapor): resolve `<style module>` bindings in templates
  packages/compiler-sfc/__tests__/__snapshots__/compileScript.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript.spec.ts
  packages/compiler-sfc/src/compileScript.ts
  packages/runtime-vapor/__tests__/helpers/useCssModule.spec.ts
  packages/runtime-vapor/src/component.ts
Due: packages, compiler-sfc

fix(compiler-vapor): drop nullish dynamic v-bind arguments like vdom
  packages/compiler-vapor/__tests__/__snapshots__/compile.spec.ts.snap
  packages/compiler-vapor/__tests__/compile.spec.ts
  packages/compiler-vapor/__tests__/transforms/__snapshots__/expression.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformElement.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vBind.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/expression.spec.ts
  packages/compiler-vapor/__tests__/transforms/transformElement.spec.ts
  packages/compiler-vapor/__tests__/transforms/vBind.spec.ts
  packages/compiler-vapor/src/generators/prop.ts
  packages/runtime-vapor/__tests__/componentAttrs.spec.ts
Due: packages

fix(runtime-vapor): keep the other root style layer when one becomes nullish
  packages/runtime-vapor/__tests__/componentAttrs.spec.ts
  packages/runtime-vapor/src/dom/prop.ts
Due: packages

fix(compat): expose setupState as _setupProxy
  packages/runtime-core/src/compat/instance.ts
  packages/vue-compat/__tests__/instance.spec.ts
Due: packages, runtime-core, vue-compat

fix(runtime-core): skip vdom public properties on exposed vapor instances
  packages/runtime-core/src/component.ts
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
Due: packages, runtime-core

fix(compiler-vapor): keep cached component inline handler names unique
  packages/compiler-vapor/__tests__/transforms/vOn.spec.ts
  packages/compiler-vapor/src/generate.ts
  packages/compiler-vapor/src/generators/component.ts
Due: packages

fix(runtime-vapor): restore v-show display from both root style layers
  packages/runtime-vapor/__tests__/directives/vShow.spec.ts
  packages/runtime-vapor/src/dom/prop.ts
Due: packages

fix(runtime-dom): treat playsinline as a boolean attribute
  packages/runtime-dom/__tests__/patchAttrs.spec.ts
  packages/server-renderer/__tests__/ssrRenderAttrs.spec.ts
  packages/shared/src/domAttrConfig.ts
Due: packages, runtime-dom, server-renderer, shared

fix(compiler-vapor): set value after valueAsNumber like vdom
  packages/compiler-vapor/__tests__/transforms/vBind.spec.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
  packages/runtime-vapor/__tests__/dom/template.spec.ts
Due: packages

fix(runtime-vapor): preserve root class and style after fallthrough removal
  packages/runtime-vapor/__tests__/componentAttrs.spec.ts
  packages/runtime-vapor/__tests__/hydration/component.spec.ts
  packages/runtime-vapor/src/dom/prop.ts
  packages/runtime-vapor/src/dom/template.ts
Due: packages

fix(runtime-vapor): restore dynamic root styles after hydration
  packages/runtime-vapor/__tests__/hydration/component.spec.ts
  packages/runtime-vapor/src/component.ts
Due: packages

fix(runtime-vapor): also set checked and selected as attributes like vdom
  packages/runtime-vapor/__tests__/dom/prop.spec.ts
  packages/runtime-vapor/__tests__/hydration/basic.spec.ts
  packages/runtime-vapor/src/dom/prop.ts
Due: packages

chore: migrate to Vitest 5 with Vite+
  .github/contributing.md
  .github/workflows/autofix.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/size-data.yml
  .github/workflows/size-report.yml
  .github/workflows/test.yml
  .gitignore
  package.json
  packages-private/vapor-e2e-test/__tests__/todomvc.spec.ts
  packages-private/vapor-e2e-test/__tests__/transition.spec.ts
  packages-private/vapor-e2e-test/__tests__/vdomInterop.spec.ts
  packages/reactivity/__benchmarks__/computed.bench.ts
  packages/reactivity/__benchmarks__/effect.bench.ts
  packages/reactivity/__benchmarks__/reactiveArray.bench.ts
  packages/reactivity/__benchmarks__/reactiveMap.bench.ts
  packages/reactivity/__benchmarks__/reactiveObject.bench.ts
  packages/reactivity/__benchmarks__/ref.bench.ts
  packages/runtime-core/__tests__/apiWatch.bench.ts
  packages/runtime-vapor/__tests__/bench/block.bench.ts
  packages/runtime-vapor/__tests__/bench/hydration.bench.ts
  packages/runtime-vapor/__tests__/bench/setClass.bench.ts
  packages/runtime-vapor/__tests__/customElement.spec.ts
  packages/server-renderer/__tests__/createBuffer.bench.ts
  packages/server-renderer/__tests__/unrollBuffer.bench.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/bench.ts
  scripts/setup-vitest.ts
  vite.config.ts
Due: packages, reactivity, runtime-core, server-renderer

fix(runtime-core): detect new prop keys when comparing full props
  packages/runtime-core/__tests__/rendererComponent.spec.ts
  packages/runtime-core/src/componentRenderUtils.ts
Due: packages, runtime-core

fix(runtime-core): update child when a prop is replaced by an emit listener
  packages/runtime-core/__tests__/rendererComponent.spec.ts
  packages/runtime-core/src/componentRenderUtils.ts
Due: packages, runtime-core

fix(hydration): keep the next node for a component with an empty text root
  packages/runtime-core/__tests__/hydration.spec.ts
  packages/runtime-core/src/hydration.ts
Due: packages, runtime-core

fix(suspense): mount resolved async component with its own namespace
  packages/runtime-core/src/components/Suspense.ts
  packages/runtime-core/src/renderer.ts
  packages/vue/__tests__/svgNamespace.spec.ts
Due: packages, runtime-core, vue

fix(shared): only split inline styles on top-level `;`
  packages/compiler-dom/__tests__/transforms/transformStyle.spec.ts
  packages/shared/__tests__/normalizeProp.spec.ts
  packages/shared/src/normalizeProp.ts
Due: packages, compiler-dom, shared

fix(runtime-vapor): also set checked and selected as attributes like vdom (#15636)
  packages/runtime-vapor/__tests__/dom/prop.spec.ts
  packages/runtime-vapor/__tests__/hydration/basic.spec.ts
  packages/runtime-vapor/src/dom/prop.ts
Due: packages

fix(runtime-dom): keep injected css vars when style binding becomes nullish (#15623)
  packages/runtime-dom/__tests__/helpers/useCssVars.spec.ts
  packages/runtime-dom/__tests__/patchStyle.spec.ts
  packages/runtime-dom/src/modules/style.ts
  packages/runtime-vapor/__tests__/helpers/useCssVars.spec.ts
Due: packages, runtime-dom

fix(compiler-vapor): drop nullish dynamic v-bind arguments like vdom (#15620)
  packages/compiler-vapor/__tests__/__snapshots__/compile.spec.ts.snap
  packages/compiler-vapor/__tests__/compile.spec.ts
  packages/compiler-vapor/__tests__/transforms/__snapshots__/expression.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformElement.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vBind.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/expression.spec.ts
  packages/compiler-vapor/__tests__/transforms/transformElement.spec.ts
  packages/compiler-vapor/__tests__/transforms/vBind.spec.ts
  packages/compiler-vapor/src/generators/prop.ts
  packages/runtime-vapor/__tests__/componentAttrs.spec.ts
Due: packages

fix(runtime-core): skip vdom public properties on exposed vapor instances (#15624)
  packages/runtime-core/src/component.ts
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
Due: packages, runtime-core

chore: migrate to Vitest 5 with Vite+ (#15633)
  .github/contributing.md
  .github/workflows/autofix.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/size-data.yml
  .github/workflows/size-report.yml
  .github/workflows/test.yml
  .gitignore
  package.json
  packages-private/vapor-e2e-test/__tests__/todomvc.spec.ts
  packages-private/vapor-e2e-test/__tests__/transition.spec.ts
  packages-private/vapor-e2e-test/__tests__/vdomInterop.spec.ts
  packages/reactivity/__benchmarks__/computed.bench.ts
  packages/reactivity/__benchmarks__/effect.bench.ts
  packages/reactivity/__benchmarks__/reactiveArray.bench.ts
  packages/reactivity/__benchmarks__/reactiveMap.bench.ts
  packages/reactivity/__benchmarks__/reactiveObject.bench.ts
  packages/reactivity/__benchmarks__/ref.bench.ts
  packages/runtime-core/__tests__/apiWatch.bench.ts
  packages/runtime-vapor/__tests__/bench/block.bench.ts
  packages/runtime-vapor/__tests__/bench/hydration.bench.ts
  packages/runtime-vapor/__tests__/bench/setClass.bench.ts
  packages/runtime-vapor/__tests__/customElement.spec.ts
  packages/server-renderer/__tests__/createBuffer.bench.ts
  packages/server-renderer/__tests__/unrollBuffer.bench.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/bench.ts
  scripts/setup-vitest.ts
  vite.config.ts
Due: packages, reactivity, runtime-core, server-renderer

fix(runtime-vapor): parse root templates from html after hydration instead of cloning the hydrated node
  packages/runtime-vapor/__tests__/hydration/component.spec.ts
  packages/runtime-vapor/src/dom/template.ts
Due: packages

Path conditions:
  packages: any of: packages/
  compiler-core: any of: packages/compiler-core/
  compiler-dom: any of: packages/compiler-dom/
  compiler-sfc: any of: packages/compiler-sfc/
  reactivity: any of: packages/reactivity/
  reactivity-transform: any of: packages/reactivity-transform/
  runtime-core: any of: packages/runtime-core/
  runtime-dom: any of: packages/runtime-dom/
  runtime-test: any of: packages/runtime-test/
  server-renderer: any of: packages/server-renderer/
  sfc-playground: any of: packages/sfc-playground/
  shared: any of: packages/shared/
  size-check: any of: packages/size-check/
  template-explorer: any of: packages/template-explorer/
  vue: any of: packages/vue/
  vue-compat: any of: packages/vue-compat/
