Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

refactor: move `NOTIFIED` cleanup for computed into `batchedCleanup`
  packages/reactivity/src/computed.ts
  packages/reactivity/src/effect.ts
Due: packages, reactivity

chore: tweaks
  packages/reactivity/src/effect.ts
Due: packages, reactivity

fix(templateRef): delay setting the ref value if wrapped in Suspense
  packages/runtime-core/src/rendererTemplateRef.ts
Due: packages, runtime-core

test: add test case
  packages/runtime-core/__tests__/rendererTemplateRef.spec.ts
Due: packages, runtime-core

refactor: replaced array-based `batchedCleanup` with a linked list for computed subscribers
  packages/reactivity/src/effect.ts
Due: packages, reactivity

Update globalsAllowList.ts
  packages/shared/src/globalsAllowList.ts
Due: packages, shared

chore(benchmark): fix conflict args (#282)
  benchmark/index.js
Due: none

fix(scheduler): job ordering when the post queue is flushing
  packages/runtime-core/__tests__/scheduler.spec.ts
  packages/runtime-core/src/scheduler.ts
Due: packages, runtime-core

fix(types): infer the first generic type of `Ref` correctly
  packages/reactivity/src/reactive.ts
  packages/reactivity/src/ref.ts
Due: packages, reactivity

Revert changes to nextTick
  packages/runtime-core/__tests__/scheduler.spec.ts
  packages/runtime-core/src/scheduler.ts
Due: packages, runtime-core

fix(compiler-dom): avoid stringify option with null value
  packages/compiler-dom/__tests__/transforms/__snapshots__/stringifyStatic.spec.ts.snap
  packages/compiler-dom/__tests__/transforms/stringifyStatic.spec.ts
  packages/compiler-dom/src/transforms/stringifyStatic.ts
Due: packages, compiler-dom

fix(watch): watchEffect clean-up with SSR
  packages/runtime-core/src/apiWatch.ts
  packages/server-renderer/__tests__/ssrWatch.spec.ts
Due: packages, runtime-core, server-renderer

fixes #12098
  packages/runtime-core/src/apiSetupHelpers.ts
Due: packages, runtime-core

fix(reactivity): prevent overwriting `next` property during batch processing (#12075)
  packages/reactivity/__tests__/watch.spec.ts
  packages/reactivity/src/computed.ts
  packages/reactivity/src/effect.ts
Due: packages, reactivity

fix(scheduler): job ordering when the post queue is flushing (#12090)
  packages/runtime-core/__tests__/scheduler.spec.ts
  packages/runtime-core/src/scheduler.ts
Due: packages, runtime-core

fix(types): correctly infer `TypeProps` when it is `any` (#12073)
  packages/runtime-core/src/apiDefineComponent.ts
  packages/shared/src/typeUtils.ts
Due: packages, runtime-core, shared

fix(types): infer the first generic type of `Ref` correctly (#12094)
  packages/reactivity/src/reactive.ts
  packages/reactivity/src/ref.ts
Due: packages, reactivity

fix(type): should not intersect `PublicProps` with `Props` (#12077)
  packages/runtime-core/src/apiDefineComponent.ts
Due: packages, runtime-core

release: v3.5.11
  CHANGELOG.md
  package.json
  packages/compiler-core/package.json
  packages/compiler-dom/package.json
  packages/compiler-sfc/package.json
  packages/compiler-ssr/package.json
  packages/reactivity/package.json
  packages/runtime-core/package.json
  packages/runtime-dom/package.json
  packages/server-renderer/package.json
  packages/shared/package.json
  packages/vue-compat/package.json
  packages/vue/package.json
Due: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, runtime-core, runtime-dom, server-renderer, shared, vue, vue-compat

fix(watch): watchEffect clean-up with SSR (#12097)
  packages/runtime-core/src/apiWatch.ts
  packages/server-renderer/__tests__/ssrWatch.spec.ts
Due: packages, runtime-core, server-renderer

fix(types): retain union type narrowing in PropsWithDefaults with defaults applied
  packages-private/dts-test/setupHelpers.test-d.ts
  packages/runtime-core/src/apiSetupHelpers.ts
Due: packages, runtime-core

chore(Suspense): remove unnecessary judgment
  packages/runtime-core/src/components/Suspense.ts
Due: packages, runtime-core

test: update test case
  packages-private/dts-test/setupHelpers.test-d.ts
Due: none

fix(runtime-core): handle disabled teleport with updateCssVars
  packages/runtime-core/src/components/Teleport.ts
Due: packages, runtime-core

chore: update test
  packages/runtime-dom/__tests__/helpers/useCssVars.spec.ts
Due: packages, runtime-dom

chore(benchmark): dedupe deps
  benchmark/package.json
  pnpm-lock.yaml
Due: none

chore: update
  packages/runtime-core/src/components/Teleport.ts
Due: packages, runtime-core

ci: continuous release without checking
  .github/workflows/test.yml
Due: none

chore: rename repo name
  .github/workflows/close-cant-reproduce-issues.yml
  .github/workflows/lock-closed-issues.yml
  .github/workflows/size-data.yml
  .github/workflows/size-report.yml
  .github/workflows/test.yml
  packages-private/template-explorer/src/options.ts
  packages/compiler-core/package.json
  packages/compiler-dom/package.json
  packages/compiler-sfc/package.json
  packages/compiler-ssr/package.json
  packages/compiler-vapor/package.json
  packages/reactivity/package.json
  packages/runtime-core/package.json
  packages/runtime-dom/package.json
  packages/runtime-shared/package.json
  packages/runtime-test/package.json
  packages/runtime-vapor/package.json
  packages/runtime-vapor/src/dom/template.ts
  packages/server-renderer/package.json
  packages/shared/package.json
  packages/vue-compat/package.json
  packages/vue-vapor/package.json
  packages/vue/package.json
Due: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, runtime-core, runtime-dom, runtime-test, server-renderer, shared, vue, vue-compat

fix(runtime-vapor): stale memo cache
  packages/runtime-vapor/src/apiCreateFor.ts
Due: packages

feat(runtime-vapor): fast path for clear all children
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vFor.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vOnce.spec.ts.snap
  packages/compiler-vapor/src/generators/for.ts
  packages/compiler-vapor/src/ir/index.ts
  packages/compiler-vapor/src/transforms/vFor.ts
  packages/runtime-vapor/src/apiCreateFor.ts
Due: packages

perf(runtime): clear container on unmount
  packages/runtime-vapor/src/apiCreateVaporApp.ts
  packages/runtime-vapor/src/apiRender.ts
Due: packages

fix(runtime-shared): dedupe deps
  packages/runtime-shared/package.json
  pnpm-lock.yaml
Due: packages

fix(compiler-sfc): handle the leading comments in sfc
  packages/compiler-sfc/__tests__/__snapshots__/compileScript.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript.spec.ts
  packages/compiler-sfc/src/compileScript.ts
Due: packages, compiler-sfc

chore: update test
  packages/compiler-sfc/__tests__/__snapshots__/compileScript.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript.spec.ts
Due: packages, compiler-sfc

chore(sfc-playground): adjust the tooltip text for toggling the theme
  packages-private/sfc-playground/src/App.vue
  packages-private/sfc-playground/src/Header.vue
Due: none

chore: update package name
  eslint.config.js
Due: none

chore: update
  packages/compiler-sfc/src/compileScript.ts
Due: packages, compiler-sfc

Path conditions:
  packages: any of: packages/
  compiler-core: any of: packages/compiler-core/
  compiler-dom: any of: packages/compiler-dom/
  compiler-sfc: any of: packages/compiler-sfc/
  reactivity: any of: packages/reactivity/
  reactivity-transform: any of: packages/reactivity-transform/
  runtime-core: any of: packages/runtime-core/
  runtime-dom: any of: packages/runtime-dom/
  runtime-test: any of: packages/runtime-test/
  server-renderer: any of: packages/server-renderer/
  sfc-playground: any of: packages/sfc-playground/
  shared: any of: packages/shared/
  size-check: any of: packages/size-check/
  template-explorer: any of: packages/template-explorer/
  vue: any of: packages/vue/
  vue-compat: any of: packages/vue-compat/
