Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

codecov.yml:

coverage:
  status:
    project:
      default:
        # Status checks are set to be non-blocking
        informational: true
    patch:
      default:
        # Status checks are set to be non-blocking
        informational: true

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: packages
      paths:
        - packages/
    - component_id: compiler-core
      paths:
        - packages/compiler-core/
    - component_id: compiler-dom
      paths:
        - packages/compiler-dom/
    - component_id: compiler-sfc
      paths:
        - packages/compiler-sfc/
    - component_id: compiler-sfc
      paths:
        - packages/compiler-sfc/
    - component_id: reactivity
      paths:
        - packages/reactivity/
    - component_id: reactivity-transform
      paths:
        - packages/reactivity-transform/
    - component_id: runtime-core
      paths:
        - packages/runtime-core/
    - component_id: runtime-dom
      paths:
        - packages/runtime-dom/
    - component_id: runtime-test
      paths:
        - packages/runtime-test/
    - component_id: server-renderer
      paths:
        - packages/server-renderer/
    - component_id: sfc-playground
      paths:
        - packages/sfc-playground/
    - component_id: shared
      paths:
        - packages/shared/
    - component_id: size-check
      paths:
        - packages/size-check/
    - component_id: template-explorer
      paths:
        - packages/template-explorer/
    - component_id: vue
      paths:
        - packages/vue/
    - component_id: vue-compat
      paths:
        - packages/vue-compat/

fix(compiler-vapor): quote slot name
  packages/compiler-vapor/__tests__/__snapshots__/compile.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vSlot.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vSlot.spec.ts
  packages/compiler-vapor/src/generators/component.ts
Due: packages

chore: update
  packages/compiler-sfc/__tests__/__snapshots__/compileScript.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript.spec.ts
  packages/compiler-sfc/src/compileScript.ts
Due: packages, compiler-sfc

chore: update
  packages/compiler-sfc/src/compileScript.ts
Due: packages, compiler-sfc

fix(types): ensure `this.$props` type does not include `string`
  packages-private/dts-test/defineComponent.test-d.tsx
  packages/runtime-core/src/apiDefineComponent.ts
Due: packages, runtime-core

fix(customElement): warn if attr is tagName
  packages/runtime-dom/__tests__/customElement.spec.ts
  packages/runtime-dom/src/apiCustomElement.ts
Due: packages, runtime-dom

chore: minor tweaks
  packages/runtime-core/src/hydrationStrategies.ts
Due: packages, runtime-core

chore: update
  packages/runtime-dom/__tests__/customElement.spec.ts
  packages/runtime-dom/src/apiCustomElement.ts
Due: packages, runtime-dom

fix(useId): ensure useId consistency when using serverPrefetch
  packages/runtime-core/__tests__/helpers/useId.spec.ts
  packages/runtime-core/src/component.ts
Due: packages, runtime-core

feat(customElement): support attachInternals method
  packages/runtime-dom/__tests__/customElement.spec.ts
  packages/runtime-dom/src/apiCustomElement.ts
Due: packages, runtime-dom

test: update test case
  packages/runtime-dom/__tests__/customElement.spec.ts
Due: packages, runtime-dom

fix(compiler): clone loc to `ifNode`
  packages/compiler-core/src/parser.ts
  packages/compiler-core/src/transforms/vIf.ts
Due: packages, compiler-core

fix(transition): cancel the delayed execution of the transition enter hook
  packages/runtime-core/src/renderer.ts
Due: packages, runtime-core

chore: update
  packages/runtime-core/__tests__/components/BaseTransition.spec.ts
Due: packages, runtime-core

perf(reactivity): avoid unnecessary recursion in removeSub
  packages/reactivity/__tests__/computed.spec.ts
  packages/reactivity/src/effect.ts
Due: packages, reactivity

chore: update
  packages/runtime-core/src/hydration.ts
Due: packages, runtime-core

Refactor createInstrumentations to only return instrumentations for one type of collection
  packages/reactivity/src/collectionHandlers.ts
Due: packages, reactivity

Inline set
  packages/reactivity/src/collectionHandlers.ts
Due: packages, reactivity

chore: update test
  packages/compiler-sfc/__tests__/compileScript/__snapshots__/defineEmits.spec.ts.snap
Due: packages, compiler-sfc

chore: update type
  packages-private/dts-test/reactivity.test-d.ts
Due: none

Inline add
  packages/reactivity/src/collectionHandlers.ts
Due: packages, reactivity

Inline forEach
  packages/reactivity/src/collectionHandlers.ts
Due: packages, reactivity

dx(reactivity): warn on nested readonly ref update during unwrapping
  packages/reactivity/__tests__/readonly.spec.ts
  packages/reactivity/src/baseHandlers.ts
Due: packages, reactivity

Inline has
  packages/reactivity/src/collectionHandlers.ts
Due: packages, reactivity

fix(customElement): properly remove hyphenated attribute with null value
  packages/runtime-dom/src/modules/props.ts
Due: packages, runtime-dom

dx(vnode): warn on render child nodes in self-closing tag
  packages/runtime-core/src/vnode.ts
Due: packages, runtime-core

fix(runtime-dom): prevent unnecessary updates in v-model checkbox when value is unchanged
  packages/runtime-dom/src/directives/vModel.ts
Due: packages, runtime-dom

chore: update
  packages/runtime-dom/__tests__/customElement.spec.ts
  packages/runtime-dom/src/modules/props.ts
  packages/runtime-dom/src/patchProp.ts
Due: packages, runtime-dom

fix(runtime-dom): wip
  packages/runtime-dom/src/directives/vModel.ts
Due: packages, runtime-dom

chore: update
  packages/runtime-dom/src/modules/props.ts
Due: packages, runtime-dom

fix: update
  packages/runtime-dom/__tests__/directives/vModel.spec.ts
  packages/runtime-dom/src/directives/vModel.ts
Due: packages, runtime-dom

Inline size getter
  packages/reactivity/src/collectionHandlers.ts
Due: packages, reactivity

Inline get
  packages/reactivity/src/collectionHandlers.ts
Due: packages, reactivity

Inline clear
  packages/reactivity/src/collectionHandlers.ts
Due: packages, reactivity

Inline delete
  packages/reactivity/src/collectionHandlers.ts
Due: packages, reactivity

fix(runtime-dom): fix getContainerType
  packages/runtime-core/src/hydration.ts
Due: packages, runtime-core

fix(custom-element): properly remove hyphenated attribute (#12143)
  packages/runtime-dom/__tests__/customElement.spec.ts
  packages/runtime-dom/src/modules/props.ts
  packages/runtime-dom/src/patchProp.ts
Due: packages, runtime-dom

fix(runtime-core): allow symbol values for slot prop key (#12069)
  packages/runtime-core/__tests__/helpers/renderSlot.spec.ts
  packages/runtime-core/src/helpers/renderSlot.ts
Due: packages, runtime-core

fix(types): ensure `this.$props` type does not include `string` (#12123)
  packages-private/dts-test/defineComponent.test-d.tsx
  packages/runtime-core/src/apiDefineComponent.ts
Due: packages, runtime-core

chore(sfc-playground): adjust the tooltip text for toggling the theme (#12116)
  packages-private/sfc-playground/src/App.vue
  packages-private/sfc-playground/src/Header.vue
Due: none

fix(transition/ssr): make transition appear work with Suspense in SSR (#12047)
  packages/runtime-core/__tests__/hydration.spec.ts
  packages/runtime-core/src/hydration.ts
Due: packages, runtime-core
