Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

codecov.yml:

coverage:
  status:
    project:
      default:
        # Status checks are set to be non-blocking
        informational: true
    patch:
      default:
        # Status checks are set to be non-blocking
        informational: true

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: packages
      paths:
        - packages/
    - component_id: compiler-core
      paths:
        - packages/compiler-core/
    - component_id: compiler-dom
      paths:
        - packages/compiler-dom/
    - component_id: compiler-sfc
      paths:
        - packages/compiler-sfc/
    - component_id: compiler-sfc
      paths:
        - packages/compiler-sfc/
    - component_id: reactivity
      paths:
        - packages/reactivity/
    - component_id: reactivity-transform
      paths:
        - packages/reactivity-transform/
    - component_id: runtime-core
      paths:
        - packages/runtime-core/
    - component_id: runtime-dom
      paths:
        - packages/runtime-dom/
    - component_id: runtime-test
      paths:
        - packages/runtime-test/
    - component_id: server-renderer
      paths:
        - packages/server-renderer/
    - component_id: sfc-playground
      paths:
        - packages/sfc-playground/
    - component_id: shared
      paths:
        - packages/shared/
    - component_id: size-check
      paths:
        - packages/size-check/
    - component_id: template-explorer
      paths:
        - packages/template-explorer/
    - component_id: vue
      paths:
        - packages/vue/
    - component_id: vue-compat
      paths:
        - packages/vue-compat/

fix(shared): optimize SSR comment marker stripping
  packages/shared/src/escapeHtml.ts
Due: packages, shared

fix(runtime-core): pass namespace to patchProp during SVG hydration
  packages/runtime-core/__tests__/hydration.spec.ts
  packages/runtime-core/src/hydration.ts
Due: packages, runtime-core

fix(compiler-core): avoid leaking slot branch keys
  packages/compiler-core/__tests__/transforms/__snapshots__/vFor.spec.ts.snap
  packages/compiler-core/__tests__/transforms/__snapshots__/vIf.spec.ts.snap
  packages/compiler-core/__tests__/transforms/vFor.spec.ts
  packages/compiler-core/__tests__/transforms/vIf.spec.ts
  packages/compiler-core/src/ast.ts
  packages/compiler-core/src/utils.ts
  packages/runtime-core/__tests__/helpers/renderSlot.spec.ts
  packages/runtime-core/src/helpers/renderSlot.ts
Due: packages, compiler-core, runtime-core

fix(runtime-core): preserve falsy slot prop keys
  packages/runtime-core/__tests__/helpers/renderSlot.spec.ts
  packages/runtime-core/src/helpers/renderSlot.ts
Due: packages, runtime-core

fix(runtime-core): defer functional ref resolution to post-render phase
  packages/runtime-core/src/rendererTemplateRef.ts
Due: packages, runtime-core

fix(reactivity): allow toRefs on plain objects
  packages/reactivity/__tests__/ref.spec.ts
  packages/reactivity/src/ref.ts
Due: packages, reactivity

fix(runtime-core): rename slot branch key
  packages/compiler-core/__tests__/transforms/__snapshots__/transformElement.spec.ts.snap
  packages/compiler-core/src/ast.ts
  packages/runtime-core/__tests__/helpers/renderSlot.spec.ts
  packages/runtime-core/src/helpers/renderSlot.ts
Due: packages, compiler-core, runtime-core

fix(runtime-core): preserve falsy slot keys
  packages/runtime-core/__tests__/helpers/renderSlot.spec.ts
  packages/runtime-core/src/helpers/renderSlot.ts
Due: packages, runtime-core

fix(compiler-sfc): detect pug template import usage
  packages/compiler-sfc/__tests__/compileScript/__snapshots__/importUsageCheck.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript/importUsageCheck.spec.ts
  packages/compiler-sfc/src/compileScript.ts
  packages/compiler-sfc/src/script/importUsageCheck.ts
Due: packages, compiler-sfc

fix(runtime-core): preserve slot branch keys in custom elements
  packages/runtime-core/__tests__/helpers/renderSlot.spec.ts
  packages/runtime-core/src/helpers/renderSlot.ts
Due: packages, runtime-core

fix(ssr): keep component v-show out of attrs
  packages/compiler-ssr/__tests__/ssrVShow.spec.ts
  packages/compiler-ssr/src/transforms/ssrTransformComponent.ts
  packages/server-renderer/__tests__/ssrDirectives.spec.ts
  packages/server-renderer/src/helpers/ssrRenderComponent.ts
  packages/server-renderer/src/render.ts
Due: packages, server-renderer

fix(shared): handle plain objects with custom hasOwnProperty
  packages/shared/__tests__/looseEqual.spec.ts
  packages/shared/src/looseEqual.ts
Due: packages, shared

fix(reactivity): stop once watcher after callback error
  packages/reactivity/__tests__/watch.spec.ts
  packages/reactivity/src/watch.ts
Due: packages, reactivity

fix(compiler): normalize static input type for v-model
  packages/compiler-dom/__tests__/transforms/vModel.spec.ts
  packages/compiler-dom/src/transforms/vModel.ts
  packages/compiler-ssr/__tests__/ssrVModel.spec.ts
  packages/compiler-ssr/src/transforms/ssrVModel.ts
Due: packages, compiler-dom

fix(runtime-core): format null warning args safely
  packages/runtime-core/__tests__/components/Teleport.spec.ts
  packages/runtime-core/src/warning.ts
Due: packages, runtime-core

build: configuration improvements
  scripts/create-rolldown-config.js
  scripts/release.js
Due: none

fix(server-renderer): remove package dependency cycle
  packages/server-renderer/package.json
  packages/server-renderer/src/helpers/ssrCompile.ts
  packages/server-renderer/src/helpers/ssrGetDirectiveProps.ts
  packages/server-renderer/src/helpers/ssrRenderComponent.ts
  packages/server-renderer/src/helpers/ssrRenderList.ts
  packages/server-renderer/src/helpers/ssrRenderSlot.ts
  packages/server-renderer/src/helpers/ssrRenderTeleport.ts
  packages/server-renderer/src/index.ts
  packages/server-renderer/src/render.ts
  packages/server-renderer/src/renderToStream.ts
  packages/server-renderer/src/renderToString.ts
  pnpm-lock.yaml
Due: packages, server-renderer

test(runtime-core): register DOM compiler for hydration
  packages/runtime-core/__tests__/hydration.spec.ts
Due: packages, runtime-core

fix(runtime-core): compute elementNamespace after template replacement in hydrateElement
  packages/runtime-core/__tests__/hydration.spec.ts
  packages/runtime-core/src/hydration.ts
Due: packages, runtime-core

fix(compiler-core): treat empty custom directive value as no expression
  packages/compiler-core/__tests__/transforms/transformElement.spec.ts
  packages/compiler-core/src/transforms/transformElement.ts
  packages/compiler-ssr/__tests__/ssrElement.spec.ts
Due: packages, compiler-core

perf(compiler-vapor): omit default prepend logical index
  packages/compiler-vapor/__tests__/__snapshots__/compile.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/logicalIndex.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/logicalIndex.spec.ts
  packages/compiler-vapor/src/generators/operation.ts
  packages/runtime-vapor/src/insertionState.ts
Due: packages

fix(runtime-core): avoid duplicate useTemplateRef prod crash
  packages/runtime-core/__tests__/helpers/useTemplateRef.spec.ts
  packages/runtime-core/src/helpers/useTemplateRef.ts
Due: packages, runtime-core

perf(runtime-vapor): skip fragment for stable nested slots
  packages/runtime-vapor/__tests__/componentSlots.spec.ts
  packages/runtime-vapor/__tests__/hmr.spec.ts
  packages/runtime-vapor/__tests__/scopeId.spec.ts
  packages/runtime-vapor/src/componentSlots.ts
Due: packages

fix(transition): fire enter hooks for a Transition wrapped inside Suspense (fix #12435)
  packages/runtime-core/__tests__/components/Suspense.spec.ts
  packages/runtime-core/src/renderer.ts
Due: packages, runtime-core

fix(transition): only fire deferred enter hooks for Suspense-resolved branches
  packages/runtime-core/__tests__/components/KeepAlive.spec.ts
  packages/runtime-core/src/components/BaseTransition.ts
  packages/runtime-core/src/renderer.ts
Due: packages, runtime-core

Revert "perf(runtime-vapor): skip fragment for stable nested slots"
  packages/runtime-vapor/__tests__/componentSlots.spec.ts
  packages/runtime-vapor/__tests__/hmr.spec.ts
  packages/runtime-vapor/__tests__/scopeId.spec.ts
  packages/runtime-vapor/src/componentSlots.ts
Due: packages

fix(transition): don't replay deferred child enters into a pending Suspense
  packages/runtime-core/src/renderer.ts
Due: packages, runtime-core

fix(runtime-dom): handle <template> parent in insertStaticContent
  packages/runtime-dom/__tests__/nodeOps.spec.ts
  packages/runtime-dom/src/nodeOps.ts
Due: packages, runtime-dom

fix(runtime-dom): insert children of a literal <template> into its content
  packages/runtime-dom/__tests__/nodeOps.spec.ts
  packages/runtime-dom/src/nodeOps.ts
Due: packages, runtime-dom

fix(vapor): handle v-if and v-show on transition roots
  packages/compiler-dom/src/transforms/Transition.ts
  packages/compiler-vapor/__tests__/transforms/TransformTransition.spec.ts
  packages/runtime-vapor/__tests__/components/Transition.spec.ts
  packages/runtime-vapor/src/components/Transition.ts
Due: packages, compiler-dom

fix(transition): does not carry persisted into a structural v-if root
  packages/runtime-vapor/__tests__/components/Transition.spec.ts
  packages/runtime-vapor/src/components/Transition.ts
Due: packages

fix(vapor): handle v-if and v-show on transition roots (#15069)
  packages/compiler-dom/src/transforms/Transition.ts
  packages/compiler-vapor/__tests__/transforms/TransformTransition.spec.ts
  packages/runtime-vapor/__tests__/components/Transition.spec.ts
  packages/runtime-vapor/src/components/Transition.ts
Due: packages, compiler-dom

refactor(compiler-vapor): omit default prepend logical index (#15065)
  packages/compiler-vapor/__tests__/__snapshots__/compile.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/logicalIndex.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/logicalIndex.spec.ts
  packages/compiler-vapor/src/generators/operation.ts
  packages/runtime-vapor/src/insertionState.ts
Due: packages

test(ssr): add memory leak test for failed ssr render
  packages/server-renderer/__tests__/ssrRender.spec.ts
  vitest.config.ts
Due: packages, server-renderer

fix(runtime-core): unwind dangling blocks when slot content throws
  packages/runtime-core/src/componentRenderContext.ts
  packages/runtime-core/src/helpers/renderSlot.ts
Due: packages, runtime-core

fix(compiler-sfc): preserve Pug directive quote escapes
  packages/compiler-sfc/__tests__/compileTemplate.spec.ts
  packages/compiler-sfc/src/compileTemplate.ts
Due: packages, compiler-sfc

fix(runtime-vapor): preserve v-show transition on vdom child
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/directives/vShow.ts
Due: packages

fix(runtime-vapor): preserve v-show transition on vdom child (#15074)
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/directives/vShow.ts
Due: packages

fix(server-renderer): avoid duplicate handling of nested render errors
  packages/server-renderer/__tests__/render.spec.ts
  packages/server-renderer/__tests__/ssrSuspense.spec.ts
  packages/server-renderer/src/render.ts
Due: packages, server-renderer

chore(playground): improve version copy message (#15008)
  packages-private/sfc-playground/src/VersionSelect.vue
Due: none
