Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

fix: fix test coverage not showing
  package.json
  pnpm-lock.yaml
  vitest.config.ts
Due: none

refactor(shared): merge if statements (#8394)
  packages/shared/src/normalizeProp.ts
Due: packages, shared

chore: fix typo (#8392)
  packages/dts-test/README.md
Due: packages

chore: fix typo (#7416)
  packages/compiler-sfc/src/compileScript.ts
Due: packages, compiler-sfc

chore: fix typo (#7753)
  scripts/const-enum.js
Due: none

chore: fix typo (#7692)
  .github/contributing.md
Due: none

docs: fix typos
  packages/compiler-sfc/src/compileScript.ts
  packages/runtime-core/__tests__/apiWatch.spec.ts
  packages/runtime-core/src/component.ts
  packages/runtime-dom/__tests__/customElement.spec.ts
  packages/server-renderer/__tests__/ssrScopeId.spec.ts
  packages/shared/src/general.ts
  rollup.dts.config.js
  scripts/const-enum.js
Due: packages, compiler-sfc, runtime-core, runtime-dom, server-renderer, shared

fix(compiler-sfc): typo in experimental feature warnings (#8513)
  packages/compiler-sfc/src/script/defineModel.ts
  packages/compiler-sfc/src/script/definePropsDestructure.ts
Due: packages, compiler-sfc

chore: fix typo (#7693)
  packages/runtime-core/__tests__/apiWatch.spec.ts
  packages/runtime-core/src/component.ts
  packages/runtime-dom/__tests__/customElement.spec.ts
  packages/server-renderer/__tests__/ssrScopeId.spec.ts
  packages/shared/src/general.ts
  rollup.dts.config.js
  scripts/const-enum.js
Due: packages, runtime-core, runtime-dom, server-renderer, shared

fix(compiler-sfc): v-bind using // to comment will still compile
  packages/compiler-sfc/src/style/cssVars.ts
Due: packages, compiler-sfc

fix(compiler-sfc): pass options directly to stylus
  packages/compiler-sfc/src/style/preprocessors.ts
Due: packages, compiler-sfc

feat: `defultAssetUrlOptions` add audio tag
  packages/compiler-sfc/src/template/transformAssetUrl.ts
Due: packages, compiler-sfc

fix: used import check
  packages/compiler-sfc/__tests__/__snapshots__/compileScript.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript.spec.ts
  packages/compiler-sfc/src/script/importUsageCheck.ts
Due: packages, compiler-sfc

test: update snapshot
  packages/compiler-sfc/__tests__/__snapshots__/compileScript.spec.ts.snap
Due: packages, compiler-sfc

Update packages/compiler-sfc/src/script/importUsageCheck.ts
  packages/compiler-sfc/src/script/importUsageCheck.ts
Due: packages, compiler-sfc

dx(compiler-sfc): warn when disabled defineModel
  packages/compiler-sfc/src/script/defineModel.ts
Due: packages, compiler-sfc

fix(compiler-sfc): don't hoist props and emit
  packages/compiler-sfc/__tests__/__snapshots__/compileScript.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript.spec.ts
  packages/compiler-sfc/__tests__/compileScript/__snapshots__/defineEmits.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript/__snapshots__/defineProps.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript/__snapshots__/definePropsDestructure.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript/defineEmits.spec.ts
  packages/compiler-sfc/src/compileScript.ts
  packages/compiler-sfc/src/script/context.ts
  packages/compiler-sfc/src/script/defineEmits.ts
  packages/compiler-sfc/src/script/defineProps.ts
  packages/compiler-sfc/src/script/definePropsDestructure.ts
Due: packages, compiler-sfc

test: add
  packages/compiler-sfc/__tests__/__snapshots__/compileScript.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript.spec.ts
Due: packages, compiler-sfc

refactor: remove useless
  packages/compiler-sfc/src/script/context.ts
  packages/compiler-sfc/src/script/defineEmits.ts
Due: packages, compiler-sfc

test: update
  packages/compiler-sfc/__tests__/__snapshots__/compileScript.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript.spec.ts
  packages/compiler-sfc/__tests__/compileScript/__snapshots__/definePropsDestructure.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript/definePropsDestructure.spec.ts
Due: packages, compiler-sfc

Update packages/compiler-sfc/__tests__/compileScript.spec.ts
  packages/compiler-sfc/__tests__/compileScript.spec.ts
Due: packages, compiler-sfc

refactor(reactivity): refactor computed setter type
  packages/reactivity/src/computed.ts
  packages/reactivity/src/effect.ts
Due: packages, reactivity

refactor(nextTick): refactor nextTick return type
  packages/runtime-core/src/scheduler.ts
Due: packages, runtime-core

chore(scripts): revert the empty line
  scripts/utils.js
Due: none

chore: remove unused imports (#8283)
  scripts/build.js
Due: none

fix(compiler-sfc): take into account non-static args
  packages/compiler-sfc/src/script/importUsageCheck.ts
Due: packages, compiler-sfc

test(compiler-sfc): add dynamic args test
  packages/compiler-sfc/__tests__/__snapshots__/compileScript.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript.spec.ts
Due: packages, compiler-sfc

fix(runtime-core): avoid symbol coercion during props validation
  packages/runtime-core/src/componentProps.ts
Due: packages, runtime-core

test(runtime-core): enhance props mismatch test
  packages/runtime-core/__tests__/componentProps.spec.ts
Due: packages, runtime-core

test(compiler-sfc): normalize variable names
  packages/compiler-sfc/__tests__/__snapshots__/compileScript.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript.spec.ts
Due: packages, compiler-sfc

chore: add Awaited type util
  packages/runtime-core/src/scheduler.ts
  packages/shared/src/typeUtils.ts
Due: packages, runtime-core, shared

chore: fix typo
  packages/runtime-core/src/apiCreateApp.ts
Due: packages, runtime-core

chore: update setter type
  packages/reactivity/src/computed.ts
Due: packages, reactivity

chore: upgrade typescript 5.1
  package.json
  packages/dts-test/defineComponent.test-d.tsx
  pnpm-lock.yaml
Due: packages

fix(v-model): fix lazy modifier not syncing external changes
  packages/runtime-dom/src/directives/vModel.ts
Due: packages, runtime-dom

feat(runtime-core): added app config options `globalInheritAttrs`
  packages/runtime-core/__tests__/componentPublicInstance.spec.ts
  packages/runtime-core/src/apiCreateApp.ts
  packages/runtime-core/src/component.ts
  packages/runtime-core/src/componentOptions.ts
Due: packages, runtime-core

fix(v-model): update value synchronously when updating value
  packages/runtime-dom/src/directives/vModel.ts
Due: packages, runtime-dom

download badge
  README.md
Due: none

feat(ssr-render): updated code
  packages/runtime-core/src/components/Suspense.ts
  packages/runtime-core/src/index.ts
  packages/server-renderer/__tests__/ssrSuspense.spec.ts
  packages/server-renderer/src/render.ts
Due: packages, runtime-core, server-renderer

feat(ssr-render): updated code
  packages/server-renderer/src/renderToStream.ts
  packages/server-renderer/src/renderToString.ts
Due: packages, server-renderer

Path conditions:
  packages: any of: packages/
  compiler-core: any of: packages/compiler-core/
  compiler-dom: any of: packages/compiler-dom/
  compiler-sfc: any of: packages/compiler-sfc/
  reactivity: any of: packages/reactivity/
  reactivity-transform: any of: packages/reactivity-transform/
  runtime-core: any of: packages/runtime-core/
  runtime-dom: any of: packages/runtime-dom/
  runtime-test: any of: packages/runtime-test/
  server-renderer: any of: packages/server-renderer/
  sfc-playground: any of: packages/sfc-playground/
  shared: any of: packages/shared/
  size-check: any of: packages/size-check/
  template-explorer: any of: packages/template-explorer/
  vue: any of: packages/vue/
  vue-compat: any of: packages/vue-compat/
