Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

fix(runtime-vapor): handle vapor attrs fallthrough to vdom component
  packages/runtime-vapor/__tests__/componentAttrs.spec.ts
  packages/runtime-vapor/__tests__/componentSlots.spec.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/componentProps.ts
Due: packages

fix(compiler-sfc): correct method name in templateUtils
  packages/compiler-sfc/src/template/templateUtils.ts
Due: packages, compiler-sfc

test: add tests
  packages/runtime-vapor/__tests__/componentSlots.spec.ts
  packages/runtime-vapor/src/block.ts
  packages/runtime-vapor/src/dom/prop.ts
  packages/runtime-vapor/src/insertionState.ts
Due: packages

chore: tweaks
  packages/runtime-vapor/src/componentEmits.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(css-vars): nullish v-bind in style should not lead to unexpected inheritance (#12461)
  packages/compiler-sfc/__tests__/__snapshots__/compileScript.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript.spec.ts
  packages/compiler-sfc/src/style/cssVars.ts
  packages/runtime-core/src/component.ts
  packages/runtime-core/src/hydration.ts
  packages/runtime-dom/__tests__/helpers/useCssVars.spec.ts
  packages/runtime-dom/src/helpers/useCssVars.ts
  packages/server-renderer/__tests__/ssrRenderAttrs.spec.ts
  packages/server-renderer/src/helpers/ssrRenderAttrs.ts
  packages/shared/__tests__/cssVars.spec.ts
  packages/shared/src/cssVars.ts
  packages/shared/src/index.ts
Due: packages, compiler-sfc, runtime-core, runtime-dom, server-renderer, shared

chore: tweaks
  packages/runtime-core/src/apiAsyncComponent.ts
Due: packages, runtime-core

chore: tweaks
  packages/runtime-vapor/__tests__/componentAttrs.spec.ts
  packages/runtime-vapor/__tests__/componentSlots.spec.ts
  packages/runtime-vapor/src/componentProps.ts
Due: packages

wip: .
  packages/runtime-core/src/renderer.ts
Due: packages, runtime-core

chore: use model$
  packages/compiler-core/__tests__/transforms/vModel.spec.ts
  packages/compiler-core/src/transforms/vModel.ts
  packages/compiler-sfc/__tests__/compileScript/__snapshots__/defineModel.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript/defineModel.spec.ts
  packages/compiler-sfc/__tests__/compileStyle.spec.ts
  packages/compiler-sfc/src/script/defineModel.ts
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vModel.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vModel.spec.ts
  packages/compiler-vapor/src/generators/component.ts
  packages/runtime-core/__tests__/componentEmits.spec.ts
  packages/runtime-core/src/helpers/useModel.ts
  packages/runtime-vapor/__tests__/componentEmits.spec.ts
Due: packages, compiler-core, compiler-sfc, runtime-core

chore: udpate
  packages/runtime-core/src/renderer.ts
Due: packages, runtime-core

chore: update
  packages/compiler-sfc/__tests__/compileStyle.spec.ts
Due: packages, compiler-sfc

chore: update test case
  packages/runtime-core/__tests__/components/Suspense.spec.ts
Due: packages, runtime-core

chore: revert
  packages/runtime-vapor/src/component.ts
Due: packages

chore: update
  packages/compiler-core/__tests__/transforms/vModel.spec.ts
  packages/compiler-core/src/transforms/vModel.ts
  packages/compiler-sfc/src/script/defineModel.ts
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vModel.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vModel.spec.ts
  packages/compiler-vapor/src/generators/component.ts
  packages/runtime-core/src/helpers/useModel.ts
Due: packages, compiler-core, compiler-sfc, runtime-core

chore: add getModifierPropName
  packages/compiler-core/src/transforms/vModel.ts
  packages/compiler-sfc/src/script/defineModel.ts
  packages/compiler-vapor/src/generators/component.ts
  packages/runtime-core/src/helpers/useModel.ts
  packages/shared/src/general.ts
Due: packages, compiler-core, compiler-sfc, runtime-core, shared

fix: update RawProps type to use interopKey for dynamic props
  packages/runtime-vapor/src/componentEmits.ts
  packages/runtime-vapor/src/componentProps.ts
Due: packages

chore: update
  packages/runtime-core/src/renderer.ts
Due: packages, runtime-core

fix(runtime-vapor): render slot fallback if no content is provided
  packages/runtime-vapor/__tests__/_utils.ts
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

.
  packages/runtime-dom/src/components/Transition.ts
Due: packages, runtime-dom

fix(hydration): skip dynamic children in __child
  packages/compiler-vapor/__tests__/__snapshots__/compile.spec.ts.snap
  packages/compiler-vapor/src/generators/template.ts
  packages/runtime-vapor/__tests__/hydration.spec.ts
  packages/runtime-vapor/src/dom/node.ts
Due: packages

test(runtime-vapor): add vdomInterop tests
  packages/runtime-vapor/__tests__/_utils.ts
  packages/runtime-vapor/__tests__/componentAttrs.spec.ts
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
Due: packages

test: add todos
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
Due: packages

test(runtime-vapor): add vdomInterop tests (#13563)
  packages/runtime-vapor/__tests__/_utils.ts
  packages/runtime-vapor/__tests__/componentAttrs.spec.ts
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
Due: packages

test: move test into vdomInterop.spec.ts
  packages/runtime-vapor/__tests__/componentEmits.spec.ts
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
Due: packages

fix(runtime-vapor): prevent hasOwnProperty error when dynamic prop is null
  packages/runtime-vapor/src/componentProps.ts
Due: packages

fix: format
  .github/contributing.md
  .github/maintenance.md
  packages/compiler-sfc/README.md
  packages/runtime-core/__tests__/rendererAttrsFallthrough.spec.ts
  packages/runtime-core/__tests__/rendererFragment.spec.ts
  packages/runtime-core/src/compat/componentAsync.ts
  packages/vue-compat/README.md
  packages/vue/README.md
Due: packages, compiler-sfc, runtime-core, vue, vue-compat

fix(runtime-vapor): prevent passing null slots to renderSlot
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(compiler-sfc): match `@keyframes` exactly
  packages/compiler-sfc/src/style/pluginScoped.ts
Due: packages, compiler-sfc

perf: improve regexp performance with non-capturing groups
  packages/compiler-core/src/transforms/vIf.ts
  packages/compiler-core/src/transforms/vSlot.ts
  packages/compiler-core/src/utils.ts
  packages/compiler-dom/src/transforms/stringifyStatic.ts
  packages/compiler-sfc/src/style/pluginScoped.ts
  packages/compiler-sfc/src/template/templateUtils.ts
  packages/compiler-ssr/src/transforms/ssrVIf.ts
  packages/runtime-core/src/compat/global.ts
  packages/runtime-core/src/component.ts
  packages/runtime-dom/src/components/Transition.ts
  packages/runtime-dom/src/components/TransitionGroup.ts
  packages/runtime-dom/src/index.ts
  packages/runtime-dom/src/modules/style.ts
  packages/shared/src/general.ts
Due: packages, compiler-core, compiler-dom, compiler-sfc, runtime-core, runtime-dom, shared

chore: add test
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
Due: packages

chore: update
  packages/runtime-core/src/renderer.ts
  packages/runtime-core/src/vnode.ts
Due: packages, runtime-core

fix(reactivity): triggerRef work with proxy wrapped refs
  packages/reactivity/__tests__/readonly.spec.ts
  packages/reactivity/src/ref.ts
Due: packages, reactivity

chore: update test
  packages/runtime-vapor/__tests__/dom/node.spec.ts
Due: packages

fix(reactivity): avoid unwrapping `.value` when the proxy is a direct wrapper of Ref
  packages/reactivity/__tests__/readonly.spec.ts
  packages/reactivity/__tests__/ref.spec.ts
  packages/reactivity/src/baseHandlers.ts
  packages/reactivity/src/dep.ts
Due: packages, reactivity

chore: minor tweaks
  packages/runtime-core/src/renderer.ts
  packages/runtime-core/src/vnode.ts
Due: packages, runtime-core

refactor: do not use lookbehind assertion
  packages/runtime-core/src/component.ts
Due: packages, runtime-core

feat(runtime-vapor): support functional slot in vdom component
  packages/runtime-core/src/helpers/renderSlot.ts
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages, runtime-core

Path conditions:
  packages: any of: packages/
  compiler-core: any of: packages/compiler-core/
  compiler-dom: any of: packages/compiler-dom/
  compiler-sfc: any of: packages/compiler-sfc/
  reactivity: any of: packages/reactivity/
  reactivity-transform: any of: packages/reactivity-transform/
  runtime-core: any of: packages/runtime-core/
  runtime-dom: any of: packages/runtime-dom/
  runtime-test: any of: packages/runtime-test/
  server-renderer: any of: packages/server-renderer/
  sfc-playground: any of: packages/sfc-playground/
  shared: any of: packages/shared/
  size-check: any of: packages/size-check/
  template-explorer: any of: packages/template-explorer/
  vue: any of: packages/vue/
  vue-compat: any of: packages/vue-compat/
