Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

feat: redo apiWatch
  packages/runtime-core/__tests__/apiWatch.spec.ts
  packages/runtime-core/src/apiWatch.ts
Due: packages, runtime-core

fix: continuous effects cause computed dirty race condition
  packages/reactivity/__tests__/computed.spec.ts
  packages/reactivity/src/effect.ts
Due: packages, reactivity

fix: render triggers twice
  packages/reactivity/src/computed.ts
  packages/reactivity/src/effect.ts
  packages/reactivity/src/operations.ts
  packages/reactivity/src/ref.ts
Due: packages, reactivity

refactor: remove queueEffectCbs
  packages/reactivity/src/effect.ts
Due: packages, reactivity

feat(runtime-core): add 'container' to component instance
  packages/runtime-core/src/component.ts
  packages/runtime-core/src/renderer.ts
  packages/runtime-dom/__tests__/customElement.spec.ts
Due: packages, runtime-core, runtime-dom

Update packages/runtime-dom/__tests__/customElement.spec.ts
  packages/runtime-dom/__tests__/customElement.spec.ts
Due: packages, runtime-dom

chore(eslint): update eslint `no-unused-vars` rules
  .eslintrc.cjs
  scripts/build.js
Due: none

chore: add cjs
  .eslintrc.cjs
Due: none

chore: added comment
  .eslintrc.cjs
Due: none

fix: override component props with public props
  packages/runtime-core/src/componentPublicInstance.ts
Due: packages, runtime-core

Adjust code style
  packages/runtime-core/src/componentPublicInstance.ts
Due: packages, runtime-core

chore: DepsMaybeDirty -> ComputedValueMaybeDirty
  packages/reactivity/src/computed.ts
  packages/reactivity/src/effect.ts
  packages/reactivity/src/operations.ts
Due: packages, reactivity

fix: computed scheduler should always trigger
  packages/reactivity/src/effect.ts
Due: packages, reactivity

refactor: remove computed hack
  packages/reactivity/src/effect.ts
Due: packages, reactivity

chore: void to undefined
  packages/runtime-core/src/apiWatch.ts
Due: packages, runtime-core

types(reactivity): fix the return type error when the toRaw parameter type is readonly
  packages/dts-test/reactivity.test-d.ts
  packages/reactivity/src/reactive.ts
Due: packages, reactivity

test(reactivity): add test for support passing obj with only one get property
  packages/reactivity/__tests__/computed.spec.ts
Due: packages, reactivity

Add type test in componentTypeExtensions
  packages/dts-test/componentTypeExtensions.test-d.tsx
Due: packages

Make emit type more clearly
  packages/dts-test/componentTypeExtensions.test-d.tsx
Due: packages

fix(types): allow custom props define in functional components
  packages/dts-test/defineComponent.test-d.tsx
  packages/runtime-core/src/apiDefineComponent.ts
Due: packages, runtime-core

fix(types): component type check when props is an empty object
  packages/dts-test/defineComponent.test-d.tsx
  packages/runtime-core/src/apiDefineComponent.ts
Due: packages, runtime-core

chore: rebase main
  packages/dts-test/defineComponent.test-d.tsx
Due: packages

feat(types): better hints for built in types
  packages/reactivity/src/ref.ts
Due: packages, reactivity

types: use `Builtin` instead of `Function` and `Date`
  packages/reactivity/src/reactive.ts
  packages/reactivity/src/ref.ts
Due: packages, reactivity

Update hydration.ts
  packages/runtime-core/src/hydration.ts
Due: packages, runtime-core

fix(runtime-core): swap client/server debug labels (#9089)
  packages/runtime-core/src/hydration.ts
Due: packages, runtime-core

ci: add autofix for pr (#9112)
  .github/workflows/autofix.yml
  .github/workflows/ci.yml
  .github/workflows/size-data.yml
  .github/workflows/size-report.yml
Due: none

workflow: add lock-closed-issues (#8970)
  .github/workflows/lock-closed-issues.yml
Due: none

chore: format
  packages/runtime-core/src/hydration.ts
Due: packages, runtime-core

refactor(reactivity): add instance check for effect (#9055)
  packages/reactivity/__tests__/effect.spec.ts
  packages/reactivity/src/effect.ts
Due: packages, reactivity

fix(runtime-dom): fix `anchor` loss caused by `unmount`
  packages/runtime-dom/src/nodeOps.ts
Due: packages, runtime-dom

chore: remove duplicate types
  packages/reactivity/src/ref.ts
Due: packages, reactivity

feat(runtime-core): add `once` option to watch (#9034)
  packages/runtime-core/__tests__/apiWatch.spec.ts
  packages/runtime-core/src/apiWatch.ts
Due: packages, runtime-core

feat(compiler-core): export error message (#8729)
  packages/compiler-core/src/index.ts
  packages/compiler-dom/src/index.ts
Due: packages, compiler-core, compiler-dom

feat(compiler-sfc): expose resolve type-based props and emits (#8874)
  packages/compiler-sfc/src/index.ts
  packages/compiler-sfc/src/script/defineEmits.ts
  packages/compiler-sfc/src/script/defineProps.ts
  packages/compiler-sfc/src/script/resolveType.ts
Due: packages, compiler-sfc

fix(types): props type is incompatible with setup returned type
  packages/dts-test/defineComponent.test-d.tsx
  packages/runtime-core/src/apiDefineComponent.ts
  packages/runtime-core/src/componentPublicInstance.ts
Due: packages, runtime-core

fix(ssr): hydrate before
  packages/runtime-core/src/renderer.ts
Due: packages, runtime-core

refactor(reactivity): instrumentation handling for specific cases
  packages/reactivity/__tests__/collections/Map.spec.ts
  packages/reactivity/__tests__/collections/Set.spec.ts
  packages/reactivity/__tests__/collections/WeakMap.spec.ts
  packages/reactivity/__tests__/collections/WeakSet.spec.ts
  packages/reactivity/src/collectionHandlers.ts
  packages/shared/src/general.ts
Due: packages, reactivity, shared

test(Teleport): add test case
  packages/runtime-core/__tests__/components/Teleport.spec.ts
Due: packages, runtime-core

Path conditions:
  packages: any of: packages/
  compiler-core: any of: packages/compiler-core/
  compiler-dom: any of: packages/compiler-dom/
  compiler-sfc: any of: packages/compiler-sfc/
  reactivity: any of: packages/reactivity/
  reactivity-transform: any of: packages/reactivity-transform/
  runtime-core: any of: packages/runtime-core/
  runtime-dom: any of: packages/runtime-dom/
  runtime-test: any of: packages/runtime-test/
  server-renderer: any of: packages/server-renderer/
  sfc-playground: any of: packages/sfc-playground/
  shared: any of: packages/shared/
  size-check: any of: packages/size-check/
  template-explorer: any of: packages/template-explorer/
  vue: any of: packages/vue/
  vue-compat: any of: packages/vue-compat/
