Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

fix(types): make generics with runtime props in defineComponent work (fix #11374) (#13119)
  packages-private/dts-test/defineComponent.test-d.tsx
  packages/runtime-core/src/apiDefineComponent.ts
Due: packages, runtime-core

wip: save
  packages/runtime-vapor/__tests__/hydration.spec.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/dom/hydration.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

wip: save
  packages/runtime-vapor/src/apiCreateDynamicComponent.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

wip: save
  packages/runtime-core/src/apiCreateApp.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages, runtime-core

fix(runtime-vapor): handle transition in-out leave without incoming branch
  packages-private/vapor-e2e-test/__tests__/transition.spec.ts
  packages-private/vapor-e2e-test/transition/cases/mode/in-out-mode-with-v-if.vue
  packages-private/vapor-e2e-test/transition/cases/mode/out-in-mode-with-if-else-if.vue
  packages/runtime-vapor/src/fragment.ts
Due: packages

fix(runtime-vapor): handle transition in-out leave without incoming branch (#14535)
  packages-private/vapor-e2e-test/__tests__/transition.spec.ts
  packages-private/vapor-e2e-test/transition/cases/mode/in-out-mode-with-v-if.vue
  packages-private/vapor-e2e-test/transition/cases/mode/out-in-mode-with-if-else-if.vue
  packages/runtime-vapor/src/fragment.ts
Due: packages

fix(runtime-vapor): handle out-in transition with empty leaving branch
  packages-private/vapor-e2e-test/__tests__/transition.spec.ts
  packages-private/vapor-e2e-test/transition/cases/mode/out-in-mode-with-if-else-if-empty-branch.vue
  packages/runtime-vapor/src/fragment.ts
Due: packages

fix(runtime-vapor): handle out-in transition with empty leaving branch (#14538)
  packages-private/vapor-e2e-test/__tests__/transition.spec.ts
  packages-private/vapor-e2e-test/transition/cases/mode/out-in-mode-with-if-else-if-empty-branch.vue
  packages/runtime-vapor/src/fragment.ts
Due: packages

fix(transition): handle rapid in-out transition toggles
  packages-private/vapor-e2e-test/__tests__/transition.spec.ts
  packages-private/vapor-e2e-test/transition/cases/mode/in-out-mode-with-if-else-rapid-toggles.vue
  packages/runtime-vapor/src/components/Transition.ts
Due: packages

fix(scheduler): align post-flush and flush
  packages/runtime-core/__tests__/scheduler.spec.ts
  packages/runtime-core/src/scheduler.ts
Due: packages, runtime-core

chore: typo
  packages/runtime-core/__tests__/scheduler.spec.ts
Due: packages, runtime-core

fix(scheduler): reset currentFlushPromise only when no jobs are left to flush
  packages/runtime-core/src/scheduler.ts
Due: packages, runtime-core

fix(scheduler): keep flush after post job error
  packages/runtime-core/src/scheduler.ts
Due: packages, runtime-core

fix(scheduler): improve error recovery
  packages/runtime-core/__tests__/scheduler.spec.ts
  packages/runtime-core/src/scheduler.ts
Due: packages, runtime-core

Revert "fix(scheduler): keep flush after post job error"
  packages/runtime-core/__tests__/scheduler.spec.ts
  packages/runtime-core/src/scheduler.ts
Due: packages, runtime-core

fix(scheduler): ensure leftover jobs are queued after flush errors
  packages/runtime-core/__tests__/scheduler.spec.ts
  packages/runtime-core/src/scheduler.ts
Due: packages, runtime-core

fix(transition): handle rapid in-out transition toggles (#14540)
  packages-private/vapor-e2e-test/__tests__/transition.spec.ts
  packages-private/vapor-e2e-test/transition/cases/mode/in-out-mode-with-if-else-rapid-toggles.vue
  packages/runtime-vapor/src/components/Transition.ts
Due: packages

fix(runtime-dom): avoid patching native attrs as CE props
  packages/runtime-dom/__tests__/customElement.spec.ts
  packages/runtime-dom/src/patchProp.ts
Due: packages, runtime-dom

fix(reactivity): handle reduce without initial value on single-element arrays
  packages/reactivity/__tests__/reactiveArray.spec.ts
  packages/reactivity/src/arrayInstrumentations.ts
Due: packages, reactivity

fix(reactivity): update reduce to use toWrapped
  packages/reactivity/src/arrayInstrumentations.ts
Due: packages, reactivity

fix(types): narrow useAttrs class/style typing for TSX
  packages-private/dts-test/tsx.test-d.tsx
  packages/runtime-core/src/component.ts
  packages/runtime-core/src/componentPublicInstance.ts
  packages/runtime-core/src/index.ts
  packages/runtime-dom/src/index.ts
  packages/runtime-dom/src/jsx.ts
Due: packages, runtime-core, runtime-dom

fix(custom-element): properly locate parent when slotted in shadow dom (#12480)
  packages/runtime-dom/__tests__/customElement.spec.ts
  packages/runtime-dom/src/apiCustomElement.ts
Due: packages, runtime-dom

fix(custom-element): should properly patch as props for vue custom elements (#12409)
  packages/runtime-dom/__tests__/customElement.spec.ts
  packages/runtime-dom/src/patchProp.ts
Due: packages, runtime-dom

fix(types): narrow useAttrs class/style typing for TSX (#14492)
  packages-private/dts-test/tsx.test-d.tsx
  packages/runtime-core/src/component.ts
  packages/runtime-core/src/componentPublicInstance.ts
  packages/runtime-core/src/index.ts
  packages/runtime-dom/src/index.ts
Due: packages, runtime-core, runtime-dom

fix(reactivity): handle `Set` with initial reactive values edge case (#12393)
  packages/reactivity/__tests__/reactive.spec.ts
  packages/reactivity/src/collectionHandlers.ts
Due: packages, reactivity

fix(reactivity): avoid duplicate raw/proxy entries in Set.add
  packages/reactivity/__tests__/collections/Set.spec.ts
  packages/reactivity/src/collectionHandlers.ts
Due: packages, reactivity

fix(reactivity): fix reduce on reactive arrays to preserve reactivity (#12737)
  packages/reactivity/__tests__/reactiveArray.spec.ts
  packages/reactivity/src/arrayInstrumentations.ts
Due: packages, reactivity

fix(reactivity): avoid duplicate raw/proxy entries in Set.add (#14545)
  packages/reactivity/__tests__/collections/Set.spec.ts
  packages/reactivity/src/collectionHandlers.ts
Due: packages, reactivity

refactor(runtime-dom): simplify custom element child style insertion
  packages/runtime-dom/__tests__/customElement.spec.ts
  packages/runtime-dom/src/apiCustomElement.ts
Due: packages, runtime-dom

chore: format
  packages/compiler-core/src/ast.ts
  packages/compiler-core/src/codegen.ts
  packages/compiler-core/src/options.ts
  packages/runtime-core/__tests__/rendererAttrsFallthrough.spec.ts
  packages/runtime-core/__tests__/rendererFragment.spec.ts
  packages/runtime-core/src/compat/componentAsync.ts
Due: packages, compiler-core, runtime-core

chore: update
  packages/runtime-core/src/component.ts
  packages/runtime-core/src/renderer.ts
Due: packages, runtime-core

chore: update
  packages/runtime-dom/__tests__/customElement.spec.ts
  packages/runtime-dom/src/apiCustomElement.ts
Due: packages, runtime-dom

fix: remove unnecessary type from parentComp parameter in _applyStyles method
  packages/runtime-dom/src/apiCustomElement.ts
Due: packages, runtime-dom

chore: update
  packages/runtime-dom/src/apiCustomElement.ts
Due: packages, runtime-dom

fix(custom-element): ensure child component styles are injected in correct order before parent styles (#13374)
  packages/runtime-core/src/component.ts
  packages/runtime-core/src/renderer.ts
  packages/runtime-dom/__tests__/customElement.spec.ts
  packages/runtime-dom/src/apiCustomElement.ts
Due: packages, runtime-core, runtime-dom

fix(renderList): improve handling of non-integer and negative values
  packages/runtime-core/__tests__/helpers/renderList.spec.ts
  packages/runtime-core/src/helpers/renderList.ts
Due: packages, runtime-core

fix(runtime-core): warn about negative number in v-for (#12308)
  packages/runtime-core/__tests__/helpers/renderList.spec.ts
  packages/runtime-core/src/helpers/renderList.ts
  packages/server-renderer/__tests__/ssrRenderList.spec.ts
  packages/server-renderer/src/helpers/ssrRenderList.ts
Due: packages, runtime-core, server-renderer

Path conditions:
  packages: any of: packages/
  compiler-core: any of: packages/compiler-core/
  compiler-dom: any of: packages/compiler-dom/
  compiler-sfc: any of: packages/compiler-sfc/
  reactivity: any of: packages/reactivity/
  reactivity-transform: any of: packages/reactivity-transform/
  runtime-core: any of: packages/runtime-core/
  runtime-dom: any of: packages/runtime-dom/
  runtime-test: any of: packages/runtime-test/
  server-renderer: any of: packages/server-renderer/
  sfc-playground: any of: packages/sfc-playground/
  shared: any of: packages/shared/
  size-check: any of: packages/size-check/
  template-explorer: any of: packages/template-explorer/
  vue: any of: packages/vue/
  vue-compat: any of: packages/vue-compat/
