Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

perf(runtime-vapor): detach v-for item scopes
  packages/runtime-vapor/__tests__/for.spec.ts
  packages/runtime-vapor/src/apiCreateFor.ts
Due: packages

refactor(runtime-vapor): hoist createSelector out of createFor
  packages/compiler-vapor/__tests__/__snapshots__/compile.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vFor.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vFor.spec.ts
  packages/compiler-vapor/src/generators/for.ts
  packages/runtime-vapor/__tests__/apiCreateSelector.spec.ts
  packages/runtime-vapor/src/apiCreateFor.ts
  packages/runtime-vapor/src/fragment.ts
  packages/runtime-vapor/src/index.ts
Due: packages

chore(reactivity): port system.ts up to alien-signals v3.2.0
  packages/reactivity/src/system.ts
Due: packages, reactivity

chore(reactivity): wire runDepth so propagate(innerWrite) is reachable
  packages/reactivity/src/computed.ts
  packages/reactivity/src/dep.ts
  packages/reactivity/src/effect.ts
  packages/reactivity/src/ref.ts
  packages/reactivity/src/system.ts
Due: packages, reactivity

chore(reactivity): read runDepth directly inside propagate
  packages/reactivity/src/dep.ts
  packages/reactivity/src/ref.ts
  packages/reactivity/src/system.ts
Due: packages, reactivity

chore(reactivity): sync to alien-signals d4d04497
  packages/reactivity/src/computed.ts
  packages/reactivity/src/system.ts
Due: packages, reactivity

chore(reactivity): point system.ts header at the source commit
  packages/reactivity/src/system.ts
Due: packages, reactivity

chore(reactivity): make port header link to upstream diff
  packages/reactivity/src/system.ts
Due: packages, reactivity

chore: add `minimumReleaseAge` settings
  .github/renovate.json5
  pnpm-workspace.yaml
Due: none

perf(runtime-vapor): detach v-for item scopes (#14811)
  packages/runtime-vapor/__tests__/for.spec.ts
  packages/runtime-vapor/src/apiCreateFor.ts
Due: packages

chore(reactivity): sync system.ts to latest alien-signals (#14813)
  packages/reactivity/src/effect.ts
  packages/reactivity/src/system.ts
Due: packages, reactivity

refactor(compiler-vapor): Should perform safety check for simple expressions in events.
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vOn.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vOn.spec.ts
  packages/compiler-vapor/src/generators/event.ts
Due: packages

refactor(runtime-vapor): hoist createSelector out of createFor (#14812)
  packages/compiler-vapor/__tests__/__snapshots__/compile.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vFor.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vFor.spec.ts
  packages/compiler-vapor/src/generators/for.ts
  packages/runtime-vapor/__tests__/apiCreateSelector.spec.ts
  packages/runtime-vapor/src/apiCreateFor.ts
  packages/runtime-vapor/src/fragment.ts
  packages/runtime-vapor/src/index.ts
Due: packages

fix(compiler-vapor): preserve v-for selector source offsets
  packages/compiler-vapor/__tests__/__snapshots__/compile.spec.ts.snap
  packages/compiler-vapor/__tests__/compile.spec.ts
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vFor.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vFor.spec.ts
  packages/compiler-vapor/src/generators/expression.ts
  packages/compiler-vapor/src/generators/for.ts
  packages/compiler-vapor/src/generators/prop.ts
  packages/compiler-vapor/src/generators/utils.ts
  packages/runtime-vapor/src/apiCreateFor.ts
Due: packages

fix(compiler-vapor): preserve v-for selector source offsets (#14816)
  packages/compiler-vapor/__tests__/__snapshots__/compile.spec.ts.snap
  packages/compiler-vapor/__tests__/compile.spec.ts
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vFor.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vFor.spec.ts
  packages/compiler-vapor/src/generators/expression.ts
  packages/compiler-vapor/src/generators/for.ts
  packages/compiler-vapor/src/generators/prop.ts
  packages/compiler-vapor/src/generators/utils.ts
  packages/runtime-vapor/src/apiCreateFor.ts
Due: packages

fix(runtime-vapor): coalesce v-for selector source updates
  packages/runtime-vapor/__tests__/apiCreateSelector.spec.ts
  packages/runtime-vapor/src/apiCreateFor.ts
Due: packages

fix(runtime-vapor): coalesce v-for selector source updates (#14817)
  packages/runtime-vapor/__tests__/apiCreateSelector.spec.ts
  packages/runtime-vapor/src/apiCreateFor.ts
Due: packages

chore(compiler-core): fix duplicated "to" in codegen.ts comment
  packages/compiler-core/src/codegen.ts
Due: packages, compiler-core

wip: save reports
  packages-private/vapor-bench-test/app/reports/component-fanout-report-20265141151-r1.md
  packages-private/vapor-bench-test/app/reports/component-fanout-report-20265141151-r2.md
  packages-private/vapor-bench-test/app/reports/component-fanout-report-20265141151-r3.md
  packages-private/vapor-bench-test/app/reports/conditional-branch-report-20265141151-r1.md
  packages-private/vapor-bench-test/app/reports/conditional-branch-report-20265141151-r2.md
  packages-private/vapor-bench-test/app/reports/conditional-branch-report-20265141151-r3.md
  packages-private/vapor-bench-test/app/reports/dashboard-hydration-report-20265141151-r1.md
  packages-private/vapor-bench-test/app/reports/dashboard-hydration-report-20265141151-r2.md
  packages-private/vapor-bench-test/app/reports/dashboard-hydration-report-20265141151-r3.md
  packages-private/vapor-bench-test/app/reports/dashboard-report-20265141151-r1.md
  packages-private/vapor-bench-test/app/reports/dashboard-report-20265141151-r2.md
  packages-private/vapor-bench-test/app/reports/dashboard-report-20265141151-r3.md
  packages-private/vapor-bench-test/app/reports/dynamic-props-attrs-report-20265141151-r1.md
  packages-private/vapor-bench-test/app/reports/dynamic-props-attrs-report-20265141151-r2.md
  packages-private/vapor-bench-test/app/reports/dynamic-props-attrs-report-20265141151-r3.md
  packages-private/vapor-bench-test/app/reports/localized-leaf-report-20265141151-r1.md
  packages-private/vapor-bench-test/app/reports/localized-leaf-report-20265141151-r2.md
  packages-private/vapor-bench-test/app/reports/localized-leaf-report-20265141151-r3.md
  packages-private/vapor-bench-test/app/reports/static-heavy-hydration-report-20265141151-r1.md
  packages-private/vapor-bench-test/app/reports/static-heavy-hydration-report-20265141151-r2.md
  packages-private/vapor-bench-test/app/reports/static-heavy-hydration-report-20265141151-r3.md
  packages-private/vapor-bench-test/app/reports/static-heavy-report-20265141151-r1.md
  packages-private/vapor-bench-test/app/reports/static-heavy-report-20265141151-r2.md
  packages-private/vapor-bench-test/app/reports/static-heavy-report-20265141151-r3.md
Due: none

wip: update report
  packages-private/vapor-bench-test/report.md
Due: none

fix: handle edge case in stringifyStatic
  packages/compiler-dom/__tests__/transforms/stringifyStatic.spec.ts
  packages/compiler-dom/src/transforms/stringifyStatic.ts
Due: packages, compiler-dom

fix(ssr): render `hidden` correctly
  packages/runtime-core/__tests__/hydration.spec.ts
  packages/runtime-core/src/hydration.ts
  packages/runtime-dom/src/jsx.ts
  packages/server-renderer/__tests__/ssrRenderAttrs.spec.ts
  packages/server-renderer/src/helpers/ssrRenderAttrs.ts
  packages/shared/src/domAttrConfig.ts
Due: packages, runtime-core, runtime-dom, server-renderer, shared

fix(ssr): add support for overloaded boolean attributes
  packages/compiler-ssr/__tests__/ssrElement.spec.ts
  packages/compiler-ssr/src/transforms/ssrTransformElement.ts
  packages/server-renderer/__tests__/ssrRenderAttrs.spec.ts
  packages/server-renderer/src/helpers/ssrRenderAttrs.ts
Due: packages, server-renderer

refactor(runtime-vapor): simplify slot fallback and slot binding cache
  packages/runtime-vapor/__tests__/componentSlots.spec.ts
  packages/runtime-vapor/src/componentSlots.ts
  packages/runtime-vapor/src/fragment.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

perf(server-renderer): lazy iterate iterables in ssrRenderList
  packages/server-renderer/__tests__/ssrRenderList.spec.ts
  packages/server-renderer/src/helpers/ssrRenderList.ts
Due: packages, server-renderer

refactor(runtime-vapor): model slot fallbacks with outlet state
  packages/runtime-vapor/__tests__/componentSlots.spec.ts
  packages/runtime-vapor/__tests__/hydration.spec.ts
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/block.ts
  packages/runtime-vapor/src/componentSlots.ts
  packages/runtime-vapor/src/fragment.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

wip: save
  packages/runtime-vapor/src/fragment.ts
Due: packages

wip: save
  packages/runtime-vapor/__tests__/componentSlots.spec.ts
  packages/runtime-vapor/src/fragment.ts
Due: packages

refactor(runtime-vapor): simplify slot fallback and slot binding cache (#14819)
  packages/runtime-vapor/__tests__/componentSlots.spec.ts
  packages/runtime-vapor/__tests__/hydration.spec.ts
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/block.ts
  packages/runtime-vapor/src/componentSlots.ts
  packages/runtime-vapor/src/fragment.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(runtime-vapor): scope empty fragment hydration retargeting to deferred boundaries
  packages/runtime-vapor/src/apiDefineAsyncComponent.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/dom/hydration.ts
  packages/runtime-vapor/src/fragment.ts
Due: packages

fix: avoid re-adopt anchor
  packages/runtime-vapor/__tests__/hydration.spec.ts
  packages/runtime-vapor/src/fragment.ts
Due: packages

fix(runtime-vapor): preserve anchors for deferred fragment hydration (#14822)
  packages/runtime-vapor/__tests__/hydration.spec.ts
  packages/runtime-vapor/src/apiDefineAsyncComponent.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/dom/hydration.ts
  packages/runtime-vapor/src/fragment.ts
Due: packages

refactor(runtime-vapor): clarify hydration anchor ownership
  packages/runtime-vapor/__tests__/componentSlots.spec.ts
  packages/runtime-vapor/src/apiCreateFor.ts
  packages/runtime-vapor/src/fragment.ts
Due: packages

refactor(runtime-vapor): clarify hydration anchor ownership (#14823)
  packages/runtime-vapor/__tests__/componentSlots.spec.ts
  packages/runtime-vapor/src/apiCreateFor.ts
  packages/runtime-vapor/src/fragment.ts
Due: packages

release: v3.6.0-beta.12
  CHANGELOG.md
  package.json
  packages/compiler-core/package.json
  packages/compiler-dom/package.json
  packages/compiler-sfc/package.json
  packages/compiler-ssr/package.json
  packages/compiler-vapor/package.json
  packages/reactivity/package.json
  packages/runtime-core/package.json
  packages/runtime-dom/package.json
  packages/runtime-vapor/package.json
  packages/server-renderer/package.json
  packages/shared/package.json
  packages/vue-compat/package.json
  packages/vue/package.json
Due: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, runtime-core, runtime-dom, server-renderer, shared, vue, vue-compat

perf(runtime-vapor): avoid duplicate TransitionGroup props resolution
  packages/runtime-vapor/src/components/TransitionGroup.ts
Due: packages

perf(runtime-vapor): only create lifecycle update jobs when needed
  packages/runtime-vapor/__tests__/renderEffect.spec.ts
  packages/runtime-vapor/src/renderEffect.ts
Due: packages

perf(runtime-vapor): only create lifecycle update jobs when needed (#14824)
  packages/runtime-vapor/__tests__/renderEffect.spec.ts
  packages/runtime-vapor/src/renderEffect.ts
Due: packages

perf(runtime-vapor): specialize v-for block operations
  packages/compiler-vapor/__tests__/__snapshots__/compile.spec.ts.snap
  packages/compiler-vapor/__tests__/__snapshots__/staticTemplate.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/logicalIndex.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformKey.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformTemplateRef.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vFor.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vIf.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vOnce.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vSlot.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vFor.spec.ts
  packages/compiler-vapor/src/generators/for.ts
  packages/runtime-vapor/__tests__/bench/block.bench.ts
  packages/runtime-vapor/__tests__/block.spec.ts
  packages/runtime-vapor/src/apiCreateFor.ts
  packages/runtime-vapor/src/block.ts
  packages/shared/src/vaporFlags.ts
Due: packages, shared

Path conditions:
  packages: any of: packages/
  compiler-core: any of: packages/compiler-core/
  compiler-dom: any of: packages/compiler-dom/
  compiler-sfc: any of: packages/compiler-sfc/
  reactivity: any of: packages/reactivity/
  reactivity-transform: any of: packages/reactivity-transform/
  runtime-core: any of: packages/runtime-core/
  runtime-dom: any of: packages/runtime-dom/
  runtime-test: any of: packages/runtime-test/
  server-renderer: any of: packages/server-renderer/
  sfc-playground: any of: packages/sfc-playground/
  shared: any of: packages/shared/
  size-check: any of: packages/size-check/
  template-explorer: any of: packages/template-explorer/
  vue: any of: packages/vue/
  vue-compat: any of: packages/vue-compat/
