Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

chore: update
  packages/runtime-vapor/src/dom/node.ts
Due: packages

fix(compiler-sfc): error when defineModel prop options reference a destructured prop
  packages/compiler-sfc/__tests__/compileScript/__snapshots__/defineModel.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript/defineModel.spec.ts
  packages/compiler-sfc/src/compileScript.ts
Due: packages, compiler-sfc

fix(runtime-vapor): release the hydration locator cache when the pass ends (#15603)
  packages/runtime-vapor/__tests__/anchorAdoption.spec.ts
  packages/runtime-vapor/__tests__/hydration/locatorCache.spec.ts
  packages/runtime-vapor/src/apiCreateFor.ts
  packages/runtime-vapor/src/dom/hydration.ts
  packages/runtime-vapor/src/dom/node.ts
  packages/runtime-vapor/src/insertionState.ts
Due: packages

fix(compiler-sfc): only suggest the props argument for a defineModel default factory
  packages/compiler-sfc/__tests__/compileScript/__snapshots__/defineModel.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript/defineModel.spec.ts
  packages/compiler-sfc/src/compileScript.ts
Due: packages, compiler-sfc

fix(compiler-sfc): use bracket access for a non-identifier prop key in the defineModel hint
  packages/compiler-sfc/src/compileScript.ts
Due: packages, compiler-sfc

fix(runtime-vapor): let vdom interop own directive and vnode hooks and follow the vapor child's root
  packages/runtime-core/src/apiCreateApp.ts
  packages/runtime-core/src/hydration.ts
  packages/runtime-core/src/index.ts
  packages/runtime-core/src/renderer.ts
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages, runtime-core

fix(runtime-vapor): let vdom interop own directive and vnode hooks and follow the vapor child's root (#15605)
  packages/runtime-core/src/apiCreateApp.ts
  packages/runtime-core/src/hydration.ts
  packages/runtime-core/src/index.ts
  packages/runtime-core/src/renderer.ts
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages, runtime-core

fix(runtime-vapor): keep interop directives on a kept-alive root across deactivation
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

refactor(runtime-vapor): resolve the keyed insert anchor in the apply pass
  packages/runtime-vapor/__tests__/for.spec.ts
  packages/runtime-vapor/src/apiCreateFor.ts
Due: packages

fix(runtime-vapor): create the rows of a keyed insert in source order (#15601)
  packages/runtime-vapor/__tests__/for.spec.ts
  packages/runtime-vapor/src/apiCreateFor.ts
Due: packages

fix(runtime-vapor): let kept-alive interop directive roots follow their own component
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

refactor(compiler-vapor): resolve the .prop force hydrate flag in getRuntimeHelper
  packages/compiler-vapor/src/generators/prop.ts
Due: packages

fix(runtime-vapor): write .prop and value bindings during hydration
  packages/runtime-vapor/__tests__/hydration/basic.spec.ts
  packages/runtime-vapor/src/dom/prop.ts
Due: packages

fix(runtime-vapor): write static key bindings during hydration like vdom
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vBind.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vBind.spec.ts
  packages/compiler-vapor/src/generate.ts
  packages/compiler-vapor/src/generators/prop.ts
  packages/compiler-vapor/src/transform.ts
  packages/compiler-vapor/src/utils.ts
  packages/runtime-core/__tests__/hydration.spec.ts
  packages/runtime-core/src/hydration.ts
  packages/runtime-core/src/index.ts
  packages/runtime-vapor/__tests__/hydration/basic.spec.ts
  packages/runtime-vapor/__tests__/hydration/interopDynamic.spec.ts
  packages/runtime-vapor/__tests__/hydration/mismatch.spec.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/componentProps.ts
  packages/runtime-vapor/src/dom/prop.ts
Due: packages, runtime-core

fix(compiler-vapor): keep the hoisted static key list name clear of user bindings
  packages/compiler-vapor/__tests__/transforms/vBind.spec.ts
  packages/compiler-vapor/src/generate.ts
  packages/compiler-vapor/src/generators/prop.ts
Due: packages

fix(runtime-core): keep the resource prop list unchanged
  packages/runtime-core/__tests__/hydration.spec.ts
  packages/runtime-core/src/hydration.ts
  packages/runtime-vapor/__tests__/hydration/basic.spec.ts
Due: packages, runtime-core

fix(runtime-vapor): apply the custom element rule to hydrated innerHTML and textContent
  packages/runtime-vapor/__tests__/hydration/basic.spec.ts
  packages/runtime-vapor/src/dom/prop.ts
Due: packages

fix(runtime-vapor): write .prop and value bindings during hydration (#15608)
  packages/runtime-vapor/__tests__/hydration/basic.spec.ts
  packages/runtime-vapor/src/dom/prop.ts
Due: packages

fix(runtime-vapor): write static key bindings during hydration like vdom (#15611)
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vBind.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vBind.spec.ts
  packages/compiler-vapor/src/generate.ts
  packages/compiler-vapor/src/generators/prop.ts
  packages/compiler-vapor/src/transform.ts
  packages/compiler-vapor/src/utils.ts
  packages/runtime-core/src/hydration.ts
  packages/runtime-core/src/index.ts
  packages/runtime-vapor/__tests__/hydration/basic.spec.ts
  packages/runtime-vapor/__tests__/hydration/interopDynamic.spec.ts
  packages/runtime-vapor/__tests__/hydration/mismatch.spec.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/componentProps.ts
  packages/runtime-vapor/src/dom/prop.ts
Due: packages, runtime-core

fix(runtime-vapor): track interop directive bindings per root-chain component
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(runtime-vapor): settle interop directive bindings once the root chain has rendered
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(compiler-vapor): do not fold a constant prop with no content attribute
  packages/compiler-vapor/__tests__/transforms/vBind.spec.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
  packages/runtime-vapor/__tests__/dom/template.spec.ts
Due: packages

test(vapor): simplify constant prop parity coverage
  packages/compiler-vapor/__tests__/transforms/vBind.spec.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
  packages/runtime-vapor/__tests__/dom/template.spec.ts
Due: packages

fix(compiler-vapor): do not fold a constant prop with no content attribute (#15606)
  packages/compiler-vapor/__tests__/transforms/vBind.spec.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
  packages/runtime-vapor/__tests__/dom/template.spec.ts
Due: packages

fix(runtime-vapor): settle interop directive bindings and stale update marks past an empty root
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(compiler-vapor): preserve DOM prop initialization order
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vBind.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vBind.spec.ts
  packages/compiler-vapor/src/generators/for.ts
  packages/compiler-vapor/src/generators/operation.ts
  packages/compiler-vapor/src/ir/index.ts
  packages/compiler-vapor/src/transform.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
  packages/runtime-vapor/__tests__/dom/template.spec.ts
Due: packages

fix(compiler-vapor): narrow ordered props to valueAsNumber inputs
  packages/compiler-vapor/__tests__/transforms/vBind.spec.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
  packages/runtime-vapor/__tests__/dom/template.spec.ts
Due: packages

refactor(runtime-vapor): trim interop directive bookkeeping per update
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(compiler-vapor): preserve DOM prop initialization order (#15613)
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vBind.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vBind.spec.ts
  packages/compiler-vapor/src/generators/for.ts
  packages/compiler-vapor/src/generators/operation.ts
  packages/compiler-vapor/src/ir/index.ts
  packages/compiler-vapor/src/transform.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
  packages/runtime-vapor/__tests__/dom/template.spec.ts
Due: packages

fix(runtime-vapor): mount interop directives with the bindings received while setup was pending
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(runtime-vapor): track interop directive bindings per root-chain component (#15607)
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(runtime-vapor): warn on fallthrough attrs at a vdom-fed slot outlet root
  packages/compiler-vapor/src/transforms/transformSlotOutlet.ts
  packages/runtime-vapor/__tests__/componentAttrs.spec.ts
  packages/runtime-vapor/__tests__/components/KeepAlive.spec.ts
  packages/runtime-vapor/__tests__/components/Transition.spec.ts
  packages/runtime-vapor/__tests__/hydration/component.spec.ts
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/component.ts
Due: packages

fix(runtime-vapor): stop the fallthrough descent at a vdom child
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/component.ts
Due: packages

fix(compiler-vapor): do not propagate the component root into a slot fallback
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformSlotOutlet.spec.ts.snap
  packages/compiler-vapor/src/transforms/transformSlotOutlet.ts
  packages/runtime-vapor/__tests__/components/KeepAlive.spec.ts
Due: packages

fix(compiler-vapor): propagate component root through KeepAlive
  packages/compiler-vapor/src/transform.ts
  packages/runtime-vapor/__tests__/components/KeepAlive.spec.ts
Due: packages

fix(compiler-vapor): propagate component root through KeepAlive (#15583)
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformSlotOutlet.spec.ts.snap
  packages/compiler-vapor/src/transform.ts
  packages/compiler-vapor/src/transforms/transformSlotOutlet.ts
  packages/runtime-vapor/__tests__/componentAttrs.spec.ts
  packages/runtime-vapor/__tests__/components/KeepAlive.spec.ts
  packages/runtime-vapor/__tests__/components/Transition.spec.ts
  packages/runtime-vapor/__tests__/hydration/component.spec.ts
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/component.ts
Due: packages

fix(compiler-sfc): PARSE_ERROR when defineModel default references destructured prop
  packages/compiler-sfc/__tests__/compileScript/__snapshots__/defineModel.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript/defineModel.spec.ts
  packages/compiler-sfc/src/script/definePropsDestructure.ts
Due: packages, compiler-sfc

fix(compat): expose _setupProxy for Vue 2.7 compiled script setup
  packages/runtime-core/src/compat/instance.ts
  packages/vue-compat/__tests__/instance.spec.ts
Due: packages, runtime-core, vue-compat

fix(compat): render slot fallback passed as a function
  packages/runtime-core/src/compat/renderHelpers.ts
  packages/vue-compat/__tests__/renderFn.spec.ts
Due: packages, runtime-core, vue-compat

fix(runtime-vapor): mount a pending async setup with the vnode hooks it received meanwhile
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

Path conditions:
  packages: any of: packages/
  compiler-core: any of: packages/compiler-core/
  compiler-dom: any of: packages/compiler-dom/
  compiler-sfc: any of: packages/compiler-sfc/
  reactivity: any of: packages/reactivity/
  reactivity-transform: any of: packages/reactivity-transform/
  runtime-core: any of: packages/runtime-core/
  runtime-dom: any of: packages/runtime-dom/
  runtime-test: any of: packages/runtime-test/
  server-renderer: any of: packages/server-renderer/
  sfc-playground: any of: packages/sfc-playground/
  shared: any of: packages/shared/
  size-check: any of: packages/size-check/
  template-explorer: any of: packages/template-explorer/
  vue: any of: packages/vue/
  vue-compat: any of: packages/vue-compat/
