Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

fix: remove $emit $attrs $slots
  packages/compiler-vapor/__tests__/__snapshots__/compile.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/expression.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformElement.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vBind.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vHtml.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vModel.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vOn.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vOnce.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vText.spec.ts.snap
  packages/compiler-vapor/src/generate.ts
Due: packages

fix(compiler-vapor): handle empty interpolation (#13592)
  packages/compiler-vapor/__tests__/transforms/__snapshots__/expression.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/expression.spec.ts
  packages/compiler-vapor/src/transforms/transformText.ts
Due: packages

fix(runtime-core): use __vapor instead of vapor to identify Vapor components (#13652)
  packages/runtime-core/src/hmr.ts
Due: packages, runtime-core

fix(reactivity): remove link check to align with 3.5 (#13654)
  packages/reactivity/src/system.ts
Due: packages, reactivity

fix(compiler-core): transform empty `v-bind` dynamic argument content correctly (#12554)
  packages/compiler-core/src/transforms/vBind.ts
Due: packages, compiler-core

fix(compiler-core): recognize empty string as non-identifier (#12553)
  packages/compiler-core/src/utils.ts
Due: packages, compiler-core

fix(compiler-core): avoid self updates of `v-pre` (#12556)
  packages/compiler-core/src/parser.ts
  packages/compiler-core/src/utils.ts
Due: packages, compiler-core

chore(test): report correct value of `__EXTEND_POINT__` when subsequent error codes is less than it (#13213)
  packages/compiler-dom/src/errors.ts
  packages/compiler-ssr/src/errors.ts
Due: packages, compiler-dom

fix(reactivity): allow collect effects in EffectScope
  packages/reactivity/src/effectScope.ts
Due: packages, reactivity

fix(reactivity): allow collect effects in EffectScope (#13657)
  packages/reactivity/src/effectScope.ts
Due: packages, reactivity

fix(runtime-vapor): remove access globalProperties warning (#13609)
  packages/runtime-vapor/__tests__/apiCreateVaporApp.spec.ts
  packages/runtime-vapor/src/apiCreateApp.ts
Due: packages

fix(runtime-vapor): handle v-model vdom interop error (#13643)
  packages/runtime-core/src/renderer.ts
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
Due: packages, runtime-core

release: v3.6.0-alpha.2
  CHANGELOG.md
  package.json
  packages/compiler-core/package.json
  packages/compiler-dom/package.json
  packages/compiler-sfc/package.json
  packages/compiler-ssr/package.json
  packages/compiler-vapor/package.json
  packages/reactivity/package.json
  packages/runtime-core/package.json
  packages/runtime-dom/package.json
  packages/runtime-vapor/package.json
  packages/server-renderer/package.json
  packages/shared/package.json
  packages/vue-compat/package.json
  packages/vue/package.json
Due: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, runtime-core, runtime-dom, server-renderer, shared, vue, vue-compat

fix(slots): refine internal key checking logic
  packages/runtime-core/__tests__/componentSlots.spec.ts
  packages/runtime-core/src/componentSlots.ts
Due: packages, runtime-core

fix: srcset
  packages/compiler-sfc/src/compileTemplate.ts
  packages/compiler-sfc/src/template/transformAssetUrl.ts
  packages/compiler-sfc/src/template/transformSrcset.ts
  packages/compiler-vapor/__tests__/__snapshots__/compile.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/templateTransformAssetUrl.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/templateTransformSrcset.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/templateTransformAssetUrl.spec.ts
  packages/compiler-vapor/__tests__/transforms/templateTransformSrcset.spec.ts
  packages/compiler-vapor/src/generators/template.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
Due: packages, compiler-sfc

fix(runtime-vapor): add __vapor flag for dynamic component
  packages/runtime-vapor/src/apiCreateDynamicComponent.ts
Due: packages

chore: add test
  packages/runtime-vapor/__tests__/_utils.ts
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
Due: packages

fix(compiler-core): add cache flag for createTextVNode
  packages/compiler-core/__tests__/transforms/__snapshots__/cacheStatic.spec.ts.snap
  packages/compiler-core/src/transforms/cacheStatic.ts
Due: packages, compiler-core

chore: update
  packages/runtime-vapor/src/dom/node.ts
Due: packages

test(e2e): add memory leak test for cached text vnodes
  packages/vue/__tests__/e2e/memory-leak.spec.ts
Due: packages, vue

chore: update
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/dom/node.ts
Due: packages

chore: update test
  packages/runtime-vapor/__tests__/dom/node.spec.ts
Due: packages

chore: prevent test error
  packages/vue-compat/__tests__/componentVModel.spec.ts
Due: packages, vue-compat

fix(compiler-vapor): $props $emit $attrs $slots in prod
  packages/compiler-sfc/src/compileScript.ts
  packages/compiler-sfc/src/script/context.ts
  packages/compiler-vapor/src/generate.ts
Due: packages, compiler-sfc

fix(compile-vapor): don't generate unnecessary closing tags in templates
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformElement.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/transformElement.spec.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
Due: packages

chore(compiler-vapor): update snapshots and tests
  packages/compiler-vapor/__tests__/__snapshots__/compile.spec.ts.snap
  packages/compiler-vapor/__tests__/compile.spec.ts
  packages/compiler-vapor/__tests__/transforms/__snapshots__/expression.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformChildren.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformRef.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformSlotOutlet.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformTemplateRef.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vBind.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vFor.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vHtml.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vIf.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vModel.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vOn.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vOnce.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vShow.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vSlot.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vText.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/transformSlotOutlet.spec.ts
  packages/compiler-vapor/__tests__/transforms/transformTemplateRef.spec.ts
  packages/compiler-vapor/__tests__/transforms/vBind.spec.ts
  packages/compiler-vapor/__tests__/transforms/vFor.spec.ts
  packages/compiler-vapor/__tests__/transforms/vHtml.spec.ts
  packages/compiler-vapor/__tests__/transforms/vIf.spec.ts
  packages/compiler-vapor/__tests__/transforms/vSlot.spec.ts
  packages/compiler-vapor/__tests__/transforms/vText.spec.ts
Due: packages

fix(compiler-vapor): deal with formatting elements and ambiguous cases
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformElement.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/transformElement.spec.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
  packages/shared/src/domTagConfig.ts
Due: packages, shared

fix(runtime-vapor): fix readonly warning when useTemplateRef has same variable name as template ref
  packages/runtime-core/src/index.ts
  packages/runtime-core/src/rendererTemplateRef.ts
  packages/runtime-vapor/src/apiTemplateRef.ts
Due: packages, runtime-core

refactor: directly destructure in setup
  packages/compiler-sfc/src/compileScript.ts
  packages/compiler-sfc/src/script/context.ts
  packages/compiler-sfc/src/script/importUsageCheck.ts
  packages/compiler-vapor/src/generate.ts
Due: packages, compiler-sfc

chore: update tests
  packages/runtime-core/src/index.ts
  packages/runtime-core/src/rendererTemplateRef.ts
  packages/runtime-vapor/__tests__/dom/templateRef.spec.ts
  packages/runtime-vapor/src/apiTemplateRef.ts
Due: packages, runtime-core

test: $xxx
  packages/compiler-sfc/__tests__/__snapshots__/compileScript.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript.spec.ts
  packages/compiler-sfc/src/compileScript.ts
Due: packages, compiler-sfc

refactor: remove checkTemplateGlobalsUsage, use isImportUsed directly
  packages/compiler-sfc/src/compileScript.ts
  packages/compiler-sfc/src/script/importUsageCheck.ts
Due: packages, compiler-sfc

chore: clean up code
  packages/compiler-sfc/__tests__/compileScript.spec.ts
Due: packages, compiler-sfc

refactor: Rename the isImportUsed to isUsedInTemplate
  packages/compiler-sfc/src/compileScript.ts
  packages/compiler-sfc/src/parse.ts
  packages/compiler-sfc/src/script/importUsageCheck.ts
Due: packages, compiler-sfc

refactor(runtime-vapor): allow non-instance for setRef
  packages/runtime-vapor/__tests__/apiExpose.spec.ts
  packages/runtime-vapor/src/apiTemplateRef.ts
Due: packages

chore: change comments
  packages/compiler-sfc/src/script/importUsageCheck.ts
Due: packages, compiler-sfc

fix(runtime-vapor): render slot fallback if slot content is not a valid block
  packages/runtime-vapor/__tests__/componentSlots.spec.ts
  packages/runtime-vapor/src/block.ts
  packages/runtime-vapor/src/componentSlots.ts
Due: packages

chore: minor tweaks
  packages/compiler-sfc/__tests__/__snapshots__/compileScript.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript.spec.ts
  packages/compiler-sfc/src/compileScript.ts
  packages/compiler-sfc/src/script/importUsageCheck.ts
Due: packages, compiler-sfc

build(tsconfig): 添加vueCompilerOptions配置和global.d.ts包含路径
  tsconfig.json
Due: none

Path conditions:
  packages: any of: packages/
  compiler-core: any of: packages/compiler-core/
  compiler-dom: any of: packages/compiler-dom/
  compiler-sfc: any of: packages/compiler-sfc/
  reactivity: any of: packages/reactivity/
  reactivity-transform: any of: packages/reactivity-transform/
  runtime-core: any of: packages/runtime-core/
  runtime-dom: any of: packages/runtime-dom/
  runtime-test: any of: packages/runtime-test/
  server-renderer: any of: packages/server-renderer/
  sfc-playground: any of: packages/sfc-playground/
  shared: any of: packages/shared/
  size-check: any of: packages/size-check/
  template-explorer: any of: packages/template-explorer/
  vue: any of: packages/vue/
  vue-compat: any of: packages/vue-compat/
