Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

test(runtime-core): add unit test
  packages/runtime-core/__tests__/errorHandling.spec.ts
Due: packages, runtime-core

types: change DefineComponent defaults to be more lenient
  packages/runtime-core/src/apiDefineComponent.ts
Due: packages, runtime-core

chore: improve ComponentData
  packages/dts-test/componentTypeHelpers.test-d.ts
  packages/runtime-core/src/componentTypeHelpers.ts
Due: packages, runtime-core

perf: optimize position cloning
  packages/compiler-core/src/utils.ts
Due: packages, compiler-core

perf(compiler-sfc): remove magic-string trim on script
  packages/compiler-sfc/__tests__/__snapshots__/compileScript.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript/__snapshots__/defineEmits.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript/__snapshots__/defineExpose.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript/__snapshots__/defineOptions.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript/__snapshots__/definePropsDestructure.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript/__snapshots__/hoistStatic.spec.ts.snap
  packages/compiler-sfc/src/compileScript.ts
Due: packages, compiler-sfc

feat: binding
  packages/compiler-vapor/.prettierrc
  packages/compiler-vapor/src/generate.ts
  packages/compiler-vapor/src/transform.ts
  packages/runtime-vapor/src/index.ts
  packages/runtime-vapor/src/on.ts
  packages/runtime-vapor/src/render.ts
  packages/template-explorer/package.json
  packages/template-explorer/src/index.ts
  playground/package.json
  playground/src/App.vue
  playground/src/main.ts
  playground/vite.config.ts
  pnpm-lock.yaml
Due: packages, template-explorer

refactor: tidy
  packages/runtime-vapor/src/index.ts
  packages/runtime-vapor/src/render.ts
Due: packages

test: counter
  packages/compiler-vapor/__tests__/__snapshots__/basic.test.ts.snap
  packages/compiler-vapor/__tests__/basic.test.ts
  packages/compiler-vapor/__tests__/fixtures/counter.vue
  packages/compiler-vapor/src/compile.ts
  packages/compiler-vapor/src/transform.ts
Due: packages

fix: ts error
  playground/package.json
  playground/src/main.ts
  pnpm-lock.yaml
Due: none

perf(codegen): optimize line / column calculation during codegen
  packages/compiler-core/src/codegen.ts
Due: packages, compiler-core

refactor: helpers, import type, cleanup
  packages/compiler-vapor/__tests__/__snapshots__/basic.test.ts.snap
  packages/compiler-vapor/src/compile.ts
  packages/compiler-vapor/src/generate.ts
  packages/compiler-vapor/src/index.ts
  packages/compiler-vapor/src/ir.ts
  packages/compiler-vapor/src/transform.ts
Due: packages

chore: codegen
  packages/compiler-vapor/src/generate.ts
Due: packages

chore: update readme
  README.md
Due: none

chore: add todo comment
  README.md
  packages/compiler-vapor/src/generate.ts
  packages/compiler-vapor/src/transform.ts
Due: packages

feat: v-html
  README.md
  packages/compiler-vapor/__tests__/__snapshots__/basic.test.ts.snap
  packages/compiler-vapor/__tests__/fixtures/counter.vue
  packages/compiler-vapor/src/generate.ts
  packages/compiler-vapor/src/ir.ts
  packages/compiler-vapor/src/transform.ts
  packages/runtime-vapor/src/render.ts
  playground/src/App.vue
Due: packages

feat: v-text
  README.md
  packages/compiler-vapor/src/transform.ts
  playground/src/App.vue
Due: packages

fix: self closing tag
  packages/compiler-vapor/__tests__/__snapshots__/basic.test.ts.snap
  packages/compiler-vapor/__tests__/fixtures/counter.vue
  packages/compiler-vapor/src/transform.ts
  playground/src/App.vue
Due: packages

fix: typo
  packages/compiler-vapor/src/generate.ts
  packages/compiler-vapor/src/ir.ts
  packages/compiler-vapor/src/transform.ts
Due: packages

feat: once
  README.md
  packages/compiler-vapor/__tests__/__snapshots__/basic.test.ts.snap
  packages/compiler-vapor/__tests__/fixtures/counter.vue
  packages/compiler-vapor/src/generate.ts
  packages/compiler-vapor/src/ir.ts
  packages/compiler-vapor/src/transform.ts
  playground/src/App.vue
Due: packages

chore: update todo
  README.md
Due: none

feat: v-pre
  README.md
  packages/compiler-vapor/__tests__/__snapshots__/basic.test.ts.snap
  packages/compiler-vapor/__tests__/fixtures/counter.vue
  playground/src/App.vue
Due: packages

feat: v-cloak
  README.md
  packages/compiler-vapor/src/transform.ts
  playground/src/App.vue
Due: packages

fix: remove get children when no dynamic node
  packages/compiler-vapor/__tests__/__snapshots__/compile.test.ts.snap
  packages/compiler-vapor/__tests__/__snapshots__/fixtures.test.ts.snap
  packages/compiler-vapor/__tests__/compile.test.ts
  packages/compiler-vapor/__tests__/fixtures.test.ts
  packages/compiler-vapor/src/generate.ts
Due: packages

test: add unit tests for directives
  packages/compiler-vapor/__tests__/__snapshots__/compile.test.ts.snap
  packages/compiler-vapor/__tests__/compile.test.ts
  packages/compiler-vapor/src/compile.ts
Due: packages

feat: dynamic root node
  packages/compiler-vapor/__tests__/__snapshots__/compile.test.ts.snap
  packages/compiler-vapor/__tests__/__snapshots__/fixtures.test.ts.snap
  packages/compiler-vapor/__tests__/fixtures/counter.vue
  packages/compiler-vapor/src/generate.ts
  packages/compiler-vapor/src/transform.ts
  playground/src/App-root.vue
  playground/src/main.ts
Due: packages

refactor: root id
  packages/compiler-vapor/__tests__/__snapshots__/compile.test.ts.snap
  packages/compiler-vapor/__tests__/__snapshots__/fixtures.test.ts.snap
  packages/compiler-vapor/__tests__/compile.test.ts
  packages/compiler-vapor/src/generate.ts
  packages/compiler-vapor/src/transform.ts
Due: packages

perf(codegen): optimize source map generation
  packages/compiler-core/src/codegen.ts
Due: packages, compiler-core

chore: restructure parser files
  packages/compiler-core/__tests__/parse.spec.ts
  packages/compiler-core/src/compile.ts
  packages/compiler-core/src/options.ts
  packages/compiler-core/src/parser.ts
  packages/compiler-core/src/tokenizer.ts
Due: packages, compiler-core

Custom props
  packages/dts-test/componentTypeExtensions.test-d.tsx
  packages/dts-test/defineComponent.test-d.tsx
  packages/runtime-core/src/apiDefineComponent.ts
  packages/runtime-core/src/componentOptions.ts
  packages/runtime-core/src/componentTypeHelpers.ts
Due: packages, runtime-core

test: add dts test
  packages/dts-test/h.test-d.ts
Due: packages

release: v3.3.9
  CHANGELOG.md
  package.json
  packages/compiler-core/package.json
  packages/compiler-dom/package.json
  packages/compiler-sfc/package.json
  packages/compiler-ssr/package.json
  packages/reactivity-transform/package.json
  packages/reactivity/package.json
  packages/runtime-core/package.json
  packages/runtime-dom/package.json
  packages/server-renderer/package.json
  packages/shared/package.json
  packages/vue-compat/package.json
  packages/vue/package.json
Due: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, server-renderer, shared, vue, vue-compat

wip: pass all compiler-sfc tests
  packages/compiler-core/__tests__/parse.spec.ts
  packages/compiler-core/src/parser/Tokenizer.ts
  packages/compiler-core/src/parser/index.ts
  packages/compiler-sfc/__tests__/parse.spec.ts
  packages/compiler-sfc/src/parse.ts
Due: packages, compiler-core, compiler-sfc

wip: parse directive in tokenizer
  packages/compiler-core/src/parser/Parser.ts
  packages/compiler-core/src/parser/Tokenizer.ts
  packages/compiler-core/src/parser/index.ts
Due: packages, compiler-core

wip: pass all compiler-core tests
  packages/compiler-core/src/parser/Tokenizer.ts
Due: packages, compiler-core

wip: entities parsing in browser
  packages/compiler-core/src/options.ts
  packages/compiler-core/src/parser/Tokenizer.ts
  packages/compiler-core/src/parser/index.ts
  packages/compiler-dom/src/decodeHtml.ts
  packages/compiler-dom/src/namedChars.json
  packages/compiler-dom/src/parserOptions.ts
  rollup.config.js
Due: packages, compiler-core, compiler-dom

wip: port parser
  packages/compiler-core/__tests__/parse.spec.ts
  packages/compiler-core/src/ast.ts
  packages/compiler-core/src/index.ts
  packages/compiler-core/src/options.ts
  packages/compiler-core/src/parse.ts
  packages/compiler-core/src/parser/Parser.ts
  packages/compiler-core/src/parser/Tokenizer.ts
  packages/compiler-core/src/parser/index.ts
Due: packages, compiler-core

wip: pre tag handling
  packages/compiler-core/src/parser/index.ts
Due: packages, compiler-core

wip: should parse sfc template with lang=html
  packages/compiler-core/src/parser/index.ts
Due: packages, compiler-core

wip: remove unused options
  packages/compiler-core/src/parser/Parser.ts
  packages/compiler-core/src/parser/index.ts
Due: packages, compiler-core

Path conditions:
  packages: any of: packages/
  compiler-core: any of: packages/compiler-core/
  compiler-dom: any of: packages/compiler-dom/
  compiler-sfc: any of: packages/compiler-sfc/
  reactivity: any of: packages/reactivity/
  reactivity-transform: any of: packages/reactivity-transform/
  runtime-core: any of: packages/runtime-core/
  runtime-dom: any of: packages/runtime-dom/
  runtime-test: any of: packages/runtime-test/
  server-renderer: any of: packages/server-renderer/
  sfc-playground: any of: packages/sfc-playground/
  shared: any of: packages/shared/
  size-check: any of: packages/size-check/
  template-explorer: any of: packages/template-explorer/
  vue: any of: packages/vue/
  vue-compat: any of: packages/vue-compat/
