Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

chore: update test
  packages/runtime-core/__tests__/helpers/useTemplateRef.spec.ts
Due: packages, runtime-core

chore: update
  packages/runtime-core/src/helpers/useTemplateRef.ts
  packages/runtime-core/src/rendererTemplateRef.ts
Due: packages, runtime-core

fix(suspense): properly update anchor if activeBranch not render to actual container
  packages/runtime-core/src/components/Suspense.ts
Due: packages, runtime-core

feat(compiler-core): parse modifiers as expression to provide location data
  packages/compiler-core/__tests__/parse.spec.ts
  packages/compiler-core/src/ast.ts
  packages/compiler-core/src/parser.ts
  packages/compiler-core/src/transforms/transformElement.ts
  packages/compiler-core/src/transforms/vBind.ts
  packages/compiler-core/src/transforms/vModel.ts
  packages/compiler-dom/src/transforms/vOn.ts
Due: packages, compiler-core, compiler-dom

test: add test case
  packages/vue/__tests__/e2e/Transition.spec.ts
Due: packages, vue

types(shared): removed the Awaited compatibility type tool
  packages/runtime-core/src/scheduler.ts
  packages/shared/src/typeUtils.ts
Due: packages, runtime-core, shared

refactor: use `some` instead of `find`
  packages/compiler-core/src/transforms/transformElement.ts
  packages/compiler-core/src/transforms/vBind.ts
Due: packages, compiler-core

Merge remote-tracking branch 'upstream/main' into bwsy/fix/hydrationText
  packages/runtime-core/__tests__/hydration.spec.ts
  packages/runtime-core/src/hydration.ts
Due: packages, runtime-core

chore(types): removed the Awaited compatibility type tool (#11820)
  packages/runtime-core/src/scheduler.ts
  packages/shared/src/typeUtils.ts
Due: packages, runtime-core, shared

fix(reactivity): pass oldValue to computed getter (#11813)
  packages/reactivity/__tests__/computed.spec.ts
  packages/reactivity/src/effect.ts
Due: packages, reactivity

fix(typo): added name attribute support to details tag
  packages/runtime-dom/src/jsx.ts
Due: packages, runtime-dom

fix(typo): added test
  packages-private/dts-test/tsx.test-d.tsx
Due: none

fix(types): fix defineComponent props inference when setup() has explicit annotation
  packages-private/dts-test/defineComponent.test-d.tsx
  packages/runtime-core/src/apiDefineComponent.ts
Due: packages, runtime-core

fix(Transition): handle KeepAlive child unmount in Transition out-in mode (#11778)
  packages/runtime-core/src/componentRenderUtils.ts
  packages/runtime-core/src/components/BaseTransition.ts
  packages/runtime-core/src/components/KeepAlive.ts
  packages/vue/__tests__/e2e/Transition.spec.ts
Due: packages, runtime-core, vue

chore: update
  packages/runtime-core/__tests__/helpers/useTemplateRef.spec.ts
  packages/runtime-core/src/component.ts
Due: packages, runtime-core

fix(Transition): handle leave immediatily done in out-in mode
  packages/runtime-core/src/components/BaseTransition.ts
  packages/vue/__tests__/e2e/Transition.spec.ts
Due: packages, runtime-core, vue

fix(Hydration): implement proper check for __asyncHydrate #11793
  packages/runtime-core/src/renderer.ts
Due: packages, runtime-core

fix(reactivity): make toRaw work on proxies created by proxyRef
  packages/reactivity/src/ref.ts
Due: packages, reactivity

fix(useTemplateRef): properly fix readonly warning in dev and ensure prod behavior consistency
  packages/runtime-core/__tests__/helpers/useTemplateRef.spec.ts
  packages/runtime-core/src/helpers/useTemplateRef.ts
  packages/runtime-core/src/rendererTemplateRef.ts
Due: packages, runtime-core

fix(scheduler): prevent duplicate jobs being queued
  packages/runtime-core/src/scheduler.ts
Due: packages, runtime-core

fix(types): added name attribute support to details tag (#11823)
  packages-private/dts-test/tsx.test-d.tsx
  packages/runtime-dom/src/jsx.ts
Due: packages, runtime-dom

fix(reactivity): prevent endless recursion in computed getters (#11797)
  packages/reactivity/__tests__/computed.spec.ts
  packages/reactivity/src/dep.ts
Due: packages, reactivity

fix(reactivity): self-referencing computed should refresh
  packages/reactivity/__tests__/computed.spec.ts
  packages/reactivity/src/computed.ts
  packages/reactivity/src/effect.ts
Due: packages, reactivity

fix(scheduler): prevent duplicate jobs being queued (#11826)
  packages/runtime-core/src/scheduler.ts
Due: packages, runtime-core

fix(types): add HTMLDialogElement missing close event (#11811)
  packages/runtime-dom/src/jsx.ts
Due: packages, runtime-dom

fix(suspense): avoid updating anchor if activeBranch has not been rendered to the actual container (#11818)
  packages/runtime-core/src/components/Suspense.ts
  packages/vue/__tests__/e2e/Transition.spec.ts
Due: packages, runtime-core, vue

types(internal): provide internal options for using `$el` type in language tools (#11814)
  packages-private/dts-test/defineComponent.test-d.tsx
  packages/runtime-core/src/apiDefineComponent.ts
  packages/runtime-core/src/componentPublicInstance.ts
Due: packages, runtime-core

feat(compiler-core): parse modifiers as expression to provide location data (#11819)
  packages/compiler-core/__tests__/parse.spec.ts
  packages/compiler-core/src/ast.ts
  packages/compiler-core/src/parser.ts
  packages/compiler-core/src/transforms/transformElement.ts
  packages/compiler-core/src/transforms/vBind.ts
  packages/compiler-core/src/transforms/vModel.ts
  packages/compiler-dom/src/transforms/vOn.ts
Due: packages, compiler-core, compiler-dom

release: v3.5.2
  CHANGELOG.md
  package.json
  packages/compiler-core/package.json
  packages/compiler-dom/package.json
  packages/compiler-sfc/package.json
  packages/compiler-ssr/package.json
  packages/reactivity/package.json
  packages/runtime-core/package.json
  packages/runtime-dom/package.json
  packages/server-renderer/package.json
  packages/shared/package.json
  packages/vue-compat/package.json
  packages/vue/package.json
Due: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, runtime-core, runtime-dom, server-renderer, shared, vue, vue-compat

fix(useId): make generated IDs selector compatible
  packages/runtime-core/__tests__/helpers/useId.spec.ts
  packages/runtime-core/src/helpers/useId.ts
Due: packages, runtime-core

fix: Revert "fix(reactivity): self-referencing computed should refresh"
  packages/reactivity/__tests__/computed.spec.ts
  packages/reactivity/src/computed.ts
  packages/reactivity/src/effect.ts
Due: packages, reactivity

fix: Revert "fix(Transition): handle KeepAlive child unmount in Transition out-in mode (#11778)"
  packages/runtime-core/src/componentRenderUtils.ts
  packages/runtime-core/src/components/BaseTransition.ts
  packages/runtime-core/src/components/KeepAlive.ts
  packages/vue/__tests__/e2e/Transition.spec.ts
Due: packages, runtime-core, vue

fix: re-fix 10827
  packages/runtime-core/src/componentRenderUtils.ts
  packages/runtime-core/src/components/BaseTransition.ts
Due: packages, runtime-core

Update renderer.ts
  packages/runtime-core/src/renderer.ts
Due: packages, runtime-core

fix(Transition): handle KeepAlive child unmount in Transition out-in mode (#11833)
  packages/runtime-core/src/componentRenderUtils.ts
  packages/runtime-core/src/components/BaseTransition.ts
  packages/runtime-core/src/components/KeepAlive.ts
  packages/vue/__tests__/e2e/Transition.spec.ts
Due: packages, runtime-core, vue

fix(hydration): check __asyncHydrate presence for vue3-lazy-hydration compat (#11825)
  packages/runtime-core/src/renderer.ts
Due: packages, runtime-core

fix(ssr): respect app.config.warnHandler during ssr
  packages/runtime-core/src/index.ts
  packages/server-renderer/__tests__/render.spec.ts
  packages/server-renderer/src/render.ts
Due: packages, runtime-core, server-renderer

release: v3.5.3
  CHANGELOG.md
  package.json
  packages/compiler-core/package.json
  packages/compiler-dom/package.json
  packages/compiler-sfc/package.json
  packages/compiler-ssr/package.json
  packages/reactivity/package.json
  packages/runtime-core/package.json
  packages/runtime-dom/package.json
  packages/server-renderer/package.json
  packages/shared/package.json
  packages/vue-compat/package.json
  packages/vue/package.json
Due: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, runtime-core, runtime-dom, server-renderer, shared, vue, vue-compat

Update rendererTemplateRef.ts
  packages/runtime-core/src/rendererTemplateRef.ts
Due: packages, runtime-core

Path conditions:
  packages: any of: packages/
  compiler-core: any of: packages/compiler-core/
  compiler-dom: any of: packages/compiler-dom/
  compiler-sfc: any of: packages/compiler-sfc/
  reactivity: any of: packages/reactivity/
  reactivity-transform: any of: packages/reactivity-transform/
  runtime-core: any of: packages/runtime-core/
  runtime-dom: any of: packages/runtime-dom/
  runtime-test: any of: packages/runtime-test/
  server-renderer: any of: packages/server-renderer/
  sfc-playground: any of: packages/sfc-playground/
  shared: any of: packages/shared/
  size-check: any of: packages/size-check/
  template-explorer: any of: packages/template-explorer/
  vue: any of: packages/vue/
  vue-compat: any of: packages/vue-compat/
