Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

codecov.yml:

coverage:
  status:
    project:
      default:
        # Status checks are set to be non-blocking
        informational: true
    patch:
      default:
        # Status checks are set to be non-blocking
        informational: true

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: packages
      paths:
        - packages/
    - component_id: compiler-core
      paths:
        - packages/compiler-core/
    - component_id: compiler-dom
      paths:
        - packages/compiler-dom/
    - component_id: compiler-sfc
      paths:
        - packages/compiler-sfc/
    - component_id: compiler-sfc
      paths:
        - packages/compiler-sfc/
    - component_id: reactivity
      paths:
        - packages/reactivity/
    - component_id: reactivity-transform
      paths:
        - packages/reactivity-transform/
    - component_id: runtime-core
      paths:
        - packages/runtime-core/
    - component_id: runtime-dom
      paths:
        - packages/runtime-dom/
    - component_id: runtime-test
      paths:
        - packages/runtime-test/
    - component_id: server-renderer
      paths:
        - packages/server-renderer/
    - component_id: sfc-playground
      paths:
        - packages/sfc-playground/
    - component_id: shared
      paths:
        - packages/shared/
    - component_id: size-check
      paths:
        - packages/size-check/
    - component_id: template-explorer
      paths:
        - packages/template-explorer/
    - component_id: vue
      paths:
        - packages/vue/
    - component_id: vue-compat
      paths:
        - packages/vue-compat/

fix(runtime-vapor): render a null dynamic component as an empty branch
  packages/runtime-vapor/__tests__/apiCreateDynamicComponent.spec.ts
  packages/runtime-vapor/src/apiCreateDynamicComponent.ts
  packages/runtime-vapor/src/dom/hydrateFragment.ts
Due: packages

fix(runtime-vapor): stringify symbol value attributes
  packages/runtime-vapor/__tests__/dom/prop.spec.ts
  packages/runtime-vapor/src/dom/prop.ts
Due: packages

fix(runtime-vapor): set value as attribute so form reset restores it (#15340)
  packages/runtime-vapor/__tests__/dom/prop.spec.ts
  packages/runtime-vapor/src/dom/prop.ts
Due: packages

fix(runtime-vapor): claim runtime structural anchors so block validity matches across builds
  packages/runtime-vapor/__tests__/componentSlots.spec.ts
  packages/runtime-vapor/src/apiCreateIf.ts
  packages/runtime-vapor/src/block.ts
  packages/runtime-vapor/src/fragment.ts
Due: packages

fix(runtime-vapor): do not skip the initial DOM prop set (#15341)
  packages/runtime-vapor/__tests__/dom/prop.spec.ts
  packages/runtime-vapor/src/dom/prop.ts
Due: packages

fix(runtime-vapor): align DOM prop updates with VDOM
  packages/runtime-vapor/__tests__/component.spec.ts
  packages/runtime-vapor/__tests__/dom/prop.spec.ts
  packages/runtime-vapor/src/dom/prop.ts
Due: packages

refactor(runtime-vapor): drop the write-only OWNS_ANCHOR flag
  packages/runtime-vapor/__tests__/dom/hydrateFragment.spec.ts
  packages/runtime-vapor/src/fragment.ts
  packages/runtime-vapor/src/fragmentFlags.ts
Due: packages

fix(runtime-vapor): align DOM prop updates with VDOM (#15343)
  packages/runtime-vapor/__tests__/component.spec.ts
  packages/runtime-vapor/__tests__/dom/prop.spec.ts
  packages/runtime-vapor/src/dom/prop.ts
Due: packages

fix(runtime-vapor): key the null dynamic component branch by its resolved sentinel
  packages/runtime-vapor/src/apiCreateDynamicComponent.ts
Due: packages

refactor(runtime-vapor): name the dynamic anchor resolution rules
  packages/runtime-vapor/__tests__/dom/hydrateFragment.spec.ts
  packages/runtime-vapor/src/dom/hydrateFragment.ts
Due: packages

refactor(runtime-vapor): hold the anchor invariant in the constructor
  packages/runtime-vapor/__tests__/bench/block.bench.ts
  packages/runtime-vapor/__tests__/block.spec.ts
  packages/runtime-vapor/__tests__/componentSlots.spec.ts
  packages/runtime-vapor/__tests__/dom/hydrateFragment.spec.ts
  packages/runtime-vapor/__tests__/hydration/asyncComponent.spec.ts
  packages/runtime-vapor/src/apiCreateDynamicComponent.ts
  packages/runtime-vapor/src/apiCreateFragment.ts
  packages/runtime-vapor/src/apiCreateIf.ts
  packages/runtime-vapor/src/apiDefineAsyncComponent.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/componentSlots.ts
  packages/runtime-vapor/src/components/Transition.ts
  packages/runtime-vapor/src/components/TransitionGroup.ts
  packages/runtime-vapor/src/dom/hydrateFragment.ts
  packages/runtime-vapor/src/fragment.ts
  packages/runtime-vapor/src/fragmentFlags.ts
Due: packages

refactor(runtime-vapor): insert hydration anchors synchronously
  packages/runtime-vapor/__tests__/anchorAdoption.spec.ts
  packages/runtime-vapor/__tests__/componentSlots.spec.ts
  packages/runtime-vapor/__tests__/dom/hydrateFragment.spec.ts
  packages/runtime-vapor/__tests__/hydration/interopBasic.spec.ts
  packages/runtime-vapor/src/apiCreateDynamicComponent.ts
  packages/runtime-vapor/src/apiCreateFor.ts
  packages/runtime-vapor/src/apiCreateFragment.ts
  packages/runtime-vapor/src/apiCreateIf.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/componentSlots.ts
  packages/runtime-vapor/src/components/Teleport.ts
  packages/runtime-vapor/src/components/TransitionGroup.ts
  packages/runtime-vapor/src/dom/hydrateFragment.ts
  packages/runtime-vapor/src/dom/hydration.ts
  packages/runtime-vapor/src/dom/node.ts
  packages/runtime-vapor/src/fragment.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

perf(runtime-vapor): cache template adopt target
  packages/runtime-vapor/__tests__/bench/hydration.bench.ts
  packages/runtime-vapor/__tests__/bench/hydration.fixtures.ts
  packages/runtime-vapor/__tests__/hydration/benchFixtures.spec.ts
  packages/runtime-vapor/src/dom/hydration.ts
  packages/runtime-vapor/src/dom/template.ts
Due: packages

fix(runtime-vapor): recover when the server rendered fewer logical children
  packages/runtime-vapor/__tests__/hydration/mismatch.spec.ts
  packages/runtime-vapor/src/dom/node.ts
Due: packages

test(runtime-vapor): make the fallback bench ladder exercise fallback
  packages/runtime-vapor/__tests__/bench/hydration.fixtures.ts
Due: packages

fix(runtime-vapor): count each hydration cursor exit once
  packages/runtime-vapor/src/dom/hydration.ts
Due: packages

test(runtime-vapor): split hydration.spec.ts
  packages/runtime-vapor/__tests__/hydration.spec.ts
  packages/runtime-vapor/__tests__/hydration/_helpers.ts
  packages/runtime-vapor/__tests__/hydration/asyncComponent.spec.ts
  packages/runtime-vapor/__tests__/hydration/basic.spec.ts
  packages/runtime-vapor/__tests__/hydration/component.spec.ts
  packages/runtime-vapor/__tests__/hydration/for.spec.ts
  packages/runtime-vapor/__tests__/hydration/if.spec.ts
  packages/runtime-vapor/__tests__/hydration/interopBasic.spec.ts
  packages/runtime-vapor/__tests__/hydration/interopDynamic.spec.ts
  packages/runtime-vapor/__tests__/hydration/interopSlots.spec.ts
  packages/runtime-vapor/__tests__/hydration/interopStructure.spec.ts
  packages/runtime-vapor/__tests__/hydration/mismatch.spec.ts
  packages/runtime-vapor/__tests__/hydration/placeholderAlignment.spec.ts
  packages/runtime-vapor/__tests__/hydration/scopeId.spec.ts
  packages/runtime-vapor/__tests__/hydration/slots.spec.ts
  packages/runtime-vapor/__tests__/hydration/slotsForwarded.spec.ts
  packages/runtime-vapor/__tests__/hydration/suspense.spec.ts
  packages/runtime-vapor/__tests__/hydration/teleport.spec.ts
  packages/runtime-vapor/__tests__/hydration/transition.spec.ts
Due: packages

refactor(runtime-vapor): apply hydration series cleanup review
  packages/runtime-vapor/__tests__/bench/hydration.fixtures.ts
  packages/runtime-vapor/__tests__/dom/hydrateFragment.spec.ts
  packages/runtime-vapor/src/apiCreateFor.ts
  packages/runtime-vapor/src/apiCreateIf.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/dom/hydrateFragment.ts
  packages/runtime-vapor/src/dom/hydration.ts
  packages/runtime-vapor/src/fragment.ts
  packages/runtime-vapor/src/fragmentFlags.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

refactor(runtime-vapor): reify the slot hydration ledger as a session
  packages/runtime-vapor/src/dom/hydrateFragment.ts
Due: packages

perf(runtime-vapor): avoid quadratic scan when leaving a hydration boundary
  packages/runtime-vapor/__tests__/bench/hydration.bench.ts
  packages/runtime-vapor/__tests__/bench/hydration.fixtures.ts
  packages/runtime-vapor/src/dom/hydration.ts
Due: packages

fix(runtime-vapor): skip the restore on a second cursor exit
  packages/runtime-vapor/src/dom/hydration.ts
Due: packages

refactor(runtime-vapor): normalize the hydration cursor at its write funnel
  packages/runtime-vapor/src/dom/hydration.ts
Due: packages

refactor(runtime-vapor): move fragment anchor category into __vf flags
  packages/runtime-vapor/__tests__/bench/block.bench.ts
  packages/runtime-vapor/__tests__/block.spec.ts
  packages/runtime-vapor/__tests__/componentSlots.spec.ts
  packages/runtime-vapor/__tests__/dom/hydrateFragment.spec.ts
  packages/runtime-vapor/__tests__/hydration/asyncComponent.spec.ts
  packages/runtime-vapor/src/apiCreateDynamicComponent.ts
  packages/runtime-vapor/src/apiCreateFragment.ts
  packages/runtime-vapor/src/apiCreateIf.ts
  packages/runtime-vapor/src/apiDefineAsyncComponent.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/componentSlots.ts
  packages/runtime-vapor/src/components/Transition.ts
  packages/runtime-vapor/src/components/TransitionGroup.ts
  packages/runtime-vapor/src/dom/hydrateFragment.ts
  packages/runtime-vapor/src/fragment.ts
  packages/runtime-vapor/src/fragmentFlags.ts
Due: packages

revert(runtime-vapor): recover when the server rendered fewer logical children
  packages/runtime-vapor/__tests__/hydration/mismatch.spec.ts
  packages/runtime-vapor/src/dom/node.ts
Due: packages

refactor(runtime-vapor): unify block hydration tail
  packages/runtime-vapor/src/apiCreateDynamicComponent.ts
  packages/runtime-vapor/src/apiCreateFor.ts
  packages/runtime-vapor/src/apiCreateFragment.ts
  packages/runtime-vapor/src/apiCreateIf.ts
  packages/runtime-vapor/src/componentSlots.ts
  packages/runtime-vapor/src/dom/hydration.ts
  packages/runtime-vapor/src/fragment.ts
Due: packages

fix(runtime-core): keep .trim result when combined with .number v-model modifier
  packages/runtime-core/__tests__/componentEmits.spec.ts
  packages/runtime-core/src/componentEmits.ts
Due: packages, runtime-core

fix(compiler-core): handle invalid static arg in same-name v-bind shorthand
  packages/compiler-core/__tests__/transforms/vBind.spec.ts
  packages/compiler-core/src/transforms/transformVBindShorthand.ts
Due: packages, compiler-core

fix(runtime-dom): support !important on CSS custom properties in style binding
  packages/runtime-dom/__tests__/patchStyle.spec.ts
  packages/runtime-dom/src/modules/style.ts
Due: packages, runtime-dom

fix(compiler-core): recover safely from invalid v-bind shorthand
  packages/compiler-core/__tests__/transforms/vBind.spec.ts
  packages/compiler-core/src/errors.ts
  packages/compiler-core/src/transforms/transformVBindShorthand.ts
Due: packages, compiler-core

fix(types): make inferred function-syntax setup props readonly
  packages-private/dts-test/defineComponent.test-d.tsx
  packages/runtime-core/src/apiDefineComponent.ts
Due: packages, runtime-core

fix(types): split resolved setup props from public function-syntax contract
  packages-private/dts-test/defineComponent.test-d.tsx
  packages/runtime-core/src/apiDefineComponent.ts
Due: packages, runtime-core

fix(types): treat exact resolved setup annotations as public contract
  packages-private/dts-test/defineComponent.test-d.tsx
  packages/runtime-core/src/apiDefineComponent.ts
Due: packages, runtime-core

chore(build): migrate to Vite+ 0.3
  package.json
  packages-private/local-playground/package.json
  packages-private/local-playground/vite.config.ts
  packages-private/local-playground/vite.prod.config.ts
  packages-private/vapor-e2e-test/__tests__/e2eUtils.ts
  packages-private/vapor-e2e-test/__tests__/setupBrowser.ts
  packages-private/vapor-e2e-test/__tests__/todomvc.spec.ts
  packages-private/vapor-e2e-test/__tests__/transition-group.spec.ts
  packages-private/vapor-e2e-test/package.json
  packages-private/vite-debug/package.json
  packages/compiler-sfc/__tests__/compileScript.spec.ts
  packages/reactivity/__benchmarks__/computed.bench.ts
  packages/reactivity/__benchmarks__/effect.bench.ts
  packages/reactivity/__benchmarks__/reactiveArray.bench.ts
  packages/reactivity/__benchmarks__/reactiveMap.bench.ts
  packages/reactivity/__benchmarks__/reactiveObject.bench.ts
  packages/reactivity/__benchmarks__/ref.bench.ts
  packages/runtime-core/__tests__/apiOptions.spec.ts
  packages/runtime-core/__tests__/apiWatch.bench.ts
  packages/runtime-dom/__tests__/customElement.spec.ts
  packages/runtime-dom/__tests__/customizedBuiltIn.spec.ts
  packages/runtime-vapor/__tests__/bench/block.bench.ts
  packages/runtime-vapor/__tests__/bench/hydration.bench.ts
  packages/runtime-vapor/__tests__/bench/setClass.bench.ts
  packages/runtime-vapor/__tests__/customElement.spec.ts
  packages/runtime-vapor/__tests__/directives/customDirective.spec.ts
  packages/runtime-vapor/__tests__/directives/vShow.spec.ts
  packages/runtime-vapor/__tests__/if.spec.ts
  packages/server-renderer/__tests__/createBuffer.bench.ts
  packages/server-renderer/__tests__/unrollBuffer.bench.ts
  packages/vue-compat/__tests__/instance.spec.ts
  packages/vue/__tests__/e2e/e2eBrowserUtils.ts
  packages/vue/__tests__/e2e/trusted-types.spec.ts
  packages/vue/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/setup-vitest.ts
  vite.config.ts
Due: packages, compiler-sfc, reactivity, runtime-core, runtime-dom, server-renderer, vue, vue-compat

fix: dts-errors
  rolldown.dts.config.js
Due: none

chore: tweaks
  package.json
  pnpm-workspace.yaml
Due: none
