Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

codecov.yml:

coverage:
  status:
    project:
      default:
        # Status checks are set to be non-blocking
        informational: true
    patch:
      default:
        # Status checks are set to be non-blocking
        informational: true

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: packages
      paths:
        - packages/
    - component_id: compiler-core
      paths:
        - packages/compiler-core/
    - component_id: compiler-dom
      paths:
        - packages/compiler-dom/
    - component_id: compiler-sfc
      paths:
        - packages/compiler-sfc/
    - component_id: compiler-sfc
      paths:
        - packages/compiler-sfc/
    - component_id: reactivity
      paths:
        - packages/reactivity/
    - component_id: reactivity-transform
      paths:
        - packages/reactivity-transform/
    - component_id: runtime-core
      paths:
        - packages/runtime-core/
    - component_id: runtime-dom
      paths:
        - packages/runtime-dom/
    - component_id: runtime-test
      paths:
        - packages/runtime-test/
    - component_id: server-renderer
      paths:
        - packages/server-renderer/
    - component_id: sfc-playground
      paths:
        - packages/sfc-playground/
    - component_id: shared
      paths:
        - packages/shared/
    - component_id: size-check
      paths:
        - packages/size-check/
    - component_id: template-explorer
      paths:
        - packages/template-explorer/
    - component_id: vue
      paths:
        - packages/vue/
    - component_id: vue-compat
      paths:
        - packages/vue-compat/

chore: update
  packages/compiler-core/src/compat/compatConfig.ts
  packages/compiler-core/src/parser.ts
Due: packages, compiler-core

fix(parser): update v-bind.sync deprecation message to use argument content
  packages/compiler-core/src/parser.ts
Due: packages, compiler-core

chore: update
  packages/compiler-core/src/parser.ts
Due: packages, compiler-core

fix(compiler-core): adjust COMPILER_V_BIND_SYNC warning content
  packages/compiler-core/src/parser.ts
Due: packages, compiler-core

fix(compat): correct deprecation message for v-bind.sync usage (#13137)
  packages/compiler-core/src/parser.ts
Due: packages, compiler-core

fix(runtime-vapor): insert anchor for DynamicFragment when using insertionState
  packages/runtime-vapor/src/block.ts
Due: packages

test: add tests
  packages/runtime-vapor/__tests__/apiCreateDynamicComponent.spec.ts
Due: packages

chore: update
  packages/runtime-vapor/src/block.ts
Due: packages

fix(runtime-vapor): use slot fallback on initial render
  packages/runtime-vapor/__tests__/componentSlots.spec.ts
  packages/runtime-vapor/src/componentSlots.ts
Due: packages

fix: prevent v-for components from being single root
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformElement.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/transformElement.spec.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
Due: packages

fix(Transition): handle KeepAlive + transition leaving edge case
  packages/runtime-core/src/components/BaseTransition.ts
  packages/runtime-core/src/renderer.ts
Due: packages, runtime-core

fix: implement context inVFor
  packages/compiler-vapor/__tests__/transforms/transformElement.spec.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
Due: packages

test: add e2e test
  packages/runtime-core/src/renderer.ts
  packages/vue/__tests__/e2e/Transition.spec.ts
Due: packages, runtime-core, vue

chore: minor tweaks
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformElement.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/transformElement.spec.ts
Due: packages

fix(scheduler): ensure correct promise type in nextTick return value
  packages/runtime-core/src/scheduler.ts
Due: packages, runtime-core

feat(compiler-core): support v-model shorthand for key and value with the same name
  packages/compiler-core/__tests__/transforms/__snapshots__/vModel.spec.ts.snap
  packages/compiler-core/__tests__/transforms/vModel.spec.ts
  packages/compiler-core/src/errors.ts
  packages/compiler-core/src/transforms/vModel.ts
Due: packages, compiler-core

fix: update DOM error code index
  packages/compiler-dom/src/errors.ts
Due: packages, compiler-dom

fix(compile-sfc): auto add nesting combinators for ::v-deep in scoped CSS
  packages/compiler-sfc/__tests__/compileStyle.spec.ts
  packages/compiler-sfc/src/style/pluginScoped.ts
Due: packages, compiler-sfc

chore: update
  packages/compiler-sfc/__tests__/compileStyle.spec.ts
  packages/compiler-sfc/src/style/pluginScoped.ts
Due: packages, compiler-sfc

fix(custom-element): prevent parse slot when custom elemnt move in DOM
  packages/runtime-dom/src/apiCustomElement.ts
Due: packages, runtime-dom

chore: update
  packages/runtime-vapor/src/components/Teleport.ts
Due: packages

feat(runtime-vapor): support HMR for setup
  packages/runtime-vapor/src/component.ts
Due: packages

fix(compiler-dom): handle v-model + v-bind shorthand edge case
  packages/compiler-dom/src/transforms/vModel.ts
Due: packages, compiler-dom

test: add tests
  packages/compiler-dom/__tests__/transforms/__snapshots__/vModel.spec.ts.snap
  packages/compiler-dom/__tests__/transforms/vModel.spec.ts
Due: packages, compiler-dom

wip: vapor keepalive
  packages/runtime-core/src/components/KeepAlive.ts
  packages/runtime-core/src/index.ts
  packages/runtime-vapor/__tests__/components/KeepAlive.spec.ts
  packages/runtime-vapor/src/apiTemplateRef.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/components/KeepAlive.ts
  packages/runtime-vapor/src/index.ts
Due: packages, runtime-core

fix(templateRef): add support for dynamic components
  packages/runtime-vapor/__tests__/dom/templateRef.spec.ts
  packages/runtime-vapor/src/apiTemplateRef.ts
Due: packages

chore: update test
  packages/runtime-vapor/__tests__/dom/templateRef.spec.ts
Due: packages

chore: add bsky link
  README.md
Due: none

chore: add bsky link (#13175)
  README.md
Due: none

feat(types): Add Exposed template to SetupContext
  packages/runtime-core/src/component.ts
Due: packages, runtime-core

feat(types): Add Exposed template to SetupContext where it is used
  packages/runtime-core/src/apiDefineComponent.ts
  packages/runtime-core/src/component.ts
Due: packages, runtime-core

wip: save
  packages/runtime-core/src/components/KeepAlive.ts
  packages/runtime-vapor/__tests__/components/KeepAlive.spec.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/components/KeepAlive.ts
Due: packages, runtime-core

wip: refactor
  packages/runtime-core/src/components/KeepAlive.ts
  packages/runtime-core/src/index.ts
  packages/runtime-vapor/__tests__/components/KeepAlive.spec.ts
  packages/runtime-vapor/src/block.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/components/KeepAlive.ts
Due: packages, runtime-core

wip: refactor
  packages/runtime-vapor/__tests__/components/KeepAlive.spec.ts
  packages/runtime-vapor/src/block.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/components/KeepAlive.ts
Due: packages

test: port tests
  packages/runtime-vapor/__tests__/components/KeepAlive.spec.ts
  packages/runtime-vapor/src/components/KeepAlive.ts
Due: packages

fix(TransitionGroup): reset prevChildren to prevent memory leak
  packages/runtime-dom/src/components/TransitionGroup.ts
Due: packages, runtime-dom

test: port tests
  packages/runtime-vapor/__tests__/components/KeepAlive.spec.ts
Due: packages

test: port tests
  packages/runtime-vapor/__tests__/components/KeepAlive.spec.ts
  packages/runtime-vapor/src/components/KeepAlive.ts
  packages/runtime-vapor/src/index.ts
Due: packages

chore: refactor
  packages/runtime-core/src/component.ts
  packages/runtime-core/src/components/KeepAlive.ts
  packages/runtime-vapor/src/apiTemplateRef.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/components/KeepAlive.ts
Due: packages, runtime-core
