Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

codecov.yml:

coverage:
  status:
    project:
      default:
        # Status checks are set to be non-blocking
        informational: true
    patch:
      default:
        # Status checks are set to be non-blocking
        informational: true

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: packages
      paths:
        - packages/
    - component_id: compiler-core
      paths:
        - packages/compiler-core/
    - component_id: compiler-dom
      paths:
        - packages/compiler-dom/
    - component_id: compiler-sfc
      paths:
        - packages/compiler-sfc/
    - component_id: compiler-sfc
      paths:
        - packages/compiler-sfc/
    - component_id: reactivity
      paths:
        - packages/reactivity/
    - component_id: reactivity-transform
      paths:
        - packages/reactivity-transform/
    - component_id: runtime-core
      paths:
        - packages/runtime-core/
    - component_id: runtime-dom
      paths:
        - packages/runtime-dom/
    - component_id: runtime-test
      paths:
        - packages/runtime-test/
    - component_id: server-renderer
      paths:
        - packages/server-renderer/
    - component_id: sfc-playground
      paths:
        - packages/sfc-playground/
    - component_id: shared
      paths:
        - packages/shared/
    - component_id: size-check
      paths:
        - packages/size-check/
    - component_id: template-explorer
      paths:
        - packages/template-explorer/
    - component_id: vue
      paths:
        - packages/vue/
    - component_id: vue-compat
      paths:
        - packages/vue-compat/

fix(sfc): improve resolve generic type
  packages/compiler-sfc/src/script/resolveType.ts
Due: packages, compiler-sfc

Update contributing.md
  .github/contributing.md
Due: none

chore: correct `@antfu/ni` package name in contributing guide (#9892) [ci skip]
  .github/contributing.md
Due: none

chore: fix mismatching tag in hydration test (#9888)
  packages/runtime-core/__tests__/hydration.spec.ts
Due: packages, runtime-core

chore(test): replace deprecated `SpyInstance` import with the latest `MockInstance` (#9889)
  packages/runtime-dom/__tests__/customizedBuiltIn.spec.ts
  scripts/setupVitest.ts
Due: packages, runtime-dom

fix(compiler-core): fix parsing `<script setup>` generics with >
  packages/compiler-core/__tests__/__snapshots__/parse.spec.ts.snap
  packages/compiler-core/__tests__/parse.spec.ts
  packages/compiler-core/src/parser.ts
  packages/compiler-sfc/__tests__/__snapshots__/compileScript.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript.spec.ts
Due: packages, compiler-core, compiler-sfc

fix(compiler-sfc): fix type resolution for shared type w/ different generic parameters
  packages/compiler-sfc/__tests__/compileScript/resolveType.spec.ts
  packages/compiler-sfc/src/script/resolveType.ts
Due: packages, compiler-sfc

feat(runtime-vapor): `watchEffect`/`watch` and `onEffectCleanup` (#69)
  packages/compiler-vapor/__tests__/__snapshots__/compile.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vBind.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vHtml.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vOn.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vText.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vBind.spec.ts
  packages/compiler-vapor/__tests__/transforms/vOn.spec.ts
  packages/compiler-vapor/src/generate.ts
  packages/runtime-vapor/__tests__/apiWatch.spec.ts
  packages/runtime-vapor/__tests__/component.spec.ts
  packages/runtime-vapor/src/apiWatch.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/directive.ts
  packages/runtime-vapor/src/errorHandling.ts
  packages/runtime-vapor/src/index.ts
  packages/runtime-vapor/src/render.ts
  packages/runtime-vapor/src/scheduler.ts
  packages/runtime-vapor/src/warning.ts
  playground/src/props.js
  playground/src/scheduler.vue
Due: packages

fix(runtime-vapor): fix v-show value (#70)
  packages/runtime-vapor/__tests__/vShow.spec.ts
  packages/runtime-vapor/src/directives/vShow.ts
Due: packages

test(reactivity): support distribution of union types
  packages/reactivity/src/ref.ts
Due: packages, reactivity

feat(runtime-vapor): onErrorCaptured (#71)
  packages/runtime-vapor/src/apiLifecycle.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/enums.ts
  packages/runtime-vapor/src/errorHandling.ts
Due: packages

refactor(runtime-vapor): remove public instance
  packages/runtime-vapor/__tests__/apiWatch.spec.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/componentPublicInstance.ts
  packages/runtime-vapor/src/errorHandling.ts
  packages/runtime-vapor/src/render.ts
Due: packages

fix(runtime-core): remove prod checks from warn
  packages/runtime-core/src/warning.ts
Due: packages, runtime-core

release: v3.4.0-rc.1
  CHANGELOG.md
  package.json
  packages/compiler-core/package.json
  packages/compiler-dom/package.json
  packages/compiler-sfc/package.json
  packages/compiler-ssr/package.json
  packages/reactivity/package.json
  packages/runtime-core/package.json
  packages/runtime-dom/package.json
  packages/server-renderer/package.json
  packages/shared/package.json
  packages/vue-compat/package.json
  packages/vue/package.json
Due: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, runtime-core, runtime-dom, server-renderer, shared, vue, vue-compat

fix(reactivity): avoid track computed effect during self access
  packages/reactivity/__tests__/computed.spec.ts
  packages/reactivity/src/computed.ts
Due: packages, reactivity

fix(warning): ensure prod hydration warnings actually work
  packages/runtime-core/src/warning.ts
Due: packages, runtime-core

build: avoid exporting setDevTools in global prod build
  packages/runtime-core/src/devtools.ts
  packages/runtime-core/src/index.ts
Due: packages, runtime-core

fix(teleport): not throw warning when teleport is disabled
  packages/runtime-core/src/components/Teleport.ts
Due: packages, runtime-core

chore: test + simplify fix
  packages/dts-test/ref.test-d.ts
  packages/reactivity/src/ref.ts
Due: packages, reactivity

fix(types): fix distribution of union types when unwrapping setup bindings (#9909)
  packages/dts-test/ref.test-d.ts
  packages/reactivity/src/ref.ts
Due: packages, reactivity

chore: throw an error if computed self-referenceing
  packages/reactivity/__tests__/computed.spec.ts
  packages/reactivity/src/computed.ts
Due: packages, reactivity

chore: throw an error if computed self-referenceing
  packages/reactivity/__tests__/computed.spec.ts
Due: packages, reactivity

chore: use consistent file names for scripts
  .github/contributing.md
  package.json
  scripts/setup-vitest.ts
  scripts/verify-commit.js
  vitest.config.ts
Due: none

feat(compiler-sfc): export aggregated error messages for compiler-core and compiler-dom
  packages/compiler-sfc/src/index.ts
Due: packages, compiler-sfc

refactor: adjust warn method treeshaking
  packages/runtime-core/src/index.ts
  packages/runtime-core/src/warning.ts
Due: packages, runtime-core

ci: verify common treeshaking issues in CI
  .github/workflows/ci.yml
  scripts/verify-treeshaking.js
Due: none

ci: build via pnpm in verify-treeshaking script
  scripts/verify-treeshaking.js
Due: none

release: v3.4.0-rc.2
  CHANGELOG.md
  package.json
  packages/compiler-core/package.json
  packages/compiler-dom/package.json
  packages/compiler-sfc/package.json
  packages/compiler-ssr/package.json
  packages/reactivity/package.json
  packages/runtime-core/package.json
  packages/runtime-dom/package.json
  packages/server-renderer/package.json
  packages/shared/package.json
  packages/vue-compat/package.json
  packages/vue/package.json
Due: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, runtime-core, runtime-dom, server-renderer, shared, vue, vue-compat

chore: update new issue url in scheduler error message
  packages/runtime-core/src/errorHandling.ts
Due: packages, runtime-core

fix: also export runtime error strings in all cjs builds
  packages/runtime-core/src/index.ts
Due: packages, runtime-core

refactor(sfc-playground): default to dev mode
  packages/sfc-playground/src/App.vue
  packages/sfc-playground/src/Header.vue
Due: packages, sfc-playground

chore: remove default value
  .prettierrc
Due: none

fix: prettier files
  .prettierignore
  package.json
Due: none

chore: prettier cfg
  .prettierrc
Due: none

style: prefer `node:` protocol (#8584)
  .eslintrc.cjs
  package.json
  pnpm-lock.yaml
Due: none

chore: remove unused eslint-disable rules (#9019)
  packages/compiler-dom/src/decodeHtmlBrowser.ts
  packages/dts-test/ref.test-d.ts
  packages/reactivity/__tests__/collections/Map.spec.ts
  packages/reactivity/__tests__/collections/Set.spec.ts
  packages/runtime-core/src/compat/global.ts
Due: packages, compiler-dom, reactivity, runtime-core

feat: add sort imports
  .eslintrc.cjs
Due: none

fix: import rules
  .eslintrc.cjs
Due: none

style: add `@typescript-eslint/eslint-plugin` plugin (#8978)
  .eslintrc.cjs
  package.json
  pnpm-lock.yaml
  tsconfig.eslint.json
Due: none
