Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

fix: package_managers.pnpm.pnpm-trust-policy.pnpm-trust-policy security vulnerability
  pnpm-workspace.yaml
Due: none

fix: package_managers.pnpm.pnpm-missing-minimum-release-age.pnpm-minimum-release-age security vulnerability
  pnpm-workspace.yaml
Due: none

fix(shared): correctly compare Map and Set values
  packages/runtime-dom/__tests__/directives/vModel.spec.ts
  packages/shared/__tests__/looseEqual.spec.ts
  packages/shared/src/looseEqual.ts
Due: packages, runtime-dom, shared

Update packages/shared/src/looseEqual.ts
  packages/shared/src/looseEqual.ts
Due: packages, shared

chore: add pnpm trustPolicy: no-downgrade as supply-chain defense-in-depth
  pnpm-workspace.yaml
Due: none

fix(runtime-core): resolve $el recursively across component boundaries
  packages/runtime-core/__tests__/componentPublicInstance.spec.ts
  packages/runtime-core/src/componentPublicInstance.ts
Due: packages, runtime-core

fix(suspense): don't treat the leaving branch as the fallback while its mount is pending
  packages/runtime-core/src/components/Suspense.ts
  packages/vue/__tests__/e2e/Transition.spec.ts
Due: packages, runtime-core, vue

fix(suspense): mount the latest fallback when its mount was deferred
  packages/runtime-core/src/components/Suspense.ts
  packages/vue/__tests__/e2e/Transition.spec.ts
Due: packages, runtime-core, vue

chore: enable pnpm trustPolicy: no-downgrade (#15330)
  pnpm-workspace.yaml
Due: none

fix(runtime-core): safely resolve dev fragment $el
  packages/runtime-core/__tests__/componentPublicInstance.spec.ts
  packages/runtime-core/src/componentPublicInstance.ts
Due: packages, runtime-core

chore: make verify-commit work in linked worktrees
  scripts/verify-commit.js
Due: none

perf(runtime-vapor): fold the v-for old-index record into the LIS input
  packages/runtime-vapor/src/apiCreateFor.ts
Due: packages

fix(runtime-vapor): correct v-for anchor and leave-ghost placement
  packages/runtime-vapor/__tests__/for.spec.ts
  packages/runtime-vapor/src/apiCreateFor.ts
  packages/runtime-vapor/src/block.ts
  packages/runtime-vapor/src/renderEffect.ts
Due: packages

refactor(runtime-vapor): reuse getSequence and streamline v-for apply
  packages/runtime-vapor/src/apiCreateFor.ts
  packages/runtime-vapor/src/directives/vModel.ts
  packages/runtime-vapor/src/renderEffect.ts
Due: packages

perf(runtime-vapor): pick the v-for move planner by change density
  packages/runtime-vapor/__tests__/for.spec.ts
  packages/runtime-vapor/src/apiCreateFor.ts
Due: packages

fix(runtime-vapor): extend the dense v-for move plan to the suffix bound
  packages/runtime-vapor/__tests__/for.spec.ts
  packages/runtime-vapor/src/apiCreateFor.ts
  packages/runtime-vapor/src/block.ts
  packages/runtime-vapor/src/renderEffect.ts
Due: packages

perf(runtime-vapor): trim v-for hot-path allocations (#15329)
  packages-private/benchmark/client/AppVapor.vue
  packages/runtime-vapor/__tests__/components/Teleport.spec.ts
  packages/runtime-vapor/__tests__/for.spec.ts
  packages/runtime-vapor/src/apiCreateFor.ts
  packages/runtime-vapor/src/block.ts
  packages/runtime-vapor/src/directives/vModel.ts
  packages/runtime-vapor/src/dom/event.ts
  packages/runtime-vapor/src/fragment.ts
  packages/runtime-vapor/src/renderEffect.ts
Due: packages

release: v3.6.0-rc.5
  CHANGELOG.md
  package.json
  packages/compiler-core/package.json
  packages/compiler-dom/package.json
  packages/compiler-sfc/package.json
  packages/compiler-ssr/package.json
  packages/compiler-vapor/package.json
  packages/reactivity/package.json
  packages/runtime-core/package.json
  packages/runtime-dom/package.json
  packages/runtime-vapor/package.json
  packages/server-renderer/package.json
  packages/shared/package.json
  packages/vue-compat/package.json
  packages/vue/package.json
Due: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, runtime-core, runtime-dom, server-renderer, shared, vue, vue-compat

refactor(runtime-vapor): name the dynamic anchor resolution rules
  packages/runtime-vapor/__tests__/dom/hydrateFragment.spec.ts
  packages/runtime-vapor/src/dom/hydrateFragment.ts
Due: packages

perf(runtime-vapor): cache template adopt target
  packages/runtime-vapor/__tests__/bench/hydration.bench.ts
  packages/runtime-vapor/__tests__/bench/hydration.fixtures.ts
  packages/runtime-vapor/__tests__/hydration/benchFixtures.spec.ts
  packages/runtime-vapor/src/dom/hydration.ts
  packages/runtime-vapor/src/dom/template.ts
Due: packages

refactor(runtime-vapor): move fragment anchor category into __vf flags
  packages/runtime-vapor/__tests__/bench/block.bench.ts
  packages/runtime-vapor/__tests__/block.spec.ts
  packages/runtime-vapor/__tests__/componentSlots.spec.ts
  packages/runtime-vapor/__tests__/dom/hydrateFragment.spec.ts
  packages/runtime-vapor/__tests__/hydration/asyncComponent.spec.ts
  packages/runtime-vapor/src/apiCreateDynamicComponent.ts
  packages/runtime-vapor/src/apiCreateFragment.ts
  packages/runtime-vapor/src/apiCreateIf.ts
  packages/runtime-vapor/src/apiDefineAsyncComponent.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/componentSlots.ts
  packages/runtime-vapor/src/components/Transition.ts
  packages/runtime-vapor/src/components/TransitionGroup.ts
  packages/runtime-vapor/src/dom/hydrateFragment.ts
  packages/runtime-vapor/src/fragment.ts
  packages/runtime-vapor/src/fragmentFlags.ts
Due: packages

perf(runtime-vapor): avoid quadratic scan when leaving a hydration boundary
  packages/runtime-vapor/__tests__/bench/hydration.bench.ts
  packages/runtime-vapor/__tests__/bench/hydration.fixtures.ts
  packages/runtime-vapor/src/dom/hydration.ts
Due: packages

test(runtime-vapor): split hydration.spec.ts
  packages/runtime-vapor/__tests__/hydration.spec.ts
  packages/runtime-vapor/__tests__/hydration/_helpers.ts
  packages/runtime-vapor/__tests__/hydration/asyncComponent.spec.ts
  packages/runtime-vapor/__tests__/hydration/basic.spec.ts
  packages/runtime-vapor/__tests__/hydration/component.spec.ts
  packages/runtime-vapor/__tests__/hydration/for.spec.ts
  packages/runtime-vapor/__tests__/hydration/if.spec.ts
  packages/runtime-vapor/__tests__/hydration/interopBasic.spec.ts
  packages/runtime-vapor/__tests__/hydration/interopDynamic.spec.ts
  packages/runtime-vapor/__tests__/hydration/interopSlots.spec.ts
  packages/runtime-vapor/__tests__/hydration/interopStructure.spec.ts
  packages/runtime-vapor/__tests__/hydration/mismatch.spec.ts
  packages/runtime-vapor/__tests__/hydration/placeholderAlignment.spec.ts
  packages/runtime-vapor/__tests__/hydration/scopeId.spec.ts
  packages/runtime-vapor/__tests__/hydration/slots.spec.ts
  packages/runtime-vapor/__tests__/hydration/slotsForwarded.spec.ts
  packages/runtime-vapor/__tests__/hydration/suspense.spec.ts
  packages/runtime-vapor/__tests__/hydration/teleport.spec.ts
  packages/runtime-vapor/__tests__/hydration/transition.spec.ts
Due: packages

refactor(runtime-vapor): unify block hydration tail
  packages/runtime-vapor/src/apiCreateDynamicComponent.ts
  packages/runtime-vapor/src/apiCreateFor.ts
  packages/runtime-vapor/src/apiCreateFragment.ts
  packages/runtime-vapor/src/apiCreateIf.ts
  packages/runtime-vapor/src/componentSlots.ts
  packages/runtime-vapor/src/dom/hydration.ts
  packages/runtime-vapor/src/fragment.ts
Due: packages

refactor(runtime-vapor): reify the slot hydration ledger as a session
  packages/runtime-vapor/src/dom/hydrateFragment.ts
Due: packages

refactor(runtime-vapor): insert hydration anchors synchronously
  packages/runtime-vapor/__tests__/anchorAdoption.spec.ts
  packages/runtime-vapor/__tests__/componentSlots.spec.ts
  packages/runtime-vapor/__tests__/dom/hydrateFragment.spec.ts
  packages/runtime-vapor/__tests__/hydration/interopBasic.spec.ts
  packages/runtime-vapor/src/apiCreateDynamicComponent.ts
  packages/runtime-vapor/src/apiCreateFor.ts
  packages/runtime-vapor/src/apiCreateFragment.ts
  packages/runtime-vapor/src/apiCreateIf.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/componentSlots.ts
  packages/runtime-vapor/src/components/Teleport.ts
  packages/runtime-vapor/src/components/TransitionGroup.ts
  packages/runtime-vapor/src/dom/hydrateFragment.ts
  packages/runtime-vapor/src/dom/hydration.ts
  packages/runtime-vapor/src/dom/node.ts
  packages/runtime-vapor/src/fragment.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

refactor(runtime-vapor): normalize the hydration cursor at its write funnel
  packages/runtime-vapor/src/dom/hydration.ts
Due: packages

refactor(runtime-vapor): apply hydration series cleanup review
  packages/runtime-vapor/__tests__/bench/hydration.fixtures.ts
  packages/runtime-vapor/__tests__/dom/hydrateFragment.spec.ts
  packages/runtime-vapor/src/apiCreateFor.ts
  packages/runtime-vapor/src/apiCreateIf.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/dom/hydrateFragment.ts
  packages/runtime-vapor/src/dom/hydration.ts
  packages/runtime-vapor/src/fragment.ts
  packages/runtime-vapor/src/fragmentFlags.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(runtime-vapor): count each hydration cursor exit once
  packages/runtime-vapor/src/dom/hydration.ts
Due: packages

test(runtime-vapor): make the fallback bench ladder exercise fallback
  packages/runtime-vapor/__tests__/bench/hydration.fixtures.ts
Due: packages

fix(runtime-vapor): recover when the server rendered fewer logical children
  packages/runtime-vapor/__tests__/hydration/mismatch.spec.ts
  packages/runtime-vapor/src/dom/node.ts
Due: packages

refactor(runtime-vapor): hold the anchor invariant in the constructor
  packages/runtime-vapor/__tests__/bench/block.bench.ts
  packages/runtime-vapor/__tests__/block.spec.ts
  packages/runtime-vapor/__tests__/componentSlots.spec.ts
  packages/runtime-vapor/__tests__/dom/hydrateFragment.spec.ts
  packages/runtime-vapor/__tests__/hydration/asyncComponent.spec.ts
  packages/runtime-vapor/src/apiCreateDynamicComponent.ts
  packages/runtime-vapor/src/apiCreateFragment.ts
  packages/runtime-vapor/src/apiCreateIf.ts
  packages/runtime-vapor/src/apiDefineAsyncComponent.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/componentSlots.ts
  packages/runtime-vapor/src/components/Transition.ts
  packages/runtime-vapor/src/components/TransitionGroup.ts
  packages/runtime-vapor/src/dom/hydrateFragment.ts
  packages/runtime-vapor/src/fragment.ts
  packages/runtime-vapor/src/fragmentFlags.ts
Due: packages

revert(runtime-vapor): recover when the server rendered fewer logical children
  packages/runtime-vapor/__tests__/hydration/mismatch.spec.ts
  packages/runtime-vapor/src/dom/node.ts
Due: packages

fix(runtime-vapor): skip the restore on a second cursor exit
  packages/runtime-vapor/src/dom/hydration.ts
Due: packages

add warnings for non-extensible objects in reactive tests
  packages/reactivity/__tests__/reactive.spec.ts
  packages/reactivity/src/reactive.ts
Due: packages, reactivity

fix(runtime-vapor): set value as attribute so form reset restores it
  packages/runtime-vapor/__tests__/dom/prop.spec.ts
  packages/runtime-vapor/src/dom/prop.ts
Due: packages

fix(runtime-vapor): do not skip the initial DOM prop set
  packages/runtime-vapor/__tests__/dom/prop.spec.ts
  packages/runtime-vapor/src/dom/prop.ts
Due: packages

chore(runtime-vapor): scope the value attribute comment to value
  packages/runtime-vapor/src/dom/prop.ts
Due: packages

fix(types): keep optional runtime props optional in function defineComponent
  packages-private/dts-test/defineComponent.test-d.tsx
  packages/runtime-core/src/apiDefineComponent.ts
Due: packages, runtime-core

fix(runtime-vapor): namespace the DOM prop cache key
  packages/runtime-vapor/__tests__/dom/prop.spec.ts
  packages/runtime-vapor/src/dom/prop.ts
Due: packages

Path conditions:
  packages: any of: packages/
  compiler-core: any of: packages/compiler-core/
  compiler-dom: any of: packages/compiler-dom/
  compiler-sfc: any of: packages/compiler-sfc/
  reactivity: any of: packages/reactivity/
  reactivity-transform: any of: packages/reactivity-transform/
  runtime-core: any of: packages/runtime-core/
  runtime-dom: any of: packages/runtime-dom/
  runtime-test: any of: packages/runtime-test/
  server-renderer: any of: packages/server-renderer/
  sfc-playground: any of: packages/sfc-playground/
  shared: any of: packages/shared/
  size-check: any of: packages/size-check/
  template-explorer: any of: packages/template-explorer/
  vue: any of: packages/vue/
  vue-compat: any of: packages/vue-compat/
