Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

codecov.yml:

coverage:
  status:
    project:
      default:
        # Status checks are set to be non-blocking
        informational: true
    patch:
      default:
        # Status checks are set to be non-blocking
        informational: true

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: packages
      paths:
        - packages/
    - component_id: compiler-core
      paths:
        - packages/compiler-core/
    - component_id: compiler-dom
      paths:
        - packages/compiler-dom/
    - component_id: compiler-sfc
      paths:
        - packages/compiler-sfc/
    - component_id: compiler-sfc
      paths:
        - packages/compiler-sfc/
    - component_id: reactivity
      paths:
        - packages/reactivity/
    - component_id: reactivity-transform
      paths:
        - packages/reactivity-transform/
    - component_id: runtime-core
      paths:
        - packages/runtime-core/
    - component_id: runtime-dom
      paths:
        - packages/runtime-dom/
    - component_id: runtime-test
      paths:
        - packages/runtime-test/
    - component_id: server-renderer
      paths:
        - packages/server-renderer/
    - component_id: sfc-playground
      paths:
        - packages/sfc-playground/
    - component_id: shared
      paths:
        - packages/shared/
    - component_id: size-check
      paths:
        - packages/size-check/
    - component_id: template-explorer
      paths:
        - packages/template-explorer/
    - component_id: vue
      paths:
        - packages/vue/
    - component_id: vue-compat
      paths:
        - packages/vue-compat/

refactor(runtime-vapor): clarify slot boundary ownership
  packages/runtime-vapor/__tests__/componentSlots.spec.ts
  packages/runtime-vapor/src/apiDefineCustomElement.ts
  packages/runtime-vapor/src/componentSlots.ts
  packages/runtime-vapor/src/fragment.ts
  packages/runtime-vapor/src/slotBoundary.ts
  packages/runtime-vapor/src/slotFragment.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

refactor(runtime-vapor): simplify captured slot context fields
  packages/runtime-vapor/src/componentSlots.ts
  packages/runtime-vapor/src/fragment.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

perf(runtime-vapor): avoid redundant slot content validity checks
  packages/runtime-vapor/src/slotFragment.ts
Due: packages

refactor(runtime-vapor): simplify slot fallback boundary masking
  packages/runtime-vapor/src/slotBoundary.ts
  packages/runtime-vapor/src/slotFragment.ts
Due: packages

chore(runtime-vapor): replace slot update notification with notifyUpdated
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(runtime-vapor): sync interop slot owner root after child updates
  packages/runtime-vapor/__tests__/hydration.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

chore: update comments
  packages/runtime-vapor/src/slotBoundary.ts
  packages/runtime-vapor/src/slotFragment.ts
Due: packages

refactor(runtime-vapor): clarify slot fallback render context
  packages/runtime-vapor/__tests__/componentSlots.spec.ts
  packages/runtime-vapor/src/components/Teleport.ts
  packages/runtime-vapor/src/fragment.ts
  packages/runtime-vapor/src/slotBoundary.ts
  packages/runtime-vapor/src/slotFragment.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

refactor(runtime-vapor): rename slot fallback state to resolution
  packages/runtime-vapor/__tests__/componentSlots.spec.ts
  packages/runtime-vapor/src/fragment.ts
  packages/runtime-vapor/src/slotBoundary.ts
  packages/runtime-vapor/src/slotFragment.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(runtime-vapor): align slot validity for component roots
  packages/runtime-vapor/__tests__/componentSlots.spec.ts
  packages/runtime-vapor/src/apiDefineAsyncComponent.ts
  packages/runtime-vapor/src/block.ts
  packages/runtime-vapor/src/fragment.ts
  packages/runtime-vapor/src/slotBoundary.ts
  packages/runtime-vapor/src/slotFragment.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(runtime-vapor): pair vdom interop update hooks
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/slotBoundary.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

test(runtime-vapor): cover ordinary fallback body updates
  packages/runtime-vapor/__tests__/componentSlots.spec.ts
Due: packages

fix(compiler-vapor): avoid non-stable slots for stable root siblings
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vSlot.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vSlot.spec.ts
  packages/compiler-vapor/src/generators/component.ts
  packages/runtime-vapor/__tests__/hydration.spec.ts
Due: packages

fix(compiler-vapor): track forwarded slot fallback validity
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vSlot.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vSlot.spec.ts
  packages/compiler-vapor/src/generators/slotOutlet.ts
  packages/runtime-vapor/__tests__/componentSlots.spec.ts
Due: packages

fix(compiler-vapor): avoid slot-root tracking for slot outlets
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformSlotOutlet.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vSlot.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vSlot.spec.ts
  packages/compiler-vapor/src/generators/block.ts
  packages/compiler-vapor/src/generators/slotOutlet.ts
Due: packages

release: v3.6.0-beta.17
  CHANGELOG.md
  package.json
  packages/compiler-core/package.json
  packages/compiler-dom/package.json
  packages/compiler-sfc/package.json
  packages/compiler-ssr/package.json
  packages/compiler-vapor/package.json
  packages/reactivity/package.json
  packages/runtime-core/package.json
  packages/runtime-dom/package.json
  packages/runtime-vapor/package.json
  packages/server-renderer/package.json
  packages/shared/package.json
  packages/vue-compat/package.json
  packages/vue/package.json
Due: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, runtime-core, runtime-dom, server-renderer, shared, vue, vue-compat

1
  README.md
Due: none

fix(compiler-core): handle function expression handler containing semicolon
  packages/compiler-core/__tests__/transforms/vOn.spec.ts
  packages/compiler-core/src/parser.ts
  packages/compiler-core/src/utils.ts
Due: packages, compiler-core

fix(ssr): resolve nested async teleport content
  packages/server-renderer/__tests__/ssrTeleport.spec.ts
  packages/server-renderer/src/helpers/ssrRenderTeleport.ts
  packages/server-renderer/src/renderToString.ts
Due: packages, server-renderer

fix(runtime-core): deopt non-isomorphic block updates
  packages/runtime-core/__tests__/rendererOptimizedMode.spec.ts
  packages/runtime-core/src/renderer.ts
Due: packages, runtime-core

fix(hydration): hydrate compiler-tracked dynamic props
  packages/runtime-core/__tests__/hydration.spec.ts
  packages/runtime-core/src/hydration.ts
Due: packages, runtime-core

fix(ssr): dedupe inherited scope ids during vnode rendering
  packages/server-renderer/__tests__/ssrScopeId.spec.ts
  packages/server-renderer/src/render.ts
Due: packages, server-renderer

dx(runtime-core): export warnWithSuggestion alongside warn
  packages/runtime-core/src/index.ts
Due: packages, runtime-core

dx(runtime-core): add warnWithSuggestion dev helper
  packages/runtime-core/__tests__/warning.spec.ts
  packages/runtime-core/src/warning.ts
Due: packages, runtime-core

dx(runtime-core): add Damerau-Levenshtein findClosestMatch helper
  packages/runtime-core/__tests__/stringSimilarity.spec.ts
  packages/runtime-core/src/stringSimilarity.ts
Due: packages, runtime-core

dx(reactivity): suggest ref() when reactive() / readonly() gets a primitive
  packages/reactivity/__tests__/reactive.spec.ts
  packages/reactivity/src/reactive.ts
  packages/reactivity/src/warning.ts
Due: packages, reactivity

dx(reactivity): suggest ref/getter when watch() gets an invalid source
  packages/reactivity/src/watch.ts
  packages/runtime-core/__tests__/apiWatch.spec.ts
Due: packages, reactivity, runtime-core

dx(runtime-core): suggest closest component name on failed resolve
  packages/runtime-core/__tests__/helpers/resolveAssets.spec.ts
  packages/runtime-core/src/helpers/resolveAssets.ts
Due: packages, runtime-core

fix(runtime-core): preserve once event listener name
  packages/runtime-core/__tests__/componentEmits.spec.ts
  packages/runtime-core/src/componentEmits.ts
Due: packages, runtime-core

fix(runtime-dom): preserve option modifier event names
  packages/runtime-dom/__tests__/patchEvents.spec.ts
  packages/runtime-dom/src/modules/events.ts
Due: packages, runtime-dom

fix(runtime-core): refine function children normalization
  packages/runtime-core/__tests__/vnode.spec.ts
  packages/runtime-core/src/vnode.ts
Due: packages, runtime-core

test: update tests
  packages/runtime-dom/__tests__/patchEvents.spec.ts
Due: packages, runtime-dom

docs(sfc-playground): update downloaded template Node.js requirement
  packages-private/sfc-playground/src/download/template/README.md
Due: none

fix(hydration): respect data-allow-mismatch on conditional branches
  packages/runtime-core/__tests__/hydration.spec.ts
  packages/runtime-core/src/hydration.ts
Due: packages, runtime-core

docs(sfc-playground): update downloaded template Node.js requirement (#15007)
  packages-private/sfc-playground/src/download/template/README.md
Due: none

fix(Teleport): handle teleport unmount edge case
  packages/runtime-core/src/components/Teleport.ts
Due: packages, runtime-core

chore: minor tweaks
  packages/runtime-core/src/components/Teleport.ts
Due: packages, runtime-core

test: add test case
  packages/runtime-core/__tests__/components/Teleport.spec.ts
Due: packages, runtime-core

fix(sfc-playground): fix version copy message
  packages-private/sfc-playground/src/VersionSelect.vue
Due: none

fix(types): infer listener args for named tuple emits
  packages-private/dts-test/defineComponent.test-d.tsx
  packages/runtime-core/src/componentEmits.ts
Due: packages, runtime-core
