Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

fix(compiler-sfc): allow `<script>` with lang='js' (#7398)
  packages/compiler-sfc/__tests__/__snapshots__/compileScript.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript.spec.ts
  packages/compiler-sfc/src/compileScript.ts
Due: packages, compiler-sfc

refactor: simplify logic
  packages/compiler-sfc/src/compileScript.ts
Due: packages, compiler-sfc

fix(compiler-sfc): properly remove comma of multiple macros in the same declaration (#7423)
  packages/compiler-sfc/__tests__/__snapshots__/compileScript.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript.spec.ts
  packages/compiler-sfc/src/compileScript.ts
Due: packages, compiler-sfc

fix(compiler-sfc): fix edge case of default export call with no args (#7536)
  packages/compiler-sfc/__tests__/__snapshots__/compileScript.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript.spec.ts
  packages/compiler-sfc/src/compileScript.ts
Due: packages, compiler-sfc

feat(compiler-sfc): support module string names syntax (#7428)
  packages/compiler-core/src/babelUtils.ts
  packages/compiler-sfc/__tests__/__snapshots__/compileScript.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript.spec.ts
  packages/compiler-sfc/src/compileScript.ts
Due: packages, compiler-core, compiler-sfc

fix(compiler-sfc): infer correct type for enums
  packages/compiler-sfc/__tests__/__snapshots__/compileScript.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript.spec.ts
  packages/compiler-sfc/src/compileScript.ts
Due: packages, compiler-sfc

Revert "fix(compiler-sfc): infer correct type for enums"
  packages/compiler-sfc/__tests__/__snapshots__/compileScript.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript.spec.ts
  packages/compiler-sfc/src/compileScript.ts
Due: packages, compiler-sfc

fix(compiler-sfc): properly handle unknown types in runtime prop inference
  packages/compiler-sfc/__tests__/__snapshots__/compileScript.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript.spec.ts
  packages/compiler-sfc/src/compileScript.ts
Due: packages, compiler-sfc

chore: update snap
  packages/compiler-sfc/__tests__/__snapshots__/compileScript.spec.ts.snap
Due: packages, compiler-sfc

feat(compiler-sfc): improve runtime props inference for enum
  packages/compiler-sfc/__tests__/compileScript.spec.ts
  packages/compiler-sfc/src/compileScript.ts
Due: packages, compiler-sfc

feat(compiler-core): support parsing `const` modifier in type parameters (#7912)
  package.json
  packages/compiler-core/package.json
  packages/compiler-sfc/package.json
  packages/reactivity-transform/package.json
  packages/vue-compat/package.json
  pnpm-lock.yaml
Due: packages, compiler-core, compiler-sfc, reactivity-transform, vue-compat

fix(compiler-sfc): disallow `expose` property in `defineOptions` (#7967)
  packages/compiler-sfc/src/compileScript.ts
  packages/runtime-core/src/apiSetupHelpers.ts
Due: packages, compiler-sfc, runtime-core

fix(compiler-sfc): avoid codegen conflict with user variable named `expose` (#7949)
  packages/compiler-sfc/__tests__/__snapshots__/compileScript.spec.ts.snap
  packages/compiler-sfc/__tests__/__snapshots__/compileScriptRefTransform.spec.ts.snap
  packages/compiler-sfc/__tests__/__snapshots__/cssVars.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript.spec.ts
  packages/compiler-sfc/src/compileScript.ts
Due: packages, compiler-sfc

chore: update snapshots
  packages/compiler-sfc/__tests__/__snapshots__/compileScript.spec.ts.snap
Due: packages, compiler-sfc

fix(compiler-sfc): use prependLeft to handle CSSVars (#7760)
  packages/compiler-sfc/__tests__/cssVars.spec.ts
Due: packages, compiler-sfc

chore: update snapshots by #7766
  packages/compiler-sfc/__tests__/cssVars.spec.ts
Due: packages, compiler-sfc

chore: update snapshots by #7766 (#7970)
  packages/compiler-sfc/__tests__/cssVars.spec.ts
Due: packages, compiler-sfc

feat: Support for DefineCustomComponent passing into shadowRoot
  packages/runtime-core/src/componentOptions.ts
  packages/runtime-dom/src/apiCustomElement.ts
Due: packages, runtime-core, runtime-dom

chore: fix accidentally replaced comments [ci skip]
  packages/compiler-sfc/src/compileScript.ts
Due: packages, compiler-sfc

feat(runtime-core): Support for DefineCustomComponent passing into shadowRoot
  packages/runtime-core/src/componentOptions.ts
  packages/runtime-dom/src/apiCustomElement.ts
Due: packages, runtime-core, runtime-dom

feat: add skipCheck for prop
  packages/compiler-sfc/__tests__/__snapshots__/compileScript.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript.spec.ts
  packages/compiler-sfc/src/compileScript.ts
  packages/runtime-core/__tests__/componentProps.spec.ts
  packages/runtime-core/src/componentProps.ts
Due: packages, compiler-sfc, runtime-core

chore: reverts
  packages/compiler-sfc/src/compileScript.ts
Due: packages, compiler-sfc

feat(runtime-core): add skipCheck for prop (#7548)
  packages/compiler-sfc/__tests__/__snapshots__/compileScript.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript.spec.ts
  packages/compiler-sfc/src/compileScript.ts
  packages/runtime-core/__tests__/componentProps.spec.ts
  packages/runtime-core/src/componentProps.ts
Due: packages, compiler-sfc, runtime-core

fix: copy-paste jsx-runtime types for global JSX namespace registration
  packages/vue/jsx.d.ts
Due: packages, vue

fix: re-export all jsx dom types
  packages/vue/jsx.d.ts
Due: packages, vue

fix: re-export in the `jsx-register` module
  packages/vue/types/jsx-register.d.ts
Due: packages, vue

fix(compiler-sfc): infer runtime type in defineProps
  packages/compiler-sfc/src/compileScript.ts
Due: packages, compiler-sfc

fix(compiler-core): check if expression is constant
  packages/compiler-core/src/transforms/transformExpression.ts
Due: packages, compiler-core

test: add test
  packages/compiler-core/__tests__/transforms/transformExpressions.spec.ts
Due: packages, compiler-core

fix(compiler-core): check if expression is constant (#7974)
  packages/compiler-core/__tests__/transforms/transformExpressions.spec.ts
  packages/compiler-core/src/transforms/transformExpression.ts
Due: packages, compiler-core

fix(jsx-runtime): handle keys
  packages/vue/jsx-runtime/index.js
  packages/vue/jsx-runtime/index.mjs
Due: packages, vue

fix: augment JSX types from `@vue/runtime-dom` should work
  packages/runtime-dom/jsx.d.ts
  packages/runtime-dom/types/jsx.d.ts
  packages/vue/jsx-runtime/dom.d.ts
Due: packages, runtime-dom, vue

fix: add `jsx.d.ts` to `files`
  packages/runtime-dom/package.json
Due: packages, runtime-dom

fix(wip): move JSX DOM types back to `@vue/runtime-dom`
  packages/runtime-dom/jsx.d.ts
  packages/runtime-dom/package.json
  packages/runtime-dom/types/jsx.d.ts
  packages/vue/jsx-runtime/dom.d.ts
  packages/vue/jsx-runtime/index.d.ts
  packages/vue/jsx.d.ts
  packages/vue/types/jsx-register.d.ts
Due: packages, runtime-dom, vue

fix(types/jsx): jsx-runtime types for global JSX namespace registration (#7978)
  packages/vue/jsx.d.ts
  packages/vue/types/jsx-register.d.ts
Due: packages, vue

fix(jsx-runtime): handle keys (#7976)
  packages/vue/jsx-runtime/index.js
  packages/vue/jsx-runtime/index.mjs
Due: packages, vue

wip: save
  packages/vue/types/jsx-register.d.ts
Due: packages, vue

Path conditions:
  packages: any of: packages/
  compiler-core: any of: packages/compiler-core/
  compiler-dom: any of: packages/compiler-dom/
  compiler-sfc: any of: packages/compiler-sfc/
  reactivity: any of: packages/reactivity/
  reactivity-transform: any of: packages/reactivity-transform/
  runtime-core: any of: packages/runtime-core/
  runtime-dom: any of: packages/runtime-dom/
  runtime-test: any of: packages/runtime-test/
  server-renderer: any of: packages/server-renderer/
  sfc-playground: any of: packages/sfc-playground/
  shared: any of: packages/shared/
  size-check: any of: packages/size-check/
  template-explorer: any of: packages/template-explorer/
  vue: any of: packages/vue/
  vue-compat: any of: packages/vue-compat/
