Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

codecov.yml:

coverage:
  status:
    project:
      default:
        # Status checks are set to be non-blocking
        informational: true
    patch:
      default:
        # Status checks are set to be non-blocking
        informational: true

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: packages
      paths:
        - packages/
    - component_id: compiler-core
      paths:
        - packages/compiler-core/
    - component_id: compiler-dom
      paths:
        - packages/compiler-dom/
    - component_id: compiler-sfc
      paths:
        - packages/compiler-sfc/
    - component_id: compiler-sfc
      paths:
        - packages/compiler-sfc/
    - component_id: reactivity
      paths:
        - packages/reactivity/
    - component_id: reactivity-transform
      paths:
        - packages/reactivity-transform/
    - component_id: runtime-core
      paths:
        - packages/runtime-core/
    - component_id: runtime-dom
      paths:
        - packages/runtime-dom/
    - component_id: runtime-test
      paths:
        - packages/runtime-test/
    - component_id: server-renderer
      paths:
        - packages/server-renderer/
    - component_id: sfc-playground
      paths:
        - packages/sfc-playground/
    - component_id: shared
      paths:
        - packages/shared/
    - component_id: size-check
      paths:
        - packages/size-check/
    - component_id: template-explorer
      paths:
        - packages/template-explorer/
    - component_id: vue
      paths:
        - packages/vue/
    - component_id: vue-compat
      paths:
        - packages/vue-compat/

fix(compiler-vapor): align setup component lookup order with vdom
  packages/compiler-vapor/__tests__/transforms/transformElement.spec.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
  packages/runtime-vapor/__tests__/component.spec.ts
Due: packages

perf(compiler-sfc): cache tsconfig glob matchers and keep private fields native in the cjs build (#15784)
  packages/compiler-sfc/__tests__/compileScript/resolveType.spec.ts
  packages/compiler-sfc/src/script/resolveType.ts
  scripts/create-rolldown-config.js
Due: packages, compiler-sfc

fix(compiler-vapor): resolve component tags from slot scope
  packages/compiler-vapor/__tests__/transforms/transformElement.spec.ts
  packages/compiler-vapor/src/generators/component.ts
  packages/compiler-vapor/src/ir/index.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
  packages/runtime-vapor/__tests__/componentSlots.spec.ts
Due: packages

fix(compiler-vapor): warn when v-memo is ignored
  packages/compiler-sfc/__tests__/compileTemplate.spec.ts
  packages/compiler-vapor/__tests__/compile.spec.ts
  packages/compiler-vapor/src/compile.ts
  packages/compiler-vapor/src/errors.ts
  packages/compiler-vapor/src/transforms/vMemo.ts
Due: packages, compiler-sfc

fix(runtime-vapor): warn when templates access global properties
  packages/runtime-vapor/__tests__/apiCreateVaporApp.spec.ts
  packages/runtime-vapor/src/component.ts
Due: packages

fix(compiler-sfc): reject vapor scripts without script setup
  packages/compiler-sfc/__tests__/compileScript.spec.ts
  packages/compiler-sfc/__tests__/parse.spec.ts
  packages/compiler-sfc/src/compileScript.ts
  packages/compiler-sfc/src/parse.ts
Due: packages, compiler-sfc

fix(runtime-vapor): warn when templates access global properties (#15789)
  packages/runtime-vapor/__tests__/apiCreateVaporApp.spec.ts
  packages/runtime-vapor/src/component.ts
Due: packages

fix(compiler-sfc): reject vapor scripts without script setup (#15790)
  packages/compiler-sfc/__tests__/compileScript.spec.ts
  packages/compiler-sfc/__tests__/parse.spec.ts
  packages/compiler-sfc/src/compileScript.ts
  packages/compiler-sfc/src/parse.ts
Due: packages, compiler-sfc

fix(compiler-vapor): align setup component lookup order with vdom (#15786)
  packages/compiler-vapor/__tests__/transforms/transformElement.spec.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
  packages/runtime-vapor/__tests__/component.spec.ts
Due: packages

fix(compiler-vapor): warn when v-memo is ignored (#15788)
  packages/compiler-sfc/__tests__/compileTemplate.spec.ts
  packages/compiler-vapor/__tests__/compile.spec.ts
  packages/compiler-vapor/src/compile.ts
  packages/compiler-vapor/src/errors.ts
  packages/compiler-vapor/src/transforms/vMemo.ts
Due: packages, compiler-sfc

fix(compiler-vapor): resolve component tags from slot scope (#15787)
  packages/compiler-vapor/__tests__/transforms/transformElement.spec.ts
  packages/compiler-vapor/src/generators/component.ts
  packages/compiler-vapor/src/ir/index.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
  packages/runtime-vapor/__tests__/componentSlots.spec.ts
Due: packages

fix(reactivity): report IS_SHALLOW correctly on collection proxies (fix #15792)
  packages/reactivity/__tests__/reactive.spec.ts
  packages/reactivity/src/collectionHandlers.ts
Due: packages, reactivity

fix(types): tighten native element ref overloads
  packages-private/dts-test/defineComponent.test-d.tsx
  packages-private/dts-test/h.test-d.ts
  packages-private/dts-test/tsx.test-d.tsx
  packages/runtime-core/src/h.ts
  packages/runtime-core/src/vnode.ts
Due: packages, runtime-core

fix(runtime-dom): preserve v-show display for unchanged style strings
  packages/runtime-dom/__tests__/directives/vShow.spec.ts
  packages/runtime-dom/src/modules/style.ts
Due: packages, runtime-dom

fix(compiler-sfc): handle multiline CSS bindings
  packages/compiler-sfc/__tests__/__snapshots__/cssVars.spec.ts.snap
  packages/compiler-sfc/__tests__/cssVars.spec.ts
  packages/compiler-sfc/src/style/cssVars.ts
Due: packages, compiler-sfc

fix(compiler-vapor): drop whitespace between v-if branches
  packages/compiler-vapor/__tests__/transforms/vIf.spec.ts
  packages/compiler-vapor/src/transforms/transformText.ts
  packages/runtime-vapor/__tests__/if.spec.ts
Due: packages

fix(runtime-vapor): create svg and math dynamic component roots in their own namespace
  packages/runtime-vapor/__tests__/apiCreateDynamicComponent.spec.ts
  packages/runtime-vapor/src/component.ts
Due: packages

fix(runtime-dom): initialize checkbox model before insertion
  packages/runtime-dom/__tests__/directives/vModel.spec.ts
  packages/runtime-dom/src/directives/vModel.ts
  packages/vue/__tests__/e2e/vModel.spec.ts
Due: packages, runtime-dom, vue

fix(compiler-vapor): handle asset url imports in component props and v-bind objects
  packages/compiler-vapor/__tests__/transforms/templateTransformAssetUrl.spec.ts
  packages/compiler-vapor/src/generators/expression.ts
Due: packages

fix(compiler-sfc): preserve quoted CSS binding literals
  packages/compiler-sfc/__tests__/cssVars.spec.ts
  packages/compiler-sfc/src/style/cssVars.ts
Due: packages, compiler-sfc

fix(runtime-core): update static props when swapping manual slots
  packages/runtime-core/src/renderer.ts
  packages/vue/__tests__/index.spec.ts
Due: packages, runtime-core, vue

fix(reactivity): preserve shallow collection semantics
  packages/reactivity/__tests__/ref.spec.ts
  packages/reactivity/__tests__/shallowReactive.spec.ts
  packages/reactivity/__tests__/watch.spec.ts
  packages/reactivity/src/collectionHandlers.ts
Due: packages, reactivity

fix(compiler-vapor): handle asset url imports in component props and v-bind objects (#15799)
  packages/compiler-vapor/__tests__/transforms/templateTransformAssetUrl.spec.ts
  packages/compiler-vapor/src/generators/expression.ts
Due: packages

fix(runtime-vapor): create svg and math dynamic component roots in their own namespace (#15797)
  packages/runtime-vapor/__tests__/apiCreateDynamicComponent.spec.ts
  packages/runtime-vapor/src/component.ts
Due: packages

fix(compiler-vapor): preserve whitespace between conditional slots
  packages/compiler-vapor/src/transforms/transformComment.ts
  packages/runtime-vapor/__tests__/componentSlots.spec.ts
  packages/runtime-vapor/__tests__/hydration/slots.spec.ts
  packages/runtime-vapor/__tests__/if.spec.ts
Due: packages

fix(compiler-vapor): report v-model on const bindings (#15779)
  packages/compiler-vapor/__tests__/transforms/vModel.spec.ts
  packages/compiler-vapor/src/transforms/vModel.ts
Due: packages

fix(server-renderer, vapor): render a vapor slot called directly by a render function as its outlet (#15743)
  packages/compiler-ssr/__tests__/ssrSuspense.spec.ts
  packages/compiler-ssr/src/transforms/ssrTransformSuspense.ts
  packages/runtime-vapor/__tests__/hydration/interopBasic.spec.ts
  packages/runtime-vapor/__tests__/hydration/interopDynamic.spec.ts
  packages/runtime-vapor/__tests__/hydration/interopSlots.spec.ts
  packages/runtime-vapor/__tests__/hydration/interopStructure.spec.ts
  packages/server-renderer/__tests__/ssrSlot.spec.ts
  packages/server-renderer/src/render.ts
Due: packages, server-renderer

fix(compiler-vapor): declare merged listeners ahead of the render effect (#15729)
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformElement.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vModel.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vOn.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/transformElement.spec.ts
  packages/compiler-vapor/__tests__/transforms/vOn.spec.ts
  packages/compiler-vapor/src/generate.ts
  packages/compiler-vapor/src/generators/component.ts
  packages/compiler-vapor/src/generators/event.ts
  packages/compiler-vapor/src/generators/operation.ts
  packages/compiler-vapor/src/generators/prop.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
  packages/runtime-vapor/__tests__/expressionCache.spec.ts
Due: packages

fix(runtime-vapor): re-apply root chain state after hmr rerender (#15750)
  packages/runtime-vapor/__tests__/hmr.spec.ts
  packages/runtime-vapor/src/block.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/components/Transition.ts
  packages/runtime-vapor/src/components/TransitionGroup.ts
  packages/runtime-vapor/src/directives/custom.ts
  packages/runtime-vapor/src/directives/vShow.ts
  packages/runtime-vapor/src/hmr.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(runtime-vapor): keep only component vnodes of a vdom slot alive (#15761)
  packages/runtime-vapor/__tests__/components/KeepAlive.spec.ts
  packages/runtime-vapor/src/components/KeepAlive.ts
Due: packages

feat(runtime-vapor): transition vapor slot content inside a vdom Transition (#15758)
  packages/runtime-core/src/apiCreateApp.ts
  packages/runtime-core/src/components/BaseTransition.ts
  packages/runtime-vapor/__tests__/components/Transition.spec.ts
  packages/runtime-vapor/__tests__/hydration/interopTransition.spec.ts
  packages/runtime-vapor/__tests__/vdomInteropTransition.spec.ts
  packages/runtime-vapor/src/components/KeepAlive.ts
  packages/runtime-vapor/src/components/Transition.ts
  packages/runtime-vapor/src/slotFragment.ts
  packages/runtime-vapor/src/transition.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages, runtime-core

fix(runtime-vapor): render the latest transition child after an out-in leave (#15749)
  packages/runtime-vapor/__tests__/components/Transition.spec.ts
  packages/runtime-vapor/src/components/Transition.ts
  packages/runtime-vapor/src/fragment.ts
  packages/runtime-vapor/src/transition.ts
Due: packages

fix(runtime-core): only flush jobs queued by the root render itself
  packages/runtime-core/__tests__/apiCreateApp.spec.ts
  packages/runtime-core/__tests__/scheduler.spec.ts
  packages/runtime-core/src/apiWatch.ts
  packages/runtime-core/src/component.ts
  packages/runtime-core/src/renderer.ts
  packages/runtime-core/src/scheduler.ts
  packages/vue-compat/__tests__/instance.spec.ts
Due: packages, runtime-core, vue-compat

fix(runtime-vapor): preserve own keys in interop vnode props
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/componentProps.ts
Due: packages

fix(compiler-vapor): set the value of an input after its other props (#15722)
  packages/compiler-vapor/__tests__/transforms/__snapshots__/expression.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vBind.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vBind.spec.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
  packages/runtime-vapor/__tests__/dom/template.spec.ts
  packages/runtime-vapor/__tests__/hydration/mismatch.spec.ts
  packages/runtime-vapor/src/dom/prop.ts
Due: packages

fix(runtime-vapor): pass vdom components plain object vnode props (#15738)
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/componentProps.ts
Due: packages

refactor(compiler-vapor): classify v-model targets from the root AST
  packages/compiler-vapor/__tests__/transforms/vModel.spec.ts
  packages/compiler-vapor/src/generators/expression.ts
Due: packages

fix(compiler-vapor): assign to the member target when v-model object has a TS wrapper (#15744)
  packages/compiler-vapor/__tests__/transforms/vModel.spec.ts
  packages/compiler-vapor/src/generators/expression.ts
Due: packages
