Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

fix(compiler-vapor): do not escape text of createElement-backed parents
  packages/compiler-vapor/__tests__/transforms/transformText.spec.ts
  packages/compiler-vapor/src/transforms/transformText.ts
  packages/runtime-vapor/__tests__/_utils.ts
  packages/runtime-vapor/__tests__/dom/template.spec.ts
Due: packages

fix(runtime-vapor): v-show on a Vapor child dropped on a root change, lost after a non-element root
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(runtime-vapor): render vdom slot fallbacks under their outlet owner
  packages/runtime-core/__tests__/helpers/renderSlot.spec.ts
  packages/runtime-core/src/helpers/renderSlot.ts
  packages/runtime-core/src/index.ts
  packages/runtime-core/src/vnode.ts
  packages/runtime-vapor/__tests__/_utils.ts
  packages/runtime-vapor/__tests__/scopeId.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages, runtime-core

fix(runtime-vapor): patch vdom slot fallbacks in place across owner re-renders
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

refactor(runtime-vapor): resolve forwarded vapor slot fallbacks through every enclosing vdom outlet
  packages/runtime-core/__tests__/helpers/renderSlot.spec.ts
  packages/runtime-core/__tests__/vnode.spec.ts
  packages/runtime-core/src/helpers/renderSlot.ts
  packages/runtime-core/src/index.ts
  packages/runtime-core/src/vnode.ts
  packages/runtime-vapor/__tests__/componentSlots.spec.ts
  packages/runtime-vapor/__tests__/scopeId.spec.ts
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/fragment.ts
  packages/runtime-vapor/src/slotBoundary.ts
  packages/runtime-vapor/src/slotFragment.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages, runtime-core

fix(compiler-dom): correctly stringify `0` and `false` in `v-html`
  packages/compiler-dom/__tests__/transforms/__snapshots__/stringifyStatic.spec.ts.snap
  packages/compiler-dom/__tests__/transforms/stringifyStatic.spec.ts
  packages/compiler-dom/src/transforms/stringifyStatic.ts
Due: packages, compiler-dom

fix(runtime-vapor): resolve a vdom outlet fallback once all its forwarded vapor slots are empty
  packages/runtime-core/__tests__/helpers/renderSlot.spec.ts
  packages/runtime-core/src/helpers/renderSlot.ts
  packages/runtime-core/src/vnode.ts
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages, runtime-core

refactor(runtime-vapor): track the winning slot boundary and drop the interop fallback tracking effect
  packages/runtime-core/src/helpers/renderSlot.ts
  packages/runtime-vapor/__tests__/_utils.ts
  packages/runtime-vapor/__tests__/scopeId.spec.ts
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/fragment.ts
  packages/runtime-vapor/src/slotFragment.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages, runtime-core

fix(runtime-vapor): let a fallback host own the fallback of a vdom outlet rendering several vapor slots
  packages/runtime-core/__tests__/helpers/renderSlot.spec.ts
  packages/runtime-core/src/helpers/renderSlot.ts
  packages/runtime-core/src/index.ts
  packages/runtime-core/src/vnode.ts
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages, runtime-core

refactor(runtime-vapor): drop the unused winning slot boundary tracking
  packages/runtime-core/src/helpers/renderSlot.ts
  packages/runtime-core/src/index.ts
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/fragment.ts
  packages/runtime-vapor/src/slotFragment.ts
Due: packages, runtime-core

fix(runtime-vapor): host a vdom outlet's fallback whenever vapor slots are forwarded to it
  packages/runtime-core/__tests__/helpers/renderSlot.spec.ts
  packages/runtime-core/__tests__/vnode.spec.ts
  packages/runtime-core/src/helpers/renderSlot.ts
  packages/runtime-core/src/vnode.ts
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages, runtime-core

fix(runtime-vapor): keep a vdom outlet's fallback host across closed branches and dynamically named forwarded slots
  packages/runtime-core/__tests__/helpers/renderSlot.spec.ts
  packages/runtime-core/src/helpers/renderSlot.ts
  packages/runtime-core/src/vnode.ts
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
Due: packages, runtime-core

perf(runtime-core): run vapor slot outlet tracking only with the vapor interop installed
  packages/runtime-core/__tests__/helpers/renderSlot.spec.ts
  packages/runtime-core/__tests__/vnode.spec.ts
  packages/runtime-core/src/helpers/renderSlot.ts
  packages/runtime-core/src/vnode.ts
Due: packages, runtime-core

fix(runtime-vapor): recheck a vdom outlet's fallback host once the slots mounted after it resolve
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(runtime-vapor): render an inherited slot fallback under its providing outlet's slotted ids
  packages/runtime-core/__tests__/helpers/renderSlot.spec.ts
  packages/runtime-core/src/helpers/renderSlot.ts
  packages/runtime-core/src/vnode.ts
  packages/runtime-vapor/__tests__/hydration/scopeId.spec.ts
  packages/runtime-vapor/__tests__/scopeId.spec.ts
  packages/runtime-vapor/src/fragment.ts
  packages/runtime-vapor/src/scopeId.ts
  packages/runtime-vapor/src/slotBoundary.ts
  packages/runtime-vapor/src/slotFragment.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages, runtime-core

refactor(runtime-vapor): record the inner slot scope id count on the vdom outlet itself
  packages/runtime-core/__tests__/helpers/renderSlot.spec.ts
  packages/runtime-core/src/helpers/renderSlot.ts
  packages/runtime-core/src/vnode.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages, runtime-core

fix(runtime-dom): apply css vars to a vapor slot rendered in vdom
  packages/runtime-dom/src/helpers/useCssVars.ts
  packages/runtime-vapor/__tests__/helpers/useCssVars.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages, runtime-dom

fix(compiler-vapor): keep the .prop and .attr modifier on static prop keys
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vBind.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vBind.spec.ts
  packages/compiler-vapor/src/generators/prop.ts
  packages/runtime-vapor/__tests__/dom/prop.spec.ts
Due: packages

fix(runtime-dom): branch on vnode.vb so the non-vapor bundles still link
  packages/runtime-dom/src/helpers/useCssVars.ts
Due: packages, runtime-dom

fix(runtime-vapor): mount a vapor slot in place when the server rendered nothing for it in a vdom component
  packages/runtime-vapor/__tests__/hydration/interopSlots.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(runtime-vapor): mount a vapor slot in place when the server rendered nothing for it in a vdom component (#15576)
  packages/runtime-vapor/__tests__/hydration/interopSlots.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(runtime-vapor): let a vdom outlet's fallback host adopt the server-rendered fallback
  packages/runtime-core/__tests__/helpers/renderSlot.spec.ts
  packages/runtime-core/__tests__/vnode.spec.ts
  packages/runtime-core/src/helpers/renderSlot.ts
  packages/runtime-core/src/vnode.ts
  packages/runtime-vapor/__tests__/hydration/interopSlots.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages, runtime-core

refactor(runtime-vapor): simplify the vdom outlet fallback stack
  packages/runtime-core/__tests__/helpers/renderSlot.spec.ts
  packages/runtime-core/src/helpers/renderSlot.ts
  packages/runtime-core/src/index.ts
  packages/runtime-core/src/vnode.ts
  packages/runtime-vapor/__tests__/hydration/interopSlots.spec.ts
  packages/runtime-vapor/__tests__/scopeId.spec.ts
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/slotFragment.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages, runtime-core

refactor(runtime-core): keep the vapor slot outlet walk out of vdom-only bundles
  packages/runtime-core/__tests__/helpers/renderSlot.spec.ts
  packages/runtime-core/src/apiCreateApp.ts
  packages/runtime-core/src/helpers/renderSlot.ts
  packages/runtime-core/src/index.ts
  packages/runtime-vapor/__tests__/vdomInteropSlotOutlet.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages, runtime-core

fix(runtime-vapor): keep vdom outlet records off shared slot vnodes and clear the ids of an unscoped provider
  packages/runtime-core/src/vnode.ts
  packages/runtime-vapor/__tests__/scopeId.spec.ts
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/__tests__/vdomInteropSlotOutlet.spec.ts
  packages/runtime-vapor/src/slotFragment.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages, runtime-core

fix(runtime-vapor): hydrate a vdom outlet whose content the server folded into its fallback
  packages/runtime-core/__tests__/vnode.spec.ts
  packages/runtime-core/src/apiCreateApp.ts
  packages/runtime-core/src/hydration.ts
  packages/runtime-core/src/vnode.ts
  packages/runtime-vapor/__tests__/hydration/interopSlots.spec.ts
  packages/runtime-vapor/__tests__/vdomInteropSlotOutlet.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages, runtime-core

fix(runtime-vapor): keep a host's own fallback and replace the record of a repeated outlet content
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/__tests__/vdomInteropSlotOutlet.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

Path conditions:
  packages: any of: packages/
  compiler-core: any of: packages/compiler-core/
  compiler-dom: any of: packages/compiler-dom/
  compiler-sfc: any of: packages/compiler-sfc/
  reactivity: any of: packages/reactivity/
  reactivity-transform: any of: packages/reactivity-transform/
  runtime-core: any of: packages/runtime-core/
  runtime-dom: any of: packages/runtime-dom/
  runtime-test: any of: packages/runtime-test/
  server-renderer: any of: packages/server-renderer/
  sfc-playground: any of: packages/sfc-playground/
  shared: any of: packages/shared/
  size-check: any of: packages/size-check/
  template-explorer: any of: packages/template-explorer/
  vue: any of: packages/vue/
  vue-compat: any of: packages/vue-compat/
