Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

feat: 添加对于VNode Diff算法的理解
  Realize.md
Due: none

wip: add vapor transition e2e tests
  packages-private/vapor-e2e-test/__tests__/transition.spec.ts
  packages-private/vapor-e2e-test/index.html
  packages-private/vapor-e2e-test/transition/App.vue
  packages-private/vapor-e2e-test/transition/components/VaporCompA.vue
  packages-private/vapor-e2e-test/transition/components/VaporCompB.vue
  packages-private/vapor-e2e-test/transition/index.html
  packages-private/vapor-e2e-test/transition/main.ts
  packages-private/vapor-e2e-test/transition/style.css
  packages-private/vapor-e2e-test/vite.config.ts
Due: none

wip: test
  packages-private/vapor-e2e-test/__tests__/transition.spec.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
Due: packages

wip: save
  packages-private/vapor-e2e-test/__tests__/transition.spec.ts
  packages-private/vapor-e2e-test/transition/App.vue
  packages/compiler-vapor/src/transforms/transformElement.ts
  packages/runtime-vapor/src/components/Transition.ts
Due: packages

wip: fix tests
  packages-private/vapor-e2e-test/__tests__/transition.spec.ts
Due: none

test(reactivity): enable tests marked as todo
  packages/reactivity/__tests__/gc.spec.ts
Due: packages, reactivity

wip: fix tests
  packages-private/vapor-e2e-test/__tests__/transition.spec.ts
  packages-private/vapor-e2e-test/transition/App.vue
  packages-private/vapor-e2e-test/transition/components/VaporCompA.vue
  packages-private/vapor-e2e-test/transition/components/VaporCompB.vue
Due: none

wip: add tests
  packages-private/vapor-e2e-test/__tests__/transition.spec.ts
  packages-private/vapor-e2e-test/transition/App.vue
  packages-private/vapor-e2e-test/transition/components/VdomComp.vue
  packages-private/vapor-e2e-test/transition/main.ts
Due: none

test(compiler-vapor): add index test for v-for
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vFor.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vFor.spec.ts
Due: packages

chore: revert
  packages/compiler-vapor/__tests__/transforms/vFor.spec.ts
Due: packages

fix: test
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vFor.spec.ts.snap
Due: packages

wip: add interop tests
  packages-private/vapor-e2e-test/__tests__/transition.spec.ts
  packages-private/vapor-e2e-test/__tests__/vdomInterop.spec.ts
  packages-private/vapor-e2e-test/interop/App.vue
  packages-private/vapor-e2e-test/interop/main.ts
  packages-private/vapor-e2e-test/transition/components/VaporCompA.vue
  packages-private/vapor-e2e-test/transition/components/VaporCompB.vue
  packages-private/vapor-e2e-test/transition/components/VdomComp.vue
  packages/runtime-vapor/src/components/Transition.ts
  packages/runtime-vapor/src/vdomInterop.ts
  packages/vue/__tests__/e2e/e2eUtils.ts
Due: packages, vue

wip: refactor
  packages/runtime-core/src/apiCreateApp.ts
  packages/runtime-core/src/components/BaseTransition.ts
  packages/runtime-core/src/renderer.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages, runtime-core

wip: fix build-dts error
  packages/runtime-core/src/apiCreateApp.ts
Due: packages, runtime-core

wip: rename key to $key
  packages/compiler-vapor/__tests__/transforms/TransformTransition.spec.ts
  packages/compiler-vapor/__tests__/transforms/__snapshots__/TransformTransition.spec.ts.snap
  packages/compiler-vapor/src/generators/block.ts
  packages/runtime-vapor/src/block.ts
  packages/runtime-vapor/src/components/Transition.ts
  packages/runtime-vapor/src/dom/prop.ts
Due: packages

test(reactivity): enable tests marked as todo (#13003)
  packages/reactivity/__tests__/gc.spec.ts
Due: packages, reactivity

fix: typo
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vFor.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vFor.spec.ts
Due: packages

wip(vapor): basic hydration
  packages/runtime-vapor/src/apiCreateApp.ts
  packages/runtime-vapor/src/block.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/dom/hydrate.ts
  packages/runtime-vapor/src/dom/template.ts
  packages/runtime-vapor/src/index.ts
Due: packages

refactor(vapor): refactor interpolation transform to make it hydration friendly
  packages/compiler-vapor/__tests__/__snapshots__/compile.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/expression.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformChildren.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformText.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vOnce.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vSlot.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/transformChildren.spec.ts
  packages/compiler-vapor/__tests__/transforms/transformText.spec.ts
  packages/compiler-vapor/__tests__/transforms/vOnce.spec.ts
  packages/compiler-vapor/src/generators/template.ts
  packages/compiler-vapor/src/transforms/transformText.ts
  packages/runtime-vapor/src/dom/template.ts
Due: packages

test: fix missed warning assertion
  packages/runtime-vapor/__tests__/apiCreateVaporApp.spec.ts
Due: packages

wip(vapor): more hydration
  packages/runtime-vapor/__tests__/hydration.spec.ts
  packages/runtime-vapor/src/apiCreateApp.ts
  packages/runtime-vapor/src/block.ts
  packages/runtime-vapor/src/dom/hydration.ts
  packages/runtime-vapor/src/dom/template.ts
Due: packages

wip: add TransformTransition
  packages/compiler-dom/src/index.ts
  packages/compiler-dom/src/transforms/Transition.ts
  packages/compiler-vapor/__tests__/transforms/TransformTransition.spec.ts
  packages/compiler-vapor/__tests__/transforms/__snapshots__/TransformTransition.spec.ts.snap
  packages/compiler-vapor/src/compile.ts
  packages/compiler-vapor/src/transforms/transformTransition.ts
Due: packages, compiler-dom

fix: vapor transition multiple chilren check
  packages/compiler-dom/src/transforms/Transition.ts
  packages/compiler-vapor/__tests__/transforms/TransformTransition.spec.ts
  packages/compiler-vapor/__tests__/transforms/__snapshots__/TransformTransition.spec.ts.snap
  packages/compiler-vapor/src/transforms/transformTransition.ts
Due: packages, compiler-dom

feat: 补充diff对比节点顺序的说明
  Realize.md
Due: none

fix(types): exclude `undefined` from inferred prop types with default values
  packages-private/dts-test/defineComponent.test-d.tsx
  packages/runtime-core/src/componentProps.ts
Due: packages, runtime-core

feat(compiler-vapor): remove unused empty DOM from slots when whitespace is preserve
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vSlot.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vSlot.spec.ts
  packages/compiler-vapor/src/transforms/vSlot.ts
Due: packages

wip(vapor): text hydration tests
  packages/compiler-vapor/src/transforms/transformChildren.ts
  packages/runtime-vapor/__tests__/hydration.spec.ts
  packages/runtime-vapor/src/dom/hydration.ts
Due: packages

chore: improve
  packages/compiler-vapor/src/transforms/transformTransition.ts
Due: packages

Fix vuetify regression
  packages/runtime-core/src/apiDefineComponent.ts
Due: packages, runtime-core

Fix pinia regression
  packages/reactivity/src/computed.ts
Due: packages, reactivity

Fix vue-macros regression
  packages/runtime-core/__tests__/apiOptions.spec.ts
  packages/runtime-core/src/apiDefineComponent.ts
  packages/runtime-core/src/componentPublicInstance.ts
Due: packages, runtime-core

Add __defaults option
  packages/runtime-core/src/apiDefineComponent.ts
Due: packages, runtime-core

feat(compiler-core): support browser environment for walkIdentifiers
  packages/compiler-core/src/babelUtils.ts
Due: packages, compiler-core

Extract mixin emits in ComponentOptionsBase, CreateComponentPublicInstanceWithMixins
  packages/runtime-core/src/apiDefineComponent.ts
  packages/runtime-core/src/componentOptions.ts
  packages/runtime-core/src/componentPublicInstance.ts
Due: packages, runtime-core

fix: typo
  packages/compiler-vapor/__tests__/transforms/vSlot.spec.ts
Due: packages

Expose props in InferComponent
  packages/runtime-core/src/apiDefineComponent.ts
Due: packages, runtime-core

wip(vapor): component hydration
  packages/compiler-vapor/__tests__/__snapshots__/compile.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vFor.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vOnce.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vOnce.spec.ts
  packages/compiler-vapor/src/generators/component.ts
  packages/compiler-vapor/src/generators/operation.ts
  packages/compiler-vapor/src/ir/index.ts
  packages/compiler-vapor/src/transforms/transformChildren.ts
  packages/runtime-vapor/__tests__/hydration.spec.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/dom/hydration.ts
  packages/runtime-vapor/src/dom/template.ts
  packages/runtime-vapor/src/index.ts
  packages/runtime-vapor/src/insertionState.ts
Due: packages

Path conditions:
  packages: any of: packages/
  compiler-core: any of: packages/compiler-core/
  compiler-dom: any of: packages/compiler-dom/
  compiler-sfc: any of: packages/compiler-sfc/
  reactivity: any of: packages/reactivity/
  reactivity-transform: any of: packages/reactivity-transform/
  runtime-core: any of: packages/runtime-core/
  runtime-dom: any of: packages/runtime-dom/
  runtime-test: any of: packages/runtime-test/
  server-renderer: any of: packages/server-renderer/
  sfc-playground: any of: packages/sfc-playground/
  shared: any of: packages/shared/
  size-check: any of: packages/size-check/
  template-explorer: any of: packages/template-explorer/
  vue: any of: packages/vue/
  vue-compat: any of: packages/vue-compat/
