Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

fix(compiler-vapor): preserve comment-only default slots while ignoring mixed slot comments
  packages/compiler-vapor/__tests__/transforms/vSlot.spec.ts
  packages/compiler-vapor/src/transforms/transformComment.ts
  packages/compiler-vapor/src/transforms/vSlot.ts
Due: packages

chore: update test
  packages/compiler-vapor/__tests__/transforms/vSlot.spec.ts
Due: packages

fix(compiler-vapor): preserve comment-only default slots while ignoring mixed slot comments (#14604)
  packages/compiler-vapor/__tests__/transforms/vSlot.spec.ts
  packages/compiler-vapor/src/transforms/transformComment.ts
  packages/compiler-vapor/src/transforms/vSlot.ts
Due: packages

Update packages/server-renderer/src/renderToStream.ts
  packages/server-renderer/src/renderToStream.ts
Due: packages, server-renderer

fix(transition-group): align transition-group dynamic tag updates with vdom
  packages-private/vapor-e2e-test/__tests__/transition-group.spec.ts
  packages-private/vapor-e2e-test/transition-group/cases/vapor-transition-group/dynamic-tag-render-effect-leak.vue
  packages-private/vapor-e2e-test/transition-group/cases/vapor-transition-group/dynamic-tag.vue
  packages/runtime-vapor/src/components/TransitionGroup.ts
Due: packages

fix(compiler-vapor): Transition accepts template tags
  packages/compiler-vapor/__tests__/transforms/TransformTransition.spec.ts
  packages/compiler-vapor/src/transforms/transformTransition.ts
Due: packages

chore: update test
  packages/compiler-vapor/__tests__/transforms/TransformTransition.spec.ts
Due: packages

fix(transition): isolate transition leaving cache by resolved child type
  packages-private/vapor-e2e-test/__tests__/transition.spec.ts
  packages-private/vapor-e2e-test/transition/cases/dynamic-component/different-type-during-leave.vue
  packages-private/vapor-e2e-test/transition/cases/transition-with-asynccomponent/different-pre-resolved-async-types-during-leave.vue
  packages/runtime-vapor/src/components/Transition.ts
  packages/runtime-vapor/src/components/TransitionGroup.ts
Due: packages

feat(vapor): preserve static keys
  packages-private/vapor-e2e-test/__tests__/transition-group.spec.ts
  packages-private/vapor-e2e-test/__tests__/transition.spec.ts
  packages-private/vapor-e2e-test/transition-group/cases/interop/static-keyed-vdom-component-enter.vue
  packages-private/vapor-e2e-test/transition-group/cases/vapor-transition-group/static-keyed-component-enter.vue
  packages-private/vapor-e2e-test/transition-group/cases/vapor-transition-group/static-keyed-enter.vue
  packages-private/vapor-e2e-test/transition-group/components/StaticKeyItem.vue
  packages-private/vapor-e2e-test/transition-group/components/VdomKeyItem.vue
  packages-private/vapor-e2e-test/transition/cases/interop/should-work-with-static-keyed-vdom-component.vue
  packages-private/vapor-e2e-test/transition/cases/keyed/should-work-with-static-keyed-component.vue
  packages-private/vapor-e2e-test/transition/cases/keyed/should-work-with-static-keyed-element.vue
  packages-private/vapor-e2e-test/transition/components/StaticKeyItem.vue
  packages-private/vapor-e2e-test/transition/components/VdomKeyItem.vue
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformKey.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/transformKey.spec.ts
  packages/compiler-vapor/__tests__/transforms/vIf.spec.ts
  packages/compiler-vapor/src/generators/key.ts
  packages/compiler-vapor/src/generators/operation.ts
  packages/compiler-vapor/src/ir/index.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
  packages/compiler-vapor/src/utils.ts
  packages/runtime-vapor/__tests__/apiCreateDynamicComponent.spec.ts
  packages/runtime-vapor/__tests__/components/KeepAlive.spec.ts
  packages/runtime-vapor/__tests__/components/Transition.spec.ts
  packages/runtime-vapor/__tests__/components/TransitionGroup.spec.ts
  packages/runtime-vapor/__tests__/helpers/setKey.spec.ts
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/components/KeepAlive.ts
  packages/runtime-vapor/src/components/Transition.ts
  packages/runtime-vapor/src/components/TransitionGroup.ts
  packages/runtime-vapor/src/fragment.ts
  packages/runtime-vapor/src/helpers/setKey.ts
  packages/runtime-vapor/src/index.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(transition-group): avoid invalid hooks on unkeyed interop children
  packages-private/vapor-e2e-test/__tests__/transition-group.spec.ts
  packages-private/vapor-e2e-test/transition-group/cases/interop/unkeyed-vdom-component-update.vue
  packages/runtime-vapor/src/components/TransitionGroup.ts
Due: packages

refactor(vapor): separate transition-group child and fragment hooks
  packages/runtime-vapor/__tests__/components/TransitionGroup.spec.ts
  packages/runtime-vapor/src/block.ts
  packages/runtime-vapor/src/components/Transition.ts
  packages/runtime-vapor/src/components/TransitionGroup.ts
Due: packages

chore(vapor): remove setBlockKey multi-root warning path
  packages/runtime-vapor/__tests__/helpers/setKey.spec.ts
  packages/runtime-vapor/src/helpers/setKey.ts
Due: packages

fix(transition-group): support vdom children with comment roots
  packages-private/vapor-e2e-test/__tests__/transition-group.spec.ts
  packages-private/vapor-e2e-test/transition-group/cases/interop/avoid-set-transition-hooks-for-comment-node.vue
  packages-private/vapor-e2e-test/transition-group/components/VdomCommentToggle.vue
  packages/runtime-vapor/src/components/TransitionGroup.ts
Due: packages

fix(vdomInterop): keep interop fragment nodes in sync after vnode updates
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

test: reorganize keepalive tests
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
Due: packages

fix(runtime-vapor): preserve async wrapper keys across dynamic fragment updates
  packages/runtime-vapor/__tests__/components/TransitionGroup.spec.ts
  packages/runtime-vapor/src/fragment.ts
Due: packages

fix(vdomInterop): keep vdom slot fragment nodes in sync with child updates
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(transition): align interop transition vnode identity with vdom
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/components/Transition.ts
  packages/runtime-vapor/src/components/TransitionGroup.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(transition-group): align key inheritance with vdom
  packages/runtime-vapor/__tests__/components/TransitionGroup.spec.ts
  packages/runtime-vapor/src/components/TransitionGroup.ts
Due: packages

fix(transition): treat null transition keys as absent in child fallback
  packages/runtime-vapor/__tests__/components/Transition.spec.ts
  packages/runtime-vapor/src/components/Transition.ts
Due: packages

fix(compiler-vapor): handle template children in Transition
  packages/compiler-vapor/__tests__/transforms/TransformTransition.spec.ts
  packages/compiler-vapor/src/transforms/transformTransition.ts
Due: packages

chore: tweaks
  packages/compiler-vapor/src/transforms/transformTransition.ts
Due: packages

fix(compiler-vapor): handle template children in Transition (#14606)
  packages/compiler-vapor/__tests__/transforms/TransformTransition.spec.ts
  packages/compiler-vapor/src/transforms/transformTransition.ts
Due: packages

fix(compiler-vapor): disable event delegation for .stop modifiers
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vOn.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vOn.spec.ts
  packages/compiler-vapor/src/transforms/vOn.ts
Due: packages

fix(transition): skip enter guard while hmr updating
  packages/runtime-core/src/components/BaseTransition.ts
  packages/runtime-core/src/hmr.ts
  packages/runtime-core/src/renderer.ts
Due: packages, runtime-core

feat(compiler-sfc): add spatial computing support for visionOS
  docs/spatial-computing-dev.md
  packages/compiler-sfc/__tests__/parse.spec.ts
  packages/compiler-sfc/src/compileScript.ts
  packages/compiler-sfc/src/index.ts
  packages/compiler-sfc/src/parse.ts
  packages/compiler-sfc/src/spatial.ts
Due: packages, compiler-sfc

fix(compiler-sfc): block-scope switch cases and remove docs from build
  docs/spatial-computing-dev.md
  packages/compiler-sfc/src/parse.ts
Due: packages, compiler-sfc

feat(compiler-spatial): add @vue/compiler-spatial package for SwiftUI codegen
  packages/compiler-sfc/package.json
  packages/compiler-sfc/src/index.ts
  packages/compiler-spatial/LICENSE
  packages/compiler-spatial/__tests__/spatialCodegen.spec.ts
  packages/compiler-spatial/__tests__/spatialElement.spec.ts
  packages/compiler-spatial/__tests__/spatialVFor.spec.ts
  packages/compiler-spatial/__tests__/spatialVIf.spec.ts
  packages/compiler-spatial/__tests__/spatialVModel.spec.ts
  packages/compiler-spatial/__tests__/spatialVShow.spec.ts
  packages/compiler-spatial/__tests__/utils.ts
  packages/compiler-spatial/package.json
  packages/compiler-spatial/src/errors.ts
  packages/compiler-spatial/src/index.ts
  packages/compiler-spatial/src/runtimeHelpers.ts
  packages/compiler-spatial/src/spatialCodegenTransform.ts
  packages/compiler-spatial/src/swiftCodegen.ts
  packages/compiler-spatial/src/transforms/spatialTransformElement.ts
  packages/compiler-spatial/src/transforms/spatialVFor.ts
  packages/compiler-spatial/src/transforms/spatialVIf.ts
  packages/compiler-spatial/src/transforms/spatialVModel.ts
  packages/compiler-spatial/src/transforms/spatialVShow.ts
  pnpm-lock.yaml
Due: packages, compiler-sfc

test(transition): add HMR reload test for child component wrapped in KeepAlive
  packages/vue/__tests__/e2e/Transition.spec.ts
Due: packages, vue

fix: ensure HMR updating state is restored after vnode hooks execution
  packages/runtime-core/src/renderer.ts
Due: packages, runtime-core

chore(runtime-vapor): reorganize imports
  packages/runtime-vapor/src/apiCreateFor.ts
  packages/runtime-vapor/src/block.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/componentSlots.ts
  packages/runtime-vapor/src/components/Teleport.ts
  packages/runtime-vapor/src/fragment.ts
Due: packages

fix(compiler-vapor): avoid delegating same-event handlers when sibling uses .stop
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vOn.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vOn.spec.ts
  packages/compiler-vapor/src/transforms/vOn.ts
Due: packages

fix(compiler-vapor): avoid delegating same-event handlers when sibling uses `stop` modifiers (#14610)
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vOn.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vOn.spec.ts
  packages/compiler-vapor/src/transforms/vOn.ts
Due: packages

Path conditions:
  packages: any of: packages/
  compiler-core: any of: packages/compiler-core/
  compiler-dom: any of: packages/compiler-dom/
  compiler-sfc: any of: packages/compiler-sfc/
  reactivity: any of: packages/reactivity/
  reactivity-transform: any of: packages/reactivity-transform/
  runtime-core: any of: packages/runtime-core/
  runtime-dom: any of: packages/runtime-dom/
  runtime-test: any of: packages/runtime-test/
  server-renderer: any of: packages/server-renderer/
  sfc-playground: any of: packages/sfc-playground/
  shared: any of: packages/shared/
  size-check: any of: packages/size-check/
  template-explorer: any of: packages/template-explorer/
  vue: any of: packages/vue/
  vue-compat: any of: packages/vue-compat/
