Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

fix: improve code
  packages/runtime-core/src/components/BaseTransition.ts
Due: packages, runtime-core

test: add test case
  packages/vue/__tests__/e2e/Transition.spec.ts
Due: packages, vue

fix: update known mathML tags
  packages/shared/src/domTagConfig.ts
Due: packages, shared

fix(mathml): update known mathML tags (#9829)
  packages/shared/src/domTagConfig.ts
Due: packages, shared

fix(runtime-vapor): `unmountComponent` (#63)
  packages/runtime-vapor/__tests__/component.spec.ts
  packages/runtime-vapor/src/dom.ts
  packages/runtime-vapor/src/index.ts
  packages/runtime-vapor/src/render.ts
  packages/runtime-vapor/src/template.ts
  playground/src/no-script.js
Due: packages

refactor(runtime-vapor): clean up
  packages/runtime-vapor/__tests__/component.spec.ts
  packages/runtime-vapor/__tests__/template.spec.ts
  packages/runtime-vapor/__tests__/vShow.spec.ts
  packages/runtime-vapor/src/render.ts
  packages/runtime-vapor/src/scheduler.ts
Due: packages

feat(runtime-vapor): mounted & unmounted hook (#46)
  packages/runtime-vapor/src/apiLifecycle.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/index.ts
  packages/runtime-vapor/src/render.ts
  playground/src/App.vue
Due: packages

fix(hydration): handle appear transition before patch props
  packages/runtime-core/src/hydration.ts
Due: packages, runtime-core

test: add test case
  packages/runtime-core/__tests__/hydration.spec.ts
Due: packages, runtime-core

chore: update cssVarText
  packages/runtime-dom/src/modules/style.ts
Due: packages, runtime-dom

chore: change `cssVarText` to `const`
  packages/runtime-dom/src/modules/style.ts
Due: packages, runtime-dom

fix(sfc/cssVars): fix loss of CSS v-bind variables when setting inline style with string value (#9824)
  packages/runtime-dom/__tests__/helpers/useCssVars.spec.ts
  packages/runtime-dom/src/helpers/useCssVars.ts
  packages/runtime-dom/src/modules/style.ts
Due: packages, runtime-dom

fix(Suspense): fix edge case of Suspense being patched during async HOC child remount
  packages/runtime-core/__tests__/components/Suspense.spec.ts
  packages/runtime-core/src/componentRenderUtils.ts
Due: packages, runtime-core

chore: updated code
  packages/runtime-dom/src/apiCustomElement.ts
Due: packages, runtime-dom

fix(types): fix `shallowRef` type error
  packages/dts-test/ref.test-d.ts
  packages/reactivity/src/ref.ts
Due: packages, reactivity

chore: test
  packages/compiler-sfc/__tests__/__snapshots__/templateTransformAssetUrl.spec.ts.snap
  packages/compiler-sfc/__tests__/templateTransformAssetUrl.spec.ts
Due: packages, compiler-sfc

fix(defineModel): trigger effect when prop value changed
  packages/runtime-core/src/apiSetupHelpers.ts
Due: packages, runtime-core

chore: updated code
  packages/runtime-dom/__tests__/customElement.spec.ts
  packages/runtime-dom/src/apiCustomElement.ts
Due: packages, runtime-dom

fix(compiler-core): vnode hooks error message
  packages/compiler-core/src/errors.ts
Due: packages, compiler-core

fix(runtime-core): uncomment assertion in hydration test
  packages/runtime-core/__tests__/hydration.spec.ts
Due: packages, runtime-core

test: add test case
  packages/runtime-core/__tests__/apiSetupHelpers.spec.ts
Due: packages, runtime-core

types(shallowRef): simplified type
  packages/reactivity/src/ref.ts
Due: packages, reactivity

fix(compiler-core): vnode hooks error message (#9842)
  packages/compiler-core/src/errors.ts
Due: packages, compiler-core

test(runtime-core): uncomment assertion in hydration test (#9843)
  packages/runtime-core/__tests__/hydration.spec.ts
Due: packages, runtime-core

test(shallowRef): add test case
  packages/dts-test/ref.test-d.ts
Due: packages

Update hydration.ts
  packages/runtime-core/src/hydration.ts
Due: packages, runtime-core

fix(hydration): handle appear transition before patch props (#9837)
  packages/runtime-core/__tests__/hydration.spec.ts
  packages/runtime-core/src/hydration.ts
Due: packages, runtime-core

refactor: simplify implementation
  packages/runtime-core/__tests__/apiSetupHelpers.spec.ts
  packages/runtime-core/src/apiSetupHelpers.ts
Due: packages, runtime-core

fix(defineModel): ensure trigger effect when prop changed (#9841)
  packages/runtime-core/__tests__/apiSetupHelpers.spec.ts
  packages/runtime-core/src/apiSetupHelpers.ts
Due: packages, runtime-core

Update ref.test-d.ts
  packages/dts-test/ref.test-d.ts
Due: packages

fix(types): fix `shallowRef` type error (#9839)
  packages/dts-test/ref.test-d.ts
  packages/reactivity/src/ref.ts
Due: packages, reactivity

test(types): add test for ref/shallowRef generic casting
  packages/dts-test/ref.test-d.ts
Due: packages

release: v3.3.12
  CHANGELOG.md
  package.json
  packages/compiler-core/package.json
  packages/compiler-dom/package.json
  packages/compiler-sfc/package.json
  packages/compiler-ssr/package.json
  packages/reactivity-transform/package.json
  packages/reactivity/package.json
  packages/runtime-core/package.json
  packages/runtime-dom/package.json
  packages/server-renderer/package.json
  packages/shared/package.json
  packages/vue-compat/package.json
  packages/vue/package.json
Due: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, server-renderer, shared, vue, vue-compat

release: v3.4.0-beta.3
  CHANGELOG.md
  package.json
  packages/compiler-core/package.json
  packages/compiler-dom/package.json
  packages/compiler-sfc/package.json
  packages/compiler-ssr/package.json
  packages/reactivity/package.json
  packages/runtime-core/package.json
  packages/runtime-dom/package.json
  packages/server-renderer/package.json
  packages/shared/package.json
  packages/vue-compat/package.json
  packages/vue/package.json
  pnpm-lock.yaml
Due: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, runtime-core, runtime-dom, server-renderer, shared, vue, vue-compat

fix(runtime-dom): functions returned should not support reuse
  packages/runtime-dom/src/directives/vOn.ts
Due: packages, runtime-dom

fix(runtime-dom): cache event handlers by key/modifiers (fix #9849)
  packages/runtime-dom/__tests__/directives/vOn.spec.ts
  packages/runtime-dom/src/directives/vOn.ts
Due: packages, runtime-dom

fix(runtime-dom): cache event handlers by key/modifiers (#9851)
  packages/runtime-dom/__tests__/directives/vOn.spec.ts
  packages/runtime-dom/src/directives/vOn.ts
Due: packages, runtime-dom

fix(types): extract properties from extended collections
  packages/dts-test/reactivity.test-d.ts
  packages/reactivity/src/ref.ts
Due: packages, reactivity

Path conditions:
  packages: any of: packages/
  compiler-core: any of: packages/compiler-core/
  compiler-dom: any of: packages/compiler-dom/
  compiler-sfc: any of: packages/compiler-sfc/
  reactivity: any of: packages/reactivity/
  reactivity-transform: any of: packages/reactivity-transform/
  runtime-core: any of: packages/runtime-core/
  runtime-dom: any of: packages/runtime-dom/
  runtime-test: any of: packages/runtime-test/
  server-renderer: any of: packages/server-renderer/
  sfc-playground: any of: packages/sfc-playground/
  shared: any of: packages/shared/
  size-check: any of: packages/size-check/
  template-explorer: any of: packages/template-explorer/
  vue: any of: packages/vue/
  vue-compat: any of: packages/vue-compat/
