Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

chore: update vite
  packages/sfc-playground/package.json
  pnpm-lock.yaml
Due: packages, sfc-playground

fix: upgrade repl
  packages/sfc-playground/package.json
  pnpm-lock.yaml
Due: packages, sfc-playground

workflow: support custom TS version for playground (#8735)
  packages/sfc-playground/package.json
  packages/sfc-playground/src/App.vue
  packages/sfc-playground/src/Header.vue
  packages/sfc-playground/src/VersionSelect.vue
  packages/sfc-playground/vite.config.ts
  pnpm-lock.yaml
Due: packages, sfc-playground

chore: update parameter type
  packages/reactivity/src/ref.ts
Due: packages, reactivity

chore: update `toValue` parameter type
  packages/reactivity/src/ref.ts
Due: packages, reactivity

test(reactivity): bigint test for non-observable values (#6177)
  packages/reactivity/__tests__/reactive.spec.ts
Due: packages, reactivity

fix(compiler-sfc): pass options directly to stylus (#3848)
  packages/compiler-sfc/src/style/preprocessors.ts
Due: packages, compiler-sfc

Update cssVars.ts
  packages/compiler-sfc/src/style/cssVars.ts
Due: packages, compiler-sfc

fix(compiler-sfc): ignore style v-bind in double slash comments (#5409)
  packages/compiler-sfc/src/style/cssVars.ts
Due: packages, compiler-sfc

fix(types/jsx): add missing loading attr for img element (#6160)
  packages/runtime-dom/src/jsx.ts
Due: packages, runtime-dom

fix(types): support correct types for style on svg elements (#6322)
  packages/runtime-dom/src/jsx.ts
Due: packages, runtime-dom

chore(types): remove unnecessary @ts-ignore or use @ts-expected-error (#7178)
  packages/reactivity/__tests__/computed.spec.ts
  packages/reactivity/__tests__/reactive.spec.ts
Due: packages, reactivity

refactor(reactivity): use hasChanged to avoid tracking NaN key twice (#7378)
  packages/reactivity/src/collectionHandlers.ts
Due: packages, reactivity

chore: remove unnecessary type assertions (#8386)
  packages/compiler-dom/src/decodeHtmlBrowser.ts
  packages/reactivity/src/ref.ts
  packages/runtime-core/src/renderer.ts
  packages/runtime-core/src/vnode.ts
Due: packages, compiler-dom, reactivity, runtime-core

fix(types): add missing property `loading` for iframe
  packages/runtime-dom/src/jsx.ts
Due: packages, runtime-dom

fix(ssr): render correct initial selected state for select with v-model (#7432)
  packages/compiler-ssr/__tests__/ssrVModel.spec.ts
  packages/compiler-ssr/src/transforms/ssrVModel.ts
  packages/server-renderer/__tests__/ssrDirectives.spec.ts
Due: packages, server-renderer

fix(compiler-sfc): fix using imported ref as template ref during dev (#7593)
  packages/compiler-sfc/__tests__/__snapshots__/compileScript.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript.spec.ts
  packages/compiler-sfc/src/script/importUsageCheck.ts
Due: packages, compiler-sfc

Update packages/runtime-dom/src/jsx.ts
  packages/runtime-dom/src/jsx.ts
Due: packages, runtime-dom

fix(types/jsx): add `inert` attribute and missing `hidden` values (#8090)
  packages/runtime-dom/src/jsx.ts
Due: packages, runtime-dom

Update pluginScoped.ts
  packages/compiler-sfc/src/style/pluginScoped.ts
Due: packages, compiler-sfc

fix(teleport): handle target change while disabled (#7837)
  packages/runtime-core/__tests__/components/Teleport.spec.ts
  packages/runtime-core/src/components/Teleport.ts
Due: packages, runtime-core

dx(compiler-sfc): enhance `:deep` warnings (#8328)
  packages/compiler-sfc/src/style/pluginScoped.ts
Due: packages, compiler-sfc

test(reactivity): use vitest fn instead of counting manually (#8476)
  packages/reactivity/__tests__/ref.spec.ts
Due: packages, reactivity

chore(test): replace deprecated `initEvent` (#8490)
  packages/runtime-dom/__tests__/directives/vOn.spec.ts
  packages/vue-compat/__tests__/utils.ts
Due: packages, runtime-dom, vue-compat

chore(shared): improve isPromise check in accordance with Promise A+ specification (#8506)
  packages/shared/src/general.ts
Due: packages, shared

perf: mark `defineComponent` as side-effects-free
  package.json
  packages/runtime-core/src/apiAsyncComponent.ts
  packages/runtime-core/src/apiDefineComponent.ts
  packages/runtime-dom/src/apiCustomElement.ts
  pnpm-lock.yaml
Due: packages, runtime-core, runtime-dom

chore: typo
  packages/runtime-core/src/apiDefineComponent.ts
Due: packages, runtime-core

perf: mark `defineComponent` as side-effects-free (#8512)
  package.json
  packages/runtime-core/src/apiAsyncComponent.ts
  packages/runtime-core/src/apiDefineComponent.ts
  packages/runtime-dom/src/apiCustomElement.ts
  pnpm-lock.yaml
Due: packages, runtime-core, runtime-dom

fix(types): ensure nextTick return type reflect correct Promise value (#8406)
  packages/runtime-core/__tests__/scheduler.spec.ts
  packages/runtime-core/src/scheduler.ts
  packages/shared/src/typeUtils.ts
Due: packages, runtime-core, shared

fix(types): correct withDefaults return type for boolean prop with undefined default value (#8602)
  packages/dts-test/setupHelpers.test-d.ts
  packages/runtime-core/src/apiSetupHelpers.ts
Due: packages, runtime-core

fix(compiler-sfc): handle dynamic directive arguments in template usage check (#8538)
  packages/compiler-sfc/__tests__/__snapshots__/compileScript.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript.spec.ts
  packages/compiler-sfc/src/script/importUsageCheck.ts
Due: packages, compiler-sfc

chore: upgrade to typescript 5.1
  package.json
  packages/dts-test/defineComponent.test-d.tsx
  packages/shared/src/general.ts
  pnpm-lock.yaml
Due: packages, shared

feat: add new lifecycle `onAfterUnmount`
  packages/runtime-core/src/apiLifecycle.ts
  packages/runtime-core/src/component.ts
  packages/runtime-core/src/componentOptions.ts
  packages/runtime-core/src/enums.ts
  packages/runtime-core/src/errorHandling.ts
  packages/runtime-core/src/index.ts
  packages/runtime-core/src/renderer.ts
  packages/shared/src/domUtils.ts
  packages/shared/src/index.ts
Due: packages, runtime-core, shared

fix(compiler-sfc): don't hoist props and emit (#8535)
  packages/compiler-sfc/__tests__/__snapshots__/compileScript.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript.spec.ts
  packages/compiler-sfc/__tests__/compileScript/__snapshots__/defineEmits.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript/__snapshots__/defineProps.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript/__snapshots__/definePropsDestructure.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript/defineEmits.spec.ts
  packages/compiler-sfc/__tests__/compileScript/definePropsDestructure.spec.ts
  packages/compiler-sfc/src/compileScript.ts
  packages/compiler-sfc/src/script/context.ts
  packages/compiler-sfc/src/script/defineEmits.ts
  packages/compiler-sfc/src/script/defineProps.ts
  packages/compiler-sfc/src/script/definePropsDestructure.ts
Due: packages, compiler-sfc

dx(compiler-sfc): warn when disabled defineModel (#8534)
  packages/compiler-sfc/src/script/defineModel.ts
Due: packages, compiler-sfc

perf(custom-element): cancel `MutationObserver` listener when disconnected (#8666)
  packages/runtime-dom/src/apiCustomElement.ts
Due: packages, runtime-dom

Revert "fix(types): propagate type parameter constraints for TypeScript 4.8 (#6351)"
  packages/runtime-core/src/apiCreateApp.ts
  packages/runtime-core/src/directives.ts
  packages/runtime-core/src/renderer.ts
  packages/runtime-core/src/vnode.ts
Due: packages, runtime-core

Update README.md
  README.md
Due: none

chore: Update execa from 4.1.0 to 7.1.1
  package.json
  packages/sfc-playground/vite.config.ts
  pnpm-lock.yaml
  scripts/build.js
  scripts/const-enum.js
  scripts/release.js
Due: packages, sfc-playground

fix(runtime-dom): <img> width should be set as attribute
  packages/runtime-dom/__tests__/patchProps.spec.ts
  packages/runtime-dom/src/patchProp.ts
Due: packages, runtime-dom

Path conditions:
  packages: any of: packages/
  compiler-core: any of: packages/compiler-core/
  compiler-dom: any of: packages/compiler-dom/
  compiler-sfc: any of: packages/compiler-sfc/
  reactivity: any of: packages/reactivity/
  reactivity-transform: any of: packages/reactivity-transform/
  runtime-core: any of: packages/runtime-core/
  runtime-dom: any of: packages/runtime-dom/
  runtime-test: any of: packages/runtime-test/
  server-renderer: any of: packages/server-renderer/
  sfc-playground: any of: packages/sfc-playground/
  shared: any of: packages/shared/
  size-check: any of: packages/size-check/
  template-explorer: any of: packages/template-explorer/
  vue: any of: packages/vue/
  vue-compat: any of: packages/vue-compat/
