Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

fix: import
  packages/compiler-vapor/src/transform.ts
  playground/src/main.ts
  tsconfig.json
Due: packages

feat(apiWatch): introducing the `depth` option
  packages/runtime-core/__tests__/apiWatch.spec.ts
  packages/runtime-core/src/apiWatch.ts
Due: packages, runtime-core

fix componentSlots
  packages/dts-test/componentTypeHelpers.test-d.ts
  packages/dts-test/defineComponent.test-d.tsx
  packages/runtime-core/src/componentTypeHelpers.ts
Due: packages, runtime-core

support volar syntax for slots
  packages/dts-test/componentTypeHelpers.test-d.ts
  packages/runtime-core/src/componentTypeHelpers.ts
Due: packages, runtime-core

introducing DeclareComponent type
  packages/dts-test/componentTypeHelpers.test-d.ts
  packages/dts-test/defineComponent.test-d.tsx
  packages/runtime-core/src/componentTypeHelpers.ts
Due: packages, runtime-core

workflow: use workspace deps
  packages/compiler-core/package.json
  packages/compiler-dom/package.json
  packages/compiler-sfc/package.json
  packages/compiler-ssr/package.json
  packages/reactivity-transform/package.json
  packages/reactivity/package.json
  packages/runtime-core/package.json
  packages/runtime-dom/package.json
  packages/runtime-test/package.json
  packages/server-renderer/package.json
  packages/vue-compat/package.json
  packages/vue/package.json
  pnpm-lock.yaml
  scripts/release.js
Due: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, vue, vue-compat

chore: exclude private packages from version updates
  packages/dts-built-test/package.json
  packages/dts-test/package.json
  packages/runtime-test/package.json
  packages/sfc-playground/package.json
  packages/template-explorer/package.json
  scripts/release.js
Due: packages, runtime-test, sfc-playground, template-explorer

test(apiWatch): add array test
  packages/runtime-core/__tests__/apiWatch.spec.ts
Due: packages, runtime-core

refactor: remove reactivity transform
  .eslintrc.cjs
  package.json
  packages/compiler-sfc/__tests__/__snapshots__/compileScript.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript.spec.ts
  packages/compiler-sfc/__tests__/compileScript/__snapshots__/reactivityTransform.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript/reactivityTransform.spec.ts
  packages/compiler-sfc/src/compileScript.ts
  packages/compiler-sfc/src/index.ts
  packages/compiler-sfc/src/script/definePropsDestructure.ts
  packages/compiler-sfc/src/script/normalScript.ts
  packages/dts-test/reactivityMacros.test-d.ts
  packages/reactivity-transform/LICENSE
  packages/reactivity-transform/README.md
  packages/reactivity-transform/__tests__/__snapshots__/reactivityTransform.spec.ts.snap
  packages/reactivity-transform/__tests__/reactivityTransform.spec.ts
  packages/reactivity-transform/src/babelPlugin.ts
  packages/reactivity-transform/src/index.ts
  packages/sfc-playground/src/App.vue
  packages/vue/macros-global.d.ts
  packages/vue/package.json
  packages/vue/ref-macros.d.ts
  pnpm-lock.yaml
  scripts/pre-dev-sfc.js
Due: packages, compiler-sfc, reactivity-transform, sfc-playground, vue

chore: remove reactivity-transform package
  packages/compiler-sfc/package.json
  packages/reactivity-transform/package.json
  packages/reactivity-transform/src/reactivityTransform.ts
  pnpm-lock.yaml
Due: packages, compiler-sfc, reactivity-transform

types: add emits and slots type to FunctionalComponent
  packages/dts-test/component.test-d.ts
  packages/runtime-core/src/component.ts
  packages/runtime-core/src/componentEmits.ts
Due: packages, runtime-core

fix: error link
  packages/compiler-core/src/errors.ts
  packages/runtime-core/src/errorHandling.ts
Due: packages, compiler-core, runtime-core

refactor(compiler-core): link errors to docs
  packages/compiler-core/src/errors.ts
Due: packages, compiler-core

fix(reactivity): reactive collection types
  packages/dts-test/reactivity.test-d.ts
  packages/reactivity/src/collectionHandlers.ts
  packages/reactivity/src/ref.ts
Due: packages, reactivity

test: fix keepalive transition out-in test case
  packages/runtime-core/__tests__/hmr.spec.ts
Due: packages, runtime-core

feat!: remove reactivity transform (#9321)
  .eslintrc.cjs
  package.json
  packages/compiler-sfc/__tests__/__snapshots__/compileScript.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript.spec.ts
  packages/compiler-sfc/__tests__/compileScript/__snapshots__/reactivityTransform.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript/reactivityTransform.spec.ts
  packages/compiler-sfc/package.json
  packages/compiler-sfc/src/compileScript.ts
  packages/compiler-sfc/src/index.ts
  packages/compiler-sfc/src/script/definePropsDestructure.ts
  packages/compiler-sfc/src/script/normalScript.ts
  packages/dts-test/reactivityMacros.test-d.ts
  packages/reactivity-transform/LICENSE
  packages/reactivity-transform/README.md
  packages/reactivity-transform/__tests__/__snapshots__/reactivityTransform.spec.ts.snap
  packages/reactivity-transform/__tests__/reactivityTransform.spec.ts
  packages/reactivity-transform/package.json
  packages/reactivity-transform/src/babelPlugin.ts
  packages/reactivity-transform/src/index.ts
  packages/reactivity-transform/src/reactivityTransform.ts
  packages/sfc-playground/src/App.vue
  packages/vue/macros-global.d.ts
  packages/vue/package.json
  packages/vue/ref-macros.d.ts
  pnpm-lock.yaml
  scripts/pre-dev-sfc.js
Due: packages, compiler-sfc, reactivity-transform, sfc-playground, vue

fix test type
  packages/runtime-core/__tests__/vnode.spec.ts
Due: packages, runtime-core

wip: setup
  packages/compiler-core/package.json
  packages/compiler-core/src/parser/Parser.ts
  packages/compiler-core/src/parser/Tokenizer.ts
  packages/compiler-core/src/parser/index.ts
  pnpm-lock.yaml
Due: packages, compiler-core

chore: disable parser tests for now
  packages/compiler-core/__tests__/parse.spec.ts
Due: packages, compiler-core

wip: save
  packages/compiler-core/src/parser/Tokenizer.ts
  packages/compiler-core/src/parser/index.ts
Due: packages, compiler-core

wip: refine element type
  packages/compiler-core/src/parser/index.ts
  packages/compiler-core/src/utils.ts
Due: packages, compiler-core

wip: port parser
  packages/compiler-core/__tests__/parse.spec.ts
  packages/compiler-core/src/ast.ts
  packages/compiler-core/src/index.ts
  packages/compiler-core/src/options.ts
  packages/compiler-core/src/parse.ts
  packages/compiler-core/src/parser/Parser.ts
  packages/compiler-core/src/parser/Tokenizer.ts
  packages/compiler-core/src/parser/index.ts
Due: packages, compiler-core

wip: parse mode
  packages/compiler-core/src/index.ts
  packages/compiler-core/src/options.ts
  packages/compiler-core/src/parse.ts
  packages/compiler-core/src/parser/Tokenizer.ts
  packages/compiler-core/src/parser/index.ts
  packages/vue/src/index.ts
Due: packages, compiler-core, vue

wip: loc for elements
  packages/compiler-core/src/parser/Tokenizer.ts
  packages/compiler-core/src/parser/index.ts
Due: packages, compiler-core

wip: optimize condenseWhitespace
  packages/compiler-core/src/parser/Tokenizer.ts
  packages/compiler-core/src/parser/index.ts
Due: packages, compiler-core

wip: remove htmlMode
  packages/compiler-core/src/options.ts
  packages/compiler-core/src/parse.ts
  packages/compiler-core/src/parser/index.ts
Due: packages, compiler-core

wip: refactor line / column generation
  packages/compiler-core/src/parser/Tokenizer.ts
  packages/compiler-core/src/parser/index.ts
Due: packages, compiler-core

wip: remove foreignContext check
  packages/compiler-core/src/parser/index.ts
Due: packages, compiler-core

wip: source location for props
  packages/compiler-core/src/parser/Tokenizer.ts
  packages/compiler-core/src/parser/index.ts
Due: packages, compiler-core

wip: parse interpolation
  packages/compiler-core/src/parser/Tokenizer.ts
  packages/compiler-core/src/parser/index.ts
Due: packages, compiler-core

wip: pre tag handling
  packages/compiler-core/src/parser/index.ts
Due: packages, compiler-core

wip: comments
  packages/compiler-core/src/parser/Tokenizer.ts
  packages/compiler-core/src/parser/index.ts
Due: packages, compiler-core

wip: getting ready for textmode handling
  packages/compiler-core/src/parser/Tokenizer.ts
  packages/compiler-core/src/parser/index.ts
  packages/compiler-dom/src/parserOptions.ts
Due: packages, compiler-core, compiler-dom

wip: parse directive in tokenizer
  packages/compiler-core/src/parser/Parser.ts
  packages/compiler-core/src/parser/Tokenizer.ts
  packages/compiler-core/src/parser/index.ts
Due: packages, compiler-core

perf: optimize makeMap
  packages/shared/src/makeMap.ts
Due: packages, shared

wip: parse directives
  packages/compiler-core/src/parser/index.ts
Due: packages, compiler-core

perf: optimize away isBuiltInType
  packages/compiler-core/src/index.ts
  packages/compiler-core/src/transforms/vIf.ts
  packages/compiler-core/src/utils.ts
  packages/compiler-dom/src/parserOptions.ts
  packages/compiler-ssr/src/transforms/ssrInjectCssVars.ts
  packages/compiler-ssr/src/transforms/ssrInjectFallthroughAttrs.ts
Due: packages, compiler-core, compiler-dom

wip: check duplicated attributes
  packages/compiler-core/src/parser/Tokenizer.ts
  packages/compiler-core/src/parser/index.ts
Due: packages, compiler-core

wip: v-pre handling
  packages/compiler-core/src/ast.ts
  packages/compiler-core/src/parser/Tokenizer.ts
  packages/compiler-core/src/parser/index.ts
Due: packages, compiler-core

Path conditions:
  packages: any of: packages/
  compiler-core: any of: packages/compiler-core/
  compiler-dom: any of: packages/compiler-dom/
  compiler-sfc: any of: packages/compiler-sfc/
  reactivity: any of: packages/reactivity/
  reactivity-transform: any of: packages/reactivity-transform/
  runtime-core: any of: packages/runtime-core/
  runtime-dom: any of: packages/runtime-dom/
  runtime-test: any of: packages/runtime-test/
  server-renderer: any of: packages/server-renderer/
  sfc-playground: any of: packages/sfc-playground/
  shared: any of: packages/shared/
  size-check: any of: packages/size-check/
  template-explorer: any of: packages/template-explorer/
  vue: any of: packages/vue/
  vue-compat: any of: packages/vue-compat/
