Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

codecov.yml:

coverage:
  status:
    project:
      default:
        # Status checks are set to be non-blocking
        informational: true
    patch:
      default:
        # Status checks are set to be non-blocking
        informational: true

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: packages
      paths:
        - packages/
    - component_id: compiler-core
      paths:
        - packages/compiler-core/
    - component_id: compiler-dom
      paths:
        - packages/compiler-dom/
    - component_id: compiler-sfc
      paths:
        - packages/compiler-sfc/
    - component_id: compiler-sfc
      paths:
        - packages/compiler-sfc/
    - component_id: reactivity
      paths:
        - packages/reactivity/
    - component_id: reactivity-transform
      paths:
        - packages/reactivity-transform/
    - component_id: runtime-core
      paths:
        - packages/runtime-core/
    - component_id: runtime-dom
      paths:
        - packages/runtime-dom/
    - component_id: runtime-test
      paths:
        - packages/runtime-test/
    - component_id: server-renderer
      paths:
        - packages/server-renderer/
    - component_id: sfc-playground
      paths:
        - packages/sfc-playground/
    - component_id: shared
      paths:
        - packages/shared/
    - component_id: size-check
      paths:
        - packages/size-check/
    - component_id: template-explorer
      paths:
        - packages/template-explorer/
    - component_id: vue
      paths:
        - packages/vue/
    - component_id: vue-compat
      paths:
        - packages/vue-compat/

fix(runtime-vapor): preserve vdom props normalization in interop (#15261)
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(runtime-vapor): align app unmount lifecycle with vdom
  packages/runtime-vapor/__tests__/apiLifecycle.spec.ts
  packages/runtime-vapor/__tests__/components/Suspense.spec.ts
  packages/runtime-vapor/src/apiCreateApp.ts
  packages/runtime-vapor/src/block.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/suspense.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(runtime-vapor): propagate unmount suspense to VDOM children
  packages/runtime-vapor/__tests__/components/Suspense.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(runtime-vapor): align app unmount lifecycle with vdom (#15262)
  packages/runtime-vapor/__tests__/apiLifecycle.spec.ts
  packages/runtime-vapor/__tests__/components/Suspense.spec.ts
  packages/runtime-vapor/src/apiCreateApp.ts
  packages/runtime-vapor/src/block.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/suspense.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

release: v3.6.0-rc.3
  CHANGELOG.md
  package.json
  packages/compiler-core/package.json
  packages/compiler-dom/package.json
  packages/compiler-sfc/package.json
  packages/compiler-ssr/package.json
  packages/compiler-vapor/package.json
  packages/reactivity/package.json
  packages/runtime-core/package.json
  packages/runtime-dom/package.json
  packages/runtime-vapor/package.json
  packages/server-renderer/package.json
  packages/shared/package.json
  packages/vue-compat/package.json
  packages/vue/package.json
Due: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, runtime-core, runtime-dom, server-renderer, shared, vue, vue-compat

fix(hydration): handle moving unresolved async fragment
  packages/runtime-core/__tests__/hydration.spec.ts
  packages/runtime-core/src/hydration.ts
Due: packages, runtime-core

fix(compiler-vapor): preserve modifiers on merged event handlers
  packages/compiler-vapor/__tests__/transforms/transformElement.spec.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
Due: packages

fix(compiler-vapor): preserve modifiers on merged event handlers (#15265)
  packages/compiler-vapor/__tests__/transforms/transformElement.spec.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
Due: packages

fix(server-renderer): reject CR in attribute names
  packages/server-renderer/__tests__/ssrRenderAttrs.spec.ts
  packages/shared/src/domAttrConfig.ts
Due: packages, server-renderer, shared

fix(server-renderer): reject CR in attribute names (#15266)
  packages/server-renderer/__tests__/ssrRenderAttrs.spec.ts
  packages/shared/src/domAttrConfig.ts
Due: packages, server-renderer, shared

refactor(runtime-vapor): formalize fragment and interop boundaries
  packages/runtime-core/src/apiCreateApp.ts
  packages/runtime-core/src/index.ts
  packages/runtime-core/src/renderer.ts
  packages/runtime-vapor/__tests__/block.spec.ts
  packages/runtime-vapor/__tests__/componentSlots.spec.ts
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/apiCreateDynamicComponent.ts
  packages/runtime-vapor/src/apiCreateFor.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/componentSlots.ts
  packages/runtime-vapor/src/components/Teleport.ts
  packages/runtime-vapor/src/dom/hydrateFragment.ts
  packages/runtime-vapor/src/fragment.ts
  packages/runtime-vapor/src/fragmentFlags.ts
  packages/runtime-vapor/src/teleport.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages, runtime-core

refactor(runtime-vapor): formalize fragment and interop boundaries (#15269)
  packages/runtime-core/src/apiCreateApp.ts
  packages/runtime-core/src/index.ts
  packages/runtime-core/src/renderer.ts
  packages/runtime-vapor/__tests__/block.spec.ts
  packages/runtime-vapor/__tests__/componentSlots.spec.ts
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/apiCreateDynamicComponent.ts
  packages/runtime-vapor/src/apiCreateFor.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/componentSlots.ts
  packages/runtime-vapor/src/components/Teleport.ts
  packages/runtime-vapor/src/dom/hydrateFragment.ts
  packages/runtime-vapor/src/fragment.ts
  packages/runtime-vapor/src/fragmentFlags.ts
  packages/runtime-vapor/src/teleport.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages, runtime-core

fix(compiler-sfc): split mixed :deep() selector lists with nested rules (#15205)
  packages/compiler-sfc/__tests__/compileStyle.spec.ts
  packages/compiler-sfc/src/style/pluginScoped.ts
Due: packages, compiler-sfc

fix(compiler-sfc): detect nested rules below at-rules when splitting
  packages/compiler-sfc/__tests__/compileStyle.spec.ts
  packages/compiler-sfc/src/style/pluginScoped.ts
Due: packages, compiler-sfc

fix(runtime-dom): warn when in-DOM template container contains a shadow root
  packages/runtime-dom/src/index.ts
  packages/vue/__tests__/index.spec.ts
Due: packages, runtime-dom, vue

fix(runtime-vapor): avoid redundant transition block resolution
  packages/runtime-vapor/src/components/Transition.ts
Due: packages

fix(runtime-vapor): avoid redundant transition block resolution (#15272)
  packages/runtime-vapor/src/components/Transition.ts
Due: packages

chore(runtime-vapor): tree-shake teleport target anchor hydration
  packages/runtime-vapor/src/components/Teleport.ts
Due: packages

chore(runtime-vapor): tree-shake teleport target anchor hydration (#15273)
  packages/runtime-vapor/src/components/Teleport.ts
Due: packages

fix(compiler-vapor): propagate component root through Transition
  packages/compiler-vapor/__tests__/transforms/__snapshots__/TransformTransition.spec.ts.snap
  packages/compiler-vapor/src/transform.ts
  packages/runtime-vapor/__tests__/components/Transition.spec.ts
Due: packages

fix(compiler-vapor): propagate component root through Transition (#15275)
  packages/compiler-vapor/__tests__/transforms/__snapshots__/TransformTransition.spec.ts.snap
  packages/compiler-vapor/src/transform.ts
  packages/runtime-vapor/__tests__/components/Transition.spec.ts
Due: packages

fix(vapor): preserve keyed v-for slot state
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vSlot.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vSlot.spec.ts
  packages/compiler-vapor/src/generators/component.ts
  packages/compiler-vapor/src/ir/component.ts
  packages/compiler-vapor/src/transforms/vSlot.ts
  packages/runtime-vapor/__tests__/componentSlots.spec.ts
  packages/runtime-vapor/src/apiCreateFor.ts
  packages/runtime-vapor/src/componentProps.ts
Due: packages

fix(runtime-vapor): respect inheritAttrs ownership for component roots
  packages/runtime-vapor/__tests__/componentAttrs.spec.ts
  packages/runtime-vapor/src/component.ts
Due: packages

fix(runtime-vapor): respect inheritAttrs ownership for component roots (#15279)
  packages/runtime-vapor/__tests__/componentAttrs.spec.ts
  packages/runtime-vapor/src/component.ts
Due: packages

fix(vapor): preserve dynamic v-for slot state
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vSlot.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vSlot.spec.ts
  packages/compiler-vapor/src/generators/component.ts
  packages/compiler-vapor/src/ir/component.ts
  packages/compiler-vapor/src/transforms/vSlot.ts
  packages/runtime-vapor/__tests__/componentSlots.spec.ts
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/apiCreateFor.ts
  packages/runtime-vapor/src/componentSlots.ts
Due: packages

chore: avoid duplicate getItem()
  packages/runtime-vapor/src/apiCreateFor.ts
Due: packages

fix(compiler-sfc): keep the selector list whole when splitting mixed :deep()
  packages/compiler-sfc/__tests__/compileStyle.spec.ts
  packages/compiler-sfc/src/style/pluginScoped.ts
Due: packages, compiler-sfc

perf(runtime-vapor): optimize stable v-for slot updates
  packages/runtime-vapor/src/apiCreateFor.ts
Due: packages

fix(compiler-sfc): detect :global() buried in functional pseudos when splitting
  packages/compiler-sfc/__tests__/compileStyle.spec.ts
  packages/compiler-sfc/src/style/pluginScoped.ts
Due: packages, compiler-sfc

fix(vapor): preserve dynamic v-for slot state (#15280)
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vSlot.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vSlot.spec.ts
  packages/compiler-vapor/src/generators/component.ts
  packages/compiler-vapor/src/ir/component.ts
  packages/compiler-vapor/src/transforms/vSlot.ts
  packages/runtime-vapor/__tests__/componentSlots.spec.ts
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/apiCreateFor.ts
  packages/runtime-vapor/src/componentSlots.ts
Due: packages

fix(runtime-vapor): release unmounted v-for component items from the parent scope
  packages/runtime-vapor/__tests__/for.spec.ts
  packages/runtime-vapor/src/apiCreateFor.ts
Due: packages

fix(compiler-core): error on unexpected first character of an attribute name
  packages/compiler-core/__tests__/__snapshots__/parse.spec.ts.snap
  packages/compiler-core/__tests__/parse.spec.ts
  packages/compiler-core/src/tokenizer.ts
Due: packages, compiler-core

fix(runtime-vapor): normalize declared style props
  packages/runtime-vapor/__tests__/componentProps.spec.ts
  packages/runtime-vapor/src/componentProps.ts
Due: packages

fix(runtime-vapor): clean up removed v-for components
  packages/runtime-vapor/__tests__/for.spec.ts
  packages/runtime-vapor/src/apiCreateFor.ts
  packages/runtime-vapor/src/fragment.ts
Due: packages

fix(runtime-vapor): remove v-for components before scope cleanup
  packages/runtime-vapor/__tests__/for.spec.ts
  packages/runtime-vapor/src/apiCreateFor.ts
Due: packages

fix(runtime-vapor): scope prop source caches to consumers
  packages/runtime-vapor/__tests__/for.spec.ts
  packages/runtime-vapor/src/componentProps.ts
Due: packages

test(runtime-vapor): cover component v-for effect cleanup
  packages/runtime-vapor/__tests__/for.spec.ts
Due: packages

fix(runtime-core): avoid caching unmounted suspense children
  packages/runtime-core/__tests__/components/Suspense.spec.ts
  packages/runtime-core/src/components/KeepAlive.ts
Due: packages, runtime-core

fix(runtime-vapor): normalize declared style props (fix #15285) (#15286)
  packages/runtime-vapor/__tests__/componentProps.spec.ts
  packages/runtime-vapor/src/componentProps.ts
Due: packages

fix(runtime-vapor): scope fallback prop caches to active consumers
  packages/runtime-vapor/__tests__/for.spec.ts
  packages/runtime-vapor/src/apiCreateFor.ts
  packages/runtime-vapor/src/componentProps.ts
  packages/shared/src/vaporFlags.ts
Due: packages, shared
