Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

fix(reactivity): respect readonly during ref unwrapping
  packages/reactivity/src/baseHandlers.ts
Due: packages, reactivity

test: add test
  packages/reactivity/__tests__/readonly.spec.ts
Due: packages, reactivity

fix(resolveType): ignore nodes with @vue-ignore comments in resolveTypeReference
  packages/compiler-sfc/src/script/resolveType.ts
Due: packages, compiler-sfc

chore: update
  packages/compiler-sfc/src/script/resolveType.ts
Due: packages, compiler-sfc

fix(sfc): add support for @vue-ignore in runtime type resolution
  packages/compiler-sfc/__tests__/compileScript/resolveType.spec.ts
  packages/compiler-sfc/src/script/resolveType.ts
Due: packages, compiler-sfc

fix(custom-element): use PatchFlags.BAIL for slot when props are present
  packages/runtime-core/src/helpers/renderSlot.ts
Due: packages, runtime-core

test: add test
  packages/runtime-dom/__tests__/customElement.spec.ts
Due: packages, runtime-dom

refactor(TransitionGroup): from main branchprocess for TransitionGroup
  packages/runtime-dom/src/components/TransitionGroup.ts
Due: packages, runtime-dom

refactor: reuse hydration state
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/dom/hydration.ts
  packages/runtime-vapor/src/dom/node.ts
  packages/runtime-vapor/src/dom/prop.ts
  packages/runtime-vapor/src/dom/template.ts
  packages/runtime-vapor/src/fragment.ts
  packages/runtime-vapor/src/insertionState.ts
Due: packages

feat(effectScope): add lazy-initialized `signal` getter with automatic abort on stop
  packages/reactivity/__tests__/effectScope.spec.ts
  packages/reactivity/src/effectScope.ts
Due: packages, reactivity

chore: update
  packages/runtime-vapor/src/insertionState.ts
Due: packages

fix(shared): class presence overrides
  packages/server-renderer/__tests__/ssrRenderAttrs.spec.ts
  packages/shared/__tests__/normalizeProp.spec.ts
  packages/shared/src/normalizeProp.ts
Due: packages, server-renderer, shared

chore: update
  packages/runtime-vapor/src/component.ts
Due: packages

fix(compiler-vapor): treat template v-for with single component child as component
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vFor.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vFor.spec.ts
  packages/compiler-vapor/src/transforms/vFor.ts
Due: packages

fix: handling v-for on component with non-hydration node
  packages/runtime-vapor/__tests__/hydration.spec.ts
  packages/runtime-vapor/src/apiCreateFor.ts
Due: packages

refactor: reuse hydration state
  packages/runtime-vapor/src/block.ts
  packages/runtime-vapor/src/dom/hydration.ts
  packages/runtime-vapor/src/dom/node.ts
  packages/runtime-vapor/src/dom/prop.ts
  packages/runtime-vapor/src/dom/template.ts
  packages/runtime-vapor/src/insertionState.ts
Due: packages

chore: hydration mismatch handling
  packages/runtime-core/src/hydration.ts
  packages/runtime-core/src/index.ts
  packages/runtime-vapor/__tests__/hydration.spec.ts
  packages/runtime-vapor/src/directives/vShow.ts
  packages/runtime-vapor/src/dom/hydration.ts
  packages/runtime-vapor/src/dom/node.ts
  packages/runtime-vapor/src/dom/prop.ts
  packages/runtime-vapor/src/dom/template.ts
Due: packages, runtime-core

fix: don't warn when incremental value is empty
  packages/runtime-vapor/src/dom/prop.ts
  rollup.config.js
Due: packages

fix: don't warn mismatch in setHtml
  packages/runtime-vapor/src/dom/prop.ts
Due: packages

chore: update
  packages/runtime-vapor/src/dom/prop.ts
  rollup.config.js
Due: packages

fix: don't warn mismatch if value is empty
  packages/runtime-vapor/src/dom/prop.ts
Due: packages

fix(runtime-dom): set dom stub type to `never` instead of `{}`
  packages/runtime-dom/src/index.ts
Due: packages, runtime-dom

chore: update
  packages/compiler-vapor/src/transforms/vText.ts
  packages/runtime-vapor/src/dom/prop.ts
Due: packages

feat(reactivity): add support for `AbortController` to `watch`
  packages/reactivity/__tests__/watch.spec.ts
  packages/reactivity/src/watch.ts
  packages/runtime-core/__tests__/apiWatch.spec.ts
  packages/runtime-core/src/apiWatch.ts
Due: packages, reactivity, runtime-core

chore: move abort to last
  packages/reactivity/src/effectScope.ts
Due: packages, reactivity

chore: remove redundant test
  packages/runtime-vapor/__tests__/hydration.spec.ts
Due: packages

fix(compiler-ssr): filter v-bind object props in TransitionGroup SSR │
  packages/compiler-ssr/src/transforms/ssrTransformTransitionGroup.ts
Due: packages

fix: improve mismatch handling
  packages/runtime-vapor/__tests__/hydration.spec.ts
  packages/runtime-vapor/src/components/Teleport.ts
  packages/runtime-vapor/src/dom/hydration.ts
  packages/runtime-vapor/src/insertionState.ts
Due: packages

fix(compiler-ssr): runtime filter for v-bind object in TransitionGroup SSR
  packages/compiler-ssr/__tests__/ssrTransitionGroup.spec.ts
  packages/compiler-ssr/src/runtimeHelpers.ts
  packages/compiler-ssr/src/transforms/ssrTransformTransitionGroup.ts
  packages/server-renderer/src/helpers/ssrRenderAttrs.ts
  packages/server-renderer/src/internal.ts
Due: packages, server-renderer

test: add more tests
  packages/runtime-vapor/__tests__/hydration.spec.ts
Due: packages

fix(compiler-ssr): runtime filter transition props in TransitionGroup SSR
  packages/compiler-ssr/__tests__/ssrTransitionGroup.spec.ts
  packages/compiler-ssr/src/runtimeHelpers.ts
  packages/compiler-ssr/src/transforms/ssrTransformTransitionGroup.ts
  packages/server-renderer/__tests__/ssrRenderAttrs.spec.ts
  packages/server-renderer/src/helpers/ssrRenderAttrs.ts
  packages/server-renderer/src/internal.ts
Due: packages, server-renderer

fix(compiler-ssr): runtime filter transition props in TransitionGroup SSR
  packages/compiler-ssr/__tests__/ssrTransitionGroup.spec.ts
Due: packages

fix(apiWatch): improve type safety in watch functions and instanceWatch
  packages/runtime-core/src/apiWatch.ts
Due: packages, runtime-core

chore: tweaks
  packages/runtime-vapor/src/components/Teleport.ts
  packages/runtime-vapor/src/dom/hydration.ts
Due: packages

fix: escape HTML content in template string
  packages/compiler-vapor/src/transforms/transformText.ts
Due: packages

fix: escape HTML content in template string
  packages/compiler-vapor/src/transforms/transformComment.ts
  packages/compiler-vapor/src/transforms/transformText.ts
Due: packages

test: add test
  packages/compiler-vapor/__tests__/transforms/transformText.spec.ts
Due: packages

fix(sfc): ensure props bindings register before compiling template in inline mode
  packages/compiler-sfc/src/compileScript.ts
Due: packages, compiler-sfc

Path conditions:
  packages: any of: packages/
  compiler-core: any of: packages/compiler-core/
  compiler-dom: any of: packages/compiler-dom/
  compiler-sfc: any of: packages/compiler-sfc/
  reactivity: any of: packages/reactivity/
  reactivity-transform: any of: packages/reactivity-transform/
  runtime-core: any of: packages/runtime-core/
  runtime-dom: any of: packages/runtime-dom/
  runtime-test: any of: packages/runtime-test/
  server-renderer: any of: packages/server-renderer/
  sfc-playground: any of: packages/sfc-playground/
  shared: any of: packages/shared/
  size-check: any of: packages/size-check/
  template-explorer: any of: packages/template-explorer/
  vue: any of: packages/vue/
  vue-compat: any of: packages/vue-compat/
