Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

codecov.yml:

coverage:
  status:
    project:
      default:
        # Status checks are set to be non-blocking
        informational: true
    patch:
      default:
        # Status checks are set to be non-blocking
        informational: true

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: packages
      paths:
        - packages/
    - component_id: compiler-core
      paths:
        - packages/compiler-core/
    - component_id: compiler-dom
      paths:
        - packages/compiler-dom/
    - component_id: compiler-sfc
      paths:
        - packages/compiler-sfc/
    - component_id: compiler-sfc
      paths:
        - packages/compiler-sfc/
    - component_id: reactivity
      paths:
        - packages/reactivity/
    - component_id: reactivity-transform
      paths:
        - packages/reactivity-transform/
    - component_id: runtime-core
      paths:
        - packages/runtime-core/
    - component_id: runtime-dom
      paths:
        - packages/runtime-dom/
    - component_id: runtime-test
      paths:
        - packages/runtime-test/
    - component_id: server-renderer
      paths:
        - packages/server-renderer/
    - component_id: sfc-playground
      paths:
        - packages/sfc-playground/
    - component_id: shared
      paths:
        - packages/shared/
    - component_id: size-check
      paths:
        - packages/size-check/
    - component_id: template-explorer
      paths:
        - packages/template-explorer/
    - component_id: vue
      paths:
        - packages/vue/
    - component_id: vue-compat
      paths:
        - packages/vue-compat/

chore: update test
  packages/runtime-dom/__tests__/createApp.spec.ts
Due: packages, runtime-dom

fix(reactivity): correctly handle method calls on user-extended arrays (#11760)
  packages/reactivity/__tests__/reactiveArray.spec.ts
  packages/reactivity/src/arrayInstrumentations.ts
Due: packages, reactivity

fix(cssVars): correctly escape double quotes in SSR (#11784)
  packages/compiler-sfc/__tests__/__snapshots__/compileScript.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript.spec.ts
  packages/shared/src/escapeHtml.ts
Due: packages, compiler-sfc, shared

fix(server-renderer): Fix call to serverPrefetch in server renderer with an async setup (#10893)
  packages/server-renderer/__tests__/render.spec.ts
  packages/server-renderer/src/render.ts
Due: packages, server-renderer

fix(runtime-dom): prevent unnecessary DOM update from v-model (#11656)
  packages/runtime-dom/__tests__/directives/vModel.spec.ts
  packages/runtime-dom/src/directives/vModel.ts
Due: packages, runtime-dom

fix(types/defineModel): allow getter and setter types to be unrelated (#11699)
  packages-private/dts-test/setupHelpers.test-d.ts
  packages/runtime-core/src/apiSetupHelpers.ts
  packages/runtime-core/src/helpers/useModel.ts
Due: packages, runtime-core

fix(runtime-dom): avoid unnecessary prop patch for checkbox (#11657)
  packages/runtime-dom/__tests__/patchProps.spec.ts
  packages/runtime-dom/src/modules/props.ts
Due: packages, runtime-dom

release: v3.5.0
  CHANGELOG.md
  package.json
  packages/compiler-core/package.json
  packages/compiler-dom/package.json
  packages/compiler-sfc/package.json
  packages/compiler-ssr/package.json
  packages/reactivity/package.json
  packages/runtime-core/package.json
  packages/runtime-dom/package.json
  packages/server-renderer/package.json
  packages/shared/package.json
  packages/vue-compat/package.json
  packages/vue/package.json
Due: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, runtime-core, runtime-dom, server-renderer, shared, vue, vue-compat

wip: save
  packages/runtime-core/src/components/BaseTransition.ts
  packages/runtime-core/src/components/KeepAlive.ts
Due: packages, runtime-core

fix(reactivity): handle non-array arguments in reactive `concat` method
  packages/reactivity/__tests__/reactiveArray.spec.ts
  packages/reactivity/src/arrayInstrumentations.ts
Due: packages, reactivity

fix: remove toReactive wrap
  packages/reactivity/__tests__/reactiveArray.spec.ts
  packages/reactivity/src/arrayInstrumentations.ts
Due: packages, reactivity

types(runtime-core): using intersection type in `Readonly<>` breaks JSDoc emit
  packages/runtime-core/src/componentOptions.ts
Due: packages, runtime-core

Update apiDefineComponent.ts
  packages/runtime-core/src/apiDefineComponent.ts
Due: packages, runtime-core

chore: fix #10827
  packages/runtime-core/src/componentRenderUtils.ts
  packages/runtime-core/src/components/BaseTransition.ts
  packages/vue/__tests__/e2e/Transition.spec.ts
Due: packages, runtime-core, vue

fix(runtime-core): prevent readonly warning when using `useTemplateRef` with same variable name as template ref
  packages/runtime-core/__tests__/helpers/useTemplateRef.spec.ts
  packages/runtime-core/src/helpers/useTemplateRef.ts
  packages/runtime-core/src/rendererTemplateRef.ts
Due: packages, runtime-core

fix(runtime-core): cannot update TemplateRef
  packages/runtime-core/src/helpers/useTemplateRef.ts
  packages/runtime-core/src/rendererTemplateRef.ts
Due: packages, runtime-core

chore: update
  packages/runtime-core/src/helpers/useTemplateRef.ts
Due: packages, runtime-core

chore: update
  packages/runtime-core/src/component.ts
  packages/runtime-core/src/helpers/useTemplateRef.ts
  packages/runtime-core/src/rendererTemplateRef.ts
Due: packages, runtime-core

fix(reactivity): handle non-array arguments in reactive `concat` method (#11794)
  packages/reactivity/__tests__/reactiveArray.spec.ts
  packages/reactivity/src/arrayInstrumentations.ts
Due: packages, reactivity

fix(build): improve built-in components treeshakability
  packages/runtime-core/src/components/KeepAlive.ts
  packages/runtime-dom/src/components/Transition.ts
  packages/runtime-dom/src/components/TransitionGroup.ts
Due: packages, runtime-core, runtime-dom

fix(types): avoid using intersection type in `Readonly<...>` to fix JSDoc emit (#11799)
  packages/runtime-core/src/apiDefineComponent.ts
  packages/runtime-core/src/componentOptions.ts
Due: packages, runtime-core

fix(useTemplateRef): fix readonly warning when useTemplateRef has same variable name as template ref
  packages/runtime-core/__tests__/helpers/useTemplateRef.spec.ts
  packages/runtime-core/src/rendererTemplateRef.ts
Due: packages, runtime-core

fix(Transition): avoid applying transition hooks on comment vnode (#11788)
  packages/runtime-core/src/components/BaseTransition.ts
Due: packages, runtime-core

release: v3.5.1
  CHANGELOG.md
  package.json
  packages/compiler-core/package.json
  packages/compiler-dom/package.json
  packages/compiler-sfc/package.json
  packages/compiler-ssr/package.json
  packages/reactivity/package.json
  packages/runtime-core/package.json
  packages/runtime-dom/package.json
  packages/server-renderer/package.json
  packages/shared/package.json
  packages/vue-compat/package.json
  packages/vue/package.json
Due: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, runtime-core, runtime-dom, server-renderer, shared, vue, vue-compat

chore: update
  packages/compiler-sfc/src/compileScript.ts
  packages/runtime-core/src/component.ts
  packages/runtime-core/src/rendererTemplateRef.ts
Due: packages, compiler-sfc, runtime-core

types(jsx): HTMLDialogElement add close event
  packages/runtime-dom/src/jsx.ts
Due: packages, runtime-dom

chore: update
  packages/runtime-core/src/rendererTemplateRef.ts
Due: packages, runtime-core

fix(reactivity): pass previous value when trigger getter
  packages/reactivity/src/effect.ts
Due: packages, reactivity

chore: test case
  packages/reactivity/__tests__/computed.spec.ts
Due: packages, reactivity

feat(types): provide internal options for using `$el` type in language tools
  packages-private/dts-test/defineComponent.test-d.tsx
  packages/runtime-core/src/apiDefineComponent.ts
  packages/runtime-core/src/componentPublicInstance.ts
Due: packages, runtime-core

fix(reactivity): prevent endless recursion in computed getters
  packages/reactivity/__tests__/computed.spec.ts
  packages/reactivity/src/dep.ts
Due: packages, reactivity

test: improve test case
  packages/reactivity/__tests__/computed.spec.ts
Due: packages, reactivity

chore(scheduler): increase recursion limit number
  packages/runtime-core/src/scheduler.ts
Due: packages, runtime-core

chore: update
  packages/compiler-sfc/src/compileScript.ts
  packages/runtime-core/src/component.ts
Due: packages, compiler-sfc, runtime-core
