Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

codecov.yml:

coverage:
  status:
    project:
      default:
        # Status checks are set to be non-blocking
        informational: true
    patch:
      default:
        # Status checks are set to be non-blocking
        informational: true

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: packages
      paths:
        - packages/
    - component_id: compiler-core
      paths:
        - packages/compiler-core/
    - component_id: compiler-dom
      paths:
        - packages/compiler-dom/
    - component_id: compiler-sfc
      paths:
        - packages/compiler-sfc/
    - component_id: compiler-sfc
      paths:
        - packages/compiler-sfc/
    - component_id: reactivity
      paths:
        - packages/reactivity/
    - component_id: reactivity-transform
      paths:
        - packages/reactivity-transform/
    - component_id: runtime-core
      paths:
        - packages/runtime-core/
    - component_id: runtime-dom
      paths:
        - packages/runtime-dom/
    - component_id: runtime-test
      paths:
        - packages/runtime-test/
    - component_id: server-renderer
      paths:
        - packages/server-renderer/
    - component_id: sfc-playground
      paths:
        - packages/sfc-playground/
    - component_id: shared
      paths:
        - packages/shared/
    - component_id: size-check
      paths:
        - packages/size-check/
    - component_id: template-explorer
      paths:
        - packages/template-explorer/
    - component_id: vue
      paths:
        - packages/vue/
    - component_id: vue-compat
      paths:
        - packages/vue-compat/

feat(compiler-sfc): improve utility type Partial and Required
  packages/compiler-sfc/src/script/resolveType.ts
Due: packages, compiler-sfc

chore: improve code
  packages/compiler-sfc/src/script/resolveType.ts
Due: packages, compiler-sfc

test: move test to resolveTypes.spec.ts
  packages/compiler-sfc/__tests__/compileScript/__snapshots__/defineProps.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript/defineProps.spec.ts
  packages/compiler-sfc/__tests__/compileScript/resolveType.spec.ts
Due: packages, compiler-sfc

release: v3.3.0-alpha.13
  CHANGELOG.md
  package.json
  packages/compiler-core/package.json
  packages/compiler-dom/package.json
  packages/compiler-sfc/package.json
  packages/compiler-ssr/package.json
  packages/dts-test/package.json
  packages/reactivity-transform/package.json
  packages/reactivity/package.json
  packages/runtime-core/package.json
  packages/runtime-dom/package.json
  packages/runtime-test/package.json
  packages/server-renderer/package.json
  packages/sfc-playground/package.json
  packages/shared/package.json
  packages/size-check/package.json
  packages/template-explorer/package.json
  packages/vue-compat/package.json
  packages/vue/package.json
  pnpm-lock.yaml
Due: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

feat(compiler-sfc): improve utility type Partial and Required (#8103)
  packages/compiler-sfc/__tests__/compileScript/resolveType.spec.ts
  packages/compiler-sfc/src/script/resolveType.ts
Due: packages, compiler-sfc

chore: bump vite & vitest
  package.json
  packages/sfc-playground/package.json
  packages/sfc-playground/src/download/template/package.json
  pnpm-lock.yaml
Due: packages, sfc-playground

feat(suspense): introduce suspensible option for `<Suspense>` (#6736)
  packages/runtime-core/__tests__/components/Suspense.spec.ts
  packages/runtime-core/src/components/Suspense.ts
Due: packages, runtime-core

feat: allow accessing console in template (#6508)
  packages/shared/src/globalsWhitelist.ts
Due: packages, shared

feat(deprecation): deprecate @vnode hooks in favor of vue: prefix
  packages/compiler-core/src/errors.ts
  packages/compiler-core/src/transforms/vOn.ts
  packages/compiler-dom/src/errors.ts
Due: packages, compiler-core, compiler-dom

feat(deprecation): deprecate v-is directive
  packages/compiler-core/src/errors.ts
  packages/compiler-core/src/parse.ts
  packages/compiler-core/src/transforms/transformElement.ts
  packages/compiler-dom/src/errors.ts
  packages/compiler-ssr/src/errors.ts
Due: packages, compiler-core, compiler-dom

feat(deprecation): unwrap injected refs in Options API by default, deprecate app.config.unwrapInjectedRefs
  packages/runtime-core/__tests__/apiOptions.spec.ts
  packages/runtime-core/src/apiCreateApp.ts
  packages/runtime-core/src/componentOptions.ts
Due: packages, runtime-core

chore: remove deprecated ref sugar warning
  packages/compiler-sfc/src/compileScript.ts
  packages/vue/ref-macros.d.ts
Due: packages, compiler-sfc, vue

chore: bump repl
  packages/sfc-playground/package.json
  pnpm-lock.yaml
Due: packages, sfc-playground

test: update tests for deprecations
  packages/compiler-core/__tests__/transforms/transformElement.spec.ts
  packages/compiler-core/__tests__/transforms/vOn.spec.ts
Due: packages, compiler-core

release: v3.3.0-beta.1
  CHANGELOG.md
  package.json
  packages/compiler-core/package.json
  packages/compiler-dom/package.json
  packages/compiler-sfc/package.json
  packages/compiler-ssr/package.json
  packages/dts-test/package.json
  packages/reactivity-transform/package.json
  packages/reactivity/package.json
  packages/runtime-core/package.json
  packages/runtime-dom/package.json
  packages/runtime-test/package.json
  packages/server-renderer/package.json
  packages/sfc-playground/package.json
  packages/shared/package.json
  packages/size-check/package.json
  packages/template-explorer/package.json
  packages/vue-compat/package.json
  packages/vue/package.json
  pnpm-lock.yaml
Due: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

fix(custom-element): custom elements can be injected correctly
  packages/runtime-dom/src/apiCustomElement.ts
Due: packages, runtime-dom

fix(compiler-sfc): avoid all hard errors when inferring runtime type
  packages/compiler-sfc/__tests__/compileScript/resolveType.spec.ts
  packages/compiler-sfc/src/script/resolveType.ts
Due: packages, compiler-sfc

added unit test
  packages/runtime-dom/__tests__/customElement.spec.ts
Due: packages, runtime-dom

feat(compiler-sfc): improve resolve InstanceType
  packages/compiler-sfc/__tests__/compileScript/__snapshots__/defineEmits.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript/defineEmits.spec.ts
  packages/compiler-sfc/__tests__/compileScript/resolveType.spec.ts
  packages/compiler-sfc/src/script/defineEmits.ts
  packages/compiler-sfc/src/script/resolveType.ts
Due: packages, compiler-sfc

chore: Revert formatting change
  packages/runtime-core/__tests__/components/Suspense.spec.ts
Due: packages, runtime-core

chore: improve code
  packages/compiler-sfc/__tests__/compileScript/__snapshots__/defineEmits.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript/defineEmits.spec.ts
  packages/compiler-sfc/__tests__/compileScript/resolveType.spec.ts
  packages/compiler-sfc/src/script/defineEmits.ts
  packages/compiler-sfc/src/script/resolveType.ts
Due: packages, compiler-sfc

test: clean
  packages/compiler-sfc/__tests__/compileScript/__snapshots__/defineEmits.spec.ts.snap
  packages/compiler-sfc/src/script/resolveType.ts
Due: packages, compiler-sfc

fix(compiler-sfc): normalize windows paths when resolving types
  packages/compiler-sfc/src/script/resolveType.ts
Due: packages, compiler-sfc

fix(compiler-sfc): normalize windows paths when resolving types (#8136)
  packages/compiler-sfc/src/script/resolveType.ts
Due: packages, compiler-sfc

refactor(compiler-sfc): ensure registered deps are normalized
  packages/compiler-sfc/src/script/resolveType.ts
Due: packages, compiler-sfc

ci: add windows ci for compiler and ssr tests
  .github/workflows/ci.yml
Due: none

ci: fix window env setting
  .github/workflows/ci.yml
Due: none

fix(compiler-sfc): ensure consistent path join on windows
  packages/compiler-sfc/src/script/resolveType.ts
  packages/compiler-sfc/src/script/utils.ts
Due: packages, compiler-sfc

ci: setup windows ci for compiler and SSR tests (#8143)
  .github/workflows/ci.yml
  packages/compiler-sfc/src/script/resolveType.ts
  packages/compiler-sfc/src/script/utils.ts
Due: packages, compiler-sfc

fix(transition): fix broken transition with out-in mode on dev root fragment (#7334)
  packages/runtime-core/src/components/BaseTransition.ts
  packages/runtime-core/src/renderer.ts
  packages/vue/__tests__/e2e/Transition.spec.ts
Due: packages, runtime-core, vue

fix(ssr): fix hydration mismatch warning about mutiple continuous text vnodes (#7285)
  packages/runtime-core/__tests__/hydration.spec.ts
  packages/runtime-core/src/hydration.ts
Due: packages, runtime-core

fix: avoid other bugs
  packages/runtime-core/__tests__/components/KeepAlive.spec.ts
  packages/runtime-core/src/components/KeepAlive.ts
  packages/runtime-core/src/renderer.ts
Due: packages, runtime-core

fix(keep-alive): invoke initial activated hook for async components's child component (#7276)
  packages/runtime-core/__tests__/components/KeepAlive.spec.ts
  packages/runtime-core/src/components/KeepAlive.ts
Due: packages, runtime-core

fix(hmr): fix render error in change static nodes (#6978)
  packages/runtime-core/__tests__/hmr.spec.ts
  packages/runtime-core/src/vnode.ts
Due: packages, runtime-core

chore: ensure the test passes
  packages/runtime-core/src/vnode.ts
Due: packages, runtime-core

chore: add comment
  packages/runtime-core/__tests__/hmr.spec.ts
Due: packages, runtime-core

fix(compat): skip functional components when getting parent instance
  packages/runtime-core/src/compat/componentFunctional.ts
  packages/vue-compat/__tests__/componentFunctional.spec.ts
Due: packages, runtime-core, vue-compat
