Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

codecov.yml:

coverage:
  status:
    project:
      default:
        # Status checks are set to be non-blocking
        informational: true
    patch:
      default:
        # Status checks are set to be non-blocking
        informational: true

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: packages
      paths:
        - packages/
    - component_id: compiler-core
      paths:
        - packages/compiler-core/
    - component_id: compiler-dom
      paths:
        - packages/compiler-dom/
    - component_id: compiler-sfc
      paths:
        - packages/compiler-sfc/
    - component_id: compiler-sfc
      paths:
        - packages/compiler-sfc/
    - component_id: reactivity
      paths:
        - packages/reactivity/
    - component_id: reactivity-transform
      paths:
        - packages/reactivity-transform/
    - component_id: runtime-core
      paths:
        - packages/runtime-core/
    - component_id: runtime-dom
      paths:
        - packages/runtime-dom/
    - component_id: runtime-test
      paths:
        - packages/runtime-test/
    - component_id: server-renderer
      paths:
        - packages/server-renderer/
    - component_id: sfc-playground
      paths:
        - packages/sfc-playground/
    - component_id: shared
      paths:
        - packages/shared/
    - component_id: size-check
      paths:
        - packages/size-check/
    - component_id: template-explorer
      paths:
        - packages/template-explorer/
    - component_id: vue
      paths:
        - packages/vue/
    - component_id: vue-compat
      paths:
        - packages/vue-compat/

chore: add docs links for sfc macros
  packages/runtime-core/src/apiSetupHelpers.ts
Due: packages, runtime-core

workflow: check ci status during release
  scripts/release.mjs
Due: none

feat(compiler-sfc): support arbitrary expression as withDefaults argument
  packages/compiler-sfc/__tests__/__snapshots__/compileScript.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript.spec.ts
  packages/compiler-sfc/src/compileScript.ts
Due: packages, compiler-sfc

ci: only disable threads for gh
  vitest.config.ts
Due: none

chore: bump deps
  package.json
  packages/compiler-core/package.json
  packages/compiler-sfc/package.json
  packages/compiler-sfc/src/compileScript.ts
  packages/compiler-sfc/src/rewriteDefault.ts
  packages/reactivity-transform/package.json
  packages/reactivity-transform/src/reactivityTransform.ts
  packages/reactivity/src/collectionHandlers.ts
  packages/runtime-core/__tests__/apiOptions.spec.ts
  packages/server-renderer/__tests__/webStream.spec.ts
  packages/vue/__tests__/e2e/e2eUtils.ts
  pnpm-lock.yaml
  rollup.config.mjs
  rollup.original.config.mjs
  tsconfig.json
Due: packages, compiler-core, compiler-sfc, reactivity, reactivity-transform, runtime-core, server-renderer, vue

build: fix size check
  package.json
  packages/size-check/package.json
  packages/size-check/src/index.ts
  pnpm-lock.yaml
Due: packages, size-check

fix(types): ensure defineProps with generics return correct types
  packages/dts-test/setupHelpers.test-d.ts
  packages/runtime-core/src/apiSetupHelpers.ts
Due: packages, runtime-core

test: add test for defineComponent function syntax with object emits
  packages/dts-test/defineComponent.test-d.tsx
Due: packages

fix(compiler-sfc): fix function default value handling w/ props destructure
  packages/compiler-sfc/__tests__/__snapshots__/compileScriptPropsTransform.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScriptPropsTransform.spec.ts
  packages/compiler-sfc/src/compileScript.ts
  packages/runtime-core/__tests__/apiSetupHelpers.spec.ts
  packages/runtime-core/src/apiSetupHelpers.ts
  packages/runtime-core/src/componentProps.ts
Due: packages, compiler-sfc, runtime-core

build: remove api-extractor
  api-extractor.json
  package.json
  packages/compiler-core/api-extractor.json
  packages/compiler-dom/api-extractor.json
  packages/compiler-sfc/api-extractor.json
  packages/compiler-ssr/api-extractor.json
  packages/reactivity-transform/api-extractor.json
  packages/reactivity/api-extractor.json
  packages/reactivity/src/ref.ts
  packages/runtime-core/api-extractor.json
  packages/runtime-core/src/index.ts
  packages/runtime-core/types/refBail.d.ts
  packages/runtime-dom/api-extractor.json
  packages/runtime-dom/src/index.ts
  packages/runtime-dom/types/refBail.d.ts
  packages/runtime-test/api-extractor.json
  packages/server-renderer/api-extractor.json
  packages/shared/api-extractor.json
  packages/vue-compat/api-extractor.json
  packages/vue/api-extractor.json
  pnpm-lock.yaml
  scripts/bootstrap.mjs
  scripts/build.mjs
  scripts/release.mjs
Due: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, shared, vue, vue-compat

fix(build): enforce __esModule interop for cjs builds
  rollup.config.mjs
Due: none

fix(compiler-sfc): infer TSIntersectionType in defineProps (#7394)
  packages/compiler-sfc/__tests__/__snapshots__/compileScript.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript.spec.ts
  packages/compiler-sfc/src/compileScript.ts
Due: packages, compiler-sfc

chore: add redirect for template explorer
  packages/template-explorer/_redirects
Due: packages, template-explorer

chore: remove rpts2
  package.json
  pnpm-lock.yaml
Due: none

feat(compiler-sfc): support generating variable instead of default export in compileScript
  packages/compiler-sfc/__tests__/__snapshots__/compileScript.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript.spec.ts
  packages/compiler-sfc/src/compileScript.ts
  packages/compiler-sfc/src/cssVars.ts
  packages/compiler-sfc/src/index.ts
  packages/compiler-sfc/src/parse.ts
Due: packages, compiler-sfc

fix(compiler-sfc): infer correct type for enums
  packages/compiler-sfc/__tests__/__snapshots__/compileScript.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript.spec.ts
  packages/compiler-sfc/src/compileScript.ts
Due: packages, compiler-sfc

feat(compiler-sfc): improve runtime props inference for enum
  packages/compiler-sfc/__tests__/compileScript.spec.ts
  packages/compiler-sfc/src/compileScript.ts
Due: packages, compiler-sfc

chore: allow editing changelog before committing release
  scripts/release.js
Due: none

fix(types/jsx): move JSX DOM types back to `@vue/runtime-dom` (#7979)
  packages/runtime-dom/src/index.ts
  packages/runtime-dom/src/jsx.ts
  packages/vue/jsx-runtime/index.d.ts
  packages/vue/jsx.d.ts
  packages/vue/types/jsx-register.d.ts
  rollup.dts.config.js
Due: packages, runtime-dom, vue

chore: avoid double-building types on release
  scripts/release.js
Due: none

ci: release canary versions every week (#7860)
  .github/workflows/canary.yml
  scripts/release.js
Due: none

release: v3.3.0-alpha.2
  CHANGELOG.md
  package.json
  packages/compiler-core/package.json
  packages/compiler-dom/package.json
  packages/compiler-sfc/package.json
  packages/compiler-ssr/package.json
  packages/dts-test/package.json
  packages/reactivity-transform/package.json
  packages/reactivity/package.json
  packages/runtime-core/package.json
  packages/runtime-dom/package.json
  packages/runtime-test/package.json
  packages/server-renderer/package.json
  packages/sfc-playground/package.json
  packages/shared/package.json
  packages/size-check/package.json
  packages/template-explorer/package.json
  packages/vue-compat/package.json
  packages/vue/package.json
  pnpm-lock.yaml
Due: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

chore: remove hanging slash from import
  packages/compiler-core/src/transforms/transformSlotOutlet.ts
Due: packages, compiler-core

chore(deps): upgrade rollup & magic-string (#7326)
  package.json
  packages/compiler-sfc/package.json
  packages/reactivity-transform/package.json
  packages/sfc-playground/package.json
  pnpm-lock.yaml
Due: packages, compiler-sfc, reactivity-transform, sfc-playground

build: only enable esModule compat for cjs builds
  rollup.config.mjs
Due: none

feat(runtime-core): add skipCheck for prop (#7548)
  packages/compiler-sfc/__tests__/__snapshots__/compileScript.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript.spec.ts
  packages/compiler-sfc/src/compileScript.ts
  packages/runtime-core/__tests__/componentProps.spec.ts
  packages/runtime-core/src/componentProps.ts
Due: packages, compiler-sfc, runtime-core

build: adjust dts test setup
  .eslintrc.js
  package.json
  packages/dts-test/README.md
  packages/dts-test/appUse.test-d.ts
  packages/dts-test/compiler.test-d.ts
  packages/dts-test/component.test-d.ts
  packages/dts-test/componentTypeExtensions.test-d.tsx
  packages/dts-test/defineComponent.test-d.tsx
  packages/dts-test/defineCustomElement.test-d.ts
  packages/dts-test/functionalComponent.test-d.tsx
  packages/dts-test/h.test-d.ts
  packages/dts-test/index.d.ts
  packages/dts-test/inject.test-d.ts
  packages/dts-test/package.json
  packages/dts-test/reactivity.test-d.ts
  packages/dts-test/reactivityMacros.test-d.ts
  packages/dts-test/ref.test-d.ts
  packages/dts-test/setupHelpers.test-d.ts
  packages/dts-test/tsconfig.test.json
  packages/dts-test/tsx.test-d.tsx
  packages/dts-test/watch.test-d.ts
  packages/runtime-core/src/apiSetupHelpers.ts
  pnpm-lock.yaml
  scripts/aliases.mjs
  test-dts/README.md
  test-dts/tsconfig.json
  tsconfig.build.json
  tsconfig.json
Due: packages, runtime-core

fix(types): accept sync `serverPrefetch()` (#7000)
  packages/runtime-core/src/componentOptions.ts
Due: packages, runtime-core

chore: fix type
  packages/vue/jsx.d.ts
Due: packages, vue

docs: update contributing guide
  .github/contributing.md
  packages/dts-test/README.md
Due: packages

fix(build): fix const enum w/ number values
  scripts/const-enum.js
Due: none

chore: remove unused deps
  package.json
  pnpm-lock.yaml
Due: none

fix(compiler-sfc): check binding is prop before erroring
  packages/compiler-sfc/__tests__/compileScriptPropsDestructure.spec.ts
  packages/compiler-sfc/src/compileScriptPropsDestructure.ts
Due: packages, compiler-sfc

chore: bump vitest + use threads
  package.json
  pnpm-lock.yaml
  vitest.config.ts
Due: none

chore: update packageManager field
  package.json
Due: none

build: custom const enum processing
  .eslintrc.js
  package.json
  packages/compiler-ssr/src/errors.ts
  packages/reactivity/src/effect.ts
  packages/reactivity/src/index.ts
  packages/runtime-core/src/apiCreateApp.ts
  packages/runtime-core/src/apiWatch.ts
  packages/runtime-core/src/componentProps.ts
  pnpm-lock.yaml
  rollup.config.mjs
  scripts/const-enum.mjs
Due: packages, reactivity, runtime-core

release: v3.3.0-alpha.5
  CHANGELOG.md
  package.json
  packages/compiler-core/package.json
  packages/compiler-dom/package.json
  packages/compiler-sfc/package.json
  packages/compiler-ssr/package.json
  packages/dts-test/package.json
  packages/reactivity-transform/package.json
  packages/reactivity/package.json
  packages/runtime-core/package.json
  packages/runtime-dom/package.json
  packages/runtime-test/package.json
  packages/server-renderer/package.json
  packages/sfc-playground/package.json
  packages/shared/package.json
  packages/size-check/package.json
  packages/template-explorer/package.json
  packages/vue-compat/package.json
  packages/vue/package.json
  pnpm-lock.yaml
Due: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

fix(compiler-core): check if expression is constant (#7974)
  packages/compiler-core/__tests__/transforms/transformExpressions.spec.ts
  packages/compiler-core/src/transforms/transformExpression.ts
Due: packages, compiler-core

fix(compiler-dom): handle newlines when evaluating constants during stringification (#7995)
  packages/compiler-dom/__tests__/transforms/__snapshots__/stringifyStatic.spec.ts.snap
  packages/compiler-dom/__tests__/transforms/stringifyStatic.spec.ts
  packages/compiler-dom/src/transforms/stringifyStatic.ts
Due: packages, compiler-dom

feat(complier-sfc): hoist literal constants for script (#5752)
  packages/compiler-core/src/options.ts
  packages/compiler-core/src/transforms/transformElement.ts
  packages/compiler-core/src/transforms/transformExpression.ts
  packages/compiler-sfc/__tests__/__snapshots__/compileScript.spec.ts.snap
  packages/compiler-sfc/__tests__/__snapshots__/compileScriptHoistStatic.spec.ts.snap
  packages/compiler-sfc/__tests__/__snapshots__/cssVars.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript.spec.ts
  packages/compiler-sfc/__tests__/compileScriptHoistStatic.spec.ts
  packages/compiler-sfc/__tests__/compileScriptPropsTransform.spec.ts
  packages/compiler-sfc/src/compileScript.ts
Due: packages, compiler-core, compiler-sfc
