Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

chore: improve
  packages/compiler-sfc/src/script/resolveType.ts
Due: packages, compiler-sfc

fix: do not render class when it is undefined or null
  packages/compiler-dom/src/transforms/stringifyStatic.ts
  packages/shared/__tests__/normalizeProp.spec.ts
  packages/shared/src/normalizeProp.ts
Due: packages, compiler-dom, shared

test: improve test coverage
  packages/reactivity/__tests__/ref.spec.ts
  packages/runtime-core/__tests__/apiWatch.spec.ts
  packages/runtime-core/__tests__/vnode.spec.ts
  packages/runtime-dom/__tests__/directives/vModel.spec.ts
Due: packages, reactivity, runtime-core, runtime-dom

fix(renderer): fix patch error in unstable slot
  packages/runtime-core/src/renderer.ts
Due: packages, runtime-core

chore: improve code
  packages/runtime-core/src/componentRenderUtils.ts
Due: packages, runtime-core

feat: add `pause/resume` function to `ReactiveEffect`
  packages/reactivity/__tests__/effect.spec.ts
  packages/reactivity/src/effect.ts
  packages/runtime-core/src/components/KeepAlive.ts
Due: packages, reactivity, runtime-core

test(render): add unit test for rendererFragment
  packages/runtime-core/__tests__/rendererFragment.spec.ts
  packages/runtime-core/src/renderer.ts
Due: packages, runtime-core

chore: add more case
  packages/runtime-core/__tests__/rendererAttrsFallthrough.spec.ts
  packages/runtime-core/src/componentRenderUtils.ts
Due: packages, runtime-core

chore: add more case
  packages/runtime-core/__tests__/rendererAttrsFallthrough.spec.ts
Due: packages, runtime-core

fix(compiler-core): handle the whitespace between template slots on finding adjacent v-if
  packages/compiler-core/src/transforms/vSlot.ts
Due: packages, compiler-core

test: the template slots using v-if/v-else-if/v-else with preserved whitespace
  packages/compiler-core/__tests__/transforms/__snapshots__/vSlot.spec.ts.snap
  packages/compiler-core/__tests__/transforms/vSlot.spec.ts
Due: packages, compiler-core

chore: fix select update reset
  packages/runtime-dom/src/directives/vModel.ts
Due: packages, runtime-dom

build: add comment so that rollup can tree-shake it
  packages/server-renderer/src/helpers/ssrRenderAttrs.ts
Due: packages, server-renderer

fix(runtime-core): cleanup hoisted vnode when unmount component
  packages/runtime-core/src/component.ts
  packages/runtime-core/src/renderer.ts
Due: packages, runtime-core

feat: support jsx children ref
  packages/runtime-core/src/h.ts
  packages/runtime-core/src/vnode.ts
  packages/runtime-dom/__tests__/rendererRefImpl.spec.ts
Due: packages, runtime-core, runtime-dom

chore: replace r\n\f\t and blank
  packages/runtime-core/src/hydration.ts
Due: packages, runtime-core

chore: updated unit test
  packages/runtime-core/__tests__/hydration.spec.ts
Due: packages, runtime-core

chore: rename file
  packages/runtime-core/__tests__/hydration.spec.ts
  packages/runtime-core/src/hydration.ts
  packages/shared/src/index.ts
  packages/shared/src/unescapeHtml.ts
Due: packages, runtime-core, shared

fix(compiler-core): normalize newlines in interpolation
  packages/compiler-core/src/parse.ts
Due: packages, compiler-core

fix(runtime-core): expose events to props
  packages/dts-test/functionalComponent.test-d.tsx
  packages/runtime-core/src/component.ts
Due: packages, runtime-core

refactor(reactivity): remove const enum
  packages/reactivity/__tests__/computed.spec.ts
  packages/reactivity/__tests__/effect.spec.ts
  packages/reactivity/src/baseHandlers.ts
  packages/reactivity/src/collectionHandlers.ts
  packages/reactivity/src/computed.ts
  packages/reactivity/src/deferredComputed.ts
  packages/reactivity/src/effect.ts
  packages/reactivity/src/operations.ts
  packages/reactivity/src/reactive.ts
  packages/reactivity/src/ref.ts
  packages/runtime-core/__tests__/apiLifecycle.spec.ts
  packages/runtime-core/__tests__/apiWatch.spec.ts
  packages/runtime-core/src/apiWatch.ts
  packages/runtime-core/src/compat/global.ts
  packages/runtime-core/src/component.ts
  packages/runtime-core/src/componentProps.ts
  packages/runtime-core/src/componentPublicInstance.ts
  packages/runtime-core/src/componentSlots.ts
  packages/runtime-core/src/vnode.ts
Due: packages, reactivity, runtime-core

add test for pauseScheduling
  packages/reactivity/__tests__/effect.spec.ts
Due: packages, reactivity

expose pauseScheduling, resetScheduling
  packages/reactivity/src/index.ts
Due: packages, reactivity

fix(runtime-core): add `patchFlag` to element containing ref attributes
  packages/compiler-core/__tests__/transforms/transformElement.spec.ts
  packages/compiler-core/src/transforms/transformElement.ts
Due: packages, compiler-core

test: replace jest.fn with vi.fn
  packages/runtime-core/__tests__/components/Teleport.spec.ts
Due: packages, runtime-core

chore: fix test message
  packages/reactivity/__tests__/effect.spec.ts
Due: packages, reactivity

fix: disable useDefineForClassFields in esbuild
  rollup.config.js
Due: none

fix(build): disable useDefineForClassFields in esbuild (#9252)
  rollup.config.js
Due: none

chore: rollback
  packages/reactivity/src/effect.ts
Due: packages, reactivity

feat: extend `ReactiveEffect` using derived class `RenderEffect`
  packages/reactivity/__tests__/effect.spec.ts
  packages/reactivity/src/effect.ts
  packages/runtime-core/__tests__/components/KeepAlive.spec.ts
  packages/runtime-core/src/component.ts
  packages/runtime-core/src/renderEffect.ts
  packages/runtime-core/src/renderer.ts
Due: packages, reactivity, runtime-core

fix: `hasRef` in `vFor` missing
  packages/compiler-core/src/transforms/transformElement.ts
Due: packages, compiler-core

chore: remove tsconfig patch
  rollup.config.js
Due: none

fix: types
  packages/compiler-sfc/src/rewriteDefault.ts
  packages/compiler-sfc/src/script/defineEmits.ts
  packages/compiler-sfc/src/script/resolveType.ts
Due: packages, compiler-sfc

fix(runtime-dom): fix conflicts
  pnpm-lock.yaml
Due: none

fix(runtime-dom): fix pnpm-lock
  pnpm-lock.yaml
Due: none

build: add kebab-case aliases for release script options
  scripts/release.js
Due: none

ci: add a canary release workflow for next minor
  .github/workflows/canary-next-minor.yml
  scripts/release.js
Due: none

ci: use `.node-version` to maintain node version
  .github/workflows/canary.yml
  .github/workflows/ci.yml
  .github/workflows/size-data.yml
  .github/workflows/size-report.yml
  .node-version
Due: none

feat(runtime-core): add `once` option to watch (#9034)
  packages/runtime-core/__tests__/apiWatch.spec.ts
  packages/runtime-core/src/apiWatch.ts
Due: packages, runtime-core

Path conditions:
  packages: any of: packages/
  compiler-core: any of: packages/compiler-core/
  compiler-dom: any of: packages/compiler-dom/
  compiler-sfc: any of: packages/compiler-sfc/
  reactivity: any of: packages/reactivity/
  reactivity-transform: any of: packages/reactivity-transform/
  runtime-core: any of: packages/runtime-core/
  runtime-dom: any of: packages/runtime-dom/
  runtime-test: any of: packages/runtime-test/
  server-renderer: any of: packages/server-renderer/
  sfc-playground: any of: packages/sfc-playground/
  shared: any of: packages/shared/
  size-check: any of: packages/size-check/
  template-explorer: any of: packages/template-explorer/
  vue: any of: packages/vue/
  vue-compat: any of: packages/vue-compat/
