Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

chore: minor tweaks
  packages/runtime-core/src/helpers/useTemplateRef.ts
Due: packages, runtime-core

test: add tests
  packages/runtime-core/__tests__/helpers/useTemplateRef.spec.ts
Due: packages, runtime-core

chore(test): remove deprecated environmentMatchGlobs
  package.json
  vitest.config.ts
  vitest.unit-dom.config.ts
  vitest.unit-node.config.ts
  vitest.workspace.ts
Due: none

test: update
  vitest.e2e.config.ts
Due: none

improvement createHook type
  packages/runtime-core/src/apiLifecycle.ts
Due: packages, runtime-core

wip: v-skip
  packages/compiler-core/src/ast.ts
  packages/compiler-core/src/compile.ts
  packages/compiler-core/src/errors.ts
  packages/compiler-core/src/transforms/vIf.ts
  packages/compiler-core/src/transforms/vSkip.ts
  packages/shared/src/general.ts
Due: packages, compiler-core, shared

test(runtime-core): fixed expose typing test
  packages-private/dts-test/defineComponent.test-d.tsx
Due: none

wip: v-skip
  packages/compiler-core/src/errors.ts
  packages/compiler-core/src/transforms/vSkip.ts
Due: packages, compiler-core

chore: update error code
  packages/compiler-dom/src/errors.ts
  packages/compiler-ssr/src/errors.ts
Due: packages, compiler-dom

wip: ssr v-skip
  packages/compiler-ssr/src/transforms/ssrTransformComponent.ts
  packages/compiler-ssr/src/transforms/ssrTransformElement.ts
  packages/compiler-ssr/src/transforms/ssrVIf.ts
  packages/compiler-ssr/src/transforms/ssrVSkip.ts
Due: packages

.
  packages/runtime-dom/src/directives/vShow.ts
Due: packages, runtime-dom

fix(custom-element): prevent injecting child styles if shadowRoot is false
  packages/runtime-dom/src/apiCustomElement.ts
Due: packages, runtime-dom

test: add test case
  packages/runtime-dom/__tests__/customElement.spec.ts
Due: packages, runtime-dom

wip: v-skip work with v-if/v-else/v-else-if
  packages/compiler-core/src/ast.ts
  packages/compiler-core/src/utils.ts
Due: packages, compiler-core

fix(runtime-dom): add undefined to optional properties
  packages/runtime-dom/src/jsx.ts
Due: packages, runtime-dom

wip: warn work with v-for
  packages/compiler-core/src/ast.ts
  packages/compiler-core/src/errors.ts
  packages/compiler-core/src/transforms/vSkip.ts
Due: packages, compiler-core

wip: reuse check logic
  packages/compiler-core/src/index.ts
  packages/compiler-core/src/transforms/vSkip.ts
  packages/compiler-ssr/src/index.ts
  packages/compiler-ssr/src/transforms/ssrVSkip.ts
Due: packages, compiler-core

refactor: add new node type for v-skip node
  packages/compiler-core/src/ast.ts
  packages/compiler-core/src/codegen.ts
  packages/compiler-core/src/transform.ts
  packages/compiler-core/src/transforms/cacheStatic.ts
  packages/compiler-core/src/transforms/vSkip.ts
  packages/compiler-core/src/utils.ts
  packages/compiler-ssr/src/ssrCodegenTransform.ts
  packages/compiler-ssr/src/transforms/ssrTransformComponent.ts
  packages/compiler-ssr/src/transforms/ssrTransformElement.ts
  packages/compiler-ssr/src/transforms/ssrVSkip.ts
Due: packages, compiler-core

chore: cache buildSlots result
  packages/compiler-core/src/ast.ts
  packages/compiler-core/src/transforms/transformElement.ts
  packages/compiler-core/src/transforms/vSkip.ts
  packages/compiler-core/src/transforms/vSlot.ts
Due: packages, compiler-core

wip: add test case
  packages/compiler-core/__tests__/transforms/vSkip.spec.ts
Due: packages, compiler-core

test: add tests
  packages/compiler-core/__tests__/transforms/vSkip.spec.ts
Due: packages, compiler-core

wip: save
  packages/compiler-core/src/transforms/vSlot.ts
Due: packages, compiler-core

Revert "chore: cache buildSlots result"
  packages/compiler-core/src/ast.ts
  packages/compiler-core/src/transforms/transformElement.ts
  packages/compiler-core/src/transforms/vSkip.ts
  packages/compiler-core/src/transforms/vSlot.ts
Due: packages, compiler-core

Revert "Revert "chore: cache buildSlots result""
  packages/compiler-core/src/ast.ts
  packages/compiler-core/src/transforms/transformElement.ts
  packages/compiler-core/src/transforms/vSkip.ts
  packages/compiler-core/src/transforms/vSlot.ts
Due: packages, compiler-core

fix: ssr buildSlots not use cache
  packages/compiler-core/src/transforms/vSlot.ts
  packages/compiler-ssr/src/transforms/ssrTransformComponent.ts
Due: packages, compiler-core

test: update
  packages/compiler-core/__tests__/transforms/__snapshots__/vSkip.spec.ts.snap
  packages/compiler-core/__tests__/transforms/vSkip.spec.ts
  packages/compiler-core/src/ast.ts
  packages/compiler-core/src/transform.ts
  packages/compiler-core/src/transforms/vSkip.ts
  packages/compiler-core/src/transforms/vSlot.ts
  packages/compiler-core/src/utils.ts
  packages/compiler-ssr/src/transforms/ssrVSkip.ts
Due: packages, compiler-core

wip: test
  packages/compiler-core/__tests__/transforms/__snapshots__/vSkip.spec.ts.snap
  packages/compiler-core/__tests__/transforms/vSkip.spec.ts
  packages/compiler-core/src/transforms/vSkip.ts
Due: packages, compiler-core

wip: ssr test cases
  packages/compiler-ssr/__tests__/ssrVSkip.spec.ts
Due: packages

wip: test
  packages/compiler-core/src/transforms/transformElement.ts
  packages/compiler-core/src/transforms/vSkip.ts
  packages/compiler-core/src/transforms/vSlot.ts
  packages/compiler-ssr/__tests__/ssrVSkip.spec.ts
  packages/compiler-ssr/src/transforms/ssrTransformComponent.ts
Due: packages, compiler-core

wip: inject attrs for skip node
  packages/compiler-ssr/__tests__/ssrVSkip.spec.ts
  packages/compiler-ssr/src/transforms/ssrInjectFallthroughAttrs.ts
Due: packages

wip: properly inject fallthrough attrs to alternate node
  packages/compiler-ssr/__tests__/ssrVSkip.spec.ts
  packages/compiler-ssr/src/transforms/ssrInjectFallthroughAttrs.ts
Due: packages

test: add more tests
  packages/compiler-core/__tests__/transforms/vSkip.spec.ts
  packages/compiler-core/src/errors.ts
Due: packages, compiler-core

chore: minor tweaks
  packages/compiler-core/src/transforms/vSlot.ts
Due: packages, compiler-core

refactor: tweak v-skip on component
  packages/compiler-core/__tests__/transforms/__snapshots__/vSkip.spec.ts.snap
  packages/compiler-core/src/runtimeHelpers.ts
  packages/compiler-core/src/transforms/vSkip.ts
  packages/compiler-ssr/__tests__/ssrVSkip.spec.ts
  packages/compiler-ssr/src/runtimeHelpers.ts
  packages/compiler-ssr/src/transforms/ssrVSkip.ts
  packages/runtime-core/src/helpers/resolveAssets.ts
  packages/runtime-core/src/index.ts
  packages/server-renderer/src/helpers/ssrRenderSkipComponent.ts
  packages/server-renderer/src/internal.ts
Due: packages, compiler-core, runtime-core, server-renderer

wip: save
  packages/compiler-core/__tests__/transforms/__snapshots__/vSkip.spec.ts.snap
  packages/compiler-core/__tests__/transforms/vSkip.spec.ts
  packages/compiler-core/src/transforms/vSkip.ts
  packages/compiler-ssr/__tests__/ssrVSkip.spec.ts
  packages/compiler-ssr/src/transforms/ssrVSkip.ts
  packages/runtime-core/src/helpers/resolveAssets.ts
Due: packages, compiler-core, runtime-core

test(e2e): Replace deprecated 'clickCount' property with 'count'
  packages/vue/__tests__/e2e/todomvc.spec.ts
  packages/vue/__tests__/e2e/tree.spec.ts
Due: packages, vue

wip: analyze slots to find default slot when possible
  packages/compiler-core/__tests__/transforms/__snapshots__/vSkip.spec.ts.snap
  packages/compiler-core/__tests__/transforms/vSkip.spec.ts
  packages/compiler-core/src/errors.ts
  packages/compiler-core/src/transforms/vSkip.ts
  packages/compiler-ssr/__tests__/ssrVSkip.spec.ts
Due: packages, compiler-core

wip: add ssrRenderSkipVNode
  packages/compiler-ssr/__tests__/ssrVSkip.spec.ts
  packages/compiler-ssr/src/runtimeHelpers.ts
  packages/compiler-ssr/src/transforms/ssrVSkip.ts
  packages/server-renderer/src/helpers/ssrRenderSkipComponent.ts
  packages/server-renderer/src/internal.ts
Due: packages, server-renderer

wip: add more ssr test
  packages/compiler-core/__tests__/transforms/__snapshots__/vSkip.spec.ts.snap
  packages/compiler-core/__tests__/transforms/vSkip.spec.ts
  packages/compiler-ssr/__tests__/ssrVSkip.spec.ts
Due: packages, compiler-core

Path conditions:
  packages: any of: packages/
  compiler-core: any of: packages/compiler-core/
  compiler-dom: any of: packages/compiler-dom/
  compiler-sfc: any of: packages/compiler-sfc/
  reactivity: any of: packages/reactivity/
  reactivity-transform: any of: packages/reactivity-transform/
  runtime-core: any of: packages/runtime-core/
  runtime-dom: any of: packages/runtime-dom/
  runtime-test: any of: packages/runtime-test/
  server-renderer: any of: packages/server-renderer/
  sfc-playground: any of: packages/sfc-playground/
  shared: any of: packages/shared/
  size-check: any of: packages/size-check/
  template-explorer: any of: packages/template-explorer/
  vue: any of: packages/vue/
  vue-compat: any of: packages/vue-compat/
