Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

test: add more tests
  packages/runtime-vapor/__tests__/customElement.spec.ts
  packages/runtime-vapor/src/componentProps.ts
  packages/runtime-vapor/src/dom/prop.ts
Due: packages

chore: bump node version to lts
  .node-version
  netlify.toml
Due: none

wip: enhance slot rendering for custom elements
  packages/runtime-vapor/__tests__/customElement.spec.ts
  packages/runtime-vapor/src/componentSlots.ts
Due: packages

wip: save
  packages/runtime-dom/src/apiCustomElement.ts
  packages/runtime-vapor/__tests__/customElement.spec.ts
  packages/runtime-vapor/src/apiDefineVaporCustomElement.ts
Due: packages, runtime-dom

test(vapor): handle prop when vapor renders vdom component
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
Due: packages

fix(vapor): handle prop when vapor renders vdom component
  packages/runtime-vapor/src/componentProps.ts
Due: packages

fix: update createComponent call to include app context
  packages/runtime-vapor/__tests__/customElement.spec.ts
  packages/runtime-vapor/src/apiDefineVaporCustomElement.ts
Due: packages

fix: enhance HMR style handling and component style injection
  packages/runtime-core/src/hmr.ts
  packages/runtime-dom/src/apiCustomElement.ts
  packages/runtime-vapor/__tests__/customElement.spec.ts
  packages/runtime-vapor/src/component.ts
Due: packages, runtime-core, runtime-dom

wip: save
  packages/runtime-vapor/__tests__/customElement.spec.ts
Due: packages

wip: save
  packages/runtime-dom/src/apiCustomElement.ts
  packages/runtime-vapor/__tests__/customElement.spec.ts
Due: packages, runtime-dom

refactor: handling slot update
  packages/runtime-dom/src/apiCustomElement.ts
  packages/runtime-vapor/src/apiDefineVaporCustomElement.ts
Due: packages, runtime-dom

test: enhance nested custom element and teleport rendering with shadowRoot: false
  packages/runtime-vapor/__tests__/customElement.spec.ts
  packages/runtime-vapor/src/apiDefineVaporCustomElement.ts
  packages/runtime-vapor/src/components/Teleport.ts
Due: packages

chore(deps): update lint deps
  package.json
  pnpm-lock.yaml
Due: none

refactor: replace getCurrentInstance with getCurrentGenericInstance in useHost function
  packages/runtime-core/src/index.ts
  packages/runtime-dom/src/apiCustomElement.ts
  packages/runtime-vapor/__tests__/customElement.spec.ts
Due: packages, runtime-core, runtime-dom

wip: add SSR support
  packages/runtime-vapor/src/apiDefineVaporCustomElement.ts
  packages/vue/__tests__/e2e/ssr-vapor-custom-element.spec.ts
Due: packages, vue

test: remove tests
  packages/vue/__tests__/e2e/ssr-custom-element.spec.ts
  packages/vue/__tests__/e2e/ssr-vapor-custom-element.spec.ts
Due: packages, vue

chore: tweaks
  packages/runtime-dom/src/apiCustomElement.ts
  packages/runtime-vapor/src/apiDefineVaporCustomElement.ts
  packages/runtime-vapor/src/componentProps.ts
  packages/vue/__tests__/e2e/ssr-custom-element-vapor.spec.ts
Due: packages, runtime-dom, vue

refactor: add createPlainElement helper
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformElement.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/transformElement.spec.ts
  packages/compiler-vapor/src/generators/component.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
  packages/runtime-vapor/__tests__/customElement.spec.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/index.ts
Due: packages

fix: remove v-cloak and add data-v-app after app mount
  packages/runtime-vapor/__tests__/directives/vCloak.spec.ts
  packages/runtime-vapor/src/apiCreateApp.ts
Due: packages

fix(Transition): handling v-show transition edge case
  packages/runtime-core/src/renderer.ts
Due: packages, runtime-core

fix(Transition): skip transition if el is hidden by v-show
  packages/runtime-core/src/renderer.ts
Due: packages, runtime-core

feat: add support for async components in KeepAlive
  packages/runtime-vapor/__tests__/apiDefineAsyncComponent.spec.ts
  packages/runtime-vapor/__tests__/components/KeepAlive.spec.ts
  packages/runtime-vapor/src/apiDefineAsyncComponent.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/components/KeepAlive.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

feat: add useInstanceOption for safer instance access
  packages/runtime-core/src/componentCurrentInstance.ts
  packages/runtime-core/src/index.ts
  packages/runtime-dom/src/apiCustomElement.ts
Due: packages, runtime-core, runtime-dom

wip: save
  packages/runtime-vapor/src/apiDefineAsyncComponent.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(runtime-core): guard prop validator to avoid instanceof crash
  packages/runtime-core/src/componentProps.ts
Due: packages, runtime-core

wip: save
  packages/runtime-vapor/__tests__/components/KeepAlive.spec.ts
  packages/runtime-vapor/src/components/KeepAlive.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

wip: save
  packages/runtime-vapor/src/block.ts
  packages/runtime-vapor/src/components/KeepAlive.ts
  packages/runtime-vapor/src/fragment.ts
Due: packages

wip: save
  packages/runtime-vapor/__tests__/components/KeepAlive.spec.ts
  packages/runtime-vapor/src/apiDefineAsyncComponent.ts
  packages/runtime-vapor/src/components/KeepAlive.ts
Due: packages

wip: tweaks
  packages/runtime-vapor/src/block.ts
  packages/runtime-vapor/src/fragment.ts
Due: packages

fix(vSlot): handle non-comment children when extracting slot key
  packages/compiler-vapor/src/transforms/vSlot.ts
Due: packages

fix(component): streamline applyFallthroughProps and getRootElement functions
  packages/runtime-vapor/src/component.ts
Due: packages

wip: save
  packages/runtime-vapor/src/components/Teleport.ts
  packages/runtime-vapor/src/components/Transition.ts
Due: packages

wip: save
  packages/runtime-vapor/src/components/Transition.ts
Due: packages

test: add test
  packages-private/vapor-e2e-test/__tests__/transition.spec.ts
  packages-private/vapor-e2e-test/transition/App.vue
Due: none

fix(runtime-vapor): force defer mount when teleport has insertion state
  packages/runtime-vapor/__tests__/components/Teleport.spec.ts
  packages/runtime-vapor/src/components/Teleport.ts
Due: packages

feat(runtime-vapor): vapor transition work with vapor keep-alive
  packages-private/vapor-e2e-test/__tests__/transition.spec.ts
  packages-private/vapor-e2e-test/transition/App.vue
  packages/runtime-vapor/src/components/KeepAlive.ts
Due: packages

chore: fix typo
  packages/shared/src/vaporFlags.ts
Due: packages, shared

Path conditions:
  packages: any of: packages/
  compiler-core: any of: packages/compiler-core/
  compiler-dom: any of: packages/compiler-dom/
  compiler-sfc: any of: packages/compiler-sfc/
  reactivity: any of: packages/reactivity/
  reactivity-transform: any of: packages/reactivity-transform/
  runtime-core: any of: packages/runtime-core/
  runtime-dom: any of: packages/runtime-dom/
  runtime-test: any of: packages/runtime-test/
  server-renderer: any of: packages/server-renderer/
  sfc-playground: any of: packages/sfc-playground/
  shared: any of: packages/shared/
  size-check: any of: packages/size-check/
  template-explorer: any of: packages/template-explorer/
  vue: any of: packages/vue/
  vue-compat: any of: packages/vue-compat/
