Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

codecov.yml:

coverage:
  status:
    project:
      default:
        # Status checks are set to be non-blocking
        informational: true
    patch:
      default:
        # Status checks are set to be non-blocking
        informational: true

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: packages
      paths:
        - packages/
    - component_id: compiler-core
      paths:
        - packages/compiler-core/
    - component_id: compiler-dom
      paths:
        - packages/compiler-dom/
    - component_id: compiler-sfc
      paths:
        - packages/compiler-sfc/
    - component_id: compiler-sfc
      paths:
        - packages/compiler-sfc/
    - component_id: reactivity
      paths:
        - packages/reactivity/
    - component_id: reactivity-transform
      paths:
        - packages/reactivity-transform/
    - component_id: runtime-core
      paths:
        - packages/runtime-core/
    - component_id: runtime-dom
      paths:
        - packages/runtime-dom/
    - component_id: runtime-test
      paths:
        - packages/runtime-test/
    - component_id: server-renderer
      paths:
        - packages/server-renderer/
    - component_id: sfc-playground
      paths:
        - packages/sfc-playground/
    - component_id: shared
      paths:
        - packages/shared/
    - component_id: size-check
      paths:
        - packages/size-check/
    - component_id: template-explorer
      paths:
        - packages/template-explorer/
    - component_id: vue
      paths:
        - packages/vue/
    - component_id: vue-compat
      paths:
        - packages/vue-compat/

Update computed.ts
  packages/reactivity/src/computed.ts
Due: packages, reactivity

workflow: fix inaccurate test timer in benchmark (#286)
  benchmark/client/App.vue
  benchmark/client/profiling.ts
Due: none

workflow(benchmark): warmup run (#287)
  benchmark/client/index.html
  benchmark/index.js
Due: none

Less diff
  packages/reactivity/__tests__/effectScope.spec.ts
  packages/reactivity/src/computed.ts
  packages/reactivity/src/effect.ts
  packages/reactivity/src/effectScope.ts
  packages/reactivity/src/watch.ts
  packages/runtime-core/__tests__/apiWatch.spec.ts
  packages/runtime-core/__tests__/errorHandling.spec.ts
Due: packages, reactivity, runtime-core

Implement enableTracking
  packages/reactivity/src/effect.ts
Due: packages, reactivity

Update effect.ts
  packages/reactivity/src/effect.ts
Due: packages, reactivity

Bump alien-signals
  package.json
  packages/reactivity/package.json
  pnpm-lock.yaml
Due: packages, reactivity

Delete alien-signals.patch
  patches/alien-signals.patch
Due: none

Use hasChanged instead of `!==`
  packages/reactivity/src/computed.ts
Due: packages, reactivity

If there are no dependencies, always recalculate
  packages/reactivity/src/computed.ts
  packages/reactivity/src/effect.ts
Due: packages, reactivity

Try follow old behavior
  packages/reactivity/src/computed.ts
Due: packages, reactivity

Recalculate computed when `deps === undefined` and globalVersion changes
  packages/reactivity/src/computed.ts
  packages/reactivity/src/dep.ts
  packages/reactivity/src/ref.ts
Due: packages, reactivity

fix(ssr): avoid updating subtree of async component
  packages/runtime-core/src/hydration.ts
Due: packages, runtime-core

test: add test case
  packages/runtime-core/__tests__/hydration.spec.ts
Due: packages, runtime-core

chore: update
  packages/runtime-core/src/hydration.ts
Due: packages, runtime-core

Remove SSR logic in computed
  packages/reactivity/src/computed.ts
  packages/reactivity/src/dep.ts
  packages/reactivity/src/ref.ts
Due: packages, reactivity

Fix pinia test
  packages/reactivity/src/computed.ts
Due: packages, reactivity

Update ref.ts
  packages/reactivity/src/ref.ts
Due: packages, reactivity

Inline alien-signals
  packages/reactivity/__tests__/computed.spec.ts
  packages/reactivity/__tests__/effect.spec.ts
  packages/reactivity/package.json
  packages/reactivity/src/arrayInstrumentations.ts
  packages/reactivity/src/computed.ts
  packages/reactivity/src/debug.ts
  packages/reactivity/src/dep.ts
  packages/reactivity/src/effect.ts
  packages/reactivity/src/ref.ts
  packages/reactivity/src/system.ts
  pnpm-lock.yaml
  rollup.config.js
Due: packages, reactivity

lint, format
  packages/reactivity/src/dep.ts
  packages/reactivity/src/system.ts
Due: packages, reactivity

fix(runtime-dom): handle multiple patch with falsy style value
  packages/runtime-dom/__tests__/patchStyle.spec.ts
  packages/runtime-dom/src/modules/style.ts
Due: packages, runtime-dom

Unused satisfies
  packages/reactivity/__tests__/computed.spec.ts
  packages/reactivity/src/computed.ts
  packages/reactivity/src/debug.ts
  packages/reactivity/src/effect.ts
Due: packages, reactivity

Update system.ts
  packages/reactivity/src/system.ts
Due: packages, reactivity

Minify
  packages/reactivity/src/system.ts
Due: packages, reactivity

Sync system.ts
  packages/reactivity/src/system.ts
Due: packages, reactivity

refactor(compiler-vapor): drop browser build
  package.json
  packages/compiler-vapor/index.js
  packages/compiler-vapor/package.json
  packages/compiler-vapor/src/compile.ts
  packages/compiler-vapor/src/errors.ts
  packages/compiler-vapor/src/generators/expression.ts
  packages/compiler-vapor/src/generators/utils.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
  packages/compiler-vapor/src/transforms/vBind.ts
  packages/compiler-vapor/src/transforms/vModel.ts
  packages/compiler-vapor/src/utils.ts
Due: packages

refactor(runtime-vapor): simplify directive mechanism (#278)
  packages/runtime-vapor/src/apiCreateFor.ts
  packages/runtime-vapor/src/apiRender.ts
  packages/runtime-vapor/src/componentLifecycle.ts
  packages/runtime-vapor/src/directives.ts
  packages/runtime-vapor/src/directives/vModel.ts
  packages/runtime-vapor/src/directives/vShow.ts
  packages/runtime-vapor/src/index.ts
Due: packages

fix(vue-vapor): remove compiler version
  package.json
  packages/vue-vapor/package.json
  packages/vue-vapor/src/dev.ts
  packages/vue-vapor/src/index.ts
  packages/vue-vapor/src/runtime.ts
  pnpm-lock.yaml
  scripts/usage-size.js
Due: packages

fix(compiler-vapor): nested component
  package.json
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vSlot.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vSlot.spec.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
Due: packages

feat(compiler-vapor): support implicit prop in template
  packages/compiler-vapor/__tests__/__snapshots__/compile.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/expression.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformElement.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vHtml.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vModel.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vOn.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vOnce.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vText.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/expression.spec.ts
  packages/compiler-vapor/src/generate.ts
  packages/compiler-vapor/src/generators/expression.ts
  packages/compiler-vapor/src/index.ts
  packages/runtime-vapor/src/apiRender.ts
Due: packages

fix(runtime-vapor): component self-reference
  packages/runtime-vapor/__tests__/helpers/resolveAssets.spec.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/helpers/resolveAssets.ts
Due: packages

fix(v-once): setting hasOnce to current block only when in v-once
  packages/compiler-core/__tests__/transforms/__snapshots__/vOnce.spec.ts.snap
  packages/compiler-core/src/ast.ts
  packages/compiler-core/src/codegen.ts
  packages/compiler-core/src/transform.ts
  packages/compiler-core/src/transforms/vOnce.ts
  packages/runtime-core/src/vnode.ts
Due: packages, compiler-core, runtime-core

chore: update test
  packages/runtime-core/__tests__/rendererOptimizedMode.spec.ts
  packages/runtime-core/__tests__/vnode.spec.ts
Due: packages, runtime-core

chore: update
  packages/runtime-dom/__tests__/patchStyle.spec.ts
  packages/runtime-dom/src/modules/style.ts
Due: packages, runtime-dom

workflow: improve bench scripts
  package.json
Due: none

chore: update
  packages/compiler-core/src/ast.ts
  packages/compiler-core/src/codegen.ts
  packages/compiler-core/src/transform.ts
  packages/compiler-core/src/transforms/vOnce.ts
  packages/runtime-core/__tests__/rendererOptimizedMode.spec.ts
  packages/runtime-core/src/vnode.ts
Due: packages, compiler-core, runtime-core

feat(vapor): dynamic component
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformElement.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/transformElement.spec.ts
  packages/compiler-vapor/src/generators/component.ts
  packages/compiler-vapor/src/ir/index.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
  packages/runtime-vapor/src/helpers/resolveAssets.ts
  packages/runtime-vapor/src/index.ts
Due: packages
