Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

fix(custom-element): avoid retaining custom element hooks on shared definitions
  packages/runtime-vapor/src/apiDefineCustomElement.ts
  packages/runtime-vapor/src/component.ts
Due: packages

chore(runtime-vapor): remove test-only custom element unmount fallback
  packages/runtime-vapor/src/apiDefineCustomElement.ts
Due: packages

fix(runtime-vapor): update custom element children from reactive props
  packages/runtime-vapor/__tests__/customElement.spec.ts
  packages/runtime-vapor/src/apiDefineCustomElement.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/renderEffect.ts
Due: packages

chore: minor tweaks
  packages/runtime-core/src/helpers/useModel.ts
Due: packages, runtime-core

fix(watch): trigger immediate callback for empty sources
  packages/reactivity/src/watch.ts
  packages/runtime-core/__tests__/apiWatch.spec.ts
Due: packages, reactivity, runtime-core

fix(runtime-dom): insert children of a literal <template> into its content
  packages/runtime-dom/__tests__/nodeOps.spec.ts
  packages/runtime-dom/src/nodeOps.ts
Due: packages, runtime-dom

chore: update test
  packages/runtime-core/__tests__/apiWatch.spec.ts
Due: packages, runtime-core

fix(runtime-core): reset async loader request after unmounted rejection
  packages/runtime-core/__tests__/apiAsyncComponent.spec.ts
  packages/runtime-core/src/apiAsyncComponent.ts
Due: packages, runtime-core

fix(compiler-core): avoid crash on CDATA at the document root
  packages/compiler-core/__tests__/__snapshots__/parse.spec.ts.snap
  packages/compiler-core/__tests__/parse.spec.ts
  packages/compiler-core/src/parser.ts
Due: packages, compiler-core

chore: update comments
  packages/compiler-core/__tests__/parse.spec.ts
Due: packages, compiler-core

fix(reactivity): proxy sealed and non-extensible targets (fix #14893)
  packages/reactivity/__tests__/reactive.spec.ts
  packages/reactivity/src/reactive.ts
Due: packages, reactivity

fix(runtime-dom): handle <template> parent in insertStaticContent
  packages/runtime-dom/__tests__/nodeOps.spec.ts
  packages/runtime-dom/src/nodeOps.ts
Due: packages, runtime-dom

docs: update Vite links
  .github/contributing.md
  packages/vue-compat/README.md
Due: packages, vue-compat

docs: update Vite documentation links (#14918)
  .github/contributing.md
  packages/vue-compat/README.md
Due: packages, vue-compat

fix(runtime-vapor): pass props and slots to loadingComponent
  packages/runtime-vapor/__tests__/apiDefineAsyncComponent.spec.ts
  packages/runtime-vapor/src/apiDefineAsyncComponent.ts
Due: packages

fix(runtime-vapor): align error component creation in async wrapper
  packages/runtime-vapor/src/apiDefineAsyncComponent.ts
Due: packages

fix(vapor): expose async component alias for SSR runtime
  packages/compiler-sfc/__tests__/compileScript.spec.ts
  packages/compiler-sfc/src/compileScript.ts
  packages/vue/src/index-with-vapor.ts
  packages/vue/src/index.ts
  packages/vue/src/runtime-with-vapor.ts
  packages/vue/src/runtime.ts
Due: packages, compiler-sfc, vue

fix(reactivity): skip markRaw non-extensible targets in traverse
  packages/reactivity/__tests__/reactive.spec.ts
  packages/reactivity/src/reactive.ts
  packages/reactivity/src/watch.ts
Due: packages, reactivity

fix(compiler-core): prefix dynamic keys on v-memo elements
  packages/compiler-core/__tests__/transforms/vMemo.spec.ts
  packages/compiler-core/src/transform.ts
  packages/compiler-core/src/transforms/transformExpression.ts
  packages/compiler-core/src/transforms/vFor.ts
Due: packages, compiler-core

release: v3.6.0-beta.14
  CHANGELOG.md
  package.json
  packages/compiler-core/package.json
  packages/compiler-dom/package.json
  packages/compiler-sfc/package.json
  packages/compiler-ssr/package.json
  packages/compiler-vapor/package.json
  packages/reactivity/package.json
  packages/runtime-core/package.json
  packages/runtime-dom/package.json
  packages/runtime-vapor/package.json
  packages/server-renderer/package.json
  packages/shared/package.json
  packages/vue-compat/package.json
  packages/vue/package.json
Due: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, runtime-core, runtime-dom, server-renderer, shared, vue, vue-compat

feat(compiler-vapor): support disabling event delegation
  packages/compiler-core/src/options.ts
  packages/compiler-core/src/transform.ts
  packages/compiler-sfc/__tests__/compileTemplate.spec.ts
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vOn.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vOn.spec.ts
  packages/compiler-vapor/src/transform.ts
  packages/compiler-vapor/src/transforms/vOn.ts
Due: packages, compiler-core, compiler-sfc

fix(runtime-core): skip normalizeStyle for component VNodes
  packages/runtime-core/src/vnode.ts
Due: packages, runtime-core

test(runtime-vapor): enable basic useId tests
  packages/runtime-vapor/__tests__/helpers/useId.spec.ts
Due: packages

test(runtime-vapor): remove obsolete todo tests
  packages/runtime-vapor/__tests__/apiSetupHelpers.spec.ts
  packages/runtime-vapor/__tests__/dom/templateRef.spec.ts
  packages/runtime-vapor/__tests__/if.spec.ts
Due: packages

fix(compiler-vapor): align transition v-if comment handling with vdom
  packages/compiler-vapor/__tests__/transforms/TransformTransition.spec.ts
  packages/compiler-vapor/__tests__/transforms/__snapshots__/TransformTransition.spec.ts.snap
  packages/compiler-vapor/src/generators/event.ts
  packages/compiler-vapor/src/transforms/vIf.ts
Due: packages

fix(compiler-vapor): align click modifier normalization with vdom
  packages/compiler-vapor/__tests__/transforms/vOn.spec.ts
  packages/compiler-vapor/src/transforms/vModel.ts
  packages/compiler-vapor/src/transforms/vOn.ts
Due: packages

chore: remove todo
  packages/compiler-vapor/src/generators/for.ts
Due: packages

fix(compiler-core): prefix key with v-memo outside v-for
  packages/compiler-core/__tests__/transforms/vMemo.spec.ts
  packages/compiler-core/src/transforms/transformExpression.ts
Due: packages, compiler-core

fix(reactivity): trigger immediate watch for empty sources
  packages/reactivity/src/watch.ts
  packages/runtime-core/__tests__/apiWatch.spec.ts
Due: packages, reactivity, runtime-core

fix(compiler-dom): preserve empty dynamic event names
  packages/compiler-dom/__tests__/transforms/vOn.spec.ts
  packages/compiler-dom/src/transforms/vOn.ts
Due: packages, compiler-dom

fix(server-renderer): omit nullish class and style attrs
  packages/server-renderer/__tests__/ssrRenderAttrs.spec.ts
  packages/server-renderer/src/helpers/ssrRenderAttrs.ts
Due: packages, server-renderer

fix(compat): suppress disabled enumerated attr warning
  packages/runtime-dom/src/modules/attrs.ts
  packages/vue-compat/__tests__/misc.spec.ts
Due: packages, runtime-dom, vue-compat

fix(compiler-sfc): respect var hoisting in props destructure
  packages/compiler-sfc/__tests__/compileScript/__snapshots__/definePropsDestructure.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript/definePropsDestructure.spec.ts
  packages/compiler-sfc/src/script/definePropsDestructure.ts
Due: packages, compiler-sfc

refactor(compiler-vapor): simplify prop folding in transformElement
  packages/compiler-vapor/src/transforms/transformElement.ts
Due: packages

refactor(compiler-vapor): simplify prop folding in transformElement (#14934)
  packages/compiler-vapor/src/transforms/transformElement.ts
Due: packages

Path conditions:
  packages: any of: packages/
  compiler-core: any of: packages/compiler-core/
  compiler-dom: any of: packages/compiler-dom/
  compiler-sfc: any of: packages/compiler-sfc/
  reactivity: any of: packages/reactivity/
  reactivity-transform: any of: packages/reactivity-transform/
  runtime-core: any of: packages/runtime-core/
  runtime-dom: any of: packages/runtime-dom/
  runtime-test: any of: packages/runtime-test/
  server-renderer: any of: packages/server-renderer/
  sfc-playground: any of: packages/sfc-playground/
  shared: any of: packages/shared/
  size-check: any of: packages/size-check/
  template-explorer: any of: packages/template-explorer/
  vue: any of: packages/vue/
  vue-compat: any of: packages/vue-compat/
