Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

codecov.yml:

coverage:
  status:
    project:
      default:
        # Status checks are set to be non-blocking
        informational: true
    patch:
      default:
        # Status checks are set to be non-blocking
        informational: true

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: packages
      paths:
        - packages/
    - component_id: compiler-core
      paths:
        - packages/compiler-core/
    - component_id: compiler-dom
      paths:
        - packages/compiler-dom/
    - component_id: compiler-sfc
      paths:
        - packages/compiler-sfc/
    - component_id: compiler-sfc
      paths:
        - packages/compiler-sfc/
    - component_id: reactivity
      paths:
        - packages/reactivity/
    - component_id: reactivity-transform
      paths:
        - packages/reactivity-transform/
    - component_id: runtime-core
      paths:
        - packages/runtime-core/
    - component_id: runtime-dom
      paths:
        - packages/runtime-dom/
    - component_id: runtime-test
      paths:
        - packages/runtime-test/
    - component_id: server-renderer
      paths:
        - packages/server-renderer/
    - component_id: sfc-playground
      paths:
        - packages/sfc-playground/
    - component_id: shared
      paths:
        - packages/shared/
    - component_id: size-check
      paths:
        - packages/size-check/
    - component_id: template-explorer
      paths:
        - packages/template-explorer/
    - component_id: vue
      paths:
        - packages/vue/
    - component_id: vue-compat
      paths:
        - packages/vue-compat/

chore: bump rollup
  package.json
  pnpm-lock.yaml
Due: none

refactor(compiler-vapor): generate unique helper aliases to prevent collisions with user variables
  packages/compiler-vapor/__tests__/__snapshots__/compile.spec.ts.snap
  packages/compiler-vapor/__tests__/compile.spec.ts
  packages/compiler-vapor/src/generate.ts
Due: packages

chore: pin rollup to fix deploy error
  package.json
  pnpm-lock.yaml
Due: none

refactor(compiler-vapor): add unique variable generation to avoid binding conflicts
  packages/compiler-vapor/__tests__/__snapshots__/compile.spec.ts.snap
  packages/compiler-vapor/__tests__/compile.spec.ts
  packages/compiler-vapor/src/generate.ts
  packages/compiler-vapor/src/generators/template.ts
  packages/compiler-vapor/src/transform.ts
Due: packages

fix(runtime-core): Failed to execute 'insertBefore' on 'Node': The node before which the new node is to be inserted is not a child of this node.
  packages/runtime-core/src/renderer.ts
Due: packages, runtime-core

fix(vapor): handle next host node for vapor component
  packages/runtime-core/src/renderer.ts
Due: packages, runtime-core

fix(vapor): handle next host node for vapor component (#13823)
  packages/runtime-core/src/renderer.ts
Due: packages, runtime-core

fix(runtime-vapor): setting innerHTML should go through trusted types
  packages/runtime-dom/src/index.ts
  packages/runtime-vapor/src/dom/prop.ts
Due: packages, runtime-dom

fix: ensure self anchor is inserted during hydration
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

chore: migrate vitest to use `projects`
  vitest.config.ts
  vitest.workspace.ts
Due: none

feat: setText use Draft Node
  packages/runtime-vapor/src/dom/nodeDraft.ts
  packages/runtime-vapor/src/dom/prop.ts
Due: packages

feat: node draft patching
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/dom/nodeDraft.ts
Due: packages

feat(vapor): implement defineVaporComponent types
  packages-private/dts-test/defineComponent.test-d.tsx
  packages-private/dts-test/defineVaporComponent.test-d.tsx
  packages-private/dts-test/functionalComponent.test-d.tsx
  packages-private/dts-test/tsx.test-d.tsx
  packages/runtime-core/src/apiDefineComponent.ts
  packages/runtime-core/src/component.ts
  packages/runtime-core/src/componentPublicInstance.ts
  packages/runtime-core/src/components/KeepAlive.ts
  packages/runtime-core/src/components/Suspense.ts
  packages/runtime-core/src/components/Teleport.ts
  packages/runtime-core/src/h.ts
  packages/runtime-core/src/index.ts
  packages/runtime-dom/src/components/TransitionGroup.ts
  packages/runtime-vapor/__tests__/apiSetupContext.spec.ts
  packages/runtime-vapor/src/apiDefineComponent.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/componentSlots.ts
  packages/vue/jsx-runtime/index.d.ts
  packages/vue/jsx.d.ts
Due: packages, runtime-core, runtime-dom, vue

test: migrate to Vitest inline projects
  package.json
  vitest.config.ts
  vitest.e2e.config.ts
  vitest.unit.config.ts
  vitest.workspace.ts
Due: none

chore: Fix typo in CHANGELOG.md.
  CHANGELOG.md
Due: none

chore: add ArrayElement
  packages-private/dts-test/functionalComponent.test-d.tsx
  packages/vue/jsx.d.ts
Due: packages, vue

types(reactivity): resolve "object is not assignable to type ShallowUnwrapRef"
  packages/reactivity/src/ref.ts
Due: packages, reactivity

chore: add RenderReturn
  packages-private/dts-test/tsx.test-d.tsx
  packages/runtime-vapor/src/apiDefineComponent.ts
  packages/runtime-vapor/src/component.ts
  packages/vue/jsx.d.ts
Due: packages, vue

chore: update
  packages-private/dts-test/tsx.test-d.tsx
  packages/runtime-vapor/src/apiDefineComponent.ts
Due: packages

fix: fix on windows, add windows test
  packages/compiler-sfc/__tests__/compileScript/resolveType.spec.ts
  packages/compiler-sfc/package.json
  packages/compiler-sfc/src/script/resolveType.ts
  pnpm-lock.yaml
Due: packages, compiler-sfc

chore: update
  packages/vue/jsx-runtime/index.d.ts
Due: packages, vue

chore(test): migrate to Vitest inline projects (#13838)
  package.json
  vitest.config.ts
  vitest.e2e.config.ts
  vitest.unit.config.ts
  vitest.workspace.ts
Due: none

chore: fix typo (#13833)
  CHANGELOG.md
Due: none

chore: small tweaks
  packages/reactivity/src/ref.ts
Due: packages, reactivity

chore: update side effect annotations to use standardized format
  packages/runtime-core/src/apiAsyncComponent.ts
  packages/runtime-core/src/apiDefineComponent.ts
  packages/runtime-core/src/devtools.ts
  packages/runtime-dom/src/apiCustomElement.ts
  packages/shared/src/makeMap.ts
Due: packages, runtime-core, runtime-dom, shared

feat(types): enhanced types on `@vue/reactivity` `watch`
  packages/reactivity/src/index.ts
  packages/reactivity/src/watch.ts
  packages/runtime-core/src/apiWatch.ts
  packages/runtime-core/src/index.ts
Due: packages, reactivity, runtime-core

feat: support __typeEl
  packages-private/dts-test/defineVaporComponent.test-d.tsx
  packages/runtime-vapor/src/apiDefineComponent.ts
  packages/runtime-vapor/src/component.ts
Due: packages

fix(runtime-vapor): handle vapor attrs fallthrough to vdom component (#13551)
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/component.ts
Due: packages

chore: tweaks
  packages/runtime-dom/src/apiCustomElement.ts
Due: packages, runtime-dom

refactor: use TypeEl instead of TypeBlock
  packages-private/dts-test/defineVaporComponent.test-d.tsx
  packages/runtime-vapor/src/apiDefineComponent.ts
  packages/runtime-vapor/src/component.ts
Due: packages

chore: update
  packages/runtime-vapor/src/component.ts
Due: packages

chore: use child in template
  packages/runtime-vapor/src/dom/template.ts
Due: packages

feat: template + get child + createXXX functions use Draft Node
  packages/runtime-vapor/src/dom/node.ts
  packages/runtime-vapor/src/dom/template.ts
Due: packages

feat: node draft
  packages/runtime-vapor/src/dom/nodeDraft.ts
Due: packages

perf: unenumerable keys
  packages/runtime-vapor/src/dom/nodeDraft.ts
  packages/runtime-vapor/src/dom/prop.ts
Due: packages

fix: get next child with node draft
  packages/runtime-vapor/src/block.ts
  packages/runtime-vapor/src/dom/node.ts
  packages/runtime-vapor/src/dom/nodeDraft.ts
Due: packages

feat: insert + remove + prepend use Draft Node
  packages/runtime-vapor/src/block.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/dom/node.ts
  packages/runtime-vapor/src/dom/nodeDraft.ts
Due: packages
