Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

fix(hydration): avoid resolving inherited fallback in forwarded slots
  packages/runtime-vapor/__tests__/hydration.spec.ts
  packages/runtime-vapor/src/fragment.ts
Due: packages

fix(runtime-vapor): preserve outer pending slot anchors
  packages/runtime-vapor/__tests__/dom/hydrateFragment.spec.ts
  packages/runtime-vapor/__tests__/hydration.spec.ts
  packages/runtime-vapor/src/dom/hydrateFragment.ts
Due: packages

fix(runtime-vapor): reuse hydration anchor candidates
  packages/runtime-vapor/__tests__/componentSlots.spec.ts
  packages/runtime-vapor/__tests__/dom/hydrateFragment.spec.ts
  packages/runtime-vapor/__tests__/hydration.spec.ts
  packages/runtime-vapor/src/dom/hydrateFragment.ts
Due: packages

fix(runtime-vapor): preserve slot content anchors during mismatch recovery
  packages/runtime-vapor/__tests__/hydration.spec.ts
  packages/runtime-vapor/src/dom/hydrateFragment.ts
Due: packages

fix(runtime-vapor): defer slot content anchors during hydration
  packages/runtime-vapor/__tests__/componentSlots.spec.ts
  packages/runtime-vapor/__tests__/dom/hydrateFragment.spec.ts
  packages/runtime-vapor/__tests__/hydration.spec.ts
  packages/runtime-vapor/src/apiCreateFor.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/dom/hydrateFragment.ts
  packages/runtime-vapor/src/dom/template.ts
  packages/runtime-vapor/src/fragment.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(runtime-vapor): avoid leaving teleport children without target
  packages/runtime-vapor/__tests__/components/Teleport.spec.ts
  packages/runtime-vapor/__tests__/hydration.spec.ts
  packages/runtime-vapor/src/block.ts
  packages/runtime-vapor/src/components/Teleport.ts
  packages/runtime-vapor/src/slotFragment.ts
Due: packages

fix(runtime-core): clear refs for v-if component roots
  packages/runtime-core/__tests__/rendererTemplateRef.spec.ts
  packages/runtime-core/src/renderer.ts
Due: packages, runtime-core

fix(runtime-core): keep comment-root refs cleared
  packages/runtime-core/__tests__/rendererTemplateRef.spec.ts
  packages/runtime-core/src/renderer.ts
Due: packages, runtime-core

fix(runtime-vapor): preserve VNode anchors in dynamic component hydration
  packages/runtime-core/src/hydration.ts
  packages/runtime-vapor/__tests__/hydration.spec.ts
  packages/runtime-vapor/src/block.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages, runtime-core

fix(compiler-ssr): support Set model for checkbox/select v-model in SSR
  packages/compiler-ssr/__tests__/ssrVModel.spec.ts
  packages/compiler-ssr/src/runtimeHelpers.ts
  packages/compiler-ssr/src/transforms/ssrVModel.ts
  packages/server-renderer/__tests__/ssrDirectives.spec.ts
  packages/server-renderer/src/helpers/ssrVModelHelpers.ts
  packages/server-renderer/src/internal.ts
Due: packages, server-renderer

fix(hydration): remove adopted SSR DOM for unresolved async setup
  packages/runtime-core/__tests__/hydration.spec.ts
  packages/runtime-core/src/hydration.ts
  packages/runtime-core/src/renderer.ts
  packages/runtime-vapor/__tests__/hydration.spec.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages, runtime-core

fix(workflows): disable credential persistence for checkout actions
  .github/workflows/autofix.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/size-data.yml
  .github/workflows/size-report.yml
  .github/workflows/test.yml
Due: none

fix(workflows): use `ubuntu-slim` runner where possible
  .github/workflows/close-cant-reproduce-issues.yml
  .github/workflows/ecosystem-ci-trigger.yml
  .github/workflows/lock-closed-issues.yml
  .github/workflows/size-report.yml
Due: none

fix(workflows): run tasks in parallel where possible
  .github/workflows/test.yml
Due: none

fix(workflows): add concurrency settings to autofix, ci, and size-data workflows
  .github/workflows/autofix.yml
  .github/workflows/ci.yml
  .github/workflows/size-data.yml
Due: none

fix(reactivity): support Set composition methods
  packages/reactivity/__tests__/collections/Set.spec.ts
  packages/reactivity/src/collectionHandlers.ts
Due: packages, reactivity

fix(reactivity): unwrap Set method arguments
  packages/reactivity/__tests__/collections/Set.spec.ts
  packages/reactivity/src/collectionHandlers.ts
Due: packages, reactivity

fix(runtime-vapor): clean up detached slot branches
  packages/runtime-vapor/__tests__/componentSlots.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

test(runtime-vapor): cover slot fallback cases with compiled output
  packages/runtime-vapor/__tests__/componentSlots.spec.ts
Due: packages

test(runtime-vapor): cover teleport null-target hydration with compiled output
  packages/runtime-vapor/__tests__/hydration.spec.ts
Due: packages

fix(types): don't constrain component $el type to Element
  packages-private/dts-test/defineComponent.test-d.tsx
  packages/runtime-core/src/apiDefineComponent.ts
  packages/runtime-core/src/componentPublicInstance.ts
Due: packages, runtime-core

fix(runtime-vapor): avoid patching invalid VNode slot content
  packages/runtime-vapor/__tests__/componentSlots.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(runtime-core): defer component function refs
  packages/runtime-core/__tests__/rendererTemplateRef.spec.ts
  packages/runtime-core/src/rendererTemplateRef.ts
Due: packages, runtime-core

fix(runtime-vapor): warn on direct slot invocation during hydration
  packages/runtime-vapor/__tests__/componentSlots.spec.ts
  packages/runtime-vapor/src/componentSlots.ts
  packages/runtime-vapor/src/components/KeepAlive.ts
  packages/runtime-vapor/src/components/Transition.ts
  packages/runtime-vapor/src/components/TransitionGroup.ts
Due: packages

refactor(runtime-vapor): simplify slot content invalidation cleanup
  packages/runtime-vapor/__tests__/componentSlots.spec.ts
  packages/runtime-vapor/src/apiCreateDynamicComponent.ts
  packages/runtime-vapor/src/apiCreateFor.ts
  packages/runtime-vapor/src/apiCreateIf.ts
  packages/runtime-vapor/src/fragment.ts
  packages/runtime-vapor/src/slotBoundary.ts
  packages/runtime-vapor/src/slotFragment.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(runtime-vapor): reset detached interop slot vnodes
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(runtime-vapor): clean up slot onInvalid callbacks
  packages/runtime-vapor/__tests__/componentSlots.spec.ts
  packages/runtime-vapor/src/block.ts
  packages/runtime-vapor/src/fragment.ts
  packages/runtime-vapor/src/slotBoundary.ts
  packages/runtime-vapor/src/slotFragment.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(runtime-vapor): unregister slot invalid callbacks for detached content branches
  packages/runtime-vapor/__tests__/componentSlots.spec.ts
  packages/runtime-vapor/src/fragment.ts
Due: packages

refactor(runtime-vapor): simplify slot content invalidation cleanup (#15044)
  packages/runtime-vapor/__tests__/componentSlots.spec.ts
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/apiCreateDynamicComponent.ts
  packages/runtime-vapor/src/apiCreateFor.ts
  packages/runtime-vapor/src/apiCreateIf.ts
  packages/runtime-vapor/src/block.ts
  packages/runtime-vapor/src/fragment.ts
  packages/runtime-vapor/src/slotBoundary.ts
  packages/runtime-vapor/src/slotFragment.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(shared): prevent SSR comment escaping from creating closing delimiters
  packages/server-renderer/__tests__/render.spec.ts
  packages/shared/__tests__/escapeHtml.spec.ts
  packages/shared/src/escapeHtml.ts
Due: packages, server-renderer, shared

Path conditions:
  packages: any of: packages/
  compiler-core: any of: packages/compiler-core/
  compiler-dom: any of: packages/compiler-dom/
  compiler-sfc: any of: packages/compiler-sfc/
  reactivity: any of: packages/reactivity/
  reactivity-transform: any of: packages/reactivity-transform/
  runtime-core: any of: packages/runtime-core/
  runtime-dom: any of: packages/runtime-dom/
  runtime-test: any of: packages/runtime-test/
  server-renderer: any of: packages/server-renderer/
  sfc-playground: any of: packages/sfc-playground/
  shared: any of: packages/shared/
  size-check: any of: packages/size-check/
  template-explorer: any of: packages/template-explorer/
  vue: any of: packages/vue/
  vue-compat: any of: packages/vue-compat/
