Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

codecov.yml:

coverage:
  status:
    project:
      default:
        # Status checks are set to be non-blocking
        informational: true
    patch:
      default:
        # Status checks are set to be non-blocking
        informational: true

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: packages
      paths:
        - packages/
    - component_id: compiler-core
      paths:
        - packages/compiler-core/
    - component_id: compiler-dom
      paths:
        - packages/compiler-dom/
    - component_id: compiler-sfc
      paths:
        - packages/compiler-sfc/
    - component_id: compiler-sfc
      paths:
        - packages/compiler-sfc/
    - component_id: reactivity
      paths:
        - packages/reactivity/
    - component_id: reactivity-transform
      paths:
        - packages/reactivity-transform/
    - component_id: runtime-core
      paths:
        - packages/runtime-core/
    - component_id: runtime-dom
      paths:
        - packages/runtime-dom/
    - component_id: runtime-test
      paths:
        - packages/runtime-test/
    - component_id: server-renderer
      paths:
        - packages/server-renderer/
    - component_id: sfc-playground
      paths:
        - packages/sfc-playground/
    - component_id: shared
      paths:
        - packages/shared/
    - component_id: size-check
      paths:
        - packages/size-check/
    - component_id: template-explorer
      paths:
        - packages/template-explorer/
    - component_id: vue
      paths:
        - packages/vue/
    - component_id: vue-compat
      paths:
        - packages/vue-compat/

fix(runtime-vapor): cache current KeepAlive branch when include/exclude changes (#15525)
  packages/runtime-vapor/__tests__/components/KeepAlive.spec.ts
  packages/runtime-vapor/src/components/KeepAlive.ts
Due: packages

fix(runtime-vapor): unmount KeepAlive component reactivated in a nested branch
  packages/runtime-vapor/__tests__/components/KeepAlive.spec.ts
  packages/runtime-vapor/src/component.ts
Due: packages

fix(runtime-vapor): clear unmountScope on branch disposal
  packages/runtime-vapor/__tests__/components/KeepAlive.spec.ts
  packages/runtime-vapor/src/component.ts
Due: packages

fix(runtime-vapor): unmount KeepAlive component reactivated in a nested branch (#15526)
  packages/runtime-vapor/__tests__/components/KeepAlive.spec.ts
  packages/runtime-vapor/src/component.ts
Due: packages

fix(runtime-vapor): skip update hooks on deferred teleport children mount (#15527)
  packages/runtime-vapor/__tests__/components/Teleport.spec.ts
  packages/runtime-vapor/src/components/Teleport.ts
Due: packages

refactor(runtime-vapor): reuse patchClass for transition class updates
  packages/runtime-dom/src/index.ts
  packages/runtime-vapor/__tests__/components/Transition.spec.ts
  packages/runtime-vapor/src/dom/prop.ts
Due: packages, runtime-dom

refactor(runtime-dom): remove unused vtcKey re-export
  packages/runtime-dom/src/index.ts
Due: packages, runtime-dom

fix(runtime-vapor): keep transition classes when updating class binding (#15528)
  packages/runtime-dom/src/index.ts
  packages/runtime-vapor/__tests__/components/Transition.spec.ts
  packages/runtime-vapor/src/dom/prop.ts
Due: packages, runtime-dom

fix(runtime-vapor): keep v-for item order before empty nested branches (#15529)
  packages/runtime-vapor/__tests__/for.spec.ts
  packages/runtime-vapor/src/block.ts
Due: packages

fix(compiler-vapor): do not cache the prefix of an optional chain
  packages/compiler-vapor/__tests__/transforms/expression.spec.ts
  packages/compiler-vapor/src/generators/expression.ts
Due: packages

feat(compiler): add RFC 823 patterned template reference implementation
  packages/compiler-core/__tests__/patterns.spec.ts
  packages/compiler-core/__tests__/transforms/cacheStatic.spec.ts
  packages/compiler-core/src/ast.ts
  packages/compiler-core/src/codegen.ts
  packages/compiler-core/src/compile.ts
  packages/compiler-core/src/index.ts
  packages/compiler-core/src/parser.ts
  packages/compiler-core/src/patterns.ts
  packages/compiler-core/src/transforms/vFor.ts
  packages/compiler-core/src/transforms/vMatch.ts
  packages/compiler-core/src/utils.ts
  packages/compiler-dom/__tests__/__snapshots__/vMatch.spec.ts.snap
  packages/compiler-dom/__tests__/vMatch.spec.ts
  packages/compiler-dom/src/transforms/Transition.ts
  packages/compiler-ssr/src/index.ts
  packages/compiler-ssr/src/ssrCodegenTransform.ts
  packages/compiler-ssr/src/transforms/ssrInjectFallthroughAttrs.ts
  packages/compiler-ssr/src/transforms/ssrVFor.ts
  packages/compiler-vapor/src/compile.ts
  packages/compiler-vapor/src/generators/for.ts
  packages/compiler-vapor/src/ir/index.ts
  packages/compiler-vapor/src/transforms/transformTransition.ts
  packages/compiler-vapor/src/transforms/vFor.ts
  packages/compiler-vapor/src/transforms/vIf.ts
  packages/runtime-vapor/__tests__/hydration/vMatch.spec.ts
  packages/runtime-vapor/__tests__/vMatch.spec.ts
  packages/vue/__tests__/vMatch.spec.ts
Due: packages, compiler-core, compiler-dom, vue

fix(compiler): preserve cached match arm scopes
  packages/compiler-core/src/transforms/vMatch.ts
  packages/compiler-core/src/utils.ts
  packages/runtime-vapor/__tests__/vMatch.spec.ts
Due: packages, compiler-core

fix(runtime-vapor): advance hydration past multi-root async components
  packages/runtime-vapor/__tests__/hydration/asyncComponent.spec.ts
  packages/runtime-vapor/src/apiDefineAsyncComponent.ts
Due: packages

refactor(compiler): clarify match selector evaluation phases
  packages/compiler-core/src/patterns.ts
Due: packages, compiler-core

fix(runtime-vapor): follow v-show through nested dynamic roots and interop content
  packages/runtime-vapor/__tests__/components/Suspense.spec.ts
  packages/runtime-vapor/__tests__/directives/vShow.spec.ts
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/block.ts
  packages/runtime-vapor/src/directives/vShow.ts
Due: packages

test(transition): wait for animation frames before duration
  packages/vue/__tests__/e2e/Transition.spec.ts
Due: packages, vue

fix(runtime-vapor): hydrate empty text blocks in place
  packages/runtime-vapor/__tests__/hydration/basic.spec.ts
  packages/runtime-vapor/__tests__/hydration/for.spec.ts
  packages/runtime-vapor/__tests__/hydration/if.spec.ts
  packages/runtime-vapor/__tests__/hydration/interopStructure.spec.ts
  packages/runtime-vapor/__tests__/hydration/slots.spec.ts
  packages/runtime-vapor/src/dom/hydration.ts
Due: packages

test(transition): poll final states in asynchronous cases
  packages/vue/__tests__/e2e/Transition.spec.ts
Due: packages, vue

refactor(runtime-vapor): keep feature-gated root visitor hooks tree-shakable
  packages/runtime-vapor/src/directives/custom.ts
  packages/runtime-vapor/src/directives/vShow.ts
Due: packages

fix(compiler-vapor): preserve optional chains in repeated expressions
  packages/compiler-vapor/__tests__/transforms/__snapshots__/expression.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/expression.spec.ts
  packages/compiler-vapor/src/generators/expression.ts
Due: packages

fix(runtime-vapor): refresh emit listeners when a vdom parent skips the update
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(runtime-vapor): show v-show element hydrated from hidden SSR output
  packages/runtime-vapor/__tests__/hydration/mismatch.spec.ts
  packages/runtime-vapor/src/directives/vShow.ts
Due: packages

fix(runtime-vapor): keep the client display for v-show toggles after hydration
  packages/runtime-vapor/__tests__/hydration/mismatch.spec.ts
  packages/runtime-vapor/src/directives/vShow.ts
  packages/runtime-vapor/src/dom/prop.ts
Due: packages

fix(runtime-vapor): show v-show element hydrated from hidden SSR output (#15533)
  packages/runtime-vapor/__tests__/hydration/mismatch.spec.ts
  packages/runtime-vapor/src/directives/vShow.ts
  packages/runtime-vapor/src/dom/prop.ts
Due: packages

fix(runtime-vapor): advance async hydration to the next logical sibling
  packages/runtime-vapor/src/apiDefineAsyncComponent.ts
Due: packages

fix(runtime-vapor): advance hydration past multi-root async components (#15532)
  packages/runtime-vapor/__tests__/hydration/asyncComponent.spec.ts
  packages/runtime-vapor/src/apiDefineAsyncComponent.ts
Due: packages

fix(runtime-vapor): ignore v-show on a slot outlet root like vdom
  packages/runtime-vapor/__tests__/directives/vShow.spec.ts
  packages/runtime-vapor/src/directives/vShow.ts
Due: packages

test(compiler): cover patterned template binding scopes
  packages/compiler-core/__tests__/patterns.spec.ts
  packages/runtime-vapor/__tests__/vMatch.spec.ts
  packages/vue/__tests__/vMatch.spec.ts
Due: packages, compiler-core, vue

test(compiler): cover shadowed loop sources in match arms
  packages/runtime-vapor/__tests__/vMatch.spec.ts
Due: packages

fix(runtime-vapor): apply the client v-show value on allowed hydration mismatches
  packages/runtime-vapor/__tests__/hydration/mismatch.spec.ts
  packages/runtime-vapor/src/directives/vShow.ts
Due: packages

fix(runtime-vapor): ignore v-show on a slot outlet root like vdom (#15535)
  packages/runtime-vapor/__tests__/directives/vShow.spec.ts
  packages/runtime-vapor/src/directives/vShow.ts
Due: packages

fix(runtime-vapor): apply the client v-show value on allowed hydration mismatches (#15537)
  packages/runtime-vapor/__tests__/hydration/mismatch.spec.ts
  packages/runtime-vapor/src/directives/vShow.ts
Due: packages

fix(runtime-vapor): preserve fragment ownership when hydrating empty text
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vIf.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vIf.spec.ts
  packages/compiler-vapor/src/utils.ts
  packages/runtime-vapor/__tests__/hydration/basic.spec.ts
  packages/runtime-vapor/__tests__/hydration/if.spec.ts
  packages/runtime-vapor/src/apiCreateIf.ts
  packages/runtime-vapor/src/dom/hydration.ts
Due: packages

fix(compiler-vapor): keep number literals on slot outlet props
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformSlotOutlet.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/transformSlotOutlet.spec.ts
  packages/compiler-vapor/src/transforms/vBind.ts
  packages/runtime-vapor/__tests__/componentSlots.spec.ts
  packages/runtime-vapor/__tests__/hydration/slots.spec.ts
Due: packages

fix(runtime-vapor): do not crash hydrating a null value binding
  packages/runtime-vapor/__tests__/hydration/mismatch.spec.ts
  packages/runtime-vapor/src/dom/prop.ts
Due: packages

fix(runtime-vapor): resolve nodes of a vdom child rooted at a slot outlet
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(compiler-vapor): keep the leading newline of pre and textarea
  packages/compiler-dom/src/index.ts
  packages/compiler-dom/src/parserOptions.ts
  packages/compiler-vapor/__tests__/transforms/transformElement.spec.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
  packages/runtime-vapor/__tests__/dom/template.spec.ts
Due: packages, compiler-dom

fix(runtime-vapor): do not crash hydrating a null value binding (#15541)
  packages/runtime-vapor/__tests__/hydration/mismatch.spec.ts
  packages/runtime-vapor/src/dom/prop.ts
Due: packages
