Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

fix(transition-group): support vdom children with comment roots
  packages-private/vapor-e2e-test/__tests__/transition-group.spec.ts
  packages-private/vapor-e2e-test/transition-group/cases/interop/avoid-set-transition-hooks-for-comment-node.vue
  packages-private/vapor-e2e-test/transition-group/components/VdomCommentToggle.vue
  packages/runtime-vapor/src/components/TransitionGroup.ts
Due: packages

fix(transition-group): align key inheritance with vdom
  packages/runtime-vapor/__tests__/components/TransitionGroup.spec.ts
  packages/runtime-vapor/src/components/TransitionGroup.ts
Due: packages

refactor(vapor): separate transition-group child and fragment hooks
  packages/runtime-vapor/__tests__/components/TransitionGroup.spec.ts
  packages/runtime-vapor/src/block.ts
  packages/runtime-vapor/src/components/Transition.ts
  packages/runtime-vapor/src/components/TransitionGroup.ts
Due: packages

fix(vdomInterop): keep interop fragment nodes in sync after vnode updates
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

test: reorganize keepalive tests
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
Due: packages

fix(transition): align interop transition vnode identity with vdom
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/components/Transition.ts
  packages/runtime-vapor/src/components/TransitionGroup.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(runtime-vapor): preserve async wrapper keys across dynamic fragment updates
  packages/runtime-vapor/__tests__/components/TransitionGroup.spec.ts
  packages/runtime-vapor/src/fragment.ts
Due: packages

chore: update
  packages-private/vapor-e2e-test/__tests__/e2eUtils.ts
  packages/reactivity/__tests__/reactiveArray.spec.ts
  packages/runtime-core/__tests__/components/BaseTransition.spec.ts
  packages/runtime-core/__tests__/vnodeHooks.spec.ts
  packages/runtime-vapor/__tests__/if.spec.ts
Due: packages, reactivity, runtime-core

wip: save
  package.json
  packages-private/vapor-e2e-test/__tests__/vdomInterop.spec.ts
  vite.config.ts
Due: none

fix(test): enable vapor browser E2E tests conditionally based on environment variable
  package.json
  vite.config.ts
Due: none

test(vapor): use browser mode instead of pupeteer to run tests (#13934)
  .gitignore
  package.json
  packages-private/vapor-e2e-test/__tests__/e2eUtils.ts
  packages-private/vapor-e2e-test/__tests__/setupBrowser.ts
  packages-private/vapor-e2e-test/__tests__/todomvc.spec.ts
  packages-private/vapor-e2e-test/__tests__/vdomInterop.spec.ts
  packages/runtime-core/__tests__/componentPublicInstance.spec.ts
  pnpm-lock.yaml
  scripts/setup-vitest.ts
  vite.config.ts
Due: packages, runtime-core

test(vapor-e2e): migrate vapor e2e tests to browser mode
  package.json
  packages-private/vapor-e2e-test/__tests__/e2eUtils.ts
  packages-private/vapor-e2e-test/__tests__/vdomInterop.spec.ts
  vite.config.ts
Due: none

fix(compiler-vapor): Correctly handle dynamic named slots with v-if directives
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vSlot.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vSlot.spec.ts
  packages/compiler-vapor/src/generators/component.ts
Due: packages

test(vapor-e2e): migrate transition specs to browser mode
  packages-private/vapor-e2e-test/__tests__/e2eUtils.ts
  packages-private/vapor-e2e-test/__tests__/transition-group.spec.ts
  packages-private/vapor-e2e-test/__tests__/transition.spec.ts
  packages-private/vapor-e2e-test/transition-group/App.vue
  packages-private/vapor-e2e-test/transition-group/main.ts
  packages-private/vapor-e2e-test/transition/App.vue
  packages-private/vapor-e2e-test/transition/main.ts
Due: none

wip: save
  packages-private/vapor-e2e-test/transition/App.vue
  packages-private/vapor-e2e-test/transition/cases/explicit-durations/enter-with-explicit-durations.vue
  packages-private/vapor-e2e-test/transition/cases/explicit-durations/leave-with-explicit-durations.vue
  packages-private/vapor-e2e-test/transition/cases/explicit-durations/separate-enter-and-leave.vue
  packages-private/vapor-e2e-test/transition/cases/explicit-durations/single-value.vue
Due: none

fix(e2e): increase E2E timeout from 2s to 10s
  packages-private/vapor-e2e-test/__tests__/e2eUtils.ts
Due: none

test(e2e): update cache setup for Playwright browsers and install Chromium
  .github/workflows/test.yml
Due: none

test(e2e): enable VAPOR_E2E environment variable for vapor e2e tests
  package.json
  vite.config.ts
Due: none

chore(e2e): remove unused E2E test server implementation
  packages-private/vapor-e2e-test/__tests__/server.ts
Due: none

fix(compiler-sfc): support template literal as defineModel name
  packages/compiler-sfc/__tests__/compileScript/__snapshots__/defineModel.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript/defineModel.spec.ts
  packages/compiler-sfc/src/script/defineModel.ts
Due: packages, compiler-sfc

refactor(e2e-tests): enhance vdomInterop tests and improve transition handling
  packages-private/vapor-e2e-test/__tests__/e2eUtils.ts
  packages-private/vapor-e2e-test/__tests__/transition-group.spec.ts
  packages-private/vapor-e2e-test/__tests__/transition.spec.ts
  packages-private/vapor-e2e-test/__tests__/vdomInterop.spec.ts
  vite.config.ts
Due: none

chore(deps): remove @vitest/browser-playwright dependency from package.json and pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
Due: none

fix(vite.config): update ts-expect-error comment for clarity on project initialization issue
  vite.config.ts
Due: none

fix(renovate): add 'playwright' to test package group for dependency management
  .github/renovate.json5
Due: none

fix(compiler-vapor): normalize default dynamic slot names in transform
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vSlot.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vSlot.spec.ts
  packages/compiler-vapor/src/generators/component.ts
  packages/compiler-vapor/src/transforms/vSlot.ts
Due: packages

fix(compiler-vapor): normalize default dynamic slot names in transform (#14619)
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vSlot.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vSlot.spec.ts
  packages/compiler-vapor/src/transforms/vSlot.ts
Due: packages

fix(runtime-core): invalidate detached v-for memo vnodes after unmount
  packages/compiler-core/__tests__/transforms/__snapshots__/vMemo.spec.ts.snap
  packages/compiler-core/src/transforms/vFor.ts
  packages/runtime-core/__tests__/helpers/withMemo.spec.ts
  packages/runtime-core/src/renderer.ts
Due: packages, compiler-core, runtime-core

test(runtime-core): add v-if + v-for dev mode
  packages/runtime-core/__tests__/helpers/withMemo.spec.ts
Due: packages, runtime-core

chore: improve clarity of conditional inclusion for vapor e2e tests
  vite.config.ts
Due: none

test(vModel): add test for preserving unresolved trimmed text in nested shadow roots
  packages/runtime-dom/__tests__/directives/vModel.spec.ts
Due: packages, runtime-dom

fix(reactivity): coerce toRef property keys to strings
  packages/reactivity/__tests__/ref.spec.ts
  packages/reactivity/src/ref.ts
Due: packages, reactivity

test(reactivity): cover symbol toRef triggerRef
  packages/reactivity/__tests__/ref.spec.ts
Due: packages, reactivity

refactor(reactivity): simplify toRef array key check
  packages/reactivity/src/ref.ts
Due: packages, reactivity

fix(reactivity): support string array indexes in toRef types
  packages-private/dts-test/ref.test-d.ts
  packages/reactivity/src/ref.ts
Due: packages, reactivity

test(reactivity): add comment to clarify coercion of non-symbol property keys in triggerRef test
  packages/reactivity/__tests__/ref.spec.ts
Due: packages, reactivity

fix(runtime-core): propagate host el through Suspense during child self-update
  packages/runtime-core/__tests__/components/Suspense.spec.ts
  packages/runtime-core/src/componentRenderUtils.ts
Due: packages, runtime-core

refactor(suspense): replace initialContent tracking with fallback mount flag
  packages/runtime-core/src/components/Suspense.ts
Due: packages, runtime-core

fix(runtime-core): defer teleport patches until suspense resolves
  packages/runtime-core/__tests__/components/Suspense.spec.ts
  packages/runtime-core/src/components/Teleport.ts
Due: packages, runtime-core

fix(transition): skip enter guard while hmr updating (#14611)
  packages/runtime-core/src/components/BaseTransition.ts
  packages/runtime-core/src/hmr.ts
  packages/runtime-core/src/renderer.ts
  packages/vue/__tests__/e2e/Transition.spec.ts
Due: packages, runtime-core, vue

fix(server-renderer): cleanup component effect scopes after SSR render (#14548)
  packages/server-renderer/__tests__/render.spec.ts
  packages/server-renderer/__tests__/ssrWatch.spec.ts
  packages/server-renderer/src/render.ts
  packages/server-renderer/src/renderToStream.ts
  packages/server-renderer/src/renderToString.ts
Due: packages, server-renderer

Path conditions:
  packages: any of: packages/
  compiler-core: any of: packages/compiler-core/
  compiler-dom: any of: packages/compiler-dom/
  compiler-sfc: any of: packages/compiler-sfc/
  reactivity: any of: packages/reactivity/
  reactivity-transform: any of: packages/reactivity-transform/
  runtime-core: any of: packages/runtime-core/
  runtime-dom: any of: packages/runtime-dom/
  runtime-test: any of: packages/runtime-test/
  server-renderer: any of: packages/server-renderer/
  sfc-playground: any of: packages/sfc-playground/
  shared: any of: packages/shared/
  size-check: any of: packages/size-check/
  template-explorer: any of: packages/template-explorer/
  vue: any of: packages/vue/
  vue-compat: any of: packages/vue-compat/
