Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

chore: remove internal flag on hmr option
  packages/compiler-core/src/options.ts
Due: packages, compiler-core

chore: improve code
  packages/compiler-core/__tests__/transforms/transformElement.spec.ts
  packages/compiler-core/src/transforms/transformElement.ts
Due: packages, compiler-core

chore: improve code
  packages/runtime-core/src/hydration.ts
  packages/runtime-core/src/renderer.ts
Due: packages, runtime-core

chore: improve code
  packages/runtime-core/src/hydration.ts
Due: packages, runtime-core

chore: sort code
  packages/reactivity/src/effect.ts
Due: packages, reactivity

perf: add __NO_SIDE_EFFECTS__ comment
  packages/reactivity/src/collectionHandlers.ts
  packages/runtime-core/src/devtools.ts
  packages/server-renderer/src/helpers/ssrRenderAttrs.ts
  packages/shared/src/makeMap.ts
Due: packages, reactivity, runtime-core, server-renderer, shared

refactor: with switch syntax
  packages/compiler-sfc/src/script/defineOptions.ts
Due: packages, compiler-sfc

Update vOn.spec.ts
  packages/compiler-dom/__tests__/transforms/vOn.spec.ts
Due: packages, compiler-dom

chore: The order of style tags remains consistent with the playground
  packages/runtime-dom/__tests__/customElement.spec.ts
  packages/runtime-dom/src/apiCustomElement.ts
Due: packages, runtime-dom

Update ssrTransformComponent.ts
  packages/compiler-ssr/src/transforms/ssrTransformComponent.ts
Due: packages

Update ssrTransformTransition.ts
  packages/compiler-ssr/src/transforms/ssrTransformTransition.ts
Due: packages

Update packages/runtime-core/src/h.ts
  packages/runtime-core/src/h.ts
Due: packages, runtime-core

fix(types): improve `h` overload to support union of string and component (#5432)
  packages/dts-test/h.test-d.ts
  packages/runtime-core/src/h.ts
Due: packages, runtime-core

Update packages/compiler-core/src/transforms/vBind.ts
  packages/compiler-core/src/transforms/vBind.ts
Due: packages, compiler-core

chore: avoid exposing vShowOldKey as public API
  packages/runtime-core/__tests__/hydration.spec.ts
  packages/runtime-dom/src/index.ts
Due: packages, runtime-core, runtime-dom

chore: minor tweaks
  packages/runtime-core/src/hydration.ts
Due: packages, runtime-core

fix(transition/ssr): make transition appear work with SSR (#8859)
  packages/compiler-ssr/__tests__/ssrTransition.spec.ts
  packages/compiler-ssr/src/transforms/ssrTransformComponent.ts
  packages/compiler-ssr/src/transforms/ssrTransformTransition.ts
  packages/runtime-core/__tests__/hydration.spec.ts
  packages/runtime-core/src/hydration.ts
  packages/runtime-core/src/renderer.ts
Due: packages, runtime-core

chore: Remove code about style tag removal
  packages/runtime-core/src/component.ts
  packages/runtime-core/src/renderer.ts
  packages/runtime-dom/__tests__/customElement.spec.ts
  packages/runtime-dom/src/apiCustomElement.ts
Due: packages, runtime-core, runtime-dom

refactor: refactor code
  packages/runtime-core/src/component.ts
  packages/runtime-core/src/renderer.ts
  packages/runtime-dom/src/apiCustomElement.ts
Due: packages, runtime-core, runtime-dom

types(ComponentPublicInstance): fix generated props to keep ComponentCustomProps
  packages/runtime-core/src/componentPublicInstance.ts
Due: packages, runtime-core

chore: add test
  packages/built-test/package.json
  packages/built-test/src/index.ts
  packages/dts-test/built.test-d.ts
  packages/dts-test/package.json
  pnpm-lock.yaml
Due: packages

clean package
  packages/built-test/package.json
Due: packages

chore: tweak name + readme
  packages/built-test/package.json
  packages/dts-built-test/README.md
  packages/dts-built-test/package.json
  packages/dts-built-test/src/index.ts
  packages/dts-test/built.test-d.ts
  packages/dts-test/package.json
  pnpm-lock.yaml
Due: packages

fix(types): fix ComponentCustomProps augmentation (#9468)
  packages/dts-built-test/README.md
  packages/dts-built-test/package.json
  packages/dts-built-test/src/index.ts
  packages/dts-test/built.test-d.ts
  packages/dts-test/package.json
  packages/runtime-core/src/componentPublicInstance.ts
  pnpm-lock.yaml
Due: packages, runtime-core

types(hooks): Remove onVnode* and add onVue:* hooks
  packages/dts-test/defineComponent.test-d.tsx
  packages/runtime-core/src/vnode.ts
Due: packages, runtime-core

fix(#6859): patchprops for image priority props(loading)
  packages/runtime-core/src/renderer.ts
  packages/runtime-dom/__tests__/getPriorProps.spec.ts
  packages/runtime-dom/src/index.ts
  packages/runtime-dom/src/nodeOps.ts
  packages/runtime-dom/src/patchProp.ts
Due: packages, runtime-core, runtime-dom

fix(#6859): make getPriorityProps option
  packages/runtime-core/src/renderer.ts
  packages/runtime-dom/__tests__/getPriorProps.spec.ts
  packages/runtime-dom/src/index.ts
  packages/runtime-dom/src/nodeOps.ts
  packages/runtime-dom/src/patchProp.ts
Due: packages, runtime-core, runtime-dom

test: add test case
  packages/vue/__tests__/e2e/TransitionGroup.spec.ts
Due: packages, vue

chore: improve code
  packages/runtime-dom/src/components/TransitionGroup.ts
Due: packages, runtime-dom

chore: improve code
  packages/vue/__tests__/e2e/TransitionGroup.spec.ts
Due: packages, vue

fix(#6859): add e2e test
  packages/vue/__tests__/e2e/image.spec.ts
  packages/vue/examples/classic/image.html
  packages/vue/examples/classic/lazyload.jpg
Due: packages, vue

chore: improve code
  packages/runtime-core/src/vnode.ts
Due: packages, runtime-core

test: add test case
  packages/runtime-core/__tests__/scopeId.spec.ts
Due: packages, runtime-core

fix(runtime-core): ensure scopedId is correct when receiving an existing vnode
  packages/runtime-core/src/vnode.ts
Due: packages, runtime-core

Path conditions:
  packages: any of: packages/
  compiler-core: any of: packages/compiler-core/
  compiler-dom: any of: packages/compiler-dom/
  compiler-sfc: any of: packages/compiler-sfc/
  reactivity: any of: packages/reactivity/
  reactivity-transform: any of: packages/reactivity-transform/
  runtime-core: any of: packages/runtime-core/
  runtime-dom: any of: packages/runtime-dom/
  runtime-test: any of: packages/runtime-test/
  server-renderer: any of: packages/server-renderer/
  sfc-playground: any of: packages/sfc-playground/
  shared: any of: packages/shared/
  size-check: any of: packages/size-check/
  template-explorer: any of: packages/template-explorer/
  vue: any of: packages/vue/
  vue-compat: any of: packages/vue-compat/
