Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

test: add test
  packages/compiler-sfc/__tests__/__snapshots__/compileTemplate.spec.ts.snap
  packages/compiler-sfc/__tests__/compileTemplate.spec.ts
Due: packages, compiler-sfc

fix: skip blank text nodes during hydration
  packages/runtime-core/src/hydration.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages, runtime-core

test: remove redundant test
  packages/runtime-vapor/__tests__/hydration.spec.ts
Due: packages

fix(compiler-core): Identifiers in switch-case should not be inferred as references
  packages/compiler-core/src/babelUtils.ts
Due: packages, compiler-core

fix(apiWatch, componentOptions): refine return types for createPathGetter and createWatcher
  packages/runtime-core/src/apiWatch.ts
  packages/runtime-core/src/componentOptions.ts
Due: packages, runtime-core

fix(compiler-core): Add switch-case test
  packages/compiler-core/__tests__/transforms/transformExpressions.spec.ts
Due: packages, compiler-core

wip: save
  packages/runtime-vapor/__tests__/hydration.spec.ts
  packages/runtime-vapor/src/components/Teleport.ts
Due: packages

fix(compiler-core): Remove unnecessary identifier extraction from switch-case tests
  packages/compiler-core/src/babelUtils.ts
Due: packages, compiler-core

fix(compiler-core): Enhance walkIdentifiers to handle scopeIds in SwitchStatement
  packages/compiler-core/src/babelUtils.ts
Due: packages, compiler-core

fix(compiler-core): Update switch statement condition check to use strict equality
  packages/compiler-core/__tests__/transforms/transformExpressions.spec.ts
  packages/compiler-core/src/babelUtils.ts
Due: packages, compiler-core

fix(compiler-core): Refactor walkIdentifiers to handle SwitchStatement scopeIds correctly
  packages/compiler-core/src/babelUtils.ts
Due: packages, compiler-core

Dependency Injection Inheritance: Solution A
  packages/runtime-core/src/apiInject.ts
  packages/runtime-core/src/component.ts
Due: packages, runtime-core

fix(types): more precise types for Events and added missing definitions
  packages/runtime-dom/src/jsx.ts
Due: packages, runtime-dom

chore: tweaks
  packages/compiler-vapor/src/transforms/vFor.ts
Due: packages

fix(runtime-vapor): setting innerHTML should go through trusted types (#13825)
  packages/runtime-dom/src/index.ts
  packages/runtime-vapor/src/dom/prop.ts
Due: packages, runtime-dom

fix(compiler-vapor): escape html for safer template output (#13919)
  packages/compiler-vapor/__tests__/transforms/transformText.spec.ts
  packages/compiler-vapor/src/transforms/transformComment.ts
  packages/compiler-vapor/src/transforms/transformText.ts
Due: packages

fix(runtime-vapor): sync parent component block reference during HMR reload (#13866)
  packages/runtime-vapor/__tests__/hmr.spec.ts
  packages/runtime-vapor/src/hmr.ts
Due: packages

fix(apiWatch): update import path for ComponentPublicInstance
  packages/runtime-core/src/apiWatch.ts
Due: packages, runtime-core

fix(compiler-vapor): treat template v-for with single component child as component (#13914)
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vFor.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vFor.spec.ts
  packages/compiler-vapor/src/transforms/vFor.ts
Due: packages

fix(compiler-sfc): ensure props bindings register before compiling template (#13922)
  packages/compiler-sfc/__tests__/__snapshots__/compileTemplate.spec.ts.snap
  packages/compiler-sfc/__tests__/compileTemplate.spec.ts
  packages/compiler-sfc/src/compileScript.ts
Due: packages, compiler-sfc

fix(reactivity): update iterator to check for completion instead of value presence (#13761)
  packages/reactivity/src/arrayInstrumentations.ts
Due: packages, reactivity

fix(types): set dom stub type to `never` instead of `{}` (#13915)
  packages/runtime-dom/src/index.ts
Due: packages, runtime-dom

fix(compiler-ssr): ensure v-show has a higher priority in SSR (#12171)
  packages/compiler-ssr/__tests__/ssrVShow.spec.ts
  packages/compiler-ssr/src/transforms/ssrTransformElement.ts
Due: packages

fix(custom-element): use PatchFlags.BAIL for slot when props are present (#13907)
  packages/runtime-core/src/helpers/renderSlot.ts
  packages/runtime-dom/__tests__/customElement.spec.ts
Due: packages, runtime-core, runtime-dom

fix(compiler-sfc): add support for @vue-ignore in runtime type resolution (#13906)
  packages/compiler-sfc/__tests__/compileScript/resolveType.spec.ts
  packages/compiler-sfc/src/script/resolveType.ts
Due: packages, compiler-sfc

fix(reactivity): respect readonly during ref unwrapping (#13905)
  packages/reactivity/__tests__/readonly.spec.ts
  packages/reactivity/src/baseHandlers.ts
Due: packages, reactivity

fix(compiler-sfc): ensure css custom properties do not start with a digit (#13870)
  packages/compiler-sfc/__tests__/cssVars.spec.ts
  packages/compiler-sfc/src/style/cssVars.ts
Due: packages, compiler-sfc

fix(types): widen directive arg type from string to any (#13758)
  packages-private/dts-test/directives.test-d.ts
  packages/runtime-core/src/apiCreateApp.ts
  packages/runtime-core/src/directives.ts
Due: packages, runtime-core

fix(compiler-dom): nodes with v-once shouldn't be stringified (#13878)
  packages/compiler-dom/__tests__/transforms/__snapshots__/stringifyStatic.spec.ts.snap
  packages/compiler-dom/__tests__/transforms/stringifyStatic.spec.ts
  packages/compiler-dom/src/transforms/stringifyStatic.ts
Due: packages, compiler-dom

fix(custom-element): properly mount multiple Teleports in custom element component w/ shadowRoot false (#13900)
  packages/runtime-core/src/component.ts
  packages/runtime-core/src/components/Teleport.ts
  packages/runtime-dom/__tests__/customElement.spec.ts
  packages/runtime-dom/src/apiCustomElement.ts
Due: packages, runtime-core, runtime-dom

chore(types): improve type safety in watch functions and instanceWatch (#13918)
  packages/runtime-core/src/apiWatch.ts
  packages/runtime-core/src/componentOptions.ts
Due: packages, runtime-core

fix(compiler-sfc): enhance inferRuntimeType to support TSMappedType with indexed access (#13848)
  packages/compiler-sfc/__tests__/compileScript/resolveType.spec.ts
  packages/compiler-sfc/src/script/resolveType.ts
Due: packages, compiler-sfc

fix(custom-element): set prop runs pending mutations before disconnect (#13897)
  packages/runtime-dom/__tests__/customElement.spec.ts
  packages/runtime-dom/src/apiCustomElement.ts
Due: packages, runtime-dom

fix(types): more precise types for Events and added missing definitions (#9675)
  packages/runtime-dom/src/jsx.ts
Due: packages, runtime-dom

Revert "fix(hmr): prevent __VUE_HMR_RUNTIME__ from being overwritten by vue runtime in 3rd-party libraries" (#13925)
  packages/runtime-core/src/hmr.ts
Due: packages, runtime-core

chore: tweaks
  packages/compiler-core/src/transforms/transformVBindShorthand.ts
Due: packages, compiler-core

feat(custom-element): allow specifying additional options for `shadowRoot` in custom elements (#12965)
  packages/runtime-dom/__tests__/customElement.spec.ts
  packages/runtime-dom/src/apiCustomElement.ts
Due: packages, runtime-dom

refactor(compiler): add separate transform for vbind shorthand (#13438)
  packages/compiler-core/__tests__/transforms/vBind.spec.ts
  packages/compiler-core/__tests__/transforms/vFor.spec.ts
  packages/compiler-core/__tests__/transforms/vIf.spec.ts
  packages/compiler-core/src/compile.ts
  packages/compiler-core/src/index.ts
  packages/compiler-core/src/transforms/transformVBindShorthand.ts
  packages/compiler-core/src/transforms/vBind.ts
  packages/compiler-core/src/transforms/vFor.ts
  packages/compiler-core/src/utils.ts
  packages/compiler-dom/__tests__/transforms/__snapshots__/vModel.spec.ts.snap
  packages/compiler-dom/__tests__/transforms/vModel.spec.ts
  packages/compiler-ssr/__tests__/ssrTransitionGroup.spec.ts
  packages/compiler-ssr/src/index.ts
Due: packages, compiler-core, compiler-dom

chore: reuse analyzed scopeIds when possible
  packages/compiler-core/__tests__/transforms/transformExpressions.spec.ts
  packages/compiler-core/src/babelUtils.ts
Due: packages, compiler-core

Path conditions:
  packages: any of: packages/
  compiler-core: any of: packages/compiler-core/
  compiler-dom: any of: packages/compiler-dom/
  compiler-sfc: any of: packages/compiler-sfc/
  reactivity: any of: packages/reactivity/
  reactivity-transform: any of: packages/reactivity-transform/
  runtime-core: any of: packages/runtime-core/
  runtime-dom: any of: packages/runtime-dom/
  runtime-test: any of: packages/runtime-test/
  server-renderer: any of: packages/server-renderer/
  sfc-playground: any of: packages/sfc-playground/
  shared: any of: packages/shared/
  size-check: any of: packages/size-check/
  template-explorer: any of: packages/template-explorer/
  vue: any of: packages/vue/
  vue-compat: any of: packages/vue-compat/
