Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

fix(custom-element): Correctly handle number type props in prod
  packages/runtime-dom/src/apiCustomElement.ts
Due: packages, runtime-dom

fix(custom-element): added unit test
  packages/runtime-dom/__tests__/customElement.spec.ts
  packages/runtime-dom/src/apiCustomElement.ts
Due: packages, runtime-dom

fix(compiler-core): add isTemplateFor to ast of For nodes
  packages/compiler-core/__tests__/transforms/vFor.spec.ts
  packages/compiler-core/src/ast.ts
  packages/compiler-core/src/transforms/vFor.ts
Due: packages, compiler-core

fix(compiler-core): specificity of type of ForIteratorExpression
  packages/compiler-core/src/ast.ts
Due: packages, compiler-core

also add original template props
  packages/compiler-core/__tests__/transforms/vFor.spec.ts
  packages/compiler-core/src/ast.ts
  packages/compiler-core/src/transforms/vFor.ts
Due: packages, compiler-core

chore: add more case
  packages/compiler-core/__tests__/transforms/__snapshots__/transformExpressions.spec.ts.snap
  packages/compiler-core/__tests__/transforms/transformExpressions.spec.ts
  packages/compiler-core/src/babelUtils.ts
Due: packages, compiler-core

chore: remove console
  packages/runtime-dom/src/apiCustomElement.ts
Due: packages, runtime-dom

chore: remove expect
  packages/runtime-dom/__tests__/customElement.spec.ts
Due: packages, runtime-dom

types: replace undefined types with optional parameters
  packages/compiler-dom/src/parserOptions.ts
  packages/runtime-core/src/component.ts
  packages/runtime-core/src/componentOptions.ts
  packages/runtime-dom/src/apiCustomElement.ts
  packages/runtime-dom/src/components/Transition.ts
  packages/runtime-dom/src/directives/vModel.ts
Due: packages, compiler-dom, runtime-core, runtime-dom

chore: replace undefined types with optional parameters
  packages/compiler-core/src/ast.ts
  packages/reactivity/src/effect.ts
  packages/reactivity/src/effectScope.ts
  packages/runtime-core/src/componentOptions.ts
  packages/runtime-dom/src/modules/events.ts
  packages/shared/src/normalizeProp.ts
Due: packages, compiler-core, reactivity, runtime-core, runtime-dom, shared

chore(sfc-playground): calculate repl height using css unit
  packages/sfc-playground/src/App.vue
Due: packages, sfc-playground

chore(compiler-sfc): add break in switch case
  packages/compiler-sfc/src/script/resolveType.ts
Due: packages, compiler-sfc

chore(sfc-playground): replace div in ul element with li element
  packages/sfc-playground/src/VersionSelect.vue
Due: packages, sfc-playground

ci: add size report
  .github/workflows/ci.yml
  .github/workflows/size-report.yml
  package.json
  packages/size-check/brotli.js
  packages/size-check/package.json
  packages/size-check/size-report.js
  packages/size-check/vite.config.ts
  pnpm-lock.yaml
  scripts/build.js
  scripts/export-size.js
  scripts/size-report.js
Due: packages, size-check

chore: updated complier
  packages/compiler-sfc/src/script/defineProps.ts
Due: packages, compiler-sfc

refactor: exports
  .github/workflows/size-report.yml
  package.json
  packages/size-check/size-report.ts
  packages/size-check/vite.config.ts
  pnpm-lock.yaml
  scripts/export-size.js
  scripts/export-size.ts
  scripts/size-report.ts
  size.md
Due: packages, size-check

fix: baseline
  package.json
  packages/size-check/package.json
  packages/size-check/size-report.ts
  packages/size-check/vite.config.ts
Due: packages, size-check

refactor: change title
  scripts/size-report.ts
  size.md
Due: none

refactor: rename
  package.json
  scripts/size-report.ts
  scripts/usage-size.ts
Due: none

refactor: promise
  scripts/build.js
Due: none

chore: format code
  packages/compiler-sfc/src/script/defineProps.ts
Due: packages, compiler-sfc

chore: added isCE option to compiler sfc ctx
  packages/compiler-sfc/src/script/context.ts
  packages/compiler-sfc/src/script/defineProps.ts
  packages/runtime-dom/src/apiCustomElement.ts
Due: packages, compiler-sfc, runtime-dom

chore: updated unit test
  packages/compiler-sfc/__tests__/compileScript/__snapshots__/defineProps.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript/defineProps.spec.ts
  packages/runtime-dom/__tests__/customElement.spec.ts
Due: packages, compiler-sfc, runtime-dom

refactor: remove baseline
  .eslintrc.cjs
  .github/contributing.md
  package.json
  packages/size-check/README.md
  packages/size-check/package.json
  packages/size-check/size-report.ts
  packages/size-check/src/index.ts
  packages/size-check/vite.config.ts
  scripts/aliases.js
  scripts/size-report.ts
  tsconfig.build.json
Due: packages, size-check

refactor: parallel build
  package.json
Due: none

chore: update lockfile
  pnpm-lock.yaml
Due: none

chore: upgrade terser
  package.json
  pnpm-lock.yaml
Due: none

fix
  package.json
Due: none

ci: improved size report (#8992)
  .eslintrc.cjs
  .github/contributing.md
  .github/workflows/ci.yml
  .github/workflows/size-report.yml
  package.json
  packages/size-check/README.md
  packages/size-check/brotli.js
  packages/size-check/package.json
  packages/size-check/src/index.ts
  packages/size-check/vite.config.js
  pnpm-lock.yaml
  scripts/aliases.js
  scripts/build.js
  scripts/size-report.ts
  scripts/usage-size.ts
  tsconfig.build.json
Due: packages, size-check

ci: fix size report permissions
  .github/workflows/size-data.yml
  .github/workflows/size-report.yml
Due: none

chore: Use `import type` to import
  packages/compiler-core/src/options.ts
Due: packages, compiler-core

chore: Use `import type` to import
  packages/compiler-core/src/ast.ts
  packages/runtime-core/src/h.ts
Due: packages, compiler-core, runtime-core

chore: added `@typescript-eslint/eslint-plugin` dep
  package.json
  pnpm-lock.yaml
Due: none

chore: replace `Object.assign` with `extend`
  packages/compiler-sfc/src/compileScript.ts
  packages/compiler-sfc/src/script/resolveType.ts
  packages/runtime-core/src/compat/global.ts
  packages/runtime-core/src/componentPublicInstance.ts
  packages/template-explorer/src/index.ts
  packages/template-explorer/src/options.ts
Due: packages, compiler-sfc, runtime-core, template-explorer

chore: replace `() => {}` with `NOOP`
  packages/compiler-core/src/transform.ts
  packages/runtime-core/src/compat/global.ts
Due: packages, compiler-core, runtime-core

chore: extend HTMLElement with Symbol as key
  packages/runtime-dom/__tests__/patchClass.spec.ts
  packages/runtime-dom/src/components/Transition.ts
  packages/runtime-dom/src/components/TransitionGroup.ts
  packages/runtime-dom/src/modules/class.ts
  packages/vue/__tests__/svgNamespace.spec.ts
Due: packages, runtime-dom, vue

chore: remove console
  packages/dts-test/defineComponent.test-d.tsx
  packages/vue/__tests__/svgNamespace.spec.ts
Due: packages, vue

chore: extend HTMLElement with Symbol as key
  packages/runtime-core/src/components/BaseTransition.ts
  packages/runtime-dom/src/components/TransitionGroup.ts
  packages/runtime-dom/src/directives/vModel.ts
  packages/runtime-dom/src/directives/vShow.ts
  packages/runtime-dom/src/modules/events.ts
  packages/runtime-dom/src/modules/style.ts
Due: packages, runtime-core, runtime-dom

chore: rollback code
  packages/dts-test/defineComponent.test-d.tsx
Due: packages

Path conditions:
  packages: any of: packages/
  compiler-core: any of: packages/compiler-core/
  compiler-dom: any of: packages/compiler-dom/
  compiler-sfc: any of: packages/compiler-sfc/
  reactivity: any of: packages/reactivity/
  reactivity-transform: any of: packages/reactivity-transform/
  runtime-core: any of: packages/runtime-core/
  runtime-dom: any of: packages/runtime-dom/
  runtime-test: any of: packages/runtime-test/
  server-renderer: any of: packages/server-renderer/
  sfc-playground: any of: packages/sfc-playground/
  shared: any of: packages/shared/
  size-check: any of: packages/size-check/
  template-explorer: any of: packages/template-explorer/
  vue: any of: packages/vue/
  vue-compat: any of: packages/vue-compat/
