Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

wip: save
  packages/runtime-dom/src/components/TransitionGroup.ts
  packages/runtime-dom/src/index.ts
  packages/runtime-vapor/src/apiCreateFor.ts
  packages/runtime-vapor/src/block.ts
  packages/runtime-vapor/src/components/Transition.ts
  packages/runtime-vapor/src/components/TransitionGroup.ts
  packages/runtime-vapor/src/index.ts
Due: packages, runtime-dom

wip: save
  packages/compiler-vapor/src/utils.ts
  packages/runtime-dom/src/components/TransitionGroup.ts
  packages/runtime-dom/src/index.ts
  packages/runtime-vapor/src/apiCreateFor.ts
  packages/runtime-vapor/src/components/Transition.ts
  packages/runtime-vapor/src/components/TransitionGroup.ts
Due: packages, runtime-dom

wip: handle tag prop and attrs fallthrough
  packages/runtime-dom/src/components/TransitionGroup.ts
  packages/runtime-vapor/src/components/TransitionGroup.ts
Due: packages, runtime-dom

test: add e2e tests
  packages-private/vapor-e2e-test/__tests__/transition-group.spec.ts
  packages-private/vapor-e2e-test/index.html
  packages-private/vapor-e2e-test/transition-group/App.vue
  packages-private/vapor-e2e-test/transition-group/index.html
  packages-private/vapor-e2e-test/transition-group/main.ts
  packages-private/vapor-e2e-test/vite.config.ts
  packages/compiler-vapor/src/utils.ts
  packages/vue/__tests__/e2e/style.css
  packages/vue/__tests__/e2e/transition.html
Due: packages, vue

wip: add more tests
  packages-private/vapor-e2e-test/__tests__/transition-group.spec.ts
  packages-private/vapor-e2e-test/__tests__/transition.spec.ts
  packages-private/vapor-e2e-test/transition-group/App.vue
  packages/compiler-vapor/src/transforms/transformElement.ts
Due: packages

wip(vapor): adjust children and block generation order for hydration
  packages/compiler-vapor/__tests__/__snapshots__/compile.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformChildren.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformElement.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vIf.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vSlot.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/transformElement.spec.ts
  packages/compiler-vapor/__tests__/transforms/transformSlotOutlet.spec.ts
  packages/compiler-vapor/__tests__/transforms/transformTemplateRef.spec.ts
  packages/compiler-vapor/__tests__/transforms/vFor.spec.ts
  packages/compiler-vapor/__tests__/transforms/vIf.spec.ts
  packages/compiler-vapor/__tests__/transforms/vModel.spec.ts
  packages/compiler-vapor/__tests__/transforms/vOnce.spec.ts
  packages/compiler-vapor/__tests__/transforms/vSlot.spec.ts
  packages/compiler-vapor/src/generators/block.ts
  packages/compiler-vapor/src/generators/operation.ts
  packages/compiler-vapor/src/generators/template.ts
  packages/compiler-vapor/src/ir/index.ts
  packages/compiler-vapor/src/transforms/transformChildren.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
  packages/compiler-vapor/src/transforms/transformSlotOutlet.ts
  packages/compiler-vapor/src/transforms/vFor.ts
  packages/compiler-vapor/src/transforms/vIf.ts
  packages/runtime-vapor/__tests__/hydration.spec.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/dom/hydration.ts
  packages/runtime-vapor/src/insertionState.ts
Due: packages

wip(vapor): corresponding runtime behavior for if/for/slot-outlet post compiler change
  packages/runtime-vapor/src/apiCreateFor.ts
  packages/runtime-vapor/src/apiCreateIf.ts
  packages/runtime-vapor/src/componentSlots.ts
Due: packages

chore(vapor): remove no longer needed CREATE_TEXT_NODE IR type
  packages/compiler-vapor/src/generators/operation.ts
  packages/compiler-vapor/src/generators/text.ts
  packages/compiler-vapor/src/ir/index.ts
Due: packages

wip: handle vdom interop
  packages-private/vapor-e2e-test/__tests__/transition-group.spec.ts
  packages-private/vapor-e2e-test/index.html
  packages-private/vapor-e2e-test/transition-group/App.vue
  packages-private/vapor-e2e-test/transition-group/components/VaporComp.vue
  packages-private/vapor-e2e-test/transition-group/components/VdomComp.vue
  packages-private/vapor-e2e-test/transition-group/main.ts
  packages-private/vapor-e2e-test/transition/App.vue
  packages/runtime-vapor/src/apiCreateFor.ts
  packages/runtime-vapor/src/components/TransitionGroup.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(vapor): properly handle return when compiling vapor component for ssr
  packages/compiler-sfc/src/compileScript.ts
Due: packages, compiler-sfc

test(vapor): refactor hydration tests to include compilation
  packages/runtime-vapor/__tests__/hydration.spec.ts
Due: packages

wip(vapor): fix children gen for dynamic with anchor insertion
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformChildren.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/transformChildren.spec.ts
  packages/compiler-vapor/src/generators/template.ts
  packages/runtime-vapor/__tests__/hydration.spec.ts
Due: packages

wip: vapor interop + filter out reserved props
  packages-private/vapor-e2e-test/__tests__/vdomInterop.spec.ts
  packages-private/vapor-e2e-test/interop/App.vue
  packages-private/vapor-e2e-test/transition-group/App.vue
  packages-private/vapor-e2e-test/transition-group/main.ts
  packages-private/vapor-e2e-test/transition/components/VaporSlot.vue
  packages-private/vapor-e2e-test/transition/style.css
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix: tests
  packages-private/vapor-e2e-test/transition-group/App.vue
  packages-private/vapor-e2e-test/transition-group/main.ts
Due: none

feat(vapor): vapor TransitionGroup (#13019)
  packages-private/vapor-e2e-test/__tests__/transition-group.spec.ts
  packages-private/vapor-e2e-test/__tests__/transition.spec.ts
  packages-private/vapor-e2e-test/__tests__/vdomInterop.spec.ts
  packages-private/vapor-e2e-test/index.html
  packages-private/vapor-e2e-test/interop/App.vue
  packages-private/vapor-e2e-test/transition-group/App.vue
  packages-private/vapor-e2e-test/transition-group/components/VaporComp.vue
  packages-private/vapor-e2e-test/transition-group/components/VdomComp.vue
  packages-private/vapor-e2e-test/transition-group/index.html
  packages-private/vapor-e2e-test/transition-group/main.ts
  packages-private/vapor-e2e-test/transition/App.vue
  packages-private/vapor-e2e-test/transition/components/VaporSlot.vue
  packages-private/vapor-e2e-test/transition/style.css
  packages-private/vapor-e2e-test/vite.config.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
  packages/compiler-vapor/src/utils.ts
  packages/runtime-dom/src/components/TransitionGroup.ts
  packages/runtime-dom/src/index.ts
  packages/runtime-vapor/src/apiCreateFor.ts
  packages/runtime-vapor/src/block.ts
  packages/runtime-vapor/src/components/Transition.ts
  packages/runtime-vapor/src/components/TransitionGroup.ts
  packages/runtime-vapor/src/index.ts
  packages/runtime-vapor/src/vdomInterop.ts
  packages/vue/__tests__/e2e/style.css
  packages/vue/__tests__/e2e/transition.html
Due: packages, runtime-dom, vue

chore: update node v22 on netlify (#12613)
  netlify.toml
Due: none

wip: save
  packages/compiler-vapor/src/transforms/vIf.ts
  packages/compiler-vapor/src/transforms/vSlot.ts
  packages/compiler-vapor/src/utils.ts
  packages/runtime-core/src/components/BaseTransition.ts
  packages/runtime-core/src/renderer.ts
  packages/runtime-dom/src/components/TransitionGroup.ts
  packages/runtime-vapor/src/apiCreateFor.ts
  packages/runtime-vapor/src/block.ts
  packages/runtime-vapor/src/components/TransitionGroup.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages, runtime-core, runtime-dom

wip(vapor): test cases
  packages/runtime-vapor/__tests__/hydration.spec.ts
Due: packages

wip(vapor): fix insertion for vdom interop
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/componentSlots.ts
Due: packages

chore: update
  packages/runtime-vapor/src/components/TransitionGroup.ts
Due: packages

chore: rename
  packages/runtime-vapor/src/block.ts
  packages/runtime-vapor/src/components/TransitionGroup.ts
Due: packages

fix(types): fix types error
  packages/reactivity/src/ref.ts
  packages/runtime-core/src/scheduler.ts
Due: packages, reactivity, runtime-core

chore: update
  packages/runtime-core/src/components/BaseTransition.ts
  packages/runtime-core/src/index.ts
  packages/runtime-vapor/src/block.ts
  packages/runtime-vapor/src/components/Transition.ts
  packages/runtime-vapor/src/components/TransitionGroup.ts
Due: packages, runtime-core

wip: port tests and fix bugs
  packages-private/vapor-e2e-test/__tests__/transition.spec.ts
  packages-private/vapor-e2e-test/transition/App.vue
  packages/runtime-core/src/components/BaseTransition.ts
  packages/runtime-vapor/src/components/Transition.ts
Due: packages, runtime-core

wip: handle props update
  packages/runtime-vapor/src/apiCreateFor.ts
  packages/runtime-vapor/src/block.ts
  packages/runtime-vapor/src/components/Transition.ts
Due: packages

test: add more tests
  packages-private/vapor-e2e-test/__tests__/transition.spec.ts
  packages-private/vapor-e2e-test/transition/App.vue
  packages/compiler-vapor/src/generators/component.ts
Due: packages

wip: port tests and fix bugs
  packages-private/vapor-e2e-test/__tests__/transition.spec.ts
  packages-private/vapor-e2e-test/transition/App.vue
  packages/runtime-vapor/src/components/Transition.ts
Due: packages

fix(custom-element): ensure correct order of nested component styles
  packages/runtime-dom/__tests__/customElement.spec.ts
  packages/runtime-dom/src/apiCustomElement.ts
Due: packages, runtime-dom

test: add more tests
  packages-private/vapor-e2e-test/__tests__/transition.spec.ts
  packages-private/vapor-e2e-test/transition/App.vue
Due: none

test: add more tests
  packages-private/vapor-e2e-test/__tests__/transition.spec.ts
  packages-private/vapor-e2e-test/transition/App.vue
  packages/runtime-vapor/src/components/TransitionGroup.ts
Due: packages

wip: handle fallthrough attrs
  packages-private/vapor-e2e-test/__tests__/transition.spec.ts
  packages/runtime-vapor/src/apiCreateFor.ts
  packages/runtime-vapor/src/block.ts
  packages/runtime-vapor/src/components/Transition.ts
Due: packages

Expose __typeEmits
  packages/runtime-core/src/apiDefineComponent.ts
Due: packages, runtime-core

feat(types): add type TemplateRef (#12645)
  packages-private/dts-test/ref.test-d.ts
  packages/runtime-core/src/helpers/useTemplateRef.ts
  packages/runtime-core/src/index.ts
Due: packages, runtime-core

fix(customFormatter): properly accessing ref value during debugger (#12948)
  packages/runtime-core/src/customFormatter.ts
Due: packages, runtime-core

chore: update
  packages/runtime-dom/src/apiCustomElement.ts
Due: packages, runtime-dom

wip: handle fallthrough attrs
  packages/runtime-vapor/src/components/Transition.ts
  packages/runtime-vapor/src/components/TransitionGroup.ts
Due: packages

wip: add more tests
  packages-private/vapor-e2e-test/__tests__/transition.spec.ts
  packages-private/vapor-e2e-test/transition/App.vue
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/components/Transition.ts
  packages/runtime-vapor/src/components/TransitionGroup.ts
Due: packages

wip: work with v-show appear
  packages-private/vapor-e2e-test/__tests__/transition.spec.ts
  packages-private/vapor-e2e-test/transition/App.vue
  packages/compiler-vapor/__tests__/transforms/TransformTransition.spec.ts
  packages/compiler-vapor/__tests__/transforms/__snapshots__/TransformTransition.spec.ts.snap
  packages/compiler-vapor/src/generators/block.ts
  packages/compiler-vapor/src/generators/vShow.ts
  packages/compiler-vapor/src/ir/index.ts
  packages/compiler-vapor/src/transforms/utils.ts
  packages/compiler-vapor/src/transforms/vShow.ts
  packages/runtime-vapor/src/directives/vShow.ts
Due: packages

test: fix snaps
  packages/compiler-vapor/__tests__/transforms/__snapshots__/TransformTransition.spec.ts.snap
Due: packages

Path conditions:
  packages: any of: packages/
  compiler-core: any of: packages/compiler-core/
  compiler-dom: any of: packages/compiler-dom/
  compiler-sfc: any of: packages/compiler-sfc/
  reactivity: any of: packages/reactivity/
  reactivity-transform: any of: packages/reactivity-transform/
  runtime-core: any of: packages/runtime-core/
  runtime-dom: any of: packages/runtime-dom/
  runtime-test: any of: packages/runtime-test/
  server-renderer: any of: packages/server-renderer/
  sfc-playground: any of: packages/sfc-playground/
  shared: any of: packages/shared/
  size-check: any of: packages/size-check/
  template-explorer: any of: packages/template-explorer/
  vue: any of: packages/vue/
  vue-compat: any of: packages/vue-compat/
