Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

chore: minor tweaks
  packages/reactivity/__tests__/computed.spec.ts
Due: packages, reactivity

refactor(reactivity): simplify isDirty condition
  packages/reactivity/src/effect.ts
Due: packages, reactivity

fix(hydration): provide compat fallback for idle callback
  packages/runtime-core/src/hydrationStrategies.ts
Due: packages, runtime-core

chore: return parentheses
  packages/runtime-core/src/hydrationStrategies.ts
Due: packages, runtime-core

refactor(reactivity): simplify isDirty condition (#11933)
  packages/reactivity/src/effect.ts
Due: packages, reactivity

fix(reactivity): rely on dirty check only when computed has deps (#11931)
  packages/reactivity/__tests__/computed.spec.ts
  packages/reactivity/src/effect.ts
Due: packages, reactivity

types: improve app.directive type generics (#11926)
  packages-private/dts-test/appDirective.test-d.ts
  packages/runtime-core/src/apiCreateApp.ts
Due: packages, runtime-core

chore(types): migrate global types to packages-private (#11904)
  packages-private/global.d.ts
  packages/global.d.ts
Due: packages

chore: update test
  packages/global.d.ts
  packages/runtime-core/__tests__/apiWatch.spec.ts
Due: packages, runtime-core

fix(watch): unwatch should be callable during SSR (#11925)
  packages/runtime-core/__tests__/apiWatch.spec.ts
  packages/runtime-core/src/apiWatch.ts
Due: packages, runtime-core

fix(watch): `once` option should be ignored by watchEffect (#11884)
  packages/reactivity/__tests__/watch.spec.ts
  packages/reactivity/src/watch.ts
Due: packages, reactivity

fix(compile-dom): should be able to stringify mathML (#11891)
  packages/compiler-dom/__tests__/transforms/stringifyStatic.spec.ts
  packages/compiler-dom/src/transforms/stringifyStatic.ts
  packages/shared/src/domAttrConfig.ts
Due: packages, compiler-dom, shared

fix(compiler-sfc): preserve old behavior when using withDefaults with desutructure
  packages/compiler-sfc/__tests__/compileScript/definePropsDestructure.spec.ts
  packages/compiler-sfc/src/script/context.ts
  packages/compiler-sfc/src/script/defineProps.ts
Due: packages, compiler-sfc

chore(deps): update vitest to ^2.1.1
  package.json
  packages/runtime-core/__tests__/components/Teleport.spec.ts
  pnpm-lock.yaml
  vitest.e2e.config.ts
  vitest.unit.config.ts
Due: packages, runtime-core

fix(reactivity): avoid exponential perf cost with deeply chained computeds
  packages/reactivity/src/computed.ts
  packages/reactivity/src/dep.ts
  packages/reactivity/src/effect.ts
Due: packages, reactivity

chore: update test scripts
  package.json
Due: none

chore(deps): update vitest to ^2.1.1 (#11943)
  package.json
  packages/runtime-core/__tests__/components/Teleport.spec.ts
  pnpm-lock.yaml
  vitest.e2e.config.ts
  vitest.unit.config.ts
Due: packages, runtime-core

fix: provide compatible globalThis
  packages/runtime-core/src/hydrationStrategies.ts
Due: packages, runtime-core

chore: combine import
  packages/runtime-core/src/hydrationStrategies.ts
Due: packages, runtime-core

refactor: reduce call stack depth for chained computeds
  packages/reactivity/src/computed.ts
  packages/reactivity/src/dep.ts
  packages/reactivity/src/effect.ts
Due: packages, reactivity

chore: remove not needed statement
  packages/reactivity/src/effect.ts
Due: packages, reactivity

fix(reactivity): avoid exponential perf cost and reduce call stack depth for deeply chained computeds (#11944)
  packages/reactivity/src/computed.ts
  packages/reactivity/src/dep.ts
  packages/reactivity/src/effect.ts
Due: packages, reactivity

types: use typeof for annotations
  packages/runtime-core/src/hydrationStrategies.ts
Due: packages, runtime-core

release: v3.5.6
  CHANGELOG.md
  package.json
  packages/compiler-core/package.json
  packages/compiler-dom/package.json
  packages/compiler-sfc/package.json
  packages/compiler-ssr/package.json
  packages/reactivity/package.json
  packages/runtime-core/package.json
  packages/runtime-dom/package.json
  packages/server-renderer/package.json
  packages/shared/package.json
  packages/vue-compat/package.json
  packages/vue/package.json
Due: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, runtime-core, runtime-dom, server-renderer, shared, vue, vue-compat

feat(watch): add lazyWatch function
  CHANGELOG.md
  package.json
  packages/compiler-core/package.json
  packages/compiler-dom/package.json
  packages/compiler-sfc/package.json
  packages/compiler-ssr/package.json
  packages/reactivity/__tests__/watch.spec.ts
  packages/reactivity/package.json
  packages/reactivity/src/index.ts
  packages/reactivity/src/watch.ts
  packages/runtime-core/package.json
  packages/runtime-dom/package.json
  packages/server-renderer/package.json
  packages/shared/package.json
  packages/vue-compat/package.json
  packages/vue/package.json
Due: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, runtime-core, runtime-dom, server-renderer, shared, vue, vue-compat

fix(runtime-core): withDefaults & union types
  packages-private/dts-test/setupHelpers.test-d.ts
  packages/runtime-core/src/apiSetupHelpers.ts
Due: packages, runtime-core

ci: cleanup & fix repo
  .github/workflows/ci.yml
  .github/workflows/close-cant-reproduce-issues.yml
  .github/workflows/ecosystem-ci-trigger.yml
  .github/workflows/lock-closed-issues.yml
  .github/workflows/release.yml
  .github/workflows/size-data.yml
  .github/workflows/size-report.yml
  .github/workflows/test.yml
Due: none

chore: update readme & sponsors
  .github/FUNDING.yml
  README.md
Due: none

feat(compiler-vapor): support v-slots expression for jsx-vapor (#271)
  packages/compiler-vapor/src/generators/component.ts
  packages/compiler-vapor/src/ir/component.ts
Due: packages

chore(benchmark): fix path
  scripts/utils.js
Due: none

fix(runtime-vapor): swc minify error
  benchmark/index.js
  benchmark/package.json
  packages/runtime-vapor/src/dom/element.ts
  pnpm-lock.yaml
Due: packages

chore(benchmark): 4x cpu slowdown
  benchmark/index.js
Due: none

fix(runtime-core): regular comment nodes should not use hydrateOnVisible
  packages/runtime-core/src/hydrationStrategies.ts
Due: packages, runtime-core

chore: update for ci
  packages/runtime-core/src/hydrationStrategies.ts
Due: packages, runtime-core

perf: improve benchmark test code (#268)
  benchmark/client/App.vue
  benchmark/client/data.ts
  packages/runtime-vapor/src/index.ts
Due: packages

fix(scheduler): ensure recursive jobs can't be queued twice
  packages/runtime-core/__tests__/scheduler.spec.ts
  packages/runtime-core/src/scheduler.ts
Due: packages, runtime-core

chore: update test
  packages/vue/__tests__/e2e/hydration-strat-visible.html
  packages/vue/__tests__/e2e/hydrationStrategies.spec.ts
Due: packages, vue

chore: update
  packages/runtime-core/src/hydrationStrategies.ts
Due: packages, runtime-core

chore: remove unused variable and inline function call
  packages/runtime-core/src/hydrationStrategies.ts
Due: packages, runtime-core

fix: remove line
  packages/runtime-core/src/hydrationStrategies.ts
Due: packages, runtime-core

Path conditions:
  packages: any of: packages/
  compiler-core: any of: packages/compiler-core/
  compiler-dom: any of: packages/compiler-dom/
  compiler-sfc: any of: packages/compiler-sfc/
  reactivity: any of: packages/reactivity/
  reactivity-transform: any of: packages/reactivity-transform/
  runtime-core: any of: packages/runtime-core/
  runtime-dom: any of: packages/runtime-dom/
  runtime-test: any of: packages/runtime-test/
  server-renderer: any of: packages/server-renderer/
  sfc-playground: any of: packages/sfc-playground/
  shared: any of: packages/shared/
  size-check: any of: packages/size-check/
  template-explorer: any of: packages/template-explorer/
  vue: any of: packages/vue/
  vue-compat: any of: packages/vue-compat/
