Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

codecov.yml:

coverage:
  status:
    project:
      default:
        # Status checks are set to be non-blocking
        informational: true
    patch:
      default:
        # Status checks are set to be non-blocking
        informational: true

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: packages
      paths:
        - packages/
    - component_id: compiler-core
      paths:
        - packages/compiler-core/
    - component_id: compiler-dom
      paths:
        - packages/compiler-dom/
    - component_id: compiler-sfc
      paths:
        - packages/compiler-sfc/
    - component_id: compiler-sfc
      paths:
        - packages/compiler-sfc/
    - component_id: reactivity
      paths:
        - packages/reactivity/
    - component_id: reactivity-transform
      paths:
        - packages/reactivity-transform/
    - component_id: runtime-core
      paths:
        - packages/runtime-core/
    - component_id: runtime-dom
      paths:
        - packages/runtime-dom/
    - component_id: runtime-test
      paths:
        - packages/runtime-test/
    - component_id: server-renderer
      paths:
        - packages/server-renderer/
    - component_id: sfc-playground
      paths:
        - packages/sfc-playground/
    - component_id: shared
      paths:
        - packages/shared/
    - component_id: size-check
      paths:
        - packages/size-check/
    - component_id: template-explorer
      paths:
        - packages/template-explorer/
    - component_id: vue
      paths:
        - packages/vue/
    - component_id: vue-compat
      paths:
        - packages/vue-compat/

chore: move ts-ignore comment in release script
  scripts/release.js
Due: none

workflow: remove yarn usage in release script
  scripts/release.js
Due: none

release: v3.3.0-alpha.9
  CHANGELOG.md
  package.json
  packages/compiler-core/package.json
  packages/compiler-dom/package.json
  packages/compiler-sfc/package.json
  packages/compiler-ssr/package.json
  packages/dts-test/package.json
  packages/reactivity-transform/package.json
  packages/reactivity/package.json
  packages/runtime-core/package.json
  packages/runtime-dom/package.json
  packages/runtime-test/package.json
  packages/server-renderer/package.json
  packages/sfc-playground/package.json
  packages/shared/package.json
  packages/size-check/package.json
  packages/template-explorer/package.json
  packages/vue-compat/package.json
  packages/vue/package.json
  pnpm-lock.yaml
Due: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

fix(sfc-playground): improve type
  packages/global.d.ts
  packages/sfc-playground/src/App.vue
  packages/sfc-playground/src/Header.vue
  packages/sfc-playground/src/download/download.ts
Due: packages, sfc-playground

fix(runtime-core): merge emits strategy
  packages/runtime-core/src/componentOptions.ts
Due: packages, runtime-core

fix: type
  packages/runtime-core/src/componentOptions.ts
Due: packages, runtime-core

fix: code
  packages/runtime-core/src/componentOptions.ts
Due: packages, runtime-core

test: add test case
  packages/runtime-core/__tests__/componentEmits.spec.ts
Due: packages, runtime-core

fix: remove unused
  packages/sfc-playground/src/Header.vue
Due: packages, sfc-playground

fix: code
  packages/runtime-core/src/apiSetupHelpers.ts
  packages/runtime-core/src/componentOptions.ts
Due: packages, runtime-core

perf(compiler): use source-map-js
  packages/compiler-core/__tests__/compile.spec.ts
  packages/compiler-core/package.json
  packages/compiler-core/src/codegen.ts
  packages/compiler-sfc/__tests__/parse.spec.ts
  packages/compiler-sfc/package.json
  packages/compiler-sfc/src/compileScript.ts
  packages/compiler-sfc/src/compileStyle.ts
  packages/compiler-sfc/src/compileTemplate.ts
  packages/compiler-sfc/src/parse.ts
  packages/compiler-sfc/src/style/preprocessors.ts
  packages/template-explorer/package.json
  packages/template-explorer/src/index.ts
  packages/vue-compat/package.json
  pnpm-lock.yaml
Due: packages, compiler-core, compiler-sfc, template-explorer, vue-compat

chore(reactivity): remove unref type assertion
  packages/reactivity/src/reactive.ts
Due: packages, reactivity

chore: replace brotli with node:zlib (#8045)
  package.json
  packages/size-check/brotli.js
  pnpm-lock.yaml
  scripts/build.js
Due: packages, size-check

chore(reactivity): remove unnecessary type assertions. (#8046)
  packages/reactivity/src/reactive.ts
  packages/reactivity/src/ref.ts
Due: packages, reactivity

refactor: small tweaks
  packages/runtime-core/__tests__/componentEmits.spec.ts
  packages/runtime-core/src/apiSetupHelpers.ts
  packages/runtime-core/src/componentOptions.ts
Due: packages, runtime-core

refactor: simplify array merge
  packages/runtime-core/src/componentOptions.ts
Due: packages, runtime-core

fix(runtime-core): properly merge props and emits options from mixins (#8052)
  packages/runtime-core/__tests__/componentEmits.spec.ts
  packages/runtime-core/src/apiSetupHelpers.ts
  packages/runtime-core/src/componentOptions.ts
Due: packages, runtime-core

chore: update treeshaken deps list
  rollup.config.js
Due: none

update code
  packages/compiler-sfc/src/compileScript.ts
Due: packages, compiler-sfc

chore(reactivity): optimize ts type
  packages/reactivity/src/ref.ts
Due: packages, reactivity

chore: update preinstall script
  package.json
  scripts/preinstall.js
Due: none

refactor(compiler-sfc): (wip) split compileScript logic, use context, move defineProps
  packages/compiler-sfc/src/compileScript.ts
  packages/compiler-sfc/src/script/context.ts
  packages/compiler-sfc/src/script/defineProps.ts
  packages/compiler-sfc/src/script/definePropsDestructure.ts
  packages/compiler-sfc/src/script/resolveType.ts
  packages/compiler-sfc/src/script/utils.ts
Due: packages, compiler-sfc

refactor(compiler-sfc): remove useless type generation
  packages/compiler-sfc/__tests__/__snapshots__/compileScript.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript.spec.ts
  packages/compiler-sfc/src/compileScript.ts
Due: packages, compiler-sfc

refactor(compiler-sfc): extract more defineProps logic
  packages/compiler-core/src/babelUtils.ts
  packages/compiler-sfc/src/compileScript.ts
  packages/compiler-sfc/src/script/context.ts
  packages/compiler-sfc/src/script/defineModel.ts
  packages/compiler-sfc/src/script/defineProps.ts
  packages/compiler-sfc/src/script/definePropsDestructure.ts
  packages/compiler-sfc/src/script/resolveType.ts
  packages/compiler-sfc/src/script/utils.ts
Due: packages, compiler-core, compiler-sfc

refactor(compiler-sfc): collapse genRuntimeProps logic
  packages/compiler-sfc/src/compileScript.ts
  packages/compiler-sfc/src/script/context.ts
  packages/compiler-sfc/src/script/defineModel.ts
  packages/compiler-sfc/src/script/defineProps.ts
Due: packages, compiler-sfc

refactor(compiler-sfc): extract processDefineModel, move main magic string instance to context
  packages/compiler-sfc/src/compileScript.ts
  packages/compiler-sfc/src/script/context.ts
  packages/compiler-sfc/src/script/defineModel.ts
Due: packages, compiler-sfc

refactor(compiler-sfc): extract defineEmits logic
  packages/compiler-sfc/src/compileScript.ts
  packages/compiler-sfc/src/script/context.ts
  packages/compiler-sfc/src/script/defineEmits.ts
  packages/compiler-sfc/src/script/definePropsDestructure.ts
Due: packages, compiler-sfc

refactor(compiler-sfc): simplify props destructure arguments
  packages/compiler-sfc/src/compileScript.ts
  packages/compiler-sfc/src/script/definePropsDestructure.ts
Due: packages, compiler-sfc

refactor(compiler-sfc): split more logic
  packages/compiler-sfc/src/compileScript.ts
  packages/compiler-sfc/src/parse.ts
  packages/compiler-sfc/src/script/analyzeScriptBindings.ts
  packages/compiler-sfc/src/script/defineModel.ts
  packages/compiler-sfc/src/script/defineProps.ts
  packages/compiler-sfc/src/script/definePropsDestructure.ts
  packages/compiler-sfc/src/script/importUsageCheck.ts
  packages/compiler-sfc/src/script/utils.ts
Due: packages, compiler-sfc

refactor(compiler-sfc): split all macros
  packages/compiler-sfc/src/compileScript.ts
  packages/compiler-sfc/src/script/context.ts
  packages/compiler-sfc/src/script/defineExpose.ts
  packages/compiler-sfc/src/script/defineOptions.ts
  packages/compiler-sfc/src/script/defineSlots.ts
  packages/compiler-sfc/src/script/resolveType.ts
  packages/compiler-sfc/src/script/topLevelAwait.ts
Due: packages, compiler-sfc

refactor(compiler-sfc): split normal script logic
  packages/compiler-sfc/src/compileScript.ts
  packages/compiler-sfc/src/script/normalScript.ts
Due: packages, compiler-sfc
