Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

fix(github-workflow): branch should be master
  .github/workflows/pr-metrics.yml
Due: none

fix(runtime-core): type ExposedKeys removed defined properties on component instace
  packages/runtime-core/src/componentPublicInstance.ts
Due: packages, runtime-core

fix(compile-sfc): handle inline template source map in prod build
  packages/compiler-sfc/src/compileScript.ts
  packages/compiler-sfc/src/compileTemplate.ts
Due: packages, compiler-sfc

test: add test case
  packages/compiler-sfc/__tests__/compileScript.spec.ts
  packages/compiler-sfc/__tests__/compileTemplate.spec.ts
  packages/compiler-sfc/__tests__/utils.ts
  packages/compiler-sfc/src/compileScript.ts
  packages/compiler-sfc/src/compileTemplate.ts
Due: packages, compiler-sfc

dx(compiler-dom): move ssr specific template warning to compiler-ssr (fix #12088)
  packages/compiler-dom/src/index.ts
  packages/compiler-ssr/__tests__/validateHtmlNesting.spec.ts
  packages/compiler-ssr/src/htmlNesting.ts
  packages/compiler-ssr/src/index.ts
  packages/compiler-ssr/src/transforms/validateHtmlNesting.ts
  packages/server-renderer/src/helpers/ssrCompile.ts
Due: packages, compiler-dom, server-renderer

fix(Teleport): handle teleport unmount edge case
  packages/runtime-core/src/components/Teleport.ts
Due: packages, runtime-core

chore: minor tweaks
  packages/runtime-core/src/components/Teleport.ts
Due: packages, runtime-core

test: add test case
  packages/runtime-core/__tests__/components/Teleport.spec.ts
Due: packages, runtime-core

chore(deps): manually update puppeteer + @vitest/eslint-plugin
  package.json
  packages/vue/__tests__/e2e/todomvc.spec.ts
  pnpm-lock.yaml
Due: packages, vue

chore(deps): manually update puppeteer + @vitest/eslint-plugin (#12706)
  package.json
  packages/vue/__tests__/e2e/todomvc.spec.ts
  pnpm-lock.yaml
Due: packages, vue

fix(vMemo/vFor): add cacheIndex to v-for items for clean renderCache during unmounting
  packages/compiler-core/__tests__/transforms/__snapshots__/vMemo.spec.ts.snap
  packages/compiler-core/src/transforms/vFor.ts
Due: packages, compiler-core

wip: .
  packages/runtime-core/src/vnode.ts
Due: packages, runtime-core

Sync v1.0.0
  packages/reactivity/__tests__/computed.spec.ts
  packages/reactivity/src/computed.ts
  packages/reactivity/src/debug.ts
  packages/reactivity/src/effect.ts
  packages/reactivity/src/effectScope.ts
  packages/reactivity/src/system.ts
  packages/runtime-core/__tests__/apiSetupHelpers.spec.ts
Due: packages, reactivity, runtime-core

Update system.ts
  packages/reactivity/src/system.ts
Due: packages, reactivity

Update computed.ts
  packages/reactivity/src/computed.ts
Due: packages, reactivity

feat: complete release-ready implementation with TypeScript
  .eslintrc.js
  README.md
  jest.config.js
  package-lock.json
  package.json
  rollup.config.js
  src/index.ts
  src/types/index.ts
  src/utils/isEmpty.ts
  src/vue/isVEmpty.ts
  tests/isEmpty.test.ts
  tsconfig.json
Due: none

wip: save
  packages/compiler-core/__tests__/transforms/__snapshots__/vMemo.spec.ts.snap
  packages/compiler-core/src/transforms/vFor.ts
  packages/runtime-core/src/renderer.ts
  packages/runtime-core/src/vnode.ts
Due: packages, compiler-core, runtime-core

wip: save
  packages/compiler-core/__tests__/transforms/__snapshots__/vMemo.spec.ts.snap
  packages/compiler-core/src/transforms/vFor.ts
  packages/runtime-core/src/helpers/renderList.ts
Due: packages, compiler-core, runtime-core

refactor(reactivity): ports alien-signals 1.0.0 (#12570)
  packages/reactivity/__tests__/computed.spec.ts
  packages/reactivity/src/computed.ts
  packages/reactivity/src/debug.ts
  packages/reactivity/src/dep.ts
  packages/reactivity/src/effect.ts
  packages/reactivity/src/effectScope.ts
  packages/reactivity/src/ref.ts
  packages/reactivity/src/system.ts
  packages/runtime-core/__tests__/apiSetupHelpers.spec.ts
Due: packages, reactivity, runtime-core

fix: add optimization check for patchFlag
  packages/runtime-core/src/renderer.ts
Due: packages, runtime-core

test: add test case
  packages/runtime-core/__tests__/helpers/withMemo.spec.ts
  packages/runtime-core/src/vnode.ts
Due: packages, runtime-core

fix(renderer): support modifying `el` in `beforeMount`
  packages/runtime-core/src/renderer.ts
Due: packages, runtime-core

fix(runtime-vapor): properly mount component only with template in production mode
  packages/runtime-vapor/__tests__/component.spec.ts
  packages/runtime-vapor/src/component.ts
Due: packages

fix(reactivity): add warning for array operations on null/undefined values
  packages/reactivity/src/baseHandlers.ts
Due: packages, reactivity

fix(useTemplateRef): handle useTemplateRef edge case with vFor
  packages/runtime-core/src/rendererTemplateRef.ts
Due: packages, runtime-core

fix(test): use LaunchOptions instead of PuppeteerLaunchOptions
  packages/vue/__tests__/e2e/e2eUtils.ts
Due: packages, vue

fix(test): use LaunchOptions instead of PuppeteerLaunchOptions (#12734)
  packages/vue/__tests__/e2e/e2eUtils.ts
Due: packages, vue

test: add test
  packages/runtime-core/__tests__/helpers/useTemplateRef.spec.ts
  packages/runtime-core/src/rendererTemplateRef.ts
Due: packages, runtime-core

chore: bump tsslint
  package.json
  pnpm-lock.yaml
  tsslint.config.ts
Due: none

chore: fix lint
  packages/reactivity/src/system.ts
Due: packages, reactivity

fix(types/runtime-dom): correct boolean attributes type definitions
  packages/runtime-dom/src/jsx.ts
Due: packages, runtime-dom

fix(reactivity): ensure the first parameter in the reduce callback is reactive
  packages/reactivity/__tests__/reactiveArray.spec.ts
  packages/reactivity/src/arrayInstrumentations.ts
Due: packages, reactivity

feat: validator support return string
  packages/runtime-core/__tests__/componentProps.spec.ts
  packages/runtime-core/src/componentProps.ts
Due: packages, runtime-core

fix(runtime-core): change handling logic when KeepAlive's include prop is set to empty string (fix #11366)
  packages/runtime-core/__tests__/components/KeepAlive.spec.ts
  packages/runtime-core/src/components/KeepAlive.ts
Due: packages, runtime-core

feat: rename extendValidator
  packages/runtime-core/__tests__/componentProps.spec.ts
  packages/runtime-core/src/componentProps.ts
  packages/runtime-core/src/warning.ts
Due: packages, runtime-core

refactor(compiler-sfc): remove unused variable
  packages/compiler-sfc/src/compileScript.ts
Due: packages, compiler-sfc

chore(compiler-sfc): remove unused variable (#12750)
  packages/compiler-sfc/src/compileScript.ts
Due: packages, compiler-sfc

fix(useTemplateRef): don't update setup ref for useTemplateRef key
  packages/runtime-core/src/helpers/useTemplateRef.ts
  packages/runtime-core/src/rendererTemplateRef.ts
Due: packages, runtime-core

chore: update
  packages/runtime-core/src/helpers/useTemplateRef.ts
Due: packages, runtime-core

Update packages/runtime-core/src/helpers/useTemplateRef.ts
  packages/runtime-core/src/helpers/useTemplateRef.ts
Due: packages, runtime-core

Path conditions:
  packages: any of: packages/
  compiler-core: any of: packages/compiler-core/
  compiler-dom: any of: packages/compiler-dom/
  compiler-sfc: any of: packages/compiler-sfc/
  reactivity: any of: packages/reactivity/
  reactivity-transform: any of: packages/reactivity-transform/
  runtime-core: any of: packages/runtime-core/
  runtime-dom: any of: packages/runtime-dom/
  runtime-test: any of: packages/runtime-test/
  server-renderer: any of: packages/server-renderer/
  sfc-playground: any of: packages/sfc-playground/
  shared: any of: packages/shared/
  size-check: any of: packages/size-check/
  template-explorer: any of: packages/template-explorer/
  vue: any of: packages/vue/
  vue-compat: any of: packages/vue-compat/
