Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

codecov.yml:

coverage:
  status:
    project:
      default:
        # Status checks are set to be non-blocking
        informational: true
    patch:
      default:
        # Status checks are set to be non-blocking
        informational: true

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: packages
      paths:
        - packages/
    - component_id: compiler-core
      paths:
        - packages/compiler-core/
    - component_id: compiler-dom
      paths:
        - packages/compiler-dom/
    - component_id: compiler-sfc
      paths:
        - packages/compiler-sfc/
    - component_id: compiler-sfc
      paths:
        - packages/compiler-sfc/
    - component_id: reactivity
      paths:
        - packages/reactivity/
    - component_id: reactivity-transform
      paths:
        - packages/reactivity-transform/
    - component_id: runtime-core
      paths:
        - packages/runtime-core/
    - component_id: runtime-dom
      paths:
        - packages/runtime-dom/
    - component_id: runtime-test
      paths:
        - packages/runtime-test/
    - component_id: server-renderer
      paths:
        - packages/server-renderer/
    - component_id: sfc-playground
      paths:
        - packages/sfc-playground/
    - component_id: shared
      paths:
        - packages/shared/
    - component_id: size-check
      paths:
        - packages/size-check/
    - component_id: template-explorer
      paths:
        - packages/template-explorer/
    - component_id: vue
      paths:
        - packages/vue/
    - component_id: vue-compat
      paths:
        - packages/vue-compat/

test: add setupVitest to tsconfig
  scripts/setupVitest.ts
  tsconfig.json
Due: none

Update scripts/setupVitest.ts
  scripts/setupVitest.ts
Due: none

test(dts-test): add tests for element's 'class' attribute usage
  packages/dts-test/tsx.test-d.tsx
Due: packages

release: v3.3.0-alpha.7
  CHANGELOG.md
  package.json
  packages/compiler-core/package.json
  packages/compiler-dom/package.json
  packages/compiler-sfc/package.json
  packages/compiler-ssr/package.json
  packages/dts-test/package.json
  packages/reactivity-transform/package.json
  packages/reactivity/package.json
  packages/runtime-core/package.json
  packages/runtime-dom/package.json
  packages/runtime-test/package.json
  packages/server-renderer/package.json
  packages/sfc-playground/package.json
  packages/shared/package.json
  packages/size-check/package.json
  packages/template-explorer/package.json
  packages/vue-compat/package.json
  packages/vue/package.json
  pnpm-lock.yaml
Due: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

chore(shared): remove unnecessary type conversions
  packages/shared/src/makeMap.ts
Due: packages, shared

chore: check if the file exists
  scripts/utils.js
Due: none

fix(compiler-sfc): deconstruction props error repair (#8017)
  packages/compiler-sfc/src/compileScriptPropsDestructure.ts
Due: packages, compiler-sfc

fix(compiler-sfc): added unit test
  packages/compiler-sfc/__tests__/compileScriptPropsDestructure.spec.ts
Due: packages, compiler-sfc

fix(compiler-sfc): updated unit test
  packages/compiler-sfc/__tests__/compileScriptPropsDestructure.spec.ts
Due: packages, compiler-sfc

fix(compiler-sfc): remove redundant indent spaces
  packages/compiler-sfc/__tests__/compileScriptPropsDestructure.spec.ts
Due: packages, compiler-sfc

fix(compiler-sfc): check binding is prop before erroring
  packages/compiler-sfc/__tests__/compileScriptPropsDestructure.spec.ts
  packages/compiler-sfc/src/compileScriptPropsDestructure.ts
Due: packages, compiler-sfc

chore: add setupVitest to tsconfig (#8009)
  scripts/setupVitest.ts
  tsconfig.json
Due: none

chore: remove duplicate test (#8003)
  packages/runtime-core/__tests__/vnode.spec.ts
Due: packages, runtime-core

release: v3.3.0-alpha.8
  CHANGELOG.md
  package.json
  packages/compiler-core/package.json
  packages/compiler-dom/package.json
  packages/compiler-sfc/package.json
  packages/compiler-ssr/package.json
  packages/dts-test/package.json
  packages/reactivity-transform/package.json
  packages/reactivity/package.json
  packages/runtime-core/package.json
  packages/runtime-dom/package.json
  packages/runtime-test/package.json
  packages/server-renderer/package.json
  packages/sfc-playground/package.json
  packages/shared/package.json
  packages/size-check/package.json
  packages/template-explorer/package.json
  packages/vue-compat/package.json
  packages/vue/package.json
  pnpm-lock.yaml
Due: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

fix(types): accept arrays of functions for event props
  packages/runtime-dom/src/jsx.ts
Due: packages, runtime-dom

fix(compiler-sfc): skip empty `defineOptions`
  packages/compiler-sfc/__tests__/__snapshots__/compileScript.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript.spec.ts
  packages/compiler-sfc/src/compileScript.ts
Due: packages, compiler-sfc

test: add type assertions
  packages/compiler-sfc/__tests__/compileScript.spec.ts
Due: packages, compiler-sfc

fix(compiler-ssr): disable v-once transform in ssr vdom fallback branch
  packages/compiler-core/src/transforms/vOnce.ts
  packages/compiler-ssr/__tests__/ssrComponent.spec.ts
Due: packages, compiler-core

chore: remove unused args passed to ssrRender
  packages/server-renderer/src/render.ts
Due: packages, server-renderer

Merge remote-tracking branch 'origin/main' into bwsy/fix/vOnceAndvIf
  pnpm-lock.yaml
Due: none

Merge remote-tracking branch 'origin/main' into bwsy/feat/CEChildStyle
  scripts/release.js
Due: none

fix(server-render): updated unit test
  packages/server-renderer/__tests__/ssrDirectives.spec.ts
Due: packages, server-renderer

chore(vscode): vitest launch
  .vscode/launch.json
Due: none

refactor: better types
  packages/runtime-core/src/apiInject.ts
Due: packages, runtime-core

feat(app): app.runWithContext()
  packages/runtime-core/__tests__/apiCreateApp.spec.ts
  packages/runtime-core/src/apiCreateApp.ts
  packages/runtime-core/src/apiInject.ts
Due: packages, runtime-core

chore: refactor
  packages/runtime-core/src/apiCreateApp.ts
  packages/runtime-core/src/apiInject.ts
Due: packages, runtime-core

feat(app): app.runWithContext() (#7451)
  packages/runtime-core/__tests__/apiCreateApp.spec.ts
  packages/runtime-core/src/apiCreateApp.ts
  packages/runtime-core/src/apiInject.ts
Due: packages, runtime-core

refactor(compiler-sfc): move related files into separate directories
  packages/compiler-sfc/__tests__/templateTransformAssetUrl.spec.ts
  packages/compiler-sfc/__tests__/templateTransformSrcset.spec.ts
  packages/compiler-sfc/__tests__/templateUtils.spec.ts
  packages/compiler-sfc/src/compileScript.ts
  packages/compiler-sfc/src/compileStyle.ts
  packages/compiler-sfc/src/compileTemplate.ts
  packages/compiler-sfc/src/index.ts
  packages/compiler-sfc/src/parse.ts
  packages/compiler-sfc/src/script/propsDestructure.ts
  packages/compiler-sfc/src/style/cssVars.ts
  packages/compiler-sfc/src/style/pluginScoped.ts
  packages/compiler-sfc/src/style/pluginTrim.ts
  packages/compiler-sfc/src/style/preprocessors.ts
  packages/compiler-sfc/src/template/templateUtils.ts
  packages/compiler-sfc/src/template/transformAssetUrl.ts
  packages/compiler-sfc/src/template/transformSrcset.ts
Due: packages, compiler-sfc

fix(types): improve defineProps return type with generic arguments
  packages/runtime-core/src/apiSetupHelpers.ts
Due: packages, runtime-core

chore: remove debugging log
  scripts/dev.mjs
Due: none

chore: apply format
  .eslintrc.js
  package.json
  test-dts/defineComponent.test-d.tsx
  test-dts/defineCustomElement.test-d.ts
  test-dts/setupHelpers.test-d.ts
Due: none

fix(build): fix cjs re-exports check for compat build
  rollup.config.mjs
Due: none

fix(build): ensure type exports is first
  packages/vue/package.json
Due: packages, vue

wip(vitest-migration): compat tests passing
  packages/vue-compat/__tests__/compiler.spec.ts
  packages/vue-compat/__tests__/componentAsync.spec.ts
  packages/vue-compat/__tests__/componentFunctional.spec.ts
  packages/vue-compat/__tests__/componentVModel.spec.ts
  packages/vue-compat/__tests__/filters.spec.ts
  packages/vue-compat/__tests__/global.spec.ts
  packages/vue-compat/__tests__/globalConfig.spec.ts
  packages/vue-compat/__tests__/instance.spec.ts
  packages/vue-compat/__tests__/misc.spec.ts
  packages/vue-compat/__tests__/options.spec.ts
  packages/vue-compat/__tests__/renderFn.spec.ts
Due: packages, vue-compat

build: do not throw when running `build --release` for the 1st time (#7587)
  scripts/build.mjs
Due: none

fix(shared): `feDistanceLight` changed to `feDistantLight` (#7540)
  packages/shared/src/domTagConfig.ts
Due: packages, shared

chore: run format
  packages/compiler-core/__tests__/parse.spec.ts
  packages/compiler-core/src/parse.ts
  packages/runtime-core/__tests__/apiWatch.spec.ts
  packages/runtime-core/__tests__/componentProps.spec.ts
  packages/runtime-core/__tests__/components/BaseTransition.spec.ts
  packages/runtime-core/src/apiWatch.ts
  packages/runtime-dom/types/jsx.d.ts
Due: packages, compiler-core, runtime-core, runtime-dom

wip(vitest-migration): runtime-core tests passing
  packages/runtime-core/__tests__/apiOptions.spec.ts
  packages/runtime-core/__tests__/apiSetupHelpers.spec.ts
  packages/runtime-core/__tests__/apiWatch.spec.ts
  packages/runtime-core/__tests__/componentProps.spec.ts
  packages/runtime-core/__tests__/componentPublicInstance.spec.ts
  packages/runtime-core/__tests__/components/BaseTransition.spec.ts
  packages/runtime-core/__tests__/components/Suspense.spec.ts
  packages/runtime-core/__tests__/components/Teleport.spec.ts
  packages/runtime-core/__tests__/helpers/withMemo.spec.ts
  packages/runtime-core/__tests__/hydration.spec.ts
  packages/runtime-core/__tests__/rendererAttrsFallthrough.spec.ts
  packages/runtime-core/src/renderer.ts
Due: packages, runtime-core

wip(vitest-migration): all tests passing
  packages/vue/__tests__/e2e/Transition.spec.ts
  packages/vue/__tests__/e2e/TransitionGroup.spec.ts
  packages/vue/__tests__/e2e/commits.mock.ts
  packages/vue/__tests__/e2e/commits.spec.ts
  packages/vue/__tests__/e2e/e2eUtils.ts
  packages/vue/__tests__/e2e/grid.spec.ts
  packages/vue/__tests__/e2e/markdown.spec.ts
  packages/vue/__tests__/e2e/svg.spec.ts
  packages/vue/__tests__/e2e/todomvc.spec.ts
  packages/vue/__tests__/e2e/transition.html
  packages/vue/__tests__/e2e/tree.spec.ts
  vitest.config.ts
Due: packages, vue

wip(vitest-migration): compiler-sfc tests passing
  packages/compiler-sfc/__tests__/__snapshots__/compileScript.spec.ts.snap
  packages/compiler-sfc/__tests__/__snapshots__/compileScriptPropsTransform.spec.ts.snap
  packages/compiler-sfc/__tests__/__snapshots__/compileScriptRefTransform.spec.ts.snap
  packages/compiler-sfc/__tests__/__snapshots__/compileTemplate.spec.ts.snap
  packages/compiler-sfc/__tests__/__snapshots__/cssVars.spec.ts.snap
  packages/compiler-sfc/__tests__/__snapshots__/templateTransformAssetUrl.spec.ts.snap
  packages/compiler-sfc/__tests__/__snapshots__/templateTransformSrcset.spec.ts.snap
  packages/compiler-sfc/__tests__/cssVars.spec.ts
Due: packages, compiler-sfc
