Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

refactor(runtime-vapor): improve template ref handling for DynamicFragment and async components
  packages/runtime-vapor/__tests__/apiDefineAsyncComponent.spec.ts
  packages/runtime-vapor/__tests__/apiExpose.spec.ts
  packages/runtime-vapor/__tests__/dom/templateRef.spec.ts
  packages/runtime-vapor/src/apiDefineAsyncComponent.ts
  packages/runtime-vapor/src/apiTemplateRef.ts
  packages/runtime-vapor/src/fragment.ts
Due: packages

test(runtime-vapor): add tests for template ref forwarding and dynamic component cleanup
  packages/runtime-vapor/__tests__/apiDefineAsyncComponent.spec.ts
  packages/runtime-vapor/__tests__/dom/templateRef.spec.ts
  packages/runtime-vapor/src/apiDefineAsyncComponent.ts
  packages/runtime-vapor/src/apiTemplateRef.ts
Due: packages

chore: update
  packages/runtime-vapor/__tests__/dom/templateRef.spec.ts
  packages/runtime-vapor/src/apiTemplateRef.ts
Due: packages

fix(runtime-vapor): use correct instance reference in callWithErrorHandling for dynamic fragments
  packages/runtime-vapor/src/apiTemplateRef.ts
Due: packages

fix(runtime-vapor): allow renderEffect to self re-queue on sync state mutation
  packages/runtime-core/src/index.ts
  packages/runtime-vapor/__tests__/componentEmits.spec.ts
  packages/runtime-vapor/src/renderEffect.ts
Due: packages, runtime-core

fix(runtime-vapor): allow renderEffect to self re-queue on sync state mutation (#14477)
  packages/runtime-core/src/index.ts
  packages/runtime-vapor/__tests__/componentEmits.spec.ts
  packages/runtime-vapor/src/renderEffect.ts
Due: packages, runtime-core

fix(runtime-vapor): preserve slot owner rendering context in resolveDynamicComponent (#14475)
  packages/runtime-core/src/index.ts
  packages/runtime-vapor/__tests__/apiCreateDynamicComponent.spec.ts
  packages/runtime-vapor/src/apiCreateDynamicComponent.ts
Due: packages, runtime-core

fix(runtime-vapor): preserve slot-owner css vars for teleported slot content (#14476)
  packages/runtime-vapor/__tests__/helpers/useCssVars.spec.ts
  packages/runtime-vapor/src/components/Teleport.ts
  packages/runtime-vapor/src/helpers/useCssVars.ts
Due: packages

test(vapor-e2e): port #12091 prevent-enter-when-leaving transition case
  packages-private/vapor-e2e-test/__tests__/transition.spec.ts
  packages-private/vapor-e2e-test/transition/App.vue
Due: none

test(vapor-e2e): port #12091 prevent-enter-when-leaving transition case (#14480)
  packages-private/vapor-e2e-test/__tests__/transition.spec.ts
  packages-private/vapor-e2e-test/transition/App.vue
Due: none

refactor(build): introduce e2e test flag
  package.json
  packages-private/local-playground/setup/dev.js
  packages/global.d.ts
  packages/runtime-core/src/components/KeepAlive.ts
  packages/runtime-vapor/src/components/KeepAlive.ts
  scripts/build.js
  scripts/create-rolldown-config.js
  scripts/dev.js
  vitest.config.ts
Due: packages, runtime-core

refactor(vapor-e2e): replace server setup with startE2ETestServer utility
  packages-private/vapor-e2e-test/__tests__/server.ts
  packages-private/vapor-e2e-test/__tests__/todomvc.spec.ts
  packages-private/vapor-e2e-test/__tests__/transition-group.spec.ts
  packages-private/vapor-e2e-test/__tests__/transition.spec.ts
  packages-private/vapor-e2e-test/__tests__/vdomInterop.spec.ts
Due: none

feat(vapor): bridge VDOM Teleport/Suspense in dynamic component interop
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(runtime-vapor): propagate suspense context through vapor interop slot and vnode paths
  packages/runtime-core/src/apiCreateApp.ts
  packages/runtime-core/src/renderer.ts
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages, runtime-core

fix(vdomInterop): remove redundant nextTick calls in async tests
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
Due: packages

feat(vapor): support rendering vdom teleport in vapor
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

feat(vapor): support rendering vdom teleport in vapor (#14484)
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

feat(vapor): support rendering VDOM suspense in vapor
  packages/runtime-core/src/apiCreateApp.ts
  packages/runtime-core/src/renderer.ts
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages, runtime-core

feat(vapor): support rendering vdom suspense in vapor (#14485)
  packages/runtime-core/src/apiCreateApp.ts
  packages/runtime-core/src/renderer.ts
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages, runtime-core

chore(runtime-vapor): rename scopeOwner to slotOwner for clarity
  packages/runtime-vapor/src/apiCreateFor.ts
Due: packages

chore: clarify comments
  packages/runtime-vapor/src/componentSlots.ts
Due: packages

refactor(runtime-vapor): improve DynamicFragment context restoration
  packages/runtime-vapor/__tests__/apiInject.spec.ts
  packages/runtime-vapor/src/fragment.ts
Due: packages

refactor(runtime-vapor): wrap v-for update renders with slotOwner restore
  packages/runtime-vapor/src/apiCreateFor.ts
Due: packages

fix(runtime-vapor): restore KeepAlive branch key even for falsy previous values
  packages/runtime-vapor/src/fragment.ts
Due: packages

release: v3.6.0-beta.7
  CHANGELOG.md
  package.json
  packages/compiler-core/package.json
  packages/compiler-dom/package.json
  packages/compiler-sfc/package.json
  packages/compiler-ssr/package.json
  packages/compiler-vapor/package.json
  packages/reactivity/package.json
  packages/runtime-core/package.json
  packages/runtime-dom/package.json
  packages/runtime-vapor/package.json
  packages/server-renderer/package.json
  packages/shared/package.json
  packages/vue-compat/package.json
  packages/vue/package.json
Due: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, runtime-core, runtime-dom, server-renderer, shared, vue, vue-compat

refactor: use LIS
  packages/runtime-vapor/src/apiCreateFor.ts
Due: packages

fix(compiler-vapor): preserve :is prop on normal components
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformElement.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/transformElement.spec.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
Due: packages

fix(types): widen ClassValue to accept fallthrough attrs values
  packages-private/dts-test/tsx.test-d.tsx
  packages/runtime-dom/src/jsx.ts
Due: packages, runtime-dom

fix(types): prevent shallowReactive marker from leaking into value unions
  packages-private/dts-test/reactivity.test-d.ts
  packages/reactivity/src/reactive.ts
  packages/reactivity/src/ref.ts
Due: packages, reactivity

fix(runtime-dom): preserve nullish values for custom element properties
  packages/runtime-dom/__tests__/patchProps.spec.ts
  packages/runtime-dom/src/modules/props.ts
Due: packages, runtime-dom

fix: 补充release逻辑
  .wiki/github-action/release.md
Due: none

fix(runtime-vapor): fix the issue where dynamic components cannot obtain ref to vdom components
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/apiTemplateRef.ts
Due: packages

fix: 添加 dev.md
  .wiki/scripts/dev.md
Due: none

fix: clear pure-vapor
  packages/runtime-pure-vapor/src/.gitignore
  packages/runtime-pure-vapor/src/apiCreateApp.ts
  packages/runtime-pure-vapor/src/apiCreateDynamicComponent.ts
  packages/runtime-pure-vapor/src/apiCreateFor.ts
  packages/runtime-pure-vapor/src/apiCreateFragment.ts
  packages/runtime-pure-vapor/src/apiCreateIf.ts
  packages/runtime-pure-vapor/src/apiDefineAsyncComponent.ts
  packages/runtime-pure-vapor/src/apiDefineComponent.ts
  packages/runtime-pure-vapor/src/apiDefineCustomElement.ts
  packages/runtime-pure-vapor/src/apiTemplateRef.ts
  packages/runtime-pure-vapor/src/block.ts
  packages/runtime-pure-vapor/src/component.ts
  packages/runtime-pure-vapor/src/componentEmits.ts
  packages/runtime-pure-vapor/src/componentProps.ts
  packages/runtime-pure-vapor/src/componentSlots.ts
  packages/runtime-pure-vapor/src/components/KeepAlive.ts
  packages/runtime-pure-vapor/src/components/Suspense.ts
  packages/runtime-pure-vapor/src/components/Teleport.ts
  packages/runtime-pure-vapor/src/components/Transition.ts
  packages/runtime-pure-vapor/src/components/TransitionGroup.ts
  packages/runtime-pure-vapor/src/directives/custom.ts
  packages/runtime-pure-vapor/src/directives/vModel.ts
  packages/runtime-pure-vapor/src/directives/vShow.ts
  packages/runtime-pure-vapor/src/dom/event.ts
  packages/runtime-pure-vapor/src/dom/hydration.ts
  packages/runtime-pure-vapor/src/dom/node.ts
  packages/runtime-pure-vapor/src/dom/prop.ts
  packages/runtime-pure-vapor/src/dom/template.ts
  packages/runtime-pure-vapor/src/fragment.ts
  packages/runtime-pure-vapor/src/helpers/useCssVars.ts
  packages/runtime-pure-vapor/src/hmr.ts
  packages/runtime-pure-vapor/src/index.ts
  packages/runtime-pure-vapor/src/insertionState.ts
  packages/runtime-pure-vapor/src/renderEffect.ts
  packages/runtime-pure-vapor/src/vdomInterop.ts
  packages/runtime-pure-vapor/src/vdomInteropState.ts
Due: packages

Path conditions:
  packages: any of: packages/
  compiler-core: any of: packages/compiler-core/
  compiler-dom: any of: packages/compiler-dom/
  compiler-sfc: any of: packages/compiler-sfc/
  reactivity: any of: packages/reactivity/
  reactivity-transform: any of: packages/reactivity-transform/
  runtime-core: any of: packages/runtime-core/
  runtime-dom: any of: packages/runtime-dom/
  runtime-test: any of: packages/runtime-test/
  server-renderer: any of: packages/server-renderer/
  sfc-playground: any of: packages/sfc-playground/
  shared: any of: packages/shared/
  size-check: any of: packages/size-check/
  template-explorer: any of: packages/template-explorer/
  vue: any of: packages/vue/
  vue-compat: any of: packages/vue-compat/
