Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

fix: cssvars correctly handles execution time
  packages/runtime-dom/src/helpers/useCssVars.ts
Due: packages, runtime-dom

Update useCssVars.ts
  packages/runtime-dom/src/helpers/useCssVars.ts
Due: packages, runtime-dom

fix(runtime-dom): apply css vars before mount (#11538)
  packages/runtime-dom/src/helpers/useCssVars.ts
Due: packages, runtime-dom

fix(ssr): ensure content is valid when rendering normal slot (#11491)
  packages/runtime-core/src/helpers/renderSlot.ts
  packages/runtime-core/src/index.ts
  packages/server-renderer/__tests__/ssrSlot.spec.ts
  packages/server-renderer/src/helpers/ssrRenderSlot.ts
Due: packages, runtime-core, server-renderer

fix(keep-alive): fix render error in cached is undefined (#11496)
  packages/runtime-core/__tests__/components/Suspense.spec.ts
  packages/runtime-core/src/components/KeepAlive.ts
Due: packages, runtime-core

fix(runtime-core): prioritize using the provides from currentApp in nested createApp (#11502)
  packages/runtime-core/__tests__/apiCreateApp.spec.ts
  packages/runtime-core/src/apiInject.ts
Due: packages, runtime-core

feat: useModel test
  packages/runtime-core/__tests__/helpers/useModel.spec.ts
Due: packages, runtime-core

feat(hydration): allow fine tuning of lazy hydration strategy triggers (#11530)
  packages/runtime-core/src/hydrationStrategies.ts
  packages/vue/__tests__/e2e/hydration-strat-visible.html
Due: packages, runtime-core, vue

fix(types): allow `DirectiveArguments` third parameter to accept undefined
  packages/runtime-core/src/directives.ts
Due: packages, runtime-core

chore: small tweaks
  packages/runtime-core/__tests__/helpers/useModel.spec.ts
Due: packages, runtime-core

feat(custom-element): support configurable app instance in defineCustomElement
  packages/runtime-core/src/apiCreateApp.ts
  packages/runtime-dom/__tests__/customElement.spec.ts
  packages/runtime-dom/src/apiCustomElement.ts
  packages/runtime-dom/src/index.ts
Due: packages, runtime-core, runtime-dom

fix: useModel change logic
  packages/runtime-core/src/helpers/useModel.ts
Due: packages, runtime-core

fix(types): allow `DirectiveArguments` third parameter to accept undefined (#11540)
  packages/runtime-core/src/directives.ts
Due: packages, runtime-core

chore: fix useShadowRoot warning method name
  packages/runtime-dom/src/apiCustomElement.ts
Due: packages, runtime-dom

workflow only verify commit message on main branch
  scripts/verify-commit.js
Due: none

fix(custom-element): fix custom-element double render on immediate prop change
  packages/runtime-core/src/renderer.ts
  packages/runtime-dom/__tests__/customElement.spec.ts
Due: packages, runtime-core, runtime-dom

fix: Revert "fix(types/ref): correct type inference for nested refs (#11536)"
  packages/dts-test/ref.test-d.ts
  packages/reactivity/src/ref.ts
Due: packages, reactivity

fix: Revert "fix(types/ref): allow getter and setter types to be unrelated (#11442)"
  packages/dts-test/ref.test-d.ts
  packages/dts-test/watch.test-d.ts
  packages/reactivity/src/ref.ts
  packages/runtime-core/src/apiWatch.ts
Due: packages, reactivity, runtime-core

style: format html files
  packages/vue/__tests__/e2e/hydration-strat-custom.html
  packages/vue/__tests__/e2e/hydration-strat-idle.html
  packages/vue/__tests__/e2e/hydration-strat-interaction.html
  packages/vue/__tests__/e2e/hydration-strat-media.html
  packages/vue/__tests__/e2e/hydration-strat-visible.html
  packages/vue/__tests__/e2e/trusted-types.html
Due: packages, vue

fix: use `isProp.arg.loc` instead of `isProp.loc`
  packages/compiler-core/src/transforms/transformElement.ts
Due: packages, compiler-core

fix(types/ref): correct type inference for generics w/ `Ref` when omitting initial value
  packages/dts-test/ref.test-d.ts
  packages/reactivity/src/ref.ts
  packages/shared/src/typeUtils.ts
Due: packages, reactivity, shared

chore: fix wrong test name for useShadowRoot
  packages/runtime-dom/__tests__/customElement.spec.ts
Due: packages, runtime-dom

chore: fix wrong test name for useShadowRoot (#11550)
  packages/runtime-dom/__tests__/customElement.spec.ts
Due: packages, runtime-dom

Update useModel.spec.ts
  packages/runtime-core/__tests__/helpers/useModel.spec.ts
Due: packages, runtime-core

fix(defineModel): detect changes respect custom getter and setter (#11543)
  packages/runtime-core/__tests__/helpers/useModel.spec.ts
  packages/runtime-core/src/helpers/useModel.ts
Due: packages, runtime-core

feat(reactivity): store value cache on CustomRefs impls (#11539)
  packages/reactivity/__tests__/ref.spec.ts
  packages/reactivity/src/ref.ts
Due: packages, reactivity

workflow: force fetch all tags in release action
  .github/workflows/release.yml
Due: none

chore: add comment
  packages/dts-test/ref.test-d.ts
Due: packages

feat(custom-element): useHost() helper
  packages/runtime-dom/__tests__/customElement.spec.ts
  packages/runtime-dom/src/apiCustomElement.ts
  packages/runtime-dom/src/index.ts
Due: packages, runtime-dom

feat(custom-element): expose this.$host in Options API
  packages/runtime-core/src/componentPublicInstance.ts
Due: packages, runtime-core

chore: use fresh containers for app mount tests
  packages/runtime-dom/__tests__/customElement.spec.ts
Due: packages, runtime-dom

feat: support copying vue version
  packages/sfc-playground/src/VersionSelect.vue
Due: packages, sfc-playground

feat: copy icon
  packages/sfc-playground/src/icons/Copy.vue
Due: packages, sfc-playground

test(compiler-sfc): add assertion for template functional
  packages/compiler-sfc/__tests__/parse.spec.ts
Due: packages, compiler-sfc

fix: fix the v-show not working in some case
  packages/runtime-core/src/directives.ts
  packages/runtime-dom/src/directives/vShow.ts
Due: packages, runtime-core, runtime-dom

refactor(runtime-core): add undefined check of directive handling
  packages/runtime-core/src/directives.ts
Due: packages, runtime-core

Path conditions:
  packages: any of: packages/
  compiler-core: any of: packages/compiler-core/
  compiler-dom: any of: packages/compiler-dom/
  compiler-sfc: any of: packages/compiler-sfc/
  reactivity: any of: packages/reactivity/
  reactivity-transform: any of: packages/reactivity-transform/
  runtime-core: any of: packages/runtime-core/
  runtime-dom: any of: packages/runtime-dom/
  runtime-test: any of: packages/runtime-test/
  server-renderer: any of: packages/server-renderer/
  sfc-playground: any of: packages/sfc-playground/
  shared: any of: packages/shared/
  size-check: any of: packages/size-check/
  template-explorer: any of: packages/template-explorer/
  vue: any of: packages/vue/
  vue-compat: any of: packages/vue-compat/
