Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

chore: Only hmr will uninstall styles
  packages/runtime-core/src/renderer.ts
  packages/runtime-dom/src/apiCustomElement.ts
Due: packages, runtime-core, runtime-dom

feat(compiler): improve parsing tolerance for language-tools
  packages/compiler-core/__tests__/parse.spec.ts
  packages/compiler-core/src/tokenizer.ts
Due: packages, compiler-core

release: v3.4.0-alpha.2
  CHANGELOG.md
  package.json
  packages/compiler-core/package.json
  packages/compiler-dom/package.json
  packages/compiler-sfc/package.json
  packages/compiler-ssr/package.json
  packages/reactivity/package.json
  packages/runtime-core/package.json
  packages/runtime-dom/package.json
  packages/server-renderer/package.json
  packages/shared/package.json
  packages/vue-compat/package.json
  packages/vue/package.json
Due: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, runtime-core, runtime-dom, server-renderer, shared, vue, vue-compat

fix(parser): directive arg should be undefined on shorthands with no arg
  packages/compiler-core/__tests__/parse.spec.ts
  packages/compiler-core/src/parser.ts
Due: packages, compiler-core

feat: scheduler
  packages/compiler-vapor/__tests__/__snapshots__/compile.test.ts.snap
  packages/compiler-vapor/__tests__/__snapshots__/fixtures.test.ts.snap
  packages/compiler-vapor/__tests__/compile.test.ts
  packages/compiler-vapor/src/generate.ts
  packages/runtime-vapor/package.json
  packages/runtime-vapor/src/index.ts
  packages/runtime-vapor/src/on.ts
  packages/runtime-vapor/src/render.ts
  packages/runtime-vapor/src/scheduler.ts
  pnpm-lock.yaml
Due: packages

feat(dx): link errors to docs in prod build (#9165)
  packages/compiler-core/src/errors.ts
  packages/runtime-core/src/errorHandling.ts
Due: packages, compiler-core, runtime-core

release: v3.4.0-alpha.3
  CHANGELOG.md
  package.json
  packages/compiler-core/package.json
  packages/compiler-dom/package.json
  packages/compiler-sfc/package.json
  packages/compiler-ssr/package.json
  packages/reactivity/package.json
  packages/runtime-core/package.json
  packages/runtime-dom/package.json
  packages/server-renderer/package.json
  packages/shared/package.json
  packages/vue-compat/package.json
  packages/vue/package.json
Due: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, runtime-core, runtime-dom, server-renderer, shared, vue, vue-compat

fix(ssr): ensure computed dirty before caching
  packages/server-renderer/__tests__/ssrComputed.spec.ts
  packages/server-renderer/src/render.ts
Due: packages, server-renderer

chore: fix typo
  packages/compiler-core/src/options.ts
  packages/compiler-core/src/parser.ts
  packages/compiler-core/src/tokenizer.ts
Due: packages, compiler-core

chore: fix tests
  packages/dts-test/defineAsyncComponent.test-d.tsx
  packages/dts-test/defineComponent.test-d.tsx
  packages/dts-test/defineCustomElement.test-d.ts
  packages/runtime-core/__tests__/apiOptions.spec.ts
  packages/runtime-core/src/apiAsyncComponent.ts
  packages/runtime-core/src/apiDefineComponent.ts
  packages/runtime-core/src/componentEmits.ts
  packages/runtime-core/src/componentOptions.ts
  packages/runtime-core/src/componentTypeHelpers.ts
  packages/runtime-core/src/index.ts
  packages/runtime-dom/__tests__/customElement.spec.ts
  packages/runtime-dom/src/apiCustomElement.ts
Due: packages, runtime-core, runtime-dom

test: add dynamic root nodes and interpolation (#1)
  packages/compiler-vapor/__tests__/__snapshots__/compile.test.ts.snap
  packages/compiler-vapor/__tests__/compile.test.ts
Due: packages

chore: update component todo
  README.md
Due: none

workflow: add a "publish" workflow for automated releases
  .github/workflows/publish.yml
  scripts/release.js
Due: none

workflow: allow targetVersion to be a version increment
  scripts/release.js
Due: none

feat: add vapor errors of `v-bind` / `v-on` (#3)
  packages/compiler-core/src/index.ts
  packages/compiler-vapor/__tests__/compile.test.ts
  packages/compiler-vapor/src/errors.ts
  packages/compiler-vapor/src/transform.ts
Due: packages, compiler-core

fix(parser): should reset inRCDATA state
  packages/compiler-core/__tests__/parse.spec.ts
  packages/compiler-core/src/tokenizer.ts
Due: packages, compiler-core

fix(parser): properly set initial inXML state based on root ns
  packages/compiler-core/src/parser.ts
  packages/compiler-dom/__tests__/parse.spec.ts
Due: packages, compiler-core, compiler-dom

fix: boolean type error in customElement
  packages/runtime-dom/__tests__/customElement.spec.ts
  packages/runtime-dom/src/apiCustomElement.ts
  packages/shared/src/general.ts
  pnpm-lock.yaml
Due: packages, runtime-dom, shared

chore: rollback lock-file
  pnpm-lock.yaml
Due: none

chore: remove comments
  packages/runtime-core/src/apiDefineComponent.ts
Due: packages, runtime-core

test: update test to use different name to prevent clash
  packages/runtime-core/__tests__/hydration.spec.ts
Due: packages, runtime-core

types(toRefs): respect readonly on `toRefs`
  packages/dts-test/ref.test-d.ts
  packages/dts-test/utils.d.ts
  packages/reactivity/src/ref.ts
  packages/shared/src/typeUtils.ts
Due: packages, reactivity, shared

chore: remove comment
  packages/reactivity/src/ref.ts
Due: packages, reactivity

chore: handling readonly on `reactive`
  packages/dts-test/reactivity.test-d.ts
  packages/dts-test/utils.d.ts
  packages/reactivity/__tests__/effect.spec.ts
  packages/reactivity/__tests__/readonly.spec.ts
  packages/reactivity/src/ref.ts
Due: packages, reactivity

fix(type): fix defineComponent when the setup parameter is generic
  packages/runtime-core/src/apiDefineComponent.ts
Due: packages, runtime-core

feat: build vapor & add @vue/vapor package
  package.json
  packages/compiler-vapor/package.json
  packages/runtime-vapor/index.js
  packages/runtime-vapor/package.json
  packages/runtime-vapor/src/index.ts
  packages/vue-vapor/LICENSE
  packages/vue-vapor/README.md
  packages/vue-vapor/index.js
  packages/vue-vapor/index.mjs
  packages/vue-vapor/package.json
  packages/vue-vapor/src/dev.ts
  packages/vue-vapor/src/index.ts
  packages/vue-vapor/src/runtime.ts
  packages/vue/compiler-vapor/index.d.mts
  packages/vue/compiler-vapor/index.d.ts
  packages/vue/compiler-vapor/index.js
  packages/vue/compiler-vapor/index.mjs
  packages/vue/compiler-vapor/package.json
  packages/vue/package.json
  packages/vue/vapor/index.d.mts
  packages/vue/vapor/index.d.ts
  packages/vue/vapor/index.js
  packages/vue/vapor/index.mjs
  pnpm-lock.yaml
  rollup.config.js
  scripts/dev.js
  scripts/prepare-cjs.js
  scripts/usage-size.ts
  tsconfig.build.json
  tsconfig.json
Due: packages, vue

fix(runtime-core): incomplete type inferred by generic components
  packages/dts-test/setupHelpers.test-d.ts
  packages/runtime-core/src/componentProps.ts
Due: packages, runtime-core

fix: playground
  package.json
  packages/compiler-core/src/index.ts
  packages/compiler-sfc/src/compileScript.ts
  packages/compiler-vapor/src/errors.ts
  packages/compiler-vapor/src/transform.ts
  packages/runtime-vapor/src/index.ts
  packages/runtime-vapor/src/scheduler.ts
  playground/src/App-root.vue
  playground/src/App.vue
  playground/vite.config.ts
Due: packages, compiler-core, compiler-sfc

feat(playground): dev
  package.json
  playground/vite.config.ts
Due: none

feat: use enum to replace const enum
  .eslintrc.cjs
  package.json
  packages/compiler-core/src/ast.ts
  packages/compiler-core/src/compat/compatConfig.ts
  packages/compiler-core/src/errors.ts
  packages/compiler-core/src/options.ts
  packages/compiler-core/src/utils.ts
  packages/compiler-dom/src/errors.ts
  packages/compiler-dom/src/transforms/stringifyStatic.ts
  packages/compiler-sfc/src/style/cssVars.ts
  packages/compiler-ssr/src/errors.ts
  packages/reactivity/src/constants.ts
  packages/reactivity/src/index.ts
  packages/reactivity/src/reactive.ts
  packages/runtime-core/src/compat/compatConfig.ts
  packages/runtime-core/src/componentOptions.ts
  packages/runtime-core/src/componentProps.ts
  packages/runtime-core/src/componentPublicInstance.ts
  packages/runtime-core/src/components/Teleport.ts
  packages/runtime-core/src/devtools.ts
  packages/runtime-core/src/enums.ts
  packages/runtime-core/src/errorHandling.ts
  packages/runtime-core/src/hydration.ts
  packages/runtime-core/src/renderer.ts
  packages/runtime-test/src/nodeOps.ts
  packages/shared/src/patchFlags.ts
  packages/shared/src/shapeFlags.ts
  packages/shared/src/slotFlags.ts
  packages/vue/macros.d.ts
  pnpm-lock.yaml
  rollup.config.js
  rollup.dts.config.js
  scripts/build.js
  scripts/const-enum.js
  scripts/dev.js
  scripts/simplify-enum.js
  tsconfig.json
Due: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, runtime-core, runtime-test, shared, vue

chore: exclude scripts from tsconfig
  tsconfig.build.json
  tsconfig.json
Due: none

chore: rename to inline-enums
  rollup.config.js
  scripts/build.js
  scripts/inline-enums.js
Due: none

chore: use enum for parser
  .eslintrc.cjs
  packages/compiler-core/src/codegen.ts
  packages/compiler-core/src/tokenizer.ts
Due: packages, compiler-core

fix: do not bundle DeprecationTypes in non-compat build
  packages/runtime-core/src/index.ts
Due: packages, runtime-core

chore: fix typo (#9689)
  packages/compiler-core/src/options.ts
  packages/compiler-core/src/parser.ts
  packages/compiler-core/src/tokenizer.ts
Due: packages, compiler-core

types: declare attribute type
  packages/runtime-dom/src/apiCustomElement.ts
Due: packages, runtime-dom

chore: fix typo in compiler-vapor (#10)
  packages/compiler-vapor/src/transform.ts
Due: packages

fix(compiler-sfc): vue import
  packages/compiler-sfc/src/compileScript.ts
Due: packages, compiler-sfc

Path conditions:
  packages: any of: packages/
  compiler-core: any of: packages/compiler-core/
  compiler-dom: any of: packages/compiler-dom/
  compiler-sfc: any of: packages/compiler-sfc/
  reactivity: any of: packages/reactivity/
  reactivity-transform: any of: packages/reactivity-transform/
  runtime-core: any of: packages/runtime-core/
  runtime-dom: any of: packages/runtime-dom/
  runtime-test: any of: packages/runtime-test/
  server-renderer: any of: packages/server-renderer/
  sfc-playground: any of: packages/sfc-playground/
  shared: any of: packages/shared/
  size-check: any of: packages/size-check/
  template-explorer: any of: packages/template-explorer/
  vue: any of: packages/vue/
  vue-compat: any of: packages/vue-compat/
