Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

chore: rename `ReadonlyRawType` to `ReadonlyRawSymbol`
  packages/reactivity/src/reactive.ts
Due: packages, reactivity

test: compound expression for `v-bind` (#36)
  packages/compiler-vapor/__tests__/__snapshots__/compile.test.ts.snap
  packages/compiler-vapor/__tests__/compile.test.ts
Due: packages

feat(compiler-vapor): shorthand & no expression
  packages/compiler-vapor/__tests__/__snapshots__/compile.test.ts.snap
  packages/compiler-vapor/__tests__/compile.test.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
Due: packages

refactor(compiler-vapor): extract v-on
  packages/compiler-vapor/src/compile.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
  packages/compiler-vapor/src/transforms/vBind.ts
Due: packages

perf(compiler-vapor): combine effect
  packages/compiler-vapor/__tests__/__snapshots__/compile.test.ts.snap
  packages/compiler-vapor/src/transform.ts
Due: packages

test: remove fixtures
  packages/compiler-vapor/__tests__/__snapshots__/fixtures.test.ts.snap
  packages/compiler-vapor/__tests__/fixtures.test.ts
  packages/compiler-vapor/__tests__/fixtures/counter.vue
Due: packages

chore: update todo
  README.md
Due: none

feat(compiler-vapor): support custom directives argument & modifiers (#34)
  packages/compiler-vapor/__tests__/__snapshots__/compile.test.ts.snap
  packages/compiler-vapor/__tests__/compile.test.ts
  packages/compiler-vapor/src/generate.ts
  packages/compiler-vapor/src/ir.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
  packages/runtime-core/src/index.ts
  packages/runtime-vapor/src/directives.ts
  playground/src/directive.vue
Due: packages, runtime-core

refactor: extract Data
  packages/runtime-core/__tests__/vnode.spec.ts
  packages/runtime-core/src/apiCreateApp.ts
  packages/runtime-core/src/compat/props.ts
  packages/runtime-core/src/compat/renderFn.ts
  packages/runtime-core/src/component.ts
  packages/runtime-core/src/componentOptions.ts
  packages/runtime-core/src/componentProps.ts
  packages/runtime-core/src/componentPublicInstance.ts
  packages/runtime-core/src/componentRenderUtils.ts
  packages/runtime-core/src/directives.ts
  packages/runtime-core/src/helpers/renderSlot.ts
  packages/runtime-core/src/renderer.ts
  packages/runtime-core/src/vnode.ts
  packages/runtime-core/src/warning.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/directives.ts
  packages/shared/src/typeUtils.ts
Due: packages, runtime-core, shared

fix(runtime-dom): height and width of all elements should be set as attribute
  packages/runtime-dom/src/patchProp.ts
Due: packages, runtime-dom

fix(runtime-dom): fix width and height prop check condition
  packages/runtime-dom/__tests__/patchProps.spec.ts
  packages/runtime-dom/src/patchProp.ts
Due: packages, runtime-dom

fix(shared): handle Map with symbol keys in toDisplayString (#9731)
  packages/shared/__tests__/toDisplayString.spec.ts
  packages/shared/src/toDisplayString.ts
Due: packages, shared

fix(shared): handle more Symbol cases in toDisplayString
  packages/shared/__tests__/toDisplayString.spec.ts
  packages/shared/src/toDisplayString.ts
Due: packages, shared

types(runtime-vapor): add modifiers & argument type
  packages/runtime-vapor/src/directives.ts
Due: packages

chore: typo
  packages/shared/src/toDisplayString.ts
Due: packages, shared

fix(reactivity): fix mutation on user proxy of reactive Array
  packages/reactivity/__tests__/reactive.spec.ts
  packages/reactivity/__tests__/reactiveArray.spec.ts
  packages/reactivity/src/baseHandlers.ts
Due: packages, reactivity

chore: typo (#9767)
  packages/shared/src/toDisplayString.ts
Due: packages, shared

types(reactivity): fix type error when passing `any` through `ref`
  packages/reactivity/src/ref.ts
Due: packages, reactivity

chore(dx): fix defineProps jsdoc + update defineEmits jsdoc example
  packages/runtime-core/src/apiSetupHelpers.ts
Due: packages, runtime-core

chore: add test case
  packages/dts-test/ref.test-d.ts
Due: packages

fix(types): ref() return type should not be any when initial value is any (#9768)
  packages/dts-test/ref.test-d.ts
  packages/reactivity/src/ref.ts
Due: packages, reactivity

fix(Suspense): properly get anchor when mount fallback vnode
  packages/runtime-core/src/components/Suspense.ts
Due: packages, runtime-core

test: add test case
  packages/runtime-core/__tests__/components/Suspense.spec.ts
Due: packages, runtime-core

Update Suspense.spec.ts
  packages/runtime-core/__tests__/components/Suspense.spec.ts
Due: packages, runtime-core

fix(watch): should not fire pre watcher on child component unmount (#7181)
  packages/runtime-core/__tests__/apiWatch.spec.ts
  packages/runtime-core/src/renderer.ts
  packages/runtime-core/src/scheduler.ts
Due: packages, runtime-core

fix(Suspense): properly get anchor when mount fallback vnode (#9770)
  packages/runtime-core/__tests__/components/Suspense.spec.ts
  packages/runtime-core/src/components/Suspense.ts
Due: packages, runtime-core

release: v3.3.11
  CHANGELOG.md
  package.json
  packages/compiler-core/package.json
  packages/compiler-dom/package.json
  packages/compiler-sfc/package.json
  packages/compiler-ssr/package.json
  packages/reactivity-transform/package.json
  packages/reactivity/package.json
  packages/runtime-core/package.json
  packages/runtime-dom/package.json
  packages/server-renderer/package.json
  packages/shared/package.json
  packages/vue-compat/package.json
  packages/vue/package.json
Due: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, server-renderer, shared, vue, vue-compat

chore: add test case
  packages/dts-test/h.test-d.ts
Due: packages

fix: import the `expectType` tool type
  packages/dts-test/h.test-d.ts
Due: packages

feat: support import attributes syntax
  packages/compiler-sfc/src/script/context.ts
Due: packages, compiler-sfc

feat: support explicitResourceManagement
  packages/compiler-sfc/src/script/context.ts
Due: packages, compiler-sfc

refactor: adjust importAttributes plugin handling
  packages/compiler-sfc/__tests__/__snapshots__/compileScript.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript.spec.ts
  packages/compiler-sfc/__tests__/utils.ts
  packages/compiler-sfc/src/rewriteDefault.ts
  packages/compiler-sfc/src/script/context.ts
Due: packages, compiler-sfc

feat(compiler-sfc): support import attributes and `using` syntax (#8786)
  packages/compiler-sfc/__tests__/__snapshots__/compileScript.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript.spec.ts
  packages/compiler-sfc/__tests__/utils.ts
  packages/compiler-sfc/src/rewriteDefault.ts
  packages/compiler-sfc/src/script/context.ts
Due: packages, compiler-sfc

feat(compiler-core): add current filename to TransformContext (#8950)
  packages/compiler-core/__tests__/transform.spec.ts
  packages/compiler-core/src/transform.ts
Due: packages, compiler-core

feat(ssr): improve ssr hydration mismatch checks
  packages/runtime-core/__tests__/hydration.spec.ts
  packages/runtime-core/src/hydration.ts
Due: packages, runtime-core

feat(ssr): improve ssr hydration mismatch checks (#5953)
  packages/compiler-core/__tests__/transform.spec.ts
  packages/compiler-core/src/transform.ts
  packages/runtime-core/__tests__/hydration.spec.ts
  packages/runtime-core/src/hydration.ts
Due: packages, compiler-core, runtime-core

feat(ssr): add `__VUE_PROD_HYDRATION_MISMATCH_DETAILS__` feature flag (#9550)
  packages/global.d.ts
  packages/runtime-core/src/featureFlags.ts
  packages/runtime-core/src/hydration.ts
  packages/vue/README.md
  rollup.config.js
  scripts/dev.js
  scripts/usage-size.ts
  vitest.config.ts
Due: packages, runtime-core, vue

feat: MathML support
  packages/compiler-dom/src/parserOptions.ts
  packages/runtime-core/src/apiCreateApp.ts
  packages/runtime-core/src/compat/global.ts
  packages/runtime-core/src/components/KeepAlive.ts
  packages/runtime-core/src/components/Suspense.ts
  packages/runtime-core/src/components/Teleport.ts
  packages/runtime-core/src/hydration.ts
  packages/runtime-core/src/renderer.ts
  packages/runtime-dom/__tests__/nodeOps.spec.ts
  packages/runtime-dom/__tests__/patchAttrs.spec.ts
  packages/runtime-dom/__tests__/patchClass.spec.ts
  packages/runtime-dom/src/index.ts
  packages/runtime-dom/src/modules/attrs.ts
  packages/runtime-dom/src/modules/class.ts
  packages/runtime-dom/src/nodeOps.ts
  packages/runtime-dom/src/patchProp.ts
  packages/shared/src/domTagConfig.ts
  packages/vue/__tests__/mathmlNamespace.spec.ts
  scripts/setupVitest.ts
Due: packages, compiler-dom, runtime-core, runtime-dom, shared, vue

Apply suggestions from code review
  packages/runtime-core/src/compat/global.ts
  packages/runtime-dom/src/index.ts
Due: packages, runtime-core, runtime-dom

Path conditions:
  packages: any of: packages/
  compiler-core: any of: packages/compiler-core/
  compiler-dom: any of: packages/compiler-dom/
  compiler-sfc: any of: packages/compiler-sfc/
  reactivity: any of: packages/reactivity/
  reactivity-transform: any of: packages/reactivity-transform/
  runtime-core: any of: packages/runtime-core/
  runtime-dom: any of: packages/runtime-dom/
  runtime-test: any of: packages/runtime-test/
  server-renderer: any of: packages/server-renderer/
  sfc-playground: any of: packages/sfc-playground/
  shared: any of: packages/shared/
  size-check: any of: packages/size-check/
  template-explorer: any of: packages/template-explorer/
  vue: any of: packages/vue/
  vue-compat: any of: packages/vue-compat/
