Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

codecov.yml:

coverage:
  status:
    project:
      default:
        # Status checks are set to be non-blocking
        informational: true
    patch:
      default:
        # Status checks are set to be non-blocking
        informational: true

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: packages
      paths:
        - packages/
    - component_id: compiler-core
      paths:
        - packages/compiler-core/
    - component_id: compiler-dom
      paths:
        - packages/compiler-dom/
    - component_id: compiler-sfc
      paths:
        - packages/compiler-sfc/
    - component_id: compiler-sfc
      paths:
        - packages/compiler-sfc/
    - component_id: reactivity
      paths:
        - packages/reactivity/
    - component_id: reactivity-transform
      paths:
        - packages/reactivity-transform/
    - component_id: runtime-core
      paths:
        - packages/runtime-core/
    - component_id: runtime-dom
      paths:
        - packages/runtime-dom/
    - component_id: runtime-test
      paths:
        - packages/runtime-test/
    - component_id: server-renderer
      paths:
        - packages/server-renderer/
    - component_id: sfc-playground
      paths:
        - packages/sfc-playground/
    - component_id: shared
      paths:
        - packages/shared/
    - component_id: size-check
      paths:
        - packages/size-check/
    - component_id: template-explorer
      paths:
        - packages/template-explorer/
    - component_id: vue
      paths:
        - packages/vue/
    - component_id: vue-compat
      paths:
        - packages/vue-compat/

fix(compiler-vapor): let v-if and v-for slots override unconditional ones
  packages/compiler-vapor/src/generators/component.ts
  packages/runtime-vapor/__tests__/componentSlots.spec.ts
Due: packages

fix(server-renderer): fix silently catching async setup errors in SSR (#15716)
  packages/server-renderer/src/render.ts
Due: packages, server-renderer

fix(compiler-vapor): let v-if and v-for slots override unconditional ones (#15714)
  packages/compiler-vapor/src/generators/component.ts
  packages/runtime-vapor/__tests__/componentSlots.spec.ts
Due: packages

perf(runtime-vapor): avoid redundant block checks during hydration
  packages/runtime-vapor/__tests__/hydration/slots.spec.ts
  packages/runtime-vapor/src/dom/hydrateFragment.ts
Due: packages

fix(runtime-vapor): hydrate an empty branch as the whole slot content (#15713)
  packages/runtime-vapor/__tests__/hydration/slots.spec.ts
  packages/runtime-vapor/src/dom/hydrateFragment.ts
Due: packages

fix(runtime-vapor): reset fired state when removing once listeners
  packages/runtime-vapor/__tests__/dom/event.spec.ts
  packages/runtime-vapor/src/dom/event.ts
Due: packages

fix(runtime-vapor): pass the empty slots of vdom components on to child vnodes
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(runtime-vapor): pass the suspense boundary when hydrating vdom content
  packages/runtime-vapor/__tests__/hydration/suspense.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(runtime-vapor): pass the empty slots of vdom components on to child vnodes (#15719)
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(runtime-vapor): resolve css vars of a vdom parent when hydrating a vapor root
  packages/runtime-core/src/hydration.ts
  packages/runtime-core/src/index.ts
  packages/runtime-vapor/__tests__/hydration/interopBasic.spec.ts
  packages/runtime-vapor/src/dom/prop.ts
Due: packages, runtime-core

fix(runtime-vapor): pass the suspense boundary when hydrating vdom content (#15720)
  packages/runtime-vapor/__tests__/hydration/suspense.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(runtime-vapor): resolve css vars of a vdom parent when hydrating a vapor root (#15721)
  packages/runtime-core/src/hydration.ts
  packages/runtime-core/src/index.ts
  packages/runtime-vapor/__tests__/hydration/interopBasic.spec.ts
  packages/runtime-vapor/src/dom/prop.ts
Due: packages, runtime-core

refactor(runtime-vapor): hand vdom-evaluated props straight to the input store
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/componentProps.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

refactor(runtime-vapor): share the input tracking primitives with refs and key deps in a map
  packages/reactivity/src/dep.ts
  packages/reactivity/src/ref.ts
  packages/runtime-vapor/__tests__/componentProps.spec.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/componentProps.ts
  packages/runtime-vapor/src/componentSlots.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages, reactivity

fix(runtime-vapor): deliver props and dynamic slots in one atomic input effect
  packages/reactivity/src/index.ts
  packages/runtime-vapor/__tests__/apiWatch.spec.ts
  packages/runtime-vapor/__tests__/component.spec.ts
  packages/runtime-vapor/__tests__/componentEmits.spec.ts
  packages/runtime-vapor/__tests__/componentProps.spec.ts
  packages/runtime-vapor/__tests__/componentSlots.spec.ts
  packages/runtime-vapor/__tests__/hmr.spec.ts
  packages/runtime-vapor/src/apiDefineAsyncComponent.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/componentEmits.ts
  packages/runtime-vapor/src/componentProps.ts
  packages/runtime-vapor/src/componentSlots.ts
  packages/runtime-vapor/src/components/KeepAlive.ts
  packages/runtime-vapor/src/components/TransitionGroup.ts
  packages/runtime-vapor/src/keepAlive.ts
  packages/runtime-vapor/src/renderEffect.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages, reactivity

fix(runtime-vapor): commit props and dynamic slots to a vdom child in one batch
  packages/runtime-vapor/__tests__/componentSlots.spec.ts
  packages/runtime-vapor/src/componentProps.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

perf(runtime-vapor): key prop and slot deps on the instance instead of targetMap
  packages/reactivity/src/dep.ts
  packages/reactivity/src/index.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/componentProps.ts
  packages/runtime-vapor/src/componentSlots.ts
Due: packages, reactivity

refactor(runtime-vapor): deliver v-once inputs once instead of snapshotting them
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/componentProps.ts
  packages/runtime-vapor/src/componentSlots.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

refactor(reactivity): keep ref tracking on its own path
  packages/reactivity/src/ref.ts
Due: packages, reactivity

refactor(runtime-vapor): publish inputs through one shell and key deps on a null-prototype table
  packages/reactivity/src/index.ts
  packages/runtime-vapor/__tests__/componentProps.spec.ts
  packages/runtime-vapor/src/componentProps.ts
  packages/runtime-vapor/src/componentSlots.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages, reactivity

fix(runtime-vapor): deliver evaluated props to components
  packages/runtime-core/src/apiCreateApp.ts
  packages/runtime-vapor/__tests__/apiCreateVaporApp.spec.ts
  packages/runtime-vapor/__tests__/apiDefineAsyncComponent.spec.ts
  packages/runtime-vapor/__tests__/apiSetupHelpers.spec.ts
  packages/runtime-vapor/__tests__/component.spec.ts
  packages/runtime-vapor/__tests__/componentAttrs.spec.ts
  packages/runtime-vapor/__tests__/componentEmits.spec.ts
  packages/runtime-vapor/__tests__/componentProps.spec.ts
  packages/runtime-vapor/__tests__/components/KeepAlive.spec.ts
  packages/runtime-vapor/__tests__/customElement.spec.ts
  packages/runtime-vapor/__tests__/gc.spec.ts
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/apiDefineAsyncComponent.ts
  packages/runtime-vapor/src/apiDefineCustomElement.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/componentEmits.ts
  packages/runtime-vapor/src/componentProps.ts
  packages/runtime-vapor/src/components/KeepAlive.ts
  packages/runtime-vapor/src/components/TransitionGroup.ts
  packages/runtime-vapor/src/fragment.ts
  packages/runtime-vapor/src/keepAlive.ts
  packages/runtime-vapor/src/vdomInterop.ts
  vite.config.ts
Due: packages, runtime-core

fix(runtime-core): keep local useModel value when prop did not change (#15672)
  packages/runtime-core/src/helpers/useModel.ts
  packages/runtime-vapor/__tests__/componentProps.spec.ts
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
Due: packages, runtime-core

fix(runtime-vapor): refresh a vdom child's raw props on patch and deliver its slots in the same batch
  packages/runtime-vapor/__tests__/componentSlots.spec.ts
  packages/runtime-vapor/__tests__/gc.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(reactivity): notify the rest of the batch when a subscriber throws (#15676)
  packages/reactivity/__tests__/effect.spec.ts
  packages/reactivity/src/system.ts
Due: packages, reactivity

fix(compiler-core): parenthesise v-for key in v-memo cache guard
  packages/compiler-core/__tests__/transforms/__snapshots__/vMemo.spec.ts.snap
  packages/compiler-core/__tests__/transforms/vMemo.spec.ts
  packages/compiler-core/src/transforms/vFor.ts
Due: packages, compiler-core

fix(runtime-vapor): restore the active subscriber when an interop delivery throws
  packages/runtime-vapor/__tests__/componentSlots.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(runtime-vapor): deliver evaluated props and dynamic slots to components (#15708)
  packages/reactivity/src/dep.ts
  packages/reactivity/src/index.ts
  packages/runtime-core/src/apiCreateApp.ts
  packages/runtime-vapor/__tests__/apiCreateVaporApp.spec.ts
  packages/runtime-vapor/__tests__/apiDefineAsyncComponent.spec.ts
  packages/runtime-vapor/__tests__/apiSetupHelpers.spec.ts
  packages/runtime-vapor/__tests__/apiWatch.spec.ts
  packages/runtime-vapor/__tests__/component.spec.ts
  packages/runtime-vapor/__tests__/componentAttrs.spec.ts
  packages/runtime-vapor/__tests__/componentEmits.spec.ts
  packages/runtime-vapor/__tests__/componentProps.spec.ts
  packages/runtime-vapor/__tests__/componentSlots.spec.ts
  packages/runtime-vapor/__tests__/components/KeepAlive.spec.ts
  packages/runtime-vapor/__tests__/customElement.spec.ts
  packages/runtime-vapor/__tests__/gc.spec.ts
  packages/runtime-vapor/__tests__/hmr.spec.ts
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/apiDefineAsyncComponent.ts
  packages/runtime-vapor/src/apiDefineCustomElement.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/componentEmits.ts
  packages/runtime-vapor/src/componentProps.ts
  packages/runtime-vapor/src/componentSlots.ts
  packages/runtime-vapor/src/components/KeepAlive.ts
  packages/runtime-vapor/src/components/TransitionGroup.ts
  packages/runtime-vapor/src/fragment.ts
  packages/runtime-vapor/src/keepAlive.ts
  packages/runtime-vapor/src/renderEffect.ts
  packages/runtime-vapor/src/vdomInterop.ts
  vite.config.ts
Due: packages, reactivity, runtime-core

release: v3.6.0-rc.10
  CHANGELOG.md
  package.json
  packages/compiler-core/package.json
  packages/compiler-dom/package.json
  packages/compiler-sfc/package.json
  packages/compiler-ssr/package.json
  packages/compiler-vapor/package.json
  packages/reactivity/package.json
  packages/runtime-core/package.json
  packages/runtime-dom/package.json
  packages/runtime-vapor/package.json
  packages/server-renderer/package.json
  packages/shared/package.json
  packages/vue-compat/package.json
  packages/vue/package.json
Due: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, runtime-core, runtime-dom, server-renderer, shared, vue, vue-compat

fix(compiler-vapor): keep dynamic prop listeners lazy when expressions repeat
  packages/compiler-vapor/__tests__/transforms/__snapshots__/expression.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/expression.spec.ts
  packages/compiler-vapor/src/generators/expression.ts
  packages/compiler-vapor/src/generators/operation.ts
Due: packages

fix(transition): handle synchronous leave completion in out-in mode
  packages/runtime-core/__tests__/components/BaseTransition.spec.ts
  packages/runtime-core/src/components/BaseTransition.ts
Due: packages, runtime-core

fix(compiler-vapor): declare merged listeners ahead of the render effect
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformElement.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vModel.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/transformElement.spec.ts
  packages/compiler-vapor/src/generators/component.ts
  packages/compiler-vapor/src/generators/operation.ts
  packages/compiler-vapor/src/generators/prop.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
  packages/runtime-vapor/__tests__/expressionCache.spec.ts
Due: packages

fix(compiler-vapor): hoist dynamic event handlers and avoid cache name clashes
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformElement.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vModel.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vOn.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/transformElement.spec.ts
  packages/compiler-vapor/__tests__/transforms/vOn.spec.ts
  packages/compiler-vapor/src/generators/component.ts
  packages/compiler-vapor/src/generators/event.ts
  packages/compiler-vapor/src/generators/operation.ts
  packages/compiler-vapor/src/generators/prop.ts
  packages/runtime-vapor/__tests__/expressionCache.spec.ts
Due: packages

fix(compiler-vapor): allocate handler names through the shared local name allocator
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformElement.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/transformElement.spec.ts
  packages/compiler-vapor/src/generate.ts
  packages/compiler-vapor/src/generators/event.ts
  packages/compiler-vapor/src/generators/operation.ts
  packages/runtime-vapor/__tests__/expressionCache.spec.ts
Due: packages

fix(compiler-vapor): set the value of an input after its other props
  packages/compiler-vapor/__tests__/transforms/__snapshots__/expression.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vBind.spec.ts.snap
  packages/compiler-vapor/src/transforms/transformElement.ts
  packages/runtime-vapor/__tests__/dom/template.spec.ts
  packages/runtime-vapor/src/dom/prop.ts
Due: packages

fix(runtime-vapor): run vdom Transition hooks for vapor slot content
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(runtime-vapor): apply transition hooks to forwarded slot blocks
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(compiler-vapor): keep input value after preceding props on every path
  packages/compiler-vapor/__tests__/transforms/vBind.spec.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
  packages/runtime-vapor/__tests__/dom/template.spec.ts
  packages/runtime-vapor/__tests__/hydration/mismatch.spec.ts
  packages/runtime-vapor/src/dom/prop.ts
Due: packages

fix(runtime-vapor): re-sync a checkbox array model when its value changes
  packages/runtime-vapor/__tests__/directives/vModel.spec.ts
  packages/runtime-vapor/__tests__/hydration/basic.spec.ts
  packages/runtime-vapor/src/directives/vModel.ts
Due: packages

fix(runtime-vapor): keep parent transition and directives on the root after hmr rerender
  packages/runtime-vapor/__tests__/hmr.spec.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/directives/custom.ts
  packages/runtime-vapor/src/directives/vShow.ts
  packages/runtime-vapor/src/hmr.ts
Due: packages

fix(runtime-vapor): unmount vdom roots of nested vapor components when vdom owns the removal
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/block.ts
Due: packages
