Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

codecov.yml:

coverage:
  status:
    project:
      default:
        # Status checks are set to be non-blocking
        informational: true
    patch:
      default:
        # Status checks are set to be non-blocking
        informational: true

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: packages
      paths:
        - packages/
    - component_id: compiler-core
      paths:
        - packages/compiler-core/
    - component_id: compiler-dom
      paths:
        - packages/compiler-dom/
    - component_id: compiler-sfc
      paths:
        - packages/compiler-sfc/
    - component_id: compiler-sfc
      paths:
        - packages/compiler-sfc/
    - component_id: reactivity
      paths:
        - packages/reactivity/
    - component_id: reactivity-transform
      paths:
        - packages/reactivity-transform/
    - component_id: runtime-core
      paths:
        - packages/runtime-core/
    - component_id: runtime-dom
      paths:
        - packages/runtime-dom/
    - component_id: runtime-test
      paths:
        - packages/runtime-test/
    - component_id: server-renderer
      paths:
        - packages/server-renderer/
    - component_id: sfc-playground
      paths:
        - packages/sfc-playground/
    - component_id: shared
      paths:
        - packages/shared/
    - component_id: size-check
      paths:
        - packages/size-check/
    - component_id: template-explorer
      paths:
        - packages/template-explorer/
    - component_id: vue
      paths:
        - packages/vue/
    - component_id: vue-compat
      paths:
        - packages/vue-compat/

release: v3.4.12
  CHANGELOG.md
  package.json
  packages/compiler-core/package.json
  packages/compiler-dom/package.json
  packages/compiler-sfc/package.json
  packages/compiler-ssr/package.json
  packages/reactivity/package.json
  packages/runtime-core/package.json
  packages/runtime-dom/package.json
  packages/server-renderer/package.json
  packages/shared/package.json
  packages/vue-compat/package.json
  packages/vue/package.json
Due: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, runtime-core, runtime-dom, server-renderer, shared, vue, vue-compat

fix(reactivity): fix #10085, #10090 test
  packages/reactivity/__tests__/computed.spec.ts
  packages/reactivity/src/computed.ts
  packages/reactivity/src/constants.ts
  packages/reactivity/src/effect.ts
Due: packages, reactivity

fix(reactivity): skip outdated deps
  packages/reactivity/src/effect.ts
Due: packages, reactivity

test: add 10082 test case
  packages/reactivity/__tests__/effect.spec.ts
Due: packages, reactivity

chore: delay unmount child suspense
  packages/runtime-core/src/components/Suspense.ts
Due: packages, runtime-core

fix(Suspense): avoid unmount nested Suspense if parent suspense is not resolved
  packages/runtime-core/src/components/Suspense.ts
Due: packages, runtime-core

added DeclareEmits and removed shortEmits type
  packages/dts-test/componentTypeHelpers.test-d.tsx
  packages/runtime-core/src/apiSetupHelpers.ts
  packages/runtime-core/src/componentEmits.ts
  packages/runtime-core/src/componentTypeHelpers.ts
Due: packages, runtime-core

fix(reactivity): fix dirtyLevel checks for recursive effects (#10101)
  packages/reactivity/__tests__/computed.spec.ts
  packages/reactivity/__tests__/effect.spec.ts
  packages/reactivity/src/computed.ts
  packages/reactivity/src/constants.ts
  packages/reactivity/src/effect.ts
Due: packages, reactivity

release: v3.4.13
  CHANGELOG.md
  package.json
  packages/compiler-core/package.json
  packages/compiler-dom/package.json
  packages/compiler-sfc/package.json
  packages/compiler-ssr/package.json
  packages/reactivity/package.json
  packages/runtime-core/package.json
  packages/runtime-dom/package.json
  packages/server-renderer/package.json
  packages/shared/package.json
  packages/vue-compat/package.json
  packages/vue/package.json
Due: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, runtime-core, runtime-dom, server-renderer, shared, vue, vue-compat

EmitsOptions to support events
  packages/runtime-core/src/apiSetupHelpers.ts
  packages/runtime-core/src/componentEmits.ts
Due: packages, runtime-core

improve type resolution when using ComponentEmits on DeclareComponent
  packages/dts-test/componentTypeHelpers.test-d.tsx
  packages/runtime-core/src/componentTypeHelpers.ts
Due: packages, runtime-core

feat(compiler-vapor): support `expressionPlugins` for generate (#91)
  packages/compiler-vapor/__tests__/transforms/vOn.spec.ts
  packages/compiler-vapor/src/compile.ts
  packages/compiler-vapor/src/generate.ts
Due: packages

docs: fix typo in CHANGELOG.md
  CHANGELOG.md
Due: none

chore: improve ObjectToProps, to keep the original type
  packages/dts-test/componentTypeHelpers.test-d.tsx
  packages/runtime-core/src/componentTypeHelpers.ts
Due: packages, runtime-core

chore: fix typo in changelog (#10104) [ci skip]
  CHANGELOG.md
Due: none

chore: Added DynamicComponent type helper
  packages/dts-test/componentTypeHelpers.test-d.tsx
  packages/runtime-core/src/componentTypeHelpers.ts
Due: packages, runtime-core

chore: fix typo
  packages/runtime-core/src/componentTypeHelpers.ts
Due: packages, runtime-core

chore: add a few tests for DynamicComponent
  packages/dts-test/componentTypeHelpers.test-d.tsx
Due: packages

fix(compiler-sfc): enable prefixIdentifiers by default
  packages/compiler-sfc/src/compileTemplate.ts
Due: packages, compiler-sfc

Update compileTemplate.ts
  packages/compiler-sfc/src/compileTemplate.ts
Due: packages, compiler-sfc

fix(compiler-sfc): enable prefixIdentifiers by default when reparsing on consumed AST (#10105)
  packages/compiler-sfc/src/compileTemplate.ts
Due: packages, compiler-sfc

chore: improve
  packages/runtime-core/src/components/Suspense.ts
Due: packages, runtime-core

chore: dev build for multi-packages
  scripts/dev.js
Due: none

chore: dev build for multi-packages (#10108)
  scripts/dev.js
Due: none

fix(effect): computed lost dirty
  packages/reactivity/__tests__/computed.spec.ts
  packages/reactivity/src/effect.ts
Due: packages, reactivity

fix(reactivity): the scheduler handles the computed final dirtylevel
  packages/reactivity/__tests__/computed.spec.ts
  packages/reactivity/src/computed.ts
Due: packages, reactivity

fix(reactivity): fix regression for computed with mutation (#10119)
  packages/reactivity/__tests__/computed.spec.ts
  packages/reactivity/src/effect.ts
Due: packages, reactivity

release: v3.4.14
  CHANGELOG.md
  package.json
  packages/compiler-core/package.json
  packages/compiler-dom/package.json
  packages/compiler-sfc/package.json
  packages/compiler-ssr/package.json
  packages/reactivity/package.json
  packages/runtime-core/package.json
  packages/runtime-dom/package.json
  packages/server-renderer/package.json
  packages/shared/package.json
  packages/vue-compat/package.json
  packages/vue/package.json
Due: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, runtime-core, runtime-dom, server-renderer, shared, vue, vue-compat

fix(reactivity): re-fix #10114
  packages/reactivity/__tests__/computed.spec.ts
  packages/reactivity/src/computed.ts
  packages/reactivity/src/effect.ts
Due: packages, reactivity

Update computed.spec.ts
  packages/reactivity/__tests__/computed.spec.ts
Due: packages, reactivity

fix(compiler-core): emit TS-compatible function declaration when requested
  packages/compiler-core/__tests__/__snapshots__/scopeId.spec.ts.snap
  packages/compiler-core/__tests__/scopeId.spec.ts
  packages/compiler-core/src/codegen.ts
Due: packages, compiler-core

fix(compiler-core): v-on: emit return type for wrapped stmt
  packages/compiler-core/__tests__/transforms/vOn.spec.ts
  packages/compiler-core/src/transforms/vOn.ts
Due: packages, compiler-core

fix(compiler-core): v-on: emit TS param types when prefixIdentifiers is set
  packages/compiler-core/__tests__/transforms/vOn.spec.ts
  packages/compiler-core/src/transforms/transformExpression.ts
Due: packages, compiler-core

fix(runtime-core): should not warn when mounting another app in setup
  packages/runtime-core/__tests__/componentSlots.spec.ts
  packages/runtime-core/src/componentSlots.ts
Due: packages, runtime-core

fix(reactivity): should trigger effect even computed already dirty
  packages/reactivity/__tests__/computed.spec.ts
  packages/reactivity/src/computed.ts
  packages/reactivity/src/effect.ts
Due: packages, reactivity

Update computed.ts
  packages/reactivity/src/computed.ts
Due: packages, reactivity

chore: improve types
  packages/runtime-core/src/apiAsyncComponent.ts
  packages/runtime-core/src/componentTypeHelpers.ts
Due: packages, runtime-core

chore: clean up types, prevent object properties being overridden
  packages/dts-test/componentTypeHelpers.test-d.tsx
  packages/runtime-core/__tests__/apiOptions.spec.ts
  packages/runtime-core/src/apiAsyncComponent.ts
  packages/runtime-core/src/apiDefineComponent.ts
  packages/runtime-core/src/componentTypeHelpers.ts
Due: packages, runtime-core
