Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

codecov.yml:

coverage:
  status:
    project:
      default:
        # Status checks are set to be non-blocking
        informational: true
    patch:
      default:
        # Status checks are set to be non-blocking
        informational: true

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: packages
      paths:
        - packages/
    - component_id: compiler-core
      paths:
        - packages/compiler-core/
    - component_id: compiler-dom
      paths:
        - packages/compiler-dom/
    - component_id: compiler-sfc
      paths:
        - packages/compiler-sfc/
    - component_id: compiler-sfc
      paths:
        - packages/compiler-sfc/
    - component_id: reactivity
      paths:
        - packages/reactivity/
    - component_id: reactivity-transform
      paths:
        - packages/reactivity-transform/
    - component_id: runtime-core
      paths:
        - packages/runtime-core/
    - component_id: runtime-dom
      paths:
        - packages/runtime-dom/
    - component_id: runtime-test
      paths:
        - packages/runtime-test/
    - component_id: server-renderer
      paths:
        - packages/server-renderer/
    - component_id: sfc-playground
      paths:
        - packages/sfc-playground/
    - component_id: shared
      paths:
        - packages/shared/
    - component_id: size-check
      paths:
        - packages/size-check/
    - component_id: template-explorer
      paths:
        - packages/template-explorer/
    - component_id: vue
      paths:
        - packages/vue/
    - component_id: vue-compat
      paths:
        - packages/vue-compat/

chore: update
  packages/compiler-vapor/src/generators/slotOutlet.ts
Due: packages

refactor(vapor): omit bare default slot outlet name (#14879)
  packages/compiler-vapor/__tests__/__snapshots__/compile.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/logicalIndex.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformSlotOutlet.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vSlot.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/transformSlotOutlet.spec.ts
  packages/compiler-vapor/src/generators/slotOutlet.ts
  packages/runtime-vapor/__tests__/componentSlots.spec.ts
  packages/runtime-vapor/src/componentSlots.ts
Due: packages

refactor(compiler-vapor): emit static slot props directly
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformSlotOutlet.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/transformSlotOutlet.spec.ts
  packages/compiler-vapor/src/generators/slotOutlet.ts
  packages/runtime-vapor/__tests__/componentSlots.spec.ts
Due: packages

refactor(compiler-vapor): emit static slot props directly (#14880)
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformSlotOutlet.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/transformSlotOutlet.spec.ts
  packages/compiler-vapor/src/generators/slotOutlet.ts
  packages/runtime-vapor/__tests__/componentSlots.spec.ts
Due: packages

perf(compiler-vapor): expand component object literal v-bind props
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformElement.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/transformElement.spec.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
Due: packages

perf(compiler-vapor): expand component object literal v-on handlers
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformElement.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/transformElement.spec.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
Due: packages

wip: save
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformElement.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/transformElement.spec.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
Due: packages

fix(compiler-vapor): preserve v-model with object literal v-bind
  packages/compiler-vapor/__tests__/transforms/__snapshots__/expression.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vModel.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vModel.spec.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
Due: packages

test: add more tests
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformElement.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/transformElement.spec.ts
Due: packages

perf(compiler-vapor): expand object literal v-bind and v-on (#14884)
  packages/compiler-vapor/__tests__/transforms/__snapshots__/expression.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformElement.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vModel.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/transformElement.spec.ts
  packages/compiler-vapor/__tests__/transforms/vModel.spec.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
Due: packages

fix(runtime-dom): preserve event handler array dispatch snapshot
  packages/runtime-dom/__benchmarks__/events.bench.ts
  packages/runtime-dom/__tests__/patchEvents.spec.ts
  packages/runtime-dom/src/modules/events.ts
Due: packages, runtime-dom

chore: small tweaks
  packages/runtime-dom/__benchmarks__/events.bench.ts
  packages/runtime-dom/__tests__/patchProps.spec.ts
Due: packages, runtime-dom

fix(runtime-core): narrow persisted-transition skip to hook calls only
  packages/runtime-core/src/renderer.ts
Due: packages, runtime-core

refactor(runtime-vapor): improve DynamicFragment initialization and slot boundary handling
  packages/runtime-vapor/src/fragment.ts
Due: packages

perf(runtime-vapor): reduce v-if branch scope overhead
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vIf.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vIf.spec.ts
  packages/compiler-vapor/src/generators/if.ts
  packages/compiler-vapor/src/transforms/vIf.ts
  packages/runtime-vapor/__tests__/if.spec.ts
  packages/runtime-vapor/src/apiCreateIf.ts
  packages/runtime-vapor/src/fragment.ts
  packages/shared/src/vaporFlags.ts
Due: packages, shared

refactor(runtime-vapor): decouple dynamic fragment attr fallthrough
  packages/runtime-vapor/__tests__/if.spec.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/fragment.ts
Due: packages

refactor(runtime-vapor): move KeepAlive branch caching to update hook
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/components/KeepAlive.ts
  packages/runtime-vapor/src/fragment.ts
Due: packages

chore: update snap
  packages/compiler-vapor/__tests__/__snapshots__/compile.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/TransformTransition.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/logicalIndex.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformChildren.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformKey.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vFor.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vOnce.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vSlot.spec.ts.snap
Due: packages

refactor(vapor): move KeepAlive scope caching to fragment hooks
  packages/runtime-vapor/src/components/KeepAlive.ts
  packages/runtime-vapor/src/fragment.ts
Due: packages

chore(runtime): skip deferred hydration checks outside hydration
  packages/runtime-vapor/src/fragment.ts
Due: packages

perf(runtime-vapor): fast path matching fragment render contexts
  packages/runtime-vapor/src/fragment.ts
Due: packages

fix(server-renderer): propagate sync errors from `ssrRenderSuspense` (#14804)
  packages/server-renderer/__tests__/ssrSuspense.spec.ts
  packages/server-renderer/src/helpers/ssrRenderSuspense.ts
Due: packages, server-renderer

fix(compiler-sfc): resolve top-level exports from files registered as global types (#14805)
  packages/compiler-sfc/__tests__/compileScript/resolveType.spec.ts
  packages/compiler-sfc/src/script/resolveType.ts
Due: packages, compiler-sfc

perf(server-renderer): avoid materializing iterables in ssrRenderList (#14821)
  packages/server-renderer/__tests__/ssrRenderList.spec.ts
  packages/server-renderer/src/helpers/ssrRenderList.ts
Due: packages, server-renderer

fix(runtime-core): avoid repeated hydration mismatch checks (#14857)
  packages/runtime-core/__tests__/hydration.spec.ts
  packages/runtime-core/src/hydration.ts
Due: packages, runtime-core

fix(compiler-core): avoid double processing v-for keys with v-memo (#14861)
  packages/compiler-core/__tests__/transforms/__snapshots__/vMemo.spec.ts.snap
  packages/compiler-core/__tests__/transforms/vFor.spec.ts
  packages/compiler-core/__tests__/transforms/vMemo.spec.ts
  packages/compiler-core/src/transforms/vFor.ts
Due: packages, compiler-core

fix(teleport): skip child unmount when pending mount discarded (#14876) (#14877)
  packages/runtime-core/__tests__/components/Suspense.spec.ts
  packages/runtime-core/__tests__/components/Teleport.spec.ts
  packages/runtime-core/src/components/Teleport.ts
Due: packages, runtime-core

perf(reactivity): skip type checks for cached proxies (#14860)
  packages/reactivity/__benchmarks__/reactiveObject.bench.ts
  packages/reactivity/src/reactive.ts
Due: packages, reactivity

perf(runtime-dom): optimize array event handler dispatch (#14828)
  packages/runtime-dom/__tests__/patchEvents.spec.ts
  packages/runtime-dom/src/modules/events.ts
Due: packages, runtime-dom

fix(runtime-core): preserve pending v-show leave on keep-alive move
  packages/runtime-core/src/renderer.ts
  packages/vue/__tests__/e2e/Transition.spec.ts
Due: packages, runtime-core, vue

ci: use backup action for size report comments
  .github/workflows/size-report.yml
Due: none

fix(runtime-core): skip idle persisted transition hooks in keep-alive moves (#14865)
  packages/runtime-core/__tests__/components/BaseTransition.spec.ts
  packages/runtime-core/src/renderer.ts
  packages/vue/__tests__/e2e/Transition.spec.ts
Due: packages, runtime-core, vue
