Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

chore: update
  packages/runtime-vapor/src/components/Teleport.ts
  packages/runtime-vapor/src/index.ts
Due: packages

chore: fix package source include path
  packages-private/local-playground/tsconfig.json
Due: none

fix(runtime-vapor): respect immutability for readonly reactive arrays in `v-for`
  packages/runtime-vapor/__tests__/for.spec.ts
  packages/runtime-vapor/src/apiCreateFor.ts
Due: packages

chore: reset prevChildren after updated
  packages/runtime-vapor/src/components/TransitionGroup.ts
Due: packages

chore: update
  packages/runtime-vapor/src/components/KeepAlive.ts
  packages/runtime-vapor/src/dom/node.ts
Due: packages

chore: update
  packages/runtime-vapor/src/dom/template.ts
Due: packages

test: add test
  packages/vue/__tests__/e2e/TransitionGroup.spec.ts
Due: packages, vue

chore: remove warnRecursiveComputed (#13128)
  packages/reactivity/src/computed.ts
  packages/runtime-core/src/apiComputed.ts
  packages/runtime-core/src/apiCreateApp.ts
Due: packages, reactivity, runtime-core

feat(compiler-vapor, runtime-vapor): recognize selector pattern and key only binding pattern in v-for
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vFor.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vFor.spec.ts
  packages/compiler-vapor/src/generators/block.ts
  packages/compiler-vapor/src/generators/expression.ts
  packages/compiler-vapor/src/generators/for.ts
  packages/compiler-vapor/src/generators/operation.ts
  packages/reactivity/src/effectScope.ts
  packages/runtime-vapor/src/apiCreateFor.ts
  packages/runtime-vapor/src/index.ts
  packages/runtime-vapor/src/renderEffect.ts
  rollup.config.js
Due: packages, reactivity

Fix toHaveBeenWarnedTimes type definition in setup-vitest.ts
  scripts/setup-vitest.ts
Due: none

wip: vdom interop
  packages/runtime-vapor/src/block.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/components/KeepAlive.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

refactor(reactivity): execute effect stop in unlink
  packages/reactivity/src/effectScope.ts
  packages/reactivity/src/system.ts
Due: packages, reactivity

fix(scripts): add error handling to verify-treeshaking script
  scripts/verify-treeshaking.js
Due: none

feat(types): Improve expose typing
  packages/runtime-core/src/apiDefineComponent.ts
  packages/runtime-core/src/component.ts
Due: packages, runtime-core

feat(defineComponent): Add expose typing tests when using setup function
  packages/runtime-core/src/component.ts
Due: packages, runtime-core

feat(defineComponent): Add expose typing tests when using setup function
  packages-private/dts-test/defineComponent.test-d.tsx
Due: none

fix(compiler-sfc): throw mismatched script langs error before invoking babel
  packages/compiler-sfc/__tests__/compileScript.spec.ts
  packages/compiler-sfc/src/compileScript.ts
Due: packages, compiler-sfc

wip: vdom interop
  packages/runtime-core/src/components/KeepAlive.ts
  packages/runtime-core/src/index.ts
  packages/runtime-vapor/src/components/KeepAlive.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages, runtime-core

fix(compiler-sfc): treat the return value of `useTemplateRef` as a definite ref
  packages/compiler-sfc/src/compileScript.ts
Due: packages, compiler-sfc

wip: vdom interop
  packages/runtime-core/src/apiCreateApp.ts
  packages/runtime-core/src/components/KeepAlive.ts
  packages/runtime-core/src/renderer.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/components/KeepAlive.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages, runtime-core

wip: transform KeepAlive to VaporKeepAlive
  packages/compiler-vapor/src/generators/component.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
  packages/compiler-vapor/src/utils.ts
Due: packages

fix(compiler-sfc): treat the return value of `useTemplateRef` as a definite ref (#13197)
  packages/compiler-sfc/src/compileScript.ts
Due: packages, compiler-sfc

fix(runtime-dom): make the rendering of `<template>` elements consistent with native behavior
  packages/runtime-dom/src/nodeOps.ts
Due: packages, runtime-dom

fix(custom-element): avoid re-parsing slots if already resolved
  packages/runtime-dom/src/apiCustomElement.ts
Due: packages, runtime-dom

test: add test
  packages/runtime-dom/__tests__/customElement.spec.ts
Due: packages, runtime-dom

wip: e2e tests
  packages-private/vapor-e2e-test/__tests__/keepalive.spec.ts
  packages-private/vapor-e2e-test/index.html
  packages-private/vapor-e2e-test/keepalive/App.vue
  packages-private/vapor-e2e-test/keepalive/components/VdomComp.vue
  packages-private/vapor-e2e-test/keepalive/index.html
  packages-private/vapor-e2e-test/keepalive/main.ts
  packages-private/vapor-e2e-test/package.json
  packages-private/vapor-e2e-test/vite.config.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/components/KeepAlive.ts
Due: packages

chore: update
  packages-private/vapor-e2e-test/package.json
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/components/KeepAlive.ts
Due: packages

wip: e2e tests
  packages-private/vapor-e2e-test/__tests__/vdomInterop.spec.ts
  packages-private/vapor-e2e-test/interop/App.vue
  packages-private/vapor-e2e-test/interop/components/SimpleVaporComp.vue
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(vapor): update insertion handling
  packages/compiler-vapor/__tests__/__snapshots__/compile.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformChildren.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vFor.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vOnce.spec.ts.snap
  packages/compiler-vapor/src/generators/operation.ts
  packages/compiler-vapor/src/transforms/transformChildren.ts
  packages/runtime-vapor/src/apiCreateFor.ts
  packages/runtime-vapor/src/apiCreateIf.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/componentSlots.ts
Due: packages

fix(custom-element): update slot nodes when shadowRoot is false
  packages/runtime-core/src/helpers/renderSlot.ts
  packages/runtime-core/src/renderer.ts
  packages/runtime-core/src/vnode.ts
  packages/runtime-dom/src/apiCustomElement.ts
Due: packages, runtime-core, runtime-dom

wip: update
  packages/runtime-core/src/renderer.ts
Due: packages, runtime-core

fix(runtime-core): stop tracking deps in setRef during unmount
  packages/runtime-core/src/renderer.ts
Due: packages, runtime-core

fix(test): report correct value of `__EXTEND_POINT__` when subsequent error codes is less than it
  packages/compiler-dom/src/errors.ts
  packages/compiler-ssr/src/errors.ts
Due: packages, compiler-dom

test: add tests
  packages/runtime-dom/__tests__/customElement.spec.ts
  packages/runtime-dom/src/apiCustomElement.ts
Due: packages, runtime-dom

fix
  packages/runtime-core/src/renderer.ts
Due: packages, runtime-core

fix(compiler-core): remove slot cache from parent renderCache during unmounting
  packages/compiler-core/__tests__/transforms/cacheStatic.spec.ts
  packages/compiler-core/src/transforms/cacheStatic.ts
  packages/compiler-core/src/transforms/vSlot.ts
  packages/runtime-core/src/componentSlots.ts
  packages/runtime-core/src/renderer.ts
Due: packages, compiler-core, runtime-core

fix(compat): ensure false value on input retains value attribute
  packages/runtime-dom/src/modules/attrs.ts
  packages/vue-compat/__tests__/misc.spec.ts
Due: packages, runtime-dom, vue-compat

fix(runtime-core): fix the issue of passing incorrect parentComponent to patch when KeepAlive is activated
  packages/runtime-core/src/components/KeepAlive.ts
Due: packages, runtime-core

fix(custom-elements): allow injecting values ​​from app context in nested elements
  packages/runtime-core/src/apiCreateApp.ts
  packages/runtime-core/src/apiInject.ts
  packages/runtime-dom/src/apiCustomElement.ts
Due: packages, runtime-core, runtime-dom

Path conditions:
  packages: any of: packages/
  compiler-core: any of: packages/compiler-core/
  compiler-dom: any of: packages/compiler-dom/
  compiler-sfc: any of: packages/compiler-sfc/
  reactivity: any of: packages/reactivity/
  reactivity-transform: any of: packages/reactivity-transform/
  runtime-core: any of: packages/runtime-core/
  runtime-dom: any of: packages/runtime-dom/
  runtime-test: any of: packages/runtime-test/
  server-renderer: any of: packages/server-renderer/
  sfc-playground: any of: packages/sfc-playground/
  shared: any of: packages/shared/
  size-check: any of: packages/size-check/
  template-explorer: any of: packages/template-explorer/
  vue: any of: packages/vue/
  vue-compat: any of: packages/vue-compat/
