Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

codecov.yml:

coverage:
  status:
    project:
      default:
        # Status checks are set to be non-blocking
        informational: true
    patch:
      default:
        # Status checks are set to be non-blocking
        informational: true

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: packages
      paths:
        - packages/
    - component_id: compiler-core
      paths:
        - packages/compiler-core/
    - component_id: compiler-dom
      paths:
        - packages/compiler-dom/
    - component_id: compiler-sfc
      paths:
        - packages/compiler-sfc/
    - component_id: compiler-sfc
      paths:
        - packages/compiler-sfc/
    - component_id: reactivity
      paths:
        - packages/reactivity/
    - component_id: reactivity-transform
      paths:
        - packages/reactivity-transform/
    - component_id: runtime-core
      paths:
        - packages/runtime-core/
    - component_id: runtime-dom
      paths:
        - packages/runtime-dom/
    - component_id: runtime-test
      paths:
        - packages/runtime-test/
    - component_id: server-renderer
      paths:
        - packages/server-renderer/
    - component_id: sfc-playground
      paths:
        - packages/sfc-playground/
    - component_id: shared
      paths:
        - packages/shared/
    - component_id: size-check
      paths:
        - packages/size-check/
    - component_id: template-explorer
      paths:
        - packages/template-explorer/
    - component_id: vue
      paths:
        - packages/vue/
    - component_id: vue-compat
      paths:
        - packages/vue-compat/

fix(compiler-core): change v-for key type to match Object.keys (#10963)
  packages/runtime-core/src/helpers/renderList.ts
Due: packages, runtime-core

fix: correct the type of `<details>`'s `onToggle` event handler (#10938)
  packages/runtime-dom/src/jsx.ts
Due: packages, runtime-dom

test: update coverage exclude (#10915)
  vitest.config.ts
Due: none

ci: fix overwrite existing files
  .github/workflows/size-report.yml
Due: none

ci: fix RCE vulnerability in file overwrite (#10985)
  .github/workflows/size-report.yml
Due: none

test(vue-vapor): todomvc e2e test (#115)
  package.json
  packages/vue-vapor/__tests__/e2e/e2eUtils.ts
  packages/vue-vapor/__tests__/e2e/todomvc.spec.ts
  packages/vue-vapor/examples/composition/todomvc.html
  playground/src/example-todomvc.vue
  vitest.e2e.config.ts
Due: packages

feat(compiler/runtime-vapor): implement v-slots + v-for / v-if (#207)
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vSlot.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vSlot.spec.ts
  packages/compiler-vapor/src/generators/component.ts
  packages/compiler-vapor/src/ir.ts
  packages/compiler-vapor/src/transforms/vSlot.ts
  packages/runtime-vapor/src/apiCreateFor.ts
  packages/runtime-vapor/src/componentSlots.ts
  packages/runtime-vapor/src/index.ts
Due: packages

ci: fix RCE vulnerability in file overwrite
  .github/workflows/size-report.yml
Due: none

fix(compiler-core): the hoistStatic transform won't behave correctly for math blocks
  packages/compiler-core/src/transforms/hoistStatic.ts
Due: packages, compiler-core

chore(types): improve typings
  packages/compiler-sfc/src/script/resolveType.ts
Due: packages, compiler-sfc

chore: dedupe deps
  pnpm-lock.yaml
Due: none

feat(compiler-sfc): should not have non-element in sfc file
  packages/compiler-sfc/__tests__/parse.spec.ts
  packages/compiler-sfc/src/parse.ts
Due: packages, compiler-sfc

fix(custom-element): disconnect MutationObserver in nextTick in case that custom elements are moved (#10613)
  packages/runtime-dom/__tests__/customElement.spec.ts
  packages/runtime-dom/src/apiCustomElement.ts
Due: packages, runtime-dom

fix(runtime-core): force patch checked
  packages/runtime-core/__tests__/rendererComponent.spec.ts
  packages/runtime-core/src/renderer.ts
Due: packages, runtime-core

feat(core): implement ref function for creating reactive ref objects
  packages/reactivity/src/ref.ts
Due: packages, reactivity

chore: correct the comments in KeepAlive.ts [skip ci]
  packages/runtime-core/src/components/KeepAlive.ts
Due: packages, runtime-core

Update KeepAlive.ts
  packages/runtime-core/src/components/KeepAlive.ts
Due: packages, runtime-core

fix(compiler-sfc): fallback to UNKNOWN when unable to infer keyof operator, fix #11002
  packages/compiler-sfc/__tests__/compileScript/resolveType.spec.ts
  packages/compiler-sfc/src/script/resolveType.ts
Due: packages, compiler-sfc

fix(KeepAlive): properly cache nested Suspense subtree (#10912)
  packages/runtime-core/__tests__/components/Suspense.spec.ts
  packages/runtime-core/src/components/KeepAlive.ts
Due: packages, runtime-core

chore: use UNKNOWN_TYPE constant
  packages/compiler-sfc/__tests__/compileScript/resolveType.spec.ts
Due: packages, compiler-sfc

chore: correct the comments in KeepAlive.ts (#11005)
  packages/runtime-core/src/components/KeepAlive.ts
Due: packages, runtime-core

fix: make `ForIteratorExpression`'s `returns` property optional
  packages/compiler-core/src/ast.ts
Due: packages, compiler-core

fix(compiler-sfc): handle unknown type when inferring index signature
  packages/compiler-sfc/__tests__/compileScript/resolveType.spec.ts
  packages/compiler-sfc/src/script/resolveType.ts
Due: packages, compiler-sfc

types(runtime-core): export some types
  packages/runtime-core/src/index.ts
Due: packages, runtime-core

test(runtime-vapor): api lifecycle hooks (#215)
  packages/runtime-vapor/__tests__/apiLifecycle.spec.ts
  packages/runtime-vapor/src/index.ts
Due: packages

feat: directive lifecycle hooks in `v-for`, `v-if` and component (#123)
  packages/reactivity/src/effectScope.ts
  packages/runtime-vapor/__tests__/directives/vShow.spec.ts
  packages/runtime-vapor/__tests__/for.spec.ts
  packages/runtime-vapor/__tests__/if.spec.ts
  packages/runtime-vapor/src/apiCreateFor.ts
  packages/runtime-vapor/src/apiCreateIf.ts
  packages/runtime-vapor/src/blockEffectScope.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/componentLifecycle.ts
  packages/runtime-vapor/src/directives.ts
  packages/runtime-vapor/src/directivesChildFragment.ts
  packages/runtime-vapor/src/renderEffect.ts
Due: packages, reactivity

fix(Teleport): nested teleport should use parent css vars
  packages/runtime-core/src/component.ts
  packages/runtime-core/src/components/Teleport.ts
  packages/runtime-core/src/vnode.ts
  packages/runtime-dom/src/helpers/useCssVars.ts
Due: packages, runtime-core, runtime-dom

test: add unit test for useCssVars with nested teleport
  packages/runtime-core/src/vnode.ts
  packages/runtime-dom/__tests__/helpers/useCssVars.spec.ts
Due: packages, runtime-core, runtime-dom

wip: fix resolveType with declare global
  packages/compiler-sfc/__tests__/compileScript/resolveType.spec.ts
  packages/compiler-sfc/src/script/resolveType.ts
Due: packages, compiler-sfc

fix(compiler-core): make `ForIteratorExpression`'s `returns` property optional (#11011)
  packages/compiler-core/src/ast.ts
Due: packages, compiler-core

fix(ssr): fix hydration for node with empty text node (#7216)
  packages/runtime-core/__tests__/hydration.spec.ts
  packages/runtime-core/src/hydration.ts
Due: packages, runtime-core

chore(types): added `getSSRProps` type argument (#5691)
  packages/runtime-core/src/directives.ts
Due: packages, runtime-core

chore: run prettier
  packages/runtime-core/__tests__/hydration.spec.ts
Due: packages, runtime-core

fix(compat): correctly transform non-identifier expressions in legacy filter syntax (#10896)
  packages/compiler-core/src/compat/transformFilter.ts
  packages/compiler-sfc/__tests__/compileTemplate.spec.ts
Due: packages, compiler-core, compiler-sfc

chore(sfc-playground): add pnpm usage to download template (#7815)
  packages/sfc-playground/src/download/template/README.md
Due: packages, sfc-playground

refactor(server-renderer): slotScopeId scopeId uses optional argument syntax (#7891)
  packages/server-renderer/src/render.ts
Due: packages, server-renderer

refactor(runtime-core): prevent users from manually calling lifecycle hook function (#8731)
  packages/runtime-core/src/apiLifecycle.ts
Due: packages, runtime-core

refactor: replace `Object.assign` with `extend` (#8988)
  packages/runtime-core/src/componentPublicInstance.ts
Due: packages, runtime-core

feat(compiler-core): support `Symbol` global in template expressions (#9069)
  packages/shared/src/globalsAllowList.ts
Due: packages, shared

Update reactive.ts
  packages/reactivity/src/reactive.ts
Due: packages, reactivity
