Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

feat(compiler-sfc): expose type import deps on compiled script block
  packages/compiler-sfc/__tests__/compileScript/resolveType.spec.ts
  packages/compiler-sfc/src/compileScript.ts
  packages/compiler-sfc/src/script/context.ts
  packages/compiler-sfc/src/script/resolveType.ts
Due: packages, compiler-sfc

chore: comments [ci skip]
  packages/compiler-sfc/src/compileScript.ts
Due: packages, compiler-sfc

refactor: improve type resolve error output
  packages/compiler-sfc/__tests__/compileScript/resolveType.spec.ts
  packages/compiler-sfc/src/script/context.ts
  packages/compiler-sfc/src/script/resolveType.ts
Due: packages, compiler-sfc

feat(compiler-sfc): mark props destructure as experimental and require explicit opt-in
  packages/compiler-sfc/__tests__/compileScript/__snapshots__/definePropsDestructure.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript/definePropsDestructure.spec.ts
  packages/compiler-sfc/src/compileScript.ts
  packages/compiler-sfc/src/script/definePropsDestructure.ts
Due: packages, compiler-sfc

fix(deactivate): Confirm the existence of the caller(#8068)
  packages/runtime-core/src/renderer.ts
  packages/runtime-dom/src/nodeOps.ts
Due: packages, runtime-core, runtime-dom

feat(compiler-sfc): expose type resolve APIs
  packages/compiler-sfc/src/index.ts
  packages/compiler-sfc/src/script/context.ts
  packages/compiler-sfc/src/script/resolveType.ts
Due: packages, compiler-sfc

fix(keep-alive): confirm the existence of the method before calling (#8068)
  packages/runtime-core/src/renderer.ts
  packages/runtime-dom/src/nodeOps.ts
Due: packages, runtime-core, runtime-dom

feat(compiler-sfc): support specifying global types for sfc macros
  packages/compiler-sfc/__tests__/compileScript/resolveType.spec.ts
  packages/compiler-sfc/src/compileScript.ts
  packages/compiler-sfc/src/script/context.ts
  packages/compiler-sfc/src/script/resolveType.ts
Due: packages, compiler-sfc

types(jsx): add `inert` attribute and missing `hidden` values
  packages/runtime-dom/src/jsx.ts
Due: packages, runtime-dom

chore: delete useless content in readme
  packages/reactivity/README.md
  packages/runtime-core/README.md
Due: packages, reactivity, runtime-core

chore(useModel): enable useModel to support array based parameters
  packages/compiler-sfc/__tests__/__snapshots__/compileScript.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript.spec.ts
  packages/compiler-sfc/__tests__/utils.ts
  packages/compiler-sfc/src/compileScript.ts
  packages/compiler-sfc/src/script/defineModel.ts
  packages/runtime-core/__tests__/apiSetupHelpers.spec.ts
  packages/runtime-core/src/apiSetupHelpers.ts
  pnpm-lock.yaml
Due: packages, compiler-sfc, runtime-core

chore(useModel): enable useModel to support array based parameters
  packages/compiler-sfc/__tests__/compileScript/__snapshots__/defineModel.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript/defineModel.spec.ts
  packages/compiler-sfc/src/script/defineModel.ts
  packages/runtime-core/__tests__/apiSetupHelpers.spec.ts
  packages/runtime-core/src/apiSetupHelpers.ts
Due: packages, compiler-sfc, runtime-core

fix(hmr): invalidate cached props/emits options on hmr
  packages/runtime-core/src/hmr.ts
Due: packages, runtime-core

fix(runtime-core): component my come from js file, it do not have __hmrId (fix #7921)
  packages/runtime-core/src/componentRenderUtils.ts
  packages/runtime-core/src/renderer.ts
Due: packages, runtime-core

release: v3.3.0-alpha.10
  CHANGELOG.md
  package.json
  packages/compiler-core/package.json
  packages/compiler-dom/package.json
  packages/compiler-sfc/package.json
  packages/compiler-ssr/package.json
  packages/dts-test/package.json
  packages/reactivity-transform/package.json
  packages/reactivity/package.json
  packages/runtime-core/package.json
  packages/runtime-dom/package.json
  packages/runtime-test/package.json
  packages/server-renderer/package.json
  packages/sfc-playground/package.json
  packages/shared/package.json
  packages/size-check/package.json
  packages/template-explorer/package.json
  packages/vue-compat/package.json
  packages/vue/package.json
  pnpm-lock.yaml
Due: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

fix(compiler-sfc): fix resolve relative import type on windows
  packages/compiler-sfc/src/script/resolveType.ts
Due: packages, compiler-sfc

chore: improve code
  packages/compiler-sfc/src/script/resolveType.ts
Due: packages, compiler-sfc

test: add failing test
  packages/compiler-sfc/__tests__/compileScript/resolveType.spec.ts
Due: packages, compiler-sfc

fix(compiler-sfc): normalize windows paths when resolving types
  packages/compiler-sfc/src/script/resolveType.ts
  packages/compiler-sfc/src/script/utils.ts
Due: packages, compiler-sfc

release: v3.3.0-alpha.11
  CHANGELOG.md
  package.json
  packages/compiler-core/package.json
  packages/compiler-dom/package.json
  packages/compiler-sfc/package.json
  packages/compiler-ssr/package.json
  packages/dts-test/package.json
  packages/reactivity-transform/package.json
  packages/reactivity/package.json
  packages/runtime-core/package.json
  packages/runtime-dom/package.json
  packages/runtime-test/package.json
  packages/server-renderer/package.json
  packages/sfc-playground/package.json
  packages/shared/package.json
  packages/size-check/package.json
  packages/template-explorer/package.json
  packages/vue-compat/package.json
  packages/vue/package.json
  pnpm-lock.yaml
Due: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

workflow: support building types in build script
  rollup.dts.config.js
  scripts/build.js
  scripts/release.js
Due: none

fix(compiler): fix expression codegen for literal const bindings in non-inline mode
  packages/compiler-core/__tests__/transforms/transformExpressions.spec.ts
  packages/compiler-core/src/transforms/transformExpression.ts
  packages/compiler-sfc/__tests__/compileScript/hoistStatic.spec.ts
Due: packages, compiler-core, compiler-sfc

chore: typo
  packages/compiler-sfc/src/script/utils.ts
Due: packages, compiler-sfc

feat: hasInjectionContext() for libraries
  packages/runtime-core/__tests__/apiInject.spec.ts
  packages/runtime-core/src/apiInject.ts
  packages/runtime-core/src/index.ts
Due: packages, runtime-core

release: v3.3.0-alpha.12
  CHANGELOG.md
  package.json
  packages/compiler-core/package.json
  packages/compiler-dom/package.json
  packages/compiler-sfc/package.json
  packages/compiler-ssr/package.json
  packages/dts-test/package.json
  packages/reactivity-transform/package.json
  packages/reactivity/package.json
  packages/runtime-core/package.json
  packages/runtime-dom/package.json
  packages/runtime-test/package.json
  packages/server-renderer/package.json
  packages/sfc-playground/package.json
  packages/shared/package.json
  packages/size-check/package.json
  packages/template-explorer/package.json
  packages/vue-compat/package.json
  packages/vue/package.json
  pnpm-lock.yaml
Due: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

fix(compiler-sfc): normalize filename when invalidating cache
  packages/compiler-sfc/src/script/resolveType.ts
Due: packages, compiler-sfc

chore: fix typo
  packages/compiler-sfc/src/script/resolveType.ts
Due: packages, compiler-sfc

fix(core): Determine isKeepAlive before calling the deactivate (fix #8068)
  packages/runtime-core/__tests__/components/KeepAlive.spec.ts
  packages/runtime-core/src/renderer.ts
  packages/runtime-dom/src/nodeOps.ts
Due: packages, runtime-core, runtime-dom

fix(hmr): force update cached slots during HMR
  packages/runtime-core/__tests__/hmr.spec.ts
  packages/runtime-core/src/component.ts
  packages/runtime-core/src/componentPublicInstance.ts
  packages/runtime-core/src/componentSlots.ts
Due: packages, runtime-core

chore: typo (#8108) [ci skip]
  packages/compiler-sfc/src/script/utils.ts
Due: packages, compiler-sfc

chore: fix typo (#8113) [ci skip]
  packages/compiler-sfc/src/script/resolveType.ts
Due: packages, compiler-sfc

chore: delete outdated content in readme (#8093) [ci skip]
  packages/reactivity/README.md
  packages/runtime-core/README.md
Due: packages, reactivity, runtime-core

feat: hasInjectionContext() for libraries (#8111)
  packages/runtime-core/__tests__/apiInject.spec.ts
  packages/runtime-core/src/apiInject.ts
  packages/runtime-core/src/index.ts
Due: packages, runtime-core

fix(compiler-sfc): handle type merging + fix namespace access when inferring type
  packages/compiler-sfc/__tests__/compileScript/resolveType.spec.ts
  packages/compiler-sfc/src/script/resolveType.ts
Due: packages, compiler-sfc

fix(hmr): always traverse static children in dev
  packages/runtime-core/src/renderer.ts
Due: packages, runtime-core

feat(compiler-sfc): support export * when resolving types
  packages/compiler-sfc/__tests__/compileScript/resolveType.spec.ts
  packages/compiler-sfc/src/script/resolveType.ts
Due: packages, compiler-sfc

feat(compiler-sfc): support dynamic imports when resolving types
  packages/compiler-sfc/__tests__/compileScript/resolveType.spec.ts
  packages/compiler-sfc/src/script/resolveType.ts
Due: packages, compiler-sfc

chore: avoid hard error when inferring types
  packages/compiler-sfc/src/script/resolveType.ts
Due: packages, compiler-sfc

feat(compiler-sfc): support ExtractPropTypes when resolving types
  packages/compiler-sfc/__tests__/compileScript/resolveType.spec.ts
  packages/compiler-sfc/src/script/resolveType.ts
Due: packages, compiler-sfc

test: add test case
  packages/compiler-sfc/__tests__/compileScript/__snapshots__/defineProps.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript/defineProps.spec.ts
Due: packages, compiler-sfc

Path conditions:
  packages: any of: packages/
  compiler-core: any of: packages/compiler-core/
  compiler-dom: any of: packages/compiler-dom/
  compiler-sfc: any of: packages/compiler-sfc/
  reactivity: any of: packages/reactivity/
  reactivity-transform: any of: packages/reactivity-transform/
  runtime-core: any of: packages/runtime-core/
  runtime-dom: any of: packages/runtime-dom/
  runtime-test: any of: packages/runtime-test/
  server-renderer: any of: packages/server-renderer/
  sfc-playground: any of: packages/sfc-playground/
  shared: any of: packages/shared/
  size-check: any of: packages/size-check/
  template-explorer: any of: packages/template-explorer/
  vue: any of: packages/vue/
  vue-compat: any of: packages/vue-compat/
