Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

chore(compiler-sfc): enhanced `:deep` warnings
  packages/compiler-sfc/src/style/pluginScoped.ts
Due: packages, compiler-sfc

feat(types): enhance the event type in defineEmits
  packages/runtime-core/src/componentEmits.ts
  packages/shared/src/typeUtils.ts
Due: packages, runtime-core, shared

fix(compiler-sfc): temp commit
  packages/compiler-sfc/src/script/importUsageCheck.ts
Due: packages, compiler-sfc

types(withDefaults): Allow to be used with generic defineProps
  packages/dts-test/setupHelpers.test-d.ts
  packages/runtime-core/src/apiSetupHelpers.ts
Due: packages, runtime-core

fix(compiler-sfc): parses correctly when inline mode is off
  packages/compiler-sfc/__tests__/compileScript.spec.ts
  packages/compiler-sfc/src/script/importUsageCheck.ts
Due: packages, compiler-sfc

fix(events): fix custom element capture, once, passive events
  packages/runtime-dom/src/modules/events.ts
Due: packages, runtime-dom

chore(events): optimization regular
  packages/runtime-dom/src/modules/events.ts
Due: packages, runtime-dom

test(events): perfect test cases
  packages/runtime-dom/__tests__/patchEvents.spec.ts
Due: packages, runtime-dom

fix(compiler-sfc): props destructing default value type checking with unresolved type (#8326)
  packages/compiler-sfc/src/script/defineProps.ts
Due: packages, compiler-sfc

fix(build): fix dev flag replacement in esm-builder builds (#8314)
  rollup.config.js
Due: none

fix: avoid regex s flag for old browsers
  packages/shared/src/normalizeProp.ts
Due: packages, shared

fix(types): support generic usage with withDefaults + defineProps (#8335)
  packages/dts-test/setupHelpers.test-d.ts
  packages/runtime-core/src/apiSetupHelpers.ts
Due: packages, runtime-core

feat(runtime-core): fix onOnce error
  packages/runtime-core/__tests__/componentEmits.spec.ts
  packages/runtime-core/src/componentEmits.ts
Due: packages, runtime-core

feat(runtime-core): added comment
  packages/runtime-core/__tests__/componentEmits.spec.ts
  packages/runtime-core/src/componentEmits.ts
Due: packages, runtime-core

fix(compiler-sfc): fix props destructing default value type checking with unresolved type (#8340)
  packages/compiler-sfc/src/script/defineProps.ts
Due: packages, compiler-sfc

chore: rename to EnrichEmitEvent & support short emits
  packages/runtime-core/src/apiSetupHelpers.ts
  packages/runtime-core/src/componentEmits.ts
Due: packages, runtime-core

chore: add test
  packages/dts-test/setupHelpers.test-d.ts
Due: packages

fix(compiler-sfc): handle ts files with relative imports with .js extension
  packages/compiler-sfc/__tests__/compileScript/resolveType.spec.ts
  packages/compiler-sfc/src/script/resolveType.ts
Due: packages, compiler-sfc

feat(reactivity): export `propertyToRef` function
  packages/reactivity/src/ref.ts
Due: packages, reactivity

feat: support overloaded function
  packages/runtime-core/src/apiSetupHelpers.ts
  packages/runtime-core/src/componentEmits.ts
  packages/shared/src/typeUtils.ts
Due: packages, runtime-core, shared

fix: typo
  packages/runtime-core/src/apiSetupHelpers.ts
Due: packages, runtime-core

chore(compiler-sfc): perfect break in switch statement
  packages/compiler-sfc/src/script/resolveType.ts
Due: packages, compiler-sfc

fix(compiler-sfc): don't hoist regexp literial (#8300)
  packages/compiler-sfc/__tests__/compileScript/__snapshots__/hoistStatic.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript/hoistStatic.spec.ts
  packages/compiler-sfc/src/compileScript.ts
Due: packages, compiler-sfc

fix(compiler-sfc): fix type import from path aliased vue file
  packages/compiler-sfc/__tests__/compileScript/resolveType.spec.ts
  packages/compiler-sfc/src/script/context.ts
  packages/compiler-sfc/src/script/resolveType.ts
Due: packages, compiler-sfc

workflow: respect `--skipGit` on `pnpm publish` (#8261)
  scripts/release.js
Due: none

Update packages/compiler-sfc/src/script/resolveType.ts
  packages/compiler-sfc/src/script/resolveType.ts
Due: packages, compiler-sfc

fix(compiler-sfc): support defineEmits type reference with unions (#8299)
  packages/compiler-sfc/__tests__/compileScript/__snapshots__/defineEmits.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript/defineEmits.spec.ts
  packages/compiler-sfc/src/script/defineEmits.ts
  packages/compiler-sfc/src/script/resolveType.ts
Due: packages, compiler-sfc

Update packages/compiler-sfc/src/script/importUsageCheck.ts
  packages/compiler-sfc/src/script/importUsageCheck.ts
Due: packages, compiler-sfc

fix(compiler-sfc): parses correctly when inline mode is off (#8337)
  packages/compiler-sfc/__tests__/compileScript.spec.ts
  packages/compiler-sfc/src/script/importUsageCheck.ts
Due: packages, compiler-sfc

release: v3.3.3
  CHANGELOG.md
  package.json
  packages/compiler-core/package.json
  packages/compiler-dom/package.json
  packages/compiler-sfc/package.json
  packages/compiler-ssr/package.json
  packages/dts-test/package.json
  packages/reactivity-transform/package.json
  packages/reactivity/package.json
  packages/runtime-core/package.json
  packages/runtime-dom/package.json
  packages/runtime-test/package.json
  packages/server-renderer/package.json
  packages/sfc-playground/package.json
  packages/shared/package.json
  packages/size-check/package.json
  packages/template-explorer/package.json
  packages/vue-compat/package.json
  packages/vue/package.json
  pnpm-lock.yaml
Due: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

fix(build): ensure correct typing for node esm
  packages/vue/compiler-sfc/index.d.mts
  packages/vue/compiler-sfc/package.json
  packages/vue/package.json
  packages/vue/server-renderer/index.d.mts
  packages/vue/server-renderer/package.json
  rollup.dts.config.js
Due: packages, vue

fix(build): fix rollup.config.js
  rollup.config.js
Due: none

fix: runtime-core.esm-bundler.js:2939 Uncaught (in promise) TypeError: track(...) is not a function
  packages/runtime-core/src/componentPublicInstance.ts
Due: packages, runtime-core

fix(compiler-sfc): $attrs problem caused by __DEV__ (#8353)
  packages/runtime-core/src/componentPublicInstance.ts
Due: packages, runtime-core

fix(build): fix dev flag replacement in esm-builder builds
  rollup.config.js
Due: none

fix(build): fix __DEV__ flag replacement edge case
  rollup.config.js
Due: none

fix(compiler-sfc): handle imported types from default exports
  packages/compiler-sfc/__tests__/compileScript/resolveType.spec.ts
  packages/compiler-sfc/src/script/resolveType.ts
Due: packages, compiler-sfc

release: v3.3.4
  CHANGELOG.md
  package.json
  packages/compiler-core/package.json
  packages/compiler-dom/package.json
  packages/compiler-sfc/package.json
  packages/compiler-ssr/package.json
  packages/dts-test/package.json
  packages/reactivity-transform/package.json
  packages/reactivity/package.json
  packages/runtime-core/package.json
  packages/runtime-dom/package.json
  packages/runtime-test/package.json
  packages/server-renderer/package.json
  packages/sfc-playground/package.json
  packages/shared/package.json
  packages/size-check/package.json
  packages/template-explorer/package.json
  packages/vue-compat/package.json
  packages/vue/package.json
  pnpm-lock.yaml
Due: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

fix(compiler-sfc): support resolve multiple default as type
  packages/compiler-sfc/__tests__/compileScript/resolveType.spec.ts
  packages/compiler-sfc/src/script/resolveType.ts
Due: packages, compiler-sfc

Path conditions:
  packages: any of: packages/
  compiler-core: any of: packages/compiler-core/
  compiler-dom: any of: packages/compiler-dom/
  compiler-sfc: any of: packages/compiler-sfc/
  reactivity: any of: packages/reactivity/
  reactivity-transform: any of: packages/reactivity-transform/
  runtime-core: any of: packages/runtime-core/
  runtime-dom: any of: packages/runtime-dom/
  runtime-test: any of: packages/runtime-test/
  server-renderer: any of: packages/server-renderer/
  sfc-playground: any of: packages/sfc-playground/
  shared: any of: packages/shared/
  size-check: any of: packages/size-check/
  template-explorer: any of: packages/template-explorer/
  vue: any of: packages/vue/
  vue-compat: any of: packages/vue-compat/
