Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

refactor(core): using the shared login in build-shared.js in rollup.config.js and scripts/dev.js
  rollup.config.js
  scripts/build-shared.js
  scripts/dev.js
Due: none

fix(scripts): resolve target types error in build-shared.js
  scripts/build-shared.js
Due: none

refactor: remove fallthrough props from Transition and TransitionGroup
  packages/runtime-vapor/src/components/Transition.ts
  packages/runtime-vapor/src/components/TransitionGroup.ts
Due: packages

refactor: restrict Teleport extraneous attribute warning to dev mode.
  packages/runtime-vapor/src/components/Teleport.ts
Due: packages

refactor: simplify fragment update logic by removing `isUpdate` variable and directly using `parent` for conditional checks.
  packages/runtime-vapor/src/fragment.ts
Due: packages

Revert "refactor: relocate `getRootElement` to `custom.ts` and update custom directive tests to use `template` helper."
  packages/runtime-vapor/__tests__/directives/customDirective.spec.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/directives/custom.ts
Due: packages

refactor: remove `filterSingleRootElement` and refine attribute fallthrough for Teleport and DynamicFragment with a new root flag.
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/components/Teleport.ts
  packages/runtime-vapor/src/fragment.ts
Due: packages

refactor: simplify TeleportFragment nodes to directly hold content instead of always an array.
  packages/runtime-vapor/__tests__/hydration.spec.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/components/Teleport.ts
  packages/runtime-vapor/src/hmr.ts
Due: packages

refactor: manage fallthrough attributes for dynamic fragments using a dedicated `attrs` property instead of a root flag.
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/fragment.ts
Due: packages

refactor: remove special attribute fallthrough handling for functional components.
  packages/runtime-vapor/__tests__/componentAttrs.spec.ts
  packages/runtime-vapor/__tests__/componentProps.spec.ts
  packages/runtime-vapor/src/apiDefineComponent.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/componentProps.ts
Due: packages

feat: implement attribute fallthrough logic for functional components and adjust fragment attribute warning conditions.
  packages/runtime-core/src/componentRenderUtils.ts
  packages/runtime-core/src/index.ts
  packages/runtime-vapor/__tests__/componentAttrs.spec.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/fragment.ts
Due: packages, runtime-core

fix: apply fragment fallthrough attributes reactively using `renderEffect`.
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/fragment.ts
Due: packages

fix: prevent functional fallthrough props from being applied to VaporTransition components
  packages/runtime-vapor/src/component.ts
Due: packages

fix(compile-vapor): don't generate unnecessary closing tags in templates
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformElement.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/transformElement.spec.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
Due: packages

chore(compiler-vapor): update snapshots and tests
  packages/compiler-vapor/__tests__/__snapshots__/compile.spec.ts.snap
  packages/compiler-vapor/__tests__/compile.spec.ts
  packages/compiler-vapor/__tests__/transforms/__snapshots__/expression.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformChildren.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformRef.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformSlotOutlet.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformTemplateRef.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vBind.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vFor.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vHtml.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vIf.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vModel.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vOn.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vOnce.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vShow.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vSlot.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vText.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/transformSlotOutlet.spec.ts
  packages/compiler-vapor/__tests__/transforms/transformTemplateRef.spec.ts
  packages/compiler-vapor/__tests__/transforms/vBind.spec.ts
  packages/compiler-vapor/__tests__/transforms/vFor.spec.ts
  packages/compiler-vapor/__tests__/transforms/vHtml.spec.ts
  packages/compiler-vapor/__tests__/transforms/vIf.spec.ts
  packages/compiler-vapor/__tests__/transforms/vSlot.spec.ts
  packages/compiler-vapor/__tests__/transforms/vText.spec.ts
Due: packages

fix(compiler-vapor): deal with formatting elements and ambiguous cases
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformElement.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/transformElement.spec.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
  packages/shared/src/domTagConfig.ts
Due: packages, shared

test(runtime-vapor): add tests for template parsing behavior
  packages/runtime-vapor/__tests__/dom/template.spec.ts
Due: packages

fix: bugs detected by rebased tests, update expects
  packages/compiler-vapor/__tests__/__snapshots__/compile.spec.ts.snap
  packages/compiler-vapor/__tests__/__snapshots__/scopeId.spec.ts.snap
  packages/compiler-vapor/__tests__/compile.spec.ts
  packages/compiler-vapor/__tests__/transforms/__snapshots__/TransformTransition.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/templateTransformAssetUrl.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/templateTransformSrcset.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformElement.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformText.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vBind.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vIf.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vOnce.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/transformElement.spec.ts
  packages/compiler-vapor/__tests__/transforms/transformText.spec.ts
  packages/compiler-vapor/__tests__/transforms/vIf.spec.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
Due: packages

chore: get rid of redundant tests
  packages/runtime-vapor/__tests__/dom/template.spec.ts
Due: packages

fix(types): enable proper type narrowing for defineEmits (#13935)
  packages-private/dts-test/issue-13935.test-d.ts
  packages/runtime-core/src/apiSetupHelpers.ts
Due: packages, runtime-core

test: add more tests
  packages/runtime-vapor/__tests__/componentAttrs.spec.ts
  packages/runtime-vapor/src/dom/event.ts
Due: packages

test: add more tests
  packages/runtime-vapor/__tests__/componentAttrs.spec.ts
Due: packages

chore: revert teleport changes
  packages/runtime-vapor/src/components/Teleport.ts
Due: packages

fix: improve handling of VaporTransition components and enhance fallthrough props logic
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/components/Transition.ts
  packages/runtime-vapor/src/fragment.ts
Due: packages

feat: attrs fallthrough (#14144)
  packages/runtime-core/src/componentRenderUtils.ts
  packages/runtime-core/src/index.ts
  packages/runtime-vapor/__tests__/componentAttrs.spec.ts
  packages/runtime-vapor/__tests__/customElement.spec.ts
  packages/runtime-vapor/src/apiCreateFor.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/components/Teleport.ts
  packages/runtime-vapor/src/components/Transition.ts
  packages/runtime-vapor/src/components/TransitionGroup.ts
  packages/runtime-vapor/src/dom/event.ts
  packages/runtime-vapor/src/fragment.ts
Due: packages, runtime-core

refactor: extract Teleport mount and mountToTarget logic into private methods
  packages/runtime-vapor/src/components/Teleport.ts
Due: packages

refactor: extract teleport mount and mountToTarget logic into private methods (#14152)
  packages/runtime-vapor/src/components/Teleport.ts
Due: packages

test: move issue 13935 test to setupHelpers.test-d.ts
  packages-private/dts-test/issue-13935.test-d.ts
  packages-private/dts-test/setupHelpers.test-d.ts
Due: none

refactor: introduce `setAsyncRef` on `DynamicFragment` for explicit async component ref assignment.
  packages/runtime-vapor/src/apiDefineAsyncComponent.ts
  packages/runtime-vapor/src/apiTemplateRef.ts
  packages/runtime-vapor/src/fragment.ts
Due: packages

refactor: introduce `setAsyncRef` on `DynamicFragment` for explicit async component ref assignment. (#14153)
  packages/runtime-vapor/src/apiDefineAsyncComponent.ts
  packages/runtime-vapor/src/apiTemplateRef.ts
  packages/runtime-vapor/src/fragment.ts
Due: packages

refactor(runtime-vapor): pass vapor slot fallback directly to `renderSlot`
  packages/runtime-core/src/helpers/renderSlot.ts
  packages/runtime-core/src/index.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages, runtime-core

refactor: move development-only measurement and warning context handling back to `createComponent` from `setupComponent`
  packages/runtime-vapor/src/component.ts
Due: packages

feat: vdom Suspense render vapor components
  packages/runtime-core/src/apiCreateApp.ts
  packages/runtime-core/src/component.ts
  packages/runtime-core/src/components/Suspense.ts
  packages/runtime-core/src/hydration.ts
  packages/runtime-core/src/renderer.ts
  packages/runtime-vapor/__tests__/components/Suspense.spec.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/components/Suspense.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages, runtime-core

refactor: move async component resolution rendering logic from Suspense to renderer-specific `registerDep` callbacks.
  packages/runtime-core/src/components/Suspense.ts
  packages/runtime-core/src/renderer.ts
  packages/runtime-vapor/src/component.ts
Due: packages, runtime-core

test: clear document body before each vdom interop test
  packages/runtime-vapor/__tests__/components/Suspense.spec.ts
Due: packages

fix(compiler-vapor): prevent nested components from inheriting parent slots
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vSlot.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vSlot.spec.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
Due: packages

fix(compiler-vapor): prevent nested components from inheriting parent slots (#14158)
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vSlot.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vSlot.spec.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
Due: packages

fix(compiler-core): update entities to v6 for Node.js 24 compatibility
  .github/renovate.json5
  packages/compiler-core/package.json
  packages/compiler-core/src/parser.ts
  packages/compiler-core/src/tokenizer.ts
  pnpm-lock.yaml
  rollup.config.js
Due: packages, compiler-core

fix(runtime-vapor): conditionally enable `canSetSetupRef` check in dev mode
  packages/runtime-vapor/src/apiTemplateRef.ts
Due: packages

fix(templateRef): prevent duplicate `onScopeDispose` registrations for dynamic template refs
  packages/runtime-vapor/__tests__/dom/templateRef.spec.ts
  packages/runtime-vapor/src/apiTemplateRef.ts
Due: packages

Path conditions:
  packages: any of: packages/
  compiler-core: any of: packages/compiler-core/
  compiler-dom: any of: packages/compiler-dom/
  compiler-sfc: any of: packages/compiler-sfc/
  reactivity: any of: packages/reactivity/
  reactivity-transform: any of: packages/reactivity-transform/
  runtime-core: any of: packages/runtime-core/
  runtime-dom: any of: packages/runtime-dom/
  runtime-test: any of: packages/runtime-test/
  server-renderer: any of: packages/server-renderer/
  sfc-playground: any of: packages/sfc-playground/
  shared: any of: packages/shared/
  size-check: any of: packages/size-check/
  template-explorer: any of: packages/template-explorer/
  vue: any of: packages/vue/
  vue-compat: any of: packages/vue-compat/
