Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

fix(compiler-core): handle v-for source with spaces
  packages/compiler-core/__tests__/transforms/vFor.spec.ts
Due: packages, compiler-core

fix(compiler-core): add test case for v-for source with spaces
  packages/compiler-core/__tests__/transforms/vFor.spec.ts
Due: packages, compiler-core

fix(compiler-core): v-for expression missing source with spaces should emit error (#5821)
  packages/compiler-core/__tests__/transforms/vFor.spec.ts
  packages/compiler-core/src/utils.ts
Due: packages, compiler-core

Update packages/compiler-core/src/codegen.ts
  packages/compiler-core/src/codegen.ts
Due: packages, compiler-core

chore: fix typo (DistrubuteRef -> DistributeRef)
  packages/reactivity/src/ref.ts
Due: packages, reactivity

test: update snapshot
  packages/compiler-core/__tests__/__snapshots__/scopeId.spec.ts.snap
  packages/compiler-core/__tests__/scopeId.spec.ts
Due: packages, compiler-core

fix(ssr): fix the bug that multi slot scope id does not work on component (#6100)
  packages/server-renderer/__tests__/ssrScopeId.spec.ts
  packages/server-renderer/src/render.ts
Due: packages, server-renderer

fix(compiler-core): allow unicode to appear in simple identifiers (#6765)
  packages/compiler-core/__tests__/transforms/vOn.spec.ts
  packages/compiler-core/src/utils.ts
Due: packages, compiler-core

chore: functionDeclaration -> param
  packages/compiler-core/src/codegen.ts
Due: packages, compiler-core

fix(compiler-core): emit TS-compatible function declaration when requested (#9363)
  packages/compiler-core/__tests__/__snapshots__/scopeId.spec.ts.snap
  packages/compiler-core/__tests__/scopeId.spec.ts
  packages/compiler-core/src/codegen.ts
Due: packages, compiler-core

chore: fix typo (DistrubuteRef -> DistributeRef) (#11040)
  packages/reactivity/src/ref.ts
Due: packages, reactivity

refactor(types/compat): improve the types for $set and $delete (#8719)
  packages/runtime-core/src/compat/instance.ts
Due: packages, runtime-core

chore(reactivity): change literal flag properties to enum flag properties (#10367)
  packages/reactivity/src/computed.ts
  packages/reactivity/src/constants.ts
  packages/reactivity/src/ref.ts
  packages/shared/src/toDisplayString.ts
Due: packages, reactivity, shared

types: improve readability of built-in type (#9129)
  packages/reactivity/src/reactive.ts
  packages/reactivity/src/ref.ts
  packages/runtime-core/src/compat/instance.ts
Due: packages, reactivity, runtime-core

types: add UMD global declaration
  packages/vue/types/umd.d.ts
Due: packages, vue

refactor: remove optional chaining
  packages/reactivity/src/baseWatch.ts
  packages/runtime-core/src/componentOptions.ts
Due: packages, reactivity, runtime-core

fix(compiler-sfc): throw error when import macro as alias
  packages/compiler-sfc/src/compileScript.ts
Due: packages, compiler-sfc

Create generator-generic-ossf-slsa3-publish.yml
  .github/workflows/generator-generic-ossf-slsa3-publish.yml
Due: none

fix: number not passed
  packages/runtime-dom/src/directives/vModel.ts
Due: packages, runtime-dom

refactor: general destructuring function (#221)
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vFor.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vFor.spec.ts
  packages/compiler-vapor/src/generators/for.ts
  packages/runtime-vapor/__tests__/for.spec.ts
  packages/runtime-vapor/src/apiCreateFor.ts
  packages/runtime-vapor/src/destructure.ts
  packages/runtime-vapor/src/destructuring.ts
  packages/runtime-vapor/src/index.ts
Due: packages

fix(compiler-sfc): throw error when import macro as alias (#11041)
  packages/compiler-sfc/src/compileScript.ts
Due: packages, compiler-sfc

chore: fix lint error
  packages/runtime-dom/src/nodeOps.ts
Due: packages, runtime-dom

feat(reactivity): add Reactive type for better type inference
  packages/dts-test/reactivity.test-d.ts
  packages/reactivity/src/index.ts
  packages/reactivity/src/reactive.ts
  packages/runtime-core/src/index.ts
Due: packages, reactivity, runtime-core

fix(apiWatch): correct type inference for reactive array
  packages/dts-test/watch.test-d.ts
  packages/runtime-core/src/apiWatch.ts
Due: packages, runtime-core

refactor(apiWatch): remove redundant overload for readonly
  packages/dts-test/watch.test-d.ts
  packages/runtime-core/src/apiWatch.ts
Due: packages, runtime-core

fix(apiWatch): handle implicitly any type in watch callback
  packages/dts-test/watch.test-d.ts
Due: packages

fix(v-model): fix the lazy modifier is not reset by other modifications (#8547)
  packages/runtime-dom/src/directives/vModel.ts
Due: packages, runtime-dom

fix(runtime-dom): also set attribute for form element state
  packages/runtime-dom/src/modules/attrs.ts
  packages/runtime-dom/src/patchProp.ts
Due: packages, runtime-dom

chore: format
  packages/runtime-dom/src/directives/vModel.ts
Due: packages, runtime-dom

fix(hmr): avoid infinite recursion when reloading hmr components (#6936)
  packages/runtime-core/__tests__/hmr.spec.ts
  packages/runtime-core/src/hmr.ts
Due: packages, runtime-core

fix(server-renderer): avoid using `s` regex flag
  packages/server-renderer/src/helpers/ssrRenderSlot.ts
Due: packages, server-renderer

fix(compat): ensure proper handling of render fuction from SFC using Vue.extend (#7781)
  packages/runtime-core/src/compat/component.ts
Due: packages, runtime-core

fix(runtime-core): ensure suspense creates dep component's render effect with correct optimized flag (#7689)
  packages/runtime-core/src/components/Suspense.ts
  packages/runtime-core/src/renderer.ts
Due: packages, runtime-core

wip: save
  packages/compiler-core/__tests__/scopeId.spec.ts
  packages/compiler-core/src/index.ts
  packages/compiler-core/src/transform.ts
  packages/compiler-core/src/transforms/cacheStatic.ts
  packages/compiler-core/src/transforms/transformElement.ts
  packages/compiler-core/src/transforms/transformText.ts
  packages/runtime-core/__tests__/hydration.spec.ts
  packages/runtime-core/src/hydration.ts
  packages/runtime-core/src/vnode.ts
  packages/shared/src/patchFlags.ts
Due: packages, compiler-core, runtime-core, shared

wip: save
  packages/compiler-core/src/ast.ts
  packages/compiler-core/src/transform.ts
  packages/compiler-core/src/transforms/cacheStatic.ts
  packages/compiler-core/src/transforms/transformExpression.ts
  packages/compiler-core/src/transforms/vIf.ts
  packages/compiler-core/src/transforms/vModel.ts
  packages/compiler-dom/__tests__/transforms/stringifyStatic.spec.ts
Due: packages, compiler-core, compiler-dom

Update apiLifecycle.ts
  packages/runtime-core/src/apiLifecycle.ts
Due: packages, runtime-core

chore: remove unnecessary code
  packages/server-renderer/src/render.ts
Due: packages, server-renderer

fix(v-model): handle events on blur
  packages/sfc-playground/src/App.vue
Due: packages, sfc-playground

fix(errorHanding.ts): #11053 dev written reversed
  packages/runtime-core/src/errorHandling.ts
Due: packages, runtime-core

chore: use PropertyKey type
  packages/reactivity/src/reactiveEffect.ts
  packages/runtime-core/src/apiSetupHelpers.ts
  packages/runtime-core/src/compat/global.ts
  packages/runtime-core/src/components/KeepAlive.ts
  packages/runtime-core/src/helpers/useModel.ts
  packages/runtime-core/src/renderer.ts
  packages/runtime-core/src/vnode.ts
  packages/runtime-dom/src/jsx.ts
Due: packages, reactivity, runtime-core, runtime-dom

Path conditions:
  packages: any of: packages/
  compiler-core: any of: packages/compiler-core/
  compiler-dom: any of: packages/compiler-dom/
  compiler-sfc: any of: packages/compiler-sfc/
  reactivity: any of: packages/reactivity/
  reactivity-transform: any of: packages/reactivity-transform/
  runtime-core: any of: packages/runtime-core/
  runtime-dom: any of: packages/runtime-dom/
  runtime-test: any of: packages/runtime-test/
  server-renderer: any of: packages/server-renderer/
  sfc-playground: any of: packages/sfc-playground/
  shared: any of: packages/shared/
  size-check: any of: packages/size-check/
  template-explorer: any of: packages/template-explorer/
  vue: any of: packages/vue/
  vue-compat: any of: packages/vue-compat/
