Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

fix(runtime-vapor): keep the dynamic component key and v-once props on vnodes
  packages/runtime-core/src/apiCreateApp.ts
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/apiCreateDynamicComponent.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages, runtime-core

fix(runtime-vapor): keep the props key and live fallthrough attrs on once vnodes
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(runtime-vapor): copy style objects in v-once props snapshots
  packages/runtime-vapor/__tests__/componentProps.spec.ts
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/componentProps.ts
Due: packages

fix(runtime-vapor): merge dynamic component props into vnodes like vdom (#15682)
  packages/runtime-core/src/apiCreateApp.ts
  packages/runtime-vapor/__tests__/componentProps.spec.ts
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/apiCreateDynamicComponent.ts
  packages/runtime-vapor/src/componentProps.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages, runtime-core

fix(reactivity): notify the rest of the batch when an effect throws
  packages/reactivity/__tests__/flushError.spec.ts
  packages/reactivity/src/system.ts
Due: packages, reactivity

fix(runtime-vapor): keep prop reads on committed values inside dynamic branches
  packages/runtime-vapor/__tests__/componentProps.spec.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/fragment.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(compiler-vapor): do not hoist a member expression that is only read behind a guard
  packages/compiler-vapor/__tests__/transforms/expression.spec.ts
  packages/compiler-vapor/src/generators/expression.ts
  packages/runtime-vapor/__tests__/expressionCache.spec.ts
Due: packages

fix(compiler-vapor): do not hoist a member expression that is only read behind a guard (#15689)
  packages/compiler-vapor/__tests__/transforms/expression.spec.ts
  packages/compiler-vapor/src/generators/expression.ts
  packages/runtime-vapor/__tests__/expressionCache.spec.ts
Due: packages

fix(suspense): use the mount context namespace for async deps
  packages/runtime-core/src/components/Suspense.ts
  packages/runtime-core/src/renderer.ts
  packages/vue/__tests__/svgNamespace.spec.ts
Due: packages, runtime-core, vue

fix(compiler-vapor): keep end tags inside and around form elements
  packages/compiler-vapor/__tests__/abbreviation.spec.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
  packages/runtime-vapor/__tests__/dom/template.spec.ts
  packages/shared/src/domTagConfig.ts
Due: packages, shared

fix(compiler-vapor): keep end tags inside and around form elements (#15693)
  packages/compiler-vapor/__tests__/abbreviation.spec.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
  packages/runtime-vapor/__tests__/dom/template.spec.ts
  packages/shared/src/domTagConfig.ts
Due: packages, shared

fix(runtime-core): fully diff vnodes picked from manually invoked compiled slots
  packages/runtime-core/src/component.ts
  packages/runtime-core/src/componentSlots.ts
  packages/runtime-core/src/helpers/renderSlot.ts
  packages/runtime-core/src/renderer.ts
  packages/runtime-core/src/vnode.ts
  packages/vue/__tests__/index.spec.ts
Due: packages, runtime-core, vue

fix(compiler-vapor): keep end tags at foreign scope boundaries
  packages/compiler-vapor/__tests__/abbreviation.spec.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
  packages/shared/src/domTagConfig.ts
Due: packages, shared

fix(compiler-vapor): bind on* keys of native elements as listeners like vdom
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vBind.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vBind.spec.ts
  packages/compiler-vapor/src/generators/prop.ts
  packages/compiler-vapor/src/ir/index.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
  packages/runtime-vapor/__tests__/dom/event.spec.ts
Due: packages

fix(compiler-vapor): bind on* keys of native elements as listeners like vdom (#15695)
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vBind.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vBind.spec.ts
  packages/compiler-vapor/src/generators/prop.ts
  packages/compiler-vapor/src/ir/index.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
  packages/runtime-vapor/__tests__/dom/event.spec.ts
Due: packages

fix(runtime-vapor): keep a root's v-bind and v-on object listeners apart
  packages/runtime-vapor/__tests__/componentAttrs.spec.ts
  packages/runtime-vapor/src/dom/event.ts
  packages/runtime-vapor/src/dom/prop.ts
Due: packages

fix(runtime-vapor): merge a root's own listeners with the fallthrough ones
  packages/runtime-vapor/__tests__/componentAttrs.spec.ts
  packages/runtime-vapor/src/dom/event.ts
  packages/runtime-vapor/src/dom/prop.ts
Due: packages

fix(compiler-vapor): merge static listeners into the dynamic props at their template position
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformElement.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/transformElement.spec.ts
  packages/compiler-vapor/src/generators/prop.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
  packages/compiler-vapor/src/transforms/vOn.ts
  packages/runtime-vapor/__tests__/componentAttrs.spec.ts
  packages/runtime-vapor/src/dom/event.ts
Due: packages

fix(compiler-vapor): merge a native v-on object into the dynamic props at its template position
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformElement.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/transformElement.spec.ts
  packages/compiler-vapor/src/generators/prop.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
  packages/runtime-vapor/__tests__/componentAttrs.spec.ts
  packages/runtime-vapor/src/dom/event.ts
  packages/runtime-vapor/src/dom/prop.ts
Due: packages

refactor(runtime-vapor): bind every dynamic listener through one invoker per key
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformElement.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/transformElement.spec.ts
  packages/compiler-vapor/src/generators/component.ts
  packages/compiler-vapor/src/generators/prop.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
  packages/compiler-vapor/src/transforms/vOn.ts
  packages/runtime-vapor/__tests__/componentAttrs.spec.ts
  packages/runtime-vapor/src/dom/event.ts
  packages/runtime-vapor/src/dom/prop.ts
Due: packages

fix(runtime-vapor): pass wrapper props and attrs to the async error component (#15647)
  packages/runtime-vapor/__tests__/apiDefineAsyncComponent.spec.ts
  packages/runtime-vapor/src/apiDefineAsyncComponent.ts
Due: packages

fix(compiler-vapor): keep end tags at foreign scope boundaries (#15657)
  packages/compiler-vapor/__tests__/abbreviation.spec.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
  packages/shared/src/domTagConfig.ts
Due: packages, shared

fix(runtime-vapor): commit prop sources for components with sync watchers
  packages/runtime-core/src/apiWatch.ts
  packages/runtime-core/src/component.ts
  packages/runtime-vapor/__tests__/componentProps.spec.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/componentProps.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages, runtime-core

fix(compiler-vapor): treat :onXxx as a listener source and keep handler receivers in the props merge
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformElement.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vBind.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/transformElement.spec.ts
  packages/compiler-vapor/__tests__/transforms/vBind.spec.ts
  packages/compiler-vapor/src/generators/component.ts
  packages/compiler-vapor/src/generators/prop.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
  packages/compiler-vapor/src/transforms/vOn.ts
  packages/runtime-vapor/__tests__/componentAttrs.spec.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/dom/event.ts
  packages/runtime-vapor/src/dom/prop.ts
  packages/runtime-vapor/src/index.ts
Due: packages

fix(runtime-vapor): re-sync select v-model from the owner's updated hooks
  packages/runtime-vapor/__tests__/directives/vModel.spec.ts
  packages/runtime-vapor/__tests__/hydration/basic.spec.ts
  packages/runtime-vapor/src/directives/vModel.ts
Due: packages

fix(runtime-vapor): re-sync select v-model from the owner's updated hooks (#15697)
  packages/runtime-vapor/__tests__/directives/vModel.spec.ts
  packages/runtime-vapor/__tests__/hydration/basic.spec.ts
  packages/runtime-vapor/src/directives/vModel.ts
Due: packages

fix(runtime-vapor): snapshot v-bind containers and honor committed sources without a cache
  packages/runtime-vapor/__tests__/componentProps.spec.ts
  packages/runtime-vapor/src/componentProps.ts
Due: packages

fix(runtime-vapor): merge a root's own listeners with the fallthrough ones (#15688)
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformElement.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vBind.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/transformElement.spec.ts
  packages/compiler-vapor/__tests__/transforms/vBind.spec.ts
  packages/compiler-vapor/src/generators/component.ts
  packages/compiler-vapor/src/generators/prop.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
  packages/compiler-vapor/src/transforms/vOn.ts
  packages/runtime-vapor/__tests__/componentAttrs.spec.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/dom/event.ts
  packages/runtime-vapor/src/dom/prop.ts
  packages/runtime-vapor/src/index.ts
Due: packages

fix(runtime-vapor): do not resume a v-else-if chain branch under KeepAlive (#15655)
  packages/runtime-vapor/__tests__/components/KeepAlive.spec.ts
  packages/runtime-vapor/src/components/KeepAlive.ts
Due: packages

fix(compiler-vapor): detect svg elements by namespace in prop codegen
  packages/compiler-vapor/__tests__/transforms/vBind.spec.ts
  packages/compiler-vapor/src/generators/prop.ts
  packages/compiler-vapor/src/ir/index.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
  packages/runtime-vapor/__tests__/dom/svg.spec.ts
Due: packages

fix(compiler-vapor): preserve native svg event bindings
  packages/compiler-vapor/__tests__/transforms/vBind.spec.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
  packages/runtime-vapor/__tests__/dom/svg.spec.ts
Due: packages

refactor(runtime-vapor): build KeepAlive prop isolation on the in-place commit
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/componentProps.ts
Due: packages

fix(runtime-vapor): start a prop commit from the cached value
  packages/runtime-vapor/__tests__/componentProps.spec.ts
  packages/runtime-vapor/src/componentProps.ts
Due: packages

fix(compiler-vapor): merge native svg events with v-on
  packages/compiler-vapor/src/transforms/transformElement.ts
  packages/runtime-vapor/__tests__/dom/svg.spec.ts
Due: packages

fix(compiler-vapor): detect svg elements by namespace in prop codegen (#15656)
  packages/compiler-vapor/__tests__/transforms/vBind.spec.ts
  packages/compiler-vapor/src/generators/prop.ts
  packages/compiler-vapor/src/ir/index.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
  packages/runtime-vapor/__tests__/dom/svg.spec.ts
Due: packages

fix(runtime-vapor): prevent prop commit recursion and retention
  packages/runtime-vapor/__tests__/componentProps.spec.ts
  packages/runtime-vapor/__tests__/gc.spec.ts
  packages/runtime-vapor/src/componentProps.ts
  vite.config.ts
Due: packages

fix(compiler-vapor): preserve v-model listener order in keyed v-for
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vModel.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vModel.spec.ts
  packages/compiler-vapor/src/generators/block.ts
  packages/compiler-vapor/src/generators/for.ts
  packages/runtime-vapor/__tests__/directives/vModel.spec.ts
Due: packages

fix(compiler-vapor): register same-element listeners after v-model
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vModel.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vModel.spec.ts
  packages/compiler-vapor/src/generators/block.ts
  packages/runtime-vapor/__tests__/directives/vModel.spec.ts
Due: packages

fix(compiler-vapor): defer merged listeners after v-model
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vModel.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vModel.spec.ts
  packages/compiler-vapor/src/generators/block.ts
  packages/compiler-vapor/src/generators/for.ts
  packages/compiler-vapor/src/ir/index.ts
  packages/compiler-vapor/src/transform.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
  packages/runtime-vapor/__tests__/directives/vModel.spec.ts
Due: packages

fix(compiler-vapor): defer bound listeners after v-model
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vModel.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vModel.spec.ts
  packages/compiler-vapor/src/generators/block.ts
  packages/compiler-vapor/src/generators/for.ts
  packages/runtime-vapor/__tests__/directives/vModel.spec.ts
Due: packages

Path conditions:
  packages: any of: packages/
  compiler-core: any of: packages/compiler-core/
  compiler-dom: any of: packages/compiler-dom/
  compiler-sfc: any of: packages/compiler-sfc/
  reactivity: any of: packages/reactivity/
  reactivity-transform: any of: packages/reactivity-transform/
  runtime-core: any of: packages/runtime-core/
  runtime-dom: any of: packages/runtime-dom/
  runtime-test: any of: packages/runtime-test/
  server-renderer: any of: packages/server-renderer/
  sfc-playground: any of: packages/sfc-playground/
  shared: any of: packages/shared/
  size-check: any of: packages/size-check/
  template-explorer: any of: packages/template-explorer/
  vue: any of: packages/vue/
  vue-compat: any of: packages/vue-compat/
