Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

small improvements
  packages/dts-built-test/src/index.ts
  packages/runtime-core/src/apiDefineComponent.ts
  packages/runtime-core/src/componentOptions.ts
Due: packages, runtime-core

fix(hydration): properly hydrate indeterminate prop
  packages/runtime-core/__tests__/hydration.spec.ts
  packages/runtime-core/src/hydration.ts
Due: packages, runtime-core

fix(hydration): force hydration for v-bind with .prop modifier
  packages/compiler-core/__tests__/transforms/__snapshots__/vModel.spec.ts.snap
  packages/compiler-core/__tests__/transforms/transformElement.spec.ts
  packages/compiler-core/src/transforms/transformElement.ts
  packages/compiler-dom/__tests__/transforms/vOn.spec.ts
  packages/runtime-core/__tests__/hydration.spec.ts
  packages/runtime-core/__tests__/vnode.spec.ts
  packages/runtime-core/src/hydration.ts
  packages/runtime-core/src/renderer.ts
  packages/runtime-core/src/vnode.ts
  packages/shared/src/patchFlags.ts
Due: packages, compiler-core, compiler-dom, runtime-core, shared

Update ref.ts
  packages/reactivity/src/ref.ts
Due: packages, reactivity

fix(types): fix shallowRef return type with union value type (#7853)
  packages/dts-test/ref.test-d.ts
  packages/dts-test/watch.test-d.ts
  packages/reactivity/src/ref.ts
Due: packages, reactivity

chore(scripts): delete an unnecessary parameter + add jsdoc to build script (#8527)
  scripts/build.js
Due: none

chore: typo and grammar (#8568) [ci skip]
  packages/compiler-core/src/parse.ts
  packages/compiler-ssr/src/index.ts
  packages/runtime-core/src/vnode.ts
Due: packages, compiler-core, runtime-core

Update defineCustomElement.test-d.ts
  packages/dts-test/defineCustomElement.test-d.ts
Due: packages

fix(types): defineCustomElement using defineComponent return type with emits (#7937)
  packages/dts-test/defineCustomElement.test-d.ts
  packages/runtime-dom/src/apiCustomElement.ts
Due: packages, runtime-dom

refactor(compiler-sfc): reuse `forAliasRE` regex from compiler-core (#9568)
  packages/compiler-core/src/transforms/vFor.ts
  packages/compiler-core/src/utils.ts
  packages/compiler-sfc/src/script/importUsageCheck.ts
Due: packages, compiler-core, compiler-sfc

fix(types): allow falsy value types in `StyleValue` (#7954)
  packages/dts-test/tsx.test-d.tsx
  packages/runtime-dom/src/jsx.ts
Due: packages, runtime-dom

fix(types): update jsx type definitions (#8607)
  packages/runtime-dom/src/jsx.ts
Due: packages, runtime-dom

dx(runtime-core): warn when the prop type is `[]` (#7608)
  packages/runtime-core/__tests__/componentProps.spec.ts
  packages/runtime-core/src/componentProps.ts
Due: packages, runtime-core

test(apiWatch): better indicate array pre & new values are the same object (#7251)
  packages/runtime-core/__tests__/apiWatch.spec.ts
Due: packages, runtime-core

refactor(compiler-dom): use String's built-in repeat method (#6700)
  packages/compiler-dom/__tests__/transforms/stringifyStatic.spec.ts
Due: packages, compiler-dom

chore: fix formatting + remove duplicated property in jsx type
  packages/dts-test/tsx.test-d.tsx
  packages/runtime-dom/src/jsx.ts
Due: packages, runtime-dom

dx(runtime-core): warn if `this` is used in a `<script setup>` template (#7866)
  packages/runtime-core/__tests__/rendererComponent.spec.ts
  packages/runtime-core/src/componentRenderUtils.ts
Due: packages, runtime-core

test(shared): add test case for escapeHtmlComment (#8065)
  packages/shared/__tests__/escapeHtml.spec.ts
Due: packages, shared

fix(types): more precise types for class bindings (#8012)
  packages/dts-test/tsx.test-d.tsx
  packages/runtime-dom/src/jsx.ts
  packages/shared/__tests__/normalizeProp.spec.ts
Due: packages, runtime-dom, shared

fix(types): return type of withDefaults should be readonly (#8601)
  packages/dts-test/setupHelpers.test-d.ts
  packages/runtime-core/src/apiSetupHelpers.ts
Due: packages, runtime-core

chore: remove typeof NULL_DYNAMIC_COMPONENT for type compat with test-utils
  packages/runtime-core/src/vnode.ts
Due: packages, runtime-core

fix(ssr): hydration `__vnode` missing for devtools (#9328)
  packages/runtime-core/src/hydration.ts
Due: packages, runtime-core

fix(types): widen ClassValue type
  packages/runtime-dom/src/jsx.ts
Due: packages, runtime-dom

Update packages/compiler-sfc/__tests__/compileScript/defineEmits.spec.ts
  packages/compiler-sfc/__tests__/compileScript/defineEmits.spec.ts
Due: packages, compiler-sfc

Update packages/compiler-sfc/src/script/resolveType.ts
  packages/compiler-sfc/src/script/resolveType.ts
Due: packages, compiler-sfc

chore: snapshot
  packages/compiler-sfc/__tests__/compileScript/__snapshots__/defineEmits.spec.ts.snap
Due: packages, compiler-sfc

fix(compiler-sfc): support resolve extends interface for defineEmits (#8470)
  packages/compiler-sfc/__tests__/compileScript/__snapshots__/defineEmits.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript/defineEmits.spec.ts
  packages/compiler-sfc/src/script/resolveType.ts
Due: packages, compiler-sfc

fix(compiler-sfc): consistently escape type-only prop names (#8654)
  packages/compiler-sfc/__tests__/compileScript/__snapshots__/defineProps.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript/defineProps.spec.ts
  packages/compiler-sfc/src/script/defineProps.ts
  packages/compiler-sfc/src/script/utils.ts
  packages/compiler-sfc/src/style/cssVars.ts
Due: packages, compiler-sfc

fix(compiler-sfc): support `:is` and `:where` selector in scoped css rewrite (#8929)
  packages/compiler-sfc/__tests__/compileStyle.spec.ts
  packages/compiler-sfc/src/style/pluginScoped.ts
Due: packages, compiler-sfc

fix(reactivity): onCleanup also needs to be cleaned (#8655)
  packages/runtime-core/__tests__/apiWatch.spec.ts
  packages/runtime-core/src/apiWatch.ts
Due: packages, runtime-core

fix(types): fix `unref` and `toValue` when input union type contains ComputedRef (#8748)
  packages/reactivity/src/ref.ts
Due: packages, reactivity

chore: fix dev-sfc-prepare command (#9570)
  package.json
Due: none

export LooseRequired
  packages/runtime-core/src/index.ts
Due: packages, runtime-core

feat(compiler): allow flexible spacing in `v-for`
  packages/compiler-core/__tests__/transforms/__snapshots__/vFor.spec.ts.snap
  packages/compiler-core/__tests__/transforms/vFor.spec.ts
  packages/compiler-core/src/transforms/vFor.ts
  packages/compiler-core/src/utils.ts
  packages/compiler-sfc/src/script/importUsageCheck.ts
Due: packages, compiler-core, compiler-sfc

workflow(playground): prod/dev toggle should apply to runtime behavior as well
  package.json
  packages/sfc-playground/package.json
  packages/sfc-playground/src/App.vue
  packages/sfc-playground/src/vue-dev-proxy-prod.ts
  packages/sfc-playground/vite.config.ts
  pnpm-lock.yaml
  scripts/dev.js
Due: packages, sfc-playground

fix(types): revert class type restrictions
  packages/runtime-dom/src/jsx.ts
Due: packages, runtime-dom

fix(compiler-sfc): malformed filename on windows using path.posix.join() (#9478)
  packages/compiler-sfc/__tests__/compileScript/resolveType.spec.ts
  packages/compiler-sfc/src/script/resolveType.ts
Due: packages, compiler-sfc

fix(sfc-playground): remove comment nodes in the production env
  packages/sfc-playground/src/App.vue
Due: packages, sfc-playground

Path conditions:
  packages: any of: packages/
  compiler-core: any of: packages/compiler-core/
  compiler-dom: any of: packages/compiler-dom/
  compiler-sfc: any of: packages/compiler-sfc/
  reactivity: any of: packages/reactivity/
  reactivity-transform: any of: packages/reactivity-transform/
  runtime-core: any of: packages/runtime-core/
  runtime-dom: any of: packages/runtime-dom/
  runtime-test: any of: packages/runtime-test/
  server-renderer: any of: packages/server-renderer/
  sfc-playground: any of: packages/sfc-playground/
  shared: any of: packages/shared/
  size-check: any of: packages/size-check/
  template-explorer: any of: packages/template-explorer/
  vue: any of: packages/vue/
  vue-compat: any of: packages/vue-compat/
