Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

codecov.yml:

coverage:
  status:
    project:
      default:
        # Status checks are set to be non-blocking
        informational: true
    patch:
      default:
        # Status checks are set to be non-blocking
        informational: true

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: packages
      paths:
        - packages/
    - component_id: compiler-core
      paths:
        - packages/compiler-core/
    - component_id: compiler-dom
      paths:
        - packages/compiler-dom/
    - component_id: compiler-sfc
      paths:
        - packages/compiler-sfc/
    - component_id: compiler-sfc
      paths:
        - packages/compiler-sfc/
    - component_id: reactivity
      paths:
        - packages/reactivity/
    - component_id: reactivity-transform
      paths:
        - packages/reactivity-transform/
    - component_id: runtime-core
      paths:
        - packages/runtime-core/
    - component_id: runtime-dom
      paths:
        - packages/runtime-dom/
    - component_id: runtime-test
      paths:
        - packages/runtime-test/
    - component_id: server-renderer
      paths:
        - packages/server-renderer/
    - component_id: sfc-playground
      paths:
        - packages/sfc-playground/
    - component_id: shared
      paths:
        - packages/shared/
    - component_id: size-check
      paths:
        - packages/size-check/
    - component_id: template-explorer
      paths:
        - packages/template-explorer/
    - component_id: vue
      paths:
        - packages/vue/
    - component_id: vue-compat
      paths:
        - packages/vue-compat/

wip: save
  packages/reactivity/src/effectScope.ts
  packages/runtime-vapor/__tests__/components/Teleport.spec.ts
  packages/runtime-vapor/src/block.ts
  packages/runtime-vapor/src/components/Teleport.ts
  packages/runtime-vapor/src/fragment.ts
  packages/runtime-vapor/src/hmr.ts
Due: packages, reactivity

chore: update
  packages/runtime-vapor/__tests__/hmr.spec.ts
Due: packages

chore: update
  packages/reactivity/src/effectScope.ts
  packages/runtime-vapor/__tests__/components/Teleport.spec.ts
  packages/runtime-vapor/src/hmr.ts
Due: packages, reactivity

chore: stop prev renderEffect before hmr rerender
  packages/runtime-vapor/__tests__/components/Teleport.spec.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/hmr.ts
  packages/runtime-vapor/src/renderEffect.ts
Due: packages

chore: update
  packages/runtime-vapor/src/renderEffect.ts
Due: packages

fix(reactivity): prevent unnecessary computed recalculations in dev mode
  packages/reactivity/src/effect.ts
Due: packages, reactivity

fix(reactivity): improve dev mode computed dependency tracking
  packages/reactivity/src/effect.ts
Due: packages, reactivity

chore(docs): add missing commas
  packages/runtime-test/README.md
Due: packages, runtime-test

chore: format
  packages/runtime-test/README.md
Due: packages, runtime-test

feat(reactivity): add tests for dev mode computed optimization
  packages/reactivity/__tests__/computed.spec.ts
Due: packages, reactivity

test: add hydration benchmark for Vapor and VDOM
  packages/runtime-vapor/__tests__/hydration.bench.ts
Due: packages

fix(TransitionGroup): filter out transition-specific props to avoid invalid HTML attributes
  packages/runtime-dom/src/components/TransitionGroup.ts
Due: packages, runtime-dom

chore: remove hydration bench
  packages/runtime-vapor/__tests__/hydration.bench.ts
Due: packages

fix(TransitionGroup): 使用 hasOwn 函数优化属性过滤逻辑
  packages/runtime-dom/src/components/TransitionGroup.ts
Due: packages, runtime-dom

fix(reactivity): 优化计算属性的版本触发逻辑
  packages/reactivity/__tests__/computed.spec.ts
Due: packages, reactivity

fix(custom-element): set prop runs pending mutations before disconnect
  packages/runtime-dom/__tests__/customElement.spec.ts
  packages/runtime-dom/src/apiCustomElement.ts
Due: packages, runtime-dom

perf: don't initialize hydration state if no anchor
  packages/runtime-vapor/src/insertionState.ts
Due: packages

perf: replace spread operator with apply
  packages/runtime-core/src/apiLifecycle.ts
  packages/runtime-core/src/apiWatch.ts
  packages/runtime-core/src/component.ts
  packages/runtime-core/src/componentProps.ts
  packages/runtime-vapor/__tests__/dom/prop.spec.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/componentProps.ts
  packages/runtime-vapor/src/hmr.ts
  packages/runtime-vapor/src/renderEffect.ts
Due: packages, runtime-core

fix: handling v-for on component with non-hydration node
  packages/runtime-vapor/__tests__/hydration.spec.ts
  packages/runtime-vapor/src/apiCreateFor.ts
  packages/runtime-vapor/src/block.ts
Due: packages

fix(compiler-vapor): treat template v-for with single component child as component
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vFor.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vFor.spec.ts
  packages/compiler-vapor/src/transforms/vFor.ts
Due: packages

fix(runtime-vapor): prevent insertion and scope Id setting during hydration
  packages/runtime-vapor/src/component.ts
Due: packages

fix(custom-element): handle multiple Teleports in a custom element component
  packages/runtime-core/src/component.ts
  packages/runtime-core/src/components/Teleport.ts
  packages/runtime-dom/src/apiCustomElement.ts
Due: packages, runtime-core, runtime-dom

fix: revert
  packages/runtime-vapor/src/block.ts
Due: packages

chore: update test
  packages/runtime-dom/__tests__/customElement.spec.ts
Due: packages, runtime-dom

chore: fix typos
  packages/runtime-dom/__tests__/customElement.spec.ts
Due: packages, runtime-dom

chore: tweaks
  packages/runtime-dom/src/apiCustomElement.ts
Due: packages, runtime-dom

fix(TransitionGroup): filter private props to avoid invalid HTML attributes
  packages/compiler-ssr/src/transforms/ssrTransformTransitionGroup.ts
Due: packages

chore: update
  packages/runtime-vapor/src/insertionState.ts
Due: packages

fix: avoid pushing main container into _teleportTargets when disabled
  packages/runtime-core/src/components/Teleport.ts
  packages/runtime-dom/__tests__/customElement.spec.ts
Due: packages, runtime-core, runtime-dom

chore: rename to preserveLeadingTilde
  packages/compiler-sfc/__tests__/__snapshots__/templateTransformAssetUrl.spec.ts.snap
  packages/compiler-sfc/__tests__/__snapshots__/templateTransformSrcset.spec.ts.snap
  packages/compiler-sfc/__tests__/templateTransformAssetUrl.spec.ts
  packages/compiler-sfc/__tests__/templateTransformSrcset.spec.ts
  packages/compiler-sfc/src/template/templateUtils.ts
  packages/compiler-sfc/src/template/transformAssetUrl.ts
  packages/compiler-sfc/src/template/transformSrcset.ts
Due: packages, compiler-sfc

chore: update comment
  packages/compiler-sfc/src/template/transformAssetUrl.ts
Due: packages, compiler-sfc

fix: change _teleportTargets from an array to a Set to avoid duplicate collections
  packages/runtime-core/src/component.ts
  packages/runtime-core/src/components/Teleport.ts
  packages/runtime-dom/src/apiCustomElement.ts
Due: packages, runtime-core, runtime-dom

refactor: v-html/v-text work with component
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vHtml.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vText.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vHtml.spec.ts
  packages/compiler-vapor/__tests__/transforms/vText.spec.ts
  packages/compiler-vapor/src/generators/component.ts
  packages/compiler-vapor/src/generators/html.ts
  packages/compiler-vapor/src/generators/text.ts
  packages/compiler-vapor/src/ir/index.ts
  packages/compiler-vapor/src/transforms/utils.ts
  packages/compiler-vapor/src/transforms/vHtml.ts
  packages/compiler-vapor/src/transforms/vText.ts
  packages/runtime-vapor/src/dom/prop.ts
  packages/runtime-vapor/src/index.ts
Due: packages

test: add tests
  packages/runtime-vapor/__tests__/dom/prop.spec.ts
Due: packages

chore: special handling text node
  packages/runtime-vapor/__tests__/dom/prop.spec.ts
  packages/runtime-vapor/src/dom/prop.ts
Due: packages

chore: update
  packages/runtime-dom/src/apiCustomElement.ts
Due: packages, runtime-dom

fix(compiler-ssr): filter out all transition-specific props in TransitionGroup SSR transform
  packages/compiler-ssr/__tests__/ssrTransitionGroup.spec.ts
  packages/compiler-ssr/src/transforms/ssrTransformTransitionGroup.ts
Due: packages

refactor: update comments to English (previously Chinese)
  packages/compiler-ssr/__tests__/ssrTransitionGroup.spec.ts
  packages/compiler-ssr/src/transforms/ssrTransformTransitionGroup.ts
Due: packages

refactor(TransitionGroup): improve props handling and filtering
  packages/compiler-ssr/__tests__/ssrTransitionGroup.spec.ts
  packages/runtime-dom/src/components/TransitionGroup.ts
Due: packages, runtime-dom
