Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

codecov.yml:

coverage:
  status:
    project:
      default:
        # Status checks are set to be non-blocking
        informational: true
    patch:
      default:
        # Status checks are set to be non-blocking
        informational: true

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: packages
      paths:
        - packages/
    - component_id: compiler-core
      paths:
        - packages/compiler-core/
    - component_id: compiler-dom
      paths:
        - packages/compiler-dom/
    - component_id: compiler-sfc
      paths:
        - packages/compiler-sfc/
    - component_id: compiler-sfc
      paths:
        - packages/compiler-sfc/
    - component_id: reactivity
      paths:
        - packages/reactivity/
    - component_id: reactivity-transform
      paths:
        - packages/reactivity-transform/
    - component_id: runtime-core
      paths:
        - packages/runtime-core/
    - component_id: runtime-dom
      paths:
        - packages/runtime-dom/
    - component_id: runtime-test
      paths:
        - packages/runtime-test/
    - component_id: server-renderer
      paths:
        - packages/server-renderer/
    - component_id: sfc-playground
      paths:
        - packages/sfc-playground/
    - component_id: shared
      paths:
        - packages/shared/
    - component_id: size-check
      paths:
        - packages/size-check/
    - component_id: template-explorer
      paths:
        - packages/template-explorer/
    - component_id: vue
      paths:
        - packages/vue/
    - component_id: vue-compat
      paths:
        - packages/vue-compat/

chore: ban optional-chaining in runtime code
  .oxlintrc.json
  packages/runtime-core/src/devtools.ts
  packages/runtime-core/src/warning.ts
Due: packages, runtime-core

chore(lint): ban optional-chaining in runtime code (#14516)
  .oxlintrc.json
  packages/runtime-core/src/devtools.ts
  packages/runtime-core/src/warning.ts
Due: packages, runtime-core

fix(runtime-vapor): properly resolve event handler in dynamic props (#14514)
  packages/runtime-vapor/__tests__/component.spec.ts
  packages/runtime-vapor/src/componentEmits.ts
Due: packages

fix: 忽略枚举校验
  scripts/inline-enums.js
Due: none

fix: fulk createAppAPI
  .wiki/runtime-core/index.md
Due: none

fix(runtime-vapor): fix interop hydration anchor handling for Teleport/Suspense dynamic VNodes
  packages/runtime-vapor/__tests__/hydration.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

test: add more tests
  packages/runtime-vapor/__tests__/hydration.spec.ts
Due: packages

fix(compat): add `entities` to @vue/compat deps to fix CJS edge cases (#12514)
  packages/compiler-core/package.json
  packages/vue-compat/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: packages, compiler-core, vue-compat

fix(runtime-vapor): fix interop hydration anchor handling for Teleport/Suspense dynamic VNodes (#14517)
  packages/runtime-vapor/__tests__/hydration.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

test(compiler-sfc): cover #/ subpath imports
  packages/compiler-sfc/__tests__/templateTransformAssetUrl.spec.ts
Due: packages, compiler-sfc

fix(compiler-sfc): support # subpath imports in srcset
  packages/compiler-sfc/__tests__/templateTransformSrcset.spec.ts
  packages/compiler-sfc/src/template/transformSrcset.ts
Due: packages, compiler-sfc

refactor(compiler-sfc): normalize asset import lookup paths
  packages/compiler-sfc/src/template/transformAssetUrl.ts
  packages/compiler-sfc/src/template/transformSrcset.ts
Due: packages, compiler-sfc

feat(app): expose public `app.scope` and decouple `runWithContext` from effect scope
  packages/runtime-core/__tests__/apiCreateApp.spec.ts
  packages/runtime-core/src/apiCreateApp.ts
Due: packages, runtime-core

fix: 更新 pure的打包
  packages-private/vapor-e2e-test/package.json
  packages/pure-runtime-core/package.json
  packages/pure-runtime-dom/package.json
  packages/pure-runtime-vapor/package.json
  pnpm-lock.yaml
  scripts/create-rolldown-config.js
  scripts/dev.js
  scripts/trim-vapor-exports.js
Due: packages

fix(runtime-vapor): ensure vapor slot unmounting removes vnode slot content
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(runtime-vapor): keep vdom child attrs in sync with vapor parent updates
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(runtime-vapor): correct vapor slot props proxy has/ownKeys semantics
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(runtime-vapor): ensure vapor slot unmounting removes vnode slot content (#14520)
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(runtime-vapor): keep vdom child attrs in sync with vapor parent updates (#14521)
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(runtime-vapor): correct vapor slot props proxy has/ownKeys semantics (#14522)
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(runtime-vapor): should not pass reserved props into vapor attrs on update
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(runtime-vapor): should not pass reserved props into vapor attrs on update (#14524)
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(runtime-vapor): update nested parent/teleport refs on child HMR reload
  packages/runtime-vapor/__tests__/hmr.spec.ts
  packages/runtime-vapor/src/hmr.ts
Due: packages

fix(runtime-vapor): preserve appContext on root HMR reload
  packages/runtime-vapor/__tests__/hmr.spec.ts
  packages/runtime-vapor/src/hmr.ts
Due: packages

chore: update
  packages/runtime-vapor/__tests__/hmr.spec.ts
Due: packages

fix(hmr): preserve appContext on root HMR reload (#14528)
  packages/runtime-vapor/__tests__/hmr.spec.ts
  packages/runtime-vapor/src/hmr.ts
Due: packages

fix(hmr): child reload in dynamic branch should not break subsequent parent reload (#14527)
  packages/runtime-vapor/__tests__/hmr.spec.ts
  packages/runtime-vapor/src/hmr.ts
Due: packages

test(hmr): add HMR reload coverage for dynamic multi-instance and teleport branches
  packages/runtime-vapor/__tests__/hmr.spec.ts
Due: packages

test(hmr): add test for reloading deactivated KeepAlive child
  packages/runtime-vapor/__tests__/hmr.spec.ts
Due: packages

fix(types): allow narrower HTMLElement types in function refs
  packages-private/dts-test/tsx.test-d.tsx
  packages/runtime-core/src/vnode.ts
Due: packages, runtime-core

refactor(compiler-sfc): inline srcset logic to keep review diff minimal
  packages/compiler-sfc/src/template/transformSrcset.ts
Due: packages, compiler-sfc

fix(compiler-sfc): preserve svg fragments in srcset imports
  packages/compiler-sfc/__tests__/templateTransformSrcset.spec.ts
  packages/compiler-sfc/src/template/transformSrcset.ts
Due: packages, compiler-sfc

fix(runtime-vapor): only skip fragment start anchor when cursor is at the container's first child
  packages/runtime-vapor/__tests__/hydration.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(tests): refine comment for multi-root VDOM component in hydration test
  packages/runtime-vapor/__tests__/hydration.spec.ts
Due: packages

test(vdom): update multi-root VDOM component to use reactive refs for dynamic content
  packages/runtime-vapor/__tests__/hydration.spec.ts
Due: packages

wip: save
  packages/runtime-vapor/__tests__/hydration.spec.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix: 移除 pure-vue中的compile函数
  .wiki/pure-vue/index.md
  .wiki/vue/index.md
  packages/pure-vue/src/index.ts
  packages/pure-vue/src/runtime.ts
Due: packages
