Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

chore: mergeModels can be treeshaken
  packages/compiler-sfc/__tests__/compileScript/__snapshots__/defineModel.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript/defineModel.spec.ts
  packages/compiler-sfc/src/script/defineEmits.ts
  packages/compiler-sfc/src/script/defineProps.ts
Due: packages, compiler-sfc

test: update snap
  packages/compiler-sfc/__tests__/compileScript/__snapshots__/defineEmits.spec.ts.snap
Due: packages, compiler-sfc

chore(compiler-sfc): explicitly annotate parseCache to fix build in TS 5.3
  packages/compiler-sfc/src/parse.ts
Due: packages, compiler-sfc

chore(compiler-sfc): make lru-cache a prod dep, as it's needed at runtime and provides types
  packages/compiler-sfc/package.json
  pnpm-lock.yaml
Due: packages, compiler-sfc

perf(reactivity): optimize array tracking
  packages/reactivity/__tests__/reactiveArray.spec.ts
  packages/reactivity/src/arrayInstrumentations.ts
  packages/reactivity/src/baseHandlers.ts
  packages/reactivity/src/index.ts
  packages/reactivity/src/reactiveEffect.ts
  packages/runtime-core/src/helpers/renderList.ts
Due: packages, reactivity, runtime-core

feat(reactivity): expose last result for computed getter (#9497)
  packages/reactivity/src/computed.ts
Due: packages, reactivity

fix(warn): avoid warning on empty children with Suspense
  packages/runtime-core/__tests__/components/Suspense.spec.ts
  packages/runtime-core/src/components/Suspense.ts
  packages/runtime-core/src/vnode.ts
Due: packages, runtime-core

refactor: typo
  packages/runtime-core/__tests__/components/Suspense.spec.ts
Due: packages, runtime-core

chore: typos
  packages/runtime-core/__tests__/components/Suspense.spec.ts
Due: packages, runtime-core

chore: revert lockfile
  packages/runtime-core/src/hydration.ts
Due: packages, runtime-core

feat(compiler): style attr compiler
  packages/compiler-sfc/src/compileScript.ts
  packages/compiler-sfc/src/parse.ts
  packages/compiler-sfc/src/style/compileStyleAttrs.ts
  packages/runtime-dom/src/helpers/useCEStyleAttrs.ts
  packages/runtime-dom/src/index.ts
Due: packages, compiler-sfc, runtime-dom

feat(compiler): Optimization logic
  packages/compiler-sfc/src/compileScript.ts
  packages/compiler-sfc/src/parse.ts
  packages/compiler-sfc/src/style/ceStyleAttrs.ts
Due: packages, compiler-sfc

feat: support hydrate left square bracket comment node
  packages/runtime-core/__tests__/hydration.spec.ts
  packages/runtime-core/src/hydration.ts
Due: packages, runtime-core

feat(compiler-core): support v-bind shorthand for key and value with the same name (#9451)
  packages/compiler-core/__tests__/transforms/vBind.spec.ts
  packages/compiler-core/src/transforms/vBind.ts
  packages/compiler-sfc/__tests__/__snapshots__/compileTemplate.spec.ts.snap
  packages/compiler-sfc/__tests__/compileTemplate.spec.ts
Due: packages, compiler-core, compiler-sfc

chore(compiler): support normalScript
  packages/compiler-sfc/src/compileScript.ts
  packages/compiler-sfc/src/script/normalScript.ts
  packages/compiler-sfc/src/style/ceStyleAttrs.ts
  packages/compiler-sfc/src/style/cssVars.ts
Due: packages, compiler-sfc

workflow: bypass pnpm publish branch restrictions during release
  scripts/release.js
Due: none

feat: return onUnmounted in onMounted
  packages/runtime-core/__tests__/apiLifecycle.spec.ts
  packages/runtime-core/src/apiLifecycle.ts
Due: packages, runtime-core

fix: ignore Promise catch
  packages/runtime-core/src/apiLifecycle.ts
Due: packages, runtime-core

chore(custom-element): complate useCEStyleAttrs
  packages/compiler-sfc/src/script/normalScript.ts
  packages/runtime-core/src/component.ts
  packages/runtime-core/src/componentOptions.ts
  packages/runtime-core/src/hmr.ts
  packages/runtime-core/src/renderer.ts
  packages/runtime-dom/src/apiCustomElement.ts
  packages/runtime-dom/src/helpers/useCEStyleAttrs.ts
Due: packages, compiler-sfc, runtime-core, runtime-dom

chore: add maintenance handbook
  .github/contributing.md
  .github/git-branch-workflow.excalidraw
  .github/git-branch-workflow.png
  .github/issue-workflow.png
  .github/maintenance.md
Due: none

chore(custom-element): useCEStyleAttrs unit test
  packages/runtime-core/src/component.ts
  packages/runtime-dom/__tests__/customElement.spec.ts
  packages/runtime-dom/__tests__/helpers/useCEStyleAttrs.spec.ts
  packages/runtime-dom/src/apiCustomElement.ts
  packages/runtime-dom/src/helpers/useCEStyleAttrs.ts
Due: packages, runtime-core, runtime-dom

types(jsx): Allow modifiers to jSX event
  packages/dts-test/tsx.test-d.tsx
  packages/runtime-dom/src/jsx.ts
Due: packages, runtime-dom

chore: add passive + combinations
  packages/dts-test/tsx.test-d.tsx
  packages/runtime-dom/src/jsx.ts
Due: packages, runtime-dom

chore: typo [skip ci]
  .github/maintenance.md
Due: none

fix: set `hasAsync` on targetBuffer after splice
  packages/server-renderer/src/helpers/ssrRenderTeleport.ts
Due: packages, server-renderer

fix: let the for loop inside `unrollBuffer` await promises
  packages/server-renderer/src/renderToString.ts
Due: packages, server-renderer

chore: using DefineComponent and also allow to get the correct props
  packages/dts-test/defineCustomElement.test-d.ts
  packages/runtime-dom/src/apiCustomElement.ts
Due: packages, runtime-dom

feat(compiler): add support for Error global
  packages/compiler-core/__tests__/transforms/transformExpressions.spec.ts
  packages/shared/src/globalsAllowList.ts
Due: packages, compiler-core, shared

chore: format
  packages/compiler-core/__tests__/transforms/transformExpressions.spec.ts
Due: packages, compiler-core

chore: improve code
  packages/compiler-sfc/__tests__/compileScript.spec.ts
  packages/compiler-sfc/src/script/importUsageCheck.ts
Due: packages, compiler-sfc

test: update test case
  packages/compiler-sfc/__tests__/__snapshots__/compileScript.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript.spec.ts
Due: packages, compiler-sfc

test(effect): verify cleanupEffect clears multiple dependencies
  packages/reactivity/__tests__/effect.spec.ts
Due: packages, reactivity

feat(reactivity): enhance type inference for context-sensitive inputs
  packages/dts-test/reactivity.test-d.ts
  packages/reactivity/src/reactive.ts
Due: packages, reactivity

fix(hydration): remove unnecessary 'continue' statement
  packages/runtime-core/src/hydration.ts
Due: packages, runtime-core

feat: add `__VUE_PROD_HYDRATION_MISMATCH_DETAILS__` flag
  packages/global.d.ts
  packages/runtime-core/src/featureFlags.ts
  packages/runtime-core/src/hydration.ts
  packages/vue/README.md
  rollup.config.js
  scripts/dev.js
  scripts/usage-size.ts
  vitest.config.ts
Due: packages, runtime-core, vue

chore(custom-element): updated useCEStyleAttrs unit test
  packages/runtime-dom/__tests__/helpers/useCEStyleAttrs.spec.ts
Due: packages, runtime-dom

chore(custom-element): compile useCEStyleAttrs unit test
  packages/compiler-sfc/__tests__/__snapshots__/ceStyleAttrs.spec.ts.snap
  packages/compiler-sfc/__tests__/ceStyleAttrs.spec.ts
  packages/compiler-sfc/src/compileScript.ts
  packages/compiler-sfc/src/parse.ts
  packages/compiler-sfc/src/script/normalScript.ts
  packages/compiler-sfc/src/style/ceStyleAttrs.ts
  packages/runtime-core/src/component.ts
  packages/runtime-core/src/renderer.ts
  packages/runtime-dom/__tests__/customElement.spec.ts
  packages/runtime-dom/__tests__/helpers/useCEStyleAttrs.spec.ts
  packages/runtime-dom/src/apiCustomElement.ts
  packages/runtime-dom/src/helpers/useCEStyleAttrs.ts
Due: packages, compiler-sfc, runtime-core, runtime-dom

chore(custom-element): updated useCEStyleAttrs unit test
  packages/compiler-sfc/__tests__/ceStyleAttrs.spec.ts
  packages/runtime-core/src/component.ts
  packages/runtime-core/src/renderer.ts
  packages/runtime-dom/__tests__/customElement.spec.ts
  packages/runtime-dom/src/apiCustomElement.ts
  packages/runtime-dom/src/helpers/useCEStyleAttrs.ts
Due: packages, compiler-sfc, runtime-core, runtime-dom

Merge remote-tracking branch 'origin/main' into bwsy/feat/CEChildStyle
  pnpm-lock.yaml
Due: none

fix(types): avoid exposing lru-cache types in generated dts
  packages/compiler-sfc/src/index.ts
Due: packages, compiler-sfc

Path conditions:
  packages: any of: packages/
  compiler-core: any of: packages/compiler-core/
  compiler-dom: any of: packages/compiler-dom/
  compiler-sfc: any of: packages/compiler-sfc/
  reactivity: any of: packages/reactivity/
  reactivity-transform: any of: packages/reactivity-transform/
  runtime-core: any of: packages/runtime-core/
  runtime-dom: any of: packages/runtime-dom/
  runtime-test: any of: packages/runtime-test/
  server-renderer: any of: packages/server-renderer/
  sfc-playground: any of: packages/sfc-playground/
  shared: any of: packages/shared/
  size-check: any of: packages/size-check/
  template-explorer: any of: packages/template-explorer/
  vue: any of: packages/vue/
  vue-compat: any of: packages/vue-compat/
