Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

feat(defineModel): support local mutation by default, remove local option
  packages/dts-test/setupHelpers.test-d.ts
  packages/runtime-core/__tests__/apiSetupHelpers.spec.ts
  packages/runtime-core/src/apiSetupHelpers.ts
Due: packages, runtime-core

chore: update defineModel comment docs [ci skip]
  packages/runtime-core/src/apiSetupHelpers.ts
Due: packages, runtime-core

feat(compiler-sfc): promote defineModel stable (#9598)
  packages/compiler-sfc/__tests__/compileScript/defineModel.spec.ts
  packages/compiler-sfc/src/compileScript.ts
  packages/compiler-sfc/src/script/defineModel.ts
  packages/runtime-core/src/apiSetupHelpers.ts
  packages/sfc-playground/src/App.vue
  packages/sfc-playground/vite.config.ts
Due: packages, compiler-sfc, runtime-core, sfc-playground

fix(shared): add type to makeMap
  packages/shared/src/makeMap.ts
  packages/shared/src/typeUtils.ts
Due: packages, shared

fix(hydration): swap client/server labels for hydration mismatch warnings
  packages/runtime-core/src/hydration.ts
Due: packages, runtime-core

chore: update lockfile
  pnpm-lock.yaml
Due: none

fix(ssr): make isInSSRComponentSetup state sharable across copies of Vue
  packages/runtime-core/src/component.ts
Due: packages, runtime-core

fix(runtime-core): Ensure it won't patch the dom if component is already unmounted
  packages/runtime-core/src/renderer.ts
Due: packages, runtime-core

fix(runtime-core): Fix hydration crash when deep nested async component is not hydrated yet
  packages/runtime-core/__tests__/hydration.spec.ts
  packages/runtime-core/src/renderer.ts
Due: packages, runtime-core

chore(runtime-core): explain the async element initialVNode.el patching
  packages/runtime-core/src/renderer.ts
Due: packages, runtime-core

fix(runtime-core): Add test for suspense crash caused by update before resolve
  packages/runtime-core/__tests__/components/Suspense.spec.ts
Due: packages, runtime-core

chore: cleanup tests
  packages/runtime-core/__tests__/hydration.spec.ts
Due: packages, runtime-core

chore: cleanup comments
  packages/runtime-core/src/components/Suspense.ts
Due: packages, runtime-core

chore: update snapshots
  packages/runtime-core/__tests__/hydration.spec.ts
Due: packages, runtime-core

fix(runtime-core): Try to fix suspense error
  packages/runtime-core/__tests__/hydration.spec.ts
  packages/runtime-core/src/components/Suspense.ts
  packages/runtime-core/src/renderer.ts
Due: packages, runtime-core

fix(runtime-core): Check asyncDep instead of subTree
  packages/runtime-core/src/renderer.ts
Due: packages, runtime-core

chore: refactor implementation
  packages/runtime-core/src/renderer.ts
Due: packages, runtime-core

fix(runtime-core): Fix client side suspense update crash in proper way
  packages/runtime-core/src/renderer.ts
Due: packages, runtime-core

fix(runtime-core): Fix test snapshot error caused by util change
  packages/runtime-core/__tests__/hydration.spec.ts
Due: packages, runtime-core

chore: add promise timeout
  packages/runtime-core/__tests__/hydration.spec.ts
Due: packages, runtime-core

fix(runtime-core): fix suspense crash when patching non-resolved async setup component (#7290)
  packages/runtime-core/__tests__/components/Suspense.spec.ts
  packages/runtime-core/__tests__/hydration.spec.ts
  packages/runtime-core/src/components/Suspense.ts
  packages/runtime-core/src/renderer.ts
Due: packages, runtime-core

workflow(sfc-playground): add reload function (#8674)
  packages/sfc-playground/src/App.vue
  packages/sfc-playground/src/Header.vue
  packages/sfc-playground/src/icons/Reload.vue
Due: packages, sfc-playground

chore(sfc-playground): use dev mode by default
  packages/sfc-playground/src/App.vue
Due: packages, sfc-playground

chore: remove unnecessary statements
  packages/runtime-core/src/renderer.ts
Due: packages, runtime-core

fix(Suspense): handle switching away from kept-alive component before resolve
  packages/runtime-core/__tests__/components/Suspense.spec.ts
  packages/runtime-core/src/components/Suspense.ts
Due: packages, runtime-core

chore: preserve error code enum order
  packages/compiler-core/src/errors.ts
Due: packages, compiler-core

fix(hydration): should not warn mismatch for nullish prop
  packages/runtime-core/__tests__/hydration.spec.ts
  packages/runtime-core/src/hydration.ts
Due: packages, runtime-core

feat(compiler-vapor): functional custom directive support updated hooks (#58)
  packages/runtime-vapor/src/directive.ts
  playground/src/directive.vue
Due: packages

fix: throw error without `script` block (#61)
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/render.ts
Due: packages

fix(Suspense): properly fix #6416
  packages/runtime-core/__tests__/components/Suspense.spec.ts
  packages/runtime-core/src/componentRenderUtils.ts
  packages/runtime-core/src/renderer.ts
Due: packages, runtime-core

fix(runtime-core): properly pop warning context when mounting components with async setup
  packages/runtime-core/src/renderer.ts
Due: packages, runtime-core

release: v3.4.0-beta.1
  CHANGELOG.md
  package.json
  packages/compiler-core/package.json
  packages/compiler-dom/package.json
  packages/compiler-sfc/package.json
  packages/compiler-ssr/package.json
  packages/reactivity/package.json
  packages/runtime-core/package.json
  packages/runtime-dom/package.json
  packages/server-renderer/package.json
  packages/shared/package.json
  packages/vue-compat/package.json
  packages/vue/package.json
Due: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, runtime-core, runtime-dom, server-renderer, shared, vue, vue-compat

fix(useCssVars): fix the loss of CSS variables during updates
  packages/runtime-dom/src/helpers/useCssVars.ts
  packages/runtime-dom/src/modules/style.ts
Due: packages, runtime-dom

test(useCssVars): add test case
  packages/runtime-dom/__tests__/helpers/useCssVars.spec.ts
Due: packages, runtime-dom

fix: add semicolons to handle compound attributes
  packages/runtime-dom/src/modules/style.ts
Due: packages, runtime-dom

Update snapshot
  packages/compiler-core/__tests__/__snapshots__/parse.spec.ts.snap
Due: packages, compiler-core

chore: cleanup changelog [ci skip]
  CHANGELOG.md
Due: none

feat(types): remove default jsx global registration
  packages/vue/types/jsx-register.d.ts
Due: packages, vue

release: v3.4.0-beta.2
  CHANGELOG.md
  package.json
  packages/compiler-core/package.json
  packages/compiler-dom/package.json
  packages/compiler-sfc/package.json
  packages/compiler-ssr/package.json
  packages/reactivity/package.json
  packages/runtime-core/package.json
  packages/runtime-dom/package.json
  packages/server-renderer/package.json
  packages/shared/package.json
  packages/vue-compat/package.json
  packages/vue/package.json
Due: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, runtime-core, runtime-dom, server-renderer, shared, vue, vue-compat

Update BaseTransition.ts
  packages/runtime-core/src/components/BaseTransition.ts
Due: packages, runtime-core

Path conditions:
  packages: any of: packages/
  compiler-core: any of: packages/compiler-core/
  compiler-dom: any of: packages/compiler-dom/
  compiler-sfc: any of: packages/compiler-sfc/
  reactivity: any of: packages/reactivity/
  reactivity-transform: any of: packages/reactivity-transform/
  runtime-core: any of: packages/runtime-core/
  runtime-dom: any of: packages/runtime-dom/
  runtime-test: any of: packages/runtime-test/
  server-renderer: any of: packages/server-renderer/
  sfc-playground: any of: packages/sfc-playground/
  shared: any of: packages/shared/
  size-check: any of: packages/size-check/
  template-explorer: any of: packages/template-explorer/
  vue: any of: packages/vue/
  vue-compat: any of: packages/vue-compat/
