Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

fix(types): fix reactive collection types (#8960)
  packages/dts-test/reactivity.test-d.ts
  packages/reactivity/src/collectionHandlers.ts
  packages/reactivity/src/ref.ts
Due: packages, reactivity

fix(types): expose emits as props in functional components (#9234)
  packages/dts-test/functionalComponent.test-d.tsx
  packages/runtime-core/src/component.ts
Due: packages, runtime-core

chore: improve comment readability (#8598) [ci skip]
  scripts/dev.js
Due: none

chore(dx): improve color contrast in dark mode for custom formatter (#8704)
  packages/runtime-core/src/customFormatter.ts
Due: packages, runtime-core

fix(compiler-sfc): generate more treeshaking friendly code (#9507)
  packages/compiler-sfc/__tests__/compileScript/__snapshots__/defineModel.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript/__snapshots__/defineProps.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript/__snapshots__/definePropsDestructure.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript/defineModel.spec.ts
  packages/compiler-sfc/__tests__/compileScript/definePropsDestructure.spec.ts
  packages/compiler-sfc/src/script/defineEmits.ts
  packages/compiler-sfc/src/script/defineProps.ts
Due: packages, compiler-sfc

feat: codegen context
  packages/compiler-vapor/src/generate.ts
  packages/compiler-vapor/src/ir.ts
Due: packages

fix(compiler-vapor): prefix identifiers
  packages/compiler-core/src/options.ts
  packages/compiler-vapor/__tests__/__snapshots__/compile.test.ts.snap
  packages/compiler-vapor/src/transform.ts
  playground/src/App-root.vue
  playground/src/App.vue
  playground/src/event-modifier.vue
Due: packages, compiler-core

feat(compiler-vapor): node transform
  README.md
  packages/compiler-core/src/ast.ts
  packages/compiler-core/src/index.ts
  packages/compiler-core/src/utils.ts
  packages/compiler-vapor/__tests__/__snapshots__/compile.test.ts.snap
  packages/compiler-vapor/__tests__/compile.test.ts
  packages/compiler-vapor/__tests__/fixtures.test.ts
  packages/compiler-vapor/src/compile.ts
  packages/compiler-vapor/src/errors.ts
  packages/compiler-vapor/src/hack.ts
  packages/compiler-vapor/src/index.ts
  packages/compiler-vapor/src/transform.ts
  packages/compiler-vapor/src/transforms/vOnce.ts
  playground/vite.config.ts
Due: packages, compiler-core

refactor(compiler-vapor): errors
  packages/compiler-core/src/index.ts
  packages/compiler-dom/src/errors.ts
  packages/compiler-vapor/__tests__/compile.test.ts
  packages/compiler-vapor/src/compile.ts
  packages/compiler-vapor/src/errors.ts
  packages/compiler-vapor/src/transform.ts
  playground/setup/dev.js
Due: packages, compiler-core, compiler-dom

refactor(compiler-vapor): import alias
  packages/compiler-vapor/__tests__/__snapshots__/compile.test.ts.snap
  packages/compiler-vapor/__tests__/__snapshots__/fixtures.test.ts.snap
  packages/compiler-vapor/src/generate.ts
Due: packages

chore: rollback sfc-playground
  packages/sfc-playground/src/VersionSelect.vue
Due: packages, sfc-playground

chore: rollback component EffectScope
  packages/runtime-core/src/component.ts
Due: packages, runtime-core

feat(compiler-sfc): analyze import usage in template via AST (#9729)
  packages/compiler-core/__tests__/parse.spec.ts
  packages/compiler-core/__tests__/transforms/transformExpressions.spec.ts
  packages/compiler-core/src/ast.ts
  packages/compiler-core/src/babelUtils.ts
  packages/compiler-core/src/options.ts
  packages/compiler-core/src/parser.ts
  packages/compiler-core/src/transforms/transformExpression.ts
  packages/compiler-sfc/__tests__/__snapshots__/compileScript.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript.spec.ts
  packages/compiler-sfc/__tests__/utils.ts
  packages/compiler-sfc/src/parse.ts
  packages/compiler-sfc/src/script/importUsageCheck.ts
Due: packages, compiler-core, compiler-sfc

chore: remove deprecated AppConfig.unwrapInjectedRef option
  packages/runtime-core/src/apiCreateApp.ts
Due: packages, runtime-core

feat(compiler): lift vnode hooks deprecation warning to error
  packages/compiler-core/__tests__/transforms/vOn.spec.ts
  packages/compiler-core/src/errors.ts
  packages/compiler-core/src/transforms/vOn.ts
Due: packages, compiler-core

chore: remove v-is deprecation enum
  packages/compiler-core/src/errors.ts
Due: packages, compiler-core

fix(ssr): avoid computed being accidentally cached before server render (#9688)
  packages/server-renderer/__tests__/render.spec.ts
  packages/server-renderer/__tests__/ssrComputed.spec.ts
  packages/server-renderer/src/render.ts
Due: packages, server-renderer

chore: rollback keepAlive
  packages/runtime-core/__tests__/components/KeepAlive.spec.ts
  packages/runtime-core/src/components/KeepAlive.ts
Due: packages, runtime-core

feat: Intercept `scheduler` execution
  packages/reactivity/src/effect.ts
Due: packages, reactivity

feat(apiWatch): add pause and resume methods to WatchHandle
  packages/runtime-core/__tests__/apiWatch.spec.ts
  packages/runtime-core/src/apiWatch.ts
Due: packages, runtime-core

fix(compiler-sfc): deindent pug/jade templates
  packages/compiler-sfc/__tests__/compileTemplate.spec.ts
  packages/compiler-sfc/__tests__/parse.spec.ts
  packages/compiler-sfc/src/parse.ts
Due: packages, compiler-sfc

fix(render): Prevent error when displaying symbol keys on a map
  packages/shared/__tests__/toDisplayString.spec.ts
  packages/shared/src/toDisplayString.ts
Due: packages, shared

chore: add index to symbol, to differentiate
  packages/shared/__tests__/toDisplayString.spec.ts
  packages/shared/src/toDisplayString.ts
Due: packages, shared

fix(runtime-dom): fix TransitionGroup bug when parent has scale CSS property(fix #9665)
  packages/runtime-dom/src/components/TransitionGroup.ts
Due: packages, runtime-dom

chore: more case
  packages/compiler-sfc/__tests__/compileScript/resolveType.spec.ts
  packages/compiler-sfc/src/script/resolveType.ts
Due: packages, compiler-sfc

fix(compiler-sfc): support infer generic type
  packages/compiler-sfc/__tests__/compileScript/resolveType.spec.ts
  packages/compiler-sfc/src/script/resolveType.ts
Due: packages, compiler-sfc

chore: format
  packages/compiler-sfc/src/script/resolveType.ts
Due: packages, compiler-sfc

chore: more case
  packages/compiler-sfc/src/script/resolveType.ts
Due: packages, compiler-sfc

fix: support more cases
  packages/compiler-sfc/__tests__/compileScript/resolveType.spec.ts
  packages/compiler-sfc/src/script/resolveType.ts
Due: packages, compiler-sfc

fix(compiler-sfc): support inferring generic types (#8511)
  packages/compiler-sfc/__tests__/compileScript/resolveType.spec.ts
  packages/compiler-sfc/src/script/resolveType.ts
Due: packages, compiler-sfc

chore(template-explorer): fix overflow screen problem (#7282) [ci skip]
  packages/template-explorer/style.css
Due: packages, template-explorer

feat: push codegen
  packages/compiler-core/src/codegen.ts
  packages/compiler-core/src/index.ts
  packages/compiler-vapor/__tests__/__snapshots__/compile.test.ts.snap
  packages/compiler-vapor/__tests__/__snapshots__/fixtures.test.ts.snap
  packages/compiler-vapor/package.json
  packages/compiler-vapor/src/generate.ts
  packages/compiler-vapor/src/ir.ts
  packages/compiler-vapor/src/transform.ts
  packages/template-explorer/src/index.ts
  packages/template-explorer/src/options.ts
  pnpm-lock.yaml
Due: packages, compiler-core, template-explorer

chore: replace wrong test
  packages/dts-test/reactivity.test-d.ts
Due: packages

refactor: codegen indent
  packages/compiler-vapor/__tests__/__snapshots__/compile.test.ts.snap
  packages/compiler-vapor/__tests__/__snapshots__/fixtures.test.ts.snap
  packages/compiler-vapor/__tests__/compile.test.ts
  packages/compiler-vapor/src/generate.ts
Due: packages

types(withKeys): improve return type withKeys and withModifiers
  packages/dts-test/defineComponent.test-d.tsx
  packages/runtime-dom/src/directives/vOn.ts
Due: packages, runtime-dom

refactor: process expression
  packages/compiler-vapor/__tests__/__snapshots__/compile.test.ts.snap
  packages/compiler-vapor/src/generate.ts
  packages/compiler-vapor/src/ir.ts
  packages/compiler-vapor/src/transform.ts
Due: packages

feat: source map for expressions
  packages/compiler-vapor/__tests__/__snapshots__/compile.test.ts.snap
  packages/compiler-vapor/src/generate.ts
Due: packages

refactor: error
  packages/compiler-vapor/src/transform.ts
Due: packages

fix(compiler-sfc): fix :where and :is selector scoped
  packages/compiler-sfc/__tests__/compileStyle.spec.ts
  packages/compiler-sfc/src/style/pluginScoped.ts
Due: packages, compiler-sfc

Path conditions:
  packages: any of: packages/
  compiler-core: any of: packages/compiler-core/
  compiler-dom: any of: packages/compiler-dom/
  compiler-sfc: any of: packages/compiler-sfc/
  reactivity: any of: packages/reactivity/
  reactivity-transform: any of: packages/reactivity-transform/
  runtime-core: any of: packages/runtime-core/
  runtime-dom: any of: packages/runtime-dom/
  runtime-test: any of: packages/runtime-test/
  server-renderer: any of: packages/server-renderer/
  sfc-playground: any of: packages/sfc-playground/
  shared: any of: packages/shared/
  size-check: any of: packages/size-check/
  template-explorer: any of: packages/template-explorer/
  vue: any of: packages/vue/
  vue-compat: any of: packages/vue-compat/
