Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

codecov.yml:

coverage:
  status:
    project:
      default:
        # Status checks are set to be non-blocking
        informational: true
    patch:
      default:
        # Status checks are set to be non-blocking
        informational: true

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: packages
      paths:
        - packages/
    - component_id: compiler-core
      paths:
        - packages/compiler-core/
    - component_id: compiler-dom
      paths:
        - packages/compiler-dom/
    - component_id: compiler-sfc
      paths:
        - packages/compiler-sfc/
    - component_id: compiler-sfc
      paths:
        - packages/compiler-sfc/
    - component_id: reactivity
      paths:
        - packages/reactivity/
    - component_id: reactivity-transform
      paths:
        - packages/reactivity-transform/
    - component_id: runtime-core
      paths:
        - packages/runtime-core/
    - component_id: runtime-dom
      paths:
        - packages/runtime-dom/
    - component_id: runtime-test
      paths:
        - packages/runtime-test/
    - component_id: server-renderer
      paths:
        - packages/server-renderer/
    - component_id: sfc-playground
      paths:
        - packages/sfc-playground/
    - component_id: shared
      paths:
        - packages/shared/
    - component_id: size-check
      paths:
        - packages/size-check/
    - component_id: template-explorer
      paths:
        - packages/template-explorer/
    - component_id: vue
      paths:
        - packages/vue/
    - component_id: vue-compat
      paths:
        - packages/vue-compat/

test: add tests
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vBind.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vBind.spec.ts
Due: packages

types(jsx): correct the naming of the enterKeyHint property (#14090)
  packages/runtime-dom/src/jsx.ts
Due: packages, runtime-dom

fix(types): add undefined to fetchpriority
  packages/runtime-dom/src/jsx.ts
Due: packages, runtime-dom

types(jsx): add new HTML attributes for improved JSX support (#13370)
  packages/runtime-dom/src/jsx.ts
Due: packages, runtime-dom

fix(compiler-vapor): prevent duplicate processing of member expressions in expression analysis (#14105)
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vBind.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vBind.spec.ts
  packages/compiler-vapor/src/generators/expression.ts
Due: packages

chore(compiler-core): rename filterCommentChildren to filterNonCommentChildren
  packages/compiler-core/src/utils.ts
  packages/compiler-ssr/src/transforms/ssrInjectFallthroughAttrs.ts
Due: packages, compiler-core

fix(runtime-vapor): more accurate fallthrough attr support (#13972)
  packages/compiler-core/src/utils.ts
  packages/compiler-ssr/src/transforms/ssrInjectFallthroughAttrs.ts
  packages/compiler-vapor/__tests__/__snapshots__/compile.spec.ts.snap
  packages/compiler-vapor/__tests__/compile.spec.ts
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformElement.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformTemplateRef.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vBind.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vFor.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vIf.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vModel.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vOnce.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/transformElement.spec.ts
  packages/compiler-vapor/__tests__/transforms/vBind.spec.ts
  packages/compiler-vapor/__tests__/transforms/vIf.spec.ts
  packages/compiler-vapor/src/generate.ts
  packages/compiler-vapor/src/generators/prop.ts
  packages/compiler-vapor/src/generators/template.ts
  packages/compiler-vapor/src/ir/index.ts
  packages/compiler-vapor/src/transform.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
  packages/runtime-vapor/__tests__/componentAttrs.spec.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/dom/prop.ts
Due: packages, compiler-core

test(hmr): port hmr tests
  packages/runtime-vapor/__tests__/hmr.spec.ts
Due: packages

wip: refactor test
  packages/runtime-vapor/__tests__/_utils.ts
  packages/runtime-vapor/__tests__/hmr.spec.ts
Due: packages

wip: save
  packages/runtime-vapor/__tests__/hmr.spec.ts
Due: packages

feat: support false prop shorthand
  packages/compiler-core/__tests__/transforms/vBind.spec.ts
  packages/compiler-core/src/parser.ts
  packages/compiler-core/src/tokenizer.ts
Due: packages, compiler-core

fix(#14112): changed from using setTimeout to requestAnimationFrame
  packages/runtime-dom/src/components/Transition.ts
Due: packages, runtime-dom

fix(#14112): removed old setTimeout
  packages/runtime-dom/src/components/Transition.ts
Due: packages, runtime-dom

fix(#14113): loop always stops and doesn't run forever now
  packages/runtime-dom/src/components/Transition.ts
Due: packages, runtime-dom

feat(vModel): support `HTMLDetailsElement`
  packages/runtime-dom/__tests__/directives/vModel.spec.ts
  packages/runtime-dom/src/directives/vModel.ts
Due: packages, runtime-dom

wip: update
  packages/compiler-dom/__tests__/transforms/vModel.spec.ts
  packages/compiler-dom/src/errors.ts
  packages/compiler-dom/src/runtimeHelpers.ts
  packages/compiler-dom/src/transforms/vModel.ts
  packages/compiler-ssr/src/transforms/ssrVModel.ts
  packages/compiler-vapor/__tests__/transforms/vModel.spec.ts
Due: packages, compiler-dom

refactor(compiler-ssr): move `defaultProps` initialization into `input` tag branch
  packages/compiler-ssr/src/transforms/ssrVModel.ts
Due: packages

wip: update
  packages/compiler-dom/__tests__/transforms/__snapshots__/vModel.spec.ts.snap
  packages/compiler-dom/src/runtimeHelpers.ts
  packages/compiler-dom/src/transforms/vModel.ts
  packages/runtime-dom/src/index.ts
Due: packages, compiler-dom, runtime-dom

chore(compiler-ssr): move `defaultProps` initialization into `input` tag branch (#14115)
  packages/compiler-ssr/src/transforms/ssrVModel.ts
Due: packages

test: update snapshot
  packages/compiler-sfc/__tests__/__snapshots__/compileTemplate.spec.ts.snap
Due: packages, compiler-sfc

feat: Refactor `KeepAlive` to manage fragment scope and caching via new `FragmentHooks` on `DynamicFragment`.
  packages/runtime-vapor/src/block.ts
  packages/runtime-vapor/src/components/KeepAlive.ts
  packages/runtime-vapor/src/fragment.ts
Due: packages

fix(runtime-core): keep options API typing intact when `expose` is used
  packages/runtime-core/src/apiDefineComponent.ts
  packages/runtime-core/src/componentOptions.ts
Due: packages, runtime-core

test: add dts fixture
  packages-private/dts-test/defineComponent.test-d.tsx
Due: none

chore: update issue id in comment
  packages-private/dts-test/defineComponent.test-d.tsx
Due: none

fix(reactivity): correctly wrap iterated array items to preserve their readonly status
  packages/reactivity/__tests__/readonly.spec.ts
  packages/reactivity/src/arrayInstrumentations.ts
Due: packages, reactivity

fix(runtime-core): keep options API typing intact when expose is used (#14118)
  packages-private/dts-test/defineComponent.test-d.tsx
  packages/runtime-core/src/apiDefineComponent.ts
  packages/runtime-core/src/componentOptions.ts
Due: packages, runtime-core

refactor(keep-alive): refactor KeepAlive to use new fragment hooks.
  packages/runtime-core/src/index.ts
  packages/runtime-vapor/src/components/KeepAlive.ts
  packages/runtime-vapor/src/fragment.ts
Due: packages, runtime-core

chore: tweaks
  packages/runtime-vapor/src/components/KeepAlive.ts
Due: packages

wip: refactor async component handling
  packages/runtime-vapor/__tests__/apiDefineAsyncComponent.spec.ts
  packages/runtime-vapor/src/apiDefineAsyncComponent.ts
  packages/runtime-vapor/src/components/KeepAlive.ts
Due: packages

chore: update comments
  packages/runtime-vapor/src/components/KeepAlive.ts
  packages/runtime-vapor/src/fragment.ts
Due: packages

chore: update
  packages/runtime-vapor/src/components/KeepAlive.ts
Due: packages

refactor(keep-alive): refactor KeepAlive to use new fragment hooks. (#14121)
  packages/runtime-core/src/index.ts
  packages/runtime-vapor/__tests__/apiDefineAsyncComponent.spec.ts
  packages/runtime-vapor/src/apiDefineAsyncComponent.ts
  packages/runtime-vapor/src/block.ts
  packages/runtime-vapor/src/components/KeepAlive.ts
  packages/runtime-vapor/src/fragment.ts
Due: packages, runtime-core

feat: replace `Fragment`'s `effects` property and `BlockFragment`'s `mounted` hook with a new `updated` hook.
  packages/runtime-vapor/src/apiCreateFor.ts
  packages/runtime-vapor/src/components/Teleport.ts
  packages/runtime-vapor/src/fragment.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

chore: tweaks
  packages/runtime-vapor/src/components/Teleport.ts
  packages/runtime-vapor/src/dom/prop.ts
Due: packages

feat(runtime-vapor): support `v-bind()` in CSS (#12621)
  packages/compiler-sfc/src/compileScript.ts
  packages/compiler-sfc/src/style/cssVars.ts
  packages/runtime-core/src/component.ts
  packages/runtime-dom/src/helpers/useCssVars.ts
  packages/runtime-dom/src/index.ts
  packages/runtime-vapor/__tests__/helpers/useCssVars.spec.ts
  packages/runtime-vapor/__tests__/hydration.spec.ts
  packages/runtime-vapor/src/apiCreateFor.ts
  packages/runtime-vapor/src/components/Teleport.ts
  packages/runtime-vapor/src/dom/prop.ts
  packages/runtime-vapor/src/fragment.ts
  packages/runtime-vapor/src/helpers/useCssVars.ts
  packages/runtime-vapor/src/index.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages, compiler-sfc, runtime-core, runtime-dom

refactor: TransitionGroup directly returns slotted block instead of wrapping it in DynamicFragment.
  packages/runtime-vapor/src/components/TransitionGroup.ts
Due: packages

chore: tweaks
  packages/runtime-vapor/src/apiCreateFor.ts
Due: packages

refactor(transition-group): directly returns slotted block instead of wrapping it in DynamicFragment. (#14122)
  packages/runtime-vapor/src/apiCreateFor.ts
  packages/runtime-vapor/src/components/TransitionGroup.ts
Due: packages
