Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

feat(runtime-vapor): support functional component for defineVaporComponent (#12927)
  packages/runtime-vapor/__tests__/_utils.ts
  packages/runtime-vapor/__tests__/componentProps.spec.ts
  packages/runtime-vapor/src/apiDefineComponent.ts
Due: packages

feat(vapor): devtools support
  packages/runtime-core/src/renderer.ts
Due: packages, runtime-core

types: compatible with TS 5.8
  packages/compiler-core/src/transforms/vFor.ts
  packages/compiler-sfc/src/script/defineModel.ts
  packages/reactivity/src/ref.ts
  packages/runtime-core/src/scheduler.ts
Due: packages, compiler-core, compiler-sfc, reactivity, runtime-core

fix(runtime-vapor): prevent passing an empty string to classList.add
  packages/runtime-vapor/__tests__/componentAttrs.spec.ts
  packages/runtime-vapor/src/dom/prop.ts
Due: packages

wip: save
  packages/runtime-core/src/apiAsyncComponent.ts
  packages/vue/__tests__/e2e/hydration-strat-idle.html
Due: packages, runtime-core, vue

fix: tests
  packages/runtime-core/src/hydrationStrategies.ts
  packages/vue/__tests__/e2e/hydration-strat-idle.html
  packages/vue/__tests__/e2e/hydrationStrategies.spec.ts
Due: packages, runtime-core, vue

chore: improve
  packages/runtime-core/src/apiAsyncComponent.ts
  packages/runtime-core/src/hydrationStrategies.ts
Due: packages, runtime-core

wip: save
  packages/runtime-vapor/src/block.ts
  packages/runtime-vapor/src/components/Transition.ts
Due: packages

feat(runtime-vapor): use shallow clone to support shallowRef in v-for
  packages/runtime-vapor/__tests__/for.spec.ts
  packages/runtime-vapor/src/apiCreateFor.ts
Due: packages

types: undo unnecessary changes
  packages/runtime-core/src/scheduler.ts
Due: packages, runtime-core

types: add type tests for nextTick
  packages-private/dts-test/scheduler.test-d.ts
Due: none

fix: e2e-test
  packages/runtime-vapor/src/apiCreateFor.ts
Due: packages

wip: save
  packages/runtime-core/src/components/BaseTransition.ts
  packages/runtime-core/src/index.ts
  packages/runtime-core/src/renderer.ts
  packages/runtime-vapor/src/block.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/components/Transition.ts
Due: packages, runtime-core

feat: use prevNeedsWrap
  packages/runtime-vapor/src/apiCreateFor.ts
Due: packages

wip: save
  packages/runtime-core/src/components/BaseTransition.ts
  packages/runtime-vapor/src/block.ts
  packages/runtime-vapor/src/components/Transition.ts
Due: packages, runtime-core

fix: typo
  packages/runtime-vapor/src/apiCreateFor.ts
Due: packages

wip: auto generate key for vif branch if it wraps in transition
  packages/compiler-vapor/src/generators/block.ts
  packages/compiler-vapor/src/ir/index.ts
  packages/compiler-vapor/src/transforms/vIf.ts
Due: packages

wip: handle built-in components
  packages/compiler-vapor/src/generators/component.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
Due: packages

fix(compat): handle v-bind before v-for still throws COMPILER_V_BIND_OBJECT_ORDER warning
  packages/compiler-core/src/transforms/transformElement.ts
  packages/vue-compat/__tests__/compiler.spec.ts
Due: packages, compiler-core, vue-compat

Update README.md
  README.md
Due: none

Apply suggestions from code review
  packages/vue-compat/__tests__/compiler.spec.ts
Due: packages, vue-compat

wip: handle keyed element transition
  packages/compiler-vapor/src/generators/block.ts
  packages/compiler-vapor/src/generators/component.ts
  packages/compiler-vapor/src/ir/index.ts
  packages/compiler-vapor/src/transforms/vIf.ts
  packages/compiler-vapor/src/transforms/vSlot.ts
  packages/runtime-vapor/src/apiCreateFragment.ts
  packages/runtime-vapor/src/index.ts
Due: packages

wip: refactor
  packages/runtime-vapor/src/block.ts
  packages/runtime-vapor/src/components/Transition.ts
  packages/runtime-vapor/src/directives/vShow.ts
  packages/runtime-vapor/src/dom/prop.ts
Due: packages

wip: improve types
  packages/runtime-vapor/src/block.ts
  packages/runtime-vapor/src/components/Transition.ts
  packages/runtime-vapor/src/directives/vShow.ts
Due: packages

wip: inject useVaporTransition call for treeshaking
  packages/compiler-vapor/src/generate.ts
  packages/compiler-vapor/src/ir/index.ts
  packages/compiler-vapor/src/transform.ts
  packages/compiler-vapor/src/transforms/vIf.ts
  packages/compiler-vapor/src/transforms/vSlot.ts
  packages/runtime-vapor/src/apiCreateApp.ts
  packages/runtime-vapor/src/components/Transition.ts
  packages/runtime-vapor/src/index.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

wip: save
  packages/runtime-dom/src/components/Transition.ts
Due: packages, runtime-dom

fix(types/toRef): ensure compatibility for `ShallowRef` unions in TS <=5.3
  packages/reactivity/src/ref.ts
Due: packages, reactivity

refactor: improve type readability
  packages/reactivity/src/ref.ts
Due: packages, reactivity

wip: save
  packages/runtime-dom/src/components/Transition.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/componentSlots.ts
  packages/runtime-vapor/src/components/Transition.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages, runtime-dom

wip: vdom interop
  packages/runtime-core/src/helpers/renderSlot.ts
  packages/runtime-dom/src/components/Transition.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/componentSlots.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages, runtime-core, runtime-dom

wip: refactor
  packages/compiler-vapor/src/generate.ts
  packages/compiler-vapor/src/generators/component.ts
  packages/compiler-vapor/src/ir/index.ts
  packages/compiler-vapor/src/transform.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
  packages/compiler-vapor/src/transforms/vIf.ts
  packages/compiler-vapor/src/transforms/vSlot.ts
  packages/compiler-vapor/src/utils.ts
  packages/runtime-dom/src/components/Transition.ts
  packages/runtime-dom/src/index.ts
  packages/runtime-vapor/src/components/Transition.ts
  packages/runtime-vapor/src/index.ts
Due: packages, runtime-dom

wip: refactor
  packages/compiler-vapor/src/generate.ts
  packages/runtime-vapor/src/components/Transition.ts
Due: packages

fix(types): improve type constraints for provide function
  packages-private/dts-test/inject.test-d.ts
  packages/runtime-core/src/apiInject.ts
Due: packages, runtime-core

fix: always treat autocorrect as attribute
  packages/runtime-dom/src/patchProp.ts
Due: packages, runtime-dom

wip: vdom interop
  packages/runtime-vapor/src/apiCreateDynamicComponent.ts
  packages/runtime-vapor/src/block.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/components/Transition.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

wip: vapor interop
  packages/runtime-core/src/components/BaseTransition.ts
  packages/runtime-core/src/renderer.ts
Due: packages, runtime-core

wip: revert some changes
  packages/runtime-core/src/helpers/renderSlot.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/componentSlots.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages, runtime-core

wip: add tests
  packages/compiler-vapor/__tests__/transforms/TransformTransition.spec.ts
  packages/compiler-vapor/__tests__/transforms/__snapshots__/TransformTransition.spec.ts.snap
Due: packages

feat(runtime-dom): allow specifying additional options for attachShadow
  packages/runtime-dom/__tests__/customElement.spec.ts
  packages/runtime-dom/src/apiCustomElement.ts
Due: packages, runtime-dom

feat(runtime-dom): ensure mode is always 'open' when attaching shadowRoot
  packages/runtime-dom/src/apiCustomElement.ts
Due: packages, runtime-dom

Path conditions:
  packages: any of: packages/
  compiler-core: any of: packages/compiler-core/
  compiler-dom: any of: packages/compiler-dom/
  compiler-sfc: any of: packages/compiler-sfc/
  reactivity: any of: packages/reactivity/
  reactivity-transform: any of: packages/reactivity-transform/
  runtime-core: any of: packages/runtime-core/
  runtime-dom: any of: packages/runtime-dom/
  runtime-test: any of: packages/runtime-test/
  server-renderer: any of: packages/server-renderer/
  sfc-playground: any of: packages/sfc-playground/
  shared: any of: packages/shared/
  size-check: any of: packages/size-check/
  template-explorer: any of: packages/template-explorer/
  vue: any of: packages/vue/
  vue-compat: any of: packages/vue-compat/
