Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

codecov.yml:

coverage:
  status:
    project:
      default:
        # Status checks are set to be non-blocking
        informational: true
    patch:
      default:
        # Status checks are set to be non-blocking
        informational: true

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: packages
      paths:
        - packages/
    - component_id: compiler-core
      paths:
        - packages/compiler-core/
    - component_id: compiler-dom
      paths:
        - packages/compiler-dom/
    - component_id: compiler-sfc
      paths:
        - packages/compiler-sfc/
    - component_id: compiler-sfc
      paths:
        - packages/compiler-sfc/
    - component_id: reactivity
      paths:
        - packages/reactivity/
    - component_id: reactivity-transform
      paths:
        - packages/reactivity-transform/
    - component_id: runtime-core
      paths:
        - packages/runtime-core/
    - component_id: runtime-dom
      paths:
        - packages/runtime-dom/
    - component_id: runtime-test
      paths:
        - packages/runtime-test/
    - component_id: server-renderer
      paths:
        - packages/server-renderer/
    - component_id: sfc-playground
      paths:
        - packages/sfc-playground/
    - component_id: shared
      paths:
        - packages/shared/
    - component_id: size-check
      paths:
        - packages/size-check/
    - component_id: template-explorer
      paths:
        - packages/template-explorer/
    - component_id: vue
      paths:
        - packages/vue/
    - component_id: vue-compat
      paths:
        - packages/vue-compat/

fix(types): infer emits from SetupContext
  packages-private/dts-test/defineComponent.test-d.tsx
  packages/runtime-core/src/component.ts
Due: packages, runtime-core

feat(types): support object Slots type for defineComponent
  packages-private/dts-test/defineComponent.test-d.tsx
  packages/runtime-core/src/apiDefineComponent.ts
  packages/runtime-core/src/component.ts
  packages/runtime-core/src/componentPublicInstance.ts
Due: packages, runtime-core

chore: update
  packages-private/dts-test/defineComponent.test-d.tsx
Due: none

chore: update test
  packages-private/dts-test/defineComponent.test-d.tsx
Due: none

docs(runtime-vapor): prevent confusion around dynamic child hydration anchors
  packages/runtime-vapor/src/component.ts
Due: packages

fix(runtime-vapor): avoid double mount in interop hydration
  packages/runtime-vapor/__tests__/hydration.spec.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(runtime-vapor): avoid double mount app entry
  packages/runtime-vapor/__tests__/hydration.spec.ts
  packages/runtime-vapor/src/apiCreateApp.ts
Due: packages

fix(hydration): avoid component double mount during hydration (#14690)
  packages/runtime-vapor/__tests__/hydration.spec.ts
  packages/runtime-vapor/src/apiCreateApp.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

feat(runtime-vapor): hydrate async setup component under VDOM Suspense
  packages/runtime-core/src/apiSetupHelpers.ts
  packages/runtime-core/src/component.ts
  packages/runtime-vapor/__tests__/hydration.spec.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/dom/hydration.ts
Due: packages, runtime-core

refactor: avoid size increase
  packages/runtime-vapor/src/apiSetupHelpers.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/index.ts
  packages/vue/src/index-with-vapor.ts
  packages/vue/src/runtime-with-vapor.ts
Due: packages, vue

fix(runtime-vapor): restore hydration state after async setup resume
  packages/runtime-vapor/__tests__/hydration.spec.ts
  packages/runtime-vapor/src/component.ts
Due: packages

feat(runtime-vapor): hydrate async setup component under VDOM Suspense (#14691)
  packages/runtime-core/src/apiSetupHelpers.ts
  packages/runtime-core/src/component.ts
  packages/runtime-vapor/__tests__/hydration.spec.ts
  packages/runtime-vapor/src/apiSetupHelpers.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/dom/hydration.ts
  packages/runtime-vapor/src/index.ts
  packages/vue/src/index-with-vapor.ts
  packages/vue/src/runtime-with-vapor.ts
Due: packages, runtime-core, vue

feat(types): infer expose type from SetupContext in defineComponent
  packages-private/dts-test/defineComponent.test-d.tsx
  packages/runtime-core/src/apiDefineComponent.ts
  packages/runtime-core/src/component.ts
  packages/runtime-core/src/componentOptions.ts
Due: packages, runtime-core

chore: update
  packages-private/dts-test/defineComponent.test-d.tsx
  packages/runtime-core/src/component.ts
  packages/runtime-core/src/componentOptions.ts
Due: packages, runtime-core

chore: update pnpm config
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

refactor(hydration): preserve async wrapper hydration paths while tightening vapor mismatch handling
  packages/runtime-vapor/__tests__/hydration.spec.ts
  packages/runtime-vapor/src/apiCreateFor.ts
  packages/runtime-vapor/src/apiDefineAsyncComponent.ts
  packages/runtime-vapor/src/components/Teleport.ts
  packages/runtime-vapor/src/dom/hydration.ts
  packages/runtime-vapor/src/fragment.ts
  packages/vue/__tests__/e2e/hydrationStrategies.spec.ts
Due: packages, vue

fix(runtime-vapor): keep mismatch recovery inside owner hydration boundaries
  packages/runtime-vapor/__tests__/hydration.spec.ts
  packages/runtime-vapor/src/apiCreateDynamicComponent.ts
  packages/runtime-vapor/src/apiCreateFor.ts
  packages/runtime-vapor/src/apiCreateIf.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/components/Teleport.ts
  packages/runtime-vapor/src/dom/hydration.ts
  packages/runtime-vapor/src/fragment.ts
  packages/vue/__tests__/e2e/hydrationStrategies.spec.ts
Due: packages, vue

chore: update
  packages-private/dts-test/defineComponent.test-d.tsx
  packages/runtime-core/src/apiDefineComponent.ts
  packages/runtime-core/src/component.ts
  packages/runtime-core/src/componentPublicInstance.ts
Due: packages, runtime-core

chore: update
  packages/runtime-core/src/apiDefineComponent.ts
Due: packages, runtime-core

wip: save
  packages/runtime-vapor/__tests__/hydration.spec.ts
  packages/runtime-vapor/src/apiCreateFor.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/components/Teleport.ts
  packages/runtime-vapor/src/dom/hydration.ts
  packages/runtime-vapor/src/fragment.ts
  packages/vue/__tests__/e2e/hydrationStrategies.spec.ts
Due: packages, vue

wip: save
  packages/runtime-vapor/__tests__/hydration.spec.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/dom/prop.ts
  packages/runtime-vapor/src/fragment.ts
Due: packages

wip: save
  packages/runtime-vapor/__tests__/hydration.spec.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/components/Teleport.ts
  packages/runtime-vapor/src/dom/hydration.ts
  packages/runtime-vapor/src/fragment.ts
Due: packages

wip: save
  packages/runtime-vapor/src/dom/hydration.ts
Due: packages

wip: revert consumeFragmentStart changes
  packages/runtime-vapor/src/apiCreateDynamicComponent.ts
  packages/runtime-vapor/src/apiCreateFor.ts
  packages/runtime-vapor/src/apiCreateIf.ts
  packages/runtime-vapor/src/dom/hydration.ts
Due: packages

wip: simplify hydration boundary init
  packages/runtime-vapor/src/apiCreateFor.ts
  packages/runtime-vapor/src/components/Teleport.ts
  packages/runtime-vapor/src/dom/hydration.ts
  packages/runtime-vapor/src/fragment.ts
Due: packages

wip: save
  packages/runtime-vapor/__tests__/hydration.spec.ts
  packages/runtime-vapor/src/apiCreateFor.ts
  packages/runtime-vapor/src/component.ts
Due: packages

wip: save
  packages/runtime-vapor/__tests__/hydration.spec.ts
  packages/runtime-vapor/src/dom/prop.ts
Due: packages

refactor(runtime-vapor): simplify hydration close tracking in vapor runtime
  packages/runtime-vapor/__tests__/hydration.spec.ts
  packages/runtime-vapor/src/apiCreateFor.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/components/Teleport.ts
  packages/runtime-vapor/src/dom/hydration.ts
  packages/runtime-vapor/src/fragment.ts
Due: packages

chore: revert
  packages/runtime-vapor/src/dom/hydration.ts
Due: packages

chore: update
  packages/runtime-vapor/src/component.ts
Due: packages

fix(hydration): keep lazy hydration on the async wrapper path
  packages/runtime-vapor/__tests__/hydration.spec.ts
  packages/runtime-vapor/src/apiDefineAsyncComponent.ts
  packages/vue/__tests__/e2e/hydrationStrategies.spec.ts
Due: packages, vue

fix(hydration): handle non-empty v-for over empty SSR ranges before trailing siblings
  packages/runtime-vapor/__tests__/hydration.spec.ts
  packages/runtime-vapor/src/apiCreateFor.ts
  packages/runtime-vapor/src/dom/hydration.ts
Due: packages

fix(hydration): keep late fragment inserts before their own hydration anchor
  packages/runtime-vapor/__tests__/hydration.spec.ts
  packages/runtime-vapor/src/dom/hydration.ts
  packages/runtime-vapor/src/fragment.ts
Due: packages

test: hydrate async slot branches from empty v-for ranges without consuming siblings
  packages/runtime-vapor/__tests__/hydration.spec.ts
Due: packages

fix(hydration): reuse attached SSR anchors for empty dynamic fragments
  packages/runtime-vapor/__tests__/hydration.spec.ts
  packages/runtime-vapor/src/fragment.ts
Due: packages

fix(teleport): guard against null component instance during move
  packages/runtime-core/__tests__/components/Suspense.spec.ts
  packages/runtime-core/src/components/Teleport.ts
  packages/runtime-core/src/renderer.ts
Due: packages, runtime-core
