Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

codecov.yml:

coverage:
  status:
    project:
      default:
        # Status checks are set to be non-blocking
        informational: true
    patch:
      default:
        # Status checks are set to be non-blocking
        informational: true

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: packages
      paths:
        - packages/
    - component_id: compiler-core
      paths:
        - packages/compiler-core/
    - component_id: compiler-dom
      paths:
        - packages/compiler-dom/
    - component_id: compiler-sfc
      paths:
        - packages/compiler-sfc/
    - component_id: compiler-sfc
      paths:
        - packages/compiler-sfc/
    - component_id: reactivity
      paths:
        - packages/reactivity/
    - component_id: reactivity-transform
      paths:
        - packages/reactivity-transform/
    - component_id: runtime-core
      paths:
        - packages/runtime-core/
    - component_id: runtime-dom
      paths:
        - packages/runtime-dom/
    - component_id: runtime-test
      paths:
        - packages/runtime-test/
    - component_id: server-renderer
      paths:
        - packages/server-renderer/
    - component_id: sfc-playground
      paths:
        - packages/sfc-playground/
    - component_id: shared
      paths:
        - packages/shared/
    - component_id: size-check
      paths:
        - packages/size-check/
    - component_id: template-explorer
      paths:
        - packages/template-explorer/
    - component_id: vue
      paths:
        - packages/vue/
    - component_id: vue-compat
      paths:
        - packages/vue-compat/

fix(compiler-sfc): use compilerOptions when re-parsing consumed AST
  packages/compiler-sfc/src/compileTemplate.ts
  packages/sfc-playground/src/App.vue
Due: packages, compiler-sfc, sfc-playground

perf(runtime-core): optimized code
  packages/runtime-core/src/components/Suspense.ts
Due: packages, runtime-core

chore: updated unit test snap
  packages/compiler-sfc/__tests__/compileScript/__snapshots__/hoistStatic.spec.ts.snap
Due: packages, compiler-sfc

chore: fix merge error
  packages/runtime-dom/src/patchProp.ts
Due: packages, runtime-dom

chore: temp commit
  packages/compiler-core/src/parser.ts
Due: packages, compiler-core

chore: updated unit test snap
  packages/compiler-core/__tests__/transforms/__snapshots__/vSlot.spec.ts.snap
  packages/compiler-core/src/transforms/vSlot.ts
Due: packages, compiler-core

chore: updated dts
  packages/runtime-core/src/component.ts
Due: packages, runtime-core

chore: updated unit test snap
  packages/compiler-core/__tests__/transforms/__snapshots__/vSlot.spec.ts.snap
Due: packages, compiler-core

chore: updated unit test snap
  packages/compiler-sfc/__tests__/__snapshots__/ceStyleAttrs.spec.ts.snap
  packages/compiler-sfc/__tests__/ceStyleAttrs.spec.ts
  packages/compiler-sfc/src/parse.ts
Due: packages, compiler-sfc

chore: updated unit test snap
  packages/compiler-sfc/__tests__/__snapshots__/ceStyleAttrs.spec.ts.snap
Due: packages, compiler-sfc

chore: updaed unit test snap
  packages/compiler-core/__tests__/transforms/__snapshots__/vIf.spec.ts.snap
Due: packages, compiler-core

chore: updaed unit test snap
  packages/compiler-dom/__tests__/transforms/__snapshots__/stringifyStatic.spec.ts.snap
Due: packages, compiler-dom

chore: updated dts
  packages/runtime-core/src/components/Teleport.ts
Due: packages, runtime-core

workflow(sfc-playground): init custom formatter when selecting new version (#9958)
  packages/sfc-playground/src/App.vue
Due: packages, sfc-playground

test: add resetSuspenseId
  packages/runtime-core/__tests__/components/Suspense.spec.ts
  packages/runtime-core/src/components/Suspense.ts
Due: packages, runtime-core

chore: only remove the outer fragment
  packages/server-renderer/src/helpers/ssrRenderSlot.ts
Due: packages, server-renderer

fix(runtime-core): correctly assign suspenseId to avoid conflicts with the default id (#9966)
  packages/runtime-core/__tests__/components/Suspense.spec.ts
  packages/runtime-core/src/components/Suspense.ts
  packages/sfc-playground/src/App.vue
Due: packages, runtime-core, sfc-playground

fix(watch): revert watch behavior when watching shallow reactive objects
  packages/runtime-core/__tests__/apiWatch.spec.ts
  packages/runtime-core/src/apiWatch.ts
Due: packages, runtime-core

refactor: avoid mutating slotBuffer
  packages/server-renderer/src/helpers/ssrRenderSlot.ts
Due: packages, server-renderer

fix(ssr): avoid rendering transition-group slot content as a fragment (#9961)
  packages/server-renderer/__tests__/ssrSlot.spec.ts
  packages/server-renderer/src/helpers/ssrRenderSlot.ts
Due: packages, server-renderer

fix(compiler-sfc): fix scss source map regression
  packages/compiler-sfc/src/style/preprocessors.ts
Due: packages, compiler-sfc

chore: updated code
  packages/compiler-core/src/parse.ts
  packages/compiler-core/src/parser.ts
Due: packages, compiler-core

update warn message
  packages/runtime-core/src/apiWatch.ts
Due: packages, runtime-core

fix(watch): remove instance unmounted short circuit in getter of `watchEffect` (#9948)
  packages/runtime-core/src/apiWatch.ts
Due: packages, runtime-core

Update apiWatch.ts
  packages/runtime-core/src/apiWatch.ts
Due: packages, runtime-core

chore: fix string
  packages/runtime-core/src/apiWatch.ts
Due: packages, runtime-core

fix(defineModel): support kebab-case/camelCase mismatches (#9950)
  packages/runtime-core/__tests__/apiSetupHelpers.spec.ts
  packages/runtime-core/src/apiSetupHelpers.ts
Due: packages, runtime-core

chore(apiWatch): constraint deep passes boolean (#9952)
  packages/runtime-core/src/apiWatch.ts
Due: packages, runtime-core

release: v3.4.4
  CHANGELOG.md
  package.json
  packages/compiler-core/package.json
  packages/compiler-dom/package.json
  packages/compiler-sfc/package.json
  packages/compiler-ssr/package.json
  packages/reactivity/package.json
  packages/runtime-core/package.json
  packages/runtime-dom/package.json
  packages/server-renderer/package.json
  packages/shared/package.json
  packages/vue-compat/package.json
  packages/vue/package.json
Due: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, runtime-core, runtime-dom, server-renderer, shared, vue, vue-compat

build: add production/development export conditions
  packages/compiler-core/package.json
  packages/compiler-dom/package.json
  packages/compiler-sfc/package.json
  packages/reactivity/package.json
  packages/runtime-core/package.json
  packages/runtime-dom/package.json
  packages/server-renderer/package.json
  packages/shared/package.json
  packages/vue-compat/package.json
  packages/vue/package.json
Due: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, runtime-core, runtime-dom, server-renderer, shared, vue, vue-compat

chore: update readme, add codes copied list
  README.md
Due: none

perf(watch): cleanup scope's effects after effect stopped
  packages/runtime-core/__tests__/apiWatch.spec.ts
  packages/runtime-core/src/apiWatch.ts
Due: packages, runtime-core

fix(compiler-sfc): scoped style leak when using pseudo classes
  packages/compiler-sfc/__tests__/compileStyle.spec.ts
  packages/compiler-sfc/src/style/pluginScoped.ts
Due: packages, compiler-sfc

fix(ssr): clone node support Set and Map
  packages/compiler-ssr/src/transforms/ssrTransformComponent.ts
Due: packages

test: add test case
  packages/compiler-sfc/__tests__/compileTemplate.spec.ts
Due: packages, compiler-sfc

test: improve test
  packages/compiler-sfc/__tests__/compileTemplate.spec.ts
Due: packages, compiler-sfc
