Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

codecov.yml:

coverage:
  status:
    project:
      default:
        # Status checks are set to be non-blocking
        informational: true
    patch:
      default:
        # Status checks are set to be non-blocking
        informational: true

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: packages
      paths:
        - packages/
    - component_id: compiler-core
      paths:
        - packages/compiler-core/
    - component_id: compiler-dom
      paths:
        - packages/compiler-dom/
    - component_id: compiler-sfc
      paths:
        - packages/compiler-sfc/
    - component_id: compiler-sfc
      paths:
        - packages/compiler-sfc/
    - component_id: reactivity
      paths:
        - packages/reactivity/
    - component_id: reactivity-transform
      paths:
        - packages/reactivity-transform/
    - component_id: runtime-core
      paths:
        - packages/runtime-core/
    - component_id: runtime-dom
      paths:
        - packages/runtime-dom/
    - component_id: runtime-test
      paths:
        - packages/runtime-test/
    - component_id: server-renderer
      paths:
        - packages/server-renderer/
    - component_id: sfc-playground
      paths:
        - packages/sfc-playground/
    - component_id: shared
      paths:
        - packages/shared/
    - component_id: size-check
      paths:
        - packages/size-check/
    - component_id: template-explorer
      paths:
        - packages/template-explorer/
    - component_id: vue
      paths:
        - packages/vue/
    - component_id: vue-compat
      paths:
        - packages/vue-compat/

fix: preamble in inline mode
  packages/compiler-vapor/__tests__/__snapshots__/compile.test.ts.snap
  packages/compiler-vapor/__tests__/__snapshots__/fixtures.test.ts.snap
  packages/compiler-vapor/src/generate.ts
Due: packages

fix: identifier source map
  packages/compiler-vapor/src/generate.ts
Due: packages

test: update unit test
  packages/runtime-core/__tests__/apiWatch.spec.ts
Due: packages, runtime-core

Update effect.ts
  packages/reactivity/src/effect.ts
Due: packages, reactivity

feat: implement error handling for v-html (#30)
  packages/compiler-vapor/__tests__/__snapshots__/compile.test.ts.snap
  packages/compiler-vapor/__tests__/compile.test.ts
  packages/compiler-vapor/src/transform.ts
Due: packages

feat(apiWatch): add the `immediate` parameter for the `watch` function upon resuming
  packages/runtime-core/__tests__/apiWatch.spec.ts
  packages/runtime-core/src/apiWatch.ts
Due: packages, runtime-core

chore: handle description
  packages/shared/__tests__/toDisplayString.spec.ts
  packages/shared/src/toDisplayString.ts
Due: packages, shared

refactor: transformElement
  packages/compiler-vapor/__tests__/__snapshots__/compile.test.ts.snap
  packages/compiler-vapor/src/compile.ts
  packages/compiler-vapor/src/transform.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
Due: packages

perf(runtime-core): memoize getType
  packages/runtime-core/src/componentProps.ts
Due: packages, runtime-core

chore: rename attribute name
  packages/reactivity/src/effect.ts
Due: packages, reactivity

fix(types): remove number type of provide
  packages/dts-test/inject.test-d.ts
  packages/runtime-core/src/apiInject.ts
Due: packages, runtime-core

ci: remove autofix
  .github/workflows/autofix.yml
Due: none

feat: DirectiveTransform
  README.md
  packages/compiler-vapor/__tests__/compile.test.ts
  packages/compiler-vapor/src/compile.ts
  packages/compiler-vapor/src/hack.ts
  packages/compiler-vapor/src/transform.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
  packages/compiler-vapor/src/transforms/vHtml.ts
  packages/compiler-vapor/src/transforms/vText.ts
Due: packages

fix: do not wrap registering event listeners under effect (#27)
  packages/compiler-vapor/__tests__/__snapshots__/compile.test.ts.snap
  packages/compiler-vapor/__tests__/__snapshots__/fixtures.test.ts.snap
  packages/compiler-vapor/src/transforms/transformElement.ts
Due: packages

feat: v-on modifiers support native options and keyboards (#28)
  README.md
  packages/compiler-dom/src/index.ts
  packages/compiler-dom/src/transforms/vOn.ts
  packages/compiler-vapor/__tests__/__snapshots__/compile.test.ts.snap
  packages/compiler-vapor/__tests__/compile.test.ts
  packages/compiler-vapor/src/generate.ts
  packages/compiler-vapor/src/ir.ts
  packages/compiler-vapor/src/transform.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
  packages/compiler-vapor/src/transforms/vOn.ts
  packages/runtime-vapor/src/index.ts
  packages/runtime-vapor/src/on.ts
Due: packages, compiler-dom

chore: update todo
  README.md
Due: none

refactor: DirectiveTransform for v-on
  packages/compiler-vapor/src/compile.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
Due: packages

refactor: extract transformInterpolation
  packages/compiler-vapor/src/compile.ts
  packages/compiler-vapor/src/hack.ts
  packages/compiler-vapor/src/ir.ts
  packages/compiler-vapor/src/transform.ts
  packages/compiler-vapor/src/transforms/transformInterpolation.ts
Due: packages

fix(runtime-dom): fix TransitionGroup bug when parent has scale CSS property
  packages/vue/__tests__/e2e/TransitionGroup.spec.ts
Due: packages, vue

feat: custom directlve
  packages/compiler-vapor/package.json
  packages/compiler-vapor/src/generate.ts
  packages/compiler-vapor/src/ir.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/directives.ts
  packages/runtime-vapor/src/index.ts
  packages/runtime-vapor/src/render.ts
  playground/src/directive.vue
  pnpm-lock.yaml
Due: packages

fix(types): improve return type withKeys and withModifiers (#9734)
  packages/dts-test/defineComponent.test-d.tsx
  packages/runtime-dom/src/directives/vOn.ts
Due: packages, runtime-dom

Fix typos in CHANGELOG.md
  CHANGELOG.md
Due: none

fix(compiler-sfc): avoid passing forEach index to genMap
  packages/compiler-sfc/src/parse.ts
Due: packages, compiler-sfc

feat: support more directive hook
  packages/compiler-vapor/src/generate.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/directives.ts
  packages/runtime-vapor/src/render.ts
  playground/src/directive.vue
Due: packages

fix(runtime-core): Suspense get anchor properly in Transition
  packages/runtime-core/src/components/Suspense.ts
  packages/vue/__tests__/e2e/Transition.spec.ts
Due: packages, runtime-core, vue

chore: fix type
  packages/runtime-core/src/components/Suspense.ts
Due: packages, runtime-core

fix(runtime-core): Suspense get anchor properly in Transition (#9309)
  packages/runtime-core/src/components/Suspense.ts
  packages/vue/__tests__/e2e/Transition.spec.ts
Due: packages, runtime-core, vue

chore: fix typos in CHANGELOG.md (#9746) [ci skip]
  CHANGELOG.md
Due: none

fix(app): prevent template from being cached between apps with different options (#9724)
  packages/vue/src/index.ts
Due: packages, vue

chore: fix lint
  packages/runtime-vapor/src/directives.ts
Due: packages

Update compileStyle.spec.ts
  packages/compiler-sfc/__tests__/compileStyle.spec.ts
Due: packages, compiler-sfc

fix(compiler-sfc): fix :where and :is selector in scoped mode with multiple selectors (#9735)
  packages/compiler-sfc/__tests__/compileStyle.spec.ts
  packages/compiler-sfc/src/style/pluginScoped.ts
Due: packages, compiler-sfc

fix: infinite loops when pushing an variable to a proxy of reactive array
  packages/reactivity/src/baseHandlers.ts
Due: packages, reactivity

test: add a test for custom proxy to reactive array
  packages/reactivity/__tests__/reactiveArray.spec.ts
Due: packages, reactivity

fix: change the typo
  packages/reactivity/src/baseHandlers.ts
Due: packages, reactivity

fix(reactivity): fix error when using Proxy on reactive arrays
  packages/reactivity/__tests__/reactiveArray.spec.ts
  packages/reactivity/src/baseHandlers.ts
Due: packages, reactivity

test: add test for toRaw on array using reactive as prototype
  packages/reactivity/__tests__/reactiveArray.spec.ts
Due: packages, reactivity

chore: simplify effect.ts
  packages/reactivity/src/effect.ts
  packages/runtime-core/src/apiWatch.ts
Due: packages, reactivity, runtime-core

release: v3.3.10
  CHANGELOG.md
  package.json
  packages/compiler-core/package.json
  packages/compiler-dom/package.json
  packages/compiler-sfc/package.json
  packages/compiler-ssr/package.json
  packages/reactivity-transform/package.json
  packages/reactivity/package.json
  packages/runtime-core/package.json
  packages/runtime-dom/package.json
  packages/server-renderer/package.json
  packages/shared/package.json
  packages/vue-compat/package.json
  packages/vue/package.json
Due: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, server-renderer, shared, vue, vue-compat

feat: do not allow calling the resume method after stopping
  packages/reactivity/src/effect.ts
Due: packages, reactivity
