Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

codecov.yml:

coverage:
  status:
    project:
      default:
        # Status checks are set to be non-blocking
        informational: true
    patch:
      default:
        # Status checks are set to be non-blocking
        informational: true

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: packages
      paths:
        - packages/
    - component_id: compiler-core
      paths:
        - packages/compiler-core/
    - component_id: compiler-dom
      paths:
        - packages/compiler-dom/
    - component_id: compiler-sfc
      paths:
        - packages/compiler-sfc/
    - component_id: compiler-sfc
      paths:
        - packages/compiler-sfc/
    - component_id: reactivity
      paths:
        - packages/reactivity/
    - component_id: reactivity-transform
      paths:
        - packages/reactivity-transform/
    - component_id: runtime-core
      paths:
        - packages/runtime-core/
    - component_id: runtime-dom
      paths:
        - packages/runtime-dom/
    - component_id: runtime-test
      paths:
        - packages/runtime-test/
    - component_id: server-renderer
      paths:
        - packages/server-renderer/
    - component_id: sfc-playground
      paths:
        - packages/sfc-playground/
    - component_id: shared
      paths:
        - packages/shared/
    - component_id: size-check
      paths:
        - packages/size-check/
    - component_id: template-explorer
      paths:
        - packages/template-explorer/
    - component_id: vue
      paths:
        - packages/vue/
    - component_id: vue-compat
      paths:
        - packages/vue-compat/

refactor: reduce compat impact on code paths
  packages/runtime-core/src/componentOptions.ts
Due: packages, runtime-core

refactor: mark augmentJob as internal
  packages/reactivity/src/watch.ts
Due: packages, reactivity

refactor: remove duplicated error handling wrapper
  packages/reactivity/__tests__/watch.spec.ts
  packages/reactivity/src/watch.ts
  packages/runtime-core/src/apiWatch.ts
Due: packages, reactivity, runtime-core

refactor: move WatchHandle into reactivity
  packages/reactivity/src/index.ts
  packages/reactivity/src/watch.ts
  packages/runtime-core/src/apiWatch.ts
Due: packages, reactivity, runtime-core

chore: fix dts
  packages/reactivity/src/watch.ts
Due: packages, reactivity

fix: make cleanup passed into watch callback bound
  packages/reactivity/__tests__/watch.spec.ts
  packages/reactivity/src/watch.ts
Due: packages, reactivity

fix(compiler-core): warn when slot used on non-root template
  packages/compiler-core/__tests__/parse.spec.ts
  packages/compiler-core/__tests__/transforms/vSlot.spec.ts
  packages/compiler-core/src/errors.ts
  packages/compiler-core/src/parser.ts
  packages/compiler-core/src/transforms/vSlot.ts
Due: packages, compiler-core

chore: minor tweaks
  packages/reactivity/src/watch.ts
Due: packages, reactivity

feat(reactivity): base `watch`, `getCurrentWatcher`, and `onWatcherCleanup` (#9927)
  packages/reactivity/__tests__/watch.spec.ts
  packages/reactivity/src/index.ts
  packages/reactivity/src/watch.ts
  packages/runtime-core/__tests__/apiWatch.spec.ts
  packages/runtime-core/src/apiWatch.ts
  packages/runtime-core/src/componentOptions.ts
  packages/runtime-core/src/directives.ts
  packages/runtime-core/src/errorHandling.ts
  packages/runtime-core/src/index.ts
Due: packages, reactivity, runtime-core

chore: log more precise digits for size script [ci skip]
  scripts/usage-size.ts
Due: none

release: v3.5.0-beta.3
  CHANGELOG.md
  package.json
  packages/compiler-core/package.json
  packages/compiler-dom/package.json
  packages/compiler-sfc/package.json
  packages/compiler-ssr/package.json
  packages/reactivity/package.json
  packages/runtime-core/package.json
  packages/runtime-dom/package.json
  packages/server-renderer/package.json
  packages/shared/package.json
  packages/vue-compat/package.json
  packages/vue/package.json
Due: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, runtime-core, runtime-dom, server-renderer, shared, vue, vue-compat

fix(server-renderer): undo async renderComponentVNode, preserve fast path
  packages/server-renderer/src/render.ts
Due: packages, server-renderer

fix(server-renderer): simplify logic, remove two promises
  packages/server-renderer/src/render.ts
Due: packages, server-renderer

chore: fix typo
  CHANGELOG.md
Due: none

chore: update
  CHANGELOG.md
Due: none

chore: fix typo (#11663)[ci skip]
  CHANGELOG.md
Due: none

fix(server-renderer): guard reassignment of prefetches behind hasAsyncSetup conditional
  packages/server-renderer/src/render.ts
Due: packages, server-renderer

fix: modify the test to check only test
  packages-private/dts-test/defineComponent.test-d.tsx
Due: none

feat(reactivity): accept watch callback return cleanup function
  packages/reactivity/__tests__/watch.spec.ts
  packages/reactivity/src/watch.ts
Due: packages, reactivity

chore: small tweaks
  packages/runtime-core/src/componentRenderUtils.ts
Due: packages, runtime-core

fix(runtime-dom): updated code
  packages/runtime-core/src/vnode.ts
  packages/runtime-dom/src/components/TransitionGroup.ts
Due: packages, runtime-core, runtime-dom

fix(runtime-dom): delete comment
  packages/runtime-core/src/vnode.ts
Due: packages, runtime-core

Apply suggestions from code review
  packages/reactivity/src/collectionHandlers.ts
Due: packages, reactivity

test: update test case
  packages/reactivity/__tests__/collections/Map.spec.ts
Due: packages, reactivity

chore: fix typo
  packages/reactivity/__tests__/watch.spec.ts
Due: packages, reactivity

fix(reactivity): ensure stop and once same behavior
  packages/reactivity/src/watch.ts
Due: packages, reactivity

chore: update
  packages/reactivity/src/watch.ts
Due: packages, reactivity

chore: enable `isolatedDeclarations` ts error
  packages/compiler-core/__tests__/testUtils.ts
Due: packages, compiler-core

chore: remove duplicate test case
  packages/compiler-sfc/__tests__/compileScript/__snapshots__/defineProps.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript/defineProps.spec.ts
Due: packages, compiler-sfc

test: add test case
  packages/runtime-core/__tests__/apiWatch.spec.ts
Due: packages, runtime-core

refactor(watch): reuse watch types
  packages/reactivity/src/index.ts
  packages/reactivity/src/watch.ts
  packages/runtime-core/src/apiWatch.ts
  packages/runtime-core/src/index.ts
Due: packages, reactivity, runtime-core

fix(reactivity): ensure watcher with once: true are properly removed from effect scope (#11665)
  packages/reactivity/src/watch.ts
  packages/runtime-core/__tests__/apiWatch.spec.ts
Due: packages, reactivity, runtime-core

fix(build): update paths for private packages in `dev` script
  package.json
  scripts/dev.js
Due: none

chore(types): resolve `isolatedDeclarations` errors in `packages-private`
  packages-private/dts-test/tsconfig.json
  packages-private/sfc-playground/src/download/download.ts
  packages-private/template-explorer/src/options.ts
  packages-private/template-explorer/src/theme.ts
Due: none

chore: more fixes
  packages/compiler-core/__tests__/testUtils.ts
  packages/compiler-core/__tests__/transforms/vFor.spec.ts
  packages/compiler-sfc/__tests__/utils.ts
  packages/runtime-test/src/index.ts
  packages/runtime-test/src/nodeOps.ts
  packages/runtime-test/src/patchProp.ts
  packages/runtime-test/src/serialize.ts
  packages/runtime-test/src/triggerEvent.ts
  packages/vue-compat/__tests__/utils.ts
  packages/vue/__tests__/e2e/commits.mock.ts
  packages/vue/__tests__/e2e/e2eUtils.ts
Due: packages, compiler-core, compiler-sfc, runtime-test, vue, vue-compat

feat(watch): support effect watch return cleanup function
  packages/reactivity/__tests__/watch.spec.ts
  packages/reactivity/src/watch.ts
Due: packages, reactivity

Update patchEvents.spec.ts
  packages/runtime-dom/__tests__/patchEvents.spec.ts
Due: packages, runtime-dom

test: add a test case
  packages/shared/__tests__/normalizeProp.spec.ts
Due: packages, shared
