Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

codecov.yml:

coverage:
  status:
    project:
      default:
        # Status checks are set to be non-blocking
        informational: true
    patch:
      default:
        # Status checks are set to be non-blocking
        informational: true

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: packages
      paths:
        - packages/
    - component_id: compiler-core
      paths:
        - packages/compiler-core/
    - component_id: compiler-dom
      paths:
        - packages/compiler-dom/
    - component_id: compiler-sfc
      paths:
        - packages/compiler-sfc/
    - component_id: compiler-sfc
      paths:
        - packages/compiler-sfc/
    - component_id: reactivity
      paths:
        - packages/reactivity/
    - component_id: reactivity-transform
      paths:
        - packages/reactivity-transform/
    - component_id: runtime-core
      paths:
        - packages/runtime-core/
    - component_id: runtime-dom
      paths:
        - packages/runtime-dom/
    - component_id: runtime-test
      paths:
        - packages/runtime-test/
    - component_id: server-renderer
      paths:
        - packages/server-renderer/
    - component_id: sfc-playground
      paths:
        - packages/sfc-playground/
    - component_id: shared
      paths:
        - packages/shared/
    - component_id: size-check
      paths:
        - packages/size-check/
    - component_id: template-explorer
      paths:
        - packages/template-explorer/
    - component_id: vue
      paths:
        - packages/vue/
    - component_id: vue-compat
      paths:
        - packages/vue-compat/

fix(runtime-vapor): handle custom directives on async components (#15167)
  packages/runtime-vapor/__tests__/directives/customDirective.spec.ts
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/directives/custom.ts
Due: packages

fix(compiler-core): preserve whitespace around interpolations
  packages/compiler-core/__tests__/__snapshots__/compile.spec.ts.snap
  packages/compiler-core/__tests__/parse.spec.ts
  packages/compiler-core/__tests__/transforms/__snapshots__/vSlot.spec.ts.snap
  packages/compiler-core/__tests__/transforms/vFor.spec.ts
  packages/compiler-core/__tests__/transforms/vSlot.spec.ts
  packages/compiler-core/src/parser.ts
  packages/compiler-sfc/__tests__/__snapshots__/compileScript.spec.ts.snap
  packages/runtime-core/__tests__/helpers/withMemo.spec.ts
Due: packages, compiler-core, compiler-sfc, runtime-core

fix(runtime-core): resolve kebab-cased slot names in in-DOM templates
  packages/runtime-core/src/helpers/renderSlot.ts
  packages/vue/__tests__/slotNameCasing.spec.ts
Due: packages, runtime-core, vue

test: assert exact slot name wins over a competing hyphenated one
  packages/vue/__tests__/slotNameCasing.spec.ts
Due: packages, vue

fix(runtime-vapor): defer KeepAlive updates during async setup
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/renderEffect.ts
Due: packages

fix(runtime-vapor): handle KeepAlive updates across Suspense boundaries
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/renderEffect.ts
Due: packages

fix(reactivity): restore state after array mutation errors
  packages/reactivity/__tests__/reactiveArray.spec.ts
  packages/reactivity/src/arrayInstrumentations.ts
Due: packages, reactivity

fix(runtime-vapor): align pending KeepAlive root updates with VDOM
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/renderEffect.ts
Due: packages

fix(runtime-vapor): preserve KeepAlive updates across nested async roots
  packages/runtime-vapor/__tests__/hydration.spec.ts
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/renderEffect.ts
Due: packages

fix(compiler-sfc): avoid walking cached type references
  packages/compiler-sfc/__tests__/compileScript.spec.ts
  packages/compiler-sfc/src/script/resolveType.ts
Due: packages, compiler-sfc

fix(compiler-sfc): avoid walking cached type references (#15175)
  packages/compiler-sfc/__tests__/compileScript.spec.ts
  packages/compiler-sfc/src/script/resolveType.ts
Due: packages, compiler-sfc

chore: tweaks
  packages/runtime-vapor/src/component.ts
Due: packages

fix(slots): handle nullish v-bind props
  packages/runtime-core/__tests__/helpers/renderSlot.spec.ts
  packages/runtime-core/src/helpers/renderSlot.ts
  packages/server-renderer/__tests__/ssrSlot.spec.ts
  packages/server-renderer/src/helpers/ssrRenderSlot.ts
  packages/vue/__tests__/index.spec.ts
Due: packages, runtime-core, server-renderer, vue

fix(runtime-vapor): restore concurrent async hydration context
  packages/runtime-vapor/__tests__/hydration.spec.ts
  packages/runtime-vapor/src/apiSetupHelpers.ts
  packages/runtime-vapor/src/dom/hydration.ts
Due: packages

fix(runtime-vapor): restore concurrent async hydration context (#15179)
  packages/runtime-vapor/__tests__/hydration.spec.ts
  packages/runtime-vapor/src/apiSetupHelpers.ts
  packages/runtime-vapor/src/dom/hydration.ts
Due: packages

fix(runtime-vapor): schedule async hydration anchors before updates
  packages/runtime-vapor/__tests__/hydration.spec.ts
  packages/runtime-vapor/src/dom/hydrateFragment.ts
  packages/runtime-vapor/src/dom/hydration.ts
Due: packages

fix(runtime-vapor): schedule async hydration anchors before updates (#15180)
  packages/runtime-vapor/__tests__/hydration.spec.ts
  packages/runtime-vapor/src/dom/hydrateFragment.ts
  packages/runtime-vapor/src/dom/hydration.ts
Due: packages

fix(runtime-vapor): properly prune interop keep-alive entries
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/components/KeepAlive.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(runtime-vapor): recover deferred KeepAlive updates after Suspense invalidation
  packages/runtime-core/src/components/Suspense.ts
  packages/runtime-core/src/scheduler.ts
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/renderEffect.ts
Due: packages, runtime-core

fix(runtime-vapor): finish stale KeepAlive async setup
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/component.ts
Due: packages

fix(runtime-vapor): defer KeepAlive updates while async setup is pending (#15172)
  packages/runtime-core/src/components/Suspense.ts
  packages/runtime-core/src/scheduler.ts
  packages/runtime-vapor/__tests__/hydration.spec.ts
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/renderEffect.ts
Due: packages, runtime-core

fix(reactivity): handle defineProperty mutations
  packages/reactivity/__tests__/reactive.spec.ts
  packages/reactivity/__tests__/reactiveArray.spec.ts
  packages/reactivity/__tests__/readonly.spec.ts
  packages/reactivity/src/baseHandlers.ts
Due: packages, reactivity

fix(runtime-vapor): fully prune cached Vapor component VNodes
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/components/KeepAlive.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(runtime-vapor): properly prune interop keep-alive entries (#15181)
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/components/KeepAlive.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(runtime-vapor): remove special boolean attributes for falsy values
  packages/runtime-vapor/__tests__/dom/prop.spec.ts
  packages/runtime-vapor/src/dom/prop.ts
Due: packages

fix(runtime-vapor): avoid duplicate leave during KeepAlive pruning
  packages/runtime-vapor/__tests__/components/KeepAlive.spec.ts
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/block.ts
  packages/runtime-vapor/src/components/KeepAlive.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

chore: update
  packages/runtime-vapor/src/block.ts
  packages/runtime-vapor/src/components/KeepAlive.ts
Due: packages

fix(runtime-vapor): coordinate KeepAlive teardown with pending leaves
  packages/runtime-core/src/components/BaseTransition.ts
  packages/runtime-vapor/__tests__/components/KeepAlive.spec.ts
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/block.ts
  packages/runtime-vapor/src/components/KeepAlive.ts
  packages/runtime-vapor/src/components/Transition.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages, runtime-core

fix(runtime-vapor): preserve pending leave semantics during teardown
  packages/runtime-vapor/__tests__/components/KeepAlive.spec.ts
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/block.ts
  packages/runtime-vapor/src/components/Transition.ts
  packages/runtime-vapor/src/fragment.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(runtime-vapor): constrain expose to Exposed type
  packages-private/dts-test/vapor/functionalComponent.test-d.tsx
  packages/runtime-vapor/src/component.ts
Due: packages

Potential fix for pull request finding
  packages-private/dts-test/vapor/functionalComponent.test-d.tsx
Due: none

fix(runtime-vapor): constrain expose to Exposed type (#15188)
  packages-private/dts-test/vapor/functionalComponent.test-d.tsx
  packages/runtime-vapor/src/component.ts
Due: packages

fix(runtime-vapor): remove special boolean attributes for falsy values (#15186)
  packages/runtime-vapor/__tests__/dom/prop.spec.ts
  packages/runtime-vapor/src/dom/prop.ts
Due: packages

fix(runtime-vapor): defer KeepAlive branch removal until cache pruning
  packages/runtime-vapor/__tests__/components/KeepAlive.spec.ts
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/components/KeepAlive.ts
  packages/runtime-vapor/src/fragment.ts
  packages/runtime-vapor/src/keepAlive.ts
Due: packages

fix(runtime-vapor): unmount leaving KeepAlive cache entries
  packages/runtime-vapor/__tests__/components/KeepAlive.spec.ts
  packages/runtime-vapor/src/components/KeepAlive.ts
Due: packages

fix(runtime-vapor): defer KeepAlive branch removal until cache pruning (#15189)
  packages/runtime-vapor/__tests__/components/KeepAlive.spec.ts
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/components/KeepAlive.ts
  packages/runtime-vapor/src/fragment.ts
  packages/runtime-vapor/src/keepAlive.ts
Due: packages

fix(runtime-vapor): unmount leaving KeepAlive cache entries (#15190)
  packages/runtime-vapor/__tests__/components/KeepAlive.spec.ts
  packages/runtime-vapor/src/components/KeepAlive.ts
Due: packages

fix(types): allow Vapor components in defineComponent render functions
  packages-private/dts-test/vapor/defineVaporComponent.test-d.tsx
  packages-private/dts-test/vapor/jsx.d.ts
  packages/runtime-core/src/componentOptions.ts
  packages/runtime-core/src/index.ts
Due: packages, runtime-core

fix(runtime-vapor): preserve move semantics for VDOM roots
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/block.ts
  packages/runtime-vapor/src/fragment.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages
