Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

codecov.yml:

coverage:
  status:
    project:
      default:
        # Status checks are set to be non-blocking
        informational: true
    patch:
      default:
        # Status checks are set to be non-blocking
        informational: true

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: packages
      paths:
        - packages/
    - component_id: compiler-core
      paths:
        - packages/compiler-core/
    - component_id: compiler-dom
      paths:
        - packages/compiler-dom/
    - component_id: compiler-sfc
      paths:
        - packages/compiler-sfc/
    - component_id: compiler-sfc
      paths:
        - packages/compiler-sfc/
    - component_id: reactivity
      paths:
        - packages/reactivity/
    - component_id: reactivity-transform
      paths:
        - packages/reactivity-transform/
    - component_id: runtime-core
      paths:
        - packages/runtime-core/
    - component_id: runtime-dom
      paths:
        - packages/runtime-dom/
    - component_id: runtime-test
      paths:
        - packages/runtime-test/
    - component_id: server-renderer
      paths:
        - packages/server-renderer/
    - component_id: sfc-playground
      paths:
        - packages/sfc-playground/
    - component_id: shared
      paths:
        - packages/shared/
    - component_id: size-check
      paths:
        - packages/size-check/
    - component_id: template-explorer
      paths:
        - packages/template-explorer/
    - component_id: vue
      paths:
        - packages/vue/
    - component_id: vue-compat
      paths:
        - packages/vue-compat/

chore: tweaks
  packages/runtime-vapor/src/block.ts
  packages/runtime-vapor/src/componentSlots.ts
Due: packages

chore: tweaks
  packages/runtime-vapor/__tests__/componentSlots.spec.ts
  packages/runtime-vapor/src/block.ts
Due: packages

test(runtime-vapor): port tests from rendererChildren.spec.ts (#13649)
  packages/runtime-vapor/__tests__/_utils.ts
  packages/runtime-vapor/__tests__/for.spec.ts
  packages/runtime-vapor/src/apiCreateFor.ts
Due: packages

fix(tests): standardize warning messages from "NOT" to "not"
  packages/runtime-core/__tests__/helpers/renderList.spec.ts
  packages/server-renderer/__tests__/ssrRenderList.spec.ts
Due: packages, runtime-core, server-renderer

fix(runtime-core): warn about negative number in v-for
  packages/runtime-core/__tests__/helpers/renderList.spec.ts
  packages/runtime-core/src/helpers/renderList.ts
Due: packages, runtime-core

fix(server-renderer): warn about negative number in v-for
  packages/server-renderer/__tests__/ssrRenderList.spec.ts
  packages/server-renderer/src/helpers/ssrRenderList.ts
Due: packages, server-renderer

fix(compiler-core): avoid cached text vnodes retaining detached DOM nodes (#13662)
  packages/compiler-core/__tests__/transforms/__snapshots__/cacheStatic.spec.ts.snap
  packages/compiler-core/src/transforms/cacheStatic.ts
  packages/vue/__tests__/e2e/memory-leak.spec.ts
Due: packages, compiler-core, vue

fix(hydration): prevent lazy hydration for updated components (#13511)
  packages/runtime-core/__tests__/hydration.spec.ts
  packages/runtime-core/src/apiAsyncComponent.ts
Due: packages, runtime-core

fix(slots): refine internal key checking to support slot names starting with an underscore (#13612)
  packages/runtime-core/__tests__/componentSlots.spec.ts
  packages/runtime-core/src/componentSlots.ts
Due: packages, runtime-core

fix(custom-element): ensure exposed methods are accessible from custom elements by making them enumerable (#13634)
  packages/runtime-core/src/componentOptions.ts
  packages/runtime-dom/__tests__/customElement.spec.ts
Due: packages, runtime-core, runtime-dom

fix(compiler-sfc): transform empty srcset w/ includeAbsolute: true (#13639)
  packages/compiler-sfc/__tests__/__snapshots__/templateTransformSrcset.spec.ts.snap
  packages/compiler-sfc/__tests__/templateTransformSrcset.spec.ts
  packages/compiler-sfc/src/template/transformSrcset.ts
Due: packages, compiler-sfc

fix(compiler-core): identifiers in function parameters should not be inferred as references (#13548)
  packages/compiler-core/__tests__/utils.spec.ts
  packages/compiler-core/src/babelUtils.ts
Due: packages, compiler-core

fix(runtime-core): ensure correct anchor el for unresolved async components (#13560)
  packages/runtime-core/__tests__/components/Suspense.spec.ts
  packages/runtime-core/src/renderer.ts
  packages/runtime-core/src/vnode.ts
Due: packages, runtime-core

fix(ssr): ensure empty slots render as a comment node in Transition (#13396)
  packages/runtime-core/__tests__/hydration.spec.ts
  packages/server-renderer/__tests__/ssrSlot.spec.ts
  packages/server-renderer/src/helpers/ssrRenderSlot.ts
Due: packages, runtime-core, server-renderer

dx(runtime-core): fix warning message for useSlots, useAttrs invocation with missing instance (#13647)
  packages/runtime-core/src/apiSetupHelpers.ts
Due: packages, runtime-core

release: v3.5.18
  CHANGELOG.md
  package.json
  packages/compiler-core/package.json
  packages/compiler-dom/package.json
  packages/compiler-sfc/package.json
  packages/compiler-ssr/package.json
  packages/reactivity/package.json
  packages/runtime-core/package.json
  packages/runtime-dom/package.json
  packages/server-renderer/package.json
  packages/shared/package.json
  packages/vue-compat/package.json
  packages/vue/package.json
Due: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, runtime-core, runtime-dom, server-renderer, shared, vue, vue-compat

fix(compiler-core): prevent cached array children from retaining detached dom nodes
  packages/compiler-core/__tests__/transforms/cacheStatic.spec.ts
  packages/compiler-core/src/ast.ts
  packages/compiler-core/src/codegen.ts
  packages/compiler-core/src/transforms/cacheStatic.ts
  packages/runtime-core/__tests__/componentSlots.spec.ts
  packages/runtime-core/src/componentSlots.ts
  packages/runtime-core/src/helpers/renderSlot.ts
  packages/runtime-core/src/renderer.ts
  packages/runtime-core/src/vnode.ts
Due: packages, compiler-core, runtime-core

feat(compiler-core): warn instead of assign for v-model on reactive objects
  packages/compiler-core/__tests__/transforms/__snapshots__/vModel.spec.ts.snap
  packages/compiler-core/__tests__/transforms/vModel.spec.ts
  packages/compiler-core/src/runtimeHelpers.ts
  packages/compiler-core/src/transforms/vModel.ts
Due: packages, compiler-core

chore: remove peek
  packages/reactivity/__tests__/computed.spec.ts
  packages/reactivity/__tests__/ref.spec.ts
  packages/reactivity/src/computed.ts
  packages/reactivity/src/ref.ts
Due: packages, reactivity

feat(runtime-core): add untrack
  packages/runtime-core/src/index.ts
Due: packages, runtime-core

wip: render fallback nodes for vfor
  packages/runtime-vapor/__tests__/componentSlots.spec.ts
  packages/runtime-vapor/src/apiCreateFor.ts
  packages/runtime-vapor/src/block.ts
Due: packages

chore: revert auto format
  packages/runtime-core/__tests__/rendererFragment.spec.ts
  packages/runtime-core/src/compat/componentAsync.ts
Due: packages, runtime-core

test(runtime-core): add untrack for computed
  packages/reactivity/__tests__/effect.spec.ts
Due: packages, reactivity

chore: revert auto format
  packages/runtime-core/__tests__/rendererAttrsFallthrough.spec.ts
Due: packages, runtime-core

refactor(runtime-core): [untrack] use setActiveSub
  packages/reactivity/src/effect.ts
Due: packages, reactivity

.
  packages/runtime-core/src/rendererTemplateRef.ts
Due: packages, runtime-core

chore: tweaks
  packages/compiler-core/__tests__/transforms/__snapshots__/cacheStatic.spec.ts.snap
  packages/compiler-core/src/codegen.ts
  packages/compiler-core/src/transforms/cacheStatic.ts
  packages/compiler-dom/__tests__/transforms/__snapshots__/stringifyStatic.spec.ts.snap
  packages/compiler-sfc/__tests__/__snapshots__/templateTransformAssetUrl.spec.ts.snap
  packages/compiler-sfc/__tests__/__snapshots__/templateTransformSrcset.spec.ts.snap
  packages/runtime-core/src/helpers/renderSlot.ts
  packages/runtime-core/src/vnode.ts
Due: packages, compiler-core, compiler-dom, compiler-sfc, runtime-core

test: add test
  packages/vue/__tests__/e2e/memory-leak.spec.ts
Due: packages, vue

fix: always spread cached array
  packages/compiler-core/__tests__/transforms/__snapshots__/cacheStatic.spec.ts.snap
  packages/compiler-core/__tests__/transforms/cacheStatic.spec.ts
  packages/compiler-core/src/ast.ts
  packages/compiler-core/src/codegen.ts
  packages/compiler-core/src/transforms/cacheStatic.ts
  packages/compiler-dom/__tests__/transforms/__snapshots__/stringifyStatic.spec.ts.snap
  packages/compiler-sfc/__tests__/__snapshots__/templateTransformAssetUrl.spec.ts.snap
  packages/compiler-sfc/__tests__/__snapshots__/templateTransformSrcset.spec.ts.snap
Due: packages, compiler-core, compiler-dom, compiler-sfc

fix: don't set el for cached text nodes
  packages/runtime-core/src/renderer.ts
Due: packages, runtime-core

test: add tests
  packages/vue/__tests__/e2e/memory-leak.spec.ts
Due: packages, vue

chore: add comments
  packages/compiler-core/src/transforms/cacheStatic.ts
  packages/runtime-core/src/vnode.ts
Due: packages, compiler-core, runtime-core

fix(compiler-core): adjacent v-else should cause a compiler error
  packages/compiler-core/__tests__/transforms/vIf.spec.ts
  packages/compiler-core/src/transforms/vIf.ts
Due: packages, compiler-core

fix(devtools): clear performance measures
  packages/runtime-core/src/profiling.ts
Due: packages, runtime-core

chore: small tweaks
  packages/compiler-core/src/transforms/vIf.ts
Due: packages, compiler-core

fix(compiler-core): adjacent v-else should cause a compiler error (#13699)
  packages/compiler-core/__tests__/transforms/vIf.spec.ts
  packages/compiler-core/src/transforms/vIf.ts
Due: packages, compiler-core

chore(runtime-core): use NO instead of ()=>false (#13695)
  packages/runtime-core/src/rendererTemplateRef.ts
Due: packages, runtime-core

fix(devtools): clear performance measures (#13701)
  packages/runtime-core/src/profiling.ts
Due: packages, runtime-core

chore: support slot for createComponentWithFallback
  packages/runtime-vapor/src/component.ts
Due: packages

chore: empty placeholder
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/dom/node.ts
Due: packages
