Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

codecov.yml:

coverage:
  status:
    project:
      default:
        # Status checks are set to be non-blocking
        informational: true
    patch:
      default:
        # Status checks are set to be non-blocking
        informational: true

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: packages
      paths:
        - packages/
    - component_id: compiler-core
      paths:
        - packages/compiler-core/
    - component_id: compiler-dom
      paths:
        - packages/compiler-dom/
    - component_id: compiler-sfc
      paths:
        - packages/compiler-sfc/
    - component_id: compiler-sfc
      paths:
        - packages/compiler-sfc/
    - component_id: reactivity
      paths:
        - packages/reactivity/
    - component_id: reactivity-transform
      paths:
        - packages/reactivity-transform/
    - component_id: runtime-core
      paths:
        - packages/runtime-core/
    - component_id: runtime-dom
      paths:
        - packages/runtime-dom/
    - component_id: runtime-test
      paths:
        - packages/runtime-test/
    - component_id: server-renderer
      paths:
        - packages/server-renderer/
    - component_id: sfc-playground
      paths:
        - packages/sfc-playground/
    - component_id: shared
      paths:
        - packages/shared/
    - component_id: size-check
      paths:
        - packages/size-check/
    - component_id: template-explorer
      paths:
        - packages/template-explorer/
    - component_id: vue
      paths:
        - packages/vue/
    - component_id: vue-compat
      paths:
        - packages/vue-compat/

chore: improve code
  packages/runtime-core/__tests__/components/Suspense.spec.ts
  packages/runtime-core/src/components/Suspense.ts
Due: packages, runtime-core

revert
  packages/runtime-core/src/components/Suspense.ts
Due: packages, runtime-core

fix(suspense): fix more suspense patch before resolve edge cases
  packages/runtime-core/__tests__/components/Suspense.spec.ts
  packages/runtime-core/src/componentRenderUtils.ts
  packages/runtime-core/src/components/Suspense.ts
Due: packages, runtime-core

fix(hydration): fix class and style hydration mismatch message
  packages/runtime-core/src/hydration.ts
Due: packages, runtime-core

release: v3.4.8
  CHANGELOG.md
  package.json
  packages/compiler-core/package.json
  packages/compiler-dom/package.json
  packages/compiler-sfc/package.json
  packages/compiler-ssr/package.json
  packages/reactivity/package.json
  packages/runtime-core/package.json
  packages/runtime-dom/package.json
  packages/server-renderer/package.json
  packages/shared/package.json
  packages/vue-compat/package.json
  packages/vue/package.json
Due: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, runtime-core, runtime-dom, server-renderer, shared, vue, vue-compat

chore: update playground script
  package.json
Due: none

chore: upgrade vite-node
  playground/package.json
  pnpm-lock.yaml
Due: none

fix(hydration): do not warn against bindings w/ object values
  packages/runtime-core/__tests__/hydration.spec.ts
  packages/runtime-core/src/hydration.ts
Due: packages, runtime-core

fix(runtime-core): unify behavior for v-show + style display binding
  packages/runtime-dom/src/modules/style.ts
Due: packages, runtime-dom

fix(runtime-dom): unify behavior for v-show + style display binding (#10075)
  packages/runtime-dom/src/modules/style.ts
Due: packages, runtime-dom

test: test case for style binding w/ object value + v-show
  packages/runtime-dom/__tests__/directives/vShow.spec.ts
Due: packages, runtime-dom

chore: add comments
  packages/runtime-core/src/components/Suspense.ts
Due: packages, runtime-core

fix(suspense): avoid double-patching nested suspense when parent suspense is not resolved (#10055)
  packages/runtime-core/__tests__/components/Suspense.spec.ts
  packages/runtime-core/src/components/Suspense.ts
Due: packages, runtime-core

build: add node production/development condition in package exports
  packages/compiler-core/package.json
  packages/compiler-dom/package.json
  packages/compiler-sfc/package.json
  packages/reactivity/package.json
  packages/runtime-core/package.json
  packages/runtime-dom/package.json
  packages/server-renderer/package.json
  packages/shared/package.json
  packages/vue-compat/package.json
  packages/vue/package.json
Due: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, runtime-core, runtime-dom, server-renderer, shared, vue, vue-compat

build: add node production/development condition in package exports (#10036)
  packages/compiler-core/package.json
  packages/compiler-dom/package.json
  packages/compiler-sfc/package.json
  packages/reactivity/package.json
  packages/runtime-core/package.json
  packages/runtime-dom/package.json
  packages/server-renderer/package.json
  packages/shared/package.json
  packages/vue-compat/package.json
  packages/vue/package.json
Due: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, runtime-core, runtime-dom, server-renderer, shared, vue, vue-compat

refactor: split out useModel implementation and tests
  packages/dts-test/setupHelpers.test-d.ts
  packages/runtime-core/__tests__/apiSetupHelpers.spec.ts
  packages/runtime-core/__tests__/helpers/useModel.spec.ts
  packages/runtime-core/src/apiSetupHelpers.ts
  packages/runtime-core/src/helpers/useModel.ts
  packages/runtime-core/src/index.ts
Due: packages, runtime-core

chore(build): rename __NODE_JS__ build flag to __CJS__
  packages/compiler-sfc/src/script/resolveType.ts
  packages/global.d.ts
  packages/runtime-core/src/index.ts
  packages/server-renderer/src/helpers/ssrCompile.ts
  packages/server-renderer/src/renderToStream.ts
  rollup.config.js
  scripts/dev.js
  vitest.config.ts
Due: packages, compiler-sfc, runtime-core, server-renderer

fix(build): avoid accessing __FEATURE_PROD_DEVTOOLS__ flag in root scope
  packages/runtime-core/src/index.ts
Due: packages, runtime-core

release: v3.4.9
  CHANGELOG.md
  package.json
  packages/compiler-core/package.json
  packages/compiler-dom/package.json
  packages/compiler-sfc/package.json
  packages/compiler-ssr/package.json
  packages/reactivity/package.json
  packages/runtime-core/package.json
  packages/runtime-dom/package.json
  packages/server-renderer/package.json
  packages/shared/package.json
  packages/vue-compat/package.json
  packages/vue/package.json
Due: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, runtime-core, runtime-dom, server-renderer, shared, vue, vue-compat

fix(hydration): should not warn on falsy bindings of non-property keys
  packages/runtime-core/__tests__/hydration.spec.ts
  packages/runtime-core/src/hydration.ts
Due: packages, runtime-core

release: v3.4.10
  CHANGELOG.md
  package.json
  packages/compiler-core/package.json
  packages/compiler-dom/package.json
  packages/compiler-sfc/package.json
  packages/compiler-ssr/package.json
  packages/reactivity/package.json
  packages/runtime-core/package.json
  packages/runtime-dom/package.json
  packages/server-renderer/package.json
  packages/shared/package.json
  packages/vue-compat/package.json
  packages/vue/package.json
Due: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, runtime-core, runtime-dom, server-renderer, shared, vue, vue-compat

fix(toRefs): intercept specific properties in toRefs
  packages/reactivity/__tests__/reactive.spec.ts
  packages/reactivity/src/ref.ts
Due: packages, reactivity

fix(reactivity): properly avoid effect recurse
  packages/reactivity/__tests__/computed.spec.ts
  packages/reactivity/src/effect.ts
Due: packages, reactivity

fix: improve mismatch when client valut is null or undefined
  packages/runtime-core/__tests__/hydration.spec.ts
  packages/runtime-core/src/hydration.ts
Due: packages, runtime-core

fix(reactivity): re-run effect when is dirty in the
  packages/reactivity/__tests__/computed.spec.ts
  packages/reactivity/src/effect.ts
Due: packages, reactivity

fix(hydration): improve mismatch when client valut is null or undefined (#10086)
  packages/runtime-core/__tests__/hydration.spec.ts
  packages/runtime-core/src/hydration.ts
Due: packages, runtime-core

fix(reactivity): correct dirty assign in recursive render
  packages/reactivity/src/effect.ts
Due: packages, reactivity

fix(runtime-core): recursive querying of fragments when find singleRoot
  packages/runtime-core/src/componentRenderUtils.ts
Due: packages, runtime-core

feat(test): add effect test
  packages/reactivity/__tests__/effect.spec.ts
Due: packages, reactivity

feat(test): move test to computed.spec
  packages/reactivity/__tests__/computed.spec.ts
  packages/reactivity/__tests__/effect.spec.ts
Due: packages, reactivity

test: simplify and move test case
  packages/reactivity/__tests__/computed.spec.ts
  packages/reactivity/__tests__/effect.spec.ts
Due: packages, reactivity

fix(reactivity): correct dirty assign in render function (#10091)
  packages/reactivity/__tests__/effect.spec.ts
  packages/reactivity/src/effect.ts
Due: packages, reactivity

refactor: minor tweaks + add dev flags
  packages/runtime-core/__tests__/rendererAttrsFallthrough.spec.ts
  packages/runtime-core/src/componentRenderUtils.ts
Due: packages, runtime-core

fix(runtime-core): filter single root for nested DEV_ROOT_FRAGMENT (#8593)
  packages/runtime-core/__tests__/rendererAttrsFallthrough.spec.ts
  packages/runtime-core/__tests__/scopeId.spec.ts
  packages/runtime-core/src/componentRenderUtils.ts
Due: packages, runtime-core

dx(defineModel): warn against reference of setup scope variables in defineModel options
  packages/compiler-core/src/babelUtils.ts
  packages/compiler-sfc/__tests__/compileScript.spec.ts
  packages/compiler-sfc/src/compileScript.ts
  packages/compiler-sfc/src/script/defineModel.ts
Due: packages, compiler-core, compiler-sfc

release: v3.4.11
  CHANGELOG.md
  package.json
  packages/compiler-core/package.json
  packages/compiler-dom/package.json
  packages/compiler-sfc/package.json
  packages/compiler-ssr/package.json
  packages/reactivity/package.json
  packages/runtime-core/package.json
  packages/runtime-dom/package.json
  packages/server-renderer/package.json
  packages/shared/package.json
  packages/vue-compat/package.json
  packages/vue/package.json
Due: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, runtime-core, runtime-dom, server-renderer, shared, vue, vue-compat

feat(runtime-vapor): lifecycle beforeUpdate and updated hooks (#89)
  packages/reactivity/__tests__/baseWatch.spec.ts
  packages/reactivity/src/baseWatch.ts
  packages/reactivity/src/index.ts
  packages/runtime-vapor/__tests__/renderWatch.spec.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/directive.ts
  packages/runtime-vapor/src/renderWatch.ts
  packages/runtime-vapor/src/scheduler.ts
  playground/src/App.vue
  playground/src/directive.vue
Due: packages, reactivity

fix(compiler-vapor): should not prefix member expression (#92)
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vOn.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vOn.spec.ts
  packages/compiler-vapor/src/generate.ts
Due: packages

fix(reactivity): `allowRecurse` effects's `dirtyLevel` unreliable
  packages/reactivity/__tests__/computed.spec.ts
  packages/reactivity/src/computed.ts
  packages/reactivity/src/effect.ts
Due: packages, reactivity

revert: fix(reactivity): correct dirty assign in render function (#10091)
  packages/reactivity/__tests__/effect.spec.ts
  packages/reactivity/src/effect.ts
Due: packages, reactivity
