Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

fix(hmr): avoid infinite recursion when reloading hmr components (#6930)
  packages/runtime-core/__tests__/hmr.spec.ts
  packages/runtime-core/src/hmr.ts
Due: packages, runtime-core

chore: fix test
  packages/runtime-core/__tests__/hmr.spec.ts
Due: packages, runtime-core

fix(compiler-sfc): props bindings should not override user declared bindings
  packages/compiler-sfc/__tests__/compileScript/defineProps.spec.ts
  packages/compiler-sfc/src/script/defineProps.ts
Due: packages, compiler-sfc

perf(compiler-sfc): infer ref binding type for more built-in methods
  packages/compiler-sfc/__tests__/compileScript.spec.ts
  packages/compiler-sfc/__tests__/compileScript/defineProps.spec.ts
  packages/compiler-sfc/src/compileScript.ts
Due: packages, compiler-sfc

feat(compiler-sfc): support project references when resolving types
  packages/compiler-sfc/__tests__/compileScript/resolveType.spec.ts
  packages/compiler-sfc/package.json
  packages/compiler-sfc/src/script/resolveType.ts
  pnpm-lock.yaml
Due: packages, compiler-sfc

release: v3.3.0-beta.2
  CHANGELOG.md
  package.json
  packages/compiler-core/package.json
  packages/compiler-dom/package.json
  packages/compiler-sfc/package.json
  packages/compiler-ssr/package.json
  packages/dts-test/package.json
  packages/reactivity-transform/package.json
  packages/reactivity/package.json
  packages/runtime-core/package.json
  packages/runtime-dom/package.json
  packages/runtime-test/package.json
  packages/server-renderer/package.json
  packages/sfc-playground/package.json
  packages/shared/package.json
  packages/size-check/package.json
  packages/template-explorer/package.json
  packages/vue-compat/package.json
  packages/vue/package.json
  pnpm-lock.yaml
Due: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

test: update test syntax
  packages/reactivity/__tests__/collections/Map.spec.ts
  packages/reactivity/__tests__/collections/Set.spec.ts
  packages/reactivity/__tests__/collections/WeakMap.spec.ts
  packages/reactivity/__tests__/collections/WeakSet.spec.ts
  packages/reactivity/__tests__/reactive.spec.ts
  packages/runtime-dom/__tests__/createApp.spec.ts
  packages/vue-compat/__tests__/filters.spec.ts
Due: packages, reactivity, runtime-dom, vue-compat

fix(runtime-core): during the hmr reload process, instance.update should not allow recursing (fix #7908)
  packages/runtime-core/src/renderer.ts
Due: packages, runtime-core

fix(compiler-core): handle slot argument parsing edge case
  packages/compiler-core/__tests__/parse.spec.ts
  packages/compiler-core/src/parse.ts
Due: packages, compiler-core

fix(runtime-core): hydration should not be performed during the HMR reload process(fix #7706)
  packages/runtime-core/src/hmr.ts
  packages/runtime-core/src/renderer.ts
Due: packages, runtime-core

fix(runtime-core): ensure mergeProps skips undefined event handlers but preserve other nullish value;
  packages/runtime-core/__tests__/vnode.spec.ts
  packages/runtime-core/src/vnode.ts
Due: packages, runtime-core

fix(complier-core): warn if prop prefix with 'on' is not a event handler.
  packages/runtime-core/__tests__/vnode.spec.ts
  packages/runtime-core/src/vnode.ts
Due: packages, runtime-core

chore: remove deprecated package
  package.json
  pnpm-lock.yaml
  scripts/dev.js
Due: none

fix: improved defineAsyncComponent rendering logic
  packages/runtime-core/src/apiAsyncComponent.ts
Due: packages, runtime-core

chore: remove deprecated package (#8196)
  package.json
  pnpm-lock.yaml
  scripts/dev.js
Due: none

fix(types): fix provide type checking for ref value
  packages/dts-test/inject.test-d.ts
  packages/runtime-core/src/apiInject.ts
Due: packages, runtime-core

feat(compiler-sfc): expose parseCache
  packages/compiler-sfc/src/cache.ts
  packages/compiler-sfc/src/index.ts
  packages/compiler-sfc/src/parse.ts
Due: packages, compiler-sfc

fix(hmr): keep slots proxy mutable for hmr
  packages/runtime-core/src/component.ts
Due: packages, runtime-core

release: v3.3.0-beta.3
  CHANGELOG.md
  package.json
  packages/compiler-core/package.json
  packages/compiler-dom/package.json
  packages/compiler-sfc/package.json
  packages/compiler-ssr/package.json
  packages/dts-test/package.json
  packages/reactivity-transform/package.json
  packages/reactivity/package.json
  packages/runtime-core/package.json
  packages/runtime-dom/package.json
  packages/runtime-test/package.json
  packages/server-renderer/package.json
  packages/sfc-playground/package.json
  packages/shared/package.json
  packages/size-check/package.json
  packages/template-explorer/package.json
  packages/vue-compat/package.json
  packages/vue/package.json
  pnpm-lock.yaml
Due: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

chore: move files into correct test block
  packages/compiler-sfc/__tests__/compileScript/resolveType.spec.ts
Due: packages, compiler-sfc

feat: add inert attribute support
  packages/shared/src/domAttrConfig.ts
Due: packages, shared

feat(compiler-dom): treat inert as boolean attribute (#8209)
  packages/shared/src/domAttrConfig.ts
Due: packages, shared

feat(types): provide ExtractPublicPropTypes utility type
  packages/compiler-sfc/src/script/resolveType.ts
  packages/dts-test/extractProps.test-d.ts
  packages/dts-test/utils.d.ts
  packages/runtime-core/src/componentProps.ts
  packages/runtime-core/src/index.ts
Due: packages, compiler-sfc, runtime-core

fix: Add old value to triggerEffects' dependency
  packages/reactivity/src/ref.ts
Due: packages, reactivity

chore: Add test
  packages/reactivity/__tests__/computed.spec.ts
Due: packages, reactivity

chore: experimental warnings for reactive props destructure and defineModel
  packages/compiler-sfc/src/script/defineModel.ts
  packages/compiler-sfc/src/script/definePropsDestructure.ts
Due: packages, compiler-sfc

chore(compileScript): remove unused methods
  packages/compiler-sfc/src/compileScript.ts
Due: packages, compiler-sfc

refactor(compileStyle): remove unnecessary variable
  packages/compiler-sfc/src/compileStyle.ts
Due: packages, compiler-sfc

fix(runtime-core): disabled tracking block in h function
  packages/runtime-core/src/h.ts
Due: packages, runtime-core

fix(types): retain compatibility for provide() usage with explicit type parameter
  packages/dts-test/inject.test-d.ts
  packages/runtime-core/src/apiInject.ts
Due: packages, runtime-core

chore: add comment
  packages/runtime-core/src/h.ts
Due: packages, runtime-core

chore: improve code
  packages/runtime-core/src/h.ts
Due: packages, runtime-core

Returning null instead "" on v-model.number modifier
  packages/runtime-core/__tests__/componentEmits.spec.ts
  packages/shared/src/general.ts
Due: packages, runtime-core, shared

fix(runtime-core): ensure props are shallow readonly in dev
  packages/runtime-core/src/componentRenderUtils.ts
Due: packages, runtime-core

chore: update test case
  packages/runtime-core/__tests__/componentProps.spec.ts
Due: packages, runtime-core

fix: fix broken link
  packages/runtime-dom/src/index.ts
Due: packages, runtime-dom

fix(runtime-core): correct anonymous function name
  packages/runtime-core/src/apiDefineComponent.ts
Due: packages, runtime-core

perf(useCssVars): only listen for style changes
  packages/runtime-dom/src/helpers/useCssVars.ts
Due: packages, runtime-dom

feat(compiler-sfc): deep selector supports multiple values
  packages/compiler-sfc/__tests__/compileStyle.spec.ts
  packages/compiler-sfc/src/style/pluginScoped.ts
Due: packages, compiler-sfc

fix: fix template ref
  packages/runtime-core/src/vnode.ts
Due: packages, runtime-core

Path conditions:
  packages: any of: packages/
  compiler-core: any of: packages/compiler-core/
  compiler-dom: any of: packages/compiler-dom/
  compiler-sfc: any of: packages/compiler-sfc/
  reactivity: any of: packages/reactivity/
  reactivity-transform: any of: packages/reactivity-transform/
  runtime-core: any of: packages/runtime-core/
  runtime-dom: any of: packages/runtime-dom/
  runtime-test: any of: packages/runtime-test/
  server-renderer: any of: packages/server-renderer/
  sfc-playground: any of: packages/sfc-playground/
  shared: any of: packages/shared/
  size-check: any of: packages/size-check/
  template-explorer: any of: packages/template-explorer/
  vue: any of: packages/vue/
  vue-compat: any of: packages/vue-compat/
