Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

codecov.yml:

coverage:
  status:
    project:
      default:
        # Status checks are set to be non-blocking
        informational: true
    patch:
      default:
        # Status checks are set to be non-blocking
        informational: true

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: packages
      paths:
        - packages/
    - component_id: compiler-core
      paths:
        - packages/compiler-core/
    - component_id: compiler-dom
      paths:
        - packages/compiler-dom/
    - component_id: compiler-sfc
      paths:
        - packages/compiler-sfc/
    - component_id: compiler-sfc
      paths:
        - packages/compiler-sfc/
    - component_id: reactivity
      paths:
        - packages/reactivity/
    - component_id: reactivity-transform
      paths:
        - packages/reactivity-transform/
    - component_id: runtime-core
      paths:
        - packages/runtime-core/
    - component_id: runtime-dom
      paths:
        - packages/runtime-dom/
    - component_id: runtime-test
      paths:
        - packages/runtime-test/
    - component_id: server-renderer
      paths:
        - packages/server-renderer/
    - component_id: sfc-playground
      paths:
        - packages/sfc-playground/
    - component_id: shared
      paths:
        - packages/shared/
    - component_id: size-check
      paths:
        - packages/size-check/
    - component_id: template-explorer
      paths:
        - packages/template-explorer/
    - component_id: vue
      paths:
        - packages/vue/
    - component_id: vue-compat
      paths:
        - packages/vue-compat/

chore: fix usage of ComponentProps on DeclareComponent
  packages/dts-test/componentTypeHelpers.test-d.tsx
  packages/runtime-core/src/apiDefineComponent.ts
Due: packages, runtime-core

chore: fix type inferrence on props
  packages/dts-test/componentTypeHelpers.test-d.tsx
  packages/runtime-core/src/componentTypeHelpers.ts
Due: packages, runtime-core

chore: improvements on resolving props
  packages/dts-test/componentTypeHelpers.test-d.tsx
  packages/runtime-core/src/componentTypeHelpers.ts
Due: packages, runtime-core

fix(hydration): do not warn against bindings array values
  packages/runtime-core/__tests__/hydration.spec.ts
  packages/runtime-core/src/hydration.ts
Due: packages, runtime-core

chore: dev build for multi-packages (#10126)
  scripts/dev.js
Due: none

chore: replace -1 to PatchFlags.HOISTED
  packages/runtime-core/src/vnode.ts
Due: packages, runtime-core

fix(reactivity): re-fix #10114 (#10123)
  packages/reactivity/__tests__/computed.spec.ts
  packages/reactivity/src/computed.ts
  packages/reactivity/src/effect.ts
Due: packages, reactivity

chore: replace -1 to PatchFlags.HOISTED (#10146)
  packages/runtime-core/src/vnode.ts
Due: packages, runtime-core

fix(hydration): fix incorect mismatch warning for option with non-string value and inner text
  packages/runtime-core/__tests__/hydration.spec.ts
  packages/runtime-core/src/hydration.ts
Due: packages, runtime-core

chore: remove unused import
  packages/reactivity/__tests__/computed.spec.ts
Due: packages, reactivity

refactor: use shared isAttrRenderable logic between ssr and hydration
  packages/runtime-core/src/hydration.ts
  packages/server-renderer/src/helpers/ssrRenderAttrs.ts
  packages/shared/src/domAttrConfig.ts
Due: packages, runtime-core, server-renderer, shared

Update componentSlots.spec.ts
  packages/runtime-core/__tests__/componentSlots.spec.ts
Due: packages, runtime-core

fix(runtime-core): should not warn out-of-render slot fn usage when mounting another app in setup (#10125)
  packages/runtime-core/__tests__/componentSlots.spec.ts
  packages/runtime-core/src/componentSlots.ts
Due: packages, runtime-core

chore: replace __v_skip with ReactiveFlags.SKIP
  packages/reactivity/__tests__/reactive.spec.ts
  packages/runtime-core/src/vnode.ts
Due: packages, reactivity, runtime-core

fix(compiler-sfc): fix type resolution for symlinked node_modules structure w/ pnpm
  packages/compiler-sfc/src/compileScript.ts
  packages/compiler-sfc/src/script/resolveType.ts
Due: packages, compiler-sfc

chore: replace __v_isShallow & __v_isReadonly with ReactiveFlags.IS_SHALLOW & ReactiveFlags.IS_READONLY
  packages/reactivity/src/ref.ts
Due: packages, reactivity

perf(v-model): optimize v-model multiple select w/ large lists
  packages/runtime-dom/__tests__/directives/vModel.spec.ts
  packages/runtime-dom/src/directives/vModel.ts
Due: packages, runtime-dom

fix: correct url for production error reference links
  packages/compiler-core/src/errors.ts
  packages/runtime-core/src/errorHandling.ts
Due: packages, compiler-core, runtime-core

perf(templateRef): avoid double render when using template ref on v-for
  packages/runtime-core/src/rendererTemplateRef.ts
Due: packages, runtime-core

release: v3.4.15
  CHANGELOG.md
  package.json
  packages/compiler-core/package.json
  packages/compiler-dom/package.json
  packages/compiler-sfc/package.json
  packages/compiler-ssr/package.json
  packages/reactivity/package.json
  packages/runtime-core/package.json
  packages/runtime-dom/package.json
  packages/server-renderer/package.json
  packages/shared/package.json
  packages/vue-compat/package.json
  packages/vue/package.json
Due: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, runtime-core, runtime-dom, server-renderer, shared, vue, vue-compat

chore: rebase main
  packages/compiler-sfc/__tests__/compileScript/__snapshots__/defineModel.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript/defineModel.spec.ts
  packages/compiler-sfc/src/script/defineModel.ts
Due: packages, compiler-sfc

style: format tsconfig
  tsconfig.json
Due: none

feat(runtime-vapor): createIf (#95)
  packages/runtime-vapor/__tests__/if.spec.ts
  packages/runtime-vapor/src/apiLifecycle.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/dom.ts
  packages/runtime-vapor/src/if.ts
  packages/runtime-vapor/src/index.ts
  packages/runtime-vapor/src/render.ts
  packages/runtime-vapor/src/renderWatch.ts
  packages/runtime-vapor/src/template.ts
Due: packages

refactor: use of es14 Array.prototype.toSorted
  packages/vue/examples/classic/grid.html
  packages/vue/examples/composition/grid.html
Due: packages, vue

chore: update todo
  README.md
Due: none

types(reactivity): improve typing + remove unused code
  packages/reactivity/__tests__/computed.spec.ts
  packages/reactivity/__tests__/effect.spec.ts
  packages/reactivity/__tests__/effectScope.spec.ts
  packages/reactivity/__tests__/reactive.spec.ts
  packages/reactivity/__tests__/reactiveArray.spec.ts
  packages/reactivity/__tests__/readonly.spec.ts
  packages/reactivity/__tests__/ref.spec.ts
Due: packages, reactivity

docs: correct the node version in contributing guide
  .github/contributing.md
Due: none

test(withdefaults): add test case
  packages/dts-test/setupHelpers.test-d.ts
Due: packages

fix(types): optimizing type inference with defaults
  packages/runtime-core/src/apiSetupHelpers.ts
Due: packages, runtime-core

refactor: simplify code
  packages/reactivity/src/index.ts
  packages/runtime-vapor/src/index.ts
  packages/runtime-vapor/src/render.ts
  packages/runtime-vapor/src/renderWatch.ts
  packages/runtime-vapor/src/scheduler.ts
Due: packages, reactivity

chore: update comment
  packages/runtime-vapor/src/directive.ts
Due: packages

fix(rumtine-dom): fix overrides in-line display when trigger update with v-show.
  packages/runtime-dom/__tests__/directives/vShow.spec.ts
  packages/runtime-dom/src/modules/style.ts
Due: packages, runtime-dom

fix(runtime-vapor): normalize state&block
  packages/runtime-vapor/src/render.ts
Due: packages

fix(compiler-vapor): don't setText for root element
  packages/compiler-vapor/src/transforms/transformInterpolation.ts
  playground/src/dynamic.vue
  playground/src/todo-mvc.vue
Due: packages

fix(runtime-dom): fix vShow not respect passing display
  packages/runtime-dom/src/directives/vShow.ts
  packages/runtime-dom/src/modules/style.ts
Due: packages, runtime-dom

test: update snapshot
  packages/compiler-vapor/__tests__/__snapshots__/compile.spec.ts.snap
Due: packages

feat: prop and attr modifiers for v-bind (#79)
  packages/compiler-vapor/__tests__/__snapshots__/compile.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vBind.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vOnce.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vBind.spec.ts
  packages/compiler-vapor/src/generate.ts
  packages/compiler-vapor/src/ir.ts
  packages/compiler-vapor/src/transforms/vBind.ts
  packages/runtime-vapor/src/dom.ts
Due: packages

fix(runtime-vapor): patch prop
  packages/runtime-vapor/src/dom.ts
  packages/runtime-vapor/src/dom/patchProp.ts
  playground/src/todo-mvc.vue
Due: packages

feat(runtime-dom): add test case
  packages/runtime-dom/__tests__/directives/vShow.spec.ts
Due: packages, runtime-dom

fix(runtime-vapor): set setupState
  packages/runtime-vapor/src/render.ts
Due: packages
