Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

codecov.yml:

coverage:
  status:
    project:
      default:
        # Status checks are set to be non-blocking
        informational: true
    patch:
      default:
        # Status checks are set to be non-blocking
        informational: true

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: packages
      paths:
        - packages/
    - component_id: compiler-core
      paths:
        - packages/compiler-core/
    - component_id: compiler-dom
      paths:
        - packages/compiler-dom/
    - component_id: compiler-sfc
      paths:
        - packages/compiler-sfc/
    - component_id: compiler-sfc
      paths:
        - packages/compiler-sfc/
    - component_id: reactivity
      paths:
        - packages/reactivity/
    - component_id: reactivity-transform
      paths:
        - packages/reactivity-transform/
    - component_id: runtime-core
      paths:
        - packages/runtime-core/
    - component_id: runtime-dom
      paths:
        - packages/runtime-dom/
    - component_id: runtime-test
      paths:
        - packages/runtime-test/
    - component_id: server-renderer
      paths:
        - packages/server-renderer/
    - component_id: sfc-playground
      paths:
        - packages/sfc-playground/
    - component_id: shared
      paths:
        - packages/shared/
    - component_id: size-check
      paths:
        - packages/size-check/
    - component_id: template-explorer
      paths:
        - packages/template-explorer/
    - component_id: vue
      paths:
        - packages/vue/
    - component_id: vue-compat
      paths:
        - packages/vue-compat/

wip: .
  packages/compiler-dom/src/runtimeHelpers.ts
  packages/compiler-dom/src/transforms/vHtml.ts
  packages/runtime-core/src/directives.ts
  packages/runtime-dom/src/directives/vHtml.ts
  packages/runtime-dom/src/index.ts
Due: packages, compiler-dom, runtime-core, runtime-dom

fix(compiler-vapor): cache setDynamicProps deps when possible
  packages/compiler-vapor/__tests__/__snapshots__/compile.spec.ts.snap
  packages/compiler-vapor/__tests__/compile.spec.ts
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformElement.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vBind.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vModel.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/transformElement.spec.ts
  packages/compiler-vapor/__tests__/transforms/vBind.spec.ts
  packages/compiler-vapor/src/generators/operation.ts
  packages/compiler-vapor/src/generators/prop.ts
Due: packages

chore: avoid cache setup const
  packages/compiler-vapor/src/generators/prop.ts
Due: packages

wip: save
  packages/compiler-vapor/src/generators/prop.ts
Due: packages

chore: only cache return value for setStyle and setDynamicProps
  packages/compiler-vapor/src/generators/prop.ts
Due: packages

refactor: avoid tracking multiple times
  packages/compiler-vapor/src/generators/operation.ts
  packages/compiler-vapor/src/generators/prop.ts
  packages/compiler-vapor/src/ir/index.ts
  packages/compiler-vapor/src/transform.ts
Due: packages

test: update snap
  packages/compiler-vapor/__tests__/__snapshots__/compile.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformChildren.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformElement.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformTemplateRef.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vBind.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vFor.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vHtml.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vIf.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vModel.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vText.spec.ts.snap
Due: packages

WatchCallback returns `void`, not `any`
  packages/reactivity/src/watch.ts
Due: packages, reactivity

wip: save
  packages/compiler-vapor/__tests__/__snapshots__/compile.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformElement.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vBind.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vModel.spec.ts.snap
  packages/compiler-vapor/src/generators/operation.ts
  packages/compiler-vapor/src/generators/prop.ts
  packages/compiler-vapor/src/ir/index.ts
  packages/compiler-vapor/src/transform.ts
Due: packages

chore: avoid merge setStyle and setDynamicProps into existing render effect
  packages/compiler-vapor/src/generators/prop.ts
  packages/compiler-vapor/src/transform.ts
Due: packages

wip: save
  packages/compiler-vapor/src/generators/operation.ts
  packages/compiler-vapor/src/generators/prop.ts
Due: packages

fix(ssr): handle manually using the h function (return a HTMLElement)
  packages/server-renderer/__tests__/render.spec.ts
  packages/server-renderer/src/render.ts
Due: packages, server-renderer

wip: cache setProp prev value on element, simplify codegen
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vBind.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vBind.spec.ts
  packages/compiler-vapor/__tests__/transforms/vOn.spec.ts
  packages/compiler-vapor/src/generate.ts
  packages/compiler-vapor/src/generators/expression.ts
  packages/compiler-vapor/src/generators/html.ts
  packages/compiler-vapor/src/generators/operation.ts
  packages/compiler-vapor/src/generators/prop.ts
  packages/compiler-vapor/src/generators/text.ts
  packages/compiler-vapor/src/ir/index.ts
  packages/compiler-vapor/src/transform.ts
  packages/runtime-dom/src/index.ts
  packages/runtime-dom/src/modules/props.ts
  packages/runtime-dom/src/modules/style.ts
  packages/runtime-dom/src/patchProp.ts
  packages/runtime-vapor/__tests__/apiSetupContext.spec.ts
  packages/runtime-vapor/__tests__/dom/prop.spec.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/dom/prop.ts
  packages/runtime-vapor/src/index.ts
  packages/shared/src/domAttrConfig.ts
  packages/shared/src/normalizeProp.ts
  scripts/trim-vapor-exports.js
Due: packages, runtime-dom, shared

chore: update
  packages/server-renderer/src/render.ts
Due: packages, server-renderer

wip: save
  packages/compiler-vapor/src/generators/prop.ts
  packages/compiler-vapor/src/ir/index.ts
  packages/compiler-vapor/src/transform.ts
Due: packages

wip: refactor vapor vBind codegen
  packages/compiler-vapor/__tests__/__snapshots__/compile.spec.ts.snap
  packages/compiler-vapor/__tests__/compile.spec.ts
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformChildren.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformElement.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vBind.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vFor.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vHtml.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vIf.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vModel.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vOnce.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vText.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/transformElement.spec.ts
  packages/compiler-vapor/__tests__/transforms/vBind.spec.ts
  packages/compiler-vapor/__tests__/transforms/vOn.spec.ts
  packages/compiler-vapor/src/generators/prop.ts
  packages/runtime-vapor/__tests__/dom/prop.spec.ts
  packages/runtime-vapor/src/dom/prop.ts
  packages/runtime-vapor/src/index.ts
  packages/shared/src/domAttrConfig.ts
Due: packages, shared

fix(hydration): normalize text content to prevent false mismatch warnings
  packages/runtime-core/__tests__/hydration.spec.ts
  packages/runtime-core/src/hydration.ts
Due: packages, runtime-core

chore: remove no longer needed file
  packages/runtime-vapor/src/dom/style.ts
Due: packages

refactor(compile-vapor): wrap event handler with withModifiers or withKeys
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformElement.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vOn.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vOn.spec.ts
  packages/compiler-vapor/src/generators/event.ts
  packages/runtime-vapor/src/dom/event.ts
  packages/runtime-vapor/src/index.ts
Due: packages

chore: fix setStyle and tests
  packages/runtime-vapor/__tests__/dom/prop.spec.ts
  packages/runtime-vapor/src/dom/prop.ts
Due: packages

wip(vapor): templateRef adjustments
  packages/compiler-vapor/src/generate.ts
  packages/compiler-vapor/src/generators/operation.ts
  packages/compiler-vapor/src/generators/templateRef.ts
  packages/compiler-vapor/src/ir/index.ts
  packages/compiler-vapor/src/transform.ts
  packages/compiler-vapor/src/transforms/transformTemplateRef.ts
  packages/runtime-core/src/helpers/useTemplateRef.ts
  packages/runtime-dom/src/modules/style.ts
  packages/runtime-vapor/__tests__/apiExpose.spec.ts
  packages/runtime-vapor/__tests__/dom/templateRef.spec.ts
  packages/runtime-vapor/__tests__/errorHandling.spec.ts
  packages/runtime-vapor/src/apiTemplateRef.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/index.ts
Due: packages, runtime-core, runtime-dom

chore: handle default value
  packages/compiler-vapor/src/generators/event.ts
Due: packages

test(vapor): useTemplateRef tests
  packages/runtime-vapor/__tests__/dom/templateRef.spec.ts
Due: packages

test(vapor): fix templateRef compiler tests
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformTemplateRef.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/transformTemplateRef.spec.ts
Due: packages

fix(defineProps): register type bindings before compile template
  packages/compiler-sfc/__tests__/compileScript/__snapshots__/definePropsDestructure.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript/definePropsDestructure.spec.ts
  packages/compiler-sfc/src/script/defineProps.ts
Due: packages, compiler-sfc

fix(compile-vapor): ensure props destructure work with vapor
  packages/compiler-vapor/src/generators/expression.ts
Due: packages

wip(vapor): handle class / style merging behavior
  packages/runtime-vapor/__tests__/apiSetupContext.spec.ts
  packages/runtime-vapor/__tests__/componentAttrs.spec.ts
  packages/runtime-vapor/__tests__/dom/prop.spec.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/componentProps.ts
  packages/runtime-vapor/src/dom/prop.ts
Due: packages

refactor(compiler-vapor): move operation with constant values out of renderEffect
  packages/compiler-vapor/src/generate.ts
  packages/compiler-vapor/src/generators/operation.ts
  packages/compiler-vapor/src/ir/index.ts
  packages/compiler-vapor/src/transform.ts
Due: packages

wip(vapor): further tweak single root attr fallthrough behavior
  packages/compiler-vapor/__tests__/__snapshots__/compile.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformChildren.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformElement.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformSlotOutlet.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformTemplateRef.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vBind.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vFor.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vHtml.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vIf.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vModel.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vOn.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vOnce.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vShow.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vText.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vHtml.spec.ts
  packages/compiler-vapor/__tests__/transforms/vText.spec.ts
  packages/compiler-vapor/src/generate.ts
  packages/compiler-vapor/src/generators/prop.ts
  packages/compiler-vapor/src/generators/template.ts
  packages/compiler-vapor/src/ir/index.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
  packages/runtime-vapor/__tests__/componentAttrs.spec.ts
  packages/runtime-vapor/__tests__/dom/template.spec.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/dom/prop.ts
  packages/runtime-vapor/src/dom/template.ts
  packages/runtime-vapor/src/index.ts
Due: packages

wip(vapor): init feature flags + set devtools when creating vapor app
  packages/runtime-core/src/devtools.ts
  packages/runtime-core/src/featureFlags.ts
  packages/runtime-core/src/index.ts
  packages/runtime-vapor/src/apiCreateApp.ts
  playground/setup/dev.js
Due: packages, runtime-core

wip(vapor): optimize unmounted children removal
  packages/runtime-vapor/src/block.ts
  packages/runtime-vapor/src/component.ts
Due: packages

wip(vapor): createIf
  packages/runtime-vapor/__tests__/componentSlots.spec.ts
  packages/runtime-vapor/__tests__/if.spec.ts
  packages/runtime-vapor/src/apiCreateIf.ts
  packages/runtime-vapor/src/block.ts
  packages/runtime-vapor/src/componentSlots.ts
Due: packages

wip: analyze expressions is static
  packages/compiler-core/src/babelUtils.ts
  packages/compiler-sfc/src/compileScript.ts
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformElement.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vBind.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vBind.spec.ts
  packages/compiler-vapor/src/generators/operation.ts
  packages/compiler-vapor/src/transform.ts
Due: packages, compiler-core, compiler-sfc

wip(vapor): handle slot fallback when content changes
  packages/runtime-vapor/__tests__/componentSlots.spec.ts
  packages/runtime-vapor/src/block.ts
  packages/runtime-vapor/src/componentSlots.ts
Due: packages

chore: remove newlines
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vBind.spec.ts.snap
  packages/compiler-vapor/src/generators/operation.ts
Due: packages

fix: update snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformElement.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vBind.spec.ts.snap
Due: packages

feat(compiler-sfc): transform use href add no-inline query
  packages/compiler-sfc/__tests__/__snapshots__/templateTransformAssetUrl.spec.ts.snap
  packages/compiler-sfc/src/template/transformAssetUrl.ts
Due: packages, compiler-sfc

chore(compiler-core): fix comments referencing transformElement.ts
  packages/compiler-core/src/transforms/vBind.ts
  packages/compiler-core/src/transforms/vOn.ts
Due: packages, compiler-core

fix(compiler): emit error on empty directive modifier
  packages/compiler-core/src/errors.ts
  packages/compiler-core/src/parser.ts
Due: packages, compiler-core

fix: first enum value
  packages/compiler-dom/src/errors.ts
Due: packages, compiler-dom
