Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

refactor(runtime-vapor): apply slot outlet cleanup review
  packages/runtime-vapor/src/dom/hydrateFragment.ts
  packages/runtime-vapor/src/fragment.ts
  packages/runtime-vapor/src/slotFragment.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

refactor(runtime-vapor): replace vnode-hook hijacking with internal iu/ibu notification channel
  packages/runtime-core/src/renderer.ts
  packages/runtime-core/src/vnode.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages, runtime-core

refactor(runtime-vapor): share the deferred slot attach skeleton
  packages/runtime-vapor/src/dom/hydrateFragment.ts
  packages/runtime-vapor/src/fragment.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

refactor(runtime-vapor): extract the shared slot hydration idioms
  packages/runtime-vapor/src/dom/hydrateFragment.ts
  packages/runtime-vapor/src/dom/hydration.ts
  packages/runtime-vapor/src/fragment.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

refactor(runtime-vapor): share the deferred slot anchor idioms across hosts
  packages/runtime-vapor/src/dom/hydrateFragment.ts
  packages/runtime-vapor/src/fragment.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

refactor(runtime-vapor): restructure the VDOM slot outlet into an explicit state machine
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(runtime-vapor): keep the hydration graph tree-shakable from the slot outlet
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(runtime-vapor): keep the interop slot outlet tree-shakable and minifiable
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

refactor(runtime-vapor): name the exposed-branch rule in one place
  packages/runtime-vapor/src/fragment.ts
  packages/runtime-vapor/src/slotFragment.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

refactor(runtime-vapor): construct all slot boundary contexts through one factory
  packages/runtime-vapor/src/fragment.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

refactor(runtime-vapor): key interop vnode-hook suppression by driving vnode
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix: dts tests
  packages/runtime-core/src/helpers/renderSlot.ts
  packages/runtime-core/src/index.ts
Due: packages, runtime-core

refactor(runtime-vapor): replace string slot interop markers with symbol keys
  packages/runtime-core/src/helpers/renderSlot.ts
  packages/runtime-core/src/index.ts
  packages/runtime-vapor/src/componentSlots.ts
  packages/runtime-vapor/src/vdomInterop.ts
  packages/runtime-vapor/src/vdomInteropState.ts
Due: packages, runtime-core

refactor(runtime-vapor): protocolize foreign-content access on interop fragments
  packages/runtime-vapor/__tests__/helpers/setKey.spec.ts
  packages/runtime-vapor/src/components/Transition.ts
  packages/runtime-vapor/src/components/TransitionGroup.ts
  packages/runtime-vapor/src/fragment.ts
  packages/runtime-vapor/src/helpers/setKey.ts
  packages/runtime-vapor/src/transition.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

refactor(runtime-vapor): consolidate the unmount-suspense ambient behind named operations
  packages/runtime-vapor/src/block.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/suspense.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

chore: improve
  packages/runtime-core/src/apiCreateApp.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages, runtime-core

refactor(runtime-vapor): type the interop seam
  packages/runtime-core/src/apiCreateApp.ts
  packages/runtime-core/src/index.ts
  packages/runtime-vapor/__tests__/componentSlots.spec.ts
  packages/runtime-vapor/src/componentSlots.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages, runtime-core

fix(types): preserve pre-typed ComponentObjectPropsOptions in function syntax
  packages-private/dts-test/defineComponent.test-d.tsx
  packages/runtime-core/src/apiDefineComponent.ts
Due: packages, runtime-core

refactor(runtime-vapor): replace vnode-hook hijacking with internal iu/ibu notification channel (#15350)
  packages/runtime-core/src/renderer.ts
  packages/runtime-core/src/vnode.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages, runtime-core

refactor(runtime-vapor): consolidate slot outlet resolution and hydration (#15352)
  packages/runtime-vapor/src/dom/hydrateFragment.ts
  packages/runtime-vapor/src/dom/hydration.ts
  packages/runtime-vapor/src/fragment.ts
  packages/runtime-vapor/src/slotFragment.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

refactor(runtime-vapor): key interop vnode-hook suppression by driving vnode (#15354)
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

refactor(runtime-vapor): replace string slot interop markers with symbol keys (#15355)
  packages/runtime-core/src/helpers/renderSlot.ts
  packages/runtime-core/src/index.ts
  packages/runtime-vapor/src/componentSlots.ts
  packages/runtime-vapor/src/vdomInterop.ts
  packages/runtime-vapor/src/vdomInteropState.ts
Due: packages, runtime-core

refactor(runtime-vapor): protocolize foreign-content access on interop fragments (#15356)
  packages/runtime-vapor/__tests__/helpers/setKey.spec.ts
  packages/runtime-vapor/src/components/Transition.ts
  packages/runtime-vapor/src/components/TransitionGroup.ts
  packages/runtime-vapor/src/fragment.ts
  packages/runtime-vapor/src/helpers/setKey.ts
  packages/runtime-vapor/src/transition.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

refactor(runtime-vapor): type the interop seam (#15358)
  packages/runtime-core/src/apiCreateApp.ts
  packages/runtime-core/src/index.ts
  packages/runtime-vapor/__tests__/componentSlots.spec.ts
  packages/runtime-vapor/src/componentSlots.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages, runtime-core

refactor(runtime-vapor): consolidate the unmount-suspense ambient behind named operations (#15357)
  packages/runtime-vapor/src/block.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/suspense.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(types): separate function component instance props
  packages-private/dts-test/defineComponent.test-d.tsx
  packages/runtime-core/src/apiDefineComponent.ts
Due: packages, runtime-core

fix(hydration): handle async component unmount before lazy hydration (#15252)
  packages/runtime-core/__tests__/hydration.spec.ts
  packages/runtime-core/src/hydration.ts
Due: packages, runtime-core

fix(hydration): handle moving unresolved async fragment (#15263)
  packages/runtime-core/__tests__/hydration.spec.ts
  packages/runtime-core/src/hydration.ts
Due: packages, runtime-core

fix(runtime-core): avoid caching unmounted suspense children (#15291)
  packages/runtime-core/__tests__/components/Suspense.spec.ts
  packages/runtime-core/src/components/KeepAlive.ts
Due: packages, runtime-core

fix(v-model): re-sync select when model is overridden in change handler (#15298)
  packages/runtime-dom/__tests__/directives/vModel.spec.ts
  packages/runtime-dom/src/directives/vModel.ts
Due: packages, runtime-dom

fix(shared): correctly compare Map and Set values (#15328)
  packages/runtime-dom/__tests__/directives/vModel.spec.ts
  packages/shared/__tests__/looseEqual.spec.ts
  packages/shared/src/looseEqual.ts
Due: packages, runtime-dom, shared

fix(runtime-core): resolve $el for dev root comment fragment (#15313)
  packages/runtime-core/__tests__/componentPublicInstance.spec.ts
  packages/runtime-core/src/componentPublicInstance.ts
Due: packages, runtime-core

fix(suspense): don't treat the leaving branch as the fallback while its mount is pending (#15333)
  packages/runtime-core/src/components/Suspense.ts
  packages/vue/__tests__/e2e/Transition.spec.ts
Due: packages, runtime-core, vue

fix(runtime-core): keep .trim result when combined with .number v-model modifier (#15346)
  packages/runtime-core/__tests__/componentEmits.spec.ts
  packages/runtime-core/src/componentEmits.ts
Due: packages, runtime-core

fix(runtime-dom): support !important on CSS custom properties in style binding (#15348)
  packages/runtime-dom/__tests__/patchStyle.spec.ts
  packages/runtime-dom/src/modules/style.ts
Due: packages, runtime-dom

fix(compiler-core): handle invalid static arg in same-name v-bind shorthand (#15347)
  packages/compiler-core/__tests__/transforms/vBind.spec.ts
  packages/compiler-core/src/errors.ts
  packages/compiler-core/src/transforms/transformVBindShorthand.ts
Due: packages, compiler-core

fix(hmr): cover vapor fast-path reload with the hmr updating flag and reset it on failed updates
  packages/runtime-core/src/hmr.ts
  packages/runtime-vapor/__tests__/hmr.spec.ts
Due: packages, runtime-core

Revert "fix(compiler-core): handle invalid static arg in same-name v-bind sho…"
  packages/compiler-core/__tests__/transforms/vBind.spec.ts
  packages/compiler-core/src/errors.ts
  packages/compiler-core/src/transforms/transformVBindShorthand.ts
Due: packages, compiler-core

Revert "fix(compiler-core): handle invalid static arg in same-name v-bind shorthand" (#15362)
  packages/compiler-core/__tests__/transforms/vBind.spec.ts
  packages/compiler-core/src/errors.ts
  packages/compiler-core/src/transforms/transformVBindShorthand.ts
Due: packages, compiler-core

fix(types): preserve function component compatibility
  packages-private/dts-test/defineComponent.test-d.tsx
  packages/runtime-core/src/apiDefineComponent.ts
Due: packages, runtime-core

Path conditions:
  packages: any of: packages/
  compiler-core: any of: packages/compiler-core/
  compiler-dom: any of: packages/compiler-dom/
  compiler-sfc: any of: packages/compiler-sfc/
  reactivity: any of: packages/reactivity/
  reactivity-transform: any of: packages/reactivity-transform/
  runtime-core: any of: packages/runtime-core/
  runtime-dom: any of: packages/runtime-dom/
  runtime-test: any of: packages/runtime-test/
  server-renderer: any of: packages/server-renderer/
  sfc-playground: any of: packages/sfc-playground/
  shared: any of: packages/shared/
  size-check: any of: packages/size-check/
  template-explorer: any of: packages/template-explorer/
  vue: any of: packages/vue/
  vue-compat: any of: packages/vue-compat/
