Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

codecov.yml:

coverage:
  status:
    project:
      default:
        # Status checks are set to be non-blocking
        informational: true
    patch:
      default:
        # Status checks are set to be non-blocking
        informational: true

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: packages
      paths:
        - packages/
    - component_id: compiler-core
      paths:
        - packages/compiler-core/
    - component_id: compiler-dom
      paths:
        - packages/compiler-dom/
    - component_id: compiler-sfc
      paths:
        - packages/compiler-sfc/
    - component_id: compiler-sfc
      paths:
        - packages/compiler-sfc/
    - component_id: reactivity
      paths:
        - packages/reactivity/
    - component_id: reactivity-transform
      paths:
        - packages/reactivity-transform/
    - component_id: runtime-core
      paths:
        - packages/runtime-core/
    - component_id: runtime-dom
      paths:
        - packages/runtime-dom/
    - component_id: runtime-test
      paths:
        - packages/runtime-test/
    - component_id: server-renderer
      paths:
        - packages/server-renderer/
    - component_id: sfc-playground
      paths:
        - packages/sfc-playground/
    - component_id: shared
      paths:
        - packages/shared/
    - component_id: size-check
      paths:
        - packages/size-check/
    - component_id: template-explorer
      paths:
        - packages/template-explorer/
    - component_id: vue
      paths:
        - packages/vue/
    - component_id: vue-compat
      paths:
        - packages/vue-compat/

fix: correctly infer `TypeEmits` with both tuple and function syntax
  packages/runtime-core/src/componentEmits.ts
Due: packages, runtime-core

Update rendererTemplateRef.ts
  packages/runtime-core/src/rendererTemplateRef.ts
Due: packages, runtime-core

test(reactivity): test case for #11831
  packages/reactivity/__tests__/computed.spec.ts
Due: packages, reactivity

fix(types): correctly infer `TypeEmits` with both tuple and function syntax (#11840)
  packages/runtime-core/src/componentEmits.ts
Due: packages, runtime-core

chore: remove unused variable
  packages/compiler-core/src/transform.ts
Due: packages, compiler-core

chore: update
  packages/compiler-core/src/transforms/vIf.ts
Due: packages, compiler-core

refactor: remove rarely used argument in makeMap + optimize perf
  packages/compiler-dom/src/transforms/vOn.ts
  packages/shared/src/makeMap.ts
Due: packages, compiler-dom, shared

chore: remove unused variable (#11842)
  packages/compiler-core/src/transform.ts
  packages/compiler-core/src/transforms/vIf.ts
Due: packages, compiler-core

feat(compiler-sfc): correct scoped injection for nesting selector
  packages/compiler-sfc/__tests__/compileStyle.spec.ts
  packages/compiler-sfc/src/style/pluginScoped.ts
Due: packages, compiler-sfc

chore: upgrade @vue/repl to 4.4.0
  packages-private/sfc-playground/package.json
  pnpm-lock.yaml
Due: none

refactor(scheduler): simplify checkRecursiveUpdates
  packages/runtime-core/src/scheduler.ts
Due: packages, runtime-core

fix: handle `:deep` correctly
  packages/compiler-sfc/__tests__/compileStyle.spec.ts
  packages/compiler-sfc/src/style/pluginScoped.ts
Due: packages, compiler-sfc

fix: pass `deep`
  packages/compiler-sfc/src/style/pluginScoped.ts
Due: packages, compiler-sfc

fix(runtime-dom): the _parseSlots of customElement(shadowRoot:false) executed correctly
  packages/runtime-dom/src/apiCustomElement.ts
Due: packages, runtime-dom

chore: fix typo
  packages-private/sfc-playground/src/Header.vue
Due: none

chore: update test
  packages/runtime-dom/__tests__/customElement.spec.ts
Due: packages, runtime-dom

chore: update
  packages/runtime-dom/__tests__/customElement.spec.ts
Due: packages, runtime-dom

refactor: simplify
  packages/compiler-sfc/src/style/pluginScoped.ts
Due: packages, compiler-sfc

fix: markRow function return the value directly when its value has been marked
  packages/reactivity/src/reactive.ts
Due: packages, reactivity

chore: update
  packages/runtime-core/src/component.ts
  packages/runtime-core/src/components/Teleport.ts
  packages/runtime-dom/src/apiCustomElement.ts
Due: packages, runtime-core, runtime-dom

chore: update type
  packages/runtime-core/src/component.ts
Due: packages, runtime-core

chore: update comment
  packages/runtime-core/src/component.ts
  packages/runtime-dom/src/apiCustomElement.ts
Due: packages, runtime-core, runtime-dom

test: add
  packages/reactivity/__tests__/reactive.spec.ts
  packages/reactivity/src/reactive.ts
Due: packages, reactivity

fix(runtime-core): handle shallow reactive arrays in renderList correctly
  packages/runtime-core/src/helpers/renderList.ts
Due: packages, runtime-core

test: add test
  packages/runtime-core/__tests__/helpers/renderList.spec.ts
Due: packages, runtime-core

chore: update
  packages/vue/__tests__/e2e/ssr-custom-element.spec.ts
Due: packages, vue

fix vscode bad auto indent
  packages-private/dts-test/componentTypeExtensions.test-d.tsx
  packages/runtime-core/src/componentPublicInstance.ts
Due: packages, runtime-core

fix vscode bad auto format
  packages-private/dts-test/componentTypeExtensions.test-d.tsx
Due: none

fix(compiler-ssr): handle newlines at the beginning of textarea content
  packages/compiler-ssr/src/transforms/ssrTransformElement.ts
Due: packages

fix(compiler-sfc): correct scoped injection for nesting selector (#11854)
  packages/compiler-sfc/__tests__/compileStyle.spec.ts
  packages/compiler-sfc/src/style/pluginScoped.ts
Due: packages, compiler-sfc

fix(reactivity): fix markRaw error on already marked object (#11864)
  packages/reactivity/__tests__/reactive.spec.ts
  packages/reactivity/src/reactive.ts
Due: packages, reactivity

Update dep.ts
  packages/reactivity/src/dep.ts
Due: packages, reactivity

fix(runtime-core): handle shallow reactive arrays in renderList correctly (#11870)
  packages/runtime-core/__tests__/helpers/renderList.spec.ts
  packages/runtime-core/src/helpers/renderList.ts
Due: packages, runtime-core

perf(reactivity): trigger deps directly instead of storing in an array first (#11695)
  packages/reactivity/src/dep.ts
Due: packages, reactivity

refactor(scheduler): simplify checkRecursiveUpdates (#11856)
  packages/runtime-core/src/scheduler.ts
Due: packages, runtime-core

fix: Revert "fix: Revert "fix(reactivity): self-referencing computed should refresh""
  packages/reactivity/__tests__/computed.spec.ts
  packages/reactivity/src/computed.ts
  packages/reactivity/src/effect.ts
Due: packages, reactivity

chore(deps): upgrade to TypeScript 5.6
  package.json
  packages-private/tsconfig.json
  packages/compiler-core/__tests__/testUtils.ts
  packages/compiler-core/__tests__/transforms/vFor.spec.ts
  packages/compiler-sfc/__tests__/utils.ts
  packages/runtime-core/src/components/KeepAlive.ts
  packages/runtime-test/src/index.ts
  packages/runtime-test/src/nodeOps.ts
  packages/runtime-test/src/patchProp.ts
  packages/runtime-test/src/serialize.ts
  packages/runtime-test/src/triggerEvent.ts
  packages/vue-compat/__tests__/utils.ts
  packages/vue/__tests__/e2e/commits.mock.ts
  packages/vue/__tests__/e2e/e2eUtils.ts
  pnpm-lock.yaml
  tsconfig.build-browser.json
  tsconfig.build.json
  tsconfig.json
Due: packages, compiler-core, compiler-sfc, runtime-core, runtime-test, vue, vue-compat
