Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

fix(shared): exclude NaN and Infinity from stringifyStyle output
  packages/shared/__tests__/normalizeProp.spec.ts
  packages/shared/src/normalizeProp.ts
Due: packages, shared

feat(runtime-core): merge refs in mergeProps
  packages/runtime-core/__tests__/vnode.spec.ts
  packages/runtime-core/src/vnode.ts
Due: packages, runtime-core

feat(compiler-dom): allow customizable select nesting
  packages/compiler-dom/__tests__/transforms/validateHtmlNesting.spec.ts
  packages/compiler-dom/src/htmlNesting.ts
  packages/shared/src/domTagConfig.ts
Due: packages, compiler-dom, shared

feat(types): add directive name field
  packages-private/dts-test/directives.test-d.ts
  packages/runtime-core/src/directives.ts
  packages/runtime-core/src/hydration.ts
Due: packages, runtime-core

feat: support in-tag line comments
  packages/compiler-core/__tests__/__snapshots__/parse.spec.ts.snap
  packages/compiler-core/__tests__/codegen.spec.ts
  packages/compiler-core/__tests__/compile.spec.ts
  packages/compiler-core/__tests__/parse.spec.ts
  packages/compiler-core/src/ast.ts
  packages/compiler-core/src/compat/transformFilter.ts
  packages/compiler-core/src/parser.ts
  packages/compiler-core/src/tokenizer.ts
  packages/compiler-core/src/transforms/transformElement.ts
  packages/compiler-core/src/transforms/transformSlotOutlet.ts
  packages/compiler-core/src/utils.ts
  packages/compiler-sfc/src/template/transformSrcset.ts
  packages/compiler-ssr/src/transforms/ssrTransformElement.ts
  packages/compiler-ssr/src/transforms/ssrVModel.ts
Due: packages, compiler-core, compiler-sfc

fix(runtime-core): clarify transition root warning
  packages/runtime-core/__tests__/components/BaseTransition.spec.ts
  packages/runtime-core/src/componentRenderUtils.ts
Due: packages, runtime-core

test: update merge props ref expectations
  packages-private/dts-test/h.test-d.ts
  packages/vue/__tests__/e2e/Transition.spec.ts
Due: packages, vue

fix(compiler-sfc): include location for deep selector warnings
  packages/compiler-sfc/__tests__/compileStyle.spec.ts
  packages/compiler-sfc/src/style/pluginScoped.ts
Due: packages, compiler-sfc

feat(server-renderer): export buffer helpers
  packages-private/dts-test/serverRenderer.test-d.ts
  packages/server-renderer/__tests__/buffer.spec.ts
  packages/server-renderer/src/index.ts
Due: packages, server-renderer

feat(runtime-core): support prepending teleports
  packages-private/dts-test/tsx.test-d.tsx
  packages/runtime-core/__tests__/components/Teleport.spec.ts
  packages/runtime-core/src/components/Teleport.ts
Due: packages, runtime-core

feat(vue): add browser export condition
  packages/vue/package.json
Due: packages, vue

feat(reactivity): warn for computed created in computed getter
  packages/reactivity/__tests__/computed.spec.ts
  packages/reactivity/src/computed.ts
  packages/reactivity/src/effect.ts
Due: packages, reactivity

feat(runtime-dom): support data checkbox true values
  packages/runtime-dom/__tests__/directives/vModel.spec.ts
  packages/runtime-dom/src/directives/vModel.ts
  packages/server-renderer/__tests__/ssrDirectives.spec.ts
Due: packages, runtime-dom, server-renderer

test: simplify in-tag line comment coverage
  packages/compiler-core/__tests__/compile.spec.ts
  packages/compiler-core/__tests__/parse.spec.ts
  packages/compiler-core/src/tokenizer.ts
Due: packages, compiler-core

test: compact short in-tag line comment cases
  packages/compiler-core/__tests__/parse.spec.ts
Due: packages, compiler-core

fix(runtime-vapor): preserve render effect creation order when updating
  packages/runtime-core/src/scheduler.ts
  packages/runtime-vapor/__tests__/for.spec.ts
  packages/runtime-vapor/__tests__/if.spec.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/renderEffect.ts
Due: packages, runtime-core

fix(runtime-core): pause tracking when invoking function refs
  packages/runtime-core/__tests__/rendererTemplateRef.spec.ts
  packages/runtime-core/src/rendererTemplateRef.ts
Due: packages, runtime-core

fix(runtime-vapor): pause tracking when invoking function refs
  packages/runtime-vapor/__tests__/dom/templateRef.spec.ts
  packages/runtime-vapor/src/apiTemplateRef.ts
Due: packages

fix(runtime-vapor): pause tracking when invoking function refs (#14986)
  packages/runtime-vapor/__tests__/dom/templateRef.spec.ts
  packages/runtime-vapor/src/apiTemplateRef.ts
Due: packages

fix(types): support exact optional defaulted props
  packages-private/dts-test/exactOptionalPropertyTypes.test-d.tsx
  packages/runtime-core/src/componentPublicInstance.ts
Due: packages, runtime-core

fix(shared): preserve non-finite custom properties in stringifyStyle per review
  packages/shared/__tests__/normalizeProp.spec.ts
  packages/shared/src/normalizeProp.ts
Due: packages, shared

fix(ssr): resolve teleports with suspense
  packages/server-renderer/__tests__/ssrTeleport.spec.ts
  packages/server-renderer/src/renderToString.ts
Due: packages, server-renderer

fix(ssr): preserve TransitionGroup fallthrough tag
  packages/compiler-ssr/__tests__/ssrTransitionGroup.spec.ts
  packages/compiler-ssr/src/transforms/ssrTransformComponent.ts
  packages/server-renderer/__tests__/ssrSlot.spec.ts
Due: packages, server-renderer

fix(compiler-sfc): resolve namespace type imports
  packages/compiler-sfc/__tests__/compileScript/resolveType.spec.ts
  packages/compiler-sfc/src/script/resolveType.ts
Due: packages, compiler-sfc

fix(hydration): route mismatches via handleError
  packages/runtime-core/__tests__/hydration.spec.ts
  packages/runtime-core/src/errorHandling.ts
  packages/runtime-core/src/hydration.ts
Due: packages, runtime-core

heyyyyyy
  README.md
Due: none

perf(compiler-vapor): cache child context analysis
  packages/compiler-vapor/src/transform.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
Due: packages

perf(compiler-vapor): avoid redundant text run slicing
  packages/compiler-vapor/src/transforms/transformText.ts
Due: packages

refactor(compiler-vapor): avoid mutating v-for render effects in codegen
  packages/compiler-vapor/src/generators/block.ts
  packages/compiler-vapor/src/generators/for.ts
Due: packages

fix(compiler-vapor): avoid unsafe repeated expression replacements
  packages/compiler-vapor/__tests__/transforms/__snapshots__/expression.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/expression.spec.ts
  packages/compiler-vapor/src/generators/expression.ts
Due: packages

fix(runtime-vapor): preserve render effect creation order when updating (#14984)
  packages/runtime-core/src/scheduler.ts
  packages/runtime-vapor/__tests__/for.spec.ts
  packages/runtime-vapor/__tests__/if.spec.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/renderEffect.ts
Due: packages, runtime-core

fix(runtime-vapor): pair vdom interop update hooks
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/slotBoundary.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

chore(runtime-vapor): simplify forwarded slot hydration marker
  packages/runtime-vapor/src/componentSlots.ts
  packages/runtime-vapor/src/fragment.ts
Due: packages

chore(runtime-vapor): replace slot update notification with notifyUpdated
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

refactor(shared): esm-only package + build infra
  packages/shared/index.js
  packages/shared/package.json
  rolldown.dts.config.js
  scripts/build.js
  scripts/create-rolldown-config.js
  scripts/trim-vapor-exports.js
  scripts/usage-size.js
Due: packages, shared

refactor(reactivity): esm-only package
  packages/reactivity/index.js
  packages/reactivity/package.json
Due: packages, reactivity

Path conditions:
  packages: any of: packages/
  compiler-core: any of: packages/compiler-core/
  compiler-dom: any of: packages/compiler-dom/
  compiler-sfc: any of: packages/compiler-sfc/
  reactivity: any of: packages/reactivity/
  reactivity-transform: any of: packages/reactivity-transform/
  runtime-core: any of: packages/runtime-core/
  runtime-dom: any of: packages/runtime-dom/
  runtime-test: any of: packages/runtime-test/
  server-renderer: any of: packages/server-renderer/
  sfc-playground: any of: packages/sfc-playground/
  shared: any of: packages/shared/
  size-check: any of: packages/size-check/
  template-explorer: any of: packages/template-explorer/
  vue: any of: packages/vue/
  vue-compat: any of: packages/vue-compat/
