Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

test: simplify v-once regression coverage
  packages/vue/__tests__/index.spec.ts
Due: packages, vue

fix(runtime-core): disable optimized unmount for blocks containing v-once
  packages/runtime-core/src/renderer.ts
  packages/vue/__tests__/index.spec.ts
Due: packages, runtime-core, vue

fix(suspense): patch a hydrating boundary's pending branch in place (#15432)
  packages/runtime-core/__tests__/hydration.spec.ts
  packages/runtime-core/src/components/Suspense.ts
Due: packages, runtime-core

fix(suspense): keep the boundary pending while its branch is patched (#15411)
  packages/runtime-core/__tests__/components/Suspense.spec.ts
  packages/runtime-core/src/components/Suspense.ts
Due: packages, runtime-core

fix(suspense): avoid releasing parent dependency twice
  packages/runtime-core/__tests__/hydration.spec.ts
  packages/runtime-core/src/components/Suspense.ts
Due: packages, runtime-core

fix(suspense): don't drop nested suspense patches during hydration (#15429)
  packages/runtime-core/__tests__/hydration.spec.ts
  packages/runtime-core/src/components/Suspense.ts
Due: packages, runtime-core

fix(runtime-core): preserve hydrated DOM across pending async updates
  packages/runtime-core/__tests__/hydration.spec.ts
  packages/runtime-core/src/renderer.ts
Due: packages, runtime-core

fix(runtime-vapor): reset the v-once ambient at vdom component boundaries
  packages/runtime-vapor/__tests__/_utils.ts
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/componentSlots.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(suspense): skip hydration for unmounted async components
  packages/runtime-core/__tests__/hydration.spec.ts
  packages/runtime-core/src/components/Suspense.ts
Due: packages, runtime-core

fix(suspense): unmount the DOM an interrupted async component claimed (#15430)
  packages/runtime-core/__tests__/hydration.spec.ts
  packages/runtime-core/src/components/Suspense.ts
  packages/runtime-core/src/hydration.ts
  packages/runtime-core/src/renderer.ts
Due: packages, runtime-core

fix(hydration): complete out-in transitions for fragment placeholders
  packages/runtime-core/__tests__/hydration.spec.ts
  packages/runtime-core/src/renderer.ts
Due: packages, runtime-core

fix(vapor): align v-once with vdom across component boundaries and directive helpers
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vOnce.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vOnce.spec.ts
  packages/compiler-vapor/src/generators/directive.ts
  packages/compiler-vapor/src/generators/utils.ts
  packages/compiler-vapor/src/generators/vModel.ts
  packages/compiler-vapor/src/generators/vShow.ts
  packages/compiler-vapor/src/ir/index.ts
  packages/compiler-vapor/src/transform.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
  packages/compiler-vapor/src/transforms/vModel.ts
  packages/compiler-vapor/src/transforms/vOnce.ts
  packages/compiler-vapor/src/transforms/vShow.ts
  packages/runtime-vapor/__tests__/_utils.ts
  packages/runtime-vapor/__tests__/componentProps.spec.ts
  packages/runtime-vapor/__tests__/vOnce.spec.ts
  packages/runtime-vapor/src/apiDefineAsyncComponent.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/componentProps.ts
  packages/runtime-vapor/src/componentSlots.ts
  packages/runtime-vapor/src/directives/custom.ts
  packages/runtime-vapor/src/directives/vModel.ts
  packages/runtime-vapor/src/index.ts
  packages/runtime-vapor/src/once.ts
  packages/runtime-vapor/src/renderEffect.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(hydration): run leave hooks for hydration placeholders (#15431)
  packages/runtime-core/__tests__/hydration.spec.ts
  packages/runtime-core/src/hydration.ts
  packages/runtime-core/src/renderer.ts
Due: packages, runtime-core

fix(compiler-vapor): emit createElement-backed children nested in a template
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformElement.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/transformElement.spec.ts
  packages/compiler-vapor/src/generators/template.ts
  packages/runtime-vapor/__tests__/dom/template.spec.ts
Due: packages

perf(runtime-vapor): render once dynamic components without a fragment
  packages/runtime-vapor/__tests__/apiCreateDynamicComponent.spec.ts
  packages/runtime-vapor/__tests__/dom/templateRef.spec.ts
  packages/runtime-vapor/__tests__/hydration/component.spec.ts
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/apiCreateDynamicComponent.ts
Due: packages

refactor(vapor): reset the v-once ambient at vdom entry points and simplify once snapshots
  packages/compiler-vapor/__tests__/transforms/vOnce.spec.ts
  packages/compiler-vapor/src/generators/directive.ts
  packages/compiler-vapor/src/generators/vModel.ts
  packages/compiler-vapor/src/generators/vShow.ts
  packages/compiler-vapor/src/transform.ts
  packages/compiler-vapor/src/utils.ts
  packages/runtime-vapor/__tests__/_utils.ts
  packages/runtime-vapor/__tests__/vOnce.spec.ts
  packages/runtime-vapor/src/apiCreateDynamicComponent.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/componentProps.ts
  packages/runtime-vapor/src/componentSlots.ts
  packages/runtime-vapor/src/once.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

refactor(compiler-vapor): treat every component as a v-once boundary
  packages/compiler-vapor/__tests__/transforms/vOnce.spec.ts
  packages/compiler-vapor/src/transform.ts
  packages/compiler-vapor/src/utils.ts
  packages/runtime-vapor/__tests__/vOnce.spec.ts
Due: packages

refactor(compiler-vapor): wrap directive helpers with withOnce only at v-once sites
  packages/compiler-vapor/src/generators/directive.ts
  packages/compiler-vapor/src/generators/utils.ts
Due: packages

fix(compiler-vapor): emit createElement-backed children nested in a template (#15441)
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformElement.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/transformElement.spec.ts
  packages/compiler-vapor/src/generators/template.ts
  packages/runtime-vapor/__tests__/dom/template.spec.ts
Due: packages

fix(runtime-vapor): merge component event listeners across prop sources
  packages/runtime-vapor/__tests__/componentAttrs.spec.ts
  packages/runtime-vapor/__tests__/componentEmits.spec.ts
  packages/runtime-vapor/__tests__/componentProps.spec.ts
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/componentEmits.ts
  packages/runtime-vapor/src/componentProps.ts
Due: packages

refactor(runtime-vapor): let vdom-managed mounts skip v-once inheritance
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/once.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(runtime-vapor): merge component event listeners across prop sources (#15444)
  packages/runtime-vapor/__tests__/componentAttrs.spec.ts
  packages/runtime-vapor/__tests__/componentEmits.spec.ts
  packages/runtime-vapor/__tests__/componentProps.spec.ts
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/componentEmits.ts
  packages/runtime-vapor/src/componentProps.ts
Due: packages

fix(suspense): preserve nested content while parent is pending
  packages/runtime-core/__tests__/components/Suspense.spec.ts
  packages/runtime-core/src/components/Suspense.ts
  packages/runtime-core/src/renderer.ts
Due: packages, runtime-core

fix(runtime-vapor): snapshot normalized class props for v-once
  packages/runtime-vapor/__tests__/componentProps.spec.ts
  packages/runtime-vapor/src/componentProps.ts
Due: packages

fix(runtime-vapor): snapshot normalized array style props for v-once
  packages/runtime-vapor/__tests__/componentProps.spec.ts
  packages/runtime-vapor/src/componentProps.ts
Due: packages

fix(vapor): correct v-once handling for components, slots and directives (#15443)
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vOnce.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vOnce.spec.ts
  packages/compiler-vapor/src/generators/directive.ts
  packages/compiler-vapor/src/generators/utils.ts
  packages/compiler-vapor/src/generators/vModel.ts
  packages/compiler-vapor/src/generators/vShow.ts
  packages/compiler-vapor/src/ir/index.ts
  packages/compiler-vapor/src/transform.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
  packages/compiler-vapor/src/transforms/vModel.ts
  packages/compiler-vapor/src/transforms/vOnce.ts
  packages/compiler-vapor/src/transforms/vShow.ts
  packages/runtime-vapor/__tests__/_utils.ts
  packages/runtime-vapor/__tests__/apiCreateDynamicComponent.spec.ts
  packages/runtime-vapor/__tests__/componentProps.spec.ts
  packages/runtime-vapor/__tests__/dom/templateRef.spec.ts
  packages/runtime-vapor/__tests__/hydration/component.spec.ts
  packages/runtime-vapor/__tests__/vOnce.spec.ts
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/apiCreateDynamicComponent.ts
  packages/runtime-vapor/src/apiDefineAsyncComponent.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/componentProps.ts
  packages/runtime-vapor/src/componentSlots.ts
  packages/runtime-vapor/src/directives/custom.ts
  packages/runtime-vapor/src/directives/vModel.ts
  packages/runtime-vapor/src/index.ts
  packages/runtime-vapor/src/once.ts
  packages/runtime-vapor/src/renderEffect.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(runtime-vapor): copy rawProps when injecting fallthrough attrs
  packages/runtime-vapor/__tests__/componentAttrs.spec.ts
  packages/runtime-vapor/src/component.ts
Due: packages

fix(runtime-vapor): key dynamic component branches by the resolved component
  packages/runtime-vapor/__tests__/apiCreateDynamicComponent.spec.ts
  packages/runtime-vapor/src/apiCreateDynamicComponent.ts
Due: packages

fix(compiler-vapor): resolve is="vue:" on native tags as the component
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformElement.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/transformElement.spec.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
  packages/runtime-vapor/__tests__/component.spec.ts
Due: packages

fix(vapor): create dynamic component element fallbacks in the template namespace
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformElement.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/transformElement.spec.ts
  packages/compiler-vapor/src/generators/component.ts
  packages/compiler-vapor/src/ir/index.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
  packages/runtime-vapor/__tests__/apiCreateDynamicComponent.spec.ts
  packages/runtime-vapor/src/apiCreateDynamicComponent.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/dom/node.ts
  packages/shared/src/vaporFlags.ts
Due: packages, shared

refactor(vapor): key dynamic component branches in place instead of a keyed fragment
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformKey.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/transformKey.spec.ts
  packages/compiler-vapor/src/generators/component.ts
  packages/compiler-vapor/src/ir/index.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
  packages/compiler-vapor/src/transforms/transformKey.ts
  packages/compiler-vapor/src/utils.ts
  packages/runtime-vapor/__tests__/apiCreateDynamicComponent.spec.ts
  packages/runtime-vapor/__tests__/hydration/interopDynamic.spec.ts
  packages/runtime-vapor/src/apiCreateDynamicComponent.ts
  packages/runtime-vapor/src/components/KeepAlive.ts
  packages/runtime-vapor/src/components/Transition.ts
  packages/runtime-vapor/src/fragment.ts
  packages/runtime-vapor/src/transition.ts
Due: packages

refactor(runtime-vapor): mount dynamic component vnodes through the interop and warn on invalid types
  packages/runtime-core/src/apiCreateApp.ts
  packages/runtime-vapor/__tests__/apiCreateDynamicComponent.spec.ts
  packages/runtime-vapor/src/apiCreateDynamicComponent.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages, runtime-core

perf(runtime-vapor): skip the dynamic component branch closure on an unchanged key
  packages/runtime-vapor/src/apiCreateDynamicComponent.ts
Due: packages

fix(runtime-vapor): copy rawProps when injecting fallthrough attrs (#15447)
  packages/runtime-vapor/__tests__/componentAttrs.spec.ts
  packages/runtime-vapor/src/component.ts
Due: packages

fix(runtime-vapor): key dynamic component branches by the resolved component (#15448)
  packages/runtime-vapor/__tests__/apiCreateDynamicComponent.spec.ts
  packages/runtime-vapor/src/apiCreateDynamicComponent.ts
Due: packages

fix(vapor): create dynamic component element fallbacks in the template namespace (#15451)
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformElement.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/transformElement.spec.ts
  packages/compiler-vapor/src/generators/component.ts
  packages/compiler-vapor/src/ir/index.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
  packages/runtime-vapor/__tests__/apiCreateDynamicComponent.spec.ts
  packages/runtime-vapor/src/apiCreateDynamicComponent.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/dom/node.ts
  packages/shared/src/vaporFlags.ts
Due: packages, shared

fix(compiler-vapor): resolve is="vue:" on native tags as the component (#15450)
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformElement.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/transformElement.spec.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
  packages/runtime-vapor/__tests__/component.spec.ts
Due: packages

refactor(vapor): key dynamic component branches in place instead of a keyed fragment (#15452)
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformKey.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/transformKey.spec.ts
  packages/compiler-vapor/src/generators/component.ts
  packages/compiler-vapor/src/ir/index.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
  packages/compiler-vapor/src/transforms/transformKey.ts
  packages/compiler-vapor/src/utils.ts
  packages/runtime-vapor/__tests__/apiCreateDynamicComponent.spec.ts
  packages/runtime-vapor/__tests__/hydration/interopDynamic.spec.ts
  packages/runtime-vapor/src/apiCreateDynamicComponent.ts
  packages/runtime-vapor/src/components/KeepAlive.ts
  packages/runtime-vapor/src/components/Transition.ts
  packages/runtime-vapor/src/fragment.ts
  packages/runtime-vapor/src/transition.ts
Due: packages

refactor(runtime-vapor): mount dynamic component vnodes through the interop and warn on invalid types (#15453)
  packages/runtime-core/src/apiCreateApp.ts
  packages/runtime-vapor/__tests__/apiCreateDynamicComponent.spec.ts
  packages/runtime-vapor/src/apiCreateDynamicComponent.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages, runtime-core

fix(runtime-vapor): merge declared class, style and event props across sources
  packages/runtime-vapor/__tests__/componentProps.spec.ts
  packages/runtime-vapor/src/componentProps.ts
Due: packages

Path conditions:
  packages: any of: packages/
  compiler-core: any of: packages/compiler-core/
  compiler-dom: any of: packages/compiler-dom/
  compiler-sfc: any of: packages/compiler-sfc/
  reactivity: any of: packages/reactivity/
  reactivity-transform: any of: packages/reactivity-transform/
  runtime-core: any of: packages/runtime-core/
  runtime-dom: any of: packages/runtime-dom/
  runtime-test: any of: packages/runtime-test/
  server-renderer: any of: packages/server-renderer/
  sfc-playground: any of: packages/sfc-playground/
  shared: any of: packages/shared/
  size-check: any of: packages/size-check/
  template-explorer: any of: packages/template-explorer/
  vue: any of: packages/vue/
  vue-compat: any of: packages/vue-compat/
