Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

codecov.yml:

coverage:
  status:
    project:
      default:
        # Status checks are set to be non-blocking
        informational: true
    patch:
      default:
        # Status checks are set to be non-blocking
        informational: true

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: packages
      paths:
        - packages/
    - component_id: compiler-core
      paths:
        - packages/compiler-core/
    - component_id: compiler-dom
      paths:
        - packages/compiler-dom/
    - component_id: compiler-sfc
      paths:
        - packages/compiler-sfc/
    - component_id: compiler-sfc
      paths:
        - packages/compiler-sfc/
    - component_id: reactivity
      paths:
        - packages/reactivity/
    - component_id: reactivity-transform
      paths:
        - packages/reactivity-transform/
    - component_id: runtime-core
      paths:
        - packages/runtime-core/
    - component_id: runtime-dom
      paths:
        - packages/runtime-dom/
    - component_id: runtime-test
      paths:
        - packages/runtime-test/
    - component_id: server-renderer
      paths:
        - packages/server-renderer/
    - component_id: sfc-playground
      paths:
        - packages/sfc-playground/
    - component_id: shared
      paths:
        - packages/shared/
    - component_id: size-check
      paths:
        - packages/size-check/
    - component_id: template-explorer
      paths:
        - packages/template-explorer/
    - component_id: vue
      paths:
        - packages/vue/
    - component_id: vue-compat
      paths:
        - packages/vue-compat/

fix(ssr): prevent watch() from firing after async setup await
  packages/runtime-core/src/apiSetupHelpers.ts
  packages/runtime-core/src/component.ts
  packages/server-renderer/__tests__/ssrWatch.spec.ts
Due: packages, runtime-core, server-renderer

test: add more test
  packages/server-renderer/__tests__/ssrWatch.spec.ts
Due: packages, server-renderer

fix(ssr): prevent watch from firing after async setup await (#14547)
  packages/runtime-core/src/apiSetupHelpers.ts
  packages/runtime-core/src/component.ts
  packages/server-renderer/__tests__/ssrWatch.spec.ts
Due: packages, runtime-core, server-renderer

release: v3.5.30
  CHANGELOG.md
  package.json
  packages/compiler-core/package.json
  packages/compiler-dom/package.json
  packages/compiler-sfc/package.json
  packages/compiler-ssr/package.json
  packages/reactivity/package.json
  packages/runtime-core/package.json
  packages/runtime-dom/package.json
  packages/server-renderer/package.json
  packages/shared/package.json
  packages/vue-compat/package.json
  packages/vue/package.json
Due: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, runtime-core, runtime-dom, server-renderer, shared, vue, vue-compat

fix(hydration): improve multi-root VDOM hydration handling and introduce consumeFragmentAnchor utility
  packages/runtime-vapor/__tests__/hydration.spec.ts
  packages/runtime-vapor/src/apiCreateDynamicComponent.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/dom/hydration.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(hydration): enhance consumeFragmentAnchor to handle nested boundaries correctly
  packages/runtime-vapor/src/dom/hydration.ts
Due: packages

chore: update
  packages/runtime-vapor/src/dom/hydration.ts
Due: packages

fix(compiler-sfc): limit hash-only asset imports to built-in tags
  packages/compiler-sfc/__tests__/templateTransformAssetUrl.spec.ts
  packages/compiler-sfc/src/template/transformAssetUrl.ts
Due: packages, compiler-sfc

fix(server-renderer): stop SSR component effect scopes after each render request
  packages/server-renderer/__tests__/render.spec.ts
  packages/server-renderer/src/render.ts
  packages/server-renderer/src/renderToStream.ts
  packages/server-renderer/src/renderToString.ts
Due: packages, server-renderer

fix(ssr): wrap renderComponentVNode in Promise.then to catch sync errors
  packages/server-renderer/src/renderToStream.ts
Due: packages, server-renderer

fix(server-renderer): finalize SSR stream cleanup and clear watcher handles
  packages/server-renderer/src/renderToStream.ts
Due: packages, server-renderer

test(hydration): add test for slot Fragment as first child of DynamicFragment with trailing sibling
  packages/runtime-vapor/__tests__/hydration.spec.ts
Due: packages

refactor(vapor): centralize hydration boundary handling for fragment interop
  packages/runtime-vapor/__tests__/hydration.spec.ts
  packages/runtime-vapor/src/apiCreateDynamicComponent.ts
  packages/runtime-vapor/src/apiCreateFor.ts
  packages/runtime-vapor/src/block.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/dom/hydration.ts
  packages/runtime-vapor/src/fragment.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(hydration): refactor hydration entry management to use a context-based approach
  packages/runtime-vapor/src/dom/hydration.ts
Due: packages

fix(hydration): update hydration boundary interfaces and improve fragment handling
  packages/runtime-vapor/__tests__/hydration.spec.ts
  packages/runtime-vapor/src/dom/hydration.ts
  packages/runtime-vapor/src/fragment.ts
Due: packages

fix(hydration): simplify hydration function by restructuring try-finally blocks
  packages/runtime-vapor/src/dom/hydration.ts
Due: packages

fix(compiler-sfc): keep leading universal selector before non-space combinators
  packages/compiler-sfc/__tests__/compileStyle.spec.ts
  packages/compiler-sfc/src/style/pluginScoped.ts
Due: packages, compiler-sfc

fix(compiler-sfc): keep leading universal selector in nested rules
  packages/compiler-sfc/__tests__/compileStyle.spec.ts
  packages/compiler-sfc/src/style/pluginScoped.ts
Due: packages, compiler-sfc

refactor(compiler-sfc): simplify leading universal selector condition
  packages/compiler-sfc/src/style/pluginScoped.ts
Due: packages, compiler-sfc

fix(compiler-sfc): walk ancestor chain to detect CSS nesting for leading universal selector
  packages/compiler-sfc/__tests__/compileStyle.spec.ts
  packages/compiler-sfc/src/style/pluginScoped.ts
Due: packages, compiler-sfc

refactor(vapor): remove hydration boundary state in favor of owner-local hydration
  packages/compiler-sfc/__tests__/compileScript.spec.ts
  packages/compiler-sfc/src/compileScript.ts
  packages/compiler-sfc/src/compileTemplate.ts
  packages/compiler-vapor/__tests__/__snapshots__/compile.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/TransformTransition.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/logicalIndex.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformChildren.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformKey.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformTemplateRef.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vIf.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vOnce.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vSlot.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vIf.spec.ts
  packages/compiler-vapor/src/generate.ts
  packages/compiler-vapor/src/generators/for.ts
  packages/compiler-vapor/src/generators/if.ts
  packages/compiler-vapor/src/ir/index.ts
  packages/compiler-vapor/src/transforms/vIf.ts
  packages/runtime-core/src/component.ts
  packages/runtime-vapor/src/apiCreateDynamicComponent.ts
  packages/runtime-vapor/src/apiCreateFor.ts
  packages/runtime-vapor/src/apiCreateIf.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/componentSlots.ts
  packages/runtime-vapor/src/dom/hydration.ts
  packages/runtime-vapor/src/fragment.ts
  packages/runtime-vapor/src/vdomInterop.ts
  packages/shared/src/index.ts
  packages/shared/src/vaporFlags.ts
Due: packages, compiler-sfc, runtime-core, shared

fix(runtime-core): prevent removing undefined event handlers in mergeProps
  packages/runtime-core/__tests__/vnode.spec.ts
  packages/runtime-core/src/vnode.ts
Due: packages, runtime-core

fix(hydration): unify shape handling by renaming branchShape to blockShape and updating related logic
  packages/compiler-core/src/codegen.ts
  packages/compiler-sfc/src/compileScript.ts
  packages/compiler-sfc/src/compileTemplate.ts
  packages/compiler-vapor/__tests__/transforms/vIf.spec.ts
  packages/compiler-vapor/src/generators/if.ts
  packages/compiler-vapor/src/ir/index.ts
  packages/compiler-vapor/src/transforms/vIf.ts
  packages/runtime-vapor/src/apiCreateDynamicComponent.ts
  packages/runtime-vapor/src/apiCreateIf.ts
  packages/runtime-vapor/src/dom/hydration.ts
  packages/runtime-vapor/src/fragment.ts
Due: packages, compiler-core, compiler-sfc

fix(hydration): streamline hydration logic by simplifying locateHydrationNode and updating fragment handling
  packages/compiler-vapor/src/transforms/vIf.ts
  packages/runtime-vapor/src/dom/hydration.ts
  packages/runtime-vapor/src/fragment.ts
Due: packages

fix(hydration): update snapshot tests and improve block shape handling in hydration logic
  packages/compiler-vapor/__tests__/__snapshots__/compile.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/TransformTransition.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/logicalIndex.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformChildren.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformKey.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformTemplateRef.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vIf.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vOnce.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vSlot.spec.ts.snap
  packages/compiler-vapor/src/generate.ts
  packages/compiler-vapor/src/generators/if.ts
  packages/compiler-vapor/src/transforms/vIf.ts
  packages/compiler-vapor/src/utils.ts
  packages/runtime-vapor/__tests__/components/KeepAlive.spec.ts
  packages/runtime-vapor/__tests__/helpers/useCssVars.spec.ts
  packages/runtime-vapor/__tests__/if.spec.ts
  packages/runtime-vapor/src/apiCreateIf.ts
Due: packages

docs(vIf): add comments to clarify block shape encoding logic
  packages/compiler-vapor/src/transforms/vIf.ts
Due: packages

fix(hydration): optimize block shape handling in createIf function
  packages/runtime-vapor/src/apiCreateIf.ts
Due: packages

fix(hydration): enhance hydration logic by refining locateHydrationNode usage and removing obsolete functions
  packages/runtime-vapor/src/apiCreateDynamicComponent.ts
  packages/runtime-vapor/src/apiCreateIf.ts
  packages/runtime-vapor/src/componentSlots.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(hydration): improve hydration logic in createIf and DynamicFragment constructors
  packages/runtime-vapor/src/apiCreateIf.ts
  packages/runtime-vapor/src/fragment.ts
Due: packages

fix(hydration): update slot handling in DynamicFragment and SlotFragment for improved hydration logic
  packages/runtime-vapor/__tests__/hydration.spec.ts
  packages/runtime-vapor/src/componentSlots.ts
  packages/runtime-vapor/src/fragment.ts
Due: packages

fix(hydration): add comment to clarify handling of forwarded slots in DynamicFragment
  packages/runtime-vapor/src/fragment.ts
Due: packages

refactor(sfc): infer vapor multi-root metadata from template analysis
  packages/compiler-core/src/codegen.ts
  packages/compiler-sfc/__tests__/compileScript.spec.ts
  packages/compiler-sfc/__tests__/compileTemplate.spec.ts
  packages/compiler-sfc/src/compileScript.ts
  packages/compiler-sfc/src/compileTemplate.ts
  packages/compiler-sfc/src/template/templateUtils.ts
  packages/compiler-vapor/src/generate.ts
  packages/runtime-core/src/component.ts
  packages/runtime-vapor/src/apiCreateDynamicComponent.ts
  packages/runtime-vapor/src/component.ts
Due: packages, compiler-core, compiler-sfc, runtime-core

wip: oxlint -> vp lint, oxfmt -> vp fmt
  .oxfmtrc.jsonc
  .oxlintrc.json
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  vite.config.ts
Due: none

wip: vitest -> vp test
  .github/contributing.md
  .vscode/launch.json
  package.json
  packages-private/vapor-e2e-test/package.json
  pnpm-lock.yaml
  vite.config.ts
  vitest.config.ts
Due: none

wip: run-s -> vp run
  .github/contributing.md
  package.json
  vite.config.ts
Due: none

wip: npx -> vpx
  package.json
Due: none

wip: use vp
  package.json
Due: none

wip: use vite-plus
  packages-private/sfc-playground/src/download/template/vite.config.js
  packages-private/vapor-e2e-test/vite.config.ts
  packages-private/vite-debug/vite.config.ts
Due: none

wip: ci
  .github/workflows/autofix.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/size-data.yml
  .github/workflows/size-report.yml
  .github/workflows/test.yml
  scripts/release.js
  scripts/verify-treeshaking.js
Due: none

wip: use viteplus
  packages-private/sfc-playground/package.json
  packages-private/sfc-playground/vite.config.ts
Due: none
