Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

Update packages/compiler-vapor/src/transforms/transformElement.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
Due: packages

chore: use isComponent
  packages/compiler-vapor/src/transforms/transformElement.ts
Due: packages

fix: use getIndex
  packages/compiler-vapor/src/transform.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
Due: packages

chore: add test
  packages/compiler-vapor/__tests__/__snapshots__/compile.spec.ts.snap
  packages/compiler-vapor/__tests__/compile.spec.ts
  packages/compiler-vapor/src/compile.ts
  packages/compiler-vapor/src/transform.ts
Due: packages

fix(custom-element): inject child style before parent component's style
  packages/runtime-core/src/component.ts
  packages/runtime-core/src/renderer.ts
  packages/runtime-dom/__tests__/customElement.spec.ts
  packages/runtime-dom/src/apiCustomElement.ts
Due: packages, runtime-core, runtime-dom

wip: save
  packages/runtime-dom/__tests__/customElement.spec.ts
  packages/runtime-dom/src/apiCustomElement.ts
Due: packages, runtime-dom

chore: update test
  packages/compiler-vapor/__tests__/__snapshots__/compile.spec.ts.snap
  packages/compiler-vapor/__tests__/compile.spec.ts
Due: packages

fix: use `target[key]` instead of `oldValue` in readonly warning
  packages/reactivity/src/baseHandlers.ts
Due: packages, reactivity

fix(compat): watch arrays as deep: 1
  packages/reactivity/src/watch.ts
  packages/runtime-core/src/apiWatch.ts
  packages/runtime-core/src/componentOptions.ts
  packages/vue-compat/__tests__/misc.spec.ts
Due: packages, reactivity, runtime-core, vue-compat

fix: prevent AssignmentExpression
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformTemplateRef.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/transformTemplateRef.spec.ts
  packages/compiler-vapor/src/generators/expression.ts
Due: packages

chore: update
  packages/compiler-dom/__tests__/transforms/__snapshots__/vModel.spec.ts.snap
  packages/compiler-dom/__tests__/transforms/vModel.spec.ts
Due: packages, compiler-dom

feat: support browser for walkIdentifiers
  packages/compiler-core/src/babelUtils.ts
Due: packages, compiler-core

chore: update
  packages/runtime-core/src/renderer.ts
Due: packages, runtime-core

fix(vapor): special handling vapor props in vdom interop
  packages-private/vapor-e2e-test/interop/VaporComp.vue
  packages/runtime-core/src/vnode.ts
  packages/runtime-vapor/src/componentProps.ts
Due: packages, runtime-core

wip: handling vapor props
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(vapor): special handling vapor props in vdom interop
  packages-private/vapor-e2e-test/interop/VaporComp.vue
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(vapor): ensure props are shallow reactive to prevent DEV warnings
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

wip: handling vapor props
  packages/runtime-core/src/vnode.ts
  packages/runtime-vapor/src/componentProps.ts
Due: packages, runtime-core

fix(runtime-vapor): prevent mounting functional components as virtual DOM
  packages/runtime-vapor/src/component.ts
Due: packages

release: v3.5.15
  CHANGELOG.md
  package.json
  packages/compiler-core/package.json
  packages/compiler-dom/package.json
  packages/compiler-sfc/package.json
  packages/compiler-ssr/package.json
  packages/reactivity/package.json
  packages/runtime-core/package.json
  packages/runtime-dom/package.json
  packages/server-renderer/package.json
  packages/shared/package.json
  packages/vue-compat/package.json
  packages/vue/package.json
Due: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, runtime-core, runtime-dom, server-renderer, shared, vue, vue-compat

fix(runtime-vapor): should not warn invalid watch source when directly watching props
  packages/runtime-vapor/__tests__/componentProps.spec.ts
  packages/runtime-vapor/src/componentProps.ts
Due: packages

fix(compiler-sfc): don't inject scope id before child combinator >
  packages/compiler-sfc/__tests__/compileStyle.spec.ts
  packages/compiler-sfc/src/style/pluginScoped.ts
Due: packages, compiler-sfc

fix(compat): fix compat handler of draggable
  packages/runtime-dom/src/modules/attrs.ts
Due: packages, runtime-dom

chore: testcase
  packages/vue-compat/__tests__/global.spec.ts
Due: packages, vue-compat

chore: update
  packages/vue-compat/__tests__/global.spec.ts
Due: packages, vue-compat

chore: update
  packages/runtime-dom/src/modules/attrs.ts
Due: packages, runtime-dom

chore: update
  packages/runtime-dom/src/modules/attrs.ts
  packages/vue-compat/__tests__/global.spec.ts
  packages/vue-compat/__tests__/misc.spec.ts
Due: packages, runtime-dom, vue-compat

chore: update
  packages/vue-compat/__tests__/misc.spec.ts
Due: packages, vue-compat

Revert "fix(compiler-sfc): add error handling for defineModel() without varia…"
  packages/compiler-sfc/__tests__/compileScript.spec.ts
  packages/compiler-sfc/__tests__/compileScript/defineModel.spec.ts
  packages/compiler-sfc/src/script/defineModel.ts
Due: packages, compiler-sfc

Revert "fix(compiler-sfc): add error handling for defineModel() without varia…" (#13390)
  packages/compiler-sfc/__tests__/compileScript.spec.ts
  packages/compiler-sfc/__tests__/compileScript/defineModel.spec.ts
  packages/compiler-sfc/src/script/defineModel.ts
Due: packages, compiler-sfc

Improve code quality
  changelogs/CHANGELOG-3.0.md
  changelogs/CHANGELOG-3.1.md
  changelogs/CHANGELOG-3.2.md
  changelogs/CHANGELOG-3.3.md
  changelogs/CHANGELOG-3.4.md
  packages/reactivity/__tests__/reactive.spec.ts
  packages/runtime-core/__tests__/apiWatch.spec.ts
  packages/vue/__tests__/e2e/Transition.spec.ts
Due: packages, reactivity, runtime-core, vue

Fix tests
  packages/reactivity/__tests__/reactive.spec.ts
Due: packages, reactivity

Improve code security
  packages/compiler-core/src/validateExpression.ts
Due: packages, compiler-core

fix(compiler-vapor): typed expressions should be wrapped in parentheses
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vOn.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vOn.spec.ts
  packages/compiler-vapor/src/generators/expression.ts
Due: packages

fix(hydration): handle empty content in Transition appear edge case
  packages/runtime-core/src/hydration.ts
Due: packages, runtime-core

test: add test
  packages/runtime-core/__tests__/hydration.spec.ts
Due: packages, runtime-core

chore: fix typos
  changelogs/CHANGELOG-3.0.md
  changelogs/CHANGELOG-3.1.md
  changelogs/CHANGELOG-3.2.md
  changelogs/CHANGELOG-3.3.md
  changelogs/CHANGELOG-3.4.md
  packages/reactivity/__tests__/reactive.spec.ts
  packages/runtime-core/__tests__/apiWatch.spec.ts
  packages/vue/__tests__/e2e/Transition.spec.ts
Due: packages, reactivity, runtime-core, vue

fix(compiler-core): typed expressions should be wrapped in parentheses
  packages/compiler-core/__tests__/transforms/__snapshots__/transformExpressions.spec.ts.snap
  packages/compiler-core/__tests__/transforms/transformExpressions.spec.ts
  packages/compiler-core/src/transforms/transformExpression.ts
Due: packages, compiler-core

chore: update
  packages/compiler-vapor/src/generators/expression.ts
Due: packages

chore: tweaks
  packages/compiler-sfc/src/style/pluginScoped.ts
Due: packages, compiler-sfc

Path conditions:
  packages: any of: packages/
  compiler-core: any of: packages/compiler-core/
  compiler-dom: any of: packages/compiler-dom/
  compiler-sfc: any of: packages/compiler-sfc/
  reactivity: any of: packages/reactivity/
  reactivity-transform: any of: packages/reactivity-transform/
  runtime-core: any of: packages/runtime-core/
  runtime-dom: any of: packages/runtime-dom/
  runtime-test: any of: packages/runtime-test/
  server-renderer: any of: packages/server-renderer/
  sfc-playground: any of: packages/sfc-playground/
  shared: any of: packages/shared/
  size-check: any of: packages/size-check/
  template-explorer: any of: packages/template-explorer/
  vue: any of: packages/vue/
  vue-compat: any of: packages/vue-compat/
