Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

fix(runtime-vapor): clean event handler in current effect
  packages/runtime-vapor/src/dom/event.ts
Due: packages

refactor: delegate set modelValue event
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vModel.spec.ts.snap
  packages/compiler-vapor/src/generators/modelValue.ts
  packages/runtime-vapor/src/directives/vModel.ts
Due: packages

Update compileScript.ts
  packages/compiler-sfc/src/compileScript.ts
Due: packages, compiler-sfc

chore: adjust to avoid breaking snapshots
  packages/compiler-sfc/src/compileScript.ts
Due: packages, compiler-sfc

fix(compiler-sfc): use options module name if options provide runtimeModuleName options (#10457)
  packages/compiler-sfc/__tests__/__snapshots__/compileScript.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript.spec.ts
  packages/compiler-sfc/src/compileScript.ts
Due: packages, compiler-sfc

fix(reactiviy): fix arrays don't reactive when mutate index
  packages/reactivity/__tests__/reactiveArray.spec.ts
  packages/reactivity/src/reactiveEffect.ts
Due: packages, reactivity

feat: remove integer judgement
  packages/reactivity/src/reactiveEffect.ts
Due: packages, reactivity

types: fix `scroll` event type; add support for `scrollend` (#10443)
  packages/runtime-dom/src/jsx.ts
Due: packages, runtime-dom

ci: upgrade setup pnpm
  .github/workflows/autofix.yml
  .github/workflows/canary-minor.yml
  .github/workflows/canary.yml
  .github/workflows/ci.yml
  .github/workflows/size-data.yml
  .github/workflows/size-report.yml
Due: none

Update package.json
  packages/runtime-dom/package.json
Due: packages, runtime-dom

fix: shorthand of :is doesn't work in dynamic component
  packages/compiler-core/__tests__/transforms/transformElement.spec.ts
  packages/compiler-core/src/transforms/transformElement.ts
  packages/compiler-core/src/utils.ts
Due: packages, compiler-core

fix: shorthand of :is doesn't work in dynamic component
  packages/compiler-core/src/utils.ts
Due: packages, compiler-core

fix(repl): Avoid duplicate formatter mounts
  packages/runtime-core/src/customFormatter.ts
Due: packages, runtime-core

refactor: remove getCurrentEffect, add effect flag for on
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vOn.spec.ts.snap
  packages/compiler-vapor/src/generators/event.ts
  packages/compiler-vapor/src/ir.ts
  packages/compiler-vapor/src/transforms/vOn.ts
  packages/reactivity/src/baseWatch.ts
  packages/reactivity/src/effect.ts
  packages/reactivity/src/index.ts
  packages/runtime-vapor/src/dom/event.ts
  packages/runtime-vapor/src/index.ts
Due: packages, reactivity

refactor(runtime-vapor): don't record metadata for `on`
  packages/runtime-vapor/__tests__/directives/vModel.spec.ts
  packages/runtime-vapor/src/dom/event.ts
Due: packages

refactor: inline recordEffectScope
  packages/reactivity/src/effect.ts
  packages/reactivity/src/effectScope.ts
Due: packages, reactivity

feat(reactivity): add failSilently argument for onScopeDispose
  packages/reactivity/src/effectScope.ts
Due: packages, reactivity

chore: remove duplicate RouterView
  packages/runtime-core/__tests__/components/Suspense.spec.ts
Due: packages, runtime-core

fix(shared): `search` is a native HTML element
  packages/shared/src/domTagConfig.ts
Due: packages, shared

fix: fn添加数组校验
  packages/runtime-core/src/errorHandling.ts
Due: packages, runtime-core

fix(runtime-core): expose type using generics
  packages/runtime-core/src/component.ts
Due: packages, runtime-core

fix(runtime-core): optimize judgment
  packages/runtime-core/src/components/BaseTransition.ts
Due: packages, runtime-core

fix(reactivity): fix the execution sequence of onTrigger in effect
  packages/reactivity/__tests__/effect.spec.ts
  packages/reactivity/src/dep.ts
Due: packages, reactivity

fix(compiler-vapor): member expression with assignment (#146)
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vModel.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vModel.spec.ts
  packages/compiler-vapor/src/generators/expression.ts
Due: packages

refactor(compiler-vapor): simplify genExpression
  packages/compiler-vapor/src/generators/expression.ts
Due: packages

chore: optimize fn name of find shorthand prop
  packages/compiler-core/src/transforms/transformElement.ts
  packages/compiler-core/src/utils.ts
Due: packages, compiler-core

docs: update Node.js requirements as the template now uses Vite 5
  packages/sfc-playground/src/download/template/README.md
Due: packages, sfc-playground

chore(playground): save `tsconfig.json` to the root directory; update Node.js version requirement (#9086)
  packages/sfc-playground/src/download/download.ts
  packages/sfc-playground/src/download/template/README.md
Due: packages, sfc-playground

fix(reactivity): computed should not be detected as true by isProxy
  packages/reactivity/src/reactive.ts
Due: packages, reactivity

test(reactivity): add test
  packages/reactivity/__tests__/reactive.spec.ts
Due: packages, reactivity

fix(runtime-dom): equal value with a leading 0 do not trigger update
  packages/runtime-dom/src/directives/vModel.ts
Due: packages, runtime-dom

test(runtime-dom): add test
  packages/runtime-dom/__tests__/directives/vModel.spec.ts
Due: packages, runtime-dom

fix(repl): updated code
  packages/runtime-core/src/customFormatter.ts
  packages/sfc-playground/src/App.vue
Due: packages, runtime-core, sfc-playground

chore: remove `__NO_SIDE_EFFECTS__` comment from createInstrumentationGetter
  packages/reactivity/src/collectionHandlers.ts
Due: packages, reactivity

ci: enable ci for minor branch
  .github/workflows/ci.yml
  .github/workflows/size-data.yml
Due: none

perf: add `__NO_SIDE_EFFECTS__` comments (#9053)
  packages/runtime-core/src/devtools.ts
  packages/server-renderer/src/helpers/ssrRenderAttrs.ts
  packages/shared/src/makeMap.ts
Due: packages, runtime-core, server-renderer, shared

feat: defineDirective
  packages/compiler-sfc/__tests__/compileScript/__snapshots__/defineDirective.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript/defineDirective.spec.ts
  packages/compiler-sfc/src/compileScript.ts
  packages/compiler-sfc/src/script/defineDirective.ts
  packages/runtime-core/src/apiSetupHelpers.ts
Due: packages, compiler-sfc, runtime-core

types: make instrumentations' types more succinct (#8558)
  packages/reactivity/src/collectionHandlers.ts
Due: packages, reactivity

feat: comment
  packages/compiler-sfc/src/compileScript.ts
Due: packages, compiler-sfc

Path conditions:
  packages: any of: packages/
  compiler-core: any of: packages/compiler-core/
  compiler-dom: any of: packages/compiler-dom/
  compiler-sfc: any of: packages/compiler-sfc/
  reactivity: any of: packages/reactivity/
  reactivity-transform: any of: packages/reactivity-transform/
  runtime-core: any of: packages/runtime-core/
  runtime-dom: any of: packages/runtime-dom/
  runtime-test: any of: packages/runtime-test/
  server-renderer: any of: packages/server-renderer/
  sfc-playground: any of: packages/sfc-playground/
  shared: any of: packages/shared/
  size-check: any of: packages/size-check/
  template-explorer: any of: packages/template-explorer/
  vue: any of: packages/vue/
  vue-compat: any of: packages/vue-compat/
