Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

codecov.yml:

coverage:
  status:
    project:
      default:
        # Status checks are set to be non-blocking
        informational: true
    patch:
      default:
        # Status checks are set to be non-blocking
        informational: true

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: packages
      paths:
        - packages/
    - component_id: compiler-core
      paths:
        - packages/compiler-core/
    - component_id: compiler-dom
      paths:
        - packages/compiler-dom/
    - component_id: compiler-sfc
      paths:
        - packages/compiler-sfc/
    - component_id: compiler-sfc
      paths:
        - packages/compiler-sfc/
    - component_id: reactivity
      paths:
        - packages/reactivity/
    - component_id: reactivity-transform
      paths:
        - packages/reactivity-transform/
    - component_id: runtime-core
      paths:
        - packages/runtime-core/
    - component_id: runtime-dom
      paths:
        - packages/runtime-dom/
    - component_id: runtime-test
      paths:
        - packages/runtime-test/
    - component_id: server-renderer
      paths:
        - packages/server-renderer/
    - component_id: sfc-playground
      paths:
        - packages/sfc-playground/
    - component_id: shared
      paths:
        - packages/shared/
    - component_id: size-check
      paths:
        - packages/size-check/
    - component_id: template-explorer
      paths:
        - packages/template-explorer/
    - component_id: vue
      paths:
        - packages/vue/
    - component_id: vue-compat
      paths:
        - packages/vue-compat/

chore: more descriptive eslint error messages for restricted syntax
  .eslintrc.cjs
  rollup.config.js
Due: none

Update README.md
  README.md
Due: none

chore: add download badge (#8550) [ci skip]
  README.md
Due: none

fix(compile-sfc): analyze v-bind shorthand usage in template (#10518)
  packages/compiler-sfc/__tests__/compileScript/__snapshots__/importUsageCheck.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript/importUsageCheck.spec.ts
  packages/compiler-sfc/src/script/importUsageCheck.ts
Due: packages, compiler-sfc

chore: update to ESLint 9 (step 1)
  package.json
  pnpm-lock.yaml
  scripts/release.js
Due: none

chore: migrate `eslint-plugin-i` to `eslint-plugin-import-x`
  .eslintrc.cjs
  package.json
  pnpm-lock.yaml
Due: none

chore: migrate from eslint-plugin-jest to eslint-plugin-vitest
  .eslintrc.cjs
  package.json
  packages/compiler-core/__tests__/parse.spec.ts
  pnpm-lock.yaml
Due: packages, compiler-core

fix(reactivity): fix hasOwnProperty key coercion edge cases
  packages/reactivity/__tests__/reactive.spec.ts
  packages/reactivity/src/baseHandlers.ts
Due: packages, reactivity

fix(compiler-core): fix v-bind shorthand for component :is
  packages/compiler-core/__tests__/transforms/transformElement.spec.ts
  packages/compiler-core/src/transforms/transformElement.ts
Due: packages, compiler-core

fix(compat): fix $options mutation + adjust private API initialization
  packages/runtime-core/src/compat/instance.ts
  packages/runtime-core/src/component.ts
  packages/vue-compat/__tests__/instance.spec.ts
Due: packages, runtime-core, vue-compat

fix(compiler-sfc): fix universal selector scope (#10551)
  packages/compiler-sfc/__tests__/compileStyle.spec.ts
  packages/compiler-sfc/src/style/pluginScoped.ts
Due: packages, compiler-sfc

Update useCssVars.ts
  packages/runtime-dom/src/helpers/useCssVars.ts
Due: packages, runtime-dom

fix(runtime-dom): fix css v-bind for suspensed components (#8523)
  packages/runtime-dom/__tests__/helpers/useCssVars.spec.ts
  packages/runtime-dom/src/helpers/useCssVars.ts
Due: packages, runtime-dom

fix(compiler-sfc): fix defineModel coercion for boolean + string union types (#9603)
  packages/compiler-sfc/__tests__/compileScript/__snapshots__/defineModel.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript/defineModel.spec.ts
  packages/compiler-sfc/src/script/defineModel.ts
Due: packages, compiler-sfc

fix(hydration): properly handle optimized mode during hydrate node (#10638)
  packages/runtime-core/__tests__/hydration.spec.ts
  packages/runtime-core/src/hydration.ts
Due: packages, runtime-core

fix(ssr): don't render v-if comments in TransitionGroup (#6732)
  packages/compiler-ssr/__tests__/ssrTransitionGroup.spec.ts
  packages/compiler-ssr/src/ssrCodegenTransform.ts
  packages/compiler-ssr/src/transforms/ssrTransformTransitionGroup.ts
  packages/compiler-ssr/src/transforms/ssrVIf.ts
Due: packages

Update vModel.ts
  packages/runtime-dom/src/directives/vModel.ts
Due: packages, runtime-dom

fix(runtime-dom): force update v-model number with leading 0 (#10506)
  packages/runtime-dom/__tests__/directives/vModel.spec.ts
  packages/runtime-dom/src/directives/vModel.ts
Due: packages, runtime-dom

refactor: make sanitize dev only
  packages/runtime-dom/__tests__/patchEvents.spec.ts
  packages/runtime-dom/src/modules/events.ts
Due: packages, runtime-dom

fix(runtime-dom): sanitize wrongly passed string value as event handler (#8953)
  packages/runtime-dom/__tests__/patchEvents.spec.ts
  packages/runtime-dom/src/modules/events.ts
Due: packages, runtime-dom

Update errorHandling.ts
  packages/runtime-core/src/errorHandling.ts
Due: packages, runtime-core

fix(runtime-core): handle invalid values in callWithAsyncErrorHandling
  packages/runtime-core/src/errorHandling.ts
Due: packages, runtime-core

chore: $ pnpm i
  pnpm-lock.yaml
Due: none

fix(Transition): ensure the KeepAlive children unmount w/ out-in mode (#10632)
  packages/runtime-core/__tests__/components/BaseTransition.spec.ts
  packages/runtime-core/src/components/KeepAlive.ts
Due: packages, runtime-core

fix(types): avoid merging object union types when using withDefaults (#10596)
  packages/dts-test/setupHelpers.test-d.ts
  packages/runtime-core/src/apiSetupHelpers.ts
Due: packages, runtime-core

fix(reactivity): computed should not be detected as true by isProxy (#10401)
  packages/reactivity/__tests__/reactive.spec.ts
  packages/reactivity/src/reactive.ts
Due: packages, reactivity

chore: remove unnecessary boolean casting
  packages/runtime-core/src/helpers/renderSlot.ts
Due: packages, runtime-core

chore: improve event value validation message
  packages/runtime-dom/__tests__/patchEvents.spec.ts
  packages/runtime-dom/src/modules/events.ts
Due: packages, runtime-dom

release: v3.4.22
  CHANGELOG.md
  package.json
  packages/compiler-core/package.json
  packages/compiler-dom/package.json
  packages/compiler-sfc/package.json
  packages/compiler-ssr/package.json
  packages/reactivity/package.json
  packages/runtime-core/package.json
  packages/runtime-dom/package.json
  packages/server-renderer/package.json
  packages/shared/package.json
  packages/vue-compat/package.json
  packages/vue/package.json
Due: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, runtime-core, runtime-dom, server-renderer, shared, vue, vue-compat

fix(compiler-core): Refs inside v-for are not applied through v-bind
  packages/compiler-core/src/transforms/transformElement.ts
Due: packages, compiler-core

chore: completely migrate to eslint flat config
  .eslintignore
  .eslintrc.cjs
  eslint.config.js
  package.json
  packages/runtime-core/src/components/Suspense.ts
  pnpm-lock.yaml
Due: packages, runtime-core

fix: update renovate config because the linter deps changed
  .github/renovate.json5
Due: none

chore: eslint-define-config isn't used at this moment
  package.json
  pnpm-lock.yaml
Due: none

refactor: replace `Object.assign` with `extend`
  packages/runtime-core/src/componentPublicInstance.ts
Due: packages, runtime-core

Update resolveType.ts
  packages/compiler-sfc/src/script/resolveType.ts
Due: packages, compiler-sfc

chore: cross-env is no longer needed, either
  package.json
  pnpm-lock.yaml
Due: none

fix(compiler-vapor): v-on for component support `$event` argument (#177)
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformElement.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/transformElement.spec.ts
  packages/compiler-vapor/src/generators/component.ts
  packages/compiler-vapor/src/generators/event.ts
  packages/compiler-vapor/src/generators/prop.ts
  packages/compiler-vapor/src/transform.ts
  packages/compiler-vapor/src/transforms/vOn.ts
Due: packages

fix(runtime-vapor): detach effect scope & component instance (#174)
  packages/runtime-vapor/__tests__/dom/prop.spec.ts
  packages/runtime-vapor/__tests__/renderEffect.spec.ts
  packages/runtime-vapor/src/apiLifecycle.ts
  packages/runtime-vapor/src/apiRender.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/componentLifecycle.ts
  packages/runtime-vapor/src/componentProps.ts
  packages/runtime-vapor/src/renderEffect.ts
Due: packages

fix(runtime-core): Revert to using InternalObjectKey for normalized slots to prevent reassigning _ctx
  packages/runtime-core/src/componentSlots.ts
  packages/runtime-core/src/vnode.ts
Due: packages, runtime-core
