Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

fix(runtime-vapor): preserve move semantics for VDOM roots (#15191)
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/block.ts
  packages/runtime-vapor/src/fragment.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(compiler-vapor): escape constant v-text in templates
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vText.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vText.spec.ts
  packages/compiler-vapor/src/transforms/vText.ts
Due: packages

feat: support jsx-vapor
  packages-private/dts-test/tsconfig.json
  packages-private/dts-test/vapor/jsx.d.ts
  packages/runtime-core/src/componentOptions.ts
  packages/vue/jsx-runtime/index.d.ts
  packages/vue/jsx.d.ts
Due: packages, runtime-core, vue

dx(runtime-core): warn when innerHTML/textContent overrides children
  packages/runtime-core/__tests__/vnode.spec.ts
  packages/runtime-core/src/vnode.ts
  packages/server-renderer/__tests__/render.spec.ts
Due: packages, runtime-core, server-renderer

chore: revert jsx-vapor
  packages-private/dts-test/tsconfig.json
  packages-private/dts-test/vapor/jsx.d.ts
  packages-private/dts-test/vapor/tsconfig.json
  packages/vue/jsx-runtime/index.d.ts
  packages/vue/jsx.d.ts
Due: packages, vue

chore: update test
  packages-private/dts-test/vapor/defineVaporComponent.test-d.tsx
Due: none

chore: dispose RenderResult
  packages/runtime-core/src/componentOptions.ts
  packages/runtime-core/src/index.ts
Due: packages, runtime-core

fix(vapor): align component v-text and v-html with vdom
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vHtml.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vText.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vHtml.spec.ts
  packages/compiler-vapor/__tests__/transforms/vText.spec.ts
  packages/compiler-vapor/src/generators/component.ts
  packages/compiler-vapor/src/generators/html.ts
  packages/compiler-vapor/src/generators/text.ts
  packages/compiler-vapor/src/ir/index.ts
  packages/compiler-vapor/src/transform.ts
  packages/compiler-vapor/src/transforms/vHtml.ts
  packages/compiler-vapor/src/transforms/vText.ts
  packages/runtime-vapor/__tests__/component.spec.ts
  packages/runtime-vapor/__tests__/componentAttrs.spec.ts
  packages/runtime-vapor/__tests__/dom/prop.spec.ts
  packages/runtime-vapor/src/dom/prop.ts
  packages/runtime-vapor/src/index.ts
Due: packages

fix(types): allow Vapor JSX Element in defineComponent render functions (#15193)
  packages-private/dts-test/vapor/defineVaporComponent.test-d.tsx
  packages-private/dts-test/vapor/jsx.d.ts
  packages/runtime-core/src/componentOptions.ts
  packages/runtime-core/src/index.ts
Due: packages, runtime-core

fix(vapor): preserve v-text in raw text elements
  packages/compiler-vapor/src/transforms/vText.ts
  packages/runtime-vapor/__tests__/component.spec.ts
Due: packages

fix(vapor): warn on failed text root fallthrough
  packages/runtime-vapor/__tests__/componentAttrs.spec.ts
  packages/runtime-vapor/src/component.ts
Due: packages

fix(vapor): align component v-text and v-html with vdom (#15195)
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vHtml.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vText.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vHtml.spec.ts
  packages/compiler-vapor/__tests__/transforms/vText.spec.ts
  packages/compiler-vapor/src/generators/component.ts
  packages/compiler-vapor/src/generators/html.ts
  packages/compiler-vapor/src/generators/text.ts
  packages/compiler-vapor/src/ir/index.ts
  packages/compiler-vapor/src/transform.ts
  packages/compiler-vapor/src/transforms/vHtml.ts
  packages/compiler-vapor/src/transforms/vText.ts
  packages/runtime-vapor/__tests__/component.spec.ts
  packages/runtime-vapor/__tests__/componentAttrs.spec.ts
  packages/runtime-vapor/__tests__/dom/prop.spec.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/dom/prop.ts
  packages/runtime-vapor/src/index.ts
Due: packages

fix(compiler-vapor): generate v-model after prop effects
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vModel.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vModel.spec.ts
  packages/compiler-vapor/src/generators/block.ts
Due: packages

fix(compiler-vapor): generate v-model after prop effects (#15201)
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vModel.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vModel.spec.ts
  packages/compiler-vapor/src/generators/block.ts
Due: packages

fix(transition): handle Teleport component roots correctly
  packages/runtime-core/__tests__/components/BaseTransition.spec.ts
  packages/runtime-core/src/componentRenderUtils.ts
  packages/runtime-core/src/components/BaseTransition.ts
Due: packages, runtime-core

fix(runtime-vapor): avoid tracking v-show transition hooks
  packages/runtime-vapor/__tests__/components/Transition.spec.ts
  packages/runtime-vapor/src/directives/vShow.ts
Due: packages

fix(runtime-vapor): avoid tracking v-show source in fragment effects
  packages/runtime-vapor/__tests__/directives/vShow.spec.ts
  packages/runtime-vapor/src/directives/vShow.ts
Due: packages

fix(runtime-vapor): avoid tracking v-show transition hooks (#15203)
  packages/runtime-vapor/__tests__/components/Transition.spec.ts
  packages/runtime-vapor/src/directives/vShow.ts
Due: packages

fix(runtime-vapor): avoid tracking v-show source in fragment effects (#15204)
  packages/runtime-vapor/__tests__/directives/vShow.spec.ts
  packages/runtime-vapor/src/directives/vShow.ts
Due: packages

chore(runtime-vapor): remove duplicated import of setActiveSub
  packages/runtime-vapor/src/directives/vShow.ts
Due: packages

fix(compiler-sfc): keep scope id on :deep() selector lists with nesting (fix #15205)
  packages/compiler-sfc/__tests__/compileStyle.spec.ts
  packages/compiler-sfc/src/style/pluginScoped.ts
Due: packages, compiler-sfc

chore(deps): upgrade to TypeScript 6 (#15098)
  package.json
  packages-private/dts-built-test/tsconfig.json
  packages-private/dts-test/tsconfig.test.json
  packages/compiler-ssr/src/transforms/ssrVModel.ts
  packages/runtime-core/__tests__/components/Suspense.spec.ts
  packages/vue-compat/src/index.ts
  packages/vue/src/index.ts
  pnpm-lock.yaml
  tsconfig.json
Due: packages, runtime-core, vue, vue-compat

fix(types): preserve defineModel inference with factory defaults (#15097)
  packages-private/dts-test/setupHelpers.test-d.ts
  packages/runtime-core/src/apiSetupHelpers.ts
Due: packages, runtime-core

fix(runtime-core): restore SSR setup state when handling async setup result (#15114)
  packages/runtime-core/src/component.ts
  packages/server-renderer/__tests__/ssrWatch.spec.ts
Due: packages, runtime-core, server-renderer

fix(runtime-core): avoid re-fetching resource props with unchanged values (#15105)
  packages/runtime-core/__tests__/hydration.spec.ts
  packages/runtime-core/src/hydration.ts
Due: packages, runtime-core

fix(custom-element): preserve nested async mount order (#15154)
  packages/runtime-dom/__tests__/customElement.spec.ts
  packages/runtime-dom/src/apiCustomElement.ts
Due: packages, runtime-dom

fix(scheduler): avoid stack overflow when flushing very large post cb arrays (#15143)
  packages/runtime-core/__tests__/scheduler.spec.ts
  packages/runtime-core/src/components/Suspense.ts
  packages/runtime-core/src/scheduler.ts
Due: packages, runtime-core

fix(compiler-sfc): handle transformed template AST after cache invalidation (#15136)
  packages/compiler-sfc/__tests__/compileScript.spec.ts
  packages/compiler-sfc/src/compileScript.ts
  packages/compiler-sfc/src/compileTemplate.ts
  packages/compiler-sfc/src/script/importUsageCheck.ts
  packages/compiler-sfc/src/template/resolveTemplateAST.ts
Due: packages, compiler-sfc

fix(transition): support transition to teleport component child (#11959)
  packages/runtime-core/__tests__/components/BaseTransition.spec.ts
  packages/runtime-core/src/componentRenderUtils.ts
  packages/runtime-core/src/components/BaseTransition.ts
  packages/vue/__tests__/e2e/Transition.spec.ts
Due: packages, runtime-core, vue

fix(slots): handle nullish v-bind slot props (#15177)
  packages/runtime-core/__tests__/helpers/renderSlot.spec.ts
  packages/runtime-core/src/helpers/renderSlot.ts
  packages/server-renderer/__tests__/ssrSlot.spec.ts
  packages/server-renderer/src/helpers/ssrRenderSlot.ts
  packages/vue/__tests__/index.spec.ts
Due: packages, runtime-core, server-renderer, vue

dx(runtime-core): warn when innerHTML/textContent overrides children (#15194)
  packages/runtime-core/__tests__/vnode.spec.ts
  packages/runtime-core/src/vnode.ts
  packages/server-renderer/__tests__/render.spec.ts
Due: packages, runtime-core, server-renderer

fix(v-model): preserve text input before hydration
  packages/runtime-core/__tests__/hydration.spec.ts
  packages/runtime-core/src/directives.ts
  packages/runtime-core/src/hydration.ts
  packages/runtime-dom/__tests__/directives/vModel.spec.ts
  packages/runtime-dom/src/directives/vModel.ts
Due: packages, runtime-core, runtime-dom

chore: tweaks
  packages/runtime-core/__tests__/hydration.spec.ts
  packages/runtime-dom/__tests__/directives/vModel.spec.ts
  packages/runtime-dom/src/directives/vModel.ts
Due: packages, runtime-core, runtime-dom

fix(v-model): normalize CR/LF handling for text and textarea inputs during hydration
  packages/runtime-dom/src/directives/vModel.ts
Due: packages, runtime-dom

fix(v-model): preserve text input before hydration (#14411)
  packages/runtime-core/__tests__/hydration.spec.ts
  packages/runtime-dom/src/directives/vModel.ts
Due: packages, runtime-core, runtime-dom

fix(compiler-core): preserve vnode lifecycle in stable v-for
  packages/compiler-core/__tests__/transforms/__snapshots__/cacheStatic.spec.ts.snap
  packages/compiler-core/__tests__/transforms/__snapshots__/transformText.spec.ts.snap
  packages/compiler-core/__tests__/transforms/transformElement.spec.ts
  packages/compiler-core/src/ast.ts
  packages/compiler-core/src/transforms/transformElement.ts
  packages/compiler-core/src/transforms/vFor.ts
  packages/vue/__tests__/index.spec.ts
Due: packages, compiler-core, vue

fix(compiler-core): refine stable v-for lifecycle handling
  packages/compiler-core/__tests__/transforms/transformElement.spec.ts
  packages/compiler-core/src/transforms/transformElement.ts
  packages/compiler-core/src/transforms/vFor.ts
  packages/vue/__tests__/index.spec.ts
Due: packages, compiler-core, vue

fix(compiler-core): preserve vnode lifecycle in stable v-for (#11682)
  packages/compiler-core/__tests__/transforms/transformElement.spec.ts
  packages/compiler-core/src/ast.ts
  packages/compiler-core/src/transforms/transformElement.ts
  packages/compiler-core/src/transforms/vFor.ts
  packages/vue/__tests__/index.spec.ts
Due: packages, compiler-core, vue

fix(custom-element): preserve native properties on prop conflicts
  packages/runtime-dom/__tests__/customElement.spec.ts
  packages/runtime-dom/src/apiCustomElement.ts
Due: packages, runtime-dom

fix(custom-element): preserve native prop override behavior
  packages/runtime-dom/__tests__/customElement.spec.ts
  packages/runtime-dom/src/apiCustomElement.ts
  packages/runtime-dom/src/patchProp.ts
Due: packages, runtime-dom

Path conditions:
  packages: any of: packages/
  compiler-core: any of: packages/compiler-core/
  compiler-dom: any of: packages/compiler-dom/
  compiler-sfc: any of: packages/compiler-sfc/
  reactivity: any of: packages/reactivity/
  reactivity-transform: any of: packages/reactivity-transform/
  runtime-core: any of: packages/runtime-core/
  runtime-dom: any of: packages/runtime-dom/
  runtime-test: any of: packages/runtime-test/
  server-renderer: any of: packages/server-renderer/
  sfc-playground: any of: packages/sfc-playground/
  shared: any of: packages/shared/
  size-check: any of: packages/size-check/
  template-explorer: any of: packages/template-explorer/
  vue: any of: packages/vue/
  vue-compat: any of: packages/vue-compat/
