Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

fix(teleport): avoid requeue loop during suspense branch swap
  packages/runtime-core/src/components/Teleport.ts
Due: packages, runtime-core

fix(teleport): handle discarded suspense mount
  packages/runtime-core/__tests__/components/Suspense.spec.ts
  packages/runtime-core/src/components/Teleport.ts
Due: packages, runtime-core

fix(teleport): handle pending updates before deferred mount
  packages/runtime-core/__tests__/components/Suspense.spec.ts
  packages/runtime-core/__tests__/components/Teleport.spec.ts
  packages/runtime-core/src/components/Teleport.ts
  packages/vue/__tests__/e2e/Transition.spec.ts
Due: packages, runtime-core, vue

fix(teleport): remount deferred teleports after pending updates
  packages/runtime-core/src/components/Teleport.ts
Due: packages, runtime-core

chore: minor tweaks
  packages/runtime-core/src/components/Teleport.ts
Due: packages, runtime-core

test: add cases for defer teleport
  packages/runtime-core/__tests__/components/Teleport.spec.ts
Due: packages, runtime-core

fix(runtime-vapor): preserve transition persisted state across slot swaps
  packages/runtime-vapor/__tests__/components/Transition.spec.ts
  packages/runtime-vapor/src/components/Transition.ts
Due: packages

fix(transition): handle dynamic slot update (#14634)
  packages/runtime-vapor/__tests__/components/Transition.spec.ts
  packages/runtime-vapor/src/components/Transition.ts
Due: packages

fix(runtime-vapor): use last-wins semantics for duplicate dynamic slot names
  packages/runtime-vapor/__tests__/componentSlots.spec.ts
  packages/runtime-vapor/src/componentSlots.ts
Due: packages

fix(runtime-vapor): use last-wins semantics for duplicate dynamic slot names (#14649)
  packages/runtime-vapor/__tests__/componentSlots.spec.ts
  packages/runtime-vapor/src/componentSlots.ts
Due: packages

fix(runtime-vapor): avoid slot fallthrough in async Suspense error path
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/apiDefineAsyncComponent.ts
Due: packages

fix(runtime-vapor): avoid refreshing keep-alive recency on late async resolve
  packages/runtime-vapor/__tests__/components/KeepAlive.spec.ts
  packages/runtime-vapor/src/components/KeepAlive.ts
Due: packages

fix(runtime-vapor): align keepalive async behavior with vdom
  packages/runtime-vapor/__tests__/components/KeepAlive.spec.ts
  packages/runtime-vapor/src/apiTemplateRef.ts
  packages/runtime-vapor/src/components/KeepAlive.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(runtime-vapor): support render vapor async wrapper in vdom suspense
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/apiDefineAsyncComponent.ts
Due: packages

fix(runtime-vapor): re-mount vapor slot block when slot fn changes in vdom interop
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(runtime-vapor): re-mount vapor slot when slot changes in vdom interop (#14651)
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

docs: fix typos in changelogs
  changelogs/CHANGELOG-3.0.md
  changelogs/CHANGELOG-3.1.md
Due: none

fix(runtime-vapor): stop stale effects when remounting interop vapor slots
  packages/runtime-core/src/vnode.ts
  packages/runtime-vapor/__tests__/hydration.spec.ts
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages, runtime-core

fix(runtime-vapor): update interop slot patch target after moves
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(runtime-vapor): unmount hydrated interop slot content before first insert
  packages/runtime-vapor/__tests__/hydration.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(runtime-vapor): cache interop slot wrappers by source slot
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(runtime-vapor): align interop update hook order with vdom
  packages/runtime-core/src/apiCreateApp.ts
  packages/runtime-core/src/renderer.ts
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages, runtime-core

fix(runtime-vapor): sync interop vnode el after root changes
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(runtime-vapor): align interop mount hook order with vdom
  packages/runtime-core/src/apiCreateApp.ts
  packages/runtime-core/src/renderer.ts
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages, runtime-core

fix(runtime-vapor): align interop unmount hook order with vdom
  packages/runtime-core/src/renderer.ts
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages, runtime-core

chore: fix typos in changelogs (#14653)
  changelogs/CHANGELOG-3.0.md
  changelogs/CHANGELOG-3.1.md
Due: none

fix(runtime-vapor): align interop hydration mount hooks with vdom
  packages/runtime-core/src/apiCreateApp.ts
  packages/runtime-core/src/hydration.ts
  packages/runtime-vapor/__tests__/hydration.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages, runtime-core

fix(runtime-vapor): invoke updated before activated on reactivation
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(runtime-vapor): stop stale slot outlet effects on unmount
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

chore: update agents.md
  AGENTS.md
Due: none

fix(reactivity): allow async watchEffect callbacks
  packages-private/dts-test/watch.test-d.ts
  packages/reactivity/src/watch.ts
Due: packages, reactivity

fix(runtime-dom): widen VOnModifiers key typings
  packages-private/dts-test/h.test-d.ts
  packages/runtime-dom/src/directives/vOn.ts
Due: packages, runtime-dom

fix(runtime-core): type TemplateRef as readonly Ref
  packages-private/dts-test/ref.test-d.ts
  packages/runtime-core/src/helpers/useTemplateRef.ts
Due: packages, runtime-core

fix(runtime-core): relax function ref callback variance
  packages-private/dts-test/h.test-d.ts
  packages/runtime-core/src/vnode.ts
Due: packages, runtime-core

fix(reactivity): add generic watch overloads
  packages/reactivity/__tests__/watch.spec.ts
  packages/reactivity/src/watch.ts
Due: packages, reactivity

docs(runtime-core): clarify watchEffect dependency tracking
  packages/runtime-core/src/apiWatch.ts
Due: packages, runtime-core

test(types): add regression for toRef(MaybeRef) assignment
  packages-private/dts-test/ref.test-d.ts
Due: none

docs(runtime-core): clarify useTemplateRef slot owner behavior
  packages/runtime-core/src/helpers/useTemplateRef.ts
Due: packages, runtime-core

Path conditions:
  packages: any of: packages/
  compiler-core: any of: packages/compiler-core/
  compiler-dom: any of: packages/compiler-dom/
  compiler-sfc: any of: packages/compiler-sfc/
  reactivity: any of: packages/reactivity/
  reactivity-transform: any of: packages/reactivity-transform/
  runtime-core: any of: packages/runtime-core/
  runtime-dom: any of: packages/runtime-dom/
  runtime-test: any of: packages/runtime-test/
  server-renderer: any of: packages/server-renderer/
  sfc-playground: any of: packages/sfc-playground/
  shared: any of: packages/shared/
  size-check: any of: packages/size-check/
  template-explorer: any of: packages/template-explorer/
  vue: any of: packages/vue/
  vue-compat: any of: packages/vue-compat/
