Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

codecov.yml:

coverage:
  status:
    project:
      default:
        # Status checks are set to be non-blocking
        informational: true
    patch:
      default:
        # Status checks are set to be non-blocking
        informational: true

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: packages
      paths:
        - packages/
    - component_id: compiler-core
      paths:
        - packages/compiler-core/
    - component_id: compiler-dom
      paths:
        - packages/compiler-dom/
    - component_id: compiler-sfc
      paths:
        - packages/compiler-sfc/
    - component_id: compiler-sfc
      paths:
        - packages/compiler-sfc/
    - component_id: reactivity
      paths:
        - packages/reactivity/
    - component_id: reactivity-transform
      paths:
        - packages/reactivity-transform/
    - component_id: runtime-core
      paths:
        - packages/runtime-core/
    - component_id: runtime-dom
      paths:
        - packages/runtime-dom/
    - component_id: runtime-test
      paths:
        - packages/runtime-test/
    - component_id: server-renderer
      paths:
        - packages/server-renderer/
    - component_id: sfc-playground
      paths:
        - packages/sfc-playground/
    - component_id: shared
      paths:
        - packages/shared/
    - component_id: size-check
      paths:
        - packages/size-check/
    - component_id: template-explorer
      paths:
        - packages/template-explorer/
    - component_id: vue
      paths:
        - packages/vue/
    - component_id: vue-compat
      paths:
        - packages/vue-compat/

chore: review
  packages/dts-built-test/src/index.ts
  packages/dts-test/component.test-d.ts
  packages/dts-test/defineComponent.test-d.tsx
  packages/runtime-core/__tests__/apiCreateApp.spec.ts
  packages/runtime-core/src/componentProps.ts
  packages/runtime-core/src/componentPublicInstance.ts
  packages/runtime-core/src/componentTypeHelpers.ts
  packages/runtime-dom/__tests__/customElement.spec.ts
Due: packages, runtime-core, runtime-dom

fix(types): fix defineModel watch type error (#9942)
  packages/dts-test/watch.test-d.ts
  packages/runtime-core/src/apiWatch.ts
Due: packages, runtime-core

fix(defineModel): always default modifiers to empty object
  packages/runtime-core/src/apiSetupHelpers.ts
Due: packages, runtime-core

chore: use relative import location instead of package (#9941)
  packages/runtime-core/src/apiWatch.ts
Due: packages, runtime-core

feat(compiler-sfc): support passing template parsing options when parsing sfc
  packages/compiler-sfc/__tests__/parse.spec.ts
  packages/compiler-sfc/src/parse.ts
Due: packages, compiler-sfc

chore: dedupe deps
  pnpm-lock.yaml
Due: none

fix(defineModel): support local mutation when only prop but no listener is passed
  packages/runtime-core/__tests__/apiSetupHelpers.spec.ts
  packages/runtime-core/src/apiSetupHelpers.ts
Due: packages, runtime-core

release: v3.4.1
  CHANGELOG.md
  package.json
  packages/compiler-core/package.json
  packages/compiler-dom/package.json
  packages/compiler-sfc/package.json
  packages/compiler-ssr/package.json
  packages/reactivity/package.json
  packages/runtime-core/package.json
  packages/runtime-dom/package.json
  packages/server-renderer/package.json
  packages/shared/package.json
  packages/vue-compat/package.json
  packages/vue/package.json
Due: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, runtime-core, runtime-dom, server-renderer, shared, vue, vue-compat

Update ssrTransformSlotOutlet.ts
  packages/compiler-ssr/src/transforms/ssrTransformSlotOutlet.ts
Due: packages

test: split import usage check tests into dedicated file
  packages/compiler-sfc/__tests__/__snapshots__/compileScript.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript.spec.ts
  packages/compiler-sfc/__tests__/compileScript/__snapshots__/importUsageCheck.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript/importUsageCheck.spec.ts
Due: packages, compiler-sfc

fix(compiler-sfc): fix dev regression for dot / namespace component usage
  packages/compiler-sfc/__tests__/compileScript/__snapshots__/importUsageCheck.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript/importUsageCheck.spec.ts
  packages/compiler-sfc/src/script/importUsageCheck.ts
Due: packages, compiler-sfc

chore: improve defineAsyncComponent types
  packages/dts-test/defineAsyncComponent.test-d.tsx
  packages/runtime-core/src/apiAsyncComponent.ts
  packages/runtime-dom/src/apiCustomElement.ts
Due: packages, runtime-core, runtime-dom

refactor: use depth traversal + improve tests
  packages/runtime-core/__tests__/apiWatch.spec.ts
  packages/runtime-core/src/apiWatch.ts
Due: packages, runtime-core

fix(runtime-core): support deep: false when watch reactive (#9928)
  packages/runtime-core/__tests__/apiWatch.spec.ts
  packages/runtime-core/src/apiWatch.ts
Due: packages, runtime-core

chore: fix snapshot
  packages/compiler-sfc/__tests__/compileScript/__snapshots__/importUsageCheck.spec.ts.snap
Due: packages, compiler-sfc

fix(ssr): fix hydration error for slot outlet inside transition-group (#9937)
  packages/compiler-ssr/__tests__/ssrSlotOutlet.spec.ts
  packages/compiler-ssr/src/transforms/ssrTransformSlotOutlet.ts
Due: packages

release: v3.4.2
  CHANGELOG.md
  package.json
  packages/compiler-core/package.json
  packages/compiler-dom/package.json
  packages/compiler-sfc/package.json
  packages/compiler-ssr/package.json
  packages/reactivity/package.json
  packages/runtime-core/package.json
  packages/runtime-dom/package.json
  packages/server-renderer/package.json
  packages/shared/package.json
  packages/vue-compat/package.json
  packages/vue/package.json
Due: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, runtime-core, runtime-dom, server-renderer, shared, vue, vue-compat

fix(compiler-sfc): respect sfc parse options in cache key
  packages/compiler-sfc/src/parse.ts
Due: packages, compiler-sfc

test: test case for sfc parse options cache invalidation
  packages/compiler-sfc/__tests__/parse.spec.ts
Due: packages, compiler-sfc

release: v3.4.3
  CHANGELOG.md
  package.json
  packages/compiler-core/package.json
  packages/compiler-dom/package.json
  packages/compiler-sfc/package.json
  packages/compiler-ssr/package.json
  packages/reactivity/package.json
  packages/runtime-core/package.json
  packages/runtime-dom/package.json
  packages/server-renderer/package.json
  packages/shared/package.json
  packages/vue-compat/package.json
  packages/vue/package.json
Due: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, runtime-core, runtime-dom, server-renderer, shared, vue, vue-compat

chore: improve tests for async component
  packages/dts-test/componentTypeHelpers.test-d.tsx
  packages/runtime-core/src/componentTypeHelpers.ts
Due: packages, runtime-core

fix(defineModel): support kebab-case/camelCase mismatches
  packages/runtime-core/__tests__/apiSetupHelpers.spec.ts
  packages/runtime-core/src/apiSetupHelpers.ts
Due: packages, runtime-core

Port changes to the new template parser
  packages/compiler-core/__tests__/__snapshots__/parse.spec.ts.snap
  packages/compiler-core/__tests__/parse.spec.ts
  packages/compiler-core/src/parser.ts
Due: packages, compiler-core

chore(apiWatch): constraint deep passes boolean
  packages/runtime-core/src/apiWatch.ts
Due: packages, runtime-core

feat(apiWatch): support deep passing number type watching depth
  packages/runtime-core/__tests__/apiWatch.spec.ts
  packages/runtime-core/src/apiWatch.ts
Due: packages, runtime-core

Port changes to the new template parser
  packages/compiler-core/__tests__/__snapshots__/parse.spec.ts.snap
  packages/compiler-core/src/parser.ts
Due: packages, compiler-core

perf(apiWatch): avoid unnecessary traverse
  packages/runtime-core/src/apiWatch.ts
Due: packages, runtime-core

perf(watch): avoid double traverse for reactive source
  packages/runtime-core/__tests__/apiWatch.spec.ts
  packages/runtime-core/src/apiWatch.ts
Due: packages, runtime-core

fix(watch): remove instance unmounted short circuit in getter of `watchEffect`
  packages/runtime-core/src/apiWatch.ts
Due: packages, runtime-core

fix(watch): replace instance unmounted with scope inactive
  packages/runtime-core/src/apiWatch.ts
Due: packages, runtime-core

chore: some improvements + tests
  packages/dts-test/componentTypeHelpers.test-d.tsx
  packages/runtime-core/src/componentTypeHelpers.ts
Due: packages, runtime-core

feat(sfc-playground): init custom formatter when preview
  packages/sfc-playground/src/App.vue
Due: packages, sfc-playground

fix(ssr): avoid rendering transition-group slot content as a fragment
  packages/server-renderer/src/helpers/ssrRenderSlot.ts
Due: packages, server-renderer

test: add test case
  packages/server-renderer/__tests__/ssrSlot.spec.ts
Due: packages, server-renderer

chore: improve code
  packages/server-renderer/__tests__/ssrSlot.spec.ts
  packages/server-renderer/src/helpers/ssrRenderSlot.ts
Due: packages, server-renderer

fix(runtime-core): correctly assign suspenseId to avoid conflicts with the default id
  packages/runtime-core/src/components/Suspense.ts
Due: packages, runtime-core

chore(pnpm-workspace.yaml): packages/* in the pnpm-workspace.yaml is vague, it would be better to list specific package names
  pnpm-workspace.yaml
Due: none

chore: bump repl version
  packages/sfc-playground/package.json
  packages/sfc-playground/src/App.vue
  pnpm-lock.yaml
Due: packages, sfc-playground

fix(compiler-sfc): use compilerOptions when re-parsing consumed AST
  packages/compiler-sfc/src/compileTemplate.ts
Due: packages, compiler-sfc

Fix SCSS sourcemap issue
  packages/compiler-sfc/src/style/preprocessors.ts
Due: packages, compiler-sfc
