Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

fix(compiler-sfc): fix dynamic directive arguments usage check for slots (#9495)
  packages/compiler-sfc/__tests__/__snapshots__/compileScript.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript.spec.ts
  packages/compiler-sfc/src/script/importUsageCheck.ts
Due: packages, compiler-sfc

fix(warn): avoid warning on empty children with Suspense (#3962)
  packages/runtime-core/__tests__/components/Suspense.spec.ts
  packages/runtime-core/src/components/Suspense.ts
  packages/runtime-core/src/vnode.ts
Due: packages, runtime-core

fix(hydration): fix tagName access eeror on comment/text node hydration mismatch
  packages/runtime-core/__tests__/hydration.spec.ts
  packages/runtime-core/src/hydration.ts
Due: packages, runtime-core

chore: delete unrelated test case
  packages/runtime-core/__tests__/hydration.spec.ts
Due: packages, runtime-core

release: v3.3.8
  CHANGELOG.md
  package.json
  packages/compiler-core/package.json
  packages/compiler-dom/package.json
  packages/compiler-sfc/package.json
  packages/compiler-ssr/package.json
  packages/dts-built-test/package.json
  packages/dts-test/package.json
  packages/reactivity-transform/package.json
  packages/reactivity/package.json
  packages/runtime-core/package.json
  packages/runtime-dom/package.json
  packages/runtime-test/package.json
  packages/server-renderer/package.json
  packages/sfc-playground/package.json
  packages/shared/package.json
  packages/template-explorer/package.json
  packages/vue-compat/package.json
  packages/vue/package.json
  pnpm-lock.yaml
Due: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, template-explorer, vue, vue-compat

WIP: component helper types
  packages/dts-test/componentTypeHelpers.test-d.ts
  packages/runtime-core/src/apiAsyncComponent.ts
  packages/runtime-core/src/apiDefineComponent.ts
  packages/runtime-core/src/compat/compatConfig.ts
  packages/runtime-core/src/compat/componentVModel.ts
  packages/runtime-core/src/compat/global.ts
  packages/runtime-core/src/compat/instance.ts
  packages/runtime-core/src/component.ts
  packages/runtime-core/src/componentOptions.ts
  packages/runtime-core/src/componentProps.ts
  packages/runtime-core/src/componentTypeHelpers.ts
  packages/runtime-core/src/components/KeepAlive.ts
  packages/runtime-core/src/customFormatter.ts
  packages/runtime-core/src/hmr.ts
  packages/runtime-core/src/index.ts
  packages/runtime-dom/src/apiCustomElement.ts
Due: packages, runtime-core, runtime-dom

fix one issue
  packages/runtime-core/src/component.ts
Due: packages, runtime-core

working kinda
  packages/dts-test/defineComponent.test-d.tsx
  packages/dts-test/h.test-d.ts
  packages/runtime-core/src/apiDefineComponent.ts
  packages/runtime-core/src/component.ts
  packages/runtime-core/src/componentOptions.ts
  packages/runtime-core/src/componentProps.ts
  packages/runtime-core/src/h.ts
Due: packages, runtime-core

add Extract component Options
  packages/dts-test/componentTypeHelpers.test-d.ts
  packages/dts-test/defineComponent.test-d.tsx
  packages/runtime-core/src/apiDefineComponent.ts
  packages/runtime-core/src/componentTypeHelpers.ts
Due: packages, runtime-core

added types
  packages/dts-test/componentTypeHelpers.test-d.ts
  packages/runtime-core/src/componentOptions.ts
  packages/runtime-core/src/componentTypeHelpers.ts
Due: packages, runtime-core

chore: bust sponsor image cache [ci skip]
  README.md
Due: none

Update transformExpression.ts
  packages/compiler-core/src/transforms/transformExpression.ts
Due: packages, compiler-core

chore(runtime-core): export `MultiWatchSources` type
  packages/runtime-core/src/apiWatch.ts
Due: packages, runtime-core

fix(compiler-core): fix `resolveParserPlugins` decorators check
  packages/compiler-sfc/src/script/context.ts
Due: packages, compiler-sfc

more tests
  packages/dts-test/component.test-d.ts
  packages/dts-test/componentTypeHelpers.test-d.ts
  packages/runtime-core/src/apiDefineComponent.ts
  packages/runtime-core/src/componentOptions.ts
  packages/runtime-core/src/componentTypeHelpers.ts
  packages/runtime-dom/src/apiCustomElement.ts
Due: packages, runtime-core, runtime-dom

chore(compiler-core): extract `forAliasRE` regex
  packages/compiler-core/src/transforms/vFor.ts
  packages/compiler-core/src/utils.ts
  packages/compiler-sfc/src/script/importUsageCheck.ts
Due: packages, compiler-core, compiler-sfc

working few things
  packages/dts-test/componentTypeHelpers.test-d.ts
  packages/runtime-core/src/componentOptions.ts
Due: packages, runtime-core

chore: fix dev-sfc-prepare command
  package.json
Due: none

cleanup
  packages/dts-test/componentTypeHelpers.test-d.ts
  packages/runtime-core/src/componentTypeHelpers.ts
Due: packages, runtime-core

removed unused
  packages/dts-test/componentTypeHelpers.test-d.ts
  packages/runtime-core/src/componentTypeHelpers.ts
Due: packages, runtime-core

feat(apiWatch): control watch observation depth
  packages/runtime-core/__tests__/apiWatch.spec.ts
  packages/runtime-core/src/apiWatch.ts
Due: packages, runtime-core

remove stuff temp
  packages/dts-test/defineComponent.test-d.tsx
  packages/runtime-core/src/component.ts
Due: packages, runtime-core

chore: update VSCode debugging for vitest
  .vscode/launch.json
Due: none

fix(runtime-core): fix errorHandler causes an infinite loop during execution
  packages/runtime-core/src/errorHandling.ts
Due: packages, runtime-core

fix(compiler-core): fix `resolveParserPlugins` decorators check (#9566)
  packages/compiler-sfc/src/script/context.ts
Due: packages, compiler-sfc

Update setupHelpers.test-d.ts
  packages/dts-test/setupHelpers.test-d.ts
Due: packages

fix(types): remove optional properties from defineProps return type (#6421)
  packages/dts-test/setupHelpers.test-d.ts
  packages/runtime-core/src/apiSetupHelpers.ts
Due: packages, runtime-core

Update vModel.ts
  packages/runtime-dom/src/directives/vModel.ts
Due: packages, runtime-dom

fix(v-model): avoid overwriting number input with same value (#7004)
  packages/runtime-dom/__tests__/directives/vModel.spec.ts
  packages/runtime-dom/src/directives/vModel.ts
Due: packages, runtime-dom

chore: correct export
  packages/runtime-core/src/index.ts
Due: packages, runtime-core

Update BaseTransition.ts
  packages/runtime-core/src/components/BaseTransition.ts
Due: packages, runtime-core

fix(hmr/transition): fix kept-alive component inside transition disappearing after hmr (#7126)
  packages/runtime-core/__tests__/hmr.spec.ts
  packages/runtime-core/src/components/BaseTransition.ts
Due: packages, runtime-core

fix(compiler-core): avoid rewriting scope variables in inline for loops (#7245)
  packages/compiler-core/__tests__/transforms/__snapshots__/transformExpressions.spec.ts.snap
  packages/compiler-core/__tests__/transforms/transformExpressions.spec.ts
  packages/compiler-core/src/babelUtils.ts
Due: packages, compiler-core

chore: add name option for Teleport (#7315)
  packages/runtime-core/src/components/Teleport.ts
Due: packages, runtime-core

Update readonly.spec.ts
  packages/reactivity/__tests__/readonly.spec.ts
Due: packages, reactivity

Update shallowReadonly.spec.ts
  packages/reactivity/__tests__/shallowReadonly.spec.ts
Due: packages, reactivity

fix(reactivity): clear method on readonly collections should return undefined (#7316)
  packages/reactivity/__tests__/readonly.spec.ts
  packages/reactivity/__tests__/shallowReadonly.spec.ts
  packages/reactivity/src/collectionHandlers.ts
Due: packages, reactivity

fix(types): fix instance type when props type is incompatible with setup returned type (#7338)
  packages/dts-test/defineComponent.test-d.tsx
  packages/runtime-core/src/apiDefineComponent.ts
  packages/runtime-core/src/componentPublicInstance.ts
Due: packages, runtime-core

Path conditions:
  packages: any of: packages/
  compiler-core: any of: packages/compiler-core/
  compiler-dom: any of: packages/compiler-dom/
  compiler-sfc: any of: packages/compiler-sfc/
  reactivity: any of: packages/reactivity/
  reactivity-transform: any of: packages/reactivity-transform/
  runtime-core: any of: packages/runtime-core/
  runtime-dom: any of: packages/runtime-dom/
  runtime-test: any of: packages/runtime-test/
  server-renderer: any of: packages/server-renderer/
  sfc-playground: any of: packages/sfc-playground/
  shared: any of: packages/shared/
  size-check: any of: packages/size-check/
  template-explorer: any of: packages/template-explorer/
  vue: any of: packages/vue/
  vue-compat: any of: packages/vue-compat/
