Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

codecov.yml:

coverage:
  status:
    project:
      default:
        # Status checks are set to be non-blocking
        informational: true
    patch:
      default:
        # Status checks are set to be non-blocking
        informational: true

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: packages
      paths:
        - packages/
    - component_id: compiler-core
      paths:
        - packages/compiler-core/
    - component_id: compiler-dom
      paths:
        - packages/compiler-dom/
    - component_id: compiler-sfc
      paths:
        - packages/compiler-sfc/
    - component_id: compiler-sfc
      paths:
        - packages/compiler-sfc/
    - component_id: reactivity
      paths:
        - packages/reactivity/
    - component_id: reactivity-transform
      paths:
        - packages/reactivity-transform/
    - component_id: runtime-core
      paths:
        - packages/runtime-core/
    - component_id: runtime-dom
      paths:
        - packages/runtime-dom/
    - component_id: runtime-test
      paths:
        - packages/runtime-test/
    - component_id: server-renderer
      paths:
        - packages/server-renderer/
    - component_id: sfc-playground
      paths:
        - packages/sfc-playground/
    - component_id: shared
      paths:
        - packages/shared/
    - component_id: size-check
      paths:
        - packages/size-check/
    - component_id: template-explorer
      paths:
        - packages/template-explorer/
    - component_id: vue
      paths:
        - packages/vue/
    - component_id: vue-compat
      paths:
        - packages/vue-compat/

feat: export resetTracking
  packages/runtime-core/src/index.ts
Due: packages, runtime-core

fix: use modelValueModifiers intead of modelModifiers
  packages/compiler-core/__tests__/transforms/vModel.spec.ts
  packages/compiler-core/src/transforms/vModel.ts
  packages/compiler-sfc/__tests__/compileScript/__snapshots__/defineModel.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript/defineModel.spec.ts
  packages/compiler-sfc/src/script/defineModel.ts
  packages/runtime-core/__tests__/componentEmits.spec.ts
  packages/runtime-core/src/helpers/useModel.ts
Due: packages, compiler-core, compiler-sfc, runtime-core

feat: use for vapor
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vModel.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vModel.spec.ts
  packages/compiler-vapor/src/generators/component.ts
  packages/runtime-vapor/__tests__/componentEmits.spec.ts
Due: packages

chore(sfc-playground): dynamically set Vue version in downloaded project
  packages-private/sfc-playground/src/download/download.ts
  packages-private/sfc-playground/src/download/template/package.json
Due: none

chore(sfc-playground): dynamically set Vue version in downloaded project (#13074)
  packages-private/sfc-playground/src/download/download.ts
  packages-private/sfc-playground/src/download/template/package.json
Due: none

fix(suspence): fix newBranch shapeFlag not reset under hmr
  packages/runtime-core/src/components/Suspense.ts
Due: packages, runtime-core

wip: save
  packages/runtime-core/src/components/Teleport.ts
  packages/runtime-core/src/index.ts
  packages/runtime-vapor/src/block.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/components/Teleport.ts
  packages/runtime-vapor/src/index.ts
Due: packages, runtime-core

chore: add test case
  packages/runtime-core/__tests__/hmr.spec.ts
  packages/runtime-core/src/components/BaseTransition.ts
Due: packages, runtime-core

fix(reactivity): dont using a chain table to queuing effects
  packages/reactivity/src/system.ts
Due: packages, reactivity

sync 1.0.6
  packages/reactivity/src/system.ts
Due: packages, reactivity

wip: save
  packages/runtime-vapor/__tests__/components/Teleport.spec.ts
  packages/runtime-vapor/src/components/Teleport.ts
Due: packages

wip: add tests
  packages/runtime-vapor/__tests__/components/Teleport.spec.ts
  packages/runtime-vapor/src/components/Teleport.ts
Due: packages

wip: update tests
  packages/runtime-vapor/src/components/Teleport.ts
Due: packages

wip: save
  packages/runtime-vapor/src/components/Teleport.ts
Due: packages

fix(runtime-dom): check for camel-case element prop
  packages/runtime-dom/src/patchProp.ts
Due: packages, runtime-dom

test: add kebab to camel prop tests
  packages/runtime-dom/__tests__/patchProps.spec.ts
Due: packages, runtime-dom

refactor(vitest): update test configuration to use defineProject for better structure
  vitest.e2e.config.ts
  vitest.unit.config.ts
Due: none

docs(tsdoc): remove extra () in link tag
  packages/reactivity/src/reactive.ts
  packages/reactivity/src/ref.ts
Due: packages, reactivity

sync 1.0.7
  packages/reactivity/src/system.ts
Due: packages, reactivity

fix(renderList): handle readonly reactive arrays in renderList
  packages/runtime-core/src/helpers/renderList.ts
Due: packages, runtime-core

chore: update test
  packages/runtime-core/__tests__/helpers/renderList.spec.ts
Due: packages, runtime-core

fix(runtime-core): respect immutability for readonly reactive arrays in `v-for`
  packages/runtime-core/__tests__/helpers/renderList.spec.ts
  packages/runtime-core/src/helpers/renderList.ts
Due: packages, runtime-core

chore: update
  packages/runtime-core/src/helpers/renderList.ts
Due: packages, runtime-core

docs(tsdoc): remove extra () in link tag (#13086)
  packages/reactivity/src/reactive.ts
  packages/reactivity/src/ref.ts
Due: packages, reactivity

refactor: replace readonly w/ toReadonly
  packages/runtime-core/src/helpers/renderList.ts
Due: packages, runtime-core

wip: port tests
  packages/runtime-vapor/__tests__/components/Teleport.spec.ts
Due: packages

wip: remove unnecessary tests
  packages/runtime-vapor/__tests__/components/Teleport.spec.ts
Due: packages

wip: handle vapor teleport
  packages/compiler-vapor/src/generators/component.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
  packages/compiler-vapor/src/utils.ts
Due: packages

wip: save
  packages/runtime-vapor/src/components/Teleport.ts
  packages/runtime-vapor/src/index.ts
Due: packages

fix: ensure reactivity for deep mutations in readonly reactive arrays
  packages/runtime-core/__tests__/helpers/renderList.spec.ts
  packages/runtime-core/src/helpers/renderList.ts
Due: packages, runtime-core

wip: handing teleport hmr updating
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/hmr.ts
Due: packages

fix(reactivity): cast objectWithRefs to ShallowUnwrapRef in proxyRefs
  packages/reactivity/src/ref.ts
Due: packages, reactivity

test: add e2e tests for vdom interop
  packages-private/vapor-e2e-test/__tests__/teleport.spec.ts
  packages-private/vapor-e2e-test/__tests__/todomvc.spec.ts
  packages-private/vapor-e2e-test/__tests__/vdomInterop.spec.ts
  packages-private/vapor-e2e-test/index.html
  packages-private/vapor-e2e-test/teleport/App.vue
  packages-private/vapor-e2e-test/teleport/components/VdomComp.vue
  packages-private/vapor-e2e-test/teleport/index.html
  packages-private/vapor-e2e-test/teleport/main.ts
  packages-private/vapor-e2e-test/utils.ts
  packages-private/vapor-e2e-test/vite.config.ts
Due: none

Update README.md
  README.md
Due: none

Update system.ts
  packages/reactivity/src/system.ts
Due: packages, reactivity

feat(runtime-vapor): support HMR for setup
  packages/runtime-vapor/src/component.ts
Due: packages

wip: hmr updating
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/components/Teleport.ts
Due: packages

wip: test hmr updating
  packages/runtime-core/src/hmr.ts
  packages/runtime-vapor/__tests__/components/Teleport.spec.ts
  packages/runtime-vapor/src/block.ts
  packages/runtime-vapor/src/components/Teleport.ts
  packages/runtime-vapor/src/hmr.ts
Due: packages, runtime-core

perf(runtime-dom): cache element prop key
  packages/runtime-dom/src/patchProp.ts
Due: packages, runtime-dom
