Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

feat: event delegate and setValue use Draft Node
  packages/compiler-vapor/src/generators/event.ts
  packages/runtime-core/src/hydration.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/dom/event.ts
  packages/runtime-vapor/src/dom/nodeDraft.ts
  packages/runtime-vapor/src/dom/prop.ts
  packages/runtime-vapor/src/dom/template.ts
Due: packages, runtime-core

chore: tweaks
  packages/runtime-core/src/h.ts
Due: packages, runtime-core

chore: restore the code diff in setDynamicProp
  packages/runtime-vapor/src/dom/prop.ts
Due: packages

fix(custom-element): prevent defineCustomElement from mutating the options object (#13791)
  packages/runtime-dom/__tests__/customElement.spec.ts
  packages/runtime-dom/src/apiCustomElement.ts
Due: packages, runtime-dom

chore: tweaks
  packages/runtime-core/src/hmr.ts
Due: packages, runtime-core

fix(runtime-core): disable tracking block in h function (#8213)
  packages/runtime-core/src/h.ts
Due: packages, runtime-core

fix(compiler-sfc): support global augments with named exports (#13789)
  packages/compiler-sfc/__tests__/compileScript/resolveType.spec.ts
  packages/compiler-sfc/src/script/resolveType.ts
Due: packages, compiler-sfc

fix(hmr): prevent update unmounting component during HMR reload (#13815)
  packages/runtime-core/__tests__/hmr.spec.ts
  packages/runtime-core/src/hmr.ts
Due: packages, runtime-core

fix(Teleport): hydrate disabled Teleport with undefined target (#11235)
  packages/runtime-core/__tests__/hydration.spec.ts
  packages/runtime-core/src/components/Teleport.ts
Due: packages, runtime-core

fix(templateRef): prevent unnecessary set ref on dynamic ref change or component unmount (#12642)
  packages/runtime-core/__tests__/rendererTemplateRef.spec.ts
  packages/runtime-core/src/rendererTemplateRef.ts
Due: packages, runtime-core

fix(compiler-sfc): support `${configDir}` in paths for TypeScript 5.5+ (#13491)
  packages/compiler-sfc/__tests__/compileScript/resolveType.spec.ts
  packages/compiler-sfc/src/script/resolveType.ts
Due: packages, compiler-sfc

fix(hmr): prevent __VUE_HMR_RUNTIME__ from being overwritten by vue runtime in 3rd-party libraries (#13817)
  packages/runtime-core/src/hmr.ts
Due: packages, runtime-core

types(jsx): add undefined to optional properties (#12771)
  packages/runtime-dom/src/jsx.ts
Due: packages, runtime-dom

chore: update side effect annotations to use standardized format (#13839)
  packages/runtime-core/src/apiAsyncComponent.ts
  packages/runtime-core/src/apiDefineComponent.ts
  packages/runtime-core/src/devtools.ts
  packages/runtime-dom/src/apiCustomElement.ts
  packages/shared/src/makeMap.ts
Due: packages, runtime-core, runtime-dom, shared

refactor: remove canary release workflows (#13794)
  .github/workflows/canary-minor.yml
  .github/workflows/canary.yml
  rollup.config.js
  scripts/release.js
Due: none

chore(types): compatible with TS 5.8 (#12973)
  packages-private/dts-test/scheduler.test-d.ts
  packages/reactivity/src/ref.ts
  packages/runtime-core/src/scheduler.ts
Due: packages, reactivity, runtime-core

fix(runtime-core): use separate emits caches for components and mixins (#11661)
  packages/runtime-core/__tests__/componentEmits.spec.ts
  packages/runtime-core/src/componentEmits.ts
Due: packages, runtime-core

chore: tweaks
  packages/compiler-sfc/src/compileScript.ts
Due: packages, compiler-sfc

fix(compiler-core): force dynamic slots when slot referencing scope vars (#9427)
  packages/compiler-core/__tests__/transforms/vSlot.spec.ts
  packages/compiler-core/src/transforms/vSlot.ts
Due: packages, compiler-core

fix(watch): use maximum depth for duplicates (#13434)
  packages/reactivity/src/watch.ts
  packages/runtime-core/__tests__/apiWatch.spec.ts
Due: packages, reactivity, runtime-core

perf: improve regexp performance with non-capturing groups (#13567)
  packages/compiler-core/src/transforms/vIf.ts
  packages/compiler-core/src/transforms/vSlot.ts
  packages/compiler-core/src/utils.ts
  packages/compiler-dom/src/transforms/stringifyStatic.ts
  packages/compiler-sfc/src/style/pluginScoped.ts
  packages/compiler-sfc/src/template/templateUtils.ts
  packages/compiler-ssr/src/transforms/ssrVIf.ts
  packages/runtime-core/src/compat/global.ts
  packages/runtime-core/src/component.ts
  packages/runtime-dom/src/components/Transition.ts
  packages/runtime-dom/src/components/TransitionGroup.ts
  packages/runtime-dom/src/index.ts
  packages/runtime-dom/src/modules/style.ts
  packages/shared/src/general.ts
Due: packages, compiler-core, compiler-dom, compiler-sfc, runtime-core, runtime-dom, shared

fix(compiler-sfc): check lang before attempt to compile script (#13508)
  packages/compiler-sfc/__tests__/compileScript.spec.ts
  packages/compiler-sfc/src/compileScript.ts
  packages/compiler-sfc/src/script/context.ts
  packages/compiler-sfc/src/script/normalScript.ts
  packages/compiler-sfc/src/script/utils.ts
Due: packages, compiler-sfc

fix(Suspence): handle Suspense + KeepAlive HMR updating edge case (#13076)
  packages/runtime-core/__tests__/hmr.spec.ts
  packages/runtime-core/src/components/BaseTransition.ts
  packages/runtime-core/src/components/Suspense.ts
Due: packages, runtime-core

release: v3.5.21
  CHANGELOG.md
  package.json
  packages/compiler-core/package.json
  packages/compiler-dom/package.json
  packages/compiler-sfc/package.json
  packages/compiler-ssr/package.json
  packages/reactivity/package.json
  packages/runtime-core/package.json
  packages/runtime-dom/package.json
  packages/server-renderer/package.json
  packages/shared/package.json
  packages/vue-compat/package.json
  packages/vue/package.json
Due: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, runtime-core, runtime-dom, server-renderer, shared, vue, vue-compat

perf(codegen): O(1) variable name allocation
  packages/compiler-vapor/__tests__/__snapshots__/compile.spec.ts.snap
  packages/compiler-vapor/__tests__/compile.spec.ts
  packages/compiler-vapor/src/generate.ts
  packages/compiler-vapor/src/transform.ts
Due: packages

feat: support setup for TypeBlock
  packages-private/dts-test/defineVaporComponent.test-d.tsx
  packages/runtime-vapor/src/component.ts
Due: packages

fix: make generics with runtime props in defineComponent work
  packages-private/dts-test/defineComponent.test-d.tsx
  packages/runtime-core/src/apiDefineComponent.ts
Due: packages, runtime-core

fix(runtime-core): simplify block-tracking disabling in h()
  packages/runtime-core/src/h.ts
Due: packages, runtime-core

fix(runtime-core): simplify block-tracking disabling in h() (#13841)
  packages/runtime-core/src/h.ts
Due: packages, runtime-core

chore: tweaks
  packages/compiler-vapor/src/generate.ts
Due: packages

refactor(templateRef): simplify template ref handling and remove old ref declarations
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformTemplateRef.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/transformTemplateRef.spec.ts
  packages/compiler-vapor/src/generators/operation.ts
  packages/compiler-vapor/src/generators/templateRef.ts
  packages/compiler-vapor/src/ir/index.ts
  packages/compiler-vapor/src/transforms/transformTemplateRef.ts
  packages/runtime-vapor/__tests__/dom/templateRef.spec.ts
  packages/runtime-vapor/src/apiTemplateRef.ts
Due: packages

chore: tweaks
  packages/compiler-vapor/src/generate.ts
  packages/compiler-vapor/src/transform.ts
Due: packages

wip: adjust the execution timing of child, nthChild, next for hydration
  packages/compiler-vapor/__tests__/__snapshots__/compile.spec.ts.snap
  packages/compiler-vapor/__tests__/compile.spec.ts
  packages/compiler-vapor/src/generators/block.ts
  packages/compiler-vapor/src/generators/template.ts
  packages/runtime-vapor/src/dom/node.ts
  packages/runtime-vapor/src/dom/template.ts
Due: packages

fix: typo
  packages/runtime-vapor/src/apiDefineComponent.ts
Due: packages

chore: add render test case
  packages-private/dts-test/defineVaporComponent.test-d.tsx
  packages/runtime-vapor/src/component.ts
Due: packages

fix(runtime-vapor): VNode render cannot be executed in vapor mode
  packages/runtime-vapor/src/component.ts
Due: packages

fix(runtime-core): add slot security assessment
  packages/runtime-core/src/helpers/renderSlot.ts
Due: packages, runtime-core

fix(compiler-sfc): enhance inferRuntimeType to support TSMappedType with indexed access
  packages/compiler-sfc/src/script/resolveType.ts
Due: packages, compiler-sfc

test: add test
  packages/compiler-sfc/__tests__/compileScript/resolveType.spec.ts
Due: packages, compiler-sfc

wip: save
  packages/compiler-ssr/src/ssrCodegenTransform.ts
  packages/compiler-vapor/__tests__/__snapshots__/compile.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vFor.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vOnce.spec.ts.snap
  packages/compiler-vapor/src/generators/operation.ts
  packages/compiler-vapor/src/ir/index.ts
  packages/compiler-vapor/src/transforms/transformChildren.ts
  packages/runtime-vapor/__tests__/hydration.spec.ts
  packages/runtime-vapor/src/dom/hydration.ts
  packages/runtime-vapor/src/dom/node.ts
  packages/runtime-vapor/src/dom/template.ts
  packages/runtime-vapor/src/insertionState.ts
Due: packages

Path conditions:
  packages: any of: packages/
  compiler-core: any of: packages/compiler-core/
  compiler-dom: any of: packages/compiler-dom/
  compiler-sfc: any of: packages/compiler-sfc/
  reactivity: any of: packages/reactivity/
  reactivity-transform: any of: packages/reactivity-transform/
  runtime-core: any of: packages/runtime-core/
  runtime-dom: any of: packages/runtime-dom/
  runtime-test: any of: packages/runtime-test/
  server-renderer: any of: packages/server-renderer/
  sfc-playground: any of: packages/sfc-playground/
  shared: any of: packages/shared/
  size-check: any of: packages/size-check/
  template-explorer: any of: packages/template-explorer/
  vue: any of: packages/vue/
  vue-compat: any of: packages/vue-compat/
