Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

fix(compiler-vapor): do not count children that render nothing
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformText.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/transformChildren.spec.ts
  packages/compiler-vapor/__tests__/transforms/transformText.spec.ts
  packages/compiler-vapor/src/transforms/transformChildren.ts
  packages/runtime-vapor/__tests__/dom/template.spec.ts
  packages/runtime-vapor/__tests__/hydration/basic.spec.ts
Due: packages

fix(compiler-vapor): resolve v-for aliases through their ast
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vFor.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vSlot.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vFor.spec.ts
  packages/compiler-vapor/__tests__/transforms/vSlot.spec.ts
  packages/compiler-vapor/src/generators/component.ts
  packages/compiler-vapor/src/generators/for.ts
  packages/runtime-vapor/__tests__/for.spec.ts
  packages/runtime-vapor/__tests__/hydration/for.spec.ts
Due: packages

fix(compiler-vapor): keep raw values on v-model value props
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vBind.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/transformElement.spec.ts
  packages/compiler-vapor/__tests__/transforms/vBind.spec.ts
  packages/compiler-vapor/__tests__/transforms/vModel.spec.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
  packages/compiler-vapor/src/transforms/vBind.ts
  packages/runtime-vapor/__tests__/_utils.ts
  packages/runtime-vapor/__tests__/directives/vModel.spec.ts
  packages/runtime-vapor/__tests__/hydration/basic.spec.ts
Due: packages

feat: add support for Popover API
  packages/runtime-dom/src/jsx.ts
  packages/shared/src/domAttrConfig.ts
Due: packages, runtime-dom, shared

feat: support `popover` as a flag
  packages/compiler-dom/__tests__/transforms/stringifyStatic.spec.ts
  packages/compiler-dom/src/transforms/stringifyStatic.ts
  packages/compiler-ssr/__tests__/ssrElement.spec.ts
  packages/compiler-ssr/src/transforms/ssrTransformElement.ts
  packages/runtime-core/__tests__/hydration.spec.ts
  packages/runtime-core/src/hydration.ts
  packages/runtime-dom/__tests__/patchProps.spec.ts
  packages/runtime-dom/src/jsx.ts
  packages/runtime-dom/src/modules/props.ts
  packages/server-renderer/__tests__/ssrRenderAttrs.spec.ts
  packages/server-renderer/src/helpers/ssrRenderAttrs.ts
Due: packages, compiler-dom, runtime-core, runtime-dom, server-renderer

fix(compiler-core): keep newline ending a line comment (fix #8494)
  packages/compiler-core/__tests__/parse.spec.ts
  packages/compiler-core/__tests__/transforms/transformExpressions.spec.ts
  packages/compiler-core/src/parser.ts
Due: packages, compiler-core

fix(compiler-core): treat a lone carriage return as a newline
  packages/compiler-core/__tests__/transforms/transformExpressions.spec.ts
  packages/compiler-core/src/parser.ts
Due: packages, compiler-core

fix(runtime-core): allow an empty dynamic component (fix #3632)
  packages/runtime-core/__tests__/helpers/resolveAssets.spec.ts
  packages/runtime-core/src/helpers/resolveAssets.ts
Due: packages, runtime-core

refactor(compiler-vapor): simplify empty child handling
  packages/compiler-vapor/src/transforms/transformChildren.ts
Due: packages

fix(compiler-vapor): do not count children that render nothing (#15550)
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformText.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/transformChildren.spec.ts
  packages/compiler-vapor/__tests__/transforms/transformText.spec.ts
  packages/compiler-vapor/src/transforms/transformChildren.ts
  packages/runtime-vapor/__tests__/dom/template.spec.ts
  packages/runtime-vapor/__tests__/hydration/basic.spec.ts
Due: packages

fix(compiler-vapor): process v-for callback parameter defaults
  packages/compiler-vapor/__tests__/transforms/vFor.spec.ts
  packages/compiler-vapor/__tests__/transforms/vSlot.spec.ts
  packages/compiler-vapor/src/generators/component.ts
  packages/compiler-vapor/src/generators/expression.ts
  packages/compiler-vapor/src/generators/for.ts
  packages/runtime-vapor/__tests__/for.spec.ts
Due: packages

fix(compiler-vapor): preserve index position when v-for key is omitted
  packages/compiler-vapor/__tests__/transforms/vFor.spec.ts
  packages/compiler-vapor/src/generators/for.ts
  packages/runtime-vapor/__tests__/for.spec.ts
Due: packages

ci(issues): remove automatic issue closing workflow
  .github/workflows/close-cant-reproduce-issues.yml
Due: none

ci(issues): remove automatic issue closing workflow (#15557)
  .github/workflows/close-cant-reproduce-issues.yml
Due: none

fix(compiler-vapor): preserve raw checkbox values with .attr
  packages/compiler-vapor/__tests__/transforms/vBind.spec.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
  packages/compiler-vapor/src/transforms/vBind.ts
  packages/runtime-vapor/__tests__/directives/vModel.spec.ts
Due: packages

fix(compiler-vapor): preserve special boolean values with .attr
  packages/compiler-vapor/__tests__/transforms/vBind.spec.ts
  packages/compiler-vapor/src/transforms/vBind.ts
  packages/runtime-vapor/__tests__/directives/vModel.spec.ts
Due: packages

test(runtime-vapor): remove numeric indeterminate parity assertion
  packages/runtime-vapor/__tests__/directives/vModel.spec.ts
Due: packages

fix(suspense): skip rendering async components unmounted while pending
  packages/runtime-core/__tests__/components/Suspense.spec.ts
  packages/runtime-core/src/components/Suspense.ts
Due: packages, runtime-core

fix(runtime-core): keep async placeholder for block patching and pending component updates
  packages/runtime-core/src/renderer.ts
  packages/vue/__tests__/index.spec.ts
Due: packages, runtime-core, vue

fix(runtime-core): resolve wrapped async placeholders in block updates
  packages/runtime-core/src/renderer.ts
  packages/vue/__tests__/index.spec.ts
Due: packages, runtime-core, vue

Update packages/runtime-core/src/componentEmits.ts
  packages/runtime-core/src/componentEmits.ts
Due: packages, runtime-core

fix(runtime-vapor): isolate props of a cached VDOM child in a Vapor KeepAlive
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/fragment.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(runtime-core): keep the scope id of a slot fallback rendered under a vapor parent
  packages/runtime-core/__tests__/helpers/renderSlot.spec.ts
  packages/runtime-core/src/helpers/renderSlot.ts
  packages/runtime-vapor/__tests__/scopeId.spec.ts
Due: packages, runtime-core

fix(compiler-vapor): key conditional and dynamic slots so their content is not remounted
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vSlot.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vSlot.spec.ts
  packages/compiler-vapor/src/generators/component.ts
  packages/compiler-vapor/src/ir/component.ts
  packages/compiler-vapor/src/transforms/vSlot.ts
  packages/runtime-vapor/__tests__/componentSlots.spec.ts
  packages/runtime-vapor/src/componentSlots.ts
Due: packages

fix(runtime-vapor): isolate props of a cached VDOM child in a Vapor KeepAlive (#15560)
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/fragment.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

fix(compiler-vapor): stabilize dynamic slot function references
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vSlot.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vSlot.spec.ts
  packages/compiler-vapor/src/generate.ts
  packages/compiler-vapor/src/generators/component.ts
  packages/runtime-vapor/__tests__/componentSlots.spec.ts
  packages/runtime-vapor/__tests__/hydration/slots.spec.ts
Due: packages

fix(compiler-vapor): stabilize dynamic slot function references (#15564)
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vSlot.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vSlot.spec.ts
  packages/compiler-vapor/src/generate.ts
  packages/compiler-vapor/src/generators/component.ts
  packages/runtime-vapor/__tests__/componentSlots.spec.ts
  packages/runtime-vapor/__tests__/hydration/slots.spec.ts
Due: packages

release: v3.6.0-rc.9
  CHANGELOG.md
  package.json
  packages/compiler-core/package.json
  packages/compiler-dom/package.json
  packages/compiler-sfc/package.json
  packages/compiler-ssr/package.json
  packages/compiler-vapor/package.json
  packages/reactivity/package.json
  packages/runtime-core/package.json
  packages/runtime-dom/package.json
  packages/runtime-vapor/package.json
  packages/server-renderer/package.json
  packages/shared/package.json
  packages/vue-compat/package.json
  packages/vue/package.json
Due: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, runtime-core, runtime-dom, server-renderer, shared, vue, vue-compat

refactor(runtime-core)!: remove implicit false default for optional Boolean props
  packages/runtime-core/__tests__/componentProps.spec.ts
  packages/runtime-core/src/apiSetupHelpers.ts
  packages/runtime-core/src/componentProps.ts
  packages/runtime-core/src/index.ts
  packages/runtime-dom/__tests__/customElement.spec.ts
Due: packages, runtime-core, runtime-dom

test: fix declaration case
  packages-private/dts-test/defineComponent.test-d.tsx
Due: none

test: fix declaration case
  packages-private/dts-test/extractProps.test-d.ts
Due: none

test: fix declaration case
  packages-private/dts-test/setupHelpers.test-d.ts
Due: none

fix(compiler-vapor): do not decode static attribute values and comments twice
  packages/compiler-vapor/__tests__/transforms/transformComment.spec.ts
  packages/compiler-vapor/__tests__/transforms/transformElement.spec.ts
  packages/compiler-vapor/__tests__/transforms/transformText.spec.ts
  packages/compiler-vapor/src/transforms/transformComment.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
  packages/compiler-vapor/src/transforms/transformText.ts
  packages/runtime-vapor/__tests__/dom/template.spec.ts
Due: packages

Path conditions:
  packages: any of: packages/
  compiler-core: any of: packages/compiler-core/
  compiler-dom: any of: packages/compiler-dom/
  compiler-sfc: any of: packages/compiler-sfc/
  reactivity: any of: packages/reactivity/
  reactivity-transform: any of: packages/reactivity-transform/
  runtime-core: any of: packages/runtime-core/
  runtime-dom: any of: packages/runtime-dom/
  runtime-test: any of: packages/runtime-test/
  server-renderer: any of: packages/server-renderer/
  sfc-playground: any of: packages/sfc-playground/
  shared: any of: packages/shared/
  size-check: any of: packages/size-check/
  template-explorer: any of: packages/template-explorer/
  vue: any of: packages/vue/
  vue-compat: any of: packages/vue-compat/
