Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

wip: save
  packages/runtime-vapor/src/dom/hydration.ts
  packages/runtime-vapor/src/dom/node.ts
  packages/runtime-vapor/src/insertionState.ts
Due: packages

wip: save
  packages/runtime-vapor/src/dom/node.ts
Due: packages

wip: save
  packages/runtime-vapor/src/insertionState.ts
Due: packages

wip: save
  packages/runtime-vapor/src/dom/hydration.ts
  packages/runtime-vapor/src/dom/node.ts
  packages/runtime-vapor/src/dom/template.ts
  packages/runtime-vapor/src/insertionState.ts
Due: packages

wip: remove block anchors
  packages/compiler-ssr/__tests__/ssrVaporAnchors.spec.ts
  packages/compiler-ssr/src/ssrCodegenTransform.ts
  packages/compiler-ssr/src/transforms/ssrTransformComponent.ts
  packages/shared/src/domAnchors.ts
Due: packages, shared

wip: save
  packages/runtime-vapor/src/block.ts
  packages/runtime-vapor/src/dom/node.ts
  packages/runtime-vapor/src/dom/template.ts
  packages/runtime-vapor/src/insertionState.ts
Due: packages

wip: save
  packages/compiler-ssr/__tests__/ssrVaporAnchors.spec.ts
  packages/compiler-ssr/src/transforms/ssrVFor.ts
  packages/runtime-vapor/__tests__/hydration.spec.ts
  packages/runtime-vapor/src/insertionState.ts
  packages/shared/src/domAnchors.ts
Due: packages, shared

chore: update
  packages/runtime-core/src/componentPublicInstance.ts
  packages/runtime-core/src/index.ts
  packages/runtime-vapor/src/apiDefineComponent.ts
Due: packages, runtime-core

chore: update
  packages-private/dts-test/defineVaporComponent.test-d.tsx
  packages/runtime-vapor/src/apiDefineComponent.ts
  packages/runtime-vapor/src/component.ts
Due: packages

fix(transition-group): run `forceReflow` on the correct document (fix #13849)
  packages/runtime-dom/src/components/Transition.ts
  packages/runtime-dom/src/components/TransitionGroup.ts
Due: packages, runtime-dom

wip: save
  packages/compiler-ssr/src/transforms/ssrVIf.ts
Due: packages

test: update snap
  packages/runtime-vapor/__tests__/hydration.spec.ts
Due: packages

chore: tweaks
  packages/runtime-vapor/src/dom/hydration.ts
  packages/runtime-vapor/src/dom/node.ts
  packages/runtime-vapor/src/insertionState.ts
Due: packages

chore: update
  packages/runtime-vapor/src/dom/hydration.ts
  packages/runtime-vapor/src/dom/node.ts
  packages/runtime-vapor/src/insertionState.ts
Due: packages

chore: update
  packages/runtime-vapor/src/dom/hydration.ts
Due: packages

chore: remove any
  packages/runtime-vapor/src/component.ts
Due: packages

chore: add null for exposedProxy
  packages-private/dts-test/defineVaporComponent.test-d.tsx
  packages/runtime-vapor/src/component.ts
Due: packages

wip: remove fragment anchors
  packages/compiler-ssr/__tests__/ssrVaporAnchors.spec.ts
  packages/compiler-ssr/src/transforms/ssrTransformComponent.ts
  packages/compiler-ssr/src/transforms/ssrTransformSlotOutlet.ts
  packages/compiler-ssr/src/transforms/ssrVFor.ts
  packages/compiler-ssr/src/transforms/ssrVIf.ts
  packages/runtime-vapor/__tests__/hydration.spec.ts
  packages/runtime-vapor/src/apiCreateFor.ts
  packages/runtime-vapor/src/fragment.ts
Due: packages

wip: save
  packages/server-renderer/src/helpers/ssrRenderSlot.ts
  packages/server-renderer/src/render.ts
Due: packages, server-renderer

fix(compiler-sfc): import usage detection for non-inline templates
  packages/compiler-sfc/__tests__/compileScript/__snapshots__/importUsageCheck.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript/importUsageCheck.spec.ts
  packages/compiler-sfc/src/compileScript.ts
  packages/compiler-sfc/src/parse.ts
  packages/compiler-sfc/src/script/importUsageCheck.ts
Due: packages, compiler-sfc

wip: save
  packages/runtime-vapor/src/dom/hydration.ts
  packages/runtime-vapor/src/fragment.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

wip: save
  packages/runtime-vapor/src/apiCreateFor.ts
  packages/runtime-vapor/src/dom/hydration.ts
  packages/runtime-vapor/src/fragment.ts
  packages/runtime-vapor/src/vdomInterop.ts
Due: packages

chore: use @__NO_SIDE_EFFECTS__
  packages/runtime-vapor/src/dom/node.ts
Due: packages

wip: revert compiler changes
  packages/compiler-core/src/ast.ts
  packages/compiler-core/src/codegen.ts
  packages/compiler-core/src/options.ts
  packages/compiler-core/src/transform.ts
  packages/compiler-core/src/transforms/vSlot.ts
  packages/compiler-sfc/src/compileTemplate.ts
  packages/compiler-ssr/src/transforms/ssrTransformComponent.ts
  packages/compiler-vapor/src/generate.ts
  packages/runtime-vapor/src/apiCreateDynamicComponent.ts
  packages/runtime-vapor/src/apiCreateIf.ts
  packages/runtime-vapor/src/componentSlots.ts
  packages/runtime-vapor/src/fragment.ts
  packages/runtime-vapor/src/insertionState.ts
  packages/shared/src/domAnchors.ts
  packages/shared/src/index.ts
Due: packages, compiler-core, compiler-sfc, shared

refactor: vapor hydration (#13850)
  packages/compiler-core/src/ast.ts
  packages/compiler-core/src/codegen.ts
  packages/compiler-core/src/options.ts
  packages/compiler-core/src/transform.ts
  packages/compiler-core/src/transforms/vSlot.ts
  packages/compiler-sfc/src/compileTemplate.ts
  packages/compiler-ssr/__tests__/ssrVaporAnchors.spec.ts
  packages/compiler-ssr/src/ssrCodegenTransform.ts
  packages/compiler-ssr/src/transforms/ssrTransformComponent.ts
  packages/compiler-ssr/src/transforms/ssrTransformSlotOutlet.ts
  packages/compiler-ssr/src/transforms/ssrVFor.ts
  packages/compiler-ssr/src/transforms/ssrVIf.ts
  packages/compiler-vapor/__tests__/__snapshots__/compile.spec.ts.snap
  packages/compiler-vapor/__tests__/compile.spec.ts
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vFor.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vOnce.spec.ts.snap
  packages/compiler-vapor/src/generate.ts
  packages/compiler-vapor/src/generators/block.ts
  packages/compiler-vapor/src/generators/operation.ts
  packages/compiler-vapor/src/generators/template.ts
  packages/compiler-vapor/src/ir/index.ts
  packages/compiler-vapor/src/transforms/transformChildren.ts
  packages/runtime-vapor/__tests__/hydration.spec.ts
  packages/runtime-vapor/src/apiCreateDynamicComponent.ts
  packages/runtime-vapor/src/apiCreateFor.ts
  packages/runtime-vapor/src/apiCreateIf.ts
  packages/runtime-vapor/src/block.ts
  packages/runtime-vapor/src/componentSlots.ts
  packages/runtime-vapor/src/dom/hydration.ts
  packages/runtime-vapor/src/dom/node.ts
  packages/runtime-vapor/src/dom/template.ts
  packages/runtime-vapor/src/fragment.ts
  packages/runtime-vapor/src/insertionState.ts
  packages/runtime-vapor/src/vdomInterop.ts
  packages/server-renderer/src/helpers/ssrRenderSlot.ts
  packages/server-renderer/src/render.ts
  packages/shared/src/domAnchors.ts
  packages/shared/src/index.ts
Due: packages, compiler-core, compiler-sfc, server-renderer, shared

chore: pin rollup
  package.json
  pnpm-lock.yaml
Due: none

fix: fix dts test
  packages/runtime-core/src/index.ts
Due: packages, runtime-core

fix: ensure transition enter performed
  packages/runtime-core/src/renderer.ts
Due: packages, runtime-core

fix(renderer): add force parameter to performTransitionEnter for transition handling
  packages/runtime-core/src/renderer.ts
Due: packages, runtime-core

chore: clean up
  packages/compiler-ssr/__tests__/utils.ts
  packages/compiler-ssr/src/ssrCodegenTransform.ts
  packages/compiler-ssr/src/transforms/ssrTransformComponent.ts
  packages/compiler-ssr/src/transforms/ssrVFor.ts
  packages/compiler-ssr/src/transforms/ssrVIf.ts
  packages/compiler-vapor/src/ir/index.ts
  packages/compiler-vapor/src/transform.ts
  packages/compiler-vapor/src/transforms/vIf.ts
Due: packages

perf: cache static children on parent
  packages/runtime-vapor/__tests__/dom/template.spec.ts
  packages/runtime-vapor/src/dom/hydration.ts
  packages/runtime-vapor/src/dom/node.ts
  packages/runtime-vapor/src/insertionState.ts
Due: packages

Revert "fix(hmr): prevent __VUE_HMR_RUNTIME__ from being overwritten by vue r…"
  packages/runtime-core/src/hmr.ts
Due: packages, runtime-core

perf: save
  packages/runtime-vapor/src/dom/hydration.ts
  packages/runtime-vapor/src/dom/node.ts
  packages/runtime-vapor/src/insertionState.ts
Due: packages

feat(reactivity): add support for `AbortController` to `watch`
  packages/reactivity/__tests__/watch.spec.ts
  packages/reactivity/src/watch.ts
  packages/runtime-core/__tests__/apiWatch.spec.ts
  packages/runtime-core/src/apiWatch.ts
Due: packages, reactivity, runtime-core

chore: add some comments
  packages/runtime-vapor/src/dom/hydration.ts
  packages/runtime-vapor/src/dom/node.ts
  packages/runtime-vapor/src/insertionState.ts
Due: packages

chore: use empty text node as anchor in PROD
  packages/runtime-vapor/src/block.ts
Due: packages

wip: hydrate VaporTransition
  packages/runtime-core/src/hydration.ts
  packages/runtime-core/src/index.ts
  packages/runtime-vapor/src/components/Transition.ts
Due: packages, runtime-core

Path conditions:
  packages: any of: packages/
  compiler-core: any of: packages/compiler-core/
  compiler-dom: any of: packages/compiler-dom/
  compiler-sfc: any of: packages/compiler-sfc/
  reactivity: any of: packages/reactivity/
  reactivity-transform: any of: packages/reactivity-transform/
  runtime-core: any of: packages/runtime-core/
  runtime-dom: any of: packages/runtime-dom/
  runtime-test: any of: packages/runtime-test/
  server-renderer: any of: packages/server-renderer/
  sfc-playground: any of: packages/sfc-playground/
  shared: any of: packages/shared/
  size-check: any of: packages/size-check/
  template-explorer: any of: packages/template-explorer/
  vue: any of: packages/vue/
  vue-compat: any of: packages/vue-compat/
