Repository vuejs/core: changes, and which Codecov flags are due for each by the changed paths.
All: packages, compiler-core, compiler-dom, compiler-sfc, reactivity, reactivity-transform, runtime-core, runtime-dom, runtime-test, server-renderer, sfc-playground, shared, size-check, template-explorer, vue, vue-compat

codecov.yml:

coverage:
  status:
    project:
      default:
        # Status checks are set to be non-blocking
        informational: true
    patch:
      default:
        # Status checks are set to be non-blocking
        informational: true

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: packages
      paths:
        - packages/
    - component_id: compiler-core
      paths:
        - packages/compiler-core/
    - component_id: compiler-dom
      paths:
        - packages/compiler-dom/
    - component_id: compiler-sfc
      paths:
        - packages/compiler-sfc/
    - component_id: compiler-sfc
      paths:
        - packages/compiler-sfc/
    - component_id: reactivity
      paths:
        - packages/reactivity/
    - component_id: reactivity-transform
      paths:
        - packages/reactivity-transform/
    - component_id: runtime-core
      paths:
        - packages/runtime-core/
    - component_id: runtime-dom
      paths:
        - packages/runtime-dom/
    - component_id: runtime-test
      paths:
        - packages/runtime-test/
    - component_id: server-renderer
      paths:
        - packages/server-renderer/
    - component_id: sfc-playground
      paths:
        - packages/sfc-playground/
    - component_id: shared
      paths:
        - packages/shared/
    - component_id: size-check
      paths:
        - packages/size-check/
    - component_id: template-explorer
      paths:
        - packages/template-explorer/
    - component_id: vue
      paths:
        - packages/vue/
    - component_id: vue-compat
      paths:
        - packages/vue-compat/

chore: disallow optional chaining
  eslint.config.js
  packages/compiler-core/src/babelUtils.ts
  packages/reactivity/src/effect.ts
  packages/runtime-core/src/devtools.ts
  packages/runtime-core/src/hydration.ts
  packages/runtime-core/src/warning.ts
Due: packages, compiler-core, reactivity, runtime-core

refactor(compiler-vapor): simplify generate code fragment
  packages/compiler-vapor/src/generate.ts
  packages/compiler-vapor/src/generators/utils.ts
Due: packages

refactor(compiler-vapor): add placeholder for optional argument
  packages/compiler-vapor/src/generate.ts
  packages/compiler-vapor/src/generators/block.ts
  packages/compiler-vapor/src/generators/component.ts
  packages/compiler-vapor/src/generators/directive.ts
  packages/compiler-vapor/src/generators/event.ts
  packages/compiler-vapor/src/generators/if.ts
  packages/compiler-vapor/src/generators/prop.ts
  packages/compiler-vapor/src/generators/text.ts
  packages/compiler-vapor/src/generators/utils.ts
  packages/compiler-vapor/src/index.ts
Due: packages

feat(compiler-vapor): resolve directive
  packages/compiler-vapor/__tests__/__snapshots__/compile.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformSlotOutlet.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/transformElement.spec.ts
  packages/compiler-vapor/src/generators/block.ts
  packages/compiler-vapor/src/generators/component.ts
  packages/compiler-vapor/src/generators/directive.ts
  packages/compiler-vapor/src/ir.ts
  packages/compiler-vapor/src/transform.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
  packages/compiler-vapor/src/transforms/vModel.ts
  packages/compiler-vapor/src/transforms/vShow.ts
Due: packages

fix: pass warn to `toHandlers` only on dev mode
  packages/runtime-core/src/helpers/toHandlers.ts
  packages/runtime-vapor/src/helpers/toHandlers.ts
Due: packages, runtime-core

chore: update team list
  README.md
Due: none

fix(compiler-sfc): handle keyof operator usage w/ Record utility type
  packages/compiler-sfc/__tests__/compileScript/resolveType.spec.ts
  packages/compiler-sfc/src/script/resolveType.ts
Due: packages, compiler-sfc

fix(compiler-sfc): handle keyof operator w/ index signatures
  packages/compiler-sfc/__tests__/compileScript/resolveType.spec.ts
  packages/compiler-sfc/src/script/resolveType.ts
Due: packages, compiler-sfc

fix(compiler-sfc): handling of keyof operator w/ Partial, Required, Readonly utility types
  packages/compiler-sfc/__tests__/compileScript/resolveType.spec.ts
  packages/compiler-sfc/src/script/resolveType.ts
Due: packages, compiler-sfc

fix(compiler-sfc): fallback to UNKNOWN when unable to infer keyof operator
  packages/compiler-sfc/src/script/resolveType.ts
Due: packages, compiler-sfc

test: add test case
  packages/runtime-core/__tests__/components/Teleport.spec.ts
Due: packages, runtime-core

fix(playground): add `@vue/runtime-shared` dep (#210)
  playground/setup/dev.js
Due: none

fix: details tag onToggle type error
  packages/runtime-dom/src/jsx.ts
Due: packages, runtime-dom

fix(runtime-core): force patch radio input checked prop (#10929)
  packages/runtime-core/src/renderer.ts
Due: packages, runtime-core

test: the math elements should keep their MathML namespace
  packages/runtime-dom/__tests__/nodeOps.spec.ts
Due: packages, runtime-dom

fix(compiler-sfc): handle keyof operator w/ Pick and Extract utility types
  packages/compiler-sfc/__tests__/compileScript/resolveType.spec.ts
  packages/compiler-sfc/src/script/resolveType.ts
Due: packages, compiler-sfc

fix(compiler-core): fix for :key shorthand patchflag
  packages/compiler-core/__tests__/transforms/vFor.spec.ts
  packages/compiler-core/src/transforms/vFor.ts
Due: packages, compiler-core

fix: update
  packages/runtime-dom/src/jsx.ts
Due: packages, runtime-dom

fix(compiler-core): fix for :key shorthand patchflag and .exp reference
  packages/compiler-core/__tests__/transforms/vFor.spec.ts
  packages/compiler-core/src/transforms/vBind.ts
  packages/compiler-core/src/transforms/vFor.ts
Due: packages, compiler-core

refactor(compiler-core): remove redundant if statement
  packages/compiler-core/src/transforms/vBind.ts
Due: packages, compiler-core

docs: set propper highlighting for commit convention regex
  .github/commit-convention.md
Due: none

docs: set propper highlighting for commit convention regex (#10949) [skip ci]
  .github/commit-convention.md
Due: none

fix(shared): ensure invokeArrayFns handles undefined arguments
  packages/runtime-core/__tests__/apiLifecycle.spec.ts
  packages/shared/src/general.ts
Due: packages, runtime-core, shared

perf(sfc): lazy initiatate hoisted vnodes
  packages/compiler-core/src/codegen.ts
  packages/compiler-core/src/runtimeHelpers.ts
  packages/compiler-core/src/transform.ts
  packages/compiler-core/src/transforms/hoistStatic.ts
  packages/runtime-core/src/index.ts
  packages/runtime-core/src/vnode.ts
Due: packages, compiler-core, runtime-core

test: update snap
  packages/compiler-core/__tests__/__snapshots__/codegen.spec.ts.snap
  packages/compiler-core/__tests__/__snapshots__/scopeId.spec.ts.snap
  packages/compiler-core/__tests__/codegen.spec.ts
  packages/compiler-core/__tests__/scopeId.spec.ts
  packages/compiler-core/__tests__/transform.spec.ts
  packages/compiler-core/__tests__/transforms/__snapshots__/hoistStatic.spec.ts.snap
  packages/compiler-core/__tests__/transforms/hoistStatic.spec.ts
  packages/compiler-dom/__tests__/transforms/__snapshots__/stringifyStatic.spec.ts.snap
  packages/compiler-sfc/__tests__/__snapshots__/compileScript.spec.ts.snap
  packages/compiler-sfc/__tests__/__snapshots__/templateTransformAssetUrl.spec.ts.snap
  packages/compiler-sfc/__tests__/__snapshots__/templateTransformSrcset.spec.ts.snap
Due: packages, compiler-core, compiler-dom, compiler-sfc

test: update
  packages/compiler-core/__tests__/transforms/__snapshots__/hoistStatic.spec.ts.snap
  packages/compiler-core/src/transform.ts
  packages/compiler-core/src/transforms/hoistStatic.ts
  packages/compiler-sfc/__tests__/__snapshots__/templateTransformAssetUrl.spec.ts.snap
  packages/compiler-sfc/__tests__/__snapshots__/templateTransformSrcset.spec.ts.snap
Due: packages, compiler-core, compiler-sfc

fix(core): change v-for key type to match Object.keys
  packages/runtime-core/src/helpers/renderList.ts
Due: packages, runtime-core

fix(watch): deep watching symbol properties
  packages/runtime-core/__tests__/apiWatch.spec.ts
  packages/runtime-core/src/apiWatch.ts
Due: packages, runtime-core

fix(compiler-core): generate helper at the top level
  packages/compiler-core/src/codegen.ts
Due: packages, compiler-core

test: update snapshot
  packages/compiler-core/__tests__/transforms/__snapshots__/hoistStatic.spec.ts.snap
Due: packages, compiler-core

fix: remove unnecessary helper
  packages/compiler-core/src/codegen.ts
Due: packages, compiler-core

feat(runtime-vapor): add globalProperties
  packages/runtime-vapor/src/apiCreateVaporApp.ts
Due: packages

feat: v-once for component and v-for (#201)
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vOnce.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vOnce.spec.ts
  packages/compiler-vapor/src/generators/component.ts
  packages/compiler-vapor/src/generators/for.ts
  packages/compiler-vapor/src/ir.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
  packages/compiler-vapor/src/transforms/vFor.ts
  packages/runtime-vapor/src/apiCreateComponent.ts
  packages/runtime-vapor/src/apiCreateFor.ts
  packages/runtime-vapor/src/apiCreateVaporApp.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/componentProps.ts
Due: packages

feat(runtime-vapor): implement app plugin
  packages/runtime-vapor/__tests__/apiCreateVaporApp.spec.ts
  packages/runtime-vapor/src/apiCreateVaporApp.ts
  packages/runtime-vapor/src/index.ts
Due: packages

feat(shared,dom): add popover api attributes
  packages/compiler-core/__tests__/transforms/vOn.spec.ts
  packages/runtime-dom/src/jsx.ts
  packages/shared/src/domAttrConfig.ts
Due: packages, compiler-core, runtime-dom, shared

refactor(compiler-core): move return statement from transformBindShorthand to transformBind
  packages/compiler-core/src/transforms/vBind.ts
Due: packages, compiler-core

refactor(compiler-core): remove redundant destruction
  packages/compiler-core/src/transforms/vBind.ts
Due: packages, compiler-core

refactor(compiler-core): edit comment
  packages/compiler-core/src/transforms/vFor.ts
Due: packages, compiler-core

fix(compat): ensure functional component is not null in `$children`
  packages/runtime-core/src/compat/instanceChildren.ts
  packages/vue-compat/__tests__/instance.spec.ts
Due: packages, runtime-core, vue-compat

fix(shared): ensure invokeArrayFns handles undefined arguments (#10869)
  packages/runtime-core/__tests__/apiLifecycle.spec.ts
  packages/shared/src/general.ts
Due: packages, runtime-core, shared
